.success {
	padding:10px;
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.fail {
	padding:10px;
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.active {
	color:#468847;
}

.pending {
	color:gray;
}

.form {
	margin-top:15px;
	width:100%;
}

.form th, .form td {
	border-right:1px solid gray;
	border-bottom:1px solid gray;
}

.form input[type="text"] {
	width:400px;
	padding:3px;
}

.form textarea {
	min-width:450px;
	min-height:150px;
}

.form th {
	text-transform:capitalize;
	font-weight:bold;
	background-color:#E6EEEE;
}

.button-div {
	margin:10px;
	text-align:center;
}

.submit-button {
	padding:5px;
	margin:10px;
	min-width:80px;
}

.reset-button {
	padding:5px;
	min-width:80px;
	color:red;
}

