body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	text-align:left;
	font-size:11px;
	margin: 0;
	background-image: url(../../images/main/bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
}

#container {
	margin-right: auto;/*centres in compliant browsers*/
	margin-left: auto;/* "	" */
	width:1027px;
	text-align: left;

	background-color:#FFFFFF;
}

#left_container {
	float:left;
	min-height:2000px;
	height:auto;
	padding:10px 10px 10px 10px;
	width:160px;
}

#right_container {
	float:left;
	border-left:1px solid #BAB9B9;
	min-height:2000px;
	height:auto;
	padding:10px 5px 10px 30px;
	width:780px;
}

#pop_up_container {
	float:left;
	border-left:1px solid #BAB9B9;
	min-height:800px;
	height:auto;
	padding:10px 5px 10px 30px;
	width:680px;
}

#container_eighthundred {
	margin:0 auto;
	width:760px;
	text-align: left;
	margin:20px 20px 20px 20px;
}

img {
	border:none;
}
.page {
	width:80%;
	align:center;
}
ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: left;
	background: #222;
	font-size:13px;
	font-weight:bold;
	background: url(../images/topnav_bg.gif) repeat-x;
	width:960px;
}
ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(../images/topnav_hover.gif) no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
}

#content {
	font-size:11px;
}

input, select, textarea {
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}

#content_list {
	padding:20px 0 0 0;
	*padding:0px 0 0 0;
	font-size:11px;
}

#content_list a{
	color:#000000;
	text-decoration:underline;
}

#content_list a:hover{
	color:#000000;
	text-decoration:none;
}

#title {
	font-size:14px;
	font-weight:bold;
	padding:10px 0 0 0;
}
#title_eighthundred {
	font-size:20px;
	font-weight:bold;
	padding:0 0 0 0;
}

.blue_column {
	background-color:#E6EEEE;
	
}

.functionlink a{
	text-decoration:underline;
	color:#000000;
}

.functionlink a:hover{
	text-decoration:none;
	color:#000000;
}

.page_table {
	color:#000000;
	text-align:center;
	padding:30px 0 0 0;
}

.page_table a{
	color:#000000;
	text-decoration:underline;
}

.page_table a:hover{
	color:#000000;
	text-decoration:none;
}

.calendar_icon {
	background:url(../images/calendar_icon.gif) no-repeat;
	width:18px;
	height:15px;
	border:none;
	cursor:pointer;
}

#video_table, #new_type_room_table, #new_number_of_room_table, #date_complete_table {
	display:none;
}

.add_listing {
	margin:30px 0 0 0;
	float:left;
	display:inline;
}

.add_listing a {
	color:#000;
	text-decoration:underline;
}

.add_listing a:hover {
	color:#000;
	text-decoration:none;
}

.clearboth {
	clear:both;
}

.searching_field {
	float:right;
	margin:10px 0 0 0;
	display:inline;
}

#photo_container a{
	color:#000000;
	text-decoration:underline;
}

#photo_container a:hover{
	color:#000000;
	text-decoration:none;
}

.deactivated_word {
	font-weight:bold;
}

.bottomline {
	border-bottom:1px solid #B6BEBE;
	border-right:1px solid #B6BEBE;
}

.leftline {
	border-left:1px solid #B6BEBE;
}

.file_link a {
	text-decoration:underline;
	color:#000000;
}

.file_link a:hover {
	text-decoration:none;
	color:#000000;
}

#description {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	width:440px;
	height:200px;
	
}

#photo_list {
	margin:20px 0 0 0;
	padding:10px 10px 10px 10px;
	font-size:11px;
}

#photo_list_more {
	margin:20px 0 0 0;
	padding:10px 10px 10px 30px;
	font-size:11px;
}

#photo_list a, #photo_list_more a {
	text-decoration:underline;
	color:#000000;
}

#photo_list a:hover, #photo_list_more a:hover {
	text-decoration:none;
	color:#000000;
}

.album_name {
	font-size:18px;
	font-weight:bold;
}

.photo_display_content {
	margin:30px 10px 0 0;
	font-size:11px;
}

.caption_field {
	width:400px;
	
}

.description_field {
	width:400px;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	height:90px;
}

.photo_bottom_line {
	margin:20px 0 0 0;
	border-bottom:1px solid #ccc;
}

.delete_photo {
	margin:5px 0 0 0;
}

.save_changes {
	text-align:left;
	margin:10px 0 0 250px;
}

.logo_content {
	background-color:#000000;
	width:1000px;
}

.url_link a{
	color:#000;
	text-decoration:underline;
}

.url_link a:hover{
	color:#000;
	text-decoration:none;
}

textarea {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

a.dp-choose-date {
	float:left;
	width: 18px;
	height: 15px;
	padding: 0;
	margin: 5px 3px 0;
	margin-left:5px;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../images/calendar_icon.gif) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 140px;
	float: left;
}

.sort_by {
	font-size:11px;
}

.sort_by  a {
	color:#000;
	text-decoration:underline;
}

.sort_by  a:hover {
	color:#000;
	text-decoration:none;
}

.question_answer_content {
	font-size:13px;
	padding:20px 20px 30px 20px;
	border-bottom:1px solid #D6D6D6;
}

.category_list {
	font-size:11px;

	
}

.question_field {
	margin:0 0 40px 0;
}

.question_fields {
	margin:0 0 5px 0;
}

.description_fields {
	margin:0 0 30px 0;
}

#search_column {
	
	font-size:15px;
}

.search_word {
}

.search_border {
	border:1px solid #000;
	padding:20px 20px 20px 20px;
	margin:10px 0 0 0;
}

.iask_detail_question_type {
	font-size:18px;
	color:#FF0000;
	margin:10px 0 20px 0; 
}

.question_border {
	border:1px solid #D6D6D6;
}

.answer_content {
	padding:20px 20px 20px 20px;
}

.answer_category_list {
	margin:25px 0 0 0;
	font-size:11px;
}

.answer_category_list2 {
	margin:5px 0 0 0;
	font-size:11px;
}

.total_answer {
	font-weight:bold;
	font-size:11px;
	margin:0 0 10px 0;
}

.orange_column {
	background-color:#FFF6EA;
	
}

.yellow_column {
	background-color:#FFFCDC;
}

.bfb_field {
	margin:0 0 10px 0;
}

.fbf_summary {
	margin:0 0 30px 0;
	font-size:11px;
	color: #333;
}

#editcommentarticle a{
	text-decoration:underline;
	color:#000000;
}

#editcommentarticle a:hover{
	text-decoration:none;
	color:#000000;
}

.left_navi_black a{
	color:#000000;
	text-decoration:none;
}

.left_navi_black a:hover{
	color:#000000;
	text-decoration:underline;
}

#top_container {

	border-bottom:1px solid #BAB9B9;

}

#back_to_list_left {
	margin:10px 0 0 0;
	float:left;
}

#back_to_list {
	margin:10px 0 0 0;
}

#back_to_list a, #back_to_list_left a{
	text-decoration:underline;
	color:#000000;
}

#back_to_list a:hover, #back_to_list_left a:hover{
	text-decoration:none;
	color:#000000;
}

#hide_survey_question {
	font-size:14px;
	font-weight:bold;
	padding:10px 0 0 0;
}

#hide_survey_question a{
	text-decoration:underline;
	color:#000000;
	
}

#hide_survey_question a:hover{
	text-decoration:none;
	color:#000000;
	
}

.top_bg_container {
	background-color:#E6EEEE;
	padding:5px 0 5px 10px;
	margin:25px 0 0 0;
}

.top_bg_sub_con a{
	text-decoration:underline;
	color:#000000;
}

.top_bg_sub_con a:hover{
	text-decoration:none;
	color:#000000;
}

.content_sub_role {
	margin:10px 0 20px 10px;
	display:none;
}

.content_sub_add {
	margin:0 0 10px 0;
}

.content_sub_add a{
	text-decoration:underline;
	color:#000000;
}

.content_sub_add a:hover{
	text-decoration:none;
	color:#000000;
}