@include min-screen(320px) {
  footer {
    @include align_left;
  }

  .footer h5 {
    color: $brandColor;
    font-size: 0.750rem;
    text-transform: uppercase;
  }

  .footer {
    background-color: #000000;
    overflow: hidden;
  }

  .footer > .row:first-child {
    background-color: #252525;
    overflow: hidden;
  }

  /* --- quick links ---*/

//  .quick-links {
//    margin-bottom: 15px;
//  }

  .quick-links h5 {
    float: left;
    margin-bottom: 0;
  }

  .quick-links ul {
    float: left;
    font-size: 0.625rem;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .quick-links ul li {
    display: inline-block;
    margin: 15px 0 15px 27px;
    width: 85px;
  }

  .quick-links a {
    color: #ffffff;
    display: inline-block;
    padding-left: 29px;
  }

  a.mobile-app {
    background: transparent url("../images/footer_mobileapp.png") no-repeat 0 0;
  }

  a.newsletter {
    background: transparent url("../images/footer_newsletter.png") no-repeat 0 0;
  }

  a.race-officials {
    background: transparent url("../images/footer_raceofficials.png") no-repeat 0 0;
  }

  a.facebook {
    background: transparent url("../images/footer_facebook.png") no-repeat 0 0;
  }

  a.twitter {
    background: transparent url("../images/footer_twitter.png") no-repeat 0 0;
  }

  a.youtube {
    background: transparent url("../images/footer_youtube.png") no-repeat 0 0;
  }

  a.pinterest {
    background: transparent url("../images/footer_pinterest.png") no-repeat 0 0;
  }

  a.instagram {
    background: transparent url("http://web2.singaporegp.sg/Uploaded/images/instagram-1.png") no-repeat 0 0;
  }

  /* --- site map ---*/

  .sponsors-copyright {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding-left: 20px;
  }

  .site-map,
  .site-map h6 {
    font-size: 0.750rem;
  }

  .site-map h6 {
    color: #ffffff;
    margin: 5px 0;
    text-transform: uppercase;
  }

  .site-map h6 a {
    color: #ffffff;
  }

  .site-map a {
    display: inline-block;
    color: #999;
    line-height: 1.0rem;
    width: 150px;
    text-transform: capitalize;
  }

  .site-map a:hover {
    color: $brandColor;
  }

  .site-map ul {
    float: left;
    list-style: none;
    padding: 0;
  }

  .site-map ul.level-1 {
    margin: 0 25px;
  }

  .site-map ul.level-1 li {
    display: inline-block;
    margin: 0px 10px 0px 0;
  }

  .site-map ul.level-2 li {
    margin: 2px 0;
    position: relative;
    vertical-align: top;
  }

  .site-map ul.level-2 li:before {
    content: url($caret);
    position: absolute;
    top: 2px;
  }

  .site-map ul.level-2 li a {
    margin-left: 10px;
  }

  /* --- copyright ---*/

  .copy-right p {
    color: #999;
    font-size: 0.688rem;
    line-height: 1.125rem;
    margin: 20px 14px 10px;
  }

  .copy-right .img-wrapper {
    margin-bottom: 20px;
    text-align: left;
  }

  .copy-right .img-wrapper.title-sponsor {
    margin-bottom: 30px;
  }

  .copy-right .img-wrapper img {
    display: inline;
    height: auto;
    width: auto;
  }

}

@include min-screen(768px) {

  .quick-links h5 {
    width: 11%;
  }

//  .quick-links ul li {
//    margin-bottom: 0;
//  }

  .quick-links ul li:first-child {
    margin-left: 0;
  }

  .site-map ul.level-1 {
    width: 170px;
  }

  .site-map ul.level-1:first-of-type {
    margin-left: 0;
  }

  .copy-right p {
    margin: 20px 14px 10px 0;
  }

  .site-map h5 {
    margin: 40px 0 10px;
  }

  .sponsors-copyright h5 {
    margin: 40px 0 30px;
  }
}

