@include min-screen(320px) {

  /* --- common style ---*/

  .form h2 {
    font-weight: $medium;
    margin-top: 0;
  }

  .form p {
    font-size: 0.813rem;
    font-weight: $regular;
    color: #333333;
    margin: 0 3% 2%;
  }

  .form-row {
    margin: 20px 0;
  }

  .form-grp {
    position: relative;
  }

  .icon-calendar {
    color: #d3d3d3;
    font-size: 1rem;
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    position: absolute;
    right: 4%;
    speak: none;
    top: 16px;
    text-transform: none;
    z-index: 90;
    -webkit-font-smoothing: antialiased;
  }

  ::-webkit-input-placeholder {
    color: #d3d3d3;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #d3d3d3;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #d3d3d3;
  }

  :-ms-input-placeholder {
    color: #d3d3d3;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input, select, textarea {
    background-color: #fafafa; /* layer fill content */
    border: none;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .2); /* inner shadow */
    color: #000000;
    font-size: 0.813rem;
    font-weight: $regular;
    margin: 0 1% 20px;
    padding: 16px 15px;
    width: 98%;

    transition: 0.1s linear all;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select {
    background: #fafafa url($blackCaretDown) no-repeat 95% 50%;
    border-radius: 0;
  }

  .form-grp input {
    padding-right: 10%;
  }

  input.ng-pristine {
    background-color: #fafafa !important;
  }

  input.ng-invalid {
    background-color: rgba(255, 0, 0, 0.2);
  }

  input[type="checkbox"] {
    height: 30px;
    width: 30px;
  }

  input[type="submit"] {
    background-color: $brandColor; /* layer fill content */
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .5); /* inner shadow */
    color: #000000;
    outline: none;
    text-transform: uppercase;
  }

  input[type="submit"].multiline {
    padding: 0;
  }

  input[type="submit"]:disabled {
    opacity: 0.5;
  }

  input[name="captcha"] {
    float: left;
    margin-left: 2%;
    margin-right: 0;
    width: 48%;
  }

}

@include min-screen(768px) {

  input, select, textarea {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

}