@charset "UTF-8";
/* --- MOBILE ---*/

@include min-screen(320px) {
  header {
    @include align_left;
    width: 100%;
  }

  .header {
    background-color: #000000;
    font-size: 0.750rem;
    font-weight: $regular;
    text-transform: uppercase;
  }

  .header nav {
    float: left;
    position: relative;
    min-width: 50%;
  }

  #pull {
    color: $brandColor;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 15px 0;

    &:hover {
      color: $brandColor;
    }
  }

  ///// nagivation: level 1 /////

  .header nav ul {
    list-style: none;
    margin: 0;
//    min-height: 55px;
    padding: 0;
  }

//  .header nav > ul:before {
//    content: "\e800";
//    color: #ffffff;
//    font-family: "fontello";
//    font-size: 2rem;
//    position: absolute;
//    left: 10px;
//    top: 17px;
//  }

  .header nav ul li {
    display: none;
    margin: 0 0 0 5px;
  }

//  .header nav > ul > li:first-child {
//    margin-top: 55px;
//  }

  .header nav ul.toggled li {
    display: block;
    margin-bottom: 10px;
  }

  .header nav ul li a {
    color: $brandColor;
    display: block;
    line-height: 40px;
    padding: 0 5px;
  }

  .header nav ul li.active a {
    color: #ffffff;
  }

  ///// nagivation: level 2 /////

  .header nav ul ul {
    margin-left: 10px;
    width: 100%
  }

  ///// nagivation: search /////

  #siteSearch {
    display: block;
    float: right;
    // max-width: 25%;
    margin: 10px 0;
  }

  #siteSearch .field-container {
    display: block;
    height: 35px;
    overflow: hidden;
    position: relative;
  }

  #siteSearch .search-field {
    display: none;
    border: none;
    float: right;
    padding: 10px;
  }

  #siteSearch .search-button {
    background: #ffffff url("../images/icon_search.png") center center no-repeat;
    border: 0;
    cursor: pointer;
    float: right;
    padding: 10px 20px;
    width: 40px;
  }

  ///// SB Search /////

  .sb-search {
    position: relative;
    margin: 15px 0 25px 0;
    width: 0%;
    min-width: 40px;
    height: 40px;
    float: right;
    overflow: hidden;

    transition: width 0.3s;

    //    -webkit-backface-visibility: hidden;
  }

  // We’ll set a percentage-based width so that when we expand the parent, the input will expand with it.
  // Setting the right height, font-size and padding will ensure that the text is centered (using line-height
  // won’t work as expected in IE8, so let’s set the paddings instead).
  // Setting the input to position absolute might not seem necessary, but it solves a nasty little thing that
  // happens sometimes when closing the search: the input seems visible on the right side for a very short
  // moment.
  .sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #ffffff;
    width: 60%;
    height: 13px;
    margin: 0;
    z-index: 10;
    padding: 13px 45px 14px 10px;
    font-family: "Roboto";
    font-size: 0.7rem;
  }

  // we are removing the default styles of the search input for WebKit browsers
  input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

  // We know that we want the search icon button and the submit input in the same place, so let’s position
  // them on the right corner and set the same dimensions. Since they will be on top of each other,
  // we’ll set them to absolute positioning.
  .sb-icon-search,
  .sb-search-submit {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }

  // Initially, we will want to have the icon button clickable.
  // Then, when we open the input, we want the submit input to be clickable.
  // So, well set the z-index of the submit input to -1 in the beginning and make it transparent,
  // so that we always see the search icon span.
  .sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
  }

  // The search icon span will have a high z-index initially, because we want it to be on top of everything.
  .sb-icon-search {
    color: $brandColor;
    background: #000000;
    z-index: 90;
    font-size: 1.250rem;
    font-family: 'fontello';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  // we can now simply set the width of the sb-search wrapper to be 100% when we add the sb-search-open class.
  // Without JavaScript, we want the search input to be open by default
  .sb-search.sb-search-open,
  .no-js .sb-search {
    width: 13%;
  }

  // Let’s change the color of the search icon span and put it below the submit input by setting the z-index to a lower value
  .sb-search.sb-search-open .sb-icon-search,
  .no-js .sb-search .sb-icon-search {
    background: #ffffff;
    color: #000000;
    z-index: 11;
  }

  // we set the submit input’s z-index to a higher value so that we can click on it
  .sb-search.sb-search-open .sb-search-submit,
  .no-js .sb-search .sb-search-submit {
    z-index: 90;
  }
}

/* --- MEDIUM ---*/

@include min-screen(768px) {
  .header {
    font-size: 0.625rem;
    position: absolute;
    width: 100%;
    z-index: 9;
  }

  .header .chunk {
    overflow: visible;
  }

  #pull {
    display: none;
  }

  ///// nagivation: level 1 /////

  .header nav ul {
    height: 80px;
  }

  .header nav > ul:before {
    content: "";
  }

  .header nav ul li {
    display: inline-block;
  }

  .header nav > ul > li:first-child {
    margin-top: 0;
  }

  .header nav ul li.active {
    border-bottom: 5px solid $brandColor;
  }

  .header nav ul li a {
    line-height: 75px;
  }

  .header nav ul li:hover {
    background-color: #ebebeb;
    border-bottom: 5px solid #ebebeb;
  }

  .header nav ul li:hover a {
    color: #000000;
  }

  .header nav ul li:hover ul {
    display: block;
  }

  .header nav ul li:hover > ul li {
    border: 0;
  }

  ///// nagivation: level 2 /////

  .header nav ul ul {
    display: none;
    background-color: rgba(235, 235, 235, 0.9);
    border-radius: 0px;
    font-weight: $medium;
    height: auto;
    margin-left: 0;
    min-height: 0;
    padding: 0;
    position: absolute;
    text-transform: none;
    top: 80px;
    width: auto;
    z-index: 999;
  }

  .header nav ul ul li {
    display: block;
    margin: 0;
    padding: 0 10px;
  }

  .header nav ul ul li a {
    border-bottom: 1px solid #ffffff;
    line-height: 20px;
    padding: 10px 0;
  }

  ///// nagivation: search /////

  #siteSearch {
    margin: 20px 0;
    max-width: 20%;
  }

  #siteSearch .search-field {
    display: block;
    width: 60%;
  }

  .sb-search.sb-search-open,
  .no-js .sb-search {
    // width: 25%;
  }
}

/* --- MEDIUM ---*/
@include min-screen(1000px) {
  .header {
    font-size: 0.750rem;
  }

  .header nav ul li {
    margin: 0 0 0 20px;
  }

  ///// nagivation: search /////

  #siteSearch .search-field {
    display: block;
  }
}

/* --- LARGE ---*/
@include min-screen(1200px) {
  .header {
    font-size: 0.813rem;
    letter-spacing: 0.0625rem;
  }
}
