@include min-screen(320px) {


  .styled-button-red,
  .styled-select-red {
    //    background: $grey url($blackCaret) no-repeat 95% 50%;;
    background-color: $red;
    height: 60px;
    margin: 5px auto 20px;
    overflow: hidden;
    text-transform: uppercase;
    width: 48%;
  }

  .styled-button,
  .styled-select {
//    background: $grey url($blackCaret) no-repeat 95% 50%;;
    background-color: $grey;
    height: 60px;
    margin: 5px auto 20px;
    overflow: hidden;
    text-transform: uppercase;
    width: 48%;
  }

  .styled-button-red a {
    border: 1px solid #000000;
    display: block;
    color: #000000;
    font-size: 1rem;
    height: 56px;
    line-height: 54px;
    margin: 2px;
    padding: 0 5px;
    text-align: center;
  }


  .styled-button a {
    border: 1px solid #000000;
    display: block;
    color: #000000;
    font-size: 1rem;
    height: 56px;
    line-height: 54px;
    margin: 2px;
    padding: 0 5px;
    text-align: center;
  }

  .styled-select {
    background: $grey;
  }

  .styled-select select {
    background: transparent url($blackCaretDown) no-repeat 95% 50%;
    border: 1px solid #000000;
    border-radius: 0;
    color: #000000;
    font-size: 1rem;
    height: 56px;
    line-height: 56px;
    margin: 2px;
    padding: 0 15% 0 10px;
    text-transform: uppercase;
    width: 99%;
    //
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .styled-button.locale {
    background: none;
    border: 1px solid $brandColor;
    margin: 0 auto;
    width: 48%;
  }

  .locale a {
    color: #ffffff;
    display: inline;
    float: left;
    height: 100% !important;
    line-height: 54px;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 50%;
  }

  .locale a.zh {
    border-left: 0;
  }

  .locale a.en {
    border-right: 0;
  }

  .locale a.active {
    background-color: $brandColor;
    color: #000000;
    border: 1px;
  }

}

@include min-screen(768px) {

  .styled-button,
  .styled-select {
    float: left;
    height: 40px;
    width: 20%;
  }

  .styled-button {
    margin: 0 0 0 2%;
  }

  .styled-button:first-child {
    margin-left: 0;
  }

  .styled-button a {
    font-size: 0.813rem;
    height: 36px;
    line-height: 34px;
  }

  .styled-select {
    margin: 0;
  }

  .styled-select select {
    font-size: 0.813rem;
    height: 36px;
    line-height: 36px;
    width: 98%;
  }

  .styled-button.locale {
    float: right;
    margin: 0;
    width: 135px;
  }

  .locale a {
    line-height: 34px;
  }

}
