@import "base";
@import "masthead-ui";

/* --- variables ---*/
$height: 185px;
$insetShadow: inset 0 6px 6px -4px rgba(0, 0, 0, 0.4);

/* --- mixins ---*/
@mixin floated_section {
  min-height: $height;
  width: 100%;
}

@include min-screen(320px) {

  .content {
    box-shadow: $insetShadow;
    overflow: hidden;

    section {
      background-color: #ffffff;
      box-shadow: $insetShadow;
      float: left;
      position: relative;
      @include floated_section;

      &.selection-panel {
        background: url("../images/background_selection.jpg") top center no-repeat;
        font-size: 0.688rem;
        min-height: 305px;
      }
    }

    .chunk {
      margin: 40px auto;
    }

    .selection-panel {
      .chunk {
        margin: 20px auto;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .top-bar {
    padding: 0 0 20px;
  }

  .addthis-widget {
    float: none;
    margin-bottom: 20px;
  }

}

@include min-screen(768px) {

  //  .selection {
  //    font-size: 0.875rem;
  //  }

  .content {
    padding-top: 80px;
  }

  .addthis-widget {
    float: right;
  }

}