@import "base";
@import "masthead-ui";

/* --- variables ---*/
$height: 185px;
$insetShadow: inset 0 6px 6px -4px rgba(0, 0, 0, 0.4);
$altBgColor: #f7f7f7;

/* --- mixins ---*/
@mixin floated_section {
  min-height: $height;
  width: 100%;
}

@include min-screen(320px) {

  /* --- common page style ---*/

  .content {
    box-shadow: $insetShadow;
    overflow: hidden;

    section {
      background-color: #ffffff;
      box-shadow: $insetShadow;
      float: left;
      position: relative;
      @include floated_section;

      &.selection {
        background: url("../images/masthead_contest.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
        font-size: 0.688rem;
        min-height: 305px;
      }
    }

    .chunk {
      margin: 40px auto;
    }

    .selection {
      .chunk {
        margin: 20px auto;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  /* --- selection panel ---*/

  .img-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .top-bar .img-wrapper img {
    height: auto;
    width: auto;
  }

  .top-bar,
  .filter-bar {
    height: 50%;
    overflow: hidden;
  }

  .top-bar {
    padding: 0 0 20px;
  }

  .addthis-widget {
    float: none;
    margin-bottom: 20px;
  }

  .desc-bar {
    position: relative;
    height: 180px;
  }

  .desc {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .desc h1 {
    color: $brandColor;
    font-size: 1.4rem;
    font-weight: $medium;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  .desc hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 50px;
  }

  .desc p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: $light;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
    margin: 10px 0 0;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }

  .breadcrumbs {
    font-size: 0.813rem;
    margin: 0;
    text-transform: capitalize;
  }

}

@include min-screen(768px) {

  .content {
    padding-top: 80px;
  }

  .selection {
    font-size: 0.875rem;
  }

  .desc-bar {
    height: 140px;
  }

  .addthis-widget {
    float: right;
  }

}