/**
 * Gridpak Beta SCSS 
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */

/* Reusable column setup */

@mixin col {
  border: 0px solid rgba(0, 0, 0, 0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

.col {
  @include col;
}

@mixin span($num, $gutter_pc, $gutter_px, $padding, $max_columns) {
  $one_col: (100% - ($gutter_pc * ($max_columns - 1))) / $max_columns;
  width: ($one_col * $num) + ($gutter_pc * ($num - 1));
  border-left-width: $gutter_px;
  padding: $padding;
  margin-left: $gutter_pc;
}

@mixin span_first {
  margin-left: 0;
}

.page, .chunk {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* 1. 1 Column Grid 0px - 339px
-----------------------------------------------------------------------------

Span 1:    100%

----------------------------------------------------------------------------- */

@include min-screen(320px) {

  .page,
  .chunk {
    width: 100%;
  }

  .col {
    margin-left: 2%;
    padding: 0 0%;
  }

  /* --- Gridpak variables ---*/
  $max_columns: 1;
  $padding: 0 0%;
  $gutter_px: 0;
  $gutter_pc: 2%;

  .row .col:first-child {
    @include span_first;
  }

  /*
  Add your semantic classnames in alongside their corresponding spans here. e.g.

  .span_3,
  .my_semantic_class_name {
      ...
  }

  */
  .span_1,
    // home
  .small.bucket,
  .medium.bucket,
  .large.bucket,
    // tickets
  .top-bar,
  .social-bar,
  .filter-bar,
  .desc-bar,
  .locations,
  .tickets-pricing,
  .tickets-writeup,
  .related-photos,
  .panoramic-view,
  .other-photos,
  .seating-plans,
  .tickets-listing,
  .tickets-details,
  .all-tickets,
  .grand-stands,
  .walk-abouts,
  .combination-packages,
  .hospitality,
  .interactive-map,
  .booking-and-ticketing,
  .hotel-packages,
  .travel-packages,
    // ontrack
  .team-marque,
  .team-drivers,
  .team-info,
  .team-writeup,
  .driver-info,
  .driver-writeup,
  .race-calendar-headers,
  .race-calendar-list,
  .downloads,
  .gallery-filter,
    // offtrack
  .performance-details,
  .performance-writeup,
    // media
  .press-release-year,
  .press-release-headers,
  .press-release-list,
  .press-release-article,
    // win
  .wallpaper-download,
    //misc
  .legalese,
    // header/footer
  .site-map,
  .copy-right,
  .quick-links {
    @include span_first;
    width: 100%;
  }
}

/* 2. 3 Column Grid 340px - Infinity
-----------------------------------------------------------------------------

Span 1:    32.0%
Span 2:    66.0%
Span 3:    100%

----------------------------------------------------------------------------- */

@include min-screen(768px) {

  .chunk {
    max-width: 83.33%;
  }

  .col {
    margin-left: 2%;
    padding: 0 0%;
  }

  /* --- Gridpak variables ---*/
  $max_columns: 3;
  $padding: 0 0%;
  $gutter_px: 0;
  $gutter_pc: 2%;

  .row .col:first-child {
    @include span_first;
  }

  .span_1,
    // home
  .small.bucket,
    // tickets
  .social-bar,
  .tickets-pricing,
  .related-photos,
  .grand-stands,
  .walk-abouts,
  .combination-packages,
  .hospitality,
  .interactive-map,
  .booking-and-ticketing,
    // ontrack
  .team-marque,
  .team-info,
  .driver-info,
    // offtrack
  .performance-details,
    // header/footer
  .copy-right {
    @include span(1, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span_2,
    // home
  .medium.bucket,
    // tickets
  .top-bar,
  .info-bar,
  .tickets-writeup,
  .panoramic-view,
  .other-photos,
    // ontrack
  .team-writeup,
  .driver-writeup,
    // offtrack
  .performance-writeup,
    // header/footer
  .site-map {
    @include span(2, $gutter_pc, $gutter_px, $padding, $max_columns);
  }
  .span_3,
    // home
  .large.bucket,
    // tickets
  .filter-bar,
  .desc-bar,
  .locations,
  .tickets-listing,
  .tickets-details,
  .tickets-writeup-full
  .seating-plans,
  .all-tickets,
  .hotel-packages,
  .travel-packages,
    // ontrack
  .race-calendar-headers,
  .race-calendar-list,
  .team-drivers,
  .downloads,
  .gallery-filter,
    // media
  .press-release-year,
  .press-release-headers,
  .press-release-list,
  .press-release-article,
    // win
  .wallpaper-download,
    //misc
  .legalese,
    // header/footer
  .quick-links,
  header,
  footer {
    @include span_first;
    width: 100%;
  }
}

@include min-screen(1200px) {
  .chunk {
    width: 1000px;
  }
}