@import "base";

/* --- variables ---*/
$height: 440px;
$insetShadow: inset 0 6px 6px -4px rgba(0, 0, 0, 0.4);
$altChunkBg: transparent url("../images/background_chunk_alt.jpg") top center repeat-x;

/* --- mixins ---*/
@mixin floated_section {
  min-height: $height;
  width: 100%;
}

@mixin altBg {
  background: $altChunkBg;
  background-size: auto 100%;
}

@mixin read_more {
  color: #ffffff;
  font-size: 0.750rem;
  font-weight: $medium;
  position: relative;
}

@mixin read_more_caret {
  content: url($caret);
  position: absolute;
  top: 0;
  right: -10px;
}

/* --- page style ---*/
.twitter iframe {
  height: 356px;
}

.content {
  box-shadow: $insetShadow;
  overflow: hidden;
  padding-top: 80px;
}

.content section {
  box-shadow: $insetShadow;
  float: left;
  position: relative;
}

.content .chunk {
  margin: 40px auto;
}

.hero {
  background: transparent url("../images/masthead.png") top center no-repeat;
  height: 490px;
  @include min-screen(320px) {
    margin-top: -1670px;
  }
  @include min-screen(768px) {
    margin-top: -890px;
  }
  position: relative;
  width: 100%;
}

.hero .bucket {
  background-color: rgba(0, 0, 0, 0.7);
  width: 320px;
  padding: 20px;
}

.latest-news {
  @include floated_section;
  background-color: #ffffff;
  @include min-screen(320px) {
    margin-top: 370px;
  }
  @include min-screen(768px) {
    margin-top: 450px;
  }
}

.off-track h2,
.on-track h2,
.social h2 {
  font-weight: $light;
  margin: 0 0 35px 0;
  text-transform: uppercase;
}

.off-track {
  @include floated_section;
  @include altBg;

  h2 {
    color: #ffffff;
  }
}

.on-track {
  @include floated_section;
  background-color: #ffffff;
}

.social {
  @include floated_section;
  @include altBg;


  h2 {
    color: #ffffff;
  }
}

.grey {
  @include floated_section;
  @include altBg;
  
  h2 {
    color: #ffffff;
  }
}

/* --- content bucket ---*/

.bucket {
  @include min-screen(320px) {
    margin-bottom: 20px;
  }

  @include min-screen(768px) {
    margin-bottom: 0;
  }
}

.bucket figure {
  background-color: #000000;
  color: #ffffff;
  margin: 0 auto;
}

.bucket figure .img-wrapper {
  height: 240px;
  overflow: hidden;
  position: relative;
}

.bucket figure img {
  width: 100%;
  height: 100%;
}

.bucket figure i {
  background-color: $brandColor;
  bottom: 0;
  color: #000000;
  font-size: 0.750rem;
  font-style: normal;
  font-weight: $regular;
  left: 0;
  padding: 10px;
  position: absolute;
  width: 120px;
}

.bucket figcaption {
  color: $brandColor;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.bucket figcaption p {
  font-size: 1.05rem;
  font-weight: $medium;
  line-height: 1.2rem;
  letter-spacing: 0.02rem;
  margin: 0;
  padding: 16px;
}

.bucket figcaption p:last-of-type {
  padding-top: 0;
  position: absolute;
  bottom: 0;
}

.bucket figcaption a {
  @include read_more;
}

.bucket figcaption a:after {
  @include read_more_caret;
}

.bucket figcaption a:hover {
  color: $brandColor;
}

/* --- countdown flipclock ---*/

.clock-wrapper {
  float: left;
  height: 60px;
  margin: 0 0 0 2px;
}

.clock {
  backface-visibility: hidden;
  font-family: "Roboto", sans-serif;
  transform: scale(.54);
  transform-origin: 0 0;
  width: 300%;
}

.flip-clock-wrapper {
  font-size: 1.5em;
  font-weight: $medium;
  margin: 0;
}

.flip-clock-wrapper ul {
  border-radius: 0;
  font-weight: $regular;
}

.flip-clock-wrapper ul li a div div.inn {
  color: #000000;
  background-color: $brandColor;
}

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 999999;
}

.flip-clock-wrapper ul li a div div.inn {
  border-radius: 0;
}

.flip-clock-divider {
  width: 12px;
}

.flip-clock-label {
  display: none;
}

.flip-clock-dot {
  display: none;
}

.clock-info {
  float: left;
  width: 150%;
  margin: 0 0 0 2px;
}

.clock-info ul {
  font-size: 0.813rem;
  font-weight: $regular;
  list-style: none;
  margin: 4px 0 20px 2px;
  position: relative;
  padding: 0;
  text-transform: uppercase;
}

.clock-info ul li {
  background-color: $brandColor;
  display: inline-block;
}

.clock-info ul li.days {
  padding: 5px 38px;
}

.clock-info ul li.hrs {
  margin-left: 12px;
  padding: 5px 13px;
}

.clock-info ul li.mins {
  margin-left: 12px;
  padding: 5px 7px;
}

.hero .info {
  float: left;
}

.hero .info img {
  min-width: 25%;
}

/* --- result widget ---*/
.result nav ul {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.result nav ul li {
  @include min-screen(320px) {
    font-size: 0.688rem;
  }

  @include min-screen(768px) {
    font-size: 0.750rem;
  }

  @include min-screen(1000px) {
    letter-spacing: 0.0625rem;
  }

  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  width: 33%;
}

.result nav ul li:last-child {
  width: 34%;
}

.result nav ul li a {
  background-color: $brandColor;
  border: 1px solid #ffffff;
  border-top: 0;
  color: #000000;
  display: block;
  line-height: 30px;
  padding: 10px 20px;
}

.result nav ul li a:hover {
  background-color: #ffc414;
}

.result nav ul li.active a {
  background-color: #000000;
  border: 1px solid #000000;
  border-right-color: #ffffff;
  border-top: 0;
  color: #ffffff;
}

.result .content {
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  height: 310px;
  width: 99.5%; // hack?
}

.result .content p {
  margin-bottom: 0;
  margin-top: 0px;
}

.result .content a {
  @include read_more;
}

.result .content a:after {
  @include read_more_caret;
}

.result .content h4 {
  font-size: 0.813rem;
  font-weight: $light;
  margin: 0 0 10px 0;
}

.result .content table {
  @include min-screen(320px) {
    font-size: 0.688rem;
  }

  @include min-screen(768px) {
    font-size: 0.750rem;
  }

  @include min-screen(1000px) {
    font-size: 0.813rem;
  }

  line-height: 0.875rem;
  width: 100%;
}

.result .content thead {
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
}

.result .content th {
  color: $brandColor;
  padding: 5px 0;
  text-align: left;
}

.result .content td {
  @include min-screen(320px) {
    padding: 5px 0;
  }

  @include min-screen(768px) {
    padding: 8px 0;
  }

  vertical-align: top;
}

.result .content tbody tr {
  border-bottom: 1px solid #222222;
}

.result .content tr:first-of-type {
  font-weight: $bold;
}

/* --- social ---*/

.social-widget figure {
  background-color: #ffffff;
}