@import "base";

.content section.maintenance {
  background: url("../images/background_selection.jpg") top center no-repeat;
  min-height: 800px;
  padding-top: 15px;
}

p {
  color: #FFFFFF;
  font-size: 12px;
}

a.button {
  padding: 20px 30px;
  width: 320px;
  background-color: #ffc414;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
}

@include min-screen(320px) {

  .maintenance-text {
    width: 100%;
    line-height: 24px;
    text-align: center;
  }

}

@include min-screen(768px) {

  .maintenance-text {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    margin-top: 100px;
    line-height: 18px;
  }
  a.button {
    margin-top: 50px;
    margin-bottom: 50px;
  }

}