@import "media-base";

@include min-screen(320px) {

  .content section.selection-panel {
    background: url("../images/masthead_media_pressrelease.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
    min-height: 386px;
  }

  // "HR"
  .content section.selection-panel:after {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    left: 0;
    position: absolute;
    bottom: 120px;
    width: 100%;
  }

  .styled-button {
    background: $grey;
  }

  .styled-button.active {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
  }

  .styled-button.active a {
    border: 0;
    color: #ffffff;
  }

  .breadcrumbs {
    font-size: 0.813rem;
    margin: 0;
    text-transform: capitalize;
  }

  .breadcrumbs span {
    padding: 0 10px;
  }

  .desc-bar {
    position: relative;
    height: 160px;
  }

  .desc {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .desc h1 {
    color: $brandColor;
    font-size: 1.4rem;
    font-weight: $medium;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  .desc hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 50px;
  }

  .desc p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: $light;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
    margin: 10px 0 20px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }

  .press-release-details .chunk {
    margin: 40px auto;

    &:first-child {
      margin: 20px auto 20px;
    }

    &:last-child {
      margin: 20px auto 40px;
    }
  }

  .press-release-article {
    overflow: hidden;
  }

  .press-release-article a {
    color: #000000;
    font-weight: $bold;
  }

//  .press-release-article img {
//    height: 360px;
//    width: 100%;
//  }

  .press-release-article hr {
    border: 0;
    border-bottom: 1px solid #000000;
  }

  .press-release-article h2 {
    font-weight: $light;
  }

  .press-release-article p {
    font-size: 0.813rem;
    font-weight: $regular;
    text-align: justify;
  }

  .press-release-article ul,
  .press-release-article ol {
    font-size: 0.813rem;
    font-weight: $bold;
    margin: 20px 0 0;
    padding-left: 20px;
  }

  .press-release-article li {
    margin-bottom: 20px;
  }

  .writeup {
    padding: 5px;
  }

}

@include min-screen(768px) {

  // "HR"
  .content section.selection-panel:after {
    bottom: 80px;
  }

  .writeup {
    width: 614px;
    padding: 0 32px 0 0;
  }

}