@import "media-base";
@import "misc-privacypolicy";
@import "form-ui";

@include min-screen(320px) {

  .legalese tr:nth-last-child(2) {
    border-bottom: none;
  }

  .legalese a {
    color: #000000;
    font-weight: $bold;
    text-decoration: none;
  }

  .legalese a.button {
    background-color: $brandColor; /* layer fill content */
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .5); /* inner shadow */
    color: #000000;
    display: block;
    font-weight: $medium;
    height: 50px;
    line-height: 26px;
    outline: none;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    width: 210px;
  }

  .legalese a.photographer-tvcrew {
    line-height: 13px;
    margin-top: 20px;
  }

}

@include min-screen(768px) {

  .legalese a.button {
    float: left;
  }

  .legalese a.photographer-tvcrew {
    margin-top: 0;
    margin-left: 20px;
  }

}