@import "media-base";
@import "misc-privacypolicy";
@import "form-ui";

@include min-screen(320px) {

  section.equipment-declaration,
  section.submission {
    box-shadow: none;
  }

  section.equipment-declaration {
    background-color: #f7f7f7;
  }

  .legalese tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  }

  .personal-information .legalese tr:nth-child(1),
  .equipment-declaration .legalese tr:nth-child(1),
  .equipment-declaration .legalese tr:nth-last-child(2) {
    border-bottom: 1px solid #000000;
  }

  .personal-information .legalese tr.numberOfPersonnel,
  .personal-information .legalese tr.flight {
    border: none;
  }

  .personal-information .legalese tr.person {
    border-top: 1px solid #000000;
  }

  .legalese a.add-more {
    background-color: #464646; /* layer fill content */
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .5); /* inner shadow */
    color: #ffffff;
    display: block;
    font-weight: $medium;
    height: 50px;
    line-height: 26px;
    outline: none;
    padding: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 210px;
  }

  .add-more:after {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAQAAACRZI9xAAAAGklEQVQoz2P4z4AG/6OLMIxMJQTBCA0XgkoAVHtAzt5E3v4AAAAASUVORK5CYII=");
    position: absolute;
    right: 16px;
    top: 16px;
    width: 17px;
    height: 17px;
  }

  .form-row {
    margin: 0;
    overflow: hidden;
  }

  .form-row:first-child {
    margin-top: 20px;
  }

  .remove {
    height: 50px;
    margin-bottom: 20px;

    a {
      display: block;
      line-height: 50px;
    }
  }

}

@include min-screen(768px) {

  .form-grp.flight-date,
  input[name^="passport"],
  input[name$="FlightNumber"],
  input[name="newsOrganisation"],
  input[name="designation"],
  input[name="itemNameAV"],
  input[name="itemSerialNumberAV"],
  select[name="countryOfOrigin"],
  select[name="countryOfOriginAV"] {
    float: left;
    width: 49%;
  }

  .form-grp.flight-date:nth-child(1),
  input[name="passportName"],
  input[name="passportNameAV"],
  input[name="newsOrganisation"],
  input[name="arrivalFlightNumber"],
  input[name="itemNameAV"] {
    margin-right: 1%;
  }

  .form-grp.flight-date:nth-child(2),
  input[name="passportNumber"],
  input[name="passportNumberAV"],
  input[name="designation"],
  input[name="departureFlightNumber"],
  select[name="countryOfOrigin"] {
    margin-left: 1%;
  }

  .form-grp.passport-date,
  input[name="itemQuantityAV"],
  input[name="itemValueAV"],
  select[name="numberOfPersonnel"] {
    float: left;
    width: 23%;
  }

  .form-grp.passport-date:nth-child(1) {
    margin-right: 2%;
  }

  .form-grp.passport-date:nth-child(2),
  input[name="itemQuantityAV"] {
    margin: 0 1%;
  }

  .form-grp.passport-date input {
    padding-right: 20%;
    width: 100%;
  }

  input[name="itemValueAV"] {
    margin-left: 2%;
  }

  input[type="submit"] {
    float: right;
    width: 210px;
  }

  .remove {
    float: left;
    margin-bottom: 0;
    margin-left: 2%;
  }

}