@import "media-base";

@include min-screen(320px) {

  .content section.selection-panel {
    background: url("../images/masthead_media_pressrelease.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
    min-height: 386px;
  }

  // "HR"
  .content section.selection-panel:after {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    left: 0;
    position: absolute;
    bottom: 120px;
    width: 100%;
  }

  .styled-button {
    background: $grey;
  }

  .styled-button.active {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
  }

  .styled-button.active a {
    border: 0;
    color: #ffffff;
  }

  .desc-bar {
    position: relative;
    height: 160px;
  }

  .desc {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .desc h1 {
    color: $brandColor;
    font-size: 1.4rem;
    font-weight: $medium;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  .desc hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 50px;
  }

  .desc p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: $light;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
    margin: 10px 0 20px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }

  .press-release-details .chunk {
    margin: 40px auto;
  }

  .press-release-headers h5 {
    background-color: #333333;
    color: $brandColor;
    float: left;
    font-size: 0.688rem;
    font-weight: $medium;
    margin: 0 0 25px 2%;
    padding: 12px 14px;
    text-transform: uppercase;
    width: 78%;
  }

  .press-release-headers h5:nth-child(1) {
    margin-left: 0;
    width: 20%;
  }

  .press-release-list table {
    font-size: 0.813rem;
    width: 100%;
  }

  .press-release-list colgroup:nth-child(1) {
    width: 22%;
  }

  .press-release-list colgroup:nth-child(2) {
    width: 78%;
  }

  .press-release-list tr {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }

  .press-release-list td {
    color: #000000;
    font-size: 0.813rem;
    font-weight: $regular;
    min-height: 40px;
    padding: 10px 14px;
    vertical-align: top;
  }

  .press-release-list td:first-child {
    text-transform: uppercase;
  }

  .press-release-list a {
    color: #000000;
  }

}

@include min-screen(768px) {

  // "HR"
  .content section.selection-panel:after {
    bottom: 80px;
  }

  .desc h1 {
    margin-top: 0;
  }

  .press-release-headers h5 {
    font-size: 0.83rem;
  }

}