@import "base";

/* --- variables ---*/
$height: 185px;
$insetShadow: inset 0 6px 6px -4px rgba(0, 0, 0, 0.4);
$altBgColor: #f7f7f7;

/* --- mixins ---*/
@mixin floated_section {
  min-height: $height;
  width: 100%;
}

@include min-screen(320px) {

  /* --- common page style ---*/

  .content {
    box-shadow: $insetShadow;
    overflow: hidden;

    section {
      background-color: #ffffff;
      box-shadow: $insetShadow;
      float: left;
      position: relative;
      @include floated_section;

      &.selection-panel {
        background: url("../images/background_selection.jpg") top center no-repeat;
        font-size: 0.688rem;
        min-height: 0;
      }
    }

    .chunk {
      margin: 40px auto;
    }

    .selection-panel {
      .chunk {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin: 20px auto;

        .row {
          overflow: hidden;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  /* --- selection panel ---*/

  .img-wrapper img {
    height: 100%;
    width: 100%;
    display: block;
  }

  .top-bar .img-wrapper img {
    height: auto;
    width: auto;
  }

  .top-bar {
    height: 50%;
    overflow: hidden;
    padding: 0 0 20px;
  }

  .addthis-widget {
    float: none;
    margin-bottom: 20px;
  }

  /* --- ---*/

  .legalese h1 {
    font-size:0.813rem;
    font-weight: $bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 0;
    margin-left: 10px;
    text-transform: uppercase;
  }

  .legalese h3 {
    font-size:0.813rem;
    font-weight:$bold;
    text-decoration: underline;
    text-transform: uppercase;
  }

  .legalese h3,
  .legalese p {
    margin: 20px 10px;
  }

  .legalese a {
    color: #000000;
    font-weight: $bold;
  }

  .legalese ol,
  .legalese ul {
    padding-left: 15px;
  }

  .legalese ol.upperAlpha {
    list-style-type: upper-alpha;
    padding-left: 20px;
  }

  .legalese li {
    margin-bottom: 20px;
  }

  .legalese table {
    font-size: 0.813rem;
    width: 100%;
  }

  .legalese colgroup:nth-child(1) {
    width: 30%;
  }

  .legalese colgroup:nth-child(2) {
    width: 70%;
  }

  .legalese tr {
    border-bottom: 1px solid #000000;
  }

  .legalese tr:last-child {
    border-bottom: none;
  }

  .legalese td {
    color: #000000;
    font-size: 0.813rem;
    font-weight: $regular;
    min-height: 40px;
    vertical-align: top;
  }

  .legalese tr td:first-child {
    padding-right: 10px;
  }

}

@include min-screen(768px) {

  .content {
    padding-top: 80px;
  }

  .top-bar {
    padding: 0;
  }

  .addthis-widget {
    float: right;
  }

  .selection-panel {
    font-size: 0.875rem;
  }

  .legalese tr td:first-child {
    padding-right: 0;
  }

}

ol { 
    counter-reset: item;
    margin-top: 10px;
}
li {
    display: block;
    margin-bottom: 10px;
}
ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}
ol.alpha li {
    list-style-type: lower-alpha!important;
}
ol.alpha li:before {
  content: "(" counter(item, lower-alpha) ") ";
  counter-increment: item;
}
ol.roman li {
    list-style-type: lower-roman!important;
}
ol.roman li:before {
  content: "(" counter(item, lower-roman) ") ";
  counter-increment: item;
}
li h4 {
  font-size:0.813rem;
  display: inline;
  text-decoration: underline;
}

li h5{
  font-size:0.813rem;
  display:inline;
  font-style:italic;
  font-weight:normal;
}