@import "misc-privacypolicy";
@import "form-ui";

// just learning about SASS' power... damnit
@include min-screen(320px) {

  .content section.selection-panel {
    background: url("../images/masthead_newsletter.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
    min-height: 386px;

    .chunk {
      border-bottom: 0;
    }
  }

  section.submission {
    box-shadow: none;
  }

  .desc-bar {
    position: relative;
    height: 240px;
  }

  .desc {
    bottom: 0;
    left: 0;
    position: absolute;

    h1 {
      color: $brandColor;
      font-size: 1.5rem;
      font-weight: $regular;
      line-height: 1.7rem;
      margin: 0 0 10px;
      text-transform: uppercase;
    }

    hr {
      border: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      display: inline-block;
      width: 50px;
    }

    p {
      color: #ffffff;
      font-size: 1rem;
      font-weight: $light;
      margin: 10px 0 0;
      text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    }
  }

  .newsletter-form {
    h2 {
      font-weight: $medium;
      margin-top: 0;
    }
  }

  .form-row {
    margin: 0;
    overflow: hidden;

    &:first-child {
      margin-top: 20px;
    }

    &.checkboxes {
      margin-bottom: 10px;
    }
  }

  .form-grp {
    overflow: hidden;

    &.checkbox {
      float: left;
      margin: 0 6px;
      width: 30px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.checkbox-horizontal {
      margin-bottom: 20px;

      .checkbox {
        float: left;
        margin-right: 15px;
      }

      p {
        float: left;
        margin: 6px 0;
      }
    }

    &.checkbox-bottom {
      margin-bottom: 20px;

      .checkbox {
        float: left;
        margin-right: 15px;
      }

      p {
        float: left;
        margin: 6px 0;
      }
    }
  }

  .checkbox {
    background-color: #fafafa; /* layer fill content */
    border: none;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .2); /* inner shadow */
    color: #000000;
    height: 30px;
    width: 30px;

    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      left: 5px;
      top: 5px;
      background: transparent;

      &:after {
        content: '';
        width: 16px;
        height: 8px;
        position: absolute;
        top: 4px;
        left: 2px;
        border: 3px solid #333333;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }

      &:hover::after {
        opacity: 0.3;
      }
    }

    input[type="checkbox"] {
      margin-bottom: 10px;
      visibility: hidden;
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox;
      appearance: checkbox;

      &:checked + label:after {
        opacity: 1;
      }
    }
  }

  .legalese {
    ul.labels {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 11px;
      }
    }
  }

  input[name="othersEntry"] {
    margin-left: 0;
    width: 99%;
  }

  .fine-print {
    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }

}

@include min-screen(768px) {

  .form-grp {
    &.checkbox {
      margin: 0 15px;
    }

    &.checkbox-horizontal {
      float: left;
      width: 50%;
    }

    &.checkbox-bottom {
      float: left;
      width: 5%;
    }

    &.others {
      float: none;
      margin-bottom: 10px;
    }
  }

  .legalese {
    ul.labels {
      li {
        margin-right: 29px;
      }
    }
  }

  input[name="name"],
  input[name="emailAddress"],
  select {
    float: left;
    width: 49%;
  }

  select[name="yearOfBirth"] {
    width: 25%;
  }

  input[name="name"],
  input[name="emailAddress"] {
    margin-right: 1%;
  }

  select {
    margin-left: 1%;
  }

  input[name="othersEntry"] {
    width: 45%;
  }

  input[type="submit"] {
    float: right;
    width: 210px;
  }

}