@import "tickets-base";

@include min-screen(320px) {

  .content .row {
    margin-bottom: 20px;
    overflow: hidden;
  }

  .selection .row,
  .selection .chunk {
    margin-bottom: 0;
  }

  .filter-bar {
    margin-bottom: 20px;
  }

  .selection.sales h1 {
    color: $brandColor;
    font-size: 1.5rem;
    font-weight: $light;
    margin-top: 0;
  }

  .selection.sales h1 small {
    font-size: 0.813rem;
    font-weight: normal;
  }

  .selection.sales p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: $light;
  }

  .selection.sales hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 50px;
  }

  .content section.selection {
    min-height: 0;
  }

  .styled-button {
    background: $grey;
  }

  .styled-button.active {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
  }

  .styled-button.active a {
    border: 0;
    color: #ffffff;
  }

  /* sales channels */

  .contact-channels a {
    color: #000000;
    font-weight: $bold;
  }

  .contact-channels td h3 {
    font-size: 1rem;
    font-weight: $regular;
    margin-top: 0;
  }

  .contact-channels td p {
    font-size: 0.813rem;
  }

}

@include min-screen(768px) {

  .top-bar {
    padding: 0;
  }

  .styled-button {
    width: 20%;
  }

  .styled-button:first-child {
    margin-left: 0;
  }

  .desc-bar {
    padding-right: 20%;
  }

  .contact-channels table {
    width: 100%;
  }

  .contact-channels tr:last-child {
    border-bottom: 0;
  }

  .contact-channels td {
    padding: 20px 0;
    vertical-align: top;
  }

  .contact-channels tr:first-child td {
    padding-top: 0;
  }

  .contact-channels tr:last-child td {
    padding-bottom: 0;
  }

}