// "overwrite" headliners
@import "offtrack-headliners";

@include min-screen(320px) {

  .content section.selection-panel {
    background: url("../images/masthead_offtrack_pastheadliners.png") top center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
  }

}