@import "offtrack-base";
@import "masthead-ui";

.content .chunk {
  margin: 10px auto 10px;
}

@include min-screen(320px) {

  .content section.selection-panel {
    background: url("../images/masthead_offtrack_headliners.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
  }

  section.headliner-details .chunk:first-child {
    margin: 20px auto 0;
  }


  section.headliner-details .chunk:nth-child(2) {
    margin: 0 auto 40px;
  }

  .breadcrumbs {
    font-size: 0.813rem;
    margin: 0;
    text-transform: capitalize;
  }

  .breadcrumbs span {
    padding: 0 10px;
  }

  .performance-writeup h1 {
    font-weight: $medium;
    margin: 13px 0;
  }

  .performance-writeup h2 {
    font-weight: $medium;
  }

  .performance-writeup h5 {
    background-color: #333333;
    color: $brandColor;
    font-weight: $medium;
    margin: 0 0 20px 0;
    padding: 12px 14px;
    text-transform: uppercase;
  }

  .performance-writeup p {
    font-size: 0.813rem;
    font-weight: $regular;
  }

  .performance-details table.date-information:first-child {
    margin-top: 40px;
  }

  .performance-details table.date-information:last-child {
    margin-bottom: 40px;
  }

  .performance-details table {
    border-collapse: collapse;
    border-spacing: 1px;
    font-size: 0.813rem;
    height: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
  }

  .performance-details > table thead tr:nth-child(even) {
    background-color: transparent;
    border: 0;
  }

  .performance-details > table thead tr:nth-child(odd) {
    background-color: #333333;
    border: 0;
  }

  .performance-details > table thead tr:nth-child(even) th {
    padding: 10px;
  }

  .performance-details > table th {
    color: $brandColor;
    font-weight: $light;
    line-height: 0.875rem;
    padding: 14px;
    text-align: left;
    text-transform: uppercase;
  }

  .performance-details > table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .performance-details > table tr:nth-child(odd) {
    background-color: #ebebeb;
  }

  .performance-details > table td {
    color: #000000;
    font-size: 0.813rem;
    font-weight: $regular;
    height: 60px;
    padding: 14px;
    vertical-align: middle;
  }

  .performance-details ul {
    list-style: none;
    margin: 23px 0 0;
    padding: 0;
  }

  .performance-details li {
    display: inline-block;
    margin-right: -3px;
    margin-top: -3px;
  }

  .performance-details img {
//    height: 119px;
    width: 159px;
  }

  .breadcrumbs,
  .performance-writeup h1,
  .performance-writeup h2,
  .performance-writeup p {
    margin-left: 10px;
    margin-right: 10px;
  }

  .content .change-notice {
    background-color: #ebebeb;
    border-top: 1px solid #333333;
    box-shadow: none;
    max-height: 80px;
    min-height: 60px;
  }

  .change-notice p {
    font-size: 0.813rem;
    font-weight: $regular;
    margin: 0;
    text-align: center;
  }

}

@include min-screen(768px) {

  .headliner .chunk {
    margin: 10px auto 10px;
  }

  .breadcrumbs,
  .performance-writeup h1,
  .performance-writeup h2,
  .performance-writeup p {
    margin-left: 0;
    margin-right: 0;
  }

}