// make use of press release
@import "media-pressrelease";

@include min-screen(320px) {

  .content section.selection-panel {
    background: url("../images/masthead_ontrack_highlights.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
    min-height: 305px;
  }

  // "HR"
  .content section.selection-panel:after {
    content: '';
    border: 0;
    position: initial;
  }

  .desc-bar {
    position: relative;
    height: 140px;
  }

  .desc {
    bottom: 0;
    left: 0;
    position: absolute;
  }

//  .desc h1 {
//    font-weight: $regular;
//    line-height: 1.7rem;
//    margin: 0 0 10px;
//  }

  .desc p {
    margin: 10px 0 0;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }

}

@include min-screen(768px) {

}