@import "ontrack-base";

.content .drivers-teams-listing .chunk {
  margin: 20px auto;
}

.content .drivers-teams-listing .chunk:first-child {
  margin-top: 40px;
}

.content .drivers-teams-listing .chunk:last-child {
  margin-bottom: 40px;
}

.desc-bar {
  position: relative;
  height: 140px;
}

.desc {
  bottom: 0;
  left: 0;
  position: absolute;
}

.desc h1 {
  color: $brandColor;
  font-size: 1.4rem;
  font-weight: $medium;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.desc hr {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  width: 50px;
}

.desc p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: $light;
  letter-spacing: 0.5px;
  line-height: 1.2rem;
  margin: 10px 0 0;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.marque,
.driver {
  height: 240px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marque .img-wrapper,
.marque .caption-wrapper,
.driver .img-wrapper {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.marque .caption-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.marque .caption {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.marque .title {
  color: $brandColor;
  display: block;
  font-size: 1.125rem;
  font-weight: $light;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.marque .next,
.driver .next {
  background: url($nextArrow) no-repeat 0 0;
  border-right: 1px solid #ffffff;
  bottom: 0;
  height: 40px;
  right: 0;
  position: absolute;
  width: 40px;
}

span.title,
span.next {
  border-bottom: 1px solid #ffffff;
}

.marque img,
.driver img {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: auto;
}

.marque .img-wrapper {
  background-color: #222222;
}

.driver .img-wrapper {
  height: 199px;
}

.driver .title {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: $brandColor;
  display: block;
  font-size: 0.813rem;
  height: 40px;
  left: 0;
  padding: 10px 50px 10px 10px;
  position: absolute;
  width: 100%;
}

@include min-screen(320px) {
  .marque .img-wrapper {
    border-bottom: 1px solid #ffffff;
  }
}

@include min-screen(768px) {

  .marque,
  .driver {
    float: left;
    margin: 0;
    width: 33%;
  }

  .marque {
    width: 34%;
  }

  .driver:nth-child(even) .img-wrapper {
    border-right: 1px solid #ffffff;
  }

}