@import "ontrack-base";
@import "masthead-ui";

@include min-screen(320px) {

  .content section.drivers-teams-panel {
    background: url("../images/masthead_ontrack_interactivemap.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
  }

  // "HR"
  .content section.drivers-teams-panel:after {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    left: 0;
    position: absolute;
    bottom: 120px;
    width: 100%;
  }

  .filter-bar {
    height: 50%;
    margin: 20px 0 0;
    overflow: hidden;
  }

  .desc-bar {
    position: relative;
    min-height: 160px;
  }

//  .desc {
//    bottom: 0;
//    left: 0;
//    position: absolute;
//  }

  .desc h1 {
    color: $brandColor;
    font-size: 1.4rem;
    font-weight: $medium;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  .desc hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 50px;
  }

  .desc p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: $light;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
    margin: 10px 0 20px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }

  .access-map {
    height: 572px;
    position: relative;
  }

  .access-map h4 {
    border: 1px solid #ffffff;
    font-size: 0.875rem;
    font-weight: $medium;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    width: 230px;
  }

  .access-map a {
    color: $brandColor;
  }

  .access-map .img-wrapper,
  .access-map .caption-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
  }

  .access-map .img-wrapper {
    z-index: 8;
  }

  .access-map .caption-wrapper {
    padding: 5%;
  }

  .access-map .caption-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.4em; /* Adjusts for spacing */
  }

  .access-map .caption {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

}

@include min-screen(768px) {

//  .desc {
//    float: left;
//  }

  .desc-bar {
    position: relative;
    height: 160px;
  }

  .desc {
    bottom: 0;
    left: 0;
    position: absolute;
  }

//  .desc h1 {
//    font-size: 2rem;
//  }

  // "HR"
  .content section.drivers-teams-panel:after {
    bottom: 80px;
  }

}