@import "ontrack-base";

.content section.drivers-teams-panel.sebastian-vettel {
  background: url("../images/masthead_ontrack_sebastianvettel.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.daniel-ricciardo {
  background: url("../images/masthead_ontrack_danielricciardo.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.fernando-alonso {
  background: url("../images/masthead_ontrack_fernandoalonso.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.kimi-raikkonen {
  background: url("../images/masthead_ontrack_kimiraikkonen.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.pastor-maldonado {
  background: url("../images/masthead_ontrack_pastormaldonado.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.romain-grosjean {
  background: url("../images/masthead_ontrack_romaingrosjean.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.kevin-magnussen {
  background: url("../images/masthead_ontrack_kevinmagnussen.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.jenson-button {
  background: url("../images/masthead_ontrack_jensonbutton.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.esteban-gutierrez {
  background: url("../images/masthead_ontrack_estebangutierrez.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.adrian-sutil {
  background: url("../images/masthead_ontrack_adriansutil.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.nico-rosberg {
  background: url("../images/masthead_ontrack_nicorosberg.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.lewis-hamilton {
  background: url("../images/masthead_ontrack_lewishamilton.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.valtteri-bottas {
  background: url("../images/masthead_ontrack_valtteribottas.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.felipe-massa {
  background: url("../images/masthead_ontrack_felipemassa.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.sergio-perez {
  background: url("../images/masthead_ontrack_sergioperez.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.nico-hulkenberg {
  background: url("../images/masthead_ontrack_nicohulkenberg.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.daniil-kvyat {
  background: url("../images/masthead_ontrack_daniilkvyat.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.jean-eric-vergne {
  background: url("../images/masthead_ontrack_jeanericvergne.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.marcus-ericsson {
  background: url("../images/masthead_ontrack_marcusericsson.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.kamui-kobayashi {
  background: url("../images/masthead_ontrack_kamuikobayashi.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.max-chilton {
  background: url("../images/masthead_ontrack_maxchilton.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.jules-bianchi {
  background: url("../images/masthead_ontrack_julesbianchi.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}

.content section.drivers-teams-panel.Carlos-Sainz-Jr {
  background: url("../images/masthead_ontrack_carlos_sainz_jr.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.Felipe-Nasr {
  background: url("../images/masthead_ontrack_felipe_nasar.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.Max-Verstappen {
  background: url("../images/masthead_ontrack_max_verstappen.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.Will-Stevens {
  background: url("../images/masthead_ontrack_will_steven.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.Roberto-Merhi {
  background: url("../images/masthead_ontrack_roberto.png") 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.jolyon-palmer {
  background: url(../media/images/masthead_ontrack_jolyonpalmer.png) 55% 0 no-repeat, url(../images/background_selection.jpg) top center no-repeat
}
.content section.drivers-teams-panel.pascal-wehrlein {
  background: url(../media/images/masthead_ontrack_pascalwehrlein.png) 55% 0 no-repeat, url(../images/background_selection.jpg) top center no-repeat
}
.content section.drivers-teams-panel.rio-haryanto {
  background: url(../media/images/masthead_ontrack_rioharyanto.png) 55% 0 no-repeat, url(../images/background_selection.jpg) top center no-repeat
}
.content section.drivers-teams-panel.esteban-ocon {
  background: url(../media/images/masthead_ontrack_estebanocon.png) 55% 0% no-repeat, url("../images/background_selection.jpg") top center no-repeat
}
@include min-screen(320px) {

  section.driver-details .chunk:first-child {
    margin: 20px auto 0;
  }

  section.driver-details .chunk:nth-child(2) {
    margin: 0 auto 40px;
  }

  .breadcrumbs {
    font-size: 0.813rem;
    margin: 0;
    text-transform: capitalize;
  }

  .breadcrumbs span {
    padding: 0 10px;
  }

  .driver-writeup h1 {
    font-weight: $medium;
    margin: 13px 0;
  }

  .driver-writeup h2 {
    font-weight: $medium;
  }

  .driver-writeup h5 {
    background-color: #333333;
    color: $brandColor;
    font-weight: $medium;
    margin: 0 0 20px 0;
    padding: 12px 14px;
    text-transform: uppercase;
  }

  .driver-writeup p {
    font-size: 0.813rem;
    font-weight: $regular;
  }

  .driver-info table {
    border-collapse: collapse;
    border-spacing: 1px;
    font-size: 0.813rem;
    height: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
  }

  .driver-info > table thead tr:nth-child(even) {
    background-color: transparent;
    border: 0;
  }

  .driver-info > table thead tr:nth-child(odd) {
    background-color: #333333;
    border: 0;
  }

  .driver-info > table thead tr:nth-child(even) th {
    padding: 10px;
  }

  .driver-info > table th {
    color: $brandColor;
    font-weight: $light;
    line-height: 0.875rem;
    padding: 14px;
    text-align: left;
    text-transform: uppercase;
  }

  .driver-info > table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .driver-info > table tr:nth-child(odd) {
    background-color: #ebebeb;
  }

  .driver-info > table td {
    color: #000000;
    font-size: 0.813rem;
    font-weight: $regular;
    height: 60px;
    padding: 14px;
    vertical-align: middle;
  }

  .driver-writeup > table {
    width: 100%;
  }

  .driver-writeup > table tr {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }

  .driver-writeup > table td {
    color: #000000;
    font-size: 0.813rem;
    font-weight: $regular;
    height: 60px;
    padding: 0 14px;
    vertical-align: middle;
  }

  .breadcrumbs,
  .driver-writeup h1,
  .driver-writeup h2,
  .driver-writeup p {
    margin-left: 10px;
    margin-right: 10px;
  }

}

@include min-screen(768px) {

  .driver {
    float: left;
    margin: 0 0 40px 0;
    width: 50%;
  }

  .driver:first-of-type .img-wrapper {
    border-right: 1px solid #ffffff;
  }

  .driver-info table {
    margin: 69px 0 0 0;
  }

  .breadcrumbs,
  .driver-writeup h1,
  .driver-writeup h2,
  .driver-writeup p {
    margin-left: 0;
    margin-right: 0;
  }

}