@import "ontrack-base";

.content section.drivers-teams-panel.red-bull-racing {
  background: url("../images/masthead_ontrack_redbull.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.ferrari {
  background: url("../images/masthead_ontrack_ferrari.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.lotus {
  background: url("../images/masthead_ontrack_lotus.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.mclaren {
  background: url("../images/masthead_ontrack_mclaren.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.sauber {
  background: url("../images/masthead_ontrack_sauber.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.mercedes {
  background: url("../images/masthead_ontrack_mercedes_amg.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.williams {
  background: url("../images/masthead_ontrack_williams.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.force-india {
  background: url("../images/masthead_ontrack_sahara.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.toro-rosso {
  background: url("../images/masthead_ontrack_tororosso.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.caterham {
  background: url("../images/masthead_ontrack_caterham.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}
.content section.drivers-teams-panel.marussia {
  background: url("../images/masthead_ontrack_marussia.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}


@include min-screen(320px) {

  section.team-details .chunk:first-child {
    margin: 20px auto 0;
  }

  section.team-details .chunk:nth-child(2) {
    margin: 0 auto 40px;
  }

  .breadcrumbs {
    font-size: 0.813rem;
    margin: 0;
    text-transform: capitalize;
  }

  .breadcrumbs span {
    padding: 0 10px;
  }

  .driver {
    height: 240px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .driver .img-wrapper {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
  }

  .driver .next {
    background: url($nextArrow) no-repeat 0 0;
    border-right: 1px solid #ffffff;
    bottom: 0;
    height: 40px;
    right: 0;
    position: absolute;
    width: 40px;
  }

  .driver img {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: auto;
  }

  .driver .img-wrapper {
    height: 199px;
  }

  .driver .title {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: $brandColor;
    display: block;
    font-size: 0.813rem;
    height: 40px;
    left: 0;
    padding: 10px 50px 10px 10px;
    position: absolute;
    width: 100%;
  }

  .team-writeup h1 {
    font-weight: $medium;
    margin: 13px 0;
  }

  .team-writeup h2 {
    font-weight: $medium;
  }

  .team-writeup h5 {
    background-color: #333333;
    color: $brandColor;
    font-weight: $medium;
    margin: 0 0 20px 0;
    padding: 12px 14px;
    text-transform: uppercase;
  }

  .team-writeup p {
    font-size: 0.813rem;
    font-weight: $regular;
  }

  .team-info table {
    border-collapse: collapse;
    border-spacing: 1px;
    font-size: 0.813rem;
    height: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
  }

  .team-info > table thead tr:nth-child(even) {
    background-color: transparent;
    border: 0;
  }

  .team-info > table thead tr:nth-child(odd) {
    background-color: #333333;
    border: 0;
  }

  .team-info > table thead tr:nth-child(even) th {
    padding: 10px;
  }

  .team-info > table th {
    color: $brandColor;
    font-weight: $light;
    line-height: 0.875rem;
    padding: 14px;
    text-align: left;
    text-transform: uppercase;
  }

  .team-info > table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .team-info > table tr:nth-child(odd) {
    background-color: #ebebeb;
  }

  .team-info > table td {
    color: #000000;
    font-size: 0.813rem;
    font-weight: $regular;
    height: 60px;
    padding: 0 14px;
    vertical-align: middle;
  }

  .breadcrumbs,
  .team-writeup h1,
  .team-writeup h2,
  .team-writeup p {
    margin-left: 10px;
    margin-right: 10px;
  }

}

@include min-screen(768px) {

  .driver {
    float: left;
    margin: 0 0 40px 0;
    width: 50%;
  }

  .driver:first-of-type .img-wrapper {
    border-right: 1px solid #ffffff;
  }

  .team-info table {
    margin: 69px 0 0 0;
  }

  .breadcrumbs,
  .team-writeup h1,
  .team-writeup h2,
  .team-writeup p {
    margin-left: 0;
    margin-right: 0;
  }

}