@import "ontrack-base";

.content section.drivers-teams-panel.race-calendar {
  background: url("../images/masthead_ontrack_racecalendar.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
}

.desc-bar {
  position: relative;
  height: 140px;
}

.desc {
  bottom: 0;
  left: 0;
  position: absolute;
}

.desc h1 {
  color: $brandColor;
  font-size: 1.4rem;
  font-weight: $medium;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.race-calendar-details .chunk {
  margin: 40px auto;
}

.race-calendar-headers h5 {
  background-color: #333333;
  color: $brandColor;
  float: left;
  font-weight: $medium;
  margin: 0 0 25px 2%;
  padding: 12px 14px;
  text-transform: uppercase;
  width: 18%;
}

.race-calendar-headers h5:nth-child(1) {
  margin-left: 0;
  width: 60%;
}

.race-calendar-list table {
  font-size: 0.813rem;
  width: 100%;
}

.race-calendar-list colgroup:nth-child(1) {
  width: 62%;
}

.race-calendar-list colgroup:nth-child(2) {
  width: 20%;
}

.race-calendar-list colgroup:nth-child(3) {
  width: 18%;
}

.race-calendar-list tr {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.race-calendar-list td {
  color: #000000;
  font-size: 0.813rem;
  font-weight: $regular;
  min-height: 40px;
  padding: 10px 14px;
  vertical-align: top;
}

.race-calendar-list td:first-child {
  text-transform: uppercase;
}

@include min-screen(320px) {

  .race-calendar-headers h5 {
    font-size: 0.688rem;
  }

}

@include min-screen(768px) {

  .race-calendar-headers h5 {
    font-size: 0.83rem;
  }

}

@include max-screen(768px) {

  .press-release-article .writeup img{
    width: 100% !important;
    height: auto;  padding: 0 10px;
    margin: 0px;
  } 
  .press-release-article .writeup img.no-margin{
    width: 80px !important;
  }

  .press-release-article .writeup p, .press-release-article .writeup h2{
    padding: 0 10px;
  }

}
