@import "win-base";
@import "form-ui";

/* --- mixins ---*/
.highlight {
  background-color: yellow;
  padding: 5px;
  margin: 5px 0px 5px 0px;
}

h3.gold {
  color: $color-gold;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.highlight p {
  margin: 5px;
}
p.title {
  text-transform: uppercase;
}

.bucket figcaption {
  text-align: center;
  p {
    position: relative!important;
    padding-top: 0;
    padding-bottom: 0;
  }
  p:first-child {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  p:last-of-type {
    position: absolute!important;
    bottom: 20px;
    text-align: center;
    width: 100%;
    display: block;
  }
  hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1px;
    border-bottom: 1px solid $color-gold;
    width: 15px;
  }
}

h2 {
  font-weight: 200;
  margin: 0;
  padding: 0;
}

p {
  font-size: 13px;
  font-weight: 300;
}

div.half-content {
  width: 50%;
  float: left;
  display: block;

  a:link, a:visited {
    color: $color-gold;
    text-decoration: none;
  }
  a:hover, a:active {
    color: black;
    text-decoration: none;
  }
  h4 {
    margin: 0;
    font-size: 13px;
  }
  p {
    margin-top: 0;
  }
}
div.half-content:first-child {
  padding-right: 30px;
  border-right: 1px solid $color-lightgray;
}
div.half-content:last-child {
  padding-left: 30px;
}
div.half-content {
  ul, li {
    font-size: 13px;
    font-weight: 300;
  }
  // ul {
  //   margin: 0;
  //   padding: 0;
  // }
  li {
    margin-bottom: 10px;
  }
}
// div.image {
//   width: 70%;
//   float: left;
//   display: block;
// }

div.description {
  width: 100%;
  // float: left;
  display: block;
  hr {
    width: 300px;
    margin-left: 0;
  }
}

.content .chunk {
  margin: 35px auto;
}

.styled-button, .styled-select{
  width: 18%;
}
.styled-select.all-button {
  width: 14%!important;
}
.styled-select{
  margin-left: 20px;
}
.styled-button a{
  padding-left:10px;
  text-align: left;
}

.active{
  background-color: #8b8182;

  a{
    color:white;
    border-color: #8b8182;
  }
}


.blackHeader{
  @extend .styled-button;
  background-color: #000000;
  font-size: .813rem;
  padding-left:10px;
  margin-left:10;
  color: $color-gold;
  height: 45px;
  line-height: 45px;
}

.scheduleBar{
  @extend .filter-bar;
  border-top: 1px solid black;
  color: black;
}

.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #7a0001 transparent transparent transparent;
  position: absolute;
  margin-left: -22px;
}

.onTrack{
  color: rgb(189, 25, 25);
}

.firstCol,.thirdCol,.fourthCol{
  width:15%!important;
}
.secondCol{
  width:49%!important;
}

.scheduleContent{
  @extend .styled-button;
  font-size: .813rem;
  padding-left:10px;
  margin-left:10;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
  height: auto;
  line-height: auto;
  background-color: transparent;
}

.listing{
  float: left;
  list-style: none;
  margin: 0 1%;
  padding: 0;
  width: 100%;
}

.listing li{
  display: inline-block;
  margin: 0 16px 20px 0;
  position: relative;
}

nav{
  a{
    color:$color-gold-light;
  }
}

//clickable area
.make-space li {
  width:47%;
}

.make-space {
  margin-left:18%;
  display:none;
}

.make-space .xdesc,
.make-space .ximg {
  width:42%;
  display:inline-block;
  vertical-align:top;
}

.ximg img {
  width: 100%;
}

.make-space .xdesc h4,
.make-space .xdesc p {
  line-height:22px;
  margin:0;
}

.make-space .xdesc nav {
  position:absolute;
  bottom:5px;
  font-size:12px;
}

.clickable {
  cursor:pointer;
}

.icon-pdf{
  width: 40px;
  background-image: url("../images/icon-pdf.png");
  float: right;

  a{
    border: none;
  }
}

span.underlineText{
  font-weight: 200;
  margin: 0;
  padding: 0;

  padding-bottom: 10px;
  border-bottom: 1px solid #8A8A8A;
  display: inline;

  font-size: 1.5em;

}

@include max-screen(768px) {
  .route-map {
    .map, .info {
      display: block;
    }
  }
  div.half-content {
    width: 100%;
    display: block;
  }
  div.half-content:first-child {
    padding-right: 9px;
    border-right: 1px solid $color-lightgray;
  }
  div.half-content:last-child {
    padding-left: 0px;
  }

  .chunk.row {
    padding-left: 10px;
    padding-right: 10px;
  }
  span.underlineText{
    font-weight: 200;
    margin: 0;
    padding: 0;

    padding-bottom: 1px;
    border-bottom: 1px solid #8A8A8A;
    display: inline;

    font-size: 1.5em;

  }
  .triangle {
    margin-left: -30px;
  }
  .desc-bar {
    height: 50px;
  }
  .styled-button {
    width: 100%;
    margin-bottom: 10px;
    
  }
  .styled-button.icon-pdf {
      float: left;
      width: 40px;
      height: 40px;
    }
  .styled-select {
    margin-left: 0px;
  }
  .firstCol,.thirdCol,.fourthCol{
    width:100%!important;
  }
  .make-space {
    li {
      width: 100%;
    }
    margin-left:10px;
    display:none;
  }
  .secondCol{
    width:100%!important;
  }
  .scheduleBar {
    padding: 10px 10px 10px 35px;
  }
  .scheduleContent {
    text-align: left!important;
    margin: 0 0 10px 0;
    padding: 0;
    height: auto;
    line-height: 1.1em;
  }
  .blackHeader {
    display: none;
  }
}
@include min-screen(320px) {
  .content section.preamble {
    background-color: #ebebeb!important;
  }
  .content section.words {
    background-color: #f7f7f7;
  }
  .content section.selection {
    background: url("../images/masthead_raceguide.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
  }


  /* --- common style ---*/
  .form-row {
    margin: 0;
    overflow: hidden;

    &:first-child {
      margin-top: 20px;
    }

    &.checkboxes {
      margin-bottom: 10px;
    }
  }

  .form-grp {
    overflow: hidden;
    &.checkbox {
      float: left;
      margin: 0 6px;
      width: 30px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.checkbox-horizontal {
      margin-bottom: 20px;

      .checkbox {
        float: left;
        margin-right: 15px;
      }

      p {
        margin: 6px 0;
      }
    }
  }

  .checkbox {
    background-color: #fafafa; /* layer fill content */
    border: none;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .2); /* inner shadow */
    color: #000000;
    height: 30px;
    width: 30px;

    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      left: 5px;
      top: 5px;
      background: transparent;

      &:after {
        content: '';
        width: 16px;
        height: 8px;
        position: absolute;
        top: 4px;
        left: 2px;
        border: 3px solid #333333;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }

      &:hover::after {
        opacity: 0.3;
      }
    }

    input[type="checkbox"] {
      margin-bottom: 10px;
      visibility: hidden;
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox;
      appearance: checkbox;

      &:checked + label:after {
        opacity: 1;
      }
    }
  }

  .content section.autograph {
    background-color: $grey;
    border-bottom: 1px solid #ddd;
  }

  .content section.registration {
    box-shadow: none;
  }

  section.autograph .chunk:first-child {
    margin: 20px auto 20px;
  }

  section.autograph .chunk:nth-child(2) {
    margin: 20px auto 40px;
  }

  .breadcrumbs {
    font-size: 0.813rem;
    margin: 0 10px;
    text-transform: capitalize;
  }

  .breadcrumbs span {
    padding: 0 10px;
  }

  .writeup h2 {
    border-bottom: 1px solid #000000;
    font-weight: $medium;
    margin: 13px 0;
    padding-bottom: 13px;
  }

  .writeup p,
  .disclaimer p {
    font-size: 0.813rem;
    font-weight: $regular;
  }

  .disclaimer {
    text-align: right;
  }

  .disclaimer p {
    font-style: italic;
  }

  .disclaimer a {
    color: #000000;
    font-weight: $bold;
  }

  .form .img-wrapper {
    float: left;
    height: 50px;
    margin-left: 1%;
    margin-bottom: 2%;
    width: 48%;
  }
}

@include min-screen(768px) {
  .route-map {
    .map, .info {
      display: inline-block;
    }
    .map {
      width: 240px;
      text-align: center;
    }
    .info {
      width: 60%;
    }
  }

  .form-grp {
    &.checkbox {
      margin: 0 15px;
    }

    &.checkbox-horizontal {
      // float: left;
    }

    &.others {
      float: none;
      margin-bottom: 10px;
    }
  }

  .breadcrumbs {
    margin-left: 0;
    margin-right: 0;
  }

  .bucket {
    width: 49%;
  }

  .autograph .img-wrapper,
  .disclaimer {
    float: left;
  }

  .writeup,
  .form {
    float: right;
  }

  .writeup h2 {
    margin: 0 0 13px 0;
    padding-bottom: 13px;
  }

  .autograph .img-wrapper {
    height: 360px;
    margin-top: 8px;
  }

  .disclaimer {
    border-right: 1px solid #000000;
    height: 310px;
  }

  .disclaimer p {
    margin: 20px;
  }

  .disclaimer p:first-child {
    margin-top: 0;
  }

  input {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  input[name="firstName"] {
    float: left;
    width: 60%;
  }

  input[name="lastName"] {
    float: left;
    margin-left: 2%;
    width: 38%;
  }

  input[name="captcha"],
  input[type="submit"] {
    float: right;
    margin-left: 2%;
    width: 32%;
  }

  .form .img-wrapper {
    float: left;
    height: 50px;
    margin-left: 0;
    width: 32%;
  }

  #paddocklink{
  color:#bb9d5f;
  }
  #colborder{
  padding-left:20px;
  padding-right:20px;
  border-left: 1px solid #c6c6c6;
  }
  #textpadding{
  padding-left:20px;
  padding-right:20px;
  }

  #headercol{
  padding-bottom:10px;
  width:280px;
  border-bottom: 1px solid #000000;
  }
  .greyshadeone{
  background-color:#ebebeb;
  }
  .greyshadetwo{
  box-shadow:none;
  background-color:#f7f7f7;
  }
}