@import "tickets-base";

@include min-screen(320px) {

  .content .col,
  .booking-and-ticketing .mason-block:first-child {
    margin-bottom: 20px;
  }

  .content .col:last-child {
    margin-bottom: 0;
  }

  .content .selection .row:last-child {
    border-bottom: 0;
  }

  .top-bar {
    padding: 0;
  }

  .desc {
    margin: 0 auto;
    width: 70%;
  }

  .desc hr {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    width: 50px;
  }

  .desc h1 {
    color: $brandColor;
    font-size: 1.4rem;
    font-weight: $medium;
    letter-spacing: 0.5px;
    line-height: 1.5rem;
    margin: 0 0 10px;
    text-transform: uppercase;
  }

  .desc p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: $light;
    letter-spacing: 0.5px;
    line-height: 1.2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }

  .content .mason {
    background-color: #ffffff;
    font-size: 0.813rem;
    font-weight: $medium;
    letter-spacing: 1px;
  }

  .mason {
    .chunk {
      margin: 20px auto;

      &:first-child {
        margin-top: 40px;
      }
      &:last-child {
        margin-bottom: 40px;
      }
    }

    h3 {
      font-size: 1em;
      font-weight: $light;
      margin: 5px 0;
    }

    img {
      display: block;
      height: 240px;
    }
  }
  html[lang="cn"] .mason {
    h3 {
      font-size: 1.5em;
    }
  }

  .mason-block {
    background-color: #000000;
    height: 360px;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  .special-desc {
    position: absolute;
    top: 140px;
    height: 100px;
    padding: 10px;
    font-size: 0.750rem;
    text-align: center;
    background-color: rgba(0,0,0,0.5);

    a {
      color: #ffffff;
    }
  }
  html[lang="cn"] .special-desc {
    font-size: 0.875rem;
  }

  .caption {
    background-color: #000000;
    color: $brandColor;
    padding: 20px 2.5%;
    text-align: center;
    text-transform: uppercase;
  }

  .caption a {
    color: #ffffff;
    display: block;
    font-size: 0.813rem;
    margin: 5px 0;
    text-transform: none;
  }

  .caption a:hover {
    color: $brandColor;
  }

  .caption a:after {
    content: url($caret);
    margin-left: 8px;
    vertical-align: 5%;
  }

  .booking-and-ticketing .mason-block {
    cursor: pointer;
    height: 170px;

  }

  .booking-and-ticketing img {
    height: 100%;
  }

  .booking-and-ticketing .img-wrapper,
  .booking-and-ticketing .caption-wrapper {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
  }

  .booking-and-ticketing .img-wrapper {
    z-index: 8;
  }

  .booking-and-ticketing .caption-wrapper {
    padding: 5%;
  }

  .booking-and-ticketing .caption-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.4em; /* Adjusts for spacing */
  }

  .booking-and-ticketing .caption {
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    vertical-align: middle;
    width: 100%;
  }

}

@include min-screen(768px) {

  .content .col {
    margin-bottom: 0;
  }

  .desc p {
    margin-bottom: 0;
  }

  .top-bar {
    padding: 0 0 20px;
  }

  .all-tickets img {
    height: 360px;
  }

  .all-tickets .img-wrapper {
    float: right;
    width: 68%;
  }

  .all-tickets .caption-wrapper {
    float: left;
    width: 32%;
  }

  .all-tickets .caption-wrapper:before {
    content: '';
    display: inline-block;
    height: 360px;
    vertical-align: middle;
    margin-right: -0.4em; /* Adjusts for spacing */
  }

  .caption {
    display: inline-block;
    vertical-align: middle;
  }

}