@import "tickets-base";

small {
  font-size: 0.688rem;
}

.content section.selection {
  min-height: 0;
}

.tickets-listing h2 {
  font-weight: $light;
  line-height: 1.5rem;
  text-transform: capitalize;
  margin-top: 0;
}

.tickets-listing h2 small {
  font-size: 0.813rem;
  font-weight: $regular;
}

.detailText{
  margin-left:-30px;
}

@include screen(320px, 767px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .tickets-listing table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .tickets-listing > table tr {
    padding: 10px 0;
  }
  .tickets-listing > table tr:nth-child(odd) {
    background-color: #ebebeb;
  }

  .tickets-listing > table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .tickets-listing .three-day:nth-child(even) table tr {
    background-color: #ffffff;
    border: 0;
  }

  .tickets-listing .three-day:nth-child(even) table tr:last-child {
    border: 0;
  }

  .tickets-listing .three-day:nth-child(odd) table tr {
    background-color: #ebebeb;
    border: 0;
  }

  /* Behave like a "row" */
  .tickets-listing table td {
    border: none;
    position: relative;
    padding: 0 10%;
    text-align: center;
  }

  .tickets-listing table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    margin-right: 20px;
    white-space: nowrap;
  }

  .tickets-listing > table td a.button {
    background-color: $accentColor;
    color: #ffffff;
    font-weight: $medium;
    display: block;
    line-height: 52px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 79%;
    position: relative;
  }

  .tickets-listing > table td a.button:last-child:hover,
  .tickets-listing > table td a.button:hover {
    background-color: #333333;
    color: #ffffff;
  }

  .tickets-listing > table td a.button:last-child {
    background-color: #ebebeb;
    border-bottom: 0;
    color: #000000;
  }

  .tickets-listing > table td span.limited {
    background-color: #6D6D6D;
    color: #FFF;
    font-size: 7pt;
    margin: 8px 0 0;
    padding: 12px 0 0 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 35px;
    line-height: 9px;
  }
  .tickets-listing > table td span.selling-fast {
    background-color: #6D6D6D;
    color: #FFFFFF;
    font-size: 7pt;
    line-height: 14px;
    margin: 4px 0 0 0;
    padding: 15px 0 0 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 44px;
    line-height: 16px;
  }

  .tickets-listing > table td a.sold-out {
    background-color: #d6ccb3;
    color: #9e0b0f;
  }

  .tickets-listing > table td span.grayLimited {
    background-color: #6D6D6D;
    color: #FFF;
    font-size: 7pt;
    margin: 8px 0 0;
    padding: 15px 0 0 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 35px;
    line-height: 9px;
  }
}

@include screen(768px, 1024px) {

  .tickets-listing > table td span.limited {
    background-color: #6D6D6D;
    color: #FFF;
    font-size: 5pt;
    margin: 8px 0 0;
    padding: 13px 0;
    position: absolute;
    right: 4px;
    width: 48px;
    height: 44px;
    line-height: 12px;
  }
  .tickets-listing > table td span.selling-fast {
    background-color: #6D6D6D;
    color: #FFFFFF;
    font-size: 7pt;
    margin: 10px 0 0 0;
    padding: 15px 0 0 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 43px;
    line-height: 14px;
  }

  .tickets-listing > table td a.sold-out {
    background-color: #d6ccb3;
    color: #9e0b0f;
  }

  .tickets-listing > table td span.grayLimited {
    background-color: #6D6D6D;
    color: #FFF;
    font-size: 5pt;
    margin: 10px 0 0;
    padding: 15px 0;
    position: absolute;
    right: 4px;
    width: 48px;
    height: 44px;
    line-height: 12px;
  }
}

@include min-screen(1024px) {

  .tickets-listing > table td span.limited {
    background-color: #6D6D6D;
    color: #FFFFFF;
    font-size: 7pt;
    line-height: 14px;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    position: absolute;
    right: 10px;
    width: 52px;
    height: 44px;
    line-height: 12px;
  }
  .tickets-listing > table td span.selling-fast {
    background-color: #6D6D6D;
    color: #FFFFFF;
    font-size: 7pt;
    line-height: 14px;
    margin: 10px 0 0 0;
    padding: 9px 0 0 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 44px;
    line-height: 25px;
  }

  .tickets-listing > table td a.sold-out {
    background-color: #d6ccb3;
    color: #9e0b0f;
  }

  .tickets-listing > table td span.grayLimited{
    background-color: #6D6D6D;
    color: #FFFFFF;
    font-size: 7pt;
    line-height: 14px;
    margin: 44px 0 0 0;
    padding: 15px 0 0 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 44px;
    line-height: 12px;
  }
}

@include min-screen(768px) {

  .tickets-listing > table td span.grayLimited {
    margin: 42px 0 0 0;
  }

  .styled-select {
    width: 12%;

    a, select {
      font-size: 0.75rem;
    }

    select {
      width: 97%;
    }
  }

  /* --- listing table ---*/

  .tickets-listing h2 {
    font-weight: $light;
    line-height: 1.5rem;
    margin-top: 0;
  }

  .tickets-listing h2 small {
    font-size: 0.813rem;
    font-weight: $regular;
  }

  .tickets-listing table {
    border-collapse: collapse;
    border-spacing: 1px;
    font-size: 0.813rem;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .tickets-listing > table thead tr:nth-child(even) {
    background-color: transparent;
    border: 0;
  }

  .tickets-listing > table thead tr:nth-child(odd) {
    background-color: #333333;
    border: 0;
    border-bottom: 1px solid #ffffff;
  }

  .tickets-listing > table th {
    color: #ffffff;
    font-weight: $medium;
    line-height: 0.875rem;
    padding: 1.25% 2.5%;
  }

  .tickets-listing > table th:nth-child(3n) {
    color: $brandColor;
  }

  .tickets-listing > table th small {
    letter-spacing: 1px;
  }

  .tickets-listing > table tr {
    border-bottom: 1px solid #ffffff;
  }

  .tickets-listing > table tr:last-child {
    border-bottom: 0;
  }

  .tickets-listing > table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .tickets-listing > table tr:nth-child(even) td {
    border-left: 1px solid #ebebeb;
  }

  .tickets-listing > table tr:nth-child(even) td:first-child {
    border-left: none;
  }

  .tickets-listing > table tr:nth-child(even) td:nth-child(4n),
  .tickets-listing > table tr:nth-child(even) td:last-child {
    border-left: 1px solid #ffffff;
  }

  .tickets-listing > table tr:nth-child(odd) {
    background-color: #ebebeb;
  }

  .tickets-listing > table tr:nth-child(odd) td {
    border-left: 1px solid #ffffff;
  }

  .tickets-listing > table tr:nth-child(odd) td:first-child {
    border-left: none;
  }

  .tickets-listing > table td {
    color: #000000;
    font-size: 0.813rem;
    font-weight: $medium;
    padding: 0 3%;
    text-align: center;
    vertical-align: middle;
  }

  .tickets-listing > table td:nth-child(3n) {
    background-color: $brandColor;
  }

  .tickets-listing > table tr td:nth-child(1),
  .tickets-listing > table tr td:nth-child(2) {
    text-align: center;
  }

  .tickets-listing > table tr td:last-child {
    padding: 0;
  }

  .tickets-listing > table td p {
    line-height: 16px;
    margin: 0;
  }

  .tickets-listing > table td a.button {
    background-color: $accentColor;
    border-bottom: 1px solid #ffffff;
    color: #000000;
    font-weight: $medium;
    display: block;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
  }

  .tickets-listing > table tr.three-day td a.button {
    line-height: 80px;
  }

  .tickets-listing > table td a.button.full {
    line-height: 130px;
  }

  .tickets-listing > table td a.button:last-child:hover,
  .tickets-listing > table td a.button:hover {
    background-color: #333333;
    color: #ffffff;
  }

  .tickets-listing > table td a.button:last-child {
    background-color: #ebebeb;
    border-bottom: 0;
    color: #000000;
  }

  .tickets-listing > table td a.sold-out {
    background-color: #d6ccb3;
    color: #9e0b0f;
  }

  .tickets-listing > table .text-left {
    @include text_left;
  }

  .tickets-listing > table .price {
    font-weight: $bold;
  }

  .tickets-listing > table .row-hospitality {
    font-weight: $medium;
  }

  .tickets-listing .three-day > td:nth-child(2) {
    padding: 0;
  }

  .tickets-listing .three-day table {
    line-height: 0.813rem;
  }

  .tickets-listing .three-day:nth-child(even) table tr {
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
  }

  .tickets-listing .three-day:nth-child(even) table tr:last-child {
    border-bottom: 0;
  }

  .tickets-listing .three-day:nth-child(odd) table tr {
    background-color: #ebebeb;
  }

  .tickets-listing .three-day table tr td {
    color: #000000;
    font-size: 0.750rem;
    letter-spacing: 1px;
    padding: 5% 2%;
    vertical-align: top;
  }

  .tickets-listing .three-day table tr td:nth-child(even) {
    border-left: 0;
    text-align: left;
  }

  .tickets-listing .three-day table tr td:nth-child(odd) {
    border-left: 0;
    font-weight: $bold;
    text-align: center;
  }
}


        .regularpricing{
                    display: none;
}
        @media screen and (max-width: 768px) {

        .regularpricing{
            font-weight: bold;
            display: block;
        }
    }