@import "tickets-base";

@include min-screen(320px) {

  .content .row {
    margin-bottom: 20px;
    overflow: hidden;
  }

  .selection .row,
  .selection .chunk {
    margin-bottom: 0;
  }

  .desc-bar {
    height: 200px;
  }

  // "HR"
  .content section.selection:after {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    left: 0;
    position: absolute;
    bottom: 360px;
    width: 100%;
  }

  .desc p {
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }

  .filter-bar {
    margin-bottom: 20px;
  }

  .styled-button {
    background: $grey;
  }

  .styled-button.active {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
  }

  .styled-button.active a {
    border: 0;
    color: #ffffff;
  }

  /* sales channels */

  .sales-channels td {
    vertical-align: top;
  }

  .sales-channels td h3 {
    font-size: 1rem;
    font-weight: $regular;
  }

  .sales-channels td p {
    font-size: 0.813rem;
  }

}

@include min-screen(768px) {

  .desc-bar {
    height: 140px;
  }

  // "HR"
  .content section.selection:after {
    content: '';
    bottom: 80px;
  }

  .styled-button {
    width: 20%;
  }

  .styled-button:first-child {
    margin-left: 0;
  }

  .desc-bar {
    padding-right: 20%;
  }

  .sales-channels table {
    width: 100%;
  }

  .sales-channels tr {
    border-bottom: 1px solid #000000;
  }

  .sales-channels tr:last-child {
    border-bottom: 0;
  }

  .sales-channels td {
    padding: 20px 0;
  }

  .sales-channels tr:first-child td {
    padding-top: 0;
  }

  .sales-channels tr:last-child td {
    padding-bottom: 0;
  }

}