@import "tickets-base";

@include min-screen(320px) {

  .content .col {
    margin-bottom: 20px;
  }

  .content .col:last-child {
    margin-bottom: 0;
  }

  .content section.selection {
    background: url("../images/masthead_tickets_hotels.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
    font-size: 0.688rem;
  }

  .content .selection .row:last-child {
    border-bottom: 0;
  }

  .content .travel-packages.col {
    margin-bottom: 20px;
  }

  .top-bar {
    padding: 0;
  }

  .desc p {
    margin: 10px 0 0;
  }

  .hotels-and-travel .chunk {
    margin: 40px auto;
  }

  .caption-wrapper {
    background-color: #000000;
    color: $brandColor;
    padding: 3% 0;
  }


  .caption-wrapper:before {
    content: '';
    display: inline-block;
//    height: 100%;
    vertical-align: middle;
//    margin-right: 2em; /* Adjusts for spacing */
  }

  .caption {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .caption h4,
  .caption h5 {
    font-weight: $bold;
    margin: 0 0 5px 0;
    text-transform: uppercase;
  }

  .caption h4 {
    font-weight: $light;
    margin-bottom: 30px;
  }

  .caption a,
  .caption h5,
  .caption p {
    color: #ffffff;
  }

  .caption a,
  .caption p {
    font-size: 0.813rem;
  }

  .caption p {
    margin: 5px 0 20px;
  }

  .caption a {
    font-size: 0.750rem;
  }

  .caption a:hover {
    color: $brandColor;
  }

  .caption a:after {
    content: url($caret);
    margin-left: 8px;
    vertical-align: 4%;
  }

  .travel-packages .caption {
    padding: 0 20%;
  }

  .hotel-packages .caption {
    margin-bottom: 40px;
  }

  .hotel-packages:after .caption p {
    height: 180px;
  }

  .economy,
  .business,
  .allinclusive{
    float: left;
    padding: 0 5%;
    width: 33%;
    margin-bottom: 30px;
  }

  .economy {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }

  .business{
    color: #d2ad6e;
    font-style: normal;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .allinclusive{
    color: #d2ad6e;
    font-style: normal;
  }


  .hotel-packages .caption-wrapper {
    display: block;
    width: 100%;
  }

  .hotel-packages .img-wrapper{
    display:block;
    width: 100%;
  }

  #allincl{
    width:100%;
    height:477px;
    align:center;
    vertical-align: middle;
    margin:10px;
    overflow:hidden;
  }
  .ai-title-wrapper{
    background-color:#000000;
    width:100%;
    height:10%;

  }
  .ai-title{
    padding-top:15px;
    padding-bottom: 15px;
    text-align:center;
    vertical-align: middle;
    color:#bb9d5f;
  }


  .ai-content{
    background-color:rgba(0,0,0,0);
    margin-top:20px;
    height:90%;
    display:block;

  }
  .ai-caption-wrapper{
    float:left;
    width:100%;
    height:45%;
    overflow:hidden;
  }
  .ai-img{
    display:none;
  }
  .ai-caption{
    margin: 0 0 5px 0;
    text-transform: uppercase;
    color:#bb9d5f;
    text-align:center;
    vertical-align: middle;
    margin-top:30px;
  }
  .ai-caption h4{
    font-family:Roboto;
  }
  .ai-caption a{
    font-size:0.75rem;
    font-weight:bold;
  }
  .ai-caption a:hover {
    color: $brandColor;
  }

  .ai-caption a:after {
    content: url($caret);
    margin-left: 8px;
    vertical-align: 4%;
  }

  .breakline{
    display:block;
  }
}


@include min-screen(768px) {

  .content .col {
    margin-bottom: 0;
  }

  .hotels-and-travel .img-wrapper,
  .hotels-and-travel .caption-wrapper {
    height: 400px;
    float: left;
    width: 50%;
  }


  .hotel-packages .caption-wrapper {
    float: left;
    width: 100%;
  }

  .hotel-packages .img-wrapper{
    float: left;
    width: 0%;
    overflow:hidden;
  }

  .hotels-packages .img-wrapper,
  .hotels-packages .caption-wrapper {
    height: 400px;
  }

  #allincl{
    width:700px;
  }

  .ai-img-wrapper,
  .ai-caption-wrapper{
    float:left;
    width:50%;
    height:45%;
    overflow:hidden;

  }
  .ai-img{
    display:block;
  }

  .breakline{
    display:none;
  }
}

@include min-screen(1028px) {


  .hotel-packages .caption-wrapper {
    float: left;
    width: 75%;
  }

  .hotel-packages .img-wrapper{
    float: left;
    width: 25%;
    overflow:hidden;
  }
}