@import "tickets-base";
@import "form-ui";

@include min-screen(320px) {

  .content .col {
    margin-bottom: 20px;
  }

  .content .col:last-child {
    margin-bottom: 0;
  }

  .content section {
    box-shadow: none;
  }

  .content section:nth-child(1),
  .content section:nth-child(2) {
    box-shadow: $insetShadow;
  }

  .content section.selection {
    background: url("../images/masthead_tickets_hospitality.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
    font-size: 0.688rem;
  }

  .content .selection .row:last-child {
    border-bottom: 0;
  }

  .content .travel-packages.col {
    margin-bottom: 20px;
  }

  .top-bar {
    padding: 0;
  }

  .desc p {
    margin: 10px 0 0;
  }

  .writeup h2 {
    border-bottom: 1px solid #000000;
    font-weight: $medium;
    margin: 13px 0;
    padding-bottom: 13px;
  }

  .writeup ul,
  .writeup p,
  .disclaimer p {
    font-size: 0.813rem;
    font-weight: $regular;
  }

  .writeup ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  .disclaimer {
    text-align: right;
  }

  .disclaimer h2,
  .disclaimer p {
    margin-right: 1%;
  }

  .disclaimer a {
    color: #000000;
    font-weight: $bold;
  }

  .disclaimer h2 {
    font-weight: $medium;
    margin-top: 0;
  }

  .content section.contact-us {
    background-color: #000000;
    text-align: center;
  }

  .caption-wrapper {
    background-color: #000000;
    color: $brandColor;
    padding: 0 3%;
  }

  .caption-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.4em; /* Adjusts for spacing */
  }

  .caption {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  .caption h4,
  .caption h5 {
    font-weight: $bold;
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }

  .caption h4 {
    font-weight: $light;
  }

  .caption h5 {
    margin-top: 10px;
  }

  .caption a,
  .caption h5,
  .caption p {
    color: #ffffff;
  }

  .caption a:hover {
    color: $brandColor;
  }

  .caption p {
    font-size: 0.813rem;
    margin: 5px 0;
  }

  .form .img-wrapper {
    float: left;
    height: 50px;
    margin-left: 1%;
    margin-bottom: 2%;
    width: 48%;
  }

}

@include min-screen(768px) {

  .content .col {
    margin-bottom: 0;
  }

  .bucket {
    width: 49%;
  }

  .expectations .img-wrapper,
  .experiential .writeup,
  .disclaimer {
    float: left;
  }

  .expectations .writeup,
  .experiential .img-wrapper,
  .form {
    float: right;
  }

  .writeup h2 {
    margin: 0 0 13px 0;
    padding-bottom: 13px;
  }

  .expectations .img-wrapper,
  .experiential .img-wrapper {
    height: 360px;
    margin-top: 8px;
  }

  .disclaimer {
    border-right: 1px solid #000000;
    height: 290px;
  }

  .disclaimer h2,
  .disclaimer p {
    margin: 20px;
    margin-left: 0;
  }

  .disclaimer h2 {
    margin-top: 0;
  }

  .disclaimer p:first-child {
    margin-top: 0;
  }

  input {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  input[name="firstName"] {
    float: left;
    width: 60%;
  }

  input[name="lastName"] {
    float: left;
    margin-left: 2%;
    width: 38%;
  }

  input[name="captcha"],
  input[type="submit"] {
    float: right;
    margin-left: 2%;
    width: 32%;
  }

  .form .img-wrapper {
    float: left;
    height: 50px;
    margin-left: 0;
    width: 32%;
  }
}