@import "tickets-base";

@include min-screen(320px) {

  .content .row {
    margin-bottom: 20px;
    overflow: hidden;
  }

  .selection .row,
  .selection .chunk,
  .content .selection .chunk:last-child {
    margin-bottom: 0;
  }

  .content .selection .row {
    border-bottom: none;
  }

  .content .selection .chunk.row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .desc-bar {
    position: static;
    height: auto;
  }

  .desc {
    position: static;
  }

  .venue-map,
  #map {
    height: 500px;
    width: 100%;
  }

  /* sales channels */

  .self-collection-venues tr {
    border-bottom: 1px solid #000000;
  }

  .self-collection-venues tr:last-child {
    border-bottom: 0;
  }

  .self-collection-venues td {
    padding: 5px;
    vertical-align: top;
  }

  .self-collection-venues td h3 {
    font-size: 0.813rem;
    font-weight: $regular;
  }

  .self-collection-venues td p {
    font-size: 0.725rem;
  }

}

@include min-screen(768px) {

  .self-collection-venues table {
    width: 100%;
  }

  .self-collection-venues td {
    padding: 20px 0;
  }

  .self-collection-venues tr:first-child td {
    padding-top: 0;
  }

  .self-collection-venues tr:last-child td {
    padding-bottom: 0;
  }

  .self-collection-venues td h3 {
    font-size: 1rem;
  }

  .self-collection-venues td p {
    font-size: 0.813rem;
  }

}