@import "tickets-base";

@include min-screen(320px) {
  .content .row {
    overflow: hidden;
  }

  .content .selection .row,
  .content .selection .chunk {
    margin-bottom: 0;
  }

  .filter-bar {
    margin-bottom: 20px;
  }

  #confirmation-modal {
    display: none;
  }

  /* --- details header ---*/

  .tickets-details h2 {
    color: $brandColor;
    font-size: 1.5rem;
    font-weight: $medium;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin-top: 0;
  }

  .tickets-details h2 small {
    font-size: 0.813rem;
    font-weight: normal;
  }

  /* --- pricing ---*/

  .tickets-pricing table {
    border-collapse: collapse;
    border-spacing: 1px;
    font-size: 0.813rem;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .tickets-pricing > table thead tr:nth-child(even) {
    background-color: transparent;
    border: 0;
  }

  .tickets-pricing > table thead tr:nth-child(odd) {
    background-color: #333333;
    border: 0;
  }

  .tickets-pricing > table th {
    color: $brandColor;
    font-weight: $light;
    line-height: 0.875rem;
    padding: 5%;
    text-align: left;
    text-transform: uppercase;
  }

  .tickets-pricing > table thead tr:nth-child(even) th {
    padding: 10px;
  }

  .tickets-pricing > table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .tickets-pricing > table tr:nth-child(odd) {
    background-color: #ebebeb;
  }

  .tickets-pricing > table td {
    color: #000000;
    font-size: 0.813rem;
    font-weight: $medium;
    height: 60px;
    padding: 0 5%;
    vertical-align: middle;
  }

  .tickets-pricing > table td:nth-child(even) {
    text-align: center;
  }

  .tickets-pricing > table tr.spacer td {
    height: 20px;
  }

  .tickets-pricing > table td:last-child {
    padding: 0;
  }

  .tickets-pricing > table td i {
    font-size: 1.2rem;
    font-style: normal;
  }

  .tickets-pricing > table td a.button {
    background-color: #ebebeb;
    color: #000000;
    display: block;
    font-weight: $medium;
    float: left;
    padding: 12px 10%;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
  }

  html[lang="cn"] .tickets-pricing > table td a.button {
    padding: 21px 10%;
  }

  .tickets-pricing > table td a.button.full {
    background-color: #ebebeb !important;
    color: #000000 !important;
    width: 100%;
  }

  .tickets-pricing > table td a.button:last-child {
    background-color: $accentColor;
    border-bottom: 0;
    color: #000000;
    padding: 21px 10%;
  }

  .tickets-pricing > table td a.button:last-child:hover,
  .tickets-pricing > table td a.button.full:hover,
  .tickets-pricing > table td a.button:hover {
    background-color: #333333 !important;
    color: #ffffff !important;
  }

  .tickets-pricing > table td a.sia-button.button {
    background-color: #173066 !important;
    color: $accentColor!important;
  }
  .tickets-pricing > table td a.sia-button.button:hover {
    background-color: #173066 !important;
    color: $accentColor!important;
  }

  /* --- confirm buy ---*/

  .confirm-buy table {
    border-collapse: collapse;
    border-spacing: 1px;
    font-size: 0.813rem;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .confirm-buy > table thead tr:nth-child(1) {
    background-color: #000000;
  }

  .confirm-buy > table th {
    color: $brandColor;
    font-weight: $light;
    line-height: 0.875rem;
    padding: 3.5%;
  }

  .confirm-buy > table th:nth-child(3n) {
    color: $brandColor;
  }

  .confirm-buy > table th small {
    letter-spacing: 1px;
  }

  .confirm-buy > table tbody tr:nth-child(1) {
    background-color: #ffffff;
  }

  .confirm-buy > table td {
    color: #000000;
    font-size: 0.875rem;
    font-weight: $medium;
    padding: 3%;
    text-align: left;
    vertical-align: top;
  }

  .confirm-buy > table tr:nth-child(1) td:nth-child(odd) {
    background-color: #ebebeb;
  }

  .confirm-buy > table tr:nth-child(1) {
    border-bottom: 1px solid #000000;
  }

  .confirm-buy > table tr:last-child td {
    padding: 0;
  }

  .confirm-buy > table td p {
    font-size: 1.5rem;
    font-weight: $bold;
    margin: 0;
    text-align: center;
  }

  .confirm-buy > table td a.button {
    background-color: $accentColor;
    border-bottom: 1px solid #000000;
    color: #000000;
    font-weight: $medium;
    display: block;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
  }

  .confirm-buy > table td a.button:hover {
    background-color: #333333;
    color: #ffffff;
  }

  /* --- map ---*/

  .tickets-details .zones {
    bottom: 15px;
    position: absolute;
    right: 60%;
  }

  .zones table {
    background-color: $brandColor;
    border: 1px solid #000000;
    text-align: center;
    width: 100%;
  }

  .zones table th {
    font-size: 0.625rem;
    font-weight: $regular;
    letter-spacing: 2px;
    padding: 5px 10px;
    text-transform: uppercase;
  }

  .zones table td {
    background-color: #767137;
    border: 1px solid #000000;
    font-size: 1.5rem;
    padding: 5px 10px;
  }

  .zones table td.accessible {
    background-color: $brandColor;
  }

  /* --- writeup ---*/

  .tickets-writeup-full p,
  .tickets-writeup p {
    font-size: 0.84rem;
    letter-spacing: 0.2px;
  }

  .tickets-writeup-full hr,
  .tickets-writeup hr {
    border: 0;
    border-bottom: 1px solid #000000;
    height: 10px;
  }

  .tickets-writeup-full h2,
  .tickets-writeup h2 {
    font-weight: $medium;
    margin: 0 0 18px;
  }

  .tickets-writeup-full h5,
  .tickets-writeup h5 {
    font-weight: $regular;
    margin: 0;
    padding: 14px 0;
    text-transform: uppercase;
  }

  .tickets-writeup-full h5:first-of-type,
  .tickets-writeup h5:first-of-type {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-transform: none;
  }

  .tickets-writeup-full a,
  .tickets-writeup a {
    color: #000000;
    font-weight: $bold;
  }

  /* --- extras --- */

  .tickets-extras img {
    display: block;
    height: 100%;
    width: 100%;
  }

  .tickets-extras .row {
    margin-bottom: 0;
  }

  .tickets-extras .img-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .tickets-extras .img-wrapper .prev {
    background: transparent url($prevArrow) no-repeat 0 0;
    height: 40px;
    left: 0;
    position: absolute;
    bottom: 51px;
    width: 40px;
  }

  .tickets-extras .img-wrapper .next {
    background: transparent url($nextArrow) no-repeat 0 0;
    height: 40px;
    position: absolute;
    bottom: 51px;
    right: 0;
    width: 40px;
  }

  .related-photos ul {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .related-photos li {
    background-color: #000000;
    display: block;
    float: left;
    height: 100%;
    text-align: center;
  }

  .related-photos img {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }

  .panoramic-view .img-wrapper {
    overflow: hidden;
  }

  .panoramic-view .img-wrapper img {
    width: auto;
  }

  .other-photos .img-wrapper {
    background-color: #000000;

    img {
      height: auto;
      //      margin: 0 auto;
      width: 100%;
    }
  }

  figure {
    height: 348px;
    margin: 0 0 20px;
    position: relative;
    overflow: hidden;
  }

  .seating-plans figure {
    margin: 0;
  }

  figcaption {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: $brandColor;
    font-size: 0.813rem;
    left: 0;
    padding: 17px 15px;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
  }

}

@include screen(320px, 767px) {
  /* Force table to not be like tables anymore */
  .tickets-details table.details
  .tickets-details table.details thead,
  .tickets-details table.details tbody,
  .tickets-details table.details th,
  .tickets-details table.details td,
  .tickets-details table.details tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .tickets-details table.details thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .tickets-details > table.details tr {
    padding: 10px 0;
    background-color: #ffffff;
  }

  /* Behave like a "row" */
  .tickets-details table.details td {
    border: none;
    font-size: 0.813rem;
    position: relative;
    padding: 0 10%;
    text-align: center;
  }

  .tickets-details table.details td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    margin-right: 20px;
    white-space: nowrap;
  }

  .tickets-details > table.details td a.button {
    background-color: $accentColor;
    color: #000000;
    font-weight: $medium;
    display: block;
    line-height: 35px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
  }

  .tickets-details > table.details td a.button:last-child:hover,
  .tickets-details > table.details td a.button:hover {
    background-color: #333333;
    color: #ffffff;
  }

  .tickets-details > table.details td a.button:last-child {
    background-color: #ebebeb;
    border-bottom: 0;
    color: #000000;
  }

  tr.three-day table {
    width: 100%;
  }

  .tickets-details > table td span.limited {
    background-color: #6D6D6D;
    color: #FFF;
    font-size: 7pt;
    margin: 9px 0 0;
    padding: 9px 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 35px;
    line-height: 23px;
  }
  .tickets-details > table td span.selling-fast {
    background-color: #6D6D6D;
    color: #FFFFFF;
    font-size: 7pt;
    line-height: 14px;
    margin: 10px 0 0 0;
    padding: 9px 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 44px;
    line-height: 16px;
  }
  .tickets-details > table td a.sold-out, a.sold-out {
    background-color: #d6ccb3 !important;
    color: #9e0b0f;
  }
}


@include screen(768px, 1024px) {
  .tickets-details > table td span.limited {
    background-color: #6D6D6D;
    color: #FFF;
    font-size: 5pt;
    margin: 10px 0 0;
    padding: 9px 0;
    position: absolute;
    right: 4px;
    width: 48px;
    height: 44px;
    line-height:  24px;
  }
  .tickets-details > table td span.selling-fast {
    background-color: #6D6D6D;
    color: #FFFFFF;
    font-size: 7pt;
    margin: 10px 0 0 0;
    padding: 9px 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 43px;
    line-height: 14px;
  }
  .tickets-details > table td a.sold-out, a.sold-out {
    background-color: #d6ccb3 !important;
    color: #9e0b0f;
  }
}

@include min-screen(1024px) {
  .tickets-details > table td span.limited {
    background-color: #6D6D6D;
    color: #FFFFFF;
    font-size: 7pt;
    line-height: 14px;
    margin: 11px 0 0 0;
    padding: 9px 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 44px;
    line-height: 23px;
  }
  .tickets-details > table td span.selling-fast {
    background-color: #6D6D6D;
    color: #FFFFFF;
    font-size: 7pt;
    line-height: 14px;
    margin: 10px 0 0 0;
    padding: 9px 0;
    position: absolute;
    right: 10px;
    width: 72px;
    height: 44px;
    line-height: 25px;
  }
  .tickets-details > table td a.sold-out, a.sold-out {
    background-color: #d6ccb3 !important;
    color: #9e0b0f;
  }
}



@include min-screen(768px) {

  .styled-select {
    width: 12%;

    a, select {
      font-size: 0.75rem;
    }

    select {
      width: 97%;
    }
  }

  .tickets-details .map {
    margin-top: 20px;
    position: relative;
  }

  /* --- details table ---*/

  .tickets-details h2 {
    color: $brandColor;
    font-size: 1.5rem;
    font-weight: $medium;
    line-height: 1.5rem;
    letter-spacing: 1px;
  }

  .tickets-details h2 small {
    font-size: 0.813rem;
    font-weight: normal;
  }

  .tickets-details table {
    border-collapse: collapse;
    border-spacing: 1px;
    font-size: 0.813rem;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }

  .tickets-details > table thead tr:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .confirm-buy > table thead tr:nth-child(1) {
    background-color: #000000;
  }

  .tickets-details > table th,
  .confirm-buy > table th {
    color: #ffffff;
    font-weight: $regular;
    line-height: 0.875rem;
    padding: 1% 3.5%;
  }

  .confirm-buy > table th {
    color: $brandColor;
    padding: 3.5%;
  }

  .tickets-details > table th:nth-child(3n),
  .confirm-buy > table th:nth-child(3n) {
    color: $brandColor;
  }

  .tickets-details > table th small,
  .confirm-buy > table th small {
    letter-spacing: 1px;
  }

  .tickets-details > table tbody tr:nth-child(1),
  .confirm-buy > table tbody tr:nth-child(1) {
    background-color: #ffffff;
  }

  .tickets-details > table tbody tr {
    border-bottom: 1px solid black;
  }

  .tickets-details > table tr td {
    border-left: 1px solid #000000;
  }

  .tickets-details > table tr td:first-child {
    border-left: none;
  }

  .tickets-details > table td,
  .confirm-buy > table td {
    background-color: #ffffff;
    color: #000000;
    font-size: 0.875rem;
    font-weight: $medium;
    padding: 0 3%;
    text-align: center;
    vertical-align: middle;
  }

  .confirm-buy > table td {
    padding: 3%;
    text-align: left;
    vertical-align: top;
  }

  .confirm-buy > table tr:nth-child(1) td:nth-child(odd) {
    background-color: #ebebeb;
  }

  .confirm-buy > table tr:nth-child(1) {
    border-bottom: 1px solid #000000;
  }

  .tickets-details > table td:nth-child(3n) {
    background-color: $brandColor;
  }

  .tickets-details > table tr td:nth-child(1),
  .tickets-details > table tr td:nth-child(2) {
    text-align: center;
  }

  .tickets-details > table tr td:last-child,
  .confirm-buy > table tr:last-child td {
    padding: 0;
  }

  .tickets-details > table td p {
    line-height: 16px;
  }

  .tickets-details > table td p,
  .confirm-buy > table td p {
    margin: 0;
  }

  .confirm-buy > table td p {
    font-size: 1.5rem;
    font-weight: $bold;
    text-align: center;
  }

  .tickets-details > table td a.button,
  .confirm-buy > table td a.button {
    background-color: $accentColor;
    border-bottom: 1px solid #000000;
    color: #000000;
    font-weight: $medium;
    display: block;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
  }

  .tickets-details > table tr.three-day td a.button {
    line-height: 80px;
  }

  .tickets-details > table td a.button.full {
    line-height: 130px;
  }

  .tickets-details > table td a.button:last-child:hover,
  .tickets-details > table td a.button:hover,
  .confirm-buy > table td a.button:hover {
    background-color: #333333;
    color: #ffffff;
  }

  .tickets-details > table td a.button:last-child {
    background-color: #ebebeb;
    border-bottom: 0;
    color: #000000;
  }

  .tickets-details > table td a.selling-fast {
    background-color: #ff0000;
  }

  .tickets-details > table .text-left {
    @include text_left;
  }

  .tickets-details > table .price {
    font-weight: $bold;
  }

  .tickets-details > table .row-hospitality {
    font-weight: $medium;
  }

  .tickets-details .three-day > td:nth-child(2),
  .confirm-buy .three-day > td:nth-child(2) {
    padding: 0;
  }

  .tickets-details .three-day table,
  .confirm-buy .three-day table {
    line-height: 0.813rem;
  }

  .tickets-details .three-day:nth-child(even) table tr,
  .confirm-buy .three-day:nth-child(even) table tr {
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
  }

  .tickets-details .three-day:nth-child(even) table tr:last-child,
  .confirm-buy .three-day:nth-child(even) table tr:last-child {
    border-bottom: 0;
  }

  .tickets-details .three-day:nth-child(odd) table tr,
  .confirm-buy .three-day:nth-child(odd) table tr {
    background-color: #ebebeb;
  }

  .tickets-details .three-day table tr td,
  .confirm-buy .three-day table tr td {
    color: #000000;
    font-size: 0.750rem;
    letter-spacing: 1px;
    padding: 5% 2%;
    vertical-align: top;
  }

  .tickets-details .three-day table tr td:nth-child(even),
  .confirm-buy .three-day table tr td:nth-child(even) {
    border-left: 0;
    text-align: left;
  }

  .tickets-details .three-day table tr td:nth-child(odd),
  .confirm-buy .three-day table tr td:nth-child(odd) {
    border-left: 0;
    text-align: center;
  }

  /* --- pricing ---*/

  .tickets-pricing table {
    margin: 50px 0 0 0;
  }

  /* --- map --- */

  .tickets-details .zones {
    right: 68%;
  }

}