@import "tickets-base";

@include min-screen(320px) {

  .content .row {
    margin-bottom: 20px;
    overflow: hidden;
  }

  .selection .row,
  .selection .chunk {
    margin-bottom: 0;
  }

  .desc-bar {
    height: 220px;
  }

  // "HR"
  .content section.selection:after {
    content: '';
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    left: 0;
    position: absolute;
    bottom: 440px;
    width: 100%;
  }

  .desc p {
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
  }

  .filter-bar {
    margin-bottom: 20px;
  }

  .styled-button {
    background: $grey;
  }

  .styled-button.active {
    background-color: rgba(255, 255, 255, 0.4);
    color: #ffffff;
  }

  .styled-button.active a {
    border: 0;
    color: #ffffff;
  }

  .styled-select.active {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .styled-select select {
    outline: none;
  }

  .styled-select.active select {
    border: none;
    color: #ffffff;
  }

  /* --- sales channel ---*/

  .sales-channels td {
    vertical-align: top;
  }

  .sales-channels td h3 {
    font-size: 1rem;
    font-weight: $regular;
  }

  .sales-channels td p {
    font-size: 0.813rem;
  }

  .breadcrumbs {
    font-size: 0.813rem;
    margin: 0 10px;
    text-transform: capitalize;
  }

  .breadcrumbs span {
    padding: 0 10px;
  }

  table.region td {
    padding: 0 2%;
    vertical-align: top;
  }

  table.region td:first-child {
    padding-left: 0;
  }

}

@include min-screen(768px) {

  .desc-bar {
    height: 180px;
  }

  // "HR"
  .content section.selection:after {
    content: '';
    bottom: 80px;
  }

  .styled-select {
    margin-right: 1%;
    margin-bottom: 1%;
    width: 15%;
  }

  .styled-button:first-child {
    margin-left: 0;
  }

  .styled-select:first-child {
    margin-left: 0;
    // width: 26%;
  }

  .desc-bar {
    padding-right: 20%;
  }

  /* --- sales channel ---*/

  .breadcrumbs {
    margin: 0;
  }

  .sales-channels table {
    width: 100%;
  }

  .sales-channels tr {
    border-bottom: 1px solid #000000;
  }

  .sales-channels tr:last-child {
    border-bottom: 0;
  }

  .sales-channels td {
    padding: 20px 0;
  }

  .sales-channels tr:first-child td {
    padding-top: 0;
  }

  .sales-channels tr:last-child td {
    padding-bottom: 0;
  }

}