@import "win-base";

/* --- mixins ---*/

@include min-screen(320px) {
  /* --- common style ---*/

  .pit-stop-challenge .chunk:first-child {
    margin: 20px auto 20px;
  }

  .pit-stop-challenge .chunk:nth-child(2) {
    background-color: #000000;
    margin: 20px auto 40px;
  }

  .pit-stop-challenge iframe {
    display: block;
    margin: 0 auto;
    overflow: hidden;
  }

  .breadcrumbs {
    font-size: 0.813rem;
    margin: 0 10px;
    text-transform: capitalize;
  }

  .breadcrumbs span {
    padding: 0 10px;
  }

}

@include min-screen(768px) {

  .breadcrumbs {
    margin-left: 0;
    margin-right: 0;
  }

}