@import "win-base";

/* --- mixins ---*/

@mixin read_more {
  color: #ffffff;
  font-size: 0.750rem;
  font-weight: $medium;
  position: relative;
}

@mixin read_more_caret {
  content: url($caret);
  position: absolute;
  top: 0;
  right: -10px;
  line-height: 14px;
}

@include min-screen(320px) {

  /* --- common style ---*/

  .content .mason {
    background-color: #ffffff;
    font-size: 0.813rem;
    font-weight: $medium;
    letter-spacing: 1px;
  }

  .mason .row {
    overflow: hidden;
  }

  .mason img {
    display: block;
    height: 240px;
  }

  .mason-block {
    background-color: #000000;
    height: 360px;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-align: center;
  }

  .caption {
    background-color: #000000;
    color: $brandColor;
    padding: 20px 2.5%;
    text-align: center;
    text-transform: uppercase;
  }

  .caption a {
    color: #ffffff;
    display: block;
    margin: 5px 0;
    text-transform: none;
  }

  // .caption a:hover {
  //   color: $brandColor;
  // }

  .caption a:after {
    content: url($caret);
    margin-left: 8px;
    vertical-align: 5%;
  }

  /* --- content bucket ---*/

  .bucket {
    margin-bottom: 20px;
  }

  .bucket figure {
    background-color: #000000;
    color: #ffffff;
    margin: 0 auto;
  }

  .bucket figure .img-wrapper {
    overflow: hidden;
    position: relative;
  }

  .bucket figure img {
    width: 100%;
    height: 100%;
  }

  .bucket figure i {
    background-color: $brandColor;
    bottom: 0;
    color: #000000;
    font-size: 0.750rem;
    font-style: normal;
    font-weight: $regular;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 120px;
  }

  .bucket figcaption {
    color: $brandColor;
    height: 120px;
    overflow: hidden;
    position: relative;
    text-align: center;
  }
  .bucket figcaption p:first-child,
  .caption p:first-child {
    text-transform: uppercase;
  }
  .caption p,
  .bucket figcaption p {
    font-size: 1.05rem;
    font-weight: $light;
    line-height: 1.2rem;
    letter-spacing: 0.02rem;
    margin: 0;
    padding: 16px;
  }
  hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 1px;
    border-bottom: 1px solid $color-gold;
    width: 15px;
  }
  .caption p:last-of-type,
  .bucket figcaption p:last-of-type {
    padding: 0;
    margin-top: 15px;
    // position: absolute;
    // bottom: 0;
  }

  .bucket figcaption a,
  .caption a {
    @include read_more;
  }

  .bucket figcaption a:after {
    @include read_more_caret;
  }
  .caption a:hover,
  .bucket figcaption a:hover {
    color: $brandColor;
  }

  .mason-block{
    width:100%;
    height:auto;
  }
  .wallpaper-download img{
    width:100%;
    height:auto;
  }
  .row{
    margin-bottom:20px
  }
  .hidden-wrapper i{
    background-color: #bb9d5f;
    bottom: 138px;
    color: #000;
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    left:0;
    padding: 10px;
    position: absolute;
    width: 120px;

  }
}

@include min-screen(768px) {

  .mason .row {
    margin-bottom: 20px;
  }

  .bucket {
    margin-bottom: 0;
    width: 49%;
  }

  .row {
    .contest {
      float: left;
      margin-right: 10px;
      width: 32.5%!important;
      height: 360px;
      .img-wrapper {
        height: 240px;
      }
    }

    .contest:last-child {
      margin-right: 0px;
    }
  }

  .challenge:nth-child(odd) {
    float: left;
  }

  .challenge:nth-child(even) {
    float: right;
  }

  .wallpaper-download img {
    height: 360px;
  }

  .wallpaper-download .img-wrapper {
    float: right;
    width: 68%;
  }

  .wallpaper-download .caption-wrapper {
    float: left;
    width: 32%;
  }

  .wallpaper-download .caption-wrapper:before {
    content: '';
    display: inline-block;
    height: 360px;
    vertical-align: middle;
    margin-right: -0.4em; /* Adjusts for spacing */
  }

  .caption {
    display: inline-block;
    vertical-align: middle;
  }

  .wallpaper-download img{
    height:100%;
    width:auto;
  }
  .hidden-wrapper i{
    left: 32%;
    bottom:0;
  }
}