// "overwrite" past headliners
@import "offtrack-pastheadliners";

@include min-screen(320px) {

  .content section.selection-panel {
    background: url("../images/masthead_contest.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
    min-height: 305px;
  }

  .content .chunk {
    margin: 40px auto;
  }

  .content .wallpapers .chunk {
    margin: 40px auto 20px;
  }

  .content section:nth-child(n+3) {
    box-shadow: none;
  }

  .desc{
    margin:0 10px;
  }

  .heading{
    margin:0 10px;
  }
  .wallpapers {
    ul {
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    li {
      float: left;
      width: 100%;
      margin: 0 0 20px;
    }
  }

  .wallpaper {
    overflow: hidden;
    text-align: center;

    img {
      height: 184px;
      margin: 0;
      width: auto;
    }

    p {
      font-size: 0.813rem;
      font-weight: $regular;
      margin-bottom: 0;
      text-align: center;
    }

    a {
      color: #000000;
      padding-left: 20px;
      position: relative;

      &:before {
        content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAYAAAAvZezQAAAAN0lEQVQYV2PYPTf+HhCHADEDCIOIBCD+AcQBMAEQToEKesEEQHgFEL/EqgJkxndkM24AcShMKwC2/zqQwPMy0wAAAABJRU5ErkJggg==");
        position: absolute;
        top: 0;
        left: 1px;
      }

      &:hover {
        color: $brandColor;
      }
    }
  }

}

@include min-screen(768px) {

  .wallpapers {
    ul {
      width: 82%;
    }

    li {
      width: 252px;
      margin: 0 20px 20px 0;
    }
  }

  .wallpaper {
    p {
      text-align: left;
    }
  }

}