@import "win-base";
@import "form-ui";

/* --- mixins ---*/

@include min-screen(320px) {
  textarea {
    height: 350px;
  }
  /* --- common style ---*/

  .content section.autograph {
    background-color: $grey;
    border-bottom: 1px solid #ddd;
  }

  .content section.registration {
    box-shadow: none;
  }

  section.autograph .chunk:first-child {
    margin: 20px auto 20px;
  }

  section.autograph .chunk:nth-child(2) {
    margin: 20px auto 40px;
  }

  .breadcrumbs {
    font-size: 0.813rem;
    margin: 0 10px;
    text-transform: capitalize;
  }

  .breadcrumbs span {
    padding: 0 10px;
  }

  .writeup, .form{
    padding-left:20px;
    padding-right:20px;
  }

  .writeup h2 {
    border-bottom: 1px solid #000000;
    font-weight: $medium;
    margin: 13px 0;
    padding-bottom: 13px;
  }

  .writeup p,
  .disclaimer p {
    font-size: 0.813rem;
    font-weight: $regular;
  }

  .disclaimer {
    text-align: right;
  }

  .disclaimer p {
    font-style: italic;
  }

  .disclaimer a {
    color: #000000;
    font-weight: $bold;
  }

  .form .img-wrapper {
    float: left;
    height: 50px;
    margin-left: 1%;
    margin-bottom: 2%;
    width: 48%;
  }


  .autograph .img-wrapper img
    {
    width:100%;
    height:auto;
  }


  /* --- common style ---*/
  .form-row {
    margin: 0;
    overflow: hidden;

    &:first-child {
      margin-top: 20px;
    }

    &.checkboxes {
      margin-bottom: 10px;
    }
  }

  .form-grp {
    overflow: hidden;

    &.checkbox {
      float: left;
      margin: 0 6px;
      width: 30px;

      &:first-child {
        margin-left: 0;
      }
    }

    &.checkbox-horizontal {
      margin-bottom: 20px;

      .checkbox {
        float: left;
        margin-right: 15px;
      }

      p {
        margin: 6px 0;
      }
    }
  }

  .checkbox {
    background-color: #fafafa; /* layer fill content */
    border: none;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .2); /* inner shadow */
    color: #000000;
    height: 30px;
    width: 30px;

    label {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      left: 5px;
      top: 5px;
      background: transparent;

      &:after {
        content: '';
        width: 16px;
        height: 8px;
        position: absolute;
        top: 4px;
        left: 2px;
        border: 3px solid #333333;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }

      &:hover::after {
        opacity: 0.3;
      }
    }

    input[type="checkbox"] {
      margin-bottom: 10px;
      visibility: hidden;
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox;
      appearance: checkbox;

      &:checked + label:after {
        opacity: 1;
      }
    }
  }


  .row input {
    margin:10px 0;
  }
  .row p {
    margin:10px 0;
  }
}

@include min-screen(768px) {


  .breadcrumbs {
    margin-left: 0;
    margin-right: 0;
  }

  .bucket {
    width: 49%;
  }

  .autograph .img-wrapper,
  .disclaimer {
    float: left;
  }

  .writeup,
  .form {
    float: right;
    padding-left:0px;
    padding-right:0px;
  }

  .writeup h2 {
    margin: 0 0 13px 0;
    padding-bottom: 13px;
  }

  .autograph .img-wrapper {
//    height: 360px;
    margin-top: 8px;
  }

  .disclaimer {
    //border-right: 1px solid #000000;
    height: 310px;
  }

  .disclaimer p {
    margin: 20px;
  }

  .disclaimer p:first-child {
    margin-top: 0;
  }

  input, textarea {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }


  input[name="firstName"] {
    float: left;
    width: 60%;
  }

  input[name="lastName"] {
    float: left;
    margin-left: 2%;
    width: 38%;
  }

  input[name="captcha"],
  input[type="submit"] {
    float: right;
    margin-left: 2%;
    width: 32%;
  }

  .form .img-wrapper {
    float: left;
    height: 50px;
    margin-left: 0;
    width: 32%;
  }

}