{% extends "layouts.master_app" %}

{%  set title = 'How To Participate' %}

{% set description = 'How To Participate' %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <style>
        .content {
            padding:0px;
        }
    </style>
    <script>
//    $(document).ready(function (){
//    var windowWidth = window.innerWidth;
//    document.getElementById('steps').src = (windowWidth < 520) ? '/images/campaign/grand_draw_how_to_participate_vertical.png' : '/images/campaign/grand_draw_how_to_participate_horizontal.png';
//    });
    </script>
{% endblock %}

{# page content #}
{% block content %}
    <section class="registration" id="contest" style="background-image: url('/images/campaign/grand_draw_bg.png'); min-height: 100vh">
        <div class="chunk row" style="margin-top: 0px">
            <br>
            <div class="form" style="width: 100%;">
                <br>
                <div>
                    <img id="steps" width="100%" style="max-width: 600px" src="/images/campaign/grand_draw_how_to_participate_horizontal.png">
                </div>
                <br>
                <div class="form-grp checkbox-horizontal"  style="color: #FFFFFF; text-align: justify">
                    Stand a chance to win a pair of tickets to the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX!
                    <br><br>
                    Spot one mystery code each month in quizzes released from March to August. Key in each monthly two-digit code, and submit your particulars after the last quiz in August.
                    <br><br>
                    <strong>Grand Prize:</strong>
                    <br>
                    One pair of 3-day tickets to the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX + S$300 goodie bag of official 2016 Singapore GP merchandise
                    <br><br>
                    <strong>Second and Third Prizes (2 winners):</strong>
                    <br>
                    S$300 goodie bag of official 2016 Singapore GP merchandise
                    <br><br>
                    Contest ends on 31 August 2016. Winners will be notified in first week of September 2016.
                </div>
            </div>
        </div>
    </section>
{% endblock %}