{% extends "layouts.master_app" %}

{%  set title = 'Terms and Conditions' %}

{% set description = 'Terms and Conditions' %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <style>
        .content {
            padding:0px;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}
    <section class="registration" id="contest" style="background-image: url('/images/campaign/grand_draw_bg.png'); min-height: 100vh">
        <div class="chunk row" style="margin-top: 0px">
            <br>
            <div class="form" style="width: 100%;">
                <div class="form-grp checkbox-horizontal" style="color: #ffffff">
                    <div style="text-align: justify">
                        {{ include("layouts.campaign.granddraw.terms_raw") }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}