<div class="span_3 col">
    <ol>
        <li>{{ trans('tickets.fineprint.first')|raw }}</li>
        {% if hasGroup %}
        <li>{{ trans('tickets.fineprint.second')|raw }}</li>
        {% endif %}
        <li>{{ trans('tickets.fineprint.third')|raw }}</li>
        <li>{{ trans('tickets.fineprint.fourth')|raw }}</li>
    </ol>
</div>
