{% if ticket.ticketType == 'ticketing_single_day' %}

    {# Fridays/Saturdays/Sundays #}

    {% for i in 0..2 %}
        {% if ticket.ticketTypeId == ticket.phasePrices[i].id or ticket.ticketTypeId is null %}
            <tr>
                <td>
                    {% if ticket.is_new %}
                        <div style="display: inline-block;width: 100%;">
                            {% if category.isRegularPriceNow %}
                                {% set width = 70 %}
                            {% else %}
                                {% set width = 92 %}
                            {% endif %}
                            <div style="width: {{ width }}%; display: inline-block; vertical-align: middle;">
                                <strong>{{ ticket.regularPrices[i].ticketing_description|title|replace({'(p': '(P'})|raw }}</strong>
                            </div>
                            <div class="block-new" style="width: 5%; display: inline-block; vertical-align: middle;">
                                <div style="text-align: center; color: red;"><i><b>New</b></i></div>
                            </div>
                        </div>
                    {% else %}
                        <strong>{{ ticket.regularPrices[i].ticketing_description|title|replace({'(p': '(P'})|raw }}</strong>
                    {% endif %}
                </td>

                <td>
                    {% if accessibleZones|length > 1 %}
                        {{ trans('tickets.listing.zones') }}
                    {% else %}
                        {{ trans('tickets.listing.zone') }}
                    {% endif %}

                    {% for zone in accessibleZones %}
                        {% if loop.index0 > 0 %}, {% endif %}<a class="fancyboxzones fancybox"
                                                                href="#inline{{zone|trim}}"
                        {#href="{{ route('tickets.zones.byId', [zone|trim]) }}"#}
                                                                data-zone-overlay>{{ zone|trim }}</a>
                    {% endfor %}
                </td>

                {% if category.isRegularPriceNow %}
                    <td colspan="{{ priceTableColumn }}"> {# colspan will be 2 or 1. 2 means Earlybird price + normal price #}
                        <p>
                            <span class="color-new price">{{ ticket.phasePrices[i].ticketing_price }}</span>
                        </p>
                    </td>
                {% else %}
                    {% if category.isRegularPriceNow or ticket.ticketPriceMatch %}

                        {% if ticket.phaseId == 4 %}
                            <td>
                                <p>
                                    <span class="price"><font style="color: #fff">{{ ticket.phasePrices[i].ticketing_price }}</font></span>
                                </p>
                            </td>
                        {% endif %}
                    {% else %}
                        <td colspan="2">
                            <p>
                                <span class="price white"><font style="color: #FFF">{{ ticket.regularPrices[i].ticketing_price }}</font></span>
                            </p>
                        </td>
                    {% endif %}
                {% endif %}


                <td>
                    <div>
                        {# For scenario where there are no buy links... #}
                        {% if ticket.phasePrices[i].ticketing_link %}

                            {% if 'ez4w190914' in ticket.phasePrices[i].ticketing_link %}

                                <a class="buy button" data-ng-class="{'sold-out': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}.status == 4}" id="tix-{{ticket.ticketing_category_id}}-{{ticket.id}}" href="{{ ticket.phasePrices[i].ticketing_link }}">{{ trans('tickets.listing.buy-now') }}
                                    <span class="limited" data-ng-show="true">{{ trans('tickets.listing.limited-availability') }}</span>
                                    <span class="selling-fast" data-ng-show="false">{{ trans('tickets.listing.selling-fast') }}</span>
                                </a>

                            {% else %}

                                <a class="buy button" data-ng-class="{'sold-out': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 4}" id="tix-{{ticket.ticketing_category_id}}-{{ticket.id}}-{{ ticket.phasePrices[i].id }}" href="{{ ticket.phasePrices[i].ticketing_link }}">
                                    <span ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 4">{{ trans('tickets.listing.sold-out') }}</span>
                                    <span ng-hide="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 4">{{ trans('tickets.listing.buy-now') }}</span>

                                    {#<span class="limited" data-ng-hide="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>#}
                                    {#<span class="selling-fast" data-ng-hide="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>#}
                                </a>

                            {% endif %}

                            {% if detailsView %}
                                <a class="button details" style="line-height: 50px; padding: 5px"
                                   href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}
                                    <p style="font-size:0.8em;">{{ ticket.phasePrices[i].ticketing_note }}</p>
                                </a>

                            {% else %}
                                <a class="button details" style="line-height: 50px; padding: 5px"
                                   href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id, ticket.phasePrices[i].id]) }}">{{ trans('tickets.listing.view-details') }}
                                    {#<span class="grayLimited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>#}
                                    {#<span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>#}
                                    <p style="font-size:0.8em;">{{ ticket.phasePrices[i].ticketing_note }}</p>
                                </a>

                            {% endif %}
                        {% else %}
                            {% if detailsView %}
                                <a class="button details full" style="line-height: 50px; padding: 5px"
                                   href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}
                                    <p style="font-size:0.8em; padding: 10px 0;">{{ ticket.phasePrices[i].ticketing_note }}</p>
                                </a>
                            {% else %}
                                {% if category.isRegularPriceNow %}
                                    <a class="button details full" style="line-height: 50px; padding: 5px"
                                       href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id, ticket.regularPrices[i].id]) }}">{{ trans('tickets.listing.view-details') }}
                                        {#<span class="grayLimited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>#}
                                        {#<span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>#}
                                        <p style="font-size:0.8em; padding: 10px 0;">{{ ticket.phasePrices[i].ticketing_note }}</p>
                                    </a>
                                {% else %}
                                    <a class="button details full" style="line-height: 50px; padding: 5px"
                                       href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id, ticket.phasePrices[i].id]) }}">{{ trans('tickets.listing.view-details') }}
                                        {#<span class="grayLimited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>#}
                                        {#<span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>#}
                                        <p style="font-size:0.8em; padding: 10px 0;">{{ ticket.phasePrices[i].ticketing_note }}</p>
                                    </a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% else %}

        {% endif %}
    {% endfor %}
{% else %}
    <tr>
        <td>
            {% if ticket.is_new %}
            <div style="display: inline-block;width: 100%;">
                {% if category.isRegularPriceNow %}
                <div style="width: 70%; display: inline-block; vertical-align: middle;">
                    {% else %}
                    <div style="width: 92%; display: inline-block; vertical-align: middle;">
                        {% endif %}
                        <strong>{{ ticket.ticket_subcategory|title|replace({'(p': '(P'})|raw }}</strong>
                    </div>
                    <div class="block-new" style="width: 5%; display: inline-block; vertical-align: middle;">
                        <div style="text-align: center; color: red;"><i><b>New</b></i></div>
                    </div>
                </div>
                {% else %}
                    <strong>{{ ticket.ticket_subcategory|title|replace({'(p': '(P'})|raw }}</strong>
                {% endif %}
        </td>

        <td>
            {% if accessibleZones|length > 1 %}
                {{ trans('tickets.listing.zones') }}
            {% else %}
                {{ trans('tickets.listing.zone') }}
            {% endif %}

            {% for zone in accessibleZones %}
                {% if loop.index0 > 0 %}, {% endif %}<a class="fancyboxzones fancybox"
                                                        href="#inline{{zone|trim}}"
                {#href="{{ route('tickets.zones.byId', [zone|trim]) }}"#}
                                                        data-zone-overlay>{{ zone|trim }}</a>
            {% endfor %}
        </td>

        {% if category.isRegularPriceNow or ticket.ticketPriceMatch %}

            <td colspan="{{ priceTableColumn }}"> {# colspan will be 2 or 1. 2 means Earlybird price + normal price #}
                <p class="{% if ticket.regularPrices|length > 1 %}text-left{% endif %}">
                    {% for regularPrice in ticket.regularPrices %}
                        <span class="color-new price ">{{ regularPrice.ticketing_price }}</span>
                        <small class=" color-new ">{{ regularPrice.ticketing_description }}</small><br/>
                    {% endfor %}
                </p>
            </td>
        {% else %}

            {% if ticket.phaseId == 4 %}
                <td>
                    <p class="{% if ticket.phasePrices|length > 1 %}text-left{% endif %} white">
                        {% for phasePrice in ticket.phasePrices %}
                            <span class="price">{{ phasePrice.ticketing_price }}</span>
                            <small>{{ phasePrice.ticketing_description }}</small><br/>
                        {% endfor %}
                    </p>
                </td>
            {% endif %}

            <td>
                <p class="{% if ticket.regularPrices|length > 1 %}text-left{% endif %}">
                    {% for regularPrice in ticket.regularPrices %}
                        <span class="price">{{ regularPrice.ticketing_price }}</span>
                        <small>{{ regularPrice.ticketing_description }}</small><br/>
                    {% endfor %}
                </p>
            </td>
        {% endif %}

        <td style="width: 100%">
            <div>
                {# For scenario where there are no buy links... catId 7 is to disable buy button for wheelchair accessible platform #}
                {% if ticket.phasePrices[0].ticketing_link and category.id != 7 %}

                    <a class="buy button" data-ng-class="{'sold-out': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4}"
                       id="tix-{{ticket.ticketing_category_id}}-{{ticket.id}}-0" href="{{ ticket.phasePrices[0].ticketing_link }}">
                        {#{#<a class="available buy button">#}

                        <span class="limited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>
                        <span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>
                        <span class="limited-availability" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 5">{{ trans('tickets.listing.limited-availability2') }}</span>
                        <span class="display-none" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 0">&nbsp;</span>
                        <span ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.sold-out') }}</span>
                        <span ng-hide="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.buy-now') }}</span>
                    </a>

                    {% if detailsView %}
                        <a class="button details"
                           href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}
                            {#<span class="grayLimited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>#}
                            {#<span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>#}

                        </a>
                    {% else %}
                        <a class="button details"
                           href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id]) }}">{{ trans('tickets.listing.view-details') }}
                            {#<span class="grayLimited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>#}
                            {#<span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>#}
                        </a>
                    {% endif %}
                {% else %}
                    {% if detailsView %}
                        <a class="button details full" style="line-height: 50px; padding: 5px"
                           href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}
                            {#<span class="grayLimited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>#}
                            {#<span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>#}
                            <p style="font-size:0.8em; padding: 10px 0;">{{ ticket.phasePrices[0].ticketing_note|raw }}</p>
                        </a>
                    {% else %}
                        <a class="button details full" style="line-height: 50px; padding: 5px"
                           href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id]) }}">{{ trans('tickets.listing.view-details') }}
                            {#<span class="grayLimited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>#}
                            {#<span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>#}
                            <p style="font-size:0.8em; padding: 10px 0;">{{ ticket.phasePrices[0].ticketing_note|raw }}</p>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </td>
    </tr>
{% endif %}