<tr class="row-hospitality">
    <td><strong>{{ ticket.ticket_subcategory|title|raw}}</strong></td>

    <td>
        {% if accessibleZones|length > 1 %}
            {{ trans('tickets.listing.zones') }}
        {% else %}
            {{ trans('tickets.listing.zone') }}
        {% endif %}

        {% for zone in accessibleZones %}
            {% if loop.index0 > 0 %}, {% endif %}<a class="fancyboxzones fancybox"
                                                    href="#inline{{zone|trim}}"
            {#href="{{ route('tickets.zones.byId', [zone|trim]) }}"#}
                                                    data-zone-overlay>{{ zone|trim }}</a>
        {% endfor %}
    </td>

    {% if ticket.phasePrices|length == 0 %}
        <td {% if ticket.phaseId == 4 %}colspan="1"{% endif %}>
            <p>{{ trans('tickets.listing.hospitality')|raw }}

            </p>
        </td>

        <td>
            <div>
                {% if detailsView %}
                    <a class="button details full" href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}</a>
                {% else %}

                    <a class="available buy button">
                        <div class="row">
                            <span data-ng-hide="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.view-details') }}</span>
                            <span class="detailText" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.view-details') }}</span>
                            <span class="grayLimited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.limited-availability') }}</span>

                        </div>


                    </a>
                {% endif %}
            </div>
        </td>
    {% else %}

        {% set colSpan = ticket.id in filteredId ? 0 : 2 %}

        {% if ticket.id in filteredId %}
            {% if category.isRegularPriceNow %}
                <td colspan="1">
                    <p>
                        {% for phasePrice in ticket.phasePrices %}
                            <span class="color-new price ">{{ phasePrice.ticketing_price }}</span>
                            <small class=" color-new ">{{ phasePrice.ticketing_description }}</small>
                        {% endfor %}
                    </p>
                </td>
            {% else %}

                {% if ticket.phaseId == 4 %}
                    <td>
                        <p>
                            {% for phasePrice in ticket.phasePrices %}
                                <span class="price color-new">{{ phasePrice.ticketing_price }}</span>
                                <small class="color-new">{{ phasePrice.ticketing_description }}</small>
                            {% endfor %}
                        </p>
                    </td>
                {% endif %}

                <td>
                    <p>
                        {% for regularPrice in ticket.regularPrices %}
                            <span class="price color-new">{{ regularPrice.ticketing_price }}</span>
                            <small class="color-new">{{ regularPrice.ticketing_description }}</small>
                        {% endfor %}
                    </p>
                </td>

            {% endif %}
        {% else %}

        {% endif %}

        <td colspan="{{ colSpan }}">
            <div>

                {% if ticket.id in filteredId %}
                    <a class="buy button" data-ng-class="{'sold-out': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4}"
                       id="tix-{{ticket.ticketing_category_id}}-{{ticket.id}}-0" href="{{ ticket.phasePrices[0].ticketing_link }}">

                        <span ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.sold-out') }}</span>
                        <span ng-hide="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.buy-now') }}</span>

                        <span class="limited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>
                        <span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>
                        <span class="limited-availability" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 5">{{ trans('tickets.listing.limited-availability2') }}</span>
                    </a>
                {% endif %}

                {% if detailsView %}

                    {% if ticket.id in filteredId %}
                        <a class="button details" href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}</a>
                    {% else %}
                        <a class="button details" href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}
                            <p style="font-size:0.8em; padding: 10px 0;">PLEASE BOOK VIA THE CORPORATE SALES TEAM (+65 6731 5900)</p>
                        </a>
                    {% endif %}


                {% else %}
                    {% if ticket.id in filteredId %}
                        <a class="button details"
                           href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id]) }}">{{ trans('tickets.listing.view-details') }}</a>
                    {% else %}
                        <a class="button details" href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id]) }}">{{ trans('tickets.listing.view-details') }}
                            <p style="font-size:0.8em; padding: 10px 0;">PLEASE BOOK VIA THE CORPORATE SALES TEAM (+65 6731 5900)</p>
                        </a>
                    {% endif %}

                {% endif %}
            </div>
        </td>
    {% endif %}
</tr>