{% if ticket.ticketType == 'ticketing_single_day' %}
    {# Fridays/Saturdays/Sundays #}
    {% for i in 0..2 %}
        {% if ticket.ticketTypeId == ticket.phasePrices[i].id or ticket.ticketTypeId is null %}
            <tr>
                <td><strong>{{ ticket.regularPrices[i].ticketing_description|title }}</strong></td>

                <td>
                    {% if accessibleZones|length > 1 %}
                        {{ trans('tickets.listing.zones') }}
                    {% else %}
                        {{ trans('tickets.listing.zone') }}
                    {% endif %}

                    {% for zone in accessibleZones %}
                        {% if loop.index0 > 0 %}, {% endif %}<a class="fancyboxzones fancybox"
                                                                href="#inline{{zone|trim}}"
                                                                {#href="{{ route('tickets.zones.byId', [zone|trim]) }}"#}
                                                                data-zone-overlay>{{ zone|trim }}</a>
                    {% endfor %}
                </td>

                {% if ticket.phaseId == 4 %}
                    <td>
                        <p>
                            <span class="price">{{ ticket.phasePrices[i].ticketing_price }}</span>
                        </p>
                    </td>
                {% else %}

                <td>
                    <p>
                        <span class="price">{{ ticket.regularPrices[i].ticketing_price }}</span>
                    </p>
                </td>
                {% endif %}

                <td>
                    <div>
                        {# For senarios where there are no buy links... #}
                        {% if ticket.phasePrices[i].ticketing_link %}

                            {#{% if 'ez4w190914' in ticket.phasePrices[i].ticketing_link %}#}
                                {##}
                                {#<a class="buy button" data-ng-class="{'sold-out': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}.status == 4}" id="tix-{{ticket.ticketing_category_id}}-{{ticket.id}}" href="{{ ticket.phasePrices[i].ticketing_link }}">{{ trans('tickets.listing.buy-now') }}#}
                                    {#<span class="limited" data-ng-show="true">{{ trans('tickets.listing.limited-availability') }}</span>#}
                                    {#<span class="selling-fast" data-ng-show="false">{{ trans('tickets.listing.selling-fast') }}</span>#}
                                {#</a>#}

                            {#{% else %}#}

                                <a class="buy button" data-ng-class="{'sold-out': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 4}" id="tix-{{ticket.ticketing_category_id}}-{{ticket.id}}-{{ ticket.phasePrices[i].id }}" href="{{ ticket.phasePrices[i].ticketing_link }}">
                                    <span ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 4">{{ trans('tickets.listing.sold-out') }}</span>
                                    <span ng-hide="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 4">{{ trans('tickets.listing.buy-now') }}</span>

                                    <span class="limited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>
                                    <span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>
                                </a>

                            {#{% endif %}#}

                            {% if detailsView %}
                                <a class="button details"
                                   href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}</a>
                            {% else %}
                                <a class="button details"
                                   href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id, ticket.phasePrices[i].id]) }}">{{ trans('tickets.listing.view-details') }}</a>
                            {% endif %}
                        {% else %}
                            {% if detailsView %}
                                <a class="button details full"
                                   href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}</a>
                            {% else %}
                                <a class="button details full"
                                   href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id, ticket.phasePrices[i].id]) }}">{{ trans('tickets.listing.view-details') }}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% else %}
    <tr>
        <td><strong>{{ ticket.ticket_subcategory|title }}</strong></td>

        <td>
            {% if accessibleZones|length > 1 %}
                {{ trans('tickets.listing.zones') }}
            {% else %}
                {{ trans('tickets.listing.zone') }}
            {% endif %}

            {% for zone in accessibleZones %}
                {% if loop.index0 > 0 %}, {% endif %}<a class="fancyboxzones fancybox"
                                                        href="#inline{{zone|trim}}"
                                                        {#href="{{ route('tickets.zones.byId', [zone|trim]) }}"#}
                                                        data-zone-overlay>{{ zone|trim }}</a>
            {% endfor %}
        </td>

        {% if ticket.phaseId == 4 %}
            <td>
                <p class="{% if ticket.phasePrices|length > 1 %}text-left{% endif %}">
                    {% for phasePrice in ticket.phasePrices %}
                        <span class="price">{{ phasePrice.ticketing_price }}</span>
                        <small>{{ phasePrice.ticketing_description }}</small><br/>
                    {% endfor %}
                </p>
            </td>
        {% endif %}

        <td>
            <p class="{% if ticket.regularPrices|length > 1 %}text-left{% endif %}">
                {% for regularPrice in ticket.regularPrices %}
                    <span class="price">{{ regularPrice.ticketing_price }}</span>
                    <small>{{ regularPrice.ticketing_description }}</small><br/>
                {% endfor %}
            </p>
        </td>

        <td>
            <div>
                {# For senarios where there are no buy links... #}
                {% if ticket.phasePrices[0].ticketing_link %}

                    <a class="buy button" data-ng-class="{'sold-out': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4}"
                       id="tix-{{ticket.ticketing_category_id}}-{{ticket.id}}-0" href="{{ ticket.phasePrices[0].ticketing_link }}">
                        <span ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.sold-out') }}</span>
                        <span ng-hide="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.buy-now') }}</span>

                        <span class="limited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>
                        <span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>
                    </a>

                    {% if detailsView %}
                        <a class="button details"
                           href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}</a>
                    {% else %}
                        <a class="button details"
                           href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id]) }}">{{ trans('tickets.listing.view-details') }}</a>
                    {% endif %}
                {% else %}
                    {% if detailsView %}
                        <a class="button details full"
                           href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}</a>
                    {% else %}
                        <a class="button details full"
                           href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id]) }}">{{ trans('tickets.listing.view-details') }}</a>
                    {% endif %}
                {% endif %}
            </div>
        </td>
    </tr>
{% endif %}