<tr class="three-day">
    <td><strong>{{ ticket.ticket_subcategory|title }}</strong></td>

    <td>
        <table>
            <tbody>
            {% for i in 0..2 %}
                {% set accessibleZones = ticket.phasePrices[i].accessible_entertainment_stages|split(',') %}
                <tr>
                    <td>{{ trans('tickets.listing.'~ticket.phasePrices[i].day_word|lower) }}</td>

                    <td>
                        {{ ticket.phasePrices[i].location }} <br/>

                        {% if accessibleZones|length > 1 %}
                            {{ trans('tickets.listing.zones') }}
                        {% else %}
                            {{ trans('tickets.listing.zone') }}
                        {% endif %}

                        {% for zone in accessibleZones %}
                            {% if loop.index0 > 0 %}, {% endif %}<a class="fancyboxzones fancybox"
                                                                    href="#inline{{zone|trim}}"
                            {#href="{{ route('tickets.zones.byId', [zone|trim]) }}"#}
                                                                    data-zone-overlay>{{ zone|trim }}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </td>
    {#{% if category.isRegularPriceNow %}#}
        {#<td colspan="1">#}
            {#<p>#}
                {#<span class="color-new price ">{{ ticket.phasePrices[0].ticketing_price }}</span>#}
            {#</p>#}
        {#</td>#}
    {#{% else %}#}


        {% if ticket.phaseId == 4 %}
            <td>
                <p>
                    <span class="color-new price ">{{ ticket.phasePrices[0].ticketing_price }}</span>
                </p>
            </td>
        {% endif %}

        {% if category.isRegularPriceNow %}
        <td>
            <p>
                <span class="color-new price ">{{ ticket.regularPrices[0].ticketing_price }}</span>
                <small class=" color-new ">{{ ticket.regularPrices[0].ticketing_description }}</small>
            </p>
        </td>
        {% else %}
        <td>
            <p>
                <span class="price">{{ ticket.regularPrices[0].ticketing_price }}</span>
                <small {{ ticket.regularPrices[0].ticketing_description }}</small>
            </p>
        </td>
        {% endif %}

    {#{% endif %}#}

    <td>
        <div>
            {% if detailsView %}
                <a class="buy button fancybox fancybox.inline" data-ng-class="{'buy-now': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4}"
                   id="tix-{{ticket.ticketing_category_id}}-{{ticket.id}}-0" href="#confirmation-modal">
                    {#<a class="available buy button">#}
                    <span ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.sold-out') }}</span>
                    <span ng-hide="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.buy-now') }}</span>

                    <span class="limited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>
                    <span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>
                    <span class="limited-availability" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 5">{{ trans('tickets.listing.limited-availability2') }}</span>
                </a>

                {#<a class="button buy fancybox fancybox.inline" id="tix-{{ticket.ticketing_category_id}}-{{ticket.id}}"#}
                {#href="#confirmation-modal" data-confirm-buy>{{ trans('tickets.listing.buy-now') }}</a>#}

                <a class="button details"
                   href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}</a>
            {% else %}
                <a class="buy button" data-ng-class="{'buy-now': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4}"
                   id="tix-{{ticket.ticketing_category_id}}-{{ticket.id}}-0" href="{{ ticket.phasePrices[0].ticketing_link }}">
                    {#<a class="available buy button">#}
                    <span ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.sold-out') }}</span>
                    <span ng-hide="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.buy-now') }}</span>
                    <span class="limited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>
                    <span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>
                    <span class="limited-availability" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 5">{{ trans('tickets.listing.limited-availability2') }}</span>
                </a>

                <a class="button details"
                   href="{{ route('tickets.details.byId', [ticket.ticketing_category_id, ticket.id]) }}">{{ trans('tickets.listing.view-details') }}</a>
            {% endif %}
        </div>
    </td>
</tr>