{% embed "partials.masthead" %}{% endembed %}

<div class="chunk">
    <div class="row">
        <div class="filter-bar col">
            <div class="styled-button active">
                <a href="{{ route('tickets.sales.singapore') }}">{{ trans('tickets.sales.sg') }}</a>
            </div>
            <div class="styled-button">
                <a href="{{ route('tickets.sales.international') }}">{{ trans('tickets.sales.intl') }}</a>
            </div>
            {#<div class="styled-button locale">#}
                {#<a class="en {% if locale == 'en' %}active{% endif %}" href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                {#<a class="zh {% if locale == 'cn' %}active{% endif %}" href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
            {#</div>#}
        </div>

        <div class="desc-bar col">
            <div class="desc">
                <h1>{{ trans('tickets.sales.sg-title') }}</h1>
                <hr/>
                <p>{{ trans('tickets.sales.sg-desc') }}</p>
            </div>
        </div>
    </div>
</div>

<div class="chunk">
    <div class="row">
        <div class="locations col">
            <div data-ng-class="{active: isActive('north')}" class="styled-button">
                <a data-ng-click="setRegion('north')" href="">{{ trans('tickets.sales.north') }}</a>
            </div>
            <div data-ng-class="{active: isActive('central')}" class="styled-button">
                <a data-ng-click="setRegion('central')" href="">{{ trans('tickets.sales.central') }}</a>
            </div>
            <div data-ng-class="{active: isActive('east')}" class="styled-button">
                <a data-ng-click="setRegion('east')" href="">{{ trans('tickets.sales.east') }}</a>
            </div>
            <div data-ng-class="{active: isActive('west')}" class="styled-button">
                <a data-ng-click="setRegion('west')" href="">{{ trans('tickets.sales.west') }}</a>
            </div>
        </div>
    </div>
</div>
