{% embed "partials.masthead" %}{% endembed %}

<div class="chunk">
    <div class="row">
        <div class="filter-bar col">
            <div class="styled-button">
                <a href="{{ route('tickets.sales.singapore') }}">{{ trans('tickets.sales.sg') }}</a>
            </div>
            <div class="styled-button active">
                <a href="{{ route('tickets.sales.international') }}">{{ trans('tickets.sales.intl') }}</a>
            </div>
        </div>

        {#<div class="desc-bar col">
            <div class="desc">
                <h1>{{ trans('tickets.sales.intl-title') }}</h1>
                <br/>
                <p>{{ trans('tickets.sales.intl-desc')|raw }}</p>
            </div>
        </div>#}
    </div>
</div>

{#
<div class="chunk">
    <div class="row">
        <div class="locations col">
            {% for region in regions %}
                {% if region['region'].region|lower == 'australia | new zealand' %}
                    {% set regionName = 'anzac' %}
                {% elseif region['region'].region|lower == 'middle east' %}
                    {% set regionName = 'middleeast' %}
                {% elseif region['region'].region|lower == 'usa' %}
                    {% set regionName = 'northamerica' %}
                {% else %}
                    {% set regionName = region['region'].region|lower %}
                {% endif %}

                <div data-ng-class="{active:isRegionActive('{{ regionName }}')}" class="styled-select">
                    <select name="{{ regionName }}" data-ng-model="{{ regionName }}.country"
                            data-ng-change="selectCountry('{{ regionName }}')">

                        {% if regionName == 'anzac' %}
                            <option value="{{ region['region'].region|lower }}"
                                    disabled>{{ region['region'].region_label|upper }}</option>
                        {% else %}
                            <option value="{{ regionName }}"
                                    disabled>{{ region['region'].region_label|upper }}</option>
                        {% endif %}

                        {% for country in region.countries %}

                            <option value="{{ country.country|lower }}"
                                    data-ng-selected="{{ regionName }}.country == '{{ country.country|lower }}'">{{ country.country_label|upper }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
    </div>
</div>#}
