<div class="chunk">
    <div class="row">
        <div class="styled-button locale" style="margin-bottom: 10px;">
            <a class="en {% if locale == 'en' %}active{% endif %}" href="{{ route('language.select', ['en']) }}">
                <p>{{ trans('navigation.en') }}</p>
            </a>
            <a class="zh {% if locale == 'cn' %}active{% endif %}" href="{{ route('language.select', ['cn']) }}">
                <p>{{ trans('navigation.cn') }}</p>
            </a>
        </div>
        <div class="filter-bar col">
            <div class="styled-select" data-ng-controller="categorySelectController">
                {% if isInSuperEarlyBirdPage is defined and isSuperEarlyBirdOn == true %}
                    <select name="ticket" tabindex="2">
                        <option value="20" selected>{{ trans('tickets.listing.super-early-bird') }}</option>
                    </select>
                {% else %}
                    <select name="ticket" tabindex="2" data-ng-model="ticket.categoryId" data-ng-change="setTicketCategoryId()">
                        <option value="all">{{ trans('tickets.home.all-tickets') }}</option>
                        {% for category in ticketCategories %}
                            <option value="{{ category.id }}" data-ng-selected="ticket.categoryId == {{ category.id }}">{{ category.ticketing_category }}</option>
                        {% endfor %}
                    </select>
                {% endif %}

            </div>
            <div class="styled-button">
                <a href="{{ route('ontrack.circuitParkMap') }}">
                    <p>{{ trans('tickets.home.circuit-map') }}</p>
                </a>
            </div>

            <div class="styled-button">
                {% if locale == 'en' %}
                    <a href="{{ route('tickets.sales') }}">
                        <P style="margin-top:4px; margin-bottom:4px; ">{{ trans('tickets.listing.auth-agents')|raw }}</p>
                    </a>
                {% endif %} {% if locale == 'cn' %}
                    <a href="{{ route('tickets.sales') }}">
                        <P>{{ trans('tickets.listing.auth-agents')|raw }}</p>
                    </a>
                {% endif %}
            </div>

            <div class="styled-button">
                <a href="{{ route('offtrack.headliners') }}">
                    <p>{{ trans('tickets.listing.ent-highlights') }}</p>
                </a>
            </div>

            <div class="styled-button">
                {% if locale == 'en' %}
                    <a href="http://singaporegp.sg/download/FAQ.pdf">
                        <p>FAQ</p>
                    </a>
                {% endif %} {% if locale == 'cn' %}
                    <a href="http://singaporegp.sg/download/FAQ_cn.pdf">
                        <p>常见问题</p>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
</div>