{% embed "partials.masthead" %}{% endembed %}

<div class="chunk">
    <div class="row">
        <div class="styled-button locale" style="margin-bottom: 10px;">
            <a id="english" class="en {% if locale == 'en' %}active{% endif %}" href="/tickets/en/listing/all">
                <p>{{ trans('navigation.en') }}</p>
            </a>
            <a id="chinese" class="zh {% if locale == 'cn' %}active{% endif %}" href="/tickets/cn/listing/all">
                <p>{{ trans('navigation.cn') }}</p>
            </a>
        </div>
        <div class="filter-bar col">
            <div class="styled-select" data-ng-controller="categorySelectController">
                {% if isInSuperEarlyBirdPage is defined and isSuperEarlyBirdOn == true %}
                    <select name="ticket" tabindex="2">
                        <option value="20" selected>{{ trans('tickets.listing.super-early-bird') }}</option>
                    </select>
                {% else %}
                    <select id="ticket-category-droplist" name="ticket" tabindex="2" data-ng-model="ticket.categoryId" data-ng-change="setTicketCategoryId()" >
                        <option value="all">{{ trans('tickets.home.all-tickets') }}</option>
                        {% for category in ticketCategories %}
                            <option value="{{ category.id }}" data-ng-selected="ticket.categoryId == {{ category.id }}">{{ category.ticketing_category }}</option>
                        {% endfor %}
                    </select>
                {% endif %}

            </div>

            <div class="styled-button">
                <a href="{{ route('ontrack.circuitParkMap') }}">
                    <p>{{ trans('tickets.home.circuit-map') }}</p>
                </a>
            </div>
            <div class="styled-button">
                {% if locale == 'en' %}
                    <a href="{{ route('tickets.sales') }}">
                        <p>{{ trans('tickets.listing.auth-agents')|raw }}</p>
                    </a>
                {% endif %} {% if locale == 'cn' %}
                    <a href="{{ route('tickets.sales') }}">
                        <p>{{ trans('tickets.listing.auth-agents')|raw }}</p>
                    </a>
                {% endif %}
            </div>
            <div class="styled-button">
                <a href="{{ route('offtrack.headliners') }}">
                    <p>{{ trans('tickets.listing.ent-highlights') }}</p>
                </a>
            </div>
            <div class="styled-button">
                {% if locale == 'en' %}
                    <a href="http://singaporegp.sg/download/FAQ.pdf">
                        <p>{{ trans('tickets.listing.faq') }}</p>
                    </a>
                {% endif %} {% if locale == 'cn' %}
                    <a href="http://singaporegp.sg/download/FAQ_cn.pdf">
                        <p>{{ trans('tickets.listing.faq') }}</p>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        var current = "http://" + window.location.hostname;
        var english = current + "/tickets/en/listing/all";
        var chinese = current + "/tickets/cn/listing/all";
        document.getElementById("english").setAttribute("href", english);
        document.getElementById("chinese").setAttribute("href", chinese);
        var i = window.location.pathname.split("/");
        var s = i[i.length-1];
        var s = (s=='') ? i[i.length-2] : i[i.length-1];
        var element = document.getElementById('ticket-category-droplist');
        element.value = s;
    });
//
//    function categoryChange(selected){
//        var url = document.URL;
//        if ((url.lastIndexOf("/")+1)==url.length) { url=url.substr(0, url.lastIndexOf("/")-1); }
//        var index = url.lastIndexOf("/") + 1;
//        var last = url.substr(index);
//        url = (last == "listings") ? "/tickets/listing/" :url.substr(0, index);
//        location.href = url + selected.value;
//    }
</script>