<div class="tickets-listing col">
    {#<h2>3-Day Grandstands <br/><small>Group booking special</small></h2>#}
    <h2>{{ category.ticketing_category }}</h2>

    <table>
        <caption></caption>
        {% set numCols = (category.phaseId == 5) ? 4 : 5 %}
        {% set widthPerc = 100 / numCols %}

        {% for i in 1..numCols %}
        <!-- <colgroup width="{{ widthPerc }}%"></colgroup> -->
        {% endfor %}

                    <colgroup width="20%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <colgroup width="20%"></colgroup>

        <thead>
        <tr>
            <th>{{ trans('tickets.listing.tic-category') }}</th>
            <th>{{ trans('tickets.listing.zone-access') }}</th>

            {% if category.phaseId == 4 or 5 %}
                <th>{{ trans('tickets.listing.early-bird') }} <br/>
                    <small>{{ trans('tickets.listing.early-bird-period') }}</small>
                </th>
            {% elseif category.phaseId == 7 %}
                <th>{{ trans('tickets.listing.super-early-bird-price') }} <br/>
                    <small>{{ trans('tickets.listing.super-early-bird-period') }}</small>
                </th>
            {% endif %}

            {% if category.isRegularPriceNow %}
                <th style="color: #bb9d5f;">{{ trans('tickets.listing.reg-price') }} <br/>
                    <small>{{ trans('tickets.listing.reg-period-now') }}</small>
                </th>
            {% else %}
                <th>{{ trans('tickets.listing.reg-price') }} <br/>
                    <small>{{ trans('tickets.listing.reg-period') }}</small>
                </th>
            {% endif %}

            <th>{{ trans('tickets.listing.availability') }}</th>
        </tr>
        </thead>

        <tbody>
        {% for ticket in tickets %}
            {% set accessibleZones = ticket.accessible_entertainment_stages|split(',') %}

            {% if ticket.ticketing_category_id == 4 %}
                {% embed "partials.tickets.rowthreeday" %}{% endembed %}
            {% elseif ticket.ticketing_category_id == 6 %}
                {% embed "partials.tickets.rowhospitalityCombinedColumn" %}{% endembed %}
            {% else %}
                {% embed "partials.tickets.row" %}{% endembed %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>