<div class="tickets-listing col">
    {#<h2>3-Day Grandstands <br/><small>Group booking special</small></h2>#}
    <h2>{{ category.ticketing_category }}</h2>

    <table>
        <caption></caption>
        {% set numCols = (category.isRegularPriceNow) ? 4 : 5 %}
        {% set widthPerc = 100 / numCols %}

        {% for i in 1..numCols %}
            <!-- <colgroup width="{{ widthPerc }}%"></colgroup> -->
        {% endfor %}

        {% if category.isRegularPriceNow == false %}
            <colgroup width="20%"></colgroup>
            <colgroup width="20%"></colgroup>
            <colgroup width="20%"></colgroup>
            <colgroup width="20%"></colgroup>
            <colgroup width="20%"></colgroup>
        {% else %}
            <colgroup width="25%"></colgroup>
            <colgroup width="25%"></colgroup>
            <colgroup width="25%"></colgroup>
            <colgroup width="25%"></colgroup>
        {% endif %}

        <thead>
        <tr>
            <th>{{ trans('tickets.listing.tic-category') }}</th>
            <th>{{ trans('tickets.listing.zone-access') }}</th>



            {% if false %} {# Hospitality #}

                <th colspan="3">{{ trans('tickets.listing.availability') }}</th>

            {% else %}

                {% if category.phaseId == 4 %}
                    <th>{{ trans('tickets.listing.early-bird') }}<br/>
                       {{ trans('tickets.listing.early-bird-period') }}
                    </th>
                {% elseif category.phaseId == 7 %}
                    <th>{{ trans('tickets.listing.super-early-bird-price') }} <br/>
                        <small>{{ trans('tickets.listing.super-early-bird-period') }}</small>
                    </th>
                {% elseif shouldShowEarlyBirdTableTitle %}
                    <th>{{ trans('tickets.listing.early-bird') }} <br/>
                        <small>{{ trans('tickets.listing.early-bird-period') }}</small>
                    </th>
                {% endif %}

                {% if category.isRegularPriceNow %}
                    <th>{{ trans('tickets.listing.reg-price') }} <br/>
                        <small>{{ trans('tickets.listing.reg-period-now') }}</small>
                    </th>
                {% else %}
                    <th>{{ trans('tickets.listing.reg-price') }} <br/>
                        {{ trans('tickets.listing.reg-period') }}
                    </th>
                {% endif %}

                <th>{{ trans('tickets.listing.availability') }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            {% if ticket.id != 47 %}
                {% set accessibleZones = ticket.accessible_entertainment_stages|split(',') %}
                {% if ticket.ticketing_category_id == 4 %}
                    {% embed "partials.tickets.rowthreeday" %}{% endembed %}
                {% elseif ticket.ticketing_category_id == 6 %}
                    {% if shouldShowEarlyBirdTableTitle %}
                        {% embed "partials.tickets.rowhospitality" %}{% endembed %}
                    {% else %}
                        {% embed "partials.tickets.rowhospitalityCombinedColumn" %}{% endembed %}
                    {% endif %}
                {% else %}
                    {% embed "partials.tickets.row" %}{% endembed %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>