<style>
    .tickets-details .race_zones {
        bottom: 15px;
        position: absolute;
        right: 60%;
    }

    .race_zones table {
        background-color: #ffc414;
        border: 1px solid #000000;
        text-align: center;
        width: 100%;
    }

    .race_zones table th {
        font-size: 0.625rem;
        font-weight: 400;
        letter-spacing: 2px;
        padding: 5px 10px;
        text-transform: uppercase;
    }

    .race_zones table td {
        background-color: #767137;
        border: 1px solid #000000;
        font-size: 1.5rem;
        padding: 5px 10px;
    }

    .race_zones table td.accessible {
        background-color: #ffc414;
    }
    .tickets-details .race_zones {
        right: 68%;
    }
</style>
<div class="tickets-details col" data-tickets-statuses>
    <h2>{{ category.ticketing_category }}</h2>

    <table class="details">
        <caption></caption>
        {#{% set numCols = (category.phaseId == (5 or 7) ) ? 4 : 5 %}#}
        {% set numCols = (category.isRegularPriceNow) ? 4 : 5 %}
        {% set widthPerc = 100 / numCols %}

        {% for i in 1..numCols %}
            {#<colgroup width="{{ widthPerc }}%"></colgroup>#}
        {% endfor %}

        {% if category.isRegularPriceNow %}
            <colgroup width="25%"></colgroup>
            <colgroup width="25%"></colgroup>
            <colgroup width="25%"></colgroup>
            <colgroup width="25%"></colgroup>
        {% else %}
            <colgroup width="20%"></colgroup>
            <colgroup width="20%"></colgroup>
            <colgroup width="20%"></colgroup>
            <colgroup width="20%"></colgroup>
            <colgroup width="20%"></colgroup>
        {% endif %}

        <thead>
        <tr>
            <th class="center">{{ trans('tickets.listing.tic-category') }}</th>
            <th class="center">{{ trans('tickets.listing.zone-access') }}</th>

            {% if ticket.ticketing_category_id == 6 %}
                {% if ticket.id in filteredId  %}

                    {% if category.phaseId == 4 or 5 %}

                        {% if shouldShowEarlyBirdTableTitle %}
                            <th class="center">{{ trans('tickets.listing.early-bird') }} <br/>
                             {{ trans('tickets.listing.early-bird-period') }}
                            </th>
                        {% endif %}

                    {% elseif category.phaseId == 7 %}
                        <th>{{ trans('tickets.listing.super-early-bird-price') }} <br/>
                            {{ trans('tickets.listing.super-early-bird-period') }}
                        </th>
                    {% endif %}


                    {% if category.isRegularPriceNow %}
                        <th class="center white">{{ trans('tickets.listing.reg-price') }} <br/>
                            {{ trans('tickets.listing.reg-period-now') }}
                        </th>
                    {% else %}
                        <th class="center">{{ trans('tickets.listing.reg-price') }} <br/>
                           {{ trans('tickets.listing.reg-period') }}
                        </th>
                    {% endif %}

                {% else %}

                    {% if shouldShowEarlyBirdTableTitle %}
                        <th class="center">{{ trans('tickets.listing.early-bird') }} <br/>
                            {{ trans('tickets.listing.early-bird-period') }}
                        </th>
                    {% endif %}

                    <th class="center white">{{ trans('tickets.listing.reg-price') }} <br/>
                        {{ trans('tickets.listing.reg-period') }}
                    </th>
                {% endif %}

            {% else %}

                {% if category.phaseId == 7 %}
                    <th class="center">{{ trans('tickets.listing.super-early-bird-price') }} <br/>
                        {#<small class="white">{{ trans('tickets.listing.super-early-bird-period') }}</small>#}
                    </th>
                {% endif %}

                {% if category.isRegularPriceNow %}
                    <th class="white center">{{ trans('tickets.listing.reg-price') }} <br/>
                        {{ trans('tickets.listing.reg-period-now') }}
                    </th>
                {% else %}

                    {% if shouldShowEarlyBirdTableTitle %}
                        <th class="center">{{ trans('tickets.listing.early-bird') }} <br/>
                        {{ trans('tickets.listing.early-bird-period') }}
                        </th>
                    {% endif %}

                    <th class="center">{{ trans('tickets.listing.reg-price') }} <br/>
                       {{ trans('tickets.listing.reg-period') }}
                    </th>
                {% endif %}

            {% endif %}

            {% if ticket.ticketing_category_id == 6 %}
                {% set colspan = ticket.id in filteredId ? 0 : 3 %}
            {% else %}
                {% set colspan = 0 %}
            {% endif %}

            <th class="center" colspan="{{ colspan }}">{{ trans('tickets.listing.availability') }}</th>
        </tr>
        <tr>
            {% for i in 1..numCols %}
                <th></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% set accessibleZones = ticket.accessible_entertainment_stages|split(',') %}
        {% if ticket.ticketing_category_id == 4 %}
            {% embed "partials.tickets.rowthreeday" with {detailsView:true} %}{% endembed %}
        {% elseif ticket.ticketing_category_id == 6 %}
            {% if shouldShowEarlyBirdTableTitle %}
                {% embed "partials.tickets.rowhospitality" with {detailsView:true} %}{% endembed %}
            {% else %}
                {% embed "partials.tickets.rowhospitalityCombinedColumn" with {detailsView:true} %}{% endembed %}
            {% endif %}
        {% else %}
            {% embed "partials.tickets.row" with {detailsView:true} %}{% endembed %}
        {% endif %}
        </tbody>
    </table>

    <div class="map">
        <div class="img-wrapper">
            <img src="{{ ticket.mapPath }}" alt=""/>
        </div>

        <div class="race_zones">
            <table>
                <thead>
                <tr>
                    <th colspan="4">
                        {% if accessibleZones|length > 1 %}
                            {{ trans('tickets.listing.zones') }}
                        {% else %}
                            {{ trans('tickets.listing.zone') }}
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for i in 1..4 %}
                        {% set isAccessible = false %}
                        {% for zone in accessibleZones if i == zone %}
                            {% set isAccessible = true %}
                        {% endfor %}
                        {#<td class="accessibleZ{{ i }}">{{ i|trim }}</td>#}
                        <td class="{% if isAccessible %}accessibleZ{{ i }}{% endif %}">{{ i|trim }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>