<div class="tickets-details col" data-tickets-statuses>
    <h2>{{ category.ticketing_category }}</h2>

    <table class="details">
        <caption></caption>
        {% set numCols = (category.phaseId == (5 or 7) ) ? 4 : 5 %}
        {% set widthPerc = 100 / numCols %}

        {% for i in 1..numCols %}
            {#<colgroup width="{{ widthPerc }}%"></colgroup>#}
        {% endfor %}

        <colgroup width="20%"></colgroup>
        <colgroup width="20%"></colgroup>
        <colgroup width="20%"></colgroup>
        <colgroup width="20%"></colgroup>
        <colgroup width="20%"></colgroup>

        <thead>
        <tr>
            <th>{{ trans('tickets.listing.tic-category') }}</th>
            <th>{{ trans('tickets.listing.zone-access') }}</th>
            {#{% if category.phaseId == 4 %}<th>{{ trans('tickets.listing.early-bird') }} <br/><small>{{ trans('tickets.listing.early-bird') }}</small></th>{% endif %}#}
            {#<th>{{ trans('tickets.listing.reg-price') }} <br/><small>{{ trans('tickets.listing.reg-period') }}</small></th>#}

            {% if category.phaseId == 4 or 5 %}
                <th>{{ trans('tickets.listing.early-bird') }} <br/>
                    <small>{{ trans('tickets.listing.early-bird-period') }}</small>
                </th>
            {% elseif category.phaseId == 7 %}
                <th>{{ trans('tickets.listing.super-early-bird-price') }} <br/>
                    <small>{{ trans('tickets.listing.super-early-bird-period') }}</small>
                </th>
            {% endif %}

            {% if category.isRegularPriceNow %}
                <th style="color: #bb9d5f;">{{ trans('tickets.listing.reg-price') }} <br/>
                    <small>{{ trans('tickets.listing.reg-period-now') }}</small>
                </th>
            {% else %}
                <th>{{ trans('tickets.listing.reg-price') }} <br/>
                    <small>{{ trans('tickets.listing.reg-period') }}</small>
                </th>
            {% endif %}

            <th>{{ trans('tickets.listing.availability') }}</th>
        </tr>
        <tr>
            {% for i in 1..numCols %}
            <th></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% set accessibleZones = ticket.accessible_entertainment_stages|split(',') %}
        {% if ticket.ticketing_category_id == 4 %}
            {% embed "partials.tickets.rowthreeday" with {detailsView:true} %}{% endembed %}
        {% elseif ticket.ticketing_category_id == 6 %}
            {% embed "partials.tickets.rowhospitality" with {detailsView:true} %}{% endembed %}
        {% else %}
            {% embed "partials.tickets.row" with {detailsView:true} %}{% endembed %}
        {% endif %}
        </tbody>
    </table>

    <div class="map">
        <div class="img-wrapper">
            <img src="{{ ticket.mapPath }}" alt=""/>
        </div>

        <div class="zones">
            <table>
                <thead>
                <tr>
                    <th colspan="4">
                        {% if accessibleZones|length > 1 %}
                            {{ trans('tickets.listing.zones') }}
                        {% else %}
                            {{ trans('tickets.listing.zone') }}
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for i in 1..4 %}
                        {% set isAccessible = false %}
                        {% for zone in accessibleZones if i == zone %}
                            {% set isAccessible = true %}
                        {% endfor %}

                        <td class="{% if isAccessible %}accessible{% endif %}">{{ i|trim }}</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>