{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Rev Up Singapore' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupformbundle.js?postUrl={{ route('revUp.content.post', { 'slug': revup.slug }) }}"></script>
    <link rel="stylesheet" href="/stylesheets/revup.min.css"/>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css"/>
    <script type="text/j avascript" src="/javascripts/libs/jquery-ui-timepicker-addon.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>

    <link rel="stylesheet" href="/stylesheets/pgwslider.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.landing.min.css"/>
    <link rel="stylesheet" href="/stylesheets/tabulous.css"/>

    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>
    <script type="text/javascript" src="/javascripts/pgwslider.js"></script>
    <script type="text/javascript" src="/javascripts/tabulous.js"></script>

    <script>
        $(document).ready(function() {
            $('.pgwSlider').pgwSlider(
                    {
                        displayList : false,
                        displayControls : true,
                        transitionEffect : 'sliding',
                        intervalDuration : 10000
                    }
            );
            $('#tabs').tabulous({
                effect: 'slideLeft'
            });
            $('#strun-bib-no').keyup(function () {

                if ($(this).val() >= 5000 && $(this).val() < 16000) {
                    $('#submitButton').attr('disabled', false);
                }
                else if ($(this).val() >= 18000 && $(this).val() < 23000) {
                    $('#submitButton').attr('disabled', false);
                }
                else {
                    $(this).addClass('ng-invalid');
                    $('#submitButton').attr('disabled', true);
                }
            });
        });

        $(function () {
            //  Accordion Panels
            $(".accordion div").hide();
            $(".accordion h3").click(function () {
                $(this).next(".pane").slideToggle("slow").siblings(".pane:visible").slideUp("fast");
                $(this).toggleClass("current");
                $(this).siblings("h3").removeClass("current");
            });
        });
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
        $(".tnc-modal").fancybox({
            autoDimensions: false,
            width: 560
        });
    });
    $(document).ready(function() {
        $(".img-link").fancybox({
            autoDimensions: false,
            width: 560
        });
    });
    </script>
{% endblock %}


{# specify controller #}
{% block containerdiv %}
{% if angularApp is defined %}
<div class="container" data-ng-controller="revUpFormController">
{% else %}
<div class="container">
{% endif %}
{% endblock %}

{# page content #}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>{{ revup.title }}</h1>
                      
                        <p>{{ revup.subtitle }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="autograph">
        <div class="chunk row">
            <p class="breadcrumbs"><a href="{{ route('revUp') }}">Rev Up Singapore</a><span>⟩</span>{{ revup.title}}</p>
        </div>


        <div class="chunk row">

       {#  {% if(revup.slug == "Roving-Truck") %}#}

                <div class="chunk slide-chunk">
                    <ul class="pgwSlider">
                        <li><img src="http://wwww.singaporegp.sg/media/rev-up/rovingtruck/truck.jpg"></li>
                        <li><img src="http://wwww.singaporegp.sg/media/rev-up/rovingtruck/1.jpg"></li>
                        <li><img src="http://wwww.singaporegp.sg/media/rev-up/rovingtruck/2.jpg"></li>
                        <li><img src="http://wwww.singaporegp.sg/media/rev-up/rovingtruck/3.jpg"></li>
                        <li><img src="http://wwww.singaporegp.sg/media/rev-up/rovingtruck/4.jpg"></li>
                        <li><img src="http://wwww.singaporegp.sg/media/rev-up/rovingtruck/5.jpg"></li>
                        <li><img src="http://wwww.singaporegp.sg/media/rev-up/rovingtruck/6.jpg"></li>


                    </ul>
                </div>

            {# {% else %}
            <div class="img-wrapper bucket">
                <img src="{{ revup.image }}" alt=""/>
            </div>
          {% endif %}#}
               <div class="chunk row" >
                   <div class="writeup" style="padding:20px;">
                       <p style="color: #00236d; font-weight: bold; margin: 0px; font-size: 26px;">{{ revup.title }}</p>
                       <img width="100%" src="/images/campaign/landing/line.png">
                       {{ revup.body|raw }}
                    </div>
                {% if revup.closed %}
                    <hr/>
                    {{ revup.closed_text|raw }}
                {% endif %}
            </div>
        </div>


    {% if revup.form and not revup.closed %}

    <section class="registration">
    {{ testing }}
    	{{ revup.form|raw }}
    </section>
    <div style="display:none">
        <div id="tnc-modal">
        <h3>Terms and Conditions</h3>
        {{ revup.tnc|raw }}
        </div>



    </div>

</div>
</div>  
        {% endif %}
{% endblock %}