{% extends "layouts.gallery" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Rev Up Singapore!' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/revup.min.css"/>
    <link rel="stylesheet" href="/stylesheets/home.min.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>    

    <script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox({
            autoDimensions: false,
            width: 560
        });
    });
    </script>

	<style>
		.left-text {
			text-align: left;
		}

		.height-fig {
			height: 90px !important;
		}

		.date {
			font-size: 11px;
		}
	</style>
{% endblock %}


{# page content #}
{% block content %}
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
					  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>
		var staging = /staging/;
		var liveHostname = /singaporegp\.sg/;
		if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
					{'gtm.start': new Date().getTime(),event:'gtm.js'}
			);var f=d.getElementsByTagName(s)[0],
					j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
					'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-P7C4C7');
		}
	</script>
	<!-- End Google Tag Manager -->

    <section class="selection" style="background: #020f20, url('../images/background_selection.jpg') top center no-repeat !important;">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col" style="height: 160px">
                    <div class="desc">
                        <h1>REV UP SINGAPORE!</h1>
						<br/>
						<p>
							Share in our excitement and passion for Formula One as we gear up for the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX.
						</p>
						<p>
							Participate in any of the exciting initiatives:
						</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery-day" data-fancy-gallery>
        {#<div class="chunk row">#}
            {#<div style="margin-bottom: 30px;">#}
            	{#<!-- <img src="/images/logo_revup.gif" alt="" style="float: left; margin-right: 20px;">-->#}
				{#<p>#}
					{#Stay tuned for exciting programmes and fun-filled experiences to get you revved up for the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX!#}
				{#</p>#}


					{#<P>Don’t want to be left out?</p>#}
				{#<P> Subscribe to our e-newsletter for the latest information <u><a href="http://www.singaporegp.sg/newsletter">here</a></u>#}

				{#</p>#}
            {#</div>           #}
        {#</div>#}

      {#{% set i = 1 %}#}
        {#{% for revup in revups %}#}
        	{#{% if i == 1 %}#}
	        	{#<div class="chunk">#}
	        		{#<div class="row">#}
        	{#{% endif %}#}

        		{#<div class="small bucket col">#}
				    {#<figure>#}
					    {#<div class="img-wrapper">#}
					        {#<a href="{{ route('revUp.content', { 'slug': revup.slug }) }}"><img src="{{ revup.image }}" alt="" pagespeed_url_hash="3784479814"></a>#}
					    {#</div>#}
					    {#<figcaption>#}
					        {#<p>{{ revup.title }}</p>#}
		                    {#<p><a href="{{ route('revUp.content', { 'slug': revup.slug }) }}">Read More</a></p>#}
			            {#</figcaption>#}
					{#</figure>#}
				{#</div>#}
			{#{% set i = i + 1 %}#}
        	{#{% if i == 4 %}#}
        			{#</div>#}
        		{#</div>#}
        		{#{% set i = 1 %}#}
        	{#{% endif %}#}
        {#{% endfor %}#}


		<div class="chunk">
			<div class="row">

				<!-- Roving Truck -->
				<div class="small bucket col">
					<figure>
						<div class="img-wrapper">
							<a href="/revupsingapore/roving-truck"><img src="http://singaporegp.sg/media/rev-up/roving-trucks.jpg" alt=""></a>
						</div>
						<figcaption class="height-fig">
							<p class="left-text">Roving Truck <br/> <span class="date">June - August 2016</span> </p>
							<p><a href="/revupsingapore/roving-truck">Read More </a> </p>
							<!--<p style="color: #fff;font-size: .75rem;font-weight: 300;">Coming Soon</p>
			            </figcaption> -->
					</figure>
				</div>

				<div class="small bucket col">
					<figure>
						<div class="img-wrapper">
							<a href="http://register.sandpiper.asia/register/pitlane"><img src="http://singaporegp.sg/media/rev-up/thursday_pit_lane_experience.jpg" alt=""></a>
						</div>
						<figcaption class="height-fig">
							<p class="left-text">
								Thursday Pit Lane Experience
								<br/>
								<span class="date">15 September 2016</span>
							</p>
							<p><a href="http://register.sandpiper.asia/register/pitlane">Read More</a></p>
							<!-- <p style="color: #fff;font-size: .75rem;font-weight: 300;">Coming Soon</p> -->
						</figcaption>
					</figure>
				</div>


				<div class="small bucket col">
					<figure>
						<div class="img-wrapper">
							<a href="http://register.sandpiper.asia/register/walkingtour/"><img src="http://singaporegp.sg/media/rev-up/walking_tours.jpg" alt=""></a>
						</div>
						<figcaption class="height-fig">
							<p class="left-text">
								Walking Tours
								<br/>
								<span class="date">May - June 2016</span>
							</p>
							<p><a href="http://register.sandpiper.asia/register/walkingtour/">Read More</a></p>
							<!-- <p style="color: #fff;font-size: .75rem;font-weight: 300;">Coming Soon</p> -->
						</figcaption>
					</figure>
				</div>
				
			</div>
		</div>

        <div class="chunk">
            <div class="row">


				<!-- Fit for racing -->
				<div class="small bucket col">
					<figure>
						<div class="img-wrapper">
							<a href="http://register.sandpiper.asia/register/client/"><img src="http://singaporegp.sg/media/rev-up/fit_for_racing.jpg" alt=""></a>
						</div>
						<figcaption class="height-fig">
							<p class="left-text">
								Fit For Racing
								<br/>
								<span class="date">25 June 2016</span>
							</p>
							<p><a href="http://register.sandpiper.asia/register/client/">Read More</a></p>
						</figcaption>
					</figure>
				</div>




			    {#<div class="small bucket col">#}
				    {#<figure>#}
					    {#<div class="img-wrapper">#}
					        {#<a href="http://singaporegp.sg/media/"><img src="http://files.parse.com/12542338-4dea-4ce7-9585-891349ddc6e7/f50654f2-465e-4aad-81e3-5dce06443c77-news.png" alt="" pagespeed_url_hash="4161131935"></a>#}
					    {#</div>#}
					    {#<figcaption>#}
					        {#<p>Pit stop @ the libraries</p>#}
		                    {#<p><a href="http://singaporegp.sg/media/">Read More</a></p>#}
			            {#</figcaption>#}
					{#</figure>#}
				{#</div>#}
			    {#<div class="small bucket col">#}
				    {#<figure>#}
					    {#<div class="img-wrapper">#}
					        {#<a href="http://singaporegp.sg/rev-up-singapore"><img src="http://files.parse.com/12542338-4dea-4ce7-9585-891349ddc6e7/273072a0-a0de-4da6-af09-39578519c190-20-REVUPSINGAPORE-1.jpg" alt="" pagespeed_url_hash="1894885630"></a>#}
					    {#</div>#}
					    {#<figcaption>#}
					        {#<p>Behind the scene tours</p>#}
		                    {#<p><a href="http://singaporegp.sg/rev-up-singapore">Read More</a></p>#}
			            {#</figcaption>#}
					{#</figure>#}
				{#</div>#}
			</div>
		</div>

		{#<div class="chunk">#}
            {#<div class="row">#}
                {#<div class="small bucket col">#}
				    {#<figure>#}
					    {#<div class="img-wrapper">#}
					        {#<a href="http://singaporegp.sg/tickets.php"><img src="http://files.parse.com/12542338-4dea-4ce7-9585-891349ddc6e7/e28f2e93-44a8-4074-bb8f-ca9db93d6343-home-tickets.jpg" alt="" pagespeed_url_hash="3784479814"></a>#}
					    {#</div>#}
					    {#<figcaption>#}
					        {#<p>Karting training programme and championship</p>#}
		                    {#<p><a href="http://singaporegp.sg/tickets.php">Read More</a></p>#}
			            {#</figcaption>#}
					{#</figure>#}
				{#</div>#}
			    {#<div class="small bucket col">#}
				    {#<figure>#}
					    {#<div class="img-wrapper">#}
					        {#<a href="http://singaporegp.sg/media/"><img src="http://files.parse.com/12542338-4dea-4ce7-9585-891349ddc6e7/f50654f2-465e-4aad-81e3-5dce06443c77-news.png" alt="" pagespeed_url_hash="4161131935"></a>#}
					    {#</div>#}
					    {#<figcaption>#}
					        {#<p>Rev up Singapore! Kartnival</p>#}
		                    {#<p><a href="http://singaporegp.sg/media/">Read More</a></p>#}
			            {#</figcaption>#}
					{#</figure>#}
				{#</div>#}
			    {#<div class="small bucket col">#}
				    {#<figure>#}
					    {#<div class="img-wrapper">#}
					        {#<a href="http://singaporegp.sg/rev-up-singapore"><img src="http://files.parse.com/12542338-4dea-4ce7-9585-891349ddc6e7/273072a0-a0de-4da6-af09-39578519c190-20-REVUPSINGAPORE-1.jpg" alt="" pagespeed_url_hash="1894885630"></a>#}
					    {#</div>#}
					    {#<figcaption>#}
					        {#<p>Singapore GP school visits</p>#}
		                    {#<p><a href="http://singaporegp.sg/rev-up-singapore">Read More</a></p>#}
			            {#</figcaption>#}
					{#</figure>#}
				{#</div>#}
			{#</div>#}
		{#</div>#}
    </section>
{% endblock %}
