{% extends "layouts.gallery" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Rev Up Singapore!' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/gallerybundle.js?route={{ route('ontrack.gallery') }}"></script>

    <link rel="stylesheet" href="/stylesheets/ontrack-gallery.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>    

    <script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox({
            autoDimensions: false,
            width: 560
        });
    });
    </script>
{% endblock %}


{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>GET READY TO REV UP SINGAPORE!</h1>
                        <hr/>
                        <p>
                            Rev Up Singapore!</sup>
                        </p>   
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery-day" data-fancy-gallery>
        <div class="chunk row">
            <div style="margin-bottom: 30px;">
            	<img src="/images/logo_revup.gif" alt="" style="float: left; margin-right: 20px;">
            	<p>Share in our excitement and passion for Formula One™ as we gear up for the 2015 Formula 1 Singapore Airlines Singapore GRAND PRIX.</p>

				<p>Take part in fun-filled experiences – learn more about Formula One™ through educational talks, free movie screenings and interactive activities at libraries islandwide, view the team garages up-close, experience the thrills of karting on the Marina Bay Street Circuit, see what goes on behind-the-scenes to set up the world’s only Formula One<sup><small>TM</small></sup> night race, or gain an interesting insight into the pinnacle of motorsport through our school visits.</p>
            </div>
			<ul class="listing" style="margin-left: 158px;">
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/school/school-1.jpg" title="All about Formula One and the Singapore Grand Prix - a talk by motorsports blogger Cheryl Tay.">
						<img class="revup-image" src="images/revup/school/school-1-thumb.jpg" alt="Plants: image 1 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/school/school-2.jpg" title="Cheering friends on the Singapore GP racing simulator challenge.">
						<img class="revup-image" src="images/revup/school/school-2-thumb.jpg" alt="Plants: image 2 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/school/school-3.jpg" title="Students were given the opportunity to ask Formula One-related questions during the school visits.">
						<img class="revup-image" src="images/revup/school/school-3-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/school/school-4.jpg" title="Photo opportunities abound at the Singapore GP School Visits.">
						<img class="revup-image" src="images/revup/school/school-4-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/school/school-5.jpg" title="Students enjoying several interactive game stations at the Singapore GP  School Visit.">
						<img class="revup-image" src="images/revup/school/school-5-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/school/school-6.jpg" title="Students race to clock the fastest time in a lap around the Marina Bay Street Circuit on the Singapore GP racing simulators.">
						<img class="revup-image" src="images/revup/school/school-6-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/school/school-7.jpg" title="Students try their hand at one of several interactive game stations at the Singapore GP School Visit.">
						<img class="revup-image" src="images/revup/school/school-7-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>

				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-1.jpg" title="Visitors trying to piece together a Formula One car at a game station at Singapore GP's Rev Up Singapore! Motorsports Carnival at the ITE College Central.">
						<img class="revup-image" src="images/revup/ite/ite-1-thumb.jpg" alt="Plants: image 1 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-2.jpg" title="Visitors trying to clock the fastest time on the SingTel race simulators.">
						<img class="revup-image" src="images/revup/ite/ite-2-thumb.jpg" alt="Plants: image 2 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-3.jpg" title="Visitors challenging each other at the go-kart racing station at the Rev up Singapore! carnival.">
						<img class="revup-image" src="images/revup/ite/ite-3-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-4.jpg" title="Photo opportunities abound at the Rev Up Singapore! Motorsports Carnival.">
						<img class="revup-image" src="images/revup/ite/ite-4-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-5.jpg" title="Interactive game stations and photo stops at the Rev Up Singapore! Motorsports Carnival.">
						<img class="revup-image" src="images/revup/ite/ite-5-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-6.jpg" title="Petrol Ed makes an appearance at Singapore GP's Rev Up Singapore! motorsports carnival at the ITE College Central.">
						<img class="revup-image" src="images/revup/ite/ite-6-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-7.jpg" title="Interactive game stations and photo stops at the Rev Up Singapore! Motorsports Carnival at the ITE College Central.">
						<img class="revup-image" src="images/revup/ite/ite-7-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-8.jpg" title="A chance for visitors to try go-kart racing for free at the Rev-Up Singapore! carnival at ITE College Central.">
						<img class="revup-image" src="images/revup/ite/ite-8-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-9.jpg" title="Go-kart racing around an actual grounded plane at the Rev-Up Singapore! carnival at ITE College Central.">
						<img class="revup-image" src="images/revup/ite/ite-9-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-10.jpg" title="Children try their hand at racing on the Marina Bay Street Circuit on the SingTel simulators.">
						<img class="revup-image" src="images/revup/ite/ite-10-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/ite/ite-11.jpg" title="Children enjoying speed-themed games and having fun.">
						<img class="revup-image" src="images/revup/ite/ite-11-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>

				<li>
					<a class="fancybox" rel="gallery" href="images/revup/behind/behind-1.jpg" title="A chance to get up close and take pictures with a Formula BMW car at the Pit Lane.">
						<img class="revup-image" src="images/revup/behind/behind-1-thumb.jpg" alt="Plants: image 1 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/behind/behind-2.jpg" title="Guided tours provide students with opportunities to learn what it takes to set up the Marina Bay Street Circuit.">
						<img class="revup-image" src="images/revup/behind/behind-2-thumb.jpg" alt="Plants: image 2 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/behind/behind-3.jpg" title="Secondary school students had fun learning about race preparations at the behind-the-scenes tours.">
						<img class="revup-image" src="images/revup/behind/behind-3-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/behind/behind-4.jpg" title="Secondary school students enjoyed fully guided tour behind-the-scenes tour at the Marina bay Street circuit.">
						<img class="revup-image" src="images/revup/behind/behind-4-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/behind/behind-5.jpg" title="Students learn about what goes on at the race control room, the nerve centre of the Pit Building, from the Clerk-of-the-Course Gabriel Tan.">
						<img class="revup-image" src="images/revup/behind/behind-5-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/behind/behind-6.jpg" title="Students take part in a role-playing exercise to get a better understanding of what goes on at the race control room during the race.">
						<img class="revup-image" src="images/revup/behind/behind-6-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>

				<li>
					<a class="fancybox" rel="gallery" href="images/revup/uni/uni-1.jpg" title="A chance to meet Formula One experts in person at Singapore GP's free Formula 1.101 Innovation Talk at Nanyang Technological University.">
						<img class="revup-image" src="images/revup/uni/uni-1-thumb.jpg" alt="Plants: image 1 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/uni/uni-2.jpg" title="Engineering students and members of the public had a chance to attend a free Formula 1.101 Innovation Talk organised by Singapore GP and hosted by NTU.">
						<img class="revup-image" src="images/revup/uni/uni-2-thumb.jpg" alt="Plants: image 2 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/uni/uni-3.jpg" title="Getting a better understanding of the technology behind Formula One during the FAQ session.">
						<img class="revup-image" src="images/revup/uni/uni-3-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/uni/uni-4.jpg" title="Participants get their questions answered by Formula One experts.">
						<img class="revup-image" src="images/revup/uni/uni-4-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/uni/uni-5.jpg" title="Participants learn from the experts at Singapore GP's free Formula 1.101 Innovation Talk.">
						<img class="revup-image" src="images/revup/uni/uni-5-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/uni/uni-6.jpg" title="Participants learnt about tyre design, from the drawing board to production from Paul Hembery, Motorsport Director, Pirelli Tyre.">
						<img class="revup-image" src="images/revup/uni/uni-6-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/uni/uni-7.jpg" title="Philip Prew, Chief Engineer, Vodafone McLaren Mercedes presents a look at the demands of modern Formula One racing and the effectiveness of high performance teamwork.">
						<img class="revup-image" src="images/revup/uni/uni-7-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/uni/uni-8.jpg" title="Tom McCullough, Head of Track Engineering, Sauber F1 Team talks students through how a Formula One car is built in 9 months.">
						<img class="revup-image" src="images/revup/uni/uni-8-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>

				<li>
					<a class="fancybox" rel="gallery" href="images/revup/rush/rush-1.jpg" title="1,500 tickets were given away for the Singapore GP free RUSH movie screening at five Cathay cinemas across the island.">
						<img class="revup-image" src="images/revup/rush/rush-1-thumb.jpg" alt="Plants: image 1 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/rush/rush-2.jpg" title="Movie ticket winners strike a pose at the Singapore GP free RUSH movie screening at The Cathay.">
						<img class="revup-image" src="images/revup/rush/rush-2-thumb.jpg" alt="Plants: image 2 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/rush/rush-3.jpg" title="Formula One fans strike a pose at the Singapore GP free RUSH movie screening at The Cathay.">
						<img class="revup-image" src="images/revup/rush/rush-3-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>

				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-1.jpg" title="2,500 lucky Singaporeans and residents won the ballot for a chance to walk the Pit Lane as part of Singapore GP's Rev Up Singapore! campaign.">
						<img class="revup-image" src="images/revup/tple/tple-1-thumb.jpg" alt="Plants: image 1 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-2.jpg" title="A thrilling evening at the Pit Lane for Formula One fans of all ages.">
						<img class="revup-image" src="images/revup/tple/tple-2-thumb.jpg" alt="Plants: image 2 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-3.jpg" title="Fans had the opportunity to get upclose to the team garages and see what goes on inside.">
						<img class="revup-image" src="images/revup/tple/tple-3-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-4.jpg" title="Fans take candid shots on track during the Thursday Pit Lane Experience.">
						<img class="revup-image" src="images/revup/tple/tple-4-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-5.jpg" title="For the first time, 2,500 participants got a chance to walk the Pit Lane a day before the Circuit Park is open to public.">
						<img class="revup-image" src="images/revup/tple/tple-5-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-6.jpg" title="Lucky fans enjoying a Pit Lane experience usually reserved for Paddock Club ticketholders.">
						<img class="revup-image" src="images/revup/tple/tple-6-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-7.jpg" title="Participants enjoy upclose views of their favourite teams at work at the Pit Lane.">
						<img class="revup-image" src="images/revup/tple/tple-7-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-8.jpg" title="Participants got to witness the crowning of the SingTel grid girls as part of the Thursday Pit Lane Experience.">
						<img class="revup-image" src="images/revup/tple/tple-8-thumb.jpg" alt="Plants: image 1 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-9.jpg" title="Photo opportunities abound at the Thursday Pit Lane Experience.">
						<img class="revup-image" src="images/revup/tple/tple-9-thumb.jpg" alt="Plants: image 2 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-10.jpg" title="Local percussion group Wicked Aura Batucada led the crowd into the Pit Lane.">
						<img class="revup-image" src="images/revup/tple/tple-10-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-11.jpg" title="Red Bull thrills fans with a pit stop demonstration at the Pit Lane.">
						<img class="revup-image" src="images/revup/tple/tple-11-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-12.jpg" title="The 2013 FORMULA 1 SINGTEL SINGAPORE GRAND PRIX was made even more memorable with the Thursday Pit Lane Experience.">
						<img class="revup-image" src="images/revup/tple/tple-12-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
				<li>
					<a class="fancybox" rel="gallery" href="images/revup/tple/tple-13.jpg" title="Visitors were entertained by musicians Voxx at the Village Stage during the Thursday Pit Lane Experience.">
						<img class="revup-image" src="images/revup/tple/tple-13-thumb.jpg" alt="Plants: image 3 0f 4 thumb"/>
						<span class="text-content"><span>View</span></span>
					</a>
				</li>
            </ul>
			
            
        </div>
    </section>


{% endblock %}
