{% extends "layouts.gallery" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Merchandise' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}


{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="sty  lesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <style>
        .content section.selection {
            background: url("http://web2.singaporegp.sg/Uploaded/sgp_merchandise/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
        }
        h4, p{
            margin:0;
            padding:0;
        }
        p{
            font-size:16px;
            line-height:22px;
        }
        h4~p{

            text-transform: uppercase;
        }
        .longer{
            width: 500px !important;
        }
        .needpadding{
            padding-left: 40px;
            padding-right: 40px;
        }
        .container{
        }
        .noshadow{
            background:white !important;

            box-shadow: none !important;
        }
        .padd{
            background-color: #f1f1f1;
            padding:12px;
            height: 120px;
        }
        i{
            text-transform: capitalize !important;
        }
        .imgholder{

            padding: 10px;
        }
        .imgholder > img{
            width: 100%;
        }
        h3{
            text-transform: uppercase;
        }
        a{
            font-weight: bolder;
        }
        .bigger{
            font-size: 1em;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc ">
                        <h1>MERCHANDISE</h1>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="preamble">
        <div class="chunk">
            <!--<p  class="bigger">
                For all merchandise enquiries, please email to <a href="mailto:merchandise@singaporegp.sg">merchandise@singaporegp.sg</a>.
            </p>-->
            <p>
                Check out our new range of our Official 2016 Singapore Grand Prix merchandise!
                <br>
                From fancy metallic prints and stylish rhinestud embellishments to neon print graphics, there is something for everyone!
            </p>
            <br>
            Purchase your memorabilia at:<br>
            <ul>
                <li style="margin: 10px;"><a href="https://shop.singaporegp.sg/">shop.singaporegp.sg</a></li>
                <li style="margin: 10px;">
                    WORLD OF SPORTS (selected merchandise only)
                    <br><br>

                    <u>Marina Bay Sands</u> <br>
                    The Shoppes @ Marina Bay Sands <br>
                    B1-65, 2 Bayfront Avenue. Singapore 018972 <br>
                    Tel : 6688 7327
                    <br><br>
                    <u>VivoCity</u> <br>
                    1 Harbour Front Walk, #02-99/103. Singapore 098585 <br>
                    Tel : 6376 8071 <br>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}