{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Contest' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    {#<script type="text/javascript" src="javascripts/homeappbundle.js"></script>#}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/win-home.min.css"/>
    <style>
        .mason-block, .bucket figure, .caption{background-color: #13324f; }
    </style>
{% endblock %}

{#
    page content
#}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Contest</h1>
                        <br/>
                        <p>
                            Participate in Singapore GP contests to win attractive prizes!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mason">
        <div class="chunk">


            <div class="row">
                <!-- 2017 SEB Contest -->
                <div class="row">
                    <div class="wallpaper-download col">
                        <div class="mason-block">
                            <div class="img-wrapper hidden-wrapper">
                                <a href="{{ route('win.contests.seb') }}"><img src="http://www.singaporegp.sg/media/contests/2017-seb/2017SEBContest_Cover.jpg" alt=""/></a>
                            </div>

                            <div class="caption-wrapper">
                                <div class="caption">
                                    <p>2017 Super Early Bird Ticket Contest</p>
                                    <hr>
                                    <p><a href="{{ route('win.contests.seb') }}">Find out more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SGP FAN EXPERIENCE -->
                {#
                <div class="row">
                    <div class="wallpaper-download col">
                        <div class="mason-block">
                            <div class="img-wrapper hidden-wrapper">
                                <a href="{{ route('win.contests', {'slug': 'pitstopatorchard'}) }}"><img src="http://www.singaporegp.sg/media/contests/popupstore/contest-pit-stop-at-orchard.jpg" alt=""/></a>
                            </div>

                            <div class="caption-wrapper">
                                <div class="caption">
                                    <p>PIT STOP AT ORCHARD</p>
                                    <hr>
                                    <p><a href="{{ route('win.contests', {'slug': 'pitstopatorchard'}) }}">Find out more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
                <!-- SGP MOMENT PHOTO CONTEST -->
                {#<div class="row">
                    <div class="wallpaper-download col">
                        <div class="mason-block">
                            <div class="img-wrapper hidden-wrapper">
                                <a href="{{ route('win.contests', {'slug': 'my-sgp-moment'}) }}"><img src="http://www.singaporegp.sg/media/contests/My-SGP-Moment_Contest-inside.jpg" alt=""/></a>
                            </div>

                            <div class="caption-wrapper">
                                <div class="caption">
                                    <p>MY SGP MOMENT - PHOTOGRAPHY CONTEST</p>
                                    <hr>
                                    <p><a href="{{ route('win.contests', {'slug': 'my-sgp-moment'}) }}">Find out more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
                <!-- SGP FAN EXPERIENCE -->

                <!--<div class="row">
                    <div class="wallpaper-download col">
                        <div class="mason-block">
                            <div class="img-wrapper hidden-wrapper">
                                <a href="{{ route('win.contests', {'slug': 'sgp-fan-experience'}) }}"><img src="http://www.singaporegp.sg/media/contests/money-cant-buy-experience/sgp-fan-contest-cover.jpg" alt=""/></a>
                            </div>

                            <div class="caption-wrapper">
                                <div class="caption">
                                    <p>SGP FAN EXPERIENCE CONTEST</p>
                                    <hr>
                                    <p><a href="{{ route('win.contests', {'slug': 'sgp-fan-experience'}) }}">Find out more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

                <!-- Meet and Greet Contest -->

                <!--<div class="row">
                    <div class="wallpaper-download col">
                        <div class="mason-block">
                            <div class="img-wrapper hidden-wrapper">
                                <a href="{{ route('win.contests', {'slug': 'meet-and-greet'}) }}"><img src="http://www.singaporegp.sg/media/contests/meet-and-greet/meet-and-greet.jpg" alt=""/></a>
                            </div>

                            <div class="caption-wrapper">
                                <div class="caption">
                                    <p>Artist Meet & Greet Contest</p>
                                    <hr>
                                    <p><a href="{{ route('win.contests', {'slug': 'meet-and-greet'}) }}">Find out more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- end meet and greet contest -->
                {#
                           <div class="row">

                               <div class="wallpaper-download col">
                                   <div class="mason-block">
                                       <div class="img-wrapper hidden-wrapper">
                                           <a href="{{ route('win.contests', {'slug': 'thursday-pit-lane-experience'}) }}"><img src="http://www.singaporegp.sg/media/contests/thursday-pit-lane-challange.jpg" alt=""/></a>
                                       </div>

                                       <div class="caption-wrapper">
                                           <div class="caption">
                                               <p>Thursday Pit Lane Experience Contest</p>
                                               <hr>
                                               <p><a href="{{ route('win.contests', {'slug': 'thursday-pit-lane-experience'}) }}">Find out more</a></p>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>#}

                {#<div class="row">
                    <div class="wallpaper-download col">
                        <div class="mason-block">
                            <div class="img-wrapper hidden-wrapper">
                                <a href="{{ route('win.contests', {'slug': 'strun'}) }}"><img src="http://www.singaporegp.sg/media/contests/straits-times-run-contest.jpg" alt=""/></a>
                            </div>

                            <div class="caption-wrapper">
                                <div class="caption">
                                    <p>Straits Times Run Contest</p>
                                    <hr/>
                                    <p> <a href="{{ route('win.contests', {'slug': 'strun'})
                                        }}">Find out more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
                {#
                <div class="row">
                    <div class="wallpaper-download col">
                        <div class="mason-block">
                            <div class="img-wrapper hidden-wrapper">
                                <a href="{{ route('win.contests', {'slug': '2016-car-decal-contest'}) }}"><img src="http://www.singaporegp.sg/media/contests/SpotTheCar-Listing.jpg" alt=""/></a>
                            </div>

                            <div class="caption-wrapper">
                                <div class="caption">
                                    <p>Car Decal Contest</p>
                                    <hr>
                                    <p><a href="{{ route('win.contests', {'slug': '2016-car-decal-contest'}) }}">Find out more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>#}
            {#
                <div class="row">
                    <div class="wallpaper-download col">
                        <div class="mason-block">
                            <div class="img-wrapper hidden-wrapper">

                                <a href="{{ route('campaign') }}"><img src="/images/campaign/campaign.jpg" alt=""/></a>

                            </div>

                            <div class="caption-wrapper">
                                <div class="caption">
                                    <p>Mobile App Contest</p>
                                    <hr/>
                                    <p><a href="{{ route('campaign') }}">Find out more</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    #}
            </div>
    </section>

{% endblock %}

{% block pit_crew_bucket %}
{% endblock %}