{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Fanzone' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    {#<script type="text/javascript" src="javascripts/homeappbundle.js"></script>#}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/win-home.min.css"/>
    <style>
        .mason-block, .bucket figure, .caption{background-color: #13324f; }
    </style>
{% endblock %}

{#
    page content
#}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Fanzone</h1>
                        <br/>
                        <p>
                            Keep a lookout for fun Singapore GP games &amp; contests and<br/>download the latest desktop wallpapers!
                        </p>
                    </div>
                    {#<div class="styled-button locale">#}
                        {#<a class="en {% if locale == 'en' %}active{% endif %}" href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                        {#<a class="zh {% if locale == 'cn' %}active{% endif %}" href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>

    <section class="mason">
        <div class="chunk">
{#}
            <div class="row">
                <div class="wallpaper-download col">
                    <div class="mason-block">
                        <div class="img-wrapper hidden-wrapper">
                            <a href="{{ route('contests') }}"><img src="/images/fanzone/contest.jpg" alt=""/></a>
                        </div>

                        <div class="caption-wrapper">
                            <div class="caption">
                                <p>CONTESTS</p>
                                <hr>
                                <p><a href="{{ route('contests') }}">Find out more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
#}

            <div class="row">
                <div class="contest bucket">
                    <figure>
                        <div class="img-wrapper hidden-wrapper">
                            <a href="{{ route('ontrack.gallery', { 'year': '2016', 'type': 'photos' }) }}"><img src="/images/fanzone/photos.jpg" alt=""/></a>
                        </div>
                        <figcaption>
                            <p>Photo Gallery</p>
                            <hr>
                            <p><a href="{{ route('ontrack.gallery', { 'year': '2016', 'type': 'photos' }) }}">View
                                    now</a></p>
                        </figcaption>
                    </figure>
                </div>

                <div class="contest bucket">
                    <figure>
                        <div class="img-wrapper hidden-wrapper">
                            <a href="{{ route('ontrack.gallery', { 'year': '2016', 'type': 'videos' }) }}"><img src="/images/fanzone/videos.jpg" alt=""/></a>
                        </div>
                        <figcaption>
                            <p>Video Gallery</p>
                            <hr>
                            <p><a href="{{ route('ontrack.gallery', { 'year': '2016', 'type': 'videos' }) }}">View
                                    now</a></p>
                        </figcaption>
                    </figure>
                </div>

                <div class="contest bucket">
                    <figure>
                        <div class="img-wrapper hidden-wrapper">
                           <a href="{{ route('win.wallpapers') }}"><img src="/images/fanzone/wallpaper.jpg" alt=""/></a>
                        </div>
                        <figcaption>
                            <p>Wallpaper Gallery</p>
                            <hr>
                            <p><a href="{{ route('win.wallpapers') }}">Download now</a></p>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="row">
                <div class="wallpaper-download col">
                    <div class="mason-block">
                        <div class="img-wrapper hidden-wrapper">
                            <a href="{{ route('contests') }}"><img src="/images/contests/contest.jpg" alt=""/></a>
                        </div>

                        <div class="caption-wrapper">
                            <div class="caption">
                                <p>Contest</p>
                                <hr/>
                                <p><a href="{{ route('contests') }}">View now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="wallpaper-download col">
                    <div class="mason-block">
                        <div class="img-wrapper hidden-wrapper">
                            <a href="{{ route('win.challenge.pitStop') }}"><img src="/images/win_challenge.jpg" alt=""/></a>
                        </div>

                        <div class="caption-wrapper">
                            <div class="caption">
                                <p>Pit Stop Challenge</p>
                                <hr/>
                                <p><a href="{{ route('win.challenge.pitStop') }}">Play now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {#
            <div class="row">
                <div class="wallpaper-download col">
                    <div class="mason-block">
                        <div class="img-wrapper">
                            <a href="{{ route('win.wallpapers') }}"><img src="/images/mason_alltickets.jpg" alt=""/></a>
                        </div>

                        <div class="caption-wrapper">
                            <div class="caption">
                                <h3>F1 Wallpaper</h3>
                                &mdash;<br/>
                                <a href="{{ route('win.wallpapers') }}">Download now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            #}
        </div>
    </section>

{% endblock %}

{% block pit_crew_bucket %}
<div class="challenge bucket">
    <figure>
        <div class="img-wrapper">
            <a href="{{ route('win.challenge.pitStop') }}"><img src="/images/win_challenge.jpg" alt=""/></a>
            <i>Pit Stop Challenge</i>
        </div>
        <figcaption>
            <p>Be part of the Pit Crew and follow the instructions to execute a pit stop!</p>

            <p><a href="{{ route('win.challenge.pitStop') }}">Challenge now</a></p>
        </figcaption>
    </figure>
</div>
{% endblock %}