{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}

        <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
        <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
        <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
        <style>
            .content section.selection {
                background: url("http://web2.singaporegp.sg/Uploaded/sgp_merchandise/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
            }
            h4, p{
                margin:0;
                padding:0;
            }
            h4~p{

                text-transform: uppercase;
            }
            .longer{
                width: 500px !important;
            }
            .needpadding{
                padding-left: 40px;
                padding-right: 40px;
            }
            .container{
            }
            .noshadow{
                background:white !important;

                box-shadow: none !important;
            }
            .padd{
                background-color: #f1f1f1;
                padding:12px;
                height: 120px;
            }
            i{
                text-transform: capitalize !important;
            }
            .imgholder{

                padding: 10px;
            }
            .imgholder > img{
                width: 100%;
            }
            h3{
                text-transform: uppercase;
            }
            a{
                font-weight: bolder;
            }
            .bigger{
                font-size: 1em;
            }
        </style>
    {% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc ">
                        <h1>2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX MERCHANDISE</h1>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="preamble">
        <div class="chunk">
            <h2 id="headercol">Merchandise</h2><br><br>
            <p  class="bigger">
                For all merchandise enquiries, please email to <a href="mailto:merchandise@singaporegp.sg">merchandise@singaporegp.sg</a>.
            </p>
            <!--<p>
                This year’s range features apparel for men, women and children, in addition to an array of accessories and souvenirs– there is a piece of memorabilia for every race fan!
            </p>
            </br>
            <p>
                Official memorabilia can be purchased at merchandise stores located throughout the <b>Circuit Park</b> from <b>18 - 20 September</b> and the following <b>World of Sports</b> outlets from <b><br>5 September - 18 October 2015</b>.
            </p>
            </br>
            <p>
                World Of Sports&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;World Of Sports<br>
                Marina Bay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paragon</br>
                The Shoppes @ Marina Bay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;290 Orchard Road,</br>
                B1-65, 2 Bayfront Avenue.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#04-29/30.<br>
                Singapore 018972&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Singapore 238859
            </p>
            </br>
            <p>
                For all merchandise orders and enquiries, please email to <a href="mailto:merchandise@singaporegp.sg">merchandise@singaporegp.sg</a>.
            </p>-->
        </div>
    </section>

    <!--<section class="words needpadding noshadow">
        <div class="chunk">
            <h3> Men's Apparel </h3>
            <div class="row">
                <div class="big bucket col" >
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/01_Speeding_Car_Red_Tee.png"/>
                        </div>
                        <div class="padd">
                            <h4>Speeding Car Red Tee, SGD $59.00</h4>
                            <p>
                                Men’s Cotton/ Polyester Tee With Plastisol And Hi-Density Prints<br>S, M, L, XL, XXL
                                <br>

                            </p>
                        </div>
                    </div>
                </div>

                <!<div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/02_Helmet_Burnout_Tee.png"/>
                        </div>
                        <div class="padd">
                            <h4>Helmet Burnout Tee, SGD $59.00</h4>
                            <p>
                                Men’s Cotton/ Polyester Burnout Tee With Plastisol Prints<br>S, M, L, XL, XXL<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/03_Track-3D_Navy_Tee.png"/>
                        </div><div class="padd">
                            <h4>Track-3D Navy Tee, SGD $59.00</h4>
                            <p>
                                Men’s 100% Cotton Tee With Plastisol And Hi-Density Prints<br>S, M, L, XL, XXL<br>
                            </p></div>
                    </div>
                </div>

            </div>
        </div>

    </section>-->


    <!--<section class="words needpadding noshadow">
        <div class="chunk">
            <div class="row">


                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/04_Racing_Cars_White_Tee.png"/>
                        </div><div class="padd">
                            <h4>Racing Cars White Tee, SGD $49.00</h4>
                            <p>
                                Men’s 100% Cotton Slub Tee With Plastisol And Distressed Prints<br>S, M, L, XL, XXL<br>
                            </p>
                        </div></div>
                </div>
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/06_Helmet_Track_Grey_Tee.png"/>
                        </div><div class="padd">
                            <h4>Helmet Track Grey Tee, SGD $59.00</h4>
                            <p>
                                Men’s 100% Cotton Tee With Plastisol And Puff Prints<br>S, M, L, XL, XXL<br>
                            </p>
                        </div></div>
                </div>

            </div>
        </div>
    </section>-->


    <!--<section class="words needpadding noshadow">
        <div class="chunk">
            <div class="row">
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/08_Stripes_Logo_Black_Sports_Tee.png"/>
                        </div><div class="padd">
                            <h4>Stripes Logo Black Sports Tee, SGD $79.00</h4>
                            <p>
                                Men’s 100% Polyester Pique Sports Tee With Heat Transfer And Rubber Prints<br>S, M, L, XL, XXL<br>
                            </p>
                        </div></div>
                </div>
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/09_Car_Grid_Black_Sports_Tee.png"/>
                        </div><div class="padd">
                            <h4>Car Grid Black Sports Tee, SGD $79.00</h4>
                            <p>
                                Men’s Nylon/ Spandex Tactel PU Jersey Sports Tee With Metallic Prints<br>S, M, L, XL, XXL<br>
                            </p>
                        </div></div>
                </div>
            </div>
        </div>
    </section>-->


    <!--    <section class="words needpadding noshadow">
            <div class="chunk">
                <div class="row">
                    <div class="big bucket col">
                        <div class="container">
                            <div class="imgholder">
                                <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/07_Checkered_Car_Rays_Black_Tee.png"/>
                            </div><div class="padd">
                                <h4>Checkered Car Rays Black Tee, SGD $59.00</h4>
                                <p>
                                    Men’s 100% Cotton Tee With Plastisol And Hi-Density Prints<br>S, M, L, XL, XXL<br>
                                </p>
                            </div></div>
                    </div>



                </div>
            </div>
        </section>-->
    <!--<section class="words needpadding noshadow">
        <div class="chunk">
            <div class="row">


                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/10_Singapore_Car_Grey_Sports_Tee.png"/>
                        </div><div class="padd">
                            <h4>Singapore Car Grey Sports Tee, SGD $79.00</h4>
                            <p>
                                Men’s Nylon/ Spandex Tactel PU Jersey Sports Tee With Water Based Prints<br>S, M, L, XL, XXL<br>
                            </p>
                        </div></div>
                </div>

            </div>
        </div>
    </section>-->
    <!--<section class="words needpadding noshadow">
        <div class="chunk">
            <div class="row">
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/11_Singapore_15_Navy_Sports_Polo.png"/>
                        </div><div class="padd">
                            <h4>Singapore 15 Navy Sports Polo, SGD $89.00</h4>
                            <p>
                                Men’s Polyester/ Nylon/ Spandex Jersey Polo With Water Based And Rubber Prints<br>S, M, L, XL, XXL<br>
                            </p>
                        </div></div>
                </div>

                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/men/12_Track_Dark_Grey_Sports_Polo.png"/>
                        </div><div class="padd">
                            <h4>Track Dark Grey Sports Polo, SGD $89.00</h4>
                            <p>
                                Men’s Polyester/ Spandex PU Mesh Polo With Heat Transfer And Rubber Prints<br>S, M, L, XL, XXL<br>
                            </p>
                        </div></div>
                </div>

            </div>
        </div>
    </section>-->
    <!--<section class="words needpadding noshadow">
        <div class="chunk">
            <h3> Ladies' Apparel </h3>
            <div class="row">
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/ladies/13_2015_Title_Burnout_Tee.png"/>
                        </div><div class="padd">
                            <h4>2015 Title Burnout Tee, SGD $59.00</h4>
                            <p>
                                Ladies’ Cotton/ Polyester Burnout Tee With Heat Transfer Prints<br>XS, S, M, L, XL<br>
                            </p>
                        </div></div>
                </div>

                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/ladies/14_Stripes_Purple_Tee.png"/>
                        </div><div class="padd">
                            <h4>Stripes Purple Tee, SGD $59.00</h4>
                            <p>
                                Ladies’ Cotton/ Polyester Tee With Plastisol And Foil Prints<br>S, M, L, XL<br>
                            </p>
                        </div></div>
                </div>

            </div>
        </div>
    </section>-->
    <!--<section class="words needpadding noshadow">
        <div class="chunk">
            <div class="row">
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/ladies/15_V-Neck_Green_Slub_Tee.png"/>
                        </div><div class="padd">
                            <h4>V-Neck Green Slub Tee, SGD $59.00</h4>
                            <p>
                                Ladies’ 100% Cotton Slub Tee With Plastisol And Distressed Prints<br>S, M, L, XL<br>
                            </p>
                        </div></div>
                </div>

                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/ladies/16_Official_Logo_Pink_Tank_Top.png"/>
                        </div><div class="padd">
                            <h4>Official Logo Pink Tank Top, SGD $55.00</h4>
                            <p>
                                Ladies’ Tri-Blend Polyester/ Cotton/ Rayon Tank Top With Metallic Prints<br>S, M, L, XL<br>
                            </p>
                        </div></div>
                </div>

            </div>
        </div>
    </section>-->
    <!--<section class="words needpadding noshadow">
        <div class="chunk">
            <div class="row">
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/ladies/17_Lanyard_Race_Ticket_White_Tee.png"/>
                        </div><div class="padd">
                            <h4>Lanyard Race Ticket White Tee, SGD $49.00</h4>
                            <p>
                                Ladies’ Cotton/ Polyester Slub Tee With Plastisol Prints<br>S, M, L, XL<br>
                            </p>
                        </div></div>
                </div>
            </div>
        </div>
    </section>

    <section class="words needpadding noshadow">
        <div class="chunk">
            <h3>Kids' Apparel</h3>
            <div class="row">
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/kids/20_2015_Title_Pink_Girls_Tee.png"/>
                        </div><div class="padd">
                            <h4>2015 Title Pink Girls’ Tee, SGD $45.00</h4>
                            <p>
                                Girls’ Tri-Blend Polyester/ Cotton/ Rayon Tee With Glitter And Plastisol Prints<br>XS, S, M, L<br>
                            </p>
                        </div></div>
                </div>


            </div>
        </div>
    </section>
    <section class="words needpadding noshadow">
        <div class="chunk">
            <h3>Caps</h3>
            <div class="row">
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/caps/23_Checkered_Peak_Tri-Colour_Cap.png"/>
                        </div><div class="padd">
                            <h4>Checkered Peak Tri-Colour Cap, SGD $55.00</h4>
                            <p>
                                6-Panel Polyester/ Rayon/ Spandex/ Synthetic Suede Cap With Hi-Density Print Badge Applique, Open Back With Adjustable Strap And Metal Buckle W/ Embossed Logo<br>
                            </p>
                        </div></div>
                </div>

                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/caps/24_C04_Stripes_Car_Red_Cap.png"/>
                        </div><div class="padd">
                            <h4>Stripes Car Red Cap, SGD $55.00</h4>
                            <p>
                                5-Panel 100% Polyester Cap With Embroidery, Hi-Density Prints And Removable Magnetic Badge, Open Back With Adjustable Strap And Metal Buckle W/ Embossed Logo
                            </p>
                        </div></div>
                </div>

            </div>
        </div>
    </section>-->
    <!--<section class="words needpadding noshadow">
        <div class="chunk">
            <div class="row">
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/caps/25_C05_Singapore_15_Grey_Cap.png"/>
                        </div><div class="padd">
                            <h4>Singapore 15 Grey Cap, SGD $55.00</h4>
                            <p>
                                5-Panel 100% Cotton Twill Cap With Woven Badge Applique Embroidery And Plastisol Prints, Open Back With Adjustable Strap And Metal Buckle W/ Embossed Logo
                            </p>
                        </div></div>
                </div>
            </div>
        </div>
    </section>
    <section class="words needpadding noshadow">
        <div class="chunk">
            <h3>Assorted Gifts</h3>
            <div class="row">
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/gifts/27_Car_Rays_Mug.png"/>
                        </div><div class="padd">
                            <h4>Car Rays Mug,  SGD $29.00</h4>
                            <p>
                                Ceramic Metallic Grey Mug
                            </p>
                        </div>
                    </div>
                </div>
                <div class="big bucket col">
                    <div class="container">
                        <div class="imgholder">
                            <img width="400" height="340" src="http://web2.singaporegp.sg/Uploaded/merchandise/gifts/28_G04_Car_Official_Logo_Ball_Pen.png"/>
                        </div><div class="padd">
                            <h4>Car Official Logo Ball Pen, SGD $29.00</h4>
                            <p>
                                Ball Pen With Refillable Black Ink In Lacquered Barrel With Shiny Chrome Ringer, With Black And Gold Prints.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>-->

    <!--<section class="words needpadding noshadow">
        <div class="chunk">
            <div class="row">
            </div>
        </div>
    </section>-->

    <!--<section class="preamble">
        <div class=" chunk">
            <h2 id="headercol longer"></h2><br>

            <div class="col">
                -<p class="bigger">Please visit <a href="http://www.singaporegp.sg">www.singaporegp.sg</a> for regular updates on the sale of 2015 F1 merchandise and participating authorised outlets. For any enquiries, please email to <a href="mailto:merchandise@singaporegp.sg">merchandise@singaporegp.sg</a>.

                 </p>

            </div>
        </div>
    </section>-->
{% endblock %}