<div class="sponsors-copyright">
    <h5>Title Sponsor</h5>

    <div class="img-wrapper title-sponsor"><a href="http://www.singaporeair.com/" target="_blank"><img src="/images/footer_sia.png" alt=""/></a></div>

    <h5>PROMOTED BY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HELD IN</h5>
    <div class="img-wrapper" style="margin-top:20px">
        <img id="Image-Maps-Com-image-maps-2014-04-28-052909" src="http://singaporegp.sg/media/footer_ys_sgp.png" border="0" width="241" height="66" orgWidth="241" orgHeight="66" usemap="#image-maps-2014-04-28-052909" alt="" />
        <map name="image-maps-2014-04-28-052909" id="ImageMapsCom-image-maps-2014-04-28-052909">
            <area  alt="" title="SGP" href="http://www.singaporegp.sg/" target="_blank" shape="rect" coords="0,0,108,66" style="outline:none;"/>
            <area  alt="" title="YS" href="http://www.yoursingapore.com/" target="_blank" shape="rect" coords="124,0,241,66" style="outline:none;"/>
        </map>
    </div>

    <p>&copy; 2016 Singapore GP Pte. Ltd. All rights reserved. <br />The F1 FORMULA 1 logo, F1, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, SINGAPORE GRAND PRIX and related marks are trade marks of Formula One Licensing BV, a Formula One group company.</p>
</div>
