<div class="chunk">
    <div class="row">
        <div class="top-bar col">
            <div class="img-wrapper"><a href="{{ route('home') }}"><img src="http://singaporegp.sg/media/logo/2017_SGPEventLogo.png" alt=""/></a></div>
        </div>
        {% block social %}
        <div class="social-bar col">
            <div class="addthis-widget">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                    <a class="addthis_button_facebook"></a>
                    <a class="addthis_button_twitter"></a>
                    <a class="addthis_button_email"></a>
                    <a class="addthis_button_print"></a>
                    <a class="addthis_button_compact"></a>
                    <a class="addthis_counter addthis_bubble_style"></a>
                </div>
                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                <!-- AddThis Button END -->
            </div>
        </div>
        {% endblock %}
    </div>
</div>