<nav data-responsive-menu>
    <a id="pull" class="icon-menu" href=""></a>
    {% spaceless %}
        <ul>
            <li class="{% if currentRouteName == 'home' %}active{% endif %}"><a href="{{ route('home') }}">{{ trans('navigation.home') }}</a></li>
            {#<li class="{% if currentRouteName == 'raceguide' %}active{% endif %}"><a href="{{ route('raceguide') }}">{{ trans('navigation.raceguide') }}</a>
                <ul>
                    <li><a href="{{ route('raceguide.collection.guide', { 'guideSlug': 'grandstand-and-walkabout-ticketholder-guide' }) }}">Grandstand and Walkabout Ticketholders</a></li>
                    <li><a href="{{ route('raceguide.collection.guide', { 'guideSlug': 'sky-club-suites-green-room-ticket-holders' }) }}">Sky , Club Suites &amp; Green Room Ticketholders</a></li>
                    <li><a href="{{ route('raceguide.collection.guide', { 'guideSlug': 'paddock-club-ticketholders' }) }}">Paddock Club Ticketholders</a></li>
                    <li><a href="{{ route('raceguide.collection.guide', { 'guideSlug': '2014-on-off-track-schedule' }) }}">On/Off Track Schedule</a></li>
                    <li><a href="{{ route('raceguide.transportguide') }}">2014 Transport Guide</a></li>
                    <li><a href="{{ route('layouts.raceguides.tips') }}">Tips to Enjoy the Race</a></li>
                </ul>
            </li>#}
            <li class="{% if currentParentRoute == 'tickets' %}active{% endif %}"><a href="{{ route('tickets') }}">{{ trans('navigation.tickets') }}</a>
                <ul>
                    {% if isSuperEarlyBirdOn == true %}
                    <li><a href="{{ route('tickets.listing.seb') }}">{{ trans('navigation.listing.seb') }}</a></li>
                        {#<li><a href="http://tickets.singaporegp.sg">{{ trans('navigation.listing.seb') }}</a></li>#}
                    {% endif %}
                    {# <li><a href="http://tickets.singaporegp.sg">{{ trans('navigation.listing.all') }}</a></li> #}

                    {#<li><a href="{{ route('tickets.listing.byType', [1]) }}">{{ trans('navigation.listing.grandstands') }}</a></li>#}
                    {#<li><a href="{{ route('tickets.listing.byType', [3]) }}">{{ trans('navigation.listing.walkabouts') }}</a></li>#}
                    {#<li><a href="{{ route('tickets.listing.byType', [4]) }}">{{ trans('navigation.listing.combinations') }}</a></li>#}
                    {#<li><a href="{{ route('tickets.listing.byType', [10]) }}">{{ trans('navigation.listing.wheelchair') }}</a></li>#}
                    <li><a href="{{ route('tickets.packages.hospitality') }}">{{ trans('navigation.packages.hospitality') }}</a></li>
                    <li><a href="{{ route('tickets.packages.hotelsAndTravel') }}">{{ trans('navigation.packages.hotelsAndTravel') }}</a></li>

                    {#
                    <li><a href="{{ route('tickets.ticketspecials') }}">Ticket Promo</a></li>
                    <li><a href="{{ route('tickets.sales.singapore') }}">{{ trans('navigation.sales.singapore') }}</a></li>
                    <li><a href="{{ route('tickets.sales.international') }}">{{ trans('navigation.sales.international') }}</a></li>
                    #}
                </ul>
            </li>
            <li class="{% if currentParentRoute == 'on-track' %}active{% endif %}"><a href="{{ route('ontrack') }}">{{ trans('navigation.ontrack') }}</a>
                <ul>
                    <li>
                        <a href="{{ route('ontrack.2016Calendar') }}">
                            {{ trans('navigation.ontrack.2016Calendar') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ route('ontrack.f1insights') }}">
                            {{ trans('navigation.ontrack.f1insights') }}
                        </a>
                    </li>
                    {#<li><a href="{{ route('ontrack.raceschedule') }}">{{ trans('navigation.ontrack.raceschedule') }}</a></li>#}
                    <li>
                        <a href="http://www.formula1.com/content/fom-website/en/results/latest.html" target="_blank">
                            {{ trans('navigation.ontrack.seasonResults') }}
                        </a>
                    </li>
                    <li>
                        <a href="http://www.formula1.com/content/fom-website/en/results.html/2016/drivers.html" target="_blank">
                            {{ trans('navigation.ontrack.driverStandings') }}
                        </a>
                    </li>
                    <!-- <li><a href="{{ route('ontrack.seasonResults') }}" target="_blank">{{ trans('navigation.ontrack.seasonResults') }}</a></li> -->
                    <!-- <li><a href="{{ route('ontrack.driverStandings') }}" target="_blank">{{ trans('navigation.ontrack.driverStandings') }}</a></li> -->
                    <li>
                        <a href="{{ route('ontrack.sgpHighlights') }}">{{ trans('navigation.ontrack.sgpHighlights') }}</a>
                    </li>
                    <li>
                        <a href="{{ route('ontrack.teamsAndDrivers') }}">{{ trans('navigation.ontrack.teamsAndDrivers') }}</a>
                    </li>
                  {# <li>
                        <a href="http://www.raceofficials.singaporegp.sg" target="_blank">{{ trans('navigation.ontrack.raceofficials') }}</a>
                    </li>#}
                    <li>
                        <a href="{{ route('ontrack.circuitParkMap') }}">{{ trans('navigation.ontrack.circuitParkMap') }}</a>
                    </li>

                </ul>
            </li>
            {#<li class="{% if currentParentRoute == 'off-track' %}active{% endif %}">#}
            <li class="{% if currentParentRoute == 'off-track' %}active{% endif %}">
                <a href="{{ route('offtrack') }}">
                    {{ trans('navigation.offtrack') }}
                </a>
                <ul>
                    {#<li><a href="{{ route('offtrack.headliners') }}">{{ trans('navigation.offtrack.headliners') }}</a></li>#}
                    <li>
                        <a href="{{ route('offtrack.pastHeadliners') }}">
                            {{ trans('navigation.offtrack.pastHeadliners') }}
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{% if currentParentRoute == 'media' %}active{% endif %}"><a href="{{ route('media') }}">{{ trans('navigation.media') }}</a>
                <ul>
                    <li><a href="{{ route('media.pressRelease') }}">{{ trans('navigation.media.pressRelease') }}</a></li>
                    {#<li><a href="{{ route('media.mediaSite') }}">{{ trans('navigation.media.mediaSite') }}</a></li>#}
                    {#<li><a href="{{ route('media.accreditation') }}">{{ trans('navigation.media.accreditation') }}</a></li>#}
                   {#<li><a href="{{ route('media.chooseEntryForm') }}">{{ trans('navigation.media.chooseEntryForm') }}</a></li>#}
                    {#<li><a href="{{ route('media.accreditation.show-form', ['entertainment']) }}">Entertainment
                            Accreditation</a></li>#}
                    {#<li><a href="{{ route('media.chooseEntryForm') }}">{{ trans('navigation.media.chooseEntryForm') }}</a></li>#}
                </ul>
            </li>
            <li class="{% if currentParentRoute == 'win' %}active{% endif %}"><a href="{{ route('win') }}">{{ trans('navigation.fanzone') }}</a>
                <ul>
                    <li><a href="{{ route('contests') }}">Contests</a></li>
                    <!--<li><a href="{{ route('fanzone.merchandise') }}">Merchandise</a></li>-->
                    <li><a href="{{ route('ontrack.gallery', ['2016', 'photos']) }}">Photo Gallery</a></li>
                    <li><a href="{{ route('ontrack.gallery', ['2016', 'videos']) }}">Video Gallery</a></li>
                    <li><a href="{{ route('win.wallpapers') }}">Wallpaper Gallery</a></li>
                    <li><a href="{{ route('win.challenge.pitStop') }}">Pit Stop Challenge</a></li>
                </ul>
            </li>
            <li class="{% if currentRouteName == 'raceguide' %}active{% endif %}">
                <a href="{{ route('raceguides.index') }}">Event Guide</a>

                {#<ul>
                    <li>
                        <a href="{{ route('raceschedule') }}">Race Schedule</a>
                    </li>
                    <li>
                       <a href="{{ route('eventguide2016') }}">General Race Guide</a>
                     </li>
                     <li>
                        <a href="{{ route('raceguide.collection.hospitalitysuites') }}">Hospitality Suites Race Guide</a>
                    </li>
                    <li>
                        <a href="{{ route('raceguide.collection.paddockclub') }}">Paddock Club Race Guide</a>
                    </li>
                    <li>
                       <a href="{{ route('raceguides.tips') }}">Tips</a>
                    </li>
                    <li>
                       <a href="{{ route('raceguides.gettingaround') }}">Getting Around</a>
                    </li>
                    <li>
                        <a href="{{ route('ontrack.circuitParkMap') }}">{{ trans('navigation.ontrack.circuitParkMap') }}</a>
                    </li>
                </ul>
                #}
            </li>


            {#<li class="{% if currentParentRoute == 'revUp' %}active{% endif %}"><a href="{{ route('revUp') }}">{{ trans('navigation.revUp') }}</a></li>#}
            {#<li class="{% if currentParentRoute == 'revUp' %}active{% endif %}"><a href="{{ route('revUp') }}">{{ trans('navigation.revUp') }}</a></li>#}
            <li class="{% if currentRouteName == 'merchandiseShop' %}active{% endif %}">
                <!-- <a href="{{ route('merchandiseShop') }}">Merchandise</a> -->
               <a href="https://shop.singaporegp.sg">Merchandise</a>
            </li>

        </ul>
    {% endspaceless %}
</nav>


{#
<div id="sb-search" class="sb-search" data-search-bar>
    <form name="searchForm" data-ng-submit="submitSearch()" novalidate="novalidate">
        <input class="sb-search-input" placeholder="Enter your search term..." type="search" value="" name="search" id="search" data-ng-model="search.q"/>
        <input class="sb-search-submit" type="submit" value="">
        <span class="sb-icon-search"></span>
    </form>
</div>#}

<style>
    /*.header nav ul li.active a{color:#ffc414}*/
    .header nav ul li a{color:#fff}
    .header nav ul li a:hover{color:#000 !important;}
    .header nav ul li.active{border-bottom: 5px solid #ffc414;}
    .footer h5{color:#ffc414;}
    .footer footer{background-color: #1a1a1a;}
    .desc h1{color: #ffc414}
    .locale a.en:hover, .locale a.zh:hover{color: #13324f !important;}
</style>