<h5>Quick Links</h5>
<ul>
    <li><a class="mobile-app" href="{{ route('media.mobileApp') }}" target="_blank">Download Mobile App</a></li>
    <li><a class="newsletter" href="{{ route('newsletter') }}" target="_blank">Subscribe Newsletter</a></li>
    {#<li><a class="race-officials" href="http://www.raceofficials.singaporegp.sg/" target="_blank">Race Officials</a></li>#}
    <li><a class="facebook" href="https://www.facebook.com/F1NightRace" target="_blank">Like us on Facebook</a></li>
    <li><a class="twitter" href="https://twitter.com/F1NightRace" target="_blank">Follow us on Twitter</a></li>
    <li><a class="instagram" href="https://instagram.com/f1nightrace/" target="_blank">Follow us on Instagram</a></li>
    <li><a class="youtube" href="http://www.youtube.com/user/singaporegrandprix" target="_blank">Watch us on YouTube</a></li>
    <li><a class="pinterest" href="https://www.pinterest.com/SingaporeGP" target="_blank">Follow us on Pinterest</a></li>
</ul>