<h5>Explore this site</h5>

<ul class="level-1">
    <li><h6><a href="{{ route('ontrack') }}">ON-TRACK</a></h6>
        <ul class="level-2">
            <li><a href="{{ route('ontrack.2016Calendar') }}">2016 race calendar</a></li>
            <li><a href="{{ route('ontrack.f1insights') }}">{{ trans('navigation.ontrack.f1insights') }}</a></li>
            <li><a href="http://www.formula1.com/content/fom-website/en/results/latest.html" target="_blank">Season results</a></li>
            <!-- <li><a href="{{ route('ontrack.seasonResults') }}" target="_blank">Season results</a></li> -->
            <li><a href="http://www.formula1.com/content/fom-website/en/results.html/2016/drivers.html" target="_blank">Driver standings</a></li>
            <!-- <li><a href="{{ route('ontrack.driverStandings') }}" target="_blank">Driver standings</a></li> -->
            <li><a href="{{ route('ontrack.sgpHighlights') }}">Singapore grand prix highlights</a></li>
            <li><a href="{{ route('ontrack.teamsAndDrivers') }}">Teams &amp; drivers</a></li>
            {#<li><a href="http://www.raceofficials.singaporegp.sg/" target="_blank">Race Officials</a></li>#}
            <li><a href="{{ route('ontrack.circuitParkMap') }}">{{ trans('navigation.ontrack.circuitParkMap') }}</a></li>
        </ul>
    </li>
    {#<li><h6><a href="{{ route('offtrack') }}">OFF-TRACK</a></h6>#}
    <li><h6><a href="{{ route('offtrack.pastHeadliners') }}">OFF-TRACK</a></h6>
        <ul class="level-2">
            {#<li><a href="{{ route('offtrack.headliners') }}">Entertainment Highlights</a></li>#}
            <li><a href="{{ route('offtrack.pastHeadliners') }}">Past Headliners</a></li>
        </ul>
    </li>
    <li><h6><a href="{{ route('media') }}">MEDIA</a></h6>
        <ul class="level-2">
            <li><a href="{{ route('media.pressRelease') }}">Press releases</a></li>
            {#<li><a href="{{ route('media.accreditation') }}">Media Accreditation</a></li>#}
            {#<li><a href="{{ route('media.entertainment-accreditation') }}">Entertainment Accreditation</a></li>#}
            {#<li><a href="{{ route('media.chooseEntryForm') }}">Singapore Entry Form</a></li>#}
        </ul>
    </li>
</ul>

<ul class="level-1">
    <li><h6><a href="{{ route('tickets') }}">TICKETS</a></h6>
        <ul class="level-2">
            {#<li><a href="http://tickets.singaporegp.sg/tickets">2015 tickets</a></li>#}
            <li><a href="{{ route('tickets.listing.seb') }}">{{ trans('navigation.listing.all') }}</a></li>
            <li><a href="{{ route('tickets.packages.hospitality') }}">Hospitality and Executive Packages</a></li>
            <li><a href="{{ route('tickets.packages.hotelsAndTravel') }}">Hotels &amp; travel packages</a></li>
            <li><a href="{{ route('tickets.sales.singapore') }}">Authorised SISTIC Outlets In Singapore</a></li>
            <li><a href="{{ route('tickets.sales.international') }}">Authorised International Resellers</a></li>
            <li><a href="{{ route('tickets.selfCollectionVenue') }}">Self Collection Venues</a></li>
        </ul>
    </li>
    <li><h6><a href="{{ route('win') }}">FANZONE</a></h6>
        <ul class="level-2">
            <li> <a href="{{ route('contests') }}">Contests</a></li>
            <li><a href="{{ route('win.wallpapers') }}">Wallpaper Gallery</a></li>
            <li><a href="{{ route('ontrack.gallery', ['2016', 'photos']) }}">Photo Gallery</a></li>
            <li><a href="{{ route('ontrack.gallery', ['2016', 'videos']) }}">Video Gallery</a></li>
            <li><a href="{{ route('win.challenge.pitStop') }}">Pit Stop Challenge</a></li>
        </ul>
    </li>
</ul>

<ul class="level-1">
    <!--<li><h6><a href="{{ route('revUp') }}">REV UP SINGAPORE!</a></h6></li>-->
    <li><h6><a href="{{ route('raceguides.index') }}">EVENT GUIDE</a></h6>
        {#<ul class="level-2">
            <li><a href="{{ route('raceschedule') }}">Race Schedule</a></li>
            <li><a href="{{ route('eventguide2016') }}">General Race Guide</a></li>
            <li><a href="{{ route('raceguide.collection.hospitalitysuites') }}">Hospitality Suites Race Guide</a></li>
            <li><a href="{{ route('raceguide.collection.paddockclub') }}">Paddock Club Race Guide</a></li>
            <li><a href="{{ route('raceguides.tips') }}">Tips</a></li>
            <li><a href="{{ route('raceguides.gettingaround') }}">Getting Around</a></li>
            <li><a href="{{ route('ontrack.circuitParkMap') }}">{{ trans('navigation.ontrack.circuitParkMap') }}</a></li>
        </ul>#}
    </li>
     <!-- <li><h6><a href="{{ route('revUp') }}">REV UP SINGAPORE!</a></h6></li> -->
    <!--<ul class="level-2">
            <li><a href="{{ route('revUp.content','thursday-pit-lane-experience') }}">Thursday Pit Lane Experience</a></li>
            <li><a href="{{ route('revUp.content','karting-training') }}">Karting Training Programme and Championship</a></li>
            <li><a href="{{ route('revUp.content','pit-stop-at-the-libraries') }}">Pit Stop @ The Libraries</a></li>
            <li><a href="{{ route('revUp.content','behind-the-scenes') }}">Behind-the-Scenes Tours</a></li>
            <li><a href="{{ route('revUp.content','kartnival') }}">Rev Up Singapore! Kartnival</a></li>
            <li><a href="{{ route('revUp.content','school-visit') }}">Singapore GP School Visit</a></li>
        </ul>-->
    <ul class="level-1">
        <li><h6><a href="https://shop.singaporegp.sg">MERCHANDISE</a></h6></li>
        <!--<li><h6><a href="https://shop.singaporegp.sg">MERCHANDISE</a></h6></li>-->
    </ul>
    <li><h6>OTHERS</h6>
        <ul class="level-2">
            {#<li><a href="{{ route('eventguide2016') }}" target="_blank">2015 Event Guide</a></li>#}
            <li><a href="http://www.singaporegp.sg/media/pdf/2017 Ticketing FAQs_5 Sep 2016.pdf" target="_blank">FAQ</a></li>
            <li><a href="http://www.singaporegp.sg/media/pdf/2017_SGP_T&C.pdf" target="_blank">Terms &amp; conditions <br/>(Sale & Entry)</a></li>
            <li><a href="http://www.singaporegp.sg/Uploaded/pdf/SingaporeGP-Website-TnC.pdf" target="_blank">Terms &amp; conditions<br/>(Website) </a></li>
            <li><a href="{{ route('privacyPolicy') }}">Privacy policy</a></li>
            <li><a href="{{ route('jobOpportunities') }}">Careers</a></li>
            <li><a href="http://www.singaporegp.sg/media/pdf/2017_SGP_Indemnity_Form.pdf" target="_blank">Indemnity form</a></li>
            <li><a href="{{ route('contactUs') }}">Contact us</a></li>
            {#<li><a href="{{ route('tenders') }}">Tender</a></li>#}
        </ul>
    </li>
</ul>

</ul>