body{
    background-image: url('../images/campaign/contest_bg.jpg');
}

.form {
    padding-left: 15px;
    padding-right: 15px;
}

section#contest {
    background-color: transparent !important;
}

.content section.autograph {
    background-color: transparent !important;
    border-bottom: none;
}

.content section.autograph p {
    color: #FFFFFF;
}

h4 {
    color: #FFFFFF;
}

.prize-img {
    max-height: 30vh;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quiz-img {
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.checkbox label:hover::after {
    opacity:0;
}
.dropdown select {
    margin-right: 10px;
}
.row {
    clear: both;
}
.radio-div {
    float: left;
    width: 100%;
    min-width: 80px;
}
.radio-toolbar input[type="radio"] {
    display:block;
    -webkit-appearance: none;
    opacity: 0;
    width: 1px !important;
    height: 1px !important;
    margin: 0px !important;
    padding: 0px !important;
}
.radio-toolbar-label {
    display:block;
    background-color:whitesmoke;
    padding: 15px;
    margin: 0px 0px 10px 0px;
    width: 100%;
    text-align: center;
}
.radio-toolbar input[type="radio"]:checked + label{
    background-color:#ffc414 !important;
}
input {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}
select {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

input.error {
    border:solid 2px red;
}

select.error {
    border:solid 2px red;
}

div.error {
    float: none;
    color: red;
    padding-left: 1.5em;
    padding-bottom: 0.5em;
    vertical-align: top;
    display: block;
}​

 .errorTerms {
     float: none;
     color: red;
     padding-left: 0px;
     padding-bottom: 0.5em;
     vertical-align: top;
     display: block;
 }​

  h4 {
      margin-bottom: 5px;
  }

.question {
    text-align: justify;
    font-weight: bold;
    padding-left: 1.5em;
}

.descp {
    font-weight: 300;
    font-size: 18px; !important;
}

.title {
    font-weight: bold;
    font-size: 16px; !important;
    color: #FFFFFF;
    font-weight: 300;
}
.correct {
    text-transform: uppercase;
    color: green;
    font-weight: 300;
    font-size: medium;
}
.wrong {
    text-transform: uppercase;
    color: red;
    font-weight: 300;
    font-size: medium;
}
.autograph {
    height: 100vh;
    text-align: center;
}
@media screen and (min-width: 320px) {
    p .title{
        font-weight: bold;
        font-size: 16px; !important;
        color: #FFFFFF;
        font-weight: 300;
    }

    p .desc {
        font-weight: 300;
        font-size: 18px; !important;
        color: #FFFFFF;
    }

    section.autograph .chunk:first-child {
        margin: 0px auto;
        margin-top: 10px;
    }

    section.autograph .chunk:nth-child(2) {
        margin: 0px auto;
    }

    .content .chunk {
        margin: 0px auto;
    }
}
.content {
    padding:0px;
}

.line {
    letter-spacing: -0.5px;
}

.checkbox-label {
    display: block;
    padding-left: 45px;
    color: #FFFFFF;
}
/* radio focus */