{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Win! - Contest' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"
            xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="/javascripts/wincontestbundle.js?postUrl={{ route('win.postContests', { 'slug': contest.slug }) }}"></script>

    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/pgwslider.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.landing.min.css"/>
     <link rel="stylesheet" href="/stylesheets/tabulous.css"/>

    <script type="text/javascript">
    $(document).ready(function() {
        $(".tnc").fancybox({
            autoDimensions: false,
            width: 560
        });
    });
    function encodeImageFileAsURL(){
            var data;
            var filesSelected = document.getElementById("file").files;
            if (filesSelected.length > 0)
            {
                var fileToLoad = filesSelected[0];

                var fileReader = new FileReader();

                fileReader.onload = function(fileLoadedEvent) {
                    var srcData = fileLoadedEvent.target.result; // <--- data: base64

                    var newImage = document.createElement('img');
                    //newImage.src = srcData;
                    $("#files").val(srcData);
                    if($("#files").val() !== ''){
                        $(".text-success span").html(function(){
                            var path = $("#file").val();
                            path = path.split("\\");
                            return 'Successfully attached ' + '"' +path[path.length - 1]+'".';
                        });
                        $(".text-success span").show();
                    } else{
                        $(".text-success span").hide();
                    }
                    $(".fileUpload input.upload").hide();
                    $(".fileUpload a.removeFile").show();
                    $(".fileUpload").css({"background-image" : "url(/images/close_attachment.png)"} );
                    //document.getElementById("files").innerHTML = newImage.outerHTML;
                    //alert("Converted Base64 version is "+document.getElementById("files").innerHTML);
                    //console.log("Converted Base64 version is "+document.getElementById("files").innerHTML);
                }
                fileReader.readAsDataURL(fileToLoad);
            }
        };
        function removeFile(){
            $("#files").val("");
            $(".fileUpload input.upload").show();
            $(".fileUpload a.removeFile").hide();
            $(".fileUpload").css( "background-image", "url(/images/button-contest.png);" );
            $(".text-success span").html("File removed successfully.");
        };
    </script>
    <style>
        .fileUpload {
            position: relative;
            overflow: hidden;
            margin: 0;
            margin-bottom: 15px;
            margin-right: 15px;
            background-image: url(/images/button-contest.png);
            width: 50%;
            color: #fff;
            height: 60px;
            text-align: center;
            padding:20px;
            float: left;
        }

        .fileUpload input.upload, a.removeFile {
            position: absolute;
            width:100%;
            height: 100%;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            font-size: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        .text-success{
            font-weight: 400;
            font-family: Roboto,sans-serif;
            float: left;
            width: 45%;
            height: 60px;
            overflow: hidden;
        }
        .text-success span{display:none; color:red; font-size: .813rem;}
        .form-row{clear:left;}
    </style>
{% endblock %}


{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="contestController">
{% endblock %}

{# page content #}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>{{ contest.title }}</h1>
                        <br/>
                        <p>
                        Be spotted with a 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX decal on your vehicle and stand to win official Singapore GP merchandise worth S$100.
                        </p>
                    </div>
                    {#<div class="styled-button locale">#}
                        {#<a class="en {% if locale == 'en' %}active{% endif %}"#}
                           {#href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                        {#<a class="zh {% if locale == 'cn' %}active{% endif %}"#}
                           {#href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>



    <section class="autograph" style="background-color: white;">
        <div class="chunk row">
            <p data-ng-bind-html="breadcrumbs" class="breadcrumbs"></p>
        </div>

        <section class="mason">
        <div class="chunk">
            <img src="{{ contest.custom_img }}" alt="" style="width: 100%;" />
        </div>


    </section>
 <div class="chunk row" >
 <div style="padding-top:20px;">
    <p style="color: #00236d; font-weight: bold; margin: 0px; font-size:26px;">{{ contest.title }}</p>
    <img width="100%" src="/images/campaign/landing/line.png">
     <p>
     Be spotted with a <span style="font-weight: bold;">2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX</span> decal on your vehicle and stand to win official Singapore GP merchandise worth <span style="font-weight: bold;">S$100.</span>
    </p>

     <div class="accordion">
         <br />
         <h3 class="current" style="padding: 0px !important;"> DECAL LOCATIONS <img width="15px" src="/images/campaign/landing/down.png" style="margin-left: 5px">
             <p style="font-weight: normal; color: #000; font-family:Roboto; font-weight: 300; font-size: 15px;"><i>Decals are available at the following locations on a first-come-first-served basis!</i></p>
         </h3>

         <div style="padding: 0px 20px 20px; text-align: justify; display: block;" class="pane">
             <p>
             SISTIC outlets<br />
             Singapore Cricket Club<br />
             Singapore Motor Sports Association<br />
             Singapore Recreation Club<br />
             Komoco Motors<br />
             Horizon Automotive<br />
             KF1<br />
             SAFRA Mount Faber<br />
             SAFRA Yishun<br />
             SAFRA Jurong<br />
             SAFRA Tampines<br />

                 Esso Station - Ang Mo Kio Ave 8 (FP Xpress)<br />
                 Esso Station - Bukit Timah (Cheers)<br />
                 Esso Station - Choa Chu Kang Ave 3 (FP Xpress)<br />
                 Esso Station - East Coast  (FP Xpress)<br />
                 Esso Station - Holland (Cheers)<br />
                 Esso Station - Jervois (FP Xpress)<br />
                 Esso Station - Macpherson (FP Xpress)<br />
                 Esso Station - Mountbatten (FP Xpress)<br />
                 Esso Station - Newton (Cheers)<br />
                 Esso Station - Upper East Coast (Cheers)
             </p>
         </div>
     </div>
     <br />


     <div class="accordion">
         <h3 class="current" style="padding: 0px !important;"> THERE WILL BE 3 WINNERS MONTHLY<img width="15px" src="/images/campaign/landing/down.png" style="margin-left: 5px">
             <p style="font-weight: normal; color: #000; font-family:Roboto; font-weight: 300; font-size: 15px;"><i>Look out for your vehicle plate number below to see if you've been spotted!</i></p>
         </h3>
         <div style="padding: 0px 20px 10px; text-align: justify; display: block;" class="pane">
                <p>
                <strong>MAY</strong><br />
                <ul>
                 <li>SGQ 208 X</li>
                 <li>SKX 2058 P</li>
                 <li>SKH 6435 S</li>
             </ul>

             <strong>JUNE</strong><br />
             <ul>
                 <li>SKK 8748 K</li>
                 <li>GBA 8394 G</li>
                 <li>SBA 8854 X</li>
             </ul>

             <strong>JULY</strong><br />
             <ul>
                 <li>SJR 5871 G</li>
                 <li>SKE 5309 X</li>
                 <li>SJJ 7919 H</li>
             </ul>

             <strong>AUGUST</strong><br />
             <ul>
                 <li>SJM 8499 E</li>
                 <li>SLA 4813 Y</li>
                 <li>SKN 6255 M</li>
             </ul>

         </div>
     </div>

     <br />
     <p>If you are the lucky winner, send us an email with your full name, contact number and photo of your vehicle licence plate to <a href="mailto: production@singaporegp.sg" style="text-decoration: underline;">production@singaporegp.sg</a> by <i>9 September 2016 </i> to redeem your prize.</p>

     <br /><br />

     <div class="accordion tnc-chunk">
         <br />
         <h3 class="current" style="padding: 0px !important;"> CONTEST RULES<img width="15px" src="/images/campaign/landing/down.png" style="margin-left: 5px">
         </h3>
         <div style="padding: 0px 20px 20px; text-align: justify; display: block;" class="pane" id="tnc">
            <p> (1) Only winning vehicle registration plate numbers will be published on the official Singapore GP Pte Ltd (SGPPL) website <a href="http://http://singaporegp.sg/contests">www.singaporegp.sg</a>. Winning vehicle plate numbers will be published monthly on the website from May to August 2016.</p>
            <p>(2) Vehicle owners whose plate numbers are published on the website must send an email with their full name, contact number, photo of their vehicle licence plate, vehicle make and vehicle model and NRIC/Passport/FIN number to <a href="mailto: production@singaporegp.sg" style="text-decoration: underline;">production@singaporegp.sg</a> by <strong>9 September 2016</strong> to redeem their prize. Prizes will be available for collection in September at our Circuit Park Collection Centre. More details will be provided at a later date.</p>
             <p>(3) Prizes unredeemed by <strong>9 September 2016   (2359)</strong> shall be deemed to be forfeited.</p>
             <p>(4) Singapore GP Pte Ltd reserves the right to change, amend or withdraw any rule, part, or the whole of this contest without prior notice.</p>
             <p>(5) SGPPL reserves the right to substitute the prize(s) with any other item of similar value at any time without notice or reason.</p>
         </div>
     </div>
     <br /><br />


    {% if contest.closed %}
     {{ contest.closed_text|raw }}
    {% endif %}

 </div>

    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script>
        $(document).ready(function() {
         //  Accordion Panels
         $(".accordion div").hide();
         $(".accordion h3").click(function () {
             $(this).next(".pane").slideToggle("fast").siblings(".pane:visible").slideUp("fast");
             $(this).toggleClass("current");
             $(this).siblings("h3").removeClass("current");
         });
        });

    </script>
{% endblock %}

