{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Win! - Challenge' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/winchallengebundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/win-challenge.min.css"/>
{% endblock %}

{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="challengeController">{% endblock %}

    {# page content #}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Pit Stop Challenge</h1>
                        <br/>
                        <p>
                            Be part of the pit crew and follow the instructions to execute a pit stop!
                        </p>
                    </div>
                    {#<div class="styled-button locale">#}
                        {#<a class="en {% if locale == 'en' %}active{% endif %}" href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                        {#<a class="zh {% if locale == 'cn' %}active{% endif %}" href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>

    <section class="pit-stop-challenge">
        <div class="chunk row">
            <p data-ng-bind-html="breadcrumbs" class="breadcrumbs"></p>
        </div>

        <div class="chunk row">
            <iframe src="http://web2.singaporegp.sg/assets/pitstopchallenge2014/index.php" frameborder="0" width="800" height="700"></iframe>
        </div>
    </section>

{% endblock %}