{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Win! - Contest' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"
            xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="/javascripts/wincontestbundle.js?postUrl={{ route('win.postContests', { 'slug': contest.slug }) }}"></script>

    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/pgwslider.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.landing.min.css"/>
    <link rel="stylesheet" href="/stylesheets/tabulous.css"/>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

    <script type="text/javascript">
        $(document).ready(function() {
            $(".tnc").fancybox({
                autoDimensions: false,
                width: 560
            });
        });
        function encodeImageFileAsURL(){
            var data;
            var filesSelected = document.getElementById("file").files;
            if (filesSelected.length > 0)
            {
                var fileToLoad = filesSelected[0];

                var fileReader = new FileReader();

                fileReader.onload = function(fileLoadedEvent) {
                    var srcData = fileLoadedEvent.target.result; // <--- data: base64

                    var newImage = document.createElement('img');
                    //newImage.src = srcData;
                    $("#files").val(srcData);
                    if($("#files").val() !== ''){
                        $(".text-success span").html(function(){
                            var path = $("#file").val();
                            path = path.split("\\");
                            return 'Successfully attached ' + '"' +path[path.length - 1]+'".';
                        });
                        $(".text-success span").show();
                    } else{
                        $(".text-success span").hide();
                    }
                    $(".fileUpload input.upload").hide();
                    $(".fileUpload a.removeFile").show();
                    $(".fileUpload").css({"background-image" : "url(/images/close_attachment.png)"} );
                    //document.getElementById("files").innerHTML = newImage.outerHTML;
                    //alert("Converted Base64 version is "+document.getElementById("files").innerHTML);
                    //console.log("Converted Base64 version is "+document.getElementById("files").innerHTML);
                }
                fileReader.readAsDataURL(fileToLoad);
            }
        };
        function removeFile(){
            $("#files").val("");
            $(".fileUpload input.upload").show();
            $(".fileUpload a.removeFile").hide();
            $(".fileUpload").css( "background-image", "url(/images/button-contest.png);" );
            $(".text-success span").html("File removed successfully.");
        };
    </script>
    <style>
        .fileUpload {
            position: relative;
            overflow: hidden;
            margin: 0;
            margin-bottom: 15px;
            margin-right: 15px;
            background-image: url(/images/button-contest.png);
            /* background-repeat: no-repeat; */
            width: 25%;
            color: #fff;
            height: 60px;
            text-align: center;
            padding:20px;
            float: left;

        }

        .fileUpload input.upload, a.removeFile {
            position: absolute;
            width:100%;
            height: 100%;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            font-size: 0;
            opacity: 0;
            filter: alpha(opacity=0);

        }
        .text-success{
            font-weight: 400;
            font-family: Roboto,sans-serif;
            float: left;
            width: 45%;
            height: 60px;
            overflow: hidden;
        }
        .text-success span{display:none; color:red; font-size: .813rem;}
        .form-row{clear:left;}
    </style>

{% endblock %}


{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="contestController">
    {% endblock %}

    {# page content #}
    {% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}
        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">

                        <h1>{{ contest.title }}</h1>
                        <br/>
                        <p>{{ contest.subtitle }}</p>
                    </div>
                    {#<div class="styled-button locale">#}
                    {#<a class="en {% if locale == 'en' %}active{% endif %}"#}
                    {#href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                    {#<a class="zh {% if locale == 'cn' %}active{% endif %}"#}
                    {#href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>

    </section>
    {#<div class="chunk row" style="min-height: 150px">#}
    {# <div class="img-wrapper bucket">


        {% if contest.custom_img is empty %}
        <img src="{{ contest.img }}" alt=""/>
        {% else %}
        <img src="{{ contest.custom_img }}" alt=""/>
        {% endif %}
    </div>#}


    {# </div>#}


    <section class="autograph">
        <div class="chunk row">
            <p data-ng-bind-html="breadcrumbs" class="breadcrumbs"></p>
        </div>

        {% if(contest.slug == "drivers-autograph-session") %}
            <section class="mason">
                <div class="chunk slide-chunk">
                    <ul class="pgwSlider">

                        <li><img src="/images/contests/drivers-autograph-1.jpg"></li>
                        <li><img src="/images/contests/drivers-autograph-2.jpg"></li>
                        <li><img src="/images/contests/drivers-autograph-3.jpg"></li>
                        <li><img src="/images/contests/drivers-autograph-4.jpg"></li>
                        <li><img src="/images/contests/drivers-autograph-5.jpg"></li>
                    </ul>
                </div>
            </section>
        {% elseif (contest.slug == "pitstopatorchard") %}

             <div class="chunk slide-chunk">
                 <ul class="pgwSlider">

                 <li><img src="http://singaporegp.sg/media/contests/popupstore/popupstore-5.jpg"></li>
       <li><img src="http://singaporegp.sg/media/contests/popupstore/popupstore-3.jpg"></li>

                 <li><img src="http://singaporegp.sg/media/contests/popupstore/popupstore-2.jpg"></li>
              <li><img src="http://singaporegp.sg/media/contests/popupstore/popupstore-1.jpg"></li>
                  <li><img src="http://singaporegp.sg/media/contests/popupstore/popupstore-4.jpg"></li>

                 </ul>
             </div>

             {% elseif (contest.slug == "strun") %}

            {# <div class="chunk slide-chunk">
                 <ul class="pgwSlider">

                 <li><img src="http://singaporegp.sg/media/contests/st-run-contest-1.jpg"></li>
                 <li><img src="http://singaporegp.sg/media/contests/st-run-contest-2.jpg"></li>
                 <li><img src="http://singaporegp.sg/media/contests/st-run-contest-3.jpg"></li>
                     <li><img src="http://singaporegp.sg/media/contests/st-run-contest-4.jpg"></li>
                     <li><img src="http://singaporegp.sg/media/contests/st-run-contest-5.jpg"></li>
                     <li><img src="http://singaporegp.sg/media/contests/st-run-contest-6.jpg"></li>
                 </ul>
             </div> #}


        {% elseif (contest.slug == "SGP-fan-experience") %}

            <div class="chunk slide-chunk">
                 <ul class="pgwSlider">

                 <li><img src="http://singaporegp.sg/media/contests/money-cant-buy-experience/sgp-fan-contest-1.jpg"></li>
                 <li><img src="http://singaporegp.sg/media/contests/money-cant-buy-experience/sgp-fan-contest-2.jpg"></li>
                 <li><img src="http://singaporegp.sg/media/contests/money-cant-buy-experience/sgp-fan-contest-3.jpg"></li>                    <li><img src="http://singaporegp.sg/media/contests/money-cant-buy-experience/sgp-fan-contest-4.jpg"></li>                    <li><img src="http://singaporegp.sg/media/contests/money-cant-buy-experience/sgp-fan-contest-5.jpg"></li>                    <li><img src="http://singaporegp.sg/media/contests/money-cant-buy-experience/sgp-fan-contest-6.jpg"></li>                     <li><img src="http://singaporegp.sg/media/contests/money-cant-buy-experience/sgp-fan-contest-7.jpg"></li>                 <li><img src="http://singaporegp.sg/media/contests/money-cant-buy-experience/sgp-fan-contest-8.jpg"></li>
                 </ul>
             </div>

        {% elseif (contest.slug == "thursday-pit-lane-experience") %}
            <section class="mason">
                <div class="chunk slide-chunk">
                    <ul class="pgwSlider">
                        <li><img src="http://singaporegp.sg/media/contests/st-run-contest-1.jpg"></li>
                        <li><img src="http://singaporegp.sg/media/contests/st-run-contest-2.jpg"></li>
                        <li><img src="http://singaporegp.sg/media/contests/st-run-contest-3.jpg"></li>
                        <li><img src="http://singaporegp.sg/media/contests/st-run-contest-4.jpg"></li>
                        <li><img src="http://singaporegp.sg/media/contests/st-run-contest-5.jpg"></li>
                        <li><img src="http://singaporegp.sg/media/contests/st-run-contest-6.jpg"></li>
                    </ul>
                </div>
            </section>
        {% else %}
            <section class="mason">
                <div class="chunk slide-chunk">
                    <center><img src="{{ contest.img }}" alt=""/></centeR>
                </div>
            </section>
        {% endif %}


        <div class="chunk row" >
            <div class="writeup" style="padding:20px;">
                <p style="color: #00236d; font-weight: bold; margin: 0px; font-size: 26px;">{{ contest.title }}</p>
                <img width="100%" src="/images/campaign/landing/line.png">
                {{ contest.body|raw }}

                {% if contest.closed %}
                    {{ contest.closed_text|raw }}
                {% endif %}

                <div class="disclaimer bucket">
                    {{ contest.footer|raw }}
                </div>
            </div>
</div>
</section>
            <section class="registration" >
                <div class="chunk row">
                    {% if not contest.closed %}
                    <div class="form bucket">
                        <div ng-hide="submitted" >

            {% if (contest.slug == "pitstopatorchard") %}
            <p style="color: #00236d;  margin: 0px; font-size: 26px;">Register to take part!</p>
            {% else %}
            <p style="color: #00236d;  margin: 0px; font-size: 26px;">Register now!</p>
            <p>Please enter your 14 digits transaction number (including dashes e.g. 20160325-00120) as listed on your confirmation email or receipt:</p>
            {% endif %}

                <form id="contestForm" name="contestForm" data-ng-submit="submitForm()" novalidate="novalidate">
                    <div class="row">
                        {% if(contest.slug == "strun") %}
                            <input name="transaction" type="number" min="5000" max="22999"
                                   placeholder="ST Run Bib Number"
                                   data-ng-model="contest.transaction_number"
                                   data-ng-minlength="4"
                                   data-ng-maxlength="5"
                                   id="strun-bib-no"
                                   required />
                        {% elseif (contest.slug == "pitstopatorchard") %}



                        {% else %}
                                    <input name="transaction" type="text"
                                   placeholder="Transaction Number (listed on the confirmation email or receipt)"
                                   data-ng-model="contest.transaction_number"
                                   data-ng-minlength="14"
                                   data-ng-maxlength="14"
                                   data-ng-pattern="/\d{8}-\d{5}/"
                                   required
                                    />
                        {% endif %}

                    </div>
                        {% if (contest.slug == "pitstopatorchard") %}

                        {% else %}
                        <p>Personal Details:</p>
                       {% endif %}
                    <div class="row">
                        <input type="text" name="firstName" placeholder="First Name" data-ng-model="contest.first_name" required/>
                        <input type="text" name="lastName" placeholder="Last Name" data-ng-model="contest.last_name" required/>
                    </div>

                    <div class="row">

                        <input type="email" name="emailAddress" placeholder="Email" data-ng-model="contest.email" autocomplete="off" />
                    </div>

                    <div class="row">
                        <input type="number" name="contactNumber" placeholder="Contact Number" data-ng-model="contest.contact_number" />

                    </div>

                      {% if(contest.slug == "pitstopatorchard") %}
                        <div class="row">
                            <input name="transaction" type="text"
                                   placeholder="Time"
                                   data-ng-model="contest.transaction_number"
                                   

                                   />
                        </div>
                      {% endif %}

                    <br/>
                    {% if(contest.slug == "SGP-fan-experience") %}
                        <div class="row">
                            <div class="fileUpload btn btn-primary">
                                <a class="removeFile" onclick="removeFile()" style="display:none;">
                                </a>
                                <input type="file" name="file" placeholder="File" id="file" valid-file onchange="encodeImageFileAsURL();" class="upload" data-ng-model="contest.fileupload" />
                                <input type="hidden" name="files" id="files" data-ng-model="contest.fileupload" />
                            </div>
                            <div class="row text-success">
                                <span>successfully attached </span>
                            </div>
                            <div class="row text-error">
                                 <span class="error-msg" style="font-size:.813rem; color:red;"></span>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-row" style="padding-top: 15px;" ng-hide="submitted">

                         <div class="form-grp checkbox-horizontal">
                            <div class="checkbox">
                                <input type="checkbox"
                                       id="acceptTnc"
                                       name="acceptTnc"
                                       data-ng-model="contest.acceptTnc"
                                       data-ng-value-true="contest.acceptTnc = 1"
                                       data-ng-value-false="contest.acceptTnc = 0"
                                       required />
                                <label for="acceptTnc"></label>
                            </div>
                            <p style="color:#000000; font-size:14px; ">I have read and accepted the <a id="inline" class="tnc" href="#tnc" style="color: #000;font-weight: bold;  ">Terms &amp; Conditions</a>.</p>
                        </div>



                    {% if(contest.slug == "pitstopatorchard") %}

                            <div class="form-grp checkbox-horizontal">
                                <div class="checkbox">
                                     <input type="checkbox"
                                         id="indemnify"
                                            name="indemnify"
                                       data-ng-model="contest.indemnify"
                                       data-ng-value-true="contest.indemnify = 1"
                                       data-ng-value-false="contest.indemnify = 0"
                                       required />
                                <label for="indemnify"></label>
                                </div>
                                <p style="color:#000000; font-size:14px; ">I hereby release, waive and discharge Singapore GP Pte Ltd and it's employees (hereinafter collectively referred to as “Releasees”) from, and covenant not to sue the Releasees or any of them for, any and all liability, claims, demands, actions and causes of action whatsoever arising out of or in relation to any loss, damage or injury including death, that may be sustained by me or my child or to any property owner me or my child, howsoever caused.</a></p>
                            </div>
                        {% endif %}

                        <div class="form-grp checkbox-horizontal">
                            <div class="checkbox">
                                <input type="checkbox"
                                       id="latest_news"
                                       name="latest_news"
                                       data-ng-model="contest.latest_news"
                                       data-ng-init="contest.latest_news = 0"
                                       data-ng-value-true="contest.latest_news = 1"
                                       data-ng-value-false="contest.latest_news = 0"
                                        />
                                <label for="latest_news"></label>
                            </div>
                            <p style="color:#000000; font-size:14px; ">I would like to receive the latest news, promotions and more from Singapore GP Pte Ltd, organisers of the FORMULA 1 SINGAPORE GRAND PRIX.</p>
                        </div>
                         
                        <div class="form-grp checkbox-horizontal">
                            <div class="checkbox">
                                <input type="checkbox"
                                       id="latest_news_partners"
                                       data-ng-model="contest.latest_news_partners"
                                       data-ng-init="contest.latest_news_partners = 0"
                                       data-ng-value-true="contest.latest_news_partners = 1"
                                       data-ng-value-false="contest.latest_news_partners = 0"
                                        />
                                <label for="latest_news_partners"></label>
                            </div>
                            <p style="color:#000000; font-size:14px; ">I would like to receive the latest news and promotions from Singapore GP’s supporting partners.</p>
                        </div>
                    </div>

                    <div class="row">
                        {#<div class="img-wrapper"></div>#}
                        {#<input type="text" name="captcha" data-ng-model="contest.captcha" required/>#}
                        <input type="submit" value="Submit" data-ng-disabled="contestForm.$invalid" id="submitButton"/>
                    </div>
                </form>
            </div>
            <div ng-show="submitted">
                <h2>Thank You for Your Participation</h2>
                <h4>Only winners will be notified.</h4>
            </div>


            {% endif %}
        </div>
</section>

         <script type="text/javascript" src="/javascripts/revupbundle.js"></script>
        <script type="text/javascript" src="/javascripts/pgwslider.js"></script>
         <script type="text/javascript" src="/javascripts/tabulous.js"></script>
        <script>
        $(document).ready(function() {
            $('.pgwSlider').pgwSlider(
                    {
                        displayList : false,
                        displayControls : true,
                        transitionEffect : 'sliding',
                        intervalDuration : 10000
                    }
            );
            $('#tabs').tabulous({
                effect: 'slideLeft'
            });
            $('#strun-bib-no').keyup(function () {

                if ($(this).val() >= 5000 && $(this).val() < 16000) {
                    $('#submitButton').attr('disabled', false);
                }
                else if ($(this).val() >= 18000 && $(this).val() < 23000) {
                    $('#submitButton').attr('disabled', false);
                }
                else {
                    $(this).addClass('ng-invalid');
                    $('#submitButton').attr('disabled', true);
                }
            });
        });

        $(function () {
            //  Accordion Panels
            $(".accordion div").hide();
            $(".accordion h3").click(function () {
                $(this).next(".pane").slideToggle("slow").siblings(".pane:visible").slideUp("fast");
                $(this).toggleClass("current");
                $(this).siblings("h3").removeClass("current");
            });
        });
        </script>
                <div style="display:none">
                     <div id="tnc">
                     <h3>Terms and Conditions</h3>
                        {{ contest.tnc|raw }}
                    </div>
                </div>




{% endblock %}