{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Contests' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    {#<script type="text/javascript" src="javascripts/homeappbundle.js"></script>#}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/win-home.min.css"/>
    <style>
        figure{  background-color: #13324f !important;}
        figure figcaption p.title{  color: #fff;  color: #fff;  text-align: left;}
        figure figcaption p:last-child{text-align: left;}
        figure figcaption p a{color:#ffc414 !important; padding-left:15px;}
        figure figcaption p a:after{content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAYAAAAvZezQAAAAGXRFW…DcBhJkgQpYA3E1EEeAVNgA8WogDgfiQyAVjUAcBrMFIMAApoUN5kqKBSwAAAAASUVORK5CYII=);}
    </style>
{% endblock %}

{#
    page content
#}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Contests</h1>
                        <hr/>
                        <p>
                            Take part in the contests and win exclusive prizes!
                        </p>
                    </div>
                    {#<div class="styled-button locale">#}
                    {#<a class="en {% if locale == 'en' %}active{% endif %}" href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                    {#<a class="zh {% if locale == 'cn' %}active{% endif %}" href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>


    <section class="mason">
        <div class="chunk slide-chunk">

        </div>
    </section>

    <section class="mason">
        <div class="chunk">

            {% set i = 0 %}
            {% for contest in contests %}
                {% if loop.index0 % 3 == 0 %}
                    {% set i = 0 %}
                    <div class="row">
                {% endif %}

                <div class="contest bucket">
                    <figure>
                        <div class="img-wrapper">
                            {% if contest.url is empty %}
                            <a href="{{ route('win.contests', { 'slug': contest.slug }) }}"><img src="{{ contest.img }}" alt=""/>
                                {% else %}
                                <a target="_blank" href="{{ contest.url }}"><img src="{{ contest.img }}" alt=""/>
                                    {% endif %}

                                    <i>Contest</i></a>
                        </div>
                        <figcaption>
                            <p class="title">{{ contest.title|raw }}</p>
                            <hr>

                            {% if contest.url is empty %}
                                <p><a href="{{ route('win.contests', { 'slug': contest.slug }) }}">Find out more </a></p>
                            {% else %}
                                <p><a href="{{ contest.url }}">Find out more </a></p>
                            {% endif %}

                        </figcaption>
                    </figure>
                </div>


                {#
                NOTE:
                If there are odd number of contests, put the pit challenge next to the last contest
                so there won't be a gap
                - dz
                #}

                {% if contests|length % 3 != 0 and loop.index0 == contests|length - 1 %}
                    {{ block('pit_crew_bucket') }}
                {% endif %}
                {# END NOTE #}

                {% set i = i + 1 %}
                {% if i == 3 or loop.index0 == contests|length - 1 %}
                    </div>
                    {% set i = 0 %}
                {% endif %}
                {#

                #}
            {% endfor %}

            {#
            NOTE:
            If there are even number of contests, create a new row and show the pit challenge below them all
            - dz
            #}
            {% if contests|length % 2 == 0 %}
                <div class="row">
                    {{ block('pit_crew_bucket') }}
                </div>
            {% endif %}
            {# END NOTE #}
        </div>
    </section>
{% endblock %}