{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Win! - Contest' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"
            xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="/javascripts/wincontestbundle.js?postUrl={{ route('win.postContests', { 'slug': contest.slug }) }}"></script>

    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/pgwslider.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.landing.min.css"/>
    <link rel="stylesheet" href="/stylesheets/tabulous.css"/>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".tnc").fancybox({
                autoDimensions: false,
                width: 560
            });
        });
        function encodeImageFileAsURL(){
            var data;
            var filesSelected = document.getElementById("file").files;
            if (filesSelected.length > 0)
            {
                var fileToLoad = filesSelected[0];

                var fileReader = new FileReader();

                fileReader.onload = function(fileLoadedEvent) {
                    var srcData = fileLoadedEvent.target.result; // <--- data: base64

                    var newImage = document.createElement('img');
                    //newImage.src = srcData;
                    $("#files").val(srcData);
                    if($("#files").val() !== ''){
                        $(".text-success span").html(function(){
                            var path = $("#file").val();
                            path = path.split("\\");
                            return 'Successfully attached ' + '"' +path[path.length - 1]+'".';
                        });
                        $(".text-success span").show();
                    } else{
                        $(".text-success span").hide();
                    }
                    $(".fileUpload input.upload").hide();
                    $(".fileUpload a.removeFile").show();
                    $(".fileUpload").css({"background-image" : "url(/images/close_attachment.png)"} );
                    //document.getElementById("files").innerHTML = newImage.outerHTML;
                    //alert("Converted Base64 version is "+document.getElementById("files").innerHTML);
                    //console.log("Converted Base64 version is "+document.getElementById("files").innerHTML);
                }
                fileReader.readAsDataURL(fileToLoad);
            }
        };
        function removeFile(){
            $("#files").val("");
            $(".fileUpload input.upload").show();
            $(".fileUpload a.removeFile").hide();
            $(".fileUpload").css( "background-image", "url(/images/button-contest.png);" );
            $(".text-success span").html("File removed successfully.");
        };
    </script>


{% endblock %}


{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="contestController">
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="selection">
            {% embed "partials.masthead" %}{% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>{{ contest.title }}</h1>
                            <br/>
                            <p>{{ contest.subtitle }}</p>
                        </div>
                        {#<div class="styled-button locale">#}
                        {#<a class="en {% if locale == 'en' %}active{% endif %}"#}
                        {#href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                        {#<a class="zh {% if locale == 'cn' %}active{% endif %}"#}
                        {#href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </section>

        <section class="autograph">
            <div class="chunk row">
                <p data-ng-bind-html="breadcrumbs" class="breadcrumbs"></p>
            </div>

            <section class="mason">
                <div class="chunk slide-chunk">
                    <ul class="pgwSlider">

                        <li><img src="http://www.singaporegp.sg/media/contests/meet-and-greet/meet-and-greet.jpg"></li>
                        <li><img src="http://www.singaporegp.sg/media/contests/meet-and-greet/2.jpg"></li>
                        <li><img src="http://www.singaporegp.sg/media/contests/meet-and-greet/3.jpg"></li>
                        <li><img src="http://www.singaporegp.sg/media/contests/meet-and-greet/4.jpg"></li>
                        <li><img src="http://www.singaporegp.sg/media/contests/meet-and-greet/5.jpg"></li>
                        <li><img src="http://www.singaporegp.sg/media/contests/meet-and-greet/6.jpg"></li>
                        <li><img src="http://www.singaporegp.sg/media/contests/meet-and-greet/7.jpg"></li>
                        <li><img src="http://www.singaporegp.sg/media/contests/meet-and-greet/8.jpg"></li>
                    </ul>
                </div>
            </section>

            <div class="chunk row">
                


                    <div class="writeup" style="padding:20px;">
                        <p style="color: #00236d; font-weight: bold; margin: 0px; font-size: 26px;">{{ contest.title }}</p>
                        <img width="100%" src="/images/campaign/landing/line.png">
                    
                    {{ contest.body|raw }}

                    {% if contest.closed %}
                        <hr/>
                        {{ contest.closed_text|raw }}
                    {% endif %}
                    
                </div>
        
        </section>

        <section class="registration">
            <div class="chunk row">
                {% if not contest.closed %}
                    <div class="disclaimer bucket">
                        {{ contest.footer|raw }}

                    </div>
                    <div class="form bucket">
                        <div ng-hide="submitted">
                            <p style="color: #00236d;  margin: 0px; font-size: 26px;">Register now!</p>
                            <p>Please enter your 14 digits transaction number (including dashes e.g. 20160325-00120) as listed on your confirmation email or receipt:</p>
                            <form name="contestForm" data-ng-submit="submitForm()" novalidate="novalidate">

                                <div class="row">

                                    <input name="transaction" type="text"
                                           placeholder=""
                                           data-ng-model="contest.transaction_number"
                                           data-ng-minlength="14"
                                           data-ng-maxlength="14"
                                           data-ng-pattern="/\d{8}-\d{5}/"
                                           required/>

                                </div>
                                <p>Personal Details:</p>

                                <div class="row">
                                    <input type="text" name="firstName" placeholder="First name" data-ng-model="contest.first_name" required/>
                                    <input type="text" name="lastName" placeholder="Last name" data-ng-model="contest.last_name" required/>
                                </div>

                                <div class="row">
                                    <input type="email" name="emailAddress" placeholder="Email" data-ng-model="contest.email" autocomplete="off" required/>
                                </div>

                                <div class="row">
                                    <P>Tell us who you would like to meet:</p>
                                    <select
                                            data-ng-model="contest.option"
                                            placeholder="Choose an Artiste"
                                            name="option"
                                            ng-init="0"
                                            ng-options="artiste for artiste in artistes"
                                            required/>
                                    </select>
                                </div>

                                <div class="row">
                                    <label><P>Tell us why you deserve to win the passes (in 50 words or less):</p> </label>
                                    <input type="text" name="description" placeholder="" data-ng-model="contest.description" autocomplete="off" required/>
                                </div>
                              {# <div class="row">
                                    <label>Promo code: (if any)</label>
                                    <input type="text" name="promo_code" placeholder="Promo Code" data-ng-model="contest.promo_code" autocomplete="off"/>
                                </div>#}
                                {#<div class="row">#}
                                {#<input type="number" name="contactNumber" placeholder="Contact Number" data-ng-model="contest.contact_number" required/>#}
                                {#</div>#}

                                <div class="form-row" style="padding-top: 15px;" >
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="acceptTnc"
                                                   name="acceptTnc"
                                                   data-ng-model="contest.acceptTnc"
                                                   data-ng-value-true="contest.acceptTnc = 1"
                                                   data-ng-value-false="contest.acceptTnc = 0"
                                                   required />
                                            <label for="acceptTnc"></label>
                                        </div>
                                        <p style="color:#000000 ">I have read and accepted the <a id="inline" class="tnc" href="#tnc" style="color: #000;font-weight: bold">Terms &amp; Conditions</a>.</p>
                                    </div>
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="latest_news"
                                                   name="latest_news"
                                                   data-ng-model="contest.latest_news"
                                                   data-ng-init="contest.latest_news = 0"
                                                   data-ng-value-true="contest.latest_news = 1"
                                                   data-ng-value-false="contest.latest_news = 0"
                                                    />
                                            <label for="latest_news"></label>
                                        </div>
                                        <p style="color:#000000 ">I would like to receive the latest news, promotions and more from Singapore GP Pte Ltd, organisers of the FORMULA 1 SINGAPORE GRAND PRIX.</p>
                                    </div>
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="latest_news_partners"
                                                   data-ng-model="contest.latest_news_partners"
                                                   data-ng-init="contest.latest_news_partners = 0"
                                                   data-ng-value-true="contest.latest_news_partners = 1"
                                                   data-ng-value-false="contest.latest_news_partners = 0"
                                                    />
                                            <label for="latest_news_partners"></label>
                                        </div>
                                        <p style="color:#000000 ">I would like to receive the latest news and promotions from Singapore GP’s supporting partners.</p>
                                    </div>
                                </div>

                                <div class="row">
                                    {#<div class="img-wrapper"></div>#}
                                    {#<input type="text" name="captcha" data-ng-model="contest.captcha" required/>#}
                                    <input type="submit" value="Submit" data-ng-disabled="contestForm.$invalid"/>
                                </div>
                            </form>
                        </div>
                        <div ng-show="submitted">
                            <h2>Thank You for participating</h2>
                            <h4>Only winners will be notified.</h4>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>

        <script type="text/javascript" src="/javascripts/revupbundle.js"></script>
        <script type="text/javascript" src="/javascripts/pgwslider.js"></script>
        <script type="text/javascript" src="/javascripts/tabulous.js"></script>

        <script>
            $(document).ready(function() {
                $('.pgwSlider').pgwSlider(
                        {
                            displayList : false,
                            displayControls : true,
                            transitionEffect : 'sliding',
                            intervalDuration : 10000
                        }
                );
                $('#tabs').tabulous({
                    effect: 'slideLeft'
                });
                $('#strun-bib-no').keyup(function () {

                    if ($(this).val() >= 5000 && $(this).val() < 16000) {
                        $('#submitButton').attr('disabled', false);
                    }
                    else if ($(this).val() >= 18000 && $(this).val() < 23000) {
                        $('#submitButton').attr('disabled', false);
                    }
                    else {
                        $(this).addClass('ng-invalid');
                        $('#submitButton').attr('disabled', true);
                    }
                });
            });
            $(function () {
                //  Accordion Panels
                $(".accordion div").hide();
                $(".accordion h3").click(function () {
                    $(this).next(".pane").slideToggle("slow").siblings(".pane:visible").slideUp("fast");
                    $(this).toggleClass("current");
                    $(this).siblings("h3").removeClass("current");
                });
            });
        </script>
        <div style="display:none">
            <div id="tnc">
                <h3>Terms and Conditions</h3>
                {{ contest.tnc|raw }}
            </div>
        </div>

        <style type="text/css">
            @media screen and (min-width: 768px){
                .content-bucket {
                    width: 80%;
                }
                .autograph .img-bucket {
                    margin-top: 8px;
                    width: 60%;
                    float: none;
                }
            }
        </style>

    {% endblock %}


