{% extends "layouts.master_app" %}

{% set title = 'Singapore F1 - 2015 Formula 1 Night Race - Win! - Contest' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/wincontestbundle.js?postUrl={{ route('win.postContests', { 'slug': contest.slug }) }}"></script>

    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>

    <script type="text/javascript">
    $(document).ready(function() {
        $(".tnc").fancybox({
            autoDimensions: false,
            width: 560
        });
    });
    </script>
{% endblock %}


{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="contestController">
{% endblock %}

{# page content #}
{% block content %}
    <section class="autograph">
        <div class="chunk row">
            <div class="writeup bucket">
                <h2>{{ contest.title }}</h2>


                {{ contest.body|raw }}

                {% if contest.closed %}
                <br/>
                {{ contest.closed_text|raw }}
                {% endif %}
            </div>
        </div>
    </section>

    <section class="registration">
        <div class="chunk row">
            {% if not contest.closed %}
            <div class="disclaimer bucket">
                {{ contest.footer|raw }}

            </div>
            <div class="form bucket">
                <div ng-hide="submitted">
                    <h2>Register now</h2>

                    <form name="contestForm" data-ng-submit="submitForm()" novalidate="novalidate">
                        <div class="row">
                            Please select your preferred choice of artiste:
                            <select
                                    data-ng-model="contest.option"
                                    placeholder="Choose an Artiste"
                                    name="option"
                                    ng-init="0"
                                    ng-options="artiste for artiste in artistes"
                                    required/>
                            </select>
                        </div>
                        <div class="row">
                            <input name="transaction" type="text"
                                   placeholder="Transaction Number (listed on the confirmation email or receipt)"
                                   data-ng-model="contest.transaction_number"
                                   data-ng-minlength="14"
                                   data-ng-maxlength="14"
                                   data-ng-pattern="/\d{8}-\d{5}/"
                                   required/>

                            <p><i>Enter the first 14 digits including dashes. Example: 20140325-00120</i></p>
                        </div>

                        <div class="row">
                            <input type="text" name="firstName" placeholder="First name" data-ng-model="contest.first_name" required/>
                            <input type="text" name="lastName" placeholder="Last name" data-ng-model="contest.last_name" required/>
                        </div>

                        <div class="row">
                            <input type="email" name="emailAddress" placeholder="Email" data-ng-model="contest.email" required/>
                        </div>

                        <div class="row">
                            <input type="text" name="contactNumber" placeholder="Contact Number" data-ng-model="contest.contact_number" required/>
                        </div>

                        <div class="form-row" >
                            <div class="form-grp checkbox-horizontal">
                                <div class="checkbox">
                                    <input type="checkbox"
                                           id="acceptTnc"
                                           data-ng-model="formValues.acceptTnc"
                                           data-ng-value-true="formValues.acceptTnc = 1"
                                           data-ng-value-false="formValues.acceptTnc = 0"
                                            />
                                    <label for="acceptTnc"></label>
                                </div>
                                <p style="color:#000000 ">I have read and accepted the <a id="inline" class="tnc" href="#tnc" style="color: #000;font-weight: bold">Terms &amp; Conditions</a>.</p>
                            </div>
                            <div class="form-grp checkbox-horizontal">
                                <div class="checkbox">
                                    <input type="checkbox"
                                           id="latest_news"
                                           data-ng-model="formValues.latest_news"
                                           data-ng-value-true="formValues.latest_news = 1"
                                           data-ng-value-false="formValues.latest_news = 0"
                                            />
                                    <label for="latest_news"></label>
                                </div>
                                <p style="color:#000000 ">I wish to be kept up to date with the latest news, promotions, products and services by Singapore GP Pte Ltd.</p>
                            </div>
                            <div class="form-grp checkbox-horizontal">
                                <div class="checkbox">
                                    <input type="checkbox"
                                           id="latest_news_partners"
                                           data-ng-model="formValues.latest_news_partners"
                                           data-ng-value-true="formValues.latest_news_partners = 1"
                                           data-ng-value-false="formValues.latest_news_partners = 0"
                                            />
                                    <label for="latest_news_partners"></label>
                                </div>
                                <p style="color:#000000 ">I wish to be kept up to date with the latest news, promotions, products and services by Singapore GP's participating partners.</p>
                            </div>
                        </div>

                        <div class="row">
                            {#<div class="img-wrapper"></div>#}
                            {#<input type="text" name="captcha" data-ng-model="contest.captcha" required/>#}
                            <input type="submit" value="Submit" data-ng-disabled="contestForm.$invalid"/>
                        </div>
                    </form>
                </div>
                <div ng-show="submitted">
                    <h2>Thank You</h2>
                    <h4>We will be in touch if you are a winner.</h4>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    <div style="display:none">
        <div id="tnc">
        <h3>Terms and Conditions</h3>
        {{ contest.tnc|raw }}
        </div>
    </div>

{% endblock %}