{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Win! - Contest' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"
            xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="/javascripts/wincontestbundle.js?postUrl={{ route('win.postContests', { 'slug': contest.slug }) }}"></script>

    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/pgwslider.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.landing.min.css"/>
     <link rel="stylesheet" href="/stylesheets/tabulous.css"/>

    <script type="text/javascript">
    $(document).ready(function() {
        $(".tnc").fancybox({
            autoDimensions: false,
            width: 560
        });
    });
    function encodeImageFileAsURL(){
            var data;
            var filesSelected = document.getElementById("file").files;
            if (filesSelected.length > 0)
            {
                var fileToLoad = filesSelected[0];

                var fileReader = new FileReader();

                fileReader.onload = function(fileLoadedEvent) {
                    var srcData = fileLoadedEvent.target.result; // <--- data: base64

                    var newImage = document.createElement('img');
                    //newImage.src = srcData;
                    $("#files").val(srcData);
                    if($("#files").val() !== ''){
                        $(".text-success span").html(function(){
                            var path = $("#file").val();
                            path = path.split("\\");
                            return 'Successfully attached ' + '"' +path[path.length - 1]+'".';
                        });
                        $(".text-success span").show();
                    } else{
                        $(".text-success span").hide();
                    }
                    $(".fileUpload input.upload").hide();
                    $(".fileUpload a.removeFile").show();
                    $(".fileUpload").css({"background-image" : "url(/images/close_attachment.png)"} );
                    //document.getElementById("files").innerHTML = newImage.outerHTML;
                    //alert("Converted Base64 version is "+document.getElementById("files").innerHTML);
                    //console.log("Converted Base64 version is "+document.getElementById("files").innerHTML);
                }
                fileReader.readAsDataURL(fileToLoad);
            }
        };
        function removeFile(){
            $("#files").val("");
            $(".fileUpload input.upload").show();
            $(".fileUpload a.removeFile").hide();
            $(".fileUpload").css( "background-image", "url(/images/button-contest.png);" );
            $(".text-success span").html("File removed successfully.");
        };
    </script>
    <style>
        .fileUpload {
            position: relative;
            overflow: hidden;
            margin: 0;
            margin-bottom: 15px;
            margin-right: 15px;
            background-image: url(/images/button-contest.png);
            width: 50%;
            color: #fff;
            height: 60px;
            text-align: center;
            padding:20px;
            float: left;
        }

        .fileUpload input.upload, a.removeFile {
            position: absolute;
            width:100%;
            height: 100%;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            font-size: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        .text-success{
            font-weight: 400;
            font-family: Roboto,sans-serif;
            float: left;
            width: 45%;
            height: 60px;
            overflow: hidden;
        }
        .text-success span{display:none; color:red; font-size: .813rem;}
        .form-row{clear:left;}
    </style>
{% endblock %}


{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="contestController">
{% endblock %}

{# page content #}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>{{ contest.title }}</h1>
                        <br/>
                        <p>
                            Capture your favourite moments at the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX and win a pair of tickets to the 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX!
                        </p>
                    </div>
                    {#<div class="styled-button locale">#}
                        {#<a class="en {% if locale == 'en' %}active{% endif %}"#}
                           {#href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                        {#<a class="zh {% if locale == 'cn' %}active{% endif %}"#}
                           {#href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>



    <section class="autograph" style="background-color: white;">
        <div class="chunk row">
            <p data-ng-bind-html="breadcrumbs" class="breadcrumbs"></p>
        </div>

        <section class="mason">
        <div class="chunk">
            <img src="{{ contest.custom_img }}" alt="" style="width: 100%;" />
        </div>


    </section>
 <div class="chunk row" >
 <div style="padding-top:20px;">
    <p style="color: #00236d; font-weight: bold; margin: 0px; font-size:26px;">{{ contest.title }}</p>
    <img width="100%" src="/images/campaign/landing/line.png">
     <p>
         Calling all photo enthusiasts, capture your favourite moments at the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX and share them with us. Whether it's from the gripping race action, the fist-pumping concert experiences, to the dazzling roving acts and carnival-like activities around the Circuit Park, we want you to convey your favourite Singapore Grand Prix moment though your lens!
    </p>


     <p>
         The best photo, selected by Singapore GP, will win a pair of tickets to the 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX! Two runners-up will also win official Singapore Grand Prix merchandise each worth SGD250.
     </p>


     <p>
         To participate:
         <ol>
         <li>Take an original photo at the Circuit Park</li>
         <li>Post on your Facebook or Instagram with a caption and hashtags #SingaporeGP #SGPMoments </li>

        </ol>

     </p>
     <P> Contest submission ends 30 September 2016, 11:59pm (Singapore Time).
     Winner will be contacted via his/her Facebook or Instagram (do make your account public).</P>



     <br />


     <div class="accordion tnc-chunk">
         <br />
         <h3 class="current" style="padding: 0px !important;">TERMS AND CONDITIONS<img width="15px" src="/images/campaign/landing/down.png" style="margin-left: 5px">
         </h3>
         <div style="padding: 0px 20px 20px; text-align: justify; display: block;" class="pane" id="tnc">
           <ul>

               <li>In submitting an entry to this Contest organised by Singapore GP Pte Ltd (the "Organiser"), you (the "Entrant") will be deemed to have accepted these terms and conditions (these "Conditions").</li>
               <li>Submission of entries for this Contest is open until 30 September 2016, 11:59 PM (Singapore time).</li>
               <li>This Contest is open to both local and international patrons of the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX.  </li>
               <li>To qualify for the Contest, an original photo must be taken by the Entrant. The Entrant must share the photo taken on their personal Facebook and/or Instagram account, and include both hashtags #SingaporeGP #SGPMoments in the post.  </li>
               <li>The Entrant's Facebook and/or Instagram account must be made viewable by public. </li>
               <li>The Organiser reserves the right to disqualify any individual who tampers with the submission process. </li>
               <li>The Organiser accepts no responsibility for late, lost, garbled or misdirected entries however caused</li>
               <li>Only the winners will be contacted and notified of prize collection. </li>
               <li>All prizes must be collected personally; unclaimed and uncollected prizes shall be forfeited. </li>
               <li>Prizes are not transferable, exchangeable or redeemable for cash or other benefit in kind. </li>

               <li>In the event of a dispute, all decisions made by the Organiser will be final. </li>

               <li>The Organiser reserves the right to announce the Entrants' names and use the photos shared by the Entrants for publicity purposes.  </li>
               <li>This competition is not open to employees or contractors of the Organiser, any person directly involved with the Organiser or the running of the competition, or their direct family members.</li>

               <li>By participating in this contest, Entrants agree that the Organiser shall not be liable for injury, loss, or damage of any kind resulting from taking part in the Contest.  </li>
               <li>Notwithstanding anything in these Conditions, the Organiser reserves the right at any time in its absolute discretion to: (a) cancel or modify the Contest; (b) determine and/or amendments; and/or amend, by addition to, deletion from or variation of, these Conditions without prior notification and all Entrants and winners shall be bound by such determination and/or amendments; and/or (c) substitute, withdraw or cancel any prize without prior notice and without having to disclose any reason therefore and without any payment or compensation whatsoever. </li>

               <li>These Conditions are governed by and constructed in accordance with the laws of the Republic of Singapore, and the Entrant submits to the non-exclusive jurisdiction of the courts of Singapore in the determination of any matter or dispute arising in connection therewith. </li>
               

           </ul>


         </div>
     </div>
     <br /><br />


    {% if contest.closed %}
     {{ contest.closed_text|raw }}
    {% endif %}

 </div>

    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <script>
        $(document).ready(function() {
         //  Accordion Panels
         $(".accordion div").hide();
         $(".accordion h3").click(function () {
             $(this).next(".pane").slideToggle("fast").siblings(".pane:visible").slideUp("fast");
             $(this).toggleClass("current");
             $(this).siblings("h3").removeClass("current");
         });
        });

    </script>
{% endblock %}

