{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Win - Wallpapers ' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/win-wallpapers.min.css"/>
    <style>
    .wallpaper a:before{
        content: url(/images/arrow-left.png);
    }
    .desc h1{color:#ffc414;}
    .selection-panel:after{bottom: 0px !important;}
    .selection-panel .desc-bar .desc{  top: 15px;}
    .content section.selection-panel{min-height:250px; height:265px;}
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Wallpaper Gallery</h1>
                        <br/>
                        <p>Download a Singapore Grand Prix wallpaper on your desktop.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% for yearKey, years in wallpapers %}
        <section class="wallpapers">
            <div class="chunk row">
                <div class="heading">
                    {%if (yearKey|slice(1) > 0) %}
                        <h2>{{ yearKey|slice(1) }}</h2>
                    {% endif %}
                </div>

                <ul>
                    {% for wallpaper in years %}
                        <li>
                            <div class="wallpaper">
                                <img src="{{ wallpaper.image_path }}" alt=""/>

                                <p>
                                    <a href="{{ wallpaper.image_path_1440_900 }}" target="_blank">1440 x 900</a> <br/>
                                    <a href="{{ wallpaper.image_path_1280_1024 }}" target="_blank">1280 x 1024</a> <br/>
                                    <a href="{{ wallpaper.image_path_1024_768 }}" target="_blank">1024 x 768</a> <br/>
                                    <a href="{{ wallpaper.image_path_800_600 }}" target="_blank">800 x 600</a>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </section>
    {% endfor %}

    {#<section class="headliner">#}
    {#<div class="chunk row">#}
    {#<div class="heading">#}
    {#<h2>2012</h2>#}
    {#</div>#}

    {#<ul class="listing">#}
    {#<li>#}
    {#<p>Band <br/>#}
    {#<small>Country</small>#}
    {#</p>#}
    {#<a href="#">#}
    {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
    {#<span class="text-content"><span>Read more</span></span>#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<p>Band <br/>#}
    {#<small>Country</small>#}
    {#</p>#}
    {#<a href="#">#}
    {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
    {#<span class="text-content"><span>Read more</span></span>#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<p>Band <br/>#}
    {#<small>Country</small>#}
    {#</p>#}
    {#<a href="#">#}
    {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
    {#<span class="text-content"><span>Read more</span></span>#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<p>Band <br/>#}
    {#<small>Country</small>#}
    {#</p>#}
    {#<a href="#">#}
    {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
    {#<span class="text-content"><span>Read more</span></span>#}
    {#</a>#}
    {#</li>#}
    {#</ul>#}
    {#</div>#}
    {#</section>#}

{% endblock %}