{% extends "layouts.master_app" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Monthly Contest' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{% block meta %}
    {# Twitter #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ fb_url }}" />
    <meta name="twitter:title" content="{{ fb_title }}" />
    <meta name="twitter:description" content="{{ fb_title }}" />
    <meta name="twitter:image" content="http://www.singaporegp.sg/images/SGPEventLogo_RGB_v1_Vertical_BlueYellow.png" />

    {# Facebook #}
    <meta property="og:url" content="{{ fb_url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ fb_title }}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="http://www.singaporegp.sg/images/SGPEventLogo_RGB_v1_Vertical_BlueYellow.png" />
{% endblock %}