{% extends "layouts.master" %}

{% set title = 'Singapore GP Contest 2016' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block meta %}
    {# Twitter #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ share_url }}" />
    <meta name="twitter:title" content="{{ share_title }}" />
    <meta name="twitter:description" content="{{ share_desc }}" />
    <meta name="twitter:image" content="{{ prize_image_url }}" />

    {# Facebook #}
    <meta property="og:url" content="{{ share_url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ share_title }}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{ prize_image_url }}" />
{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/stylesheets/pgwslider.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.landing.min.css"/>
    <link rel="stylesheet" href="/stylesheets/tabulous.css"/>

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>
    <script type="text/javascript" src="/javascripts/pgwslider-min.js"></script>
    <script type="text/javascript" src="/javascripts/tabulous-min.js"></script>
{% endblock %}

{#
    page content
#}

{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}
        <br><br>
        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>MOBILE APP CONTEST</h1>
                        <br>
                        <div class="hand">
                            <p style="max-width: 530px; text-align: justify">
                                Download the official Singapore GP Mobile App and participate in contests FUEL YOUR GP EXPERIENCE and HIGH-SPEED PURSUIT to win amazing prizes!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mason">
        <div class="chunk slide-chunk">
            <ul class="pgwSlider">
                <li><img src="/images/campaign/landing/slide-1.png"></li>
                <li><img src="/images/campaign/landing/slide-2.png"></li>
            </ul>
        </div>
    </section>

    <section class="mason">
        <div class="chunk" style="margin: 0px auto">
            <div id="tabs" class="tabs" >
                <ul>
                    <li><a href="#tabs-1" onclick="termsMonthlyContest()" title="FUEL YOUR GP EXPERIENCE">FUEL YOUR GP EXPERIENCE</a></li>
                    <li><a href="#tabs-2" onclick="termsGrandDraw()" title="HIGH-SPEED PURSUIT">HIGH-SPEED PURSUIT</a></li>
                </ul>

                <div id="tabs_container">
                    <div id="tabs-1" style="height: 563px">
                        <p style="color: #00236d; font-weight: bold; margin: 0px; padding-left: 20px">
                            HOW TO PARTICIPATE
                        </p>
                        <img width="102%" src="/images/campaign/landing/line.png">
                        <p style="margin: 20px; text-align: center">
                            <img id="steps" width="100%" style="max-width: 700px;" src="/images/campaign/landing/participate.png">
                        </p>
                        <p style="padding: 20px">
                            FUEL YOUR GP EXPERIENCE is a monthly giveaway contest held from February to August 2016, with a chance to win attractive Singapore GP prizes.
                            <br><br>
                            To participate, simply click on the checkpoint on the track to complete the task.
                            <br><br>
                            Each checkpoint will open during the first week of the month and close during the last week of the same month.
                            <br><br>
                            Complete the checkpoint and submit your entry (together with your particulars) to enter the giveaway. You may submit more than one entry.
                            <br><br>
                            Winners will be announced and notified within the first week of the following month.
                        </p>
                    </div>

                    <div id="tabs-2" style="width: 98%">
                        <p style="color: #00236d; font-weight: bold; margin: 0px; padding-left: 20px">
                            HOW TO PARTICIPATE
                        </p>
                        <img width="102%" src="/images/campaign/landing/line.png">
                        <p style="margin: 20px; text-align: center">
                            <img id="steps" width="100%" style="max-width: 600px;" src="/images/campaign/landing/participate_grand_draw.png">
                        </p>
                        <p style="padding: 20px;">
                            Stand a chance to win a pair of tickets to the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX!
                            <br><br>
                            Spot one mystery code each month in quizzes released from March to August. Key in each monthly two-digit code, and submit your particulars after the last quiz in August.
                            <br><br>
                            <strong>Grand Prize:</strong>
                            <br>
                            One pair of 3-day tickets to the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX + S$300 goodie bag of official 2016 Singapore GP merchandise
                            <br><br>
                            <strong>Second and Third Prizes (2 winners):</strong>
                            <br>
                            S$300 goodie bag of official 2016 Singapore GP merchandise
                            <br><br>
                            Contest ends on 31 August 2016. Winners will be notified in first week of September 2016.
                        </p>
                    </div>
                </div><!--End tabs container-->
            </div><!--End tabs-->
            <div style="text-align: center; margin: 10px auto">
                <a href="http://itunes.apple.com/sg/app/singapore-gp/id518276170?mt=8"><img src="/images/btn_appstore.jpg" alt=""></a>
                <a href="https://play.google.com/store/apps/details?id=com.singaporegp.f1#?t=W251bGwsMSwxLDIxMiwiY29tLnNpbmdhcG9yZWdwLmYxIl0."><img src="/images/btn_googleplay.jpg" alt=""></a>
            </div>
            <br>
        </div>
    </section>

    <section class="mason tnc-mason" id="tnc-panel" style="min-height: 0px">
        <div class="chunk tnc-chunk" style="margin: 0px auto">
            <div class="accordion">
                <h3>TERMS AND CONDITIONS <img style="margin-left: 5px" width="15px" src="/images/campaign/landing/down.png"></h3>
                <div id="tnc" class="pane" style="padding: 0px 20px 20px 20px; text-align: justify" >
                    {{ include("layouts.campaign.contest.terms_raw") }}
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>
    <script type="text/javascript" src="/javascripts/pgwslider.js"></script>
    <script type="text/javascript" src="/javascripts/tabulous.js"></script>
    <script>
        function termsMonthlyContest() {
            document.getElementById("tnc").innerHTML = "{{ include("layouts.campaign.contest.terms_raw") }}";
            document.getElementById("tnc-panel").style.visibility = 'visible';
        }

        function termsGrandDraw() {
            document.getElementById("tnc").innerHTML = "{{ include("layouts.campaign.granddraw.terms_raw") }}";
            document.getElementById("tnc-panel").style.visibility = 'visible';
        }

        $(document).ready(function() {
            $('.pgwSlider').pgwSlider(
                    {
                        displayList : false,
                        displayControls : true,
                        transitionEffect : 'sliding',
                        intervalDuration : 10000
                    }
            );
            $('#tabs').tabulous({
                effect: 'slideLeft'
            });
        });
        $(function () {
            //  Accordion Panels
            $(".accordion div").hide();
            $(".accordion h3").click(function () {
                $(this).next(".pane").slideToggle("slow").siblings(".pane:visible").slideUp("fast");
                $(this).toggleClass("current");
                $(this).siblings("h3").removeClass("current");
            });
        });
    </script>
{% endblock %}