{% extends "layouts.gallery" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Off Track - Gallery' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/gallerybundle.js?route={{ route('offtrack.gallery') }}"></script>

    <link rel="stylesheet" href="/stylesheets/offtrack-gallery.min.css"/>
{% endblock %}