{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Off Track - Headliners ' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinerdetailsbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/offtrack-headlinerdetails.min.css"/>
    <style>
        .performance-details>table th{  color: #fff;} 
        .performance-details .date-information{margin-top: 20px !important;} 
        .content section.selection-panel{height:270px}

    </style>
{% endblock %}

{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="headlinersController">
{% endblock %}



{% block content %}

    {# page content #}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->


    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>{{ "now"|date('Y') }} {% if artist[0].performance_category == 'HEADLINING ACTS' %}Headlining Acts{% elseif artist[0].performance_category == 'MUSIC (LOCAL)' %}Music (Local){% elseif artist[0].performance_category == 'MUSIC (INTERNATIONAL)' %}Music (International) {% elseif artist[0].performance_category == 'ACTION'%}Action {% elseif artist[0].performance_category == 'ROVING ACTS'%}Roving Acts {% else %}Headlining <Acts></Acts>{% endif %}</h1>

                        <h2>&nbsp;&nbsp;</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="headliner-details">
        <div class="chunk row">
            <p class="breadcrumbs"> <a href="{{ route('offtrack.headliner')}}">Off-Track</a> &nbsp ⟩ &nbsp {% if artist[0].performance_category == 'HEADLINING ACTS' %}Headlining Acts{% elseif artist[0].performance_category == 'MUSIC (LOCAL)' %}Music (Local){% elseif artist[0].performance_category == 'MUSIC (INTERNATIONAL)' %}Music (International) {% elseif artist[0].performance_category == 'ACTION'%}Action{% elseif artist[0].performance_category == 'ROVING ACTS'%}Roving Acts {% else %}Headlining Acts {% endif %}&nbsp ⟩ &nbsp {{ artist[0].artist }}</p>
            {#<p data-ng-bind-html="breadcrumbs" class="breadcrumbs"></p>#}
        </div>

        <div class="chunk row">
            <div class="performance-details col" data-fancy-gallery>
                <table class="date-information">
                    <caption></caption>
                    <colgroup width="25%"></colgroup>
                    <colgroup width="75%"></colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">Performance Details</th>
                    </tr>
                </table>
                {% for a in artist %}
                <table class="date-information">
                    <caption></caption>
                    <colgroup width="25%"></colgroup>
                    <colgroup width="75%"></colgroup>
                    <thead>
                    {% if a.artist=="The Artifice Group (USA)" %}
                    <tr>
                        <th colspan="2">
                                <span style="color:#bb9d5f;font-weight:bold">The Artifice Group B (Asi Wind)</span>
                        </th>
                    </tr>
                    {% endif %}
                    </thead>
                    <tbody>
                    <tr>
                        <td>Date</td>
                        <td>
                            {% if a.date is empty %}{{ a.start_date|date('d M Y') }}{% else %}{{ a.date }}{% endif %}

                        </td>
                    </tr>
                    {% if a.time != " " %}
                        {# {% if a.start_date|slice(11, 5) != '00:00' or a.end_date|slice(11, 5) != '00:00' %}#}
                    <tr>
                        <td>Time</td>

                        <td>
                            {{ a.time|raw }}
                            {# {{ a.start_date|slice(11, 5)}}{{ "  -  " }}{{ a.end_date |slice(11, 5)}} #}
                        </td>

                    </tr>
                    {% endif %}
                    <tr>
                        <td>Zone</td>
                        <td>
                        {{ a.zone }}
                        </td>
                    </tr>
                    </tbody>
                </table>
                {% endfor %}

                <p></p>
                        {# {{ artist[0].short_description|raw }} #}
                <ul>
                    {# photos only #}
                    {% for item in gallery %}
                        {% if item.video is empty %}
                            <li><a class="fancybox" href="{{ item.image }}" rel="gallery"><img src="{{ item.image }}" alt=""/></a></li>
                        {% else %}
{#                            <li>                            <a class="fancybox fancybox.iframe vid-tn" rel="gallery" href="{{ item.video }}"><img src="{{ item.image }}" alt=""/></a>
                            </li>#}
                            <li>
                                <a class="fancybox fancybox.iframe vid-tn" rel="gallery" href="{{ item.video_mobile }}">
                                    <img src="{{ item.image }}" alt=""/>
                                </a>
                            </li>
{#                            <li>                            <a class="fancybox fancybox.iframe vid-tn" rel="gallery" href="{{ item.video_ogg }}"><img src="{{ item.image }}" alt=""/></a>
                            </li>#}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="performance-writeup col">
                <h1>{{ artist[0].artist }}</h1>

                <img src="{{ artist[0].image }}" alt=""/>

                {{ artist[0].performance_description|raw }}

                {#<a href="https://tickets.singaporegp.sg"><img src="http://singaporegp.sg/media/entertainment-highlights/2016-ent-highlights-zone-map.jpg" width="100%" ></a>#}

                <p><a href="{{ route('offtrack.headliners') }}">&laquo; Back to Off-Track Entertainment Highlights</a></p>
            </div>
        </div>
    </section>

    <section class="change-notice">
        <div class="chunk row">
            <p>Check back here regularly for the latest announcements on the 2016 Entertainment. <br/>Artiste line-up
                and performance times are subject to change.</p>
        </div>
    </section>

{% endblock %}
