{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Off Track - Headliners ' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('javascripts/libs/jwplayer/jwplayer.js') }}"></script>
    <script type="text/javascript">jwplayer.key="5Zie6NAltu0/qu+Sxc4g9i2JlnS8p/d/0xKRlg==";</script>

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/offtrack-headliners.min.css"/>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />
    <script>
        $(document).ready(function(){
            $('.fancybox').fancybox();
        })
    </script>


    <style>
        span.text-content span{color: #ffc414}
        .performance-cat #chooseCat{

        }
        .desc-bar .desc{top:30px;  bottom: inherit;}
        .content section.selection-panel:after{  bottom: 90px;}
        .locale a.active {
            background-color: #ffc414;
        }
        .content section.selection-panel{  min-height: 365px;}
        .locale a.active{  line-height: 37px !important;}
        .locale a.en, .locale a.zh{line-height: 35px;}
        .filter-bar .styled-button a:hover{color: #13324f !important;}
    </style>

{% endblock %}

{# page content #}


{% block content %}

    {# page content #}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <div ng-controller="headlinersController">

        <section class="selection-panel selection" style="margin-top: -10px;">
            {% embed "partials.masthead" %}{% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col" style="width: 80%;" >
                        <div class="desc" style="height: auto;">
                            <h1>{{ trans('offtrack.headliner.title')|raw }}</h1>

                            <p>{{ trans('offtrack.headliner.desc')|raw }}</p>

                        </div>
                    </div>
                    <div class="styled-button locale" style="margin-top: 30px;">
                        <a class="en {% if locale == 'en' %}active{% endif %}"
                           href="{{ route('language.select', ['en']) }}">{{ trans('offtrack.en') }}</a>
                        <a class="zh {% if locale == 'cn' %}active{% endif %}"
                           href="{{ route('language.select', ['cn']) }}">{{ trans('offtrack.cn') }}</a>
                    </div>
                </div>
            </div>

            <div class="chunk ">
                <div class="row">
                    <div class="filter-bar col" style="text-align: left;">

                        <div class="styled-button">
                            <a target="_black" href="https://tickets.singaporegp.sg/tickets/en/listing/all/">{{ trans('offtrack.headliner.buybutton')|raw }}</a>
                            <!-- <a href="javascript:void(0);" onclick="hideEntertaiment();">{{ trans('offtrack.headliner.schedule')|raw }}</a> -->
                            <!-- <a href="{{ route('onofftrackschedule') }}">{{ trans('offtrack.headliner.schedule')|raw }}</a> -->
                        </div>
                        {#<div class="styled-button">
     <div class="pdf">
         <!-- <a href="javascript:void(0);" onclick="hideEntertaiment();">{{ trans('offtrack.headliner.enterguide')|raw }}</a> -->
         <a target="_black" href="http://web2.singaporegp.sg/Uploaded/entertainment_highlights/pdf/2015_50Reasons_LR.pdf">{{ trans('offtrack.headliner.enterguide')|raw }}</a>
     </div>#}
                        {# </div>
                         <div class="styled-button">
                             <div class="video">
                                 <!--<a href="http://www.singaporegp.sg/on-track/gallery/2015/videos" class="">{{ trans('offtrack.headliner.watchvideo')|raw }}</a>-->
                                 <!--<a href="/off-track/video/44" class="fancybox fancybox.iframe">{{ trans('offtrack.headliner.watchvideo')|raw }}</a>-->
                                 <a href="http://web2.singaporegp.sg/Uploaded/video_gallery/SGP_Entertainment_Acts.mp4" class="fancybox fancybox.iframe">{{ trans('offtrack.headliner.watchvideo')|raw }}</a>
                             </div>
                         </div> #}
                        <div class="styled-select">
                            <select id="chooseCat" name="cat" data-ng-model="headliner.cat" data-ng-change="filterCategory()" >
                                <option value="none" disabled>{{ trans('offtrack.headliner.selectcate')|raw }}</option>
                                <option value="all" data-ng-selected="headliner.cat == 'all'">{{ trans('offtrack.headliner.allcate')|raw }}</option>
                                {% for cat in listofcategories %}
                                    <option value="{{cat}}" data-ng-selected="headliner.cat == '{{cat}}'">

                                        {% if cat == 'HEADLINING ACTS'%}
                                            {{ trans('offtrack.headliner.headliners')|raw }}
                                        {% elseif cat ==  'MUSIC (LOCAL)'%}
                                            {{ trans('offtrack.headliner.local')|raw }}
                                        {% elseif cat == 'MUSIC (INTERNATIONAL)'%}
                                            {{ trans('offtrack.headliner.international')|raw }}
                                        {% elseif cat == 'ROVING ACTS'%}
                                            {{ trans('offtrack.headliner.roving')|raw }}
                                        {% endif %}


                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        {# <div class="styled-button">
                             <a target="_black" href="http://web2.singaporegp.sg/Uploaded/entertainment_highlights/pdf/schedule_sep.pdf">{{ trans('offtrack.headliner.schedule')|raw }}</a>
                             <!-- <a href="javascript:void(0);" onclick="hideEntertaiment();">{{ trans('offtrack.headliner.schedule')|raw }}</a> -->
                             <!-- <a href="{{ route('onofftrackschedule') }}">{{ trans('offtrack.headliner.schedule')|raw }}</a> -->
                         </div>#}

                    </div>
                </div>
            </div>
        </section>
        {#
        <section myname="Headliners" class="headliner">
            <div class="chunk row">
                <div class="heading video">
                    <div style="width: 400px; margin-left: auto; margin-right: auto;">
                        <a class="fancybox fancybox.iframe video" rel="gallery" href="http://128.199.250.199/off-track/video/39">
                            <img src="http://web2.singaporegp.sg/Uploaded/video_gallery/VideoScreen.png" alt="">
                            <span class="text-content" ><span class="video"></span></span>
                        </a>
                    </div>
                    <script type="text/javascript">
                    $(document).ready(function() {
                         $('.fancybox').fancybox({
                            margin : [20, 60, 20, 60]
                        });
                    })
                    </script>
                </div>
            </div>
        </section>
        #}

        {% for section in sections %}
            {% if section.records|length > 0   %}

                <section myname="{{ section.tag }}" class="headliner">
                    <div class="chunk row">
                        <div class="heading">
                            <h2>{{ section.title }}</h2>
                            {% if section.subtitle == 'MUSIC (LOCAL)' %}
                                <p>{{ trans('offtrack.headliner.local')|raw }}</p>
                            {% elseif section.subtitle == 'MUSIC (INTERNATIONAL)' %}
                                <p>{{ trans('offtrack.headliner.international')|raw }}</p>
                            {% elseif section.subtitle == 'ROVING ACTS' %}
                                <p>{{ trans('offtrack.headliner.roving')|raw }}</p>
                            {% else %}
                                <p>{{ trans('offtrack.headliner.headliners')|raw }}</p>
                            {% endif %}
                        </div>


                        <ul class="listing">
                            {% set headliners = section.records %}
                            {# only loop from second item onwards, since first is featured #}
                            {% for artist in headliners %}
                                <li>
                                    <p>{{ artist.artist }} <br/>
                                        <small>
                                            {{ artist.country|default('') }}
                                        </small><br />
                                        {% if locale == 'cn' %}
                                            {% if artist.zone_list|length > 0 %}
                                                <small>
                                                    {% for i in 0..artist.zone_list|length %}
                                                        {% if i > 0 %}<br />{% endif %}
                                                        {% set perform_date = artist.date|split(', ') %}
                                                        {% if perform_date[i]|upper == 'FRI 16 SEP' %}9月16日 {% endif %}
                                                        {% if perform_date[i]|upper == 'SAT 17 SEP' %}9月17日 {% endif %}
                                                        {% if perform_date[i]|upper == 'SUN 18 SEP' %}9月18日 {% endif %}
                                                        {% set zone = artist.zone_list[i]|trim  %}
                                                        {% if zone == 'Zone 4 Esplanade Outdoor Theatre' %}
                                                            滨海艺术中心户外剧场
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Padang Stage' %}
                                                            区4 Padang 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Village Stage' %}
                                                            区1 Village 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Coyote Stage' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Paddock Club Lifestyle Stage' %}
                                                            Paddock Club 名流包厢娱乐区
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Sail Stage' %}
                                                            区1 Sail 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Sunset Stage' %}
                                                            区1 Sunset 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Retro Bar Area' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Promonade, Village Stage Area, Sail Stage Area' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Esplanade Outdoor Theatre Stage' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Sail Stage Off Stage Area' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Gate 1 Area, Sail Stage' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Globe of Death' %}
                                                            区4 Padang 草场
                                                        {% endif %}
                                                        {% if zone == 'Zone 3 Roving Grandstand Left' %}
                                                            区3
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Outdoor Area, Underpass, Connaught Drive' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Sunset Stage Area' %}
                                                            区1 Sunset 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Gate 1 Area' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Pit Sky Terrace' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving F&B Area, Promanade behind Village Stage, Sail Stage' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 3 Roving Grandstand Right' %}
                                                            区3
                                                        {% endif %}
                                                        {% if zone == 'Zone 3 Roving Bay Undercroft' %}
                                                            区3
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Sunset Stage Area' %}
                                                            区1 Sunset 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving F&B Area, Promanade, Sail Stage' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Roving Connaught Drive' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Roving Offstage Esplanade Outdoor' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Roving Coyote Stage Area' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Sail Stage Area' %}
                                                            区1 Sail 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving F&B Area' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 T1 & T2 Sky Terrace' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Pit Sky Terrace' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Grandstand Left' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Sail Stage, Promanade, F&B Area' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Bay Undercroft' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Roving Outdoor Area' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Roving Mambo Stage Area, Connaught Drive' %}
                                                            区4 Mambo 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Zone 4 Roving' %}
                                                            区4 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving' %}
                                                            区1 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Zone 1 Roving' %}
                                                            区1 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Downtown' %}
                                                            区4 Downtown
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Zone 4 Downtown' %}
                                                            区4 Downtown
                                                        {% endif %}

                                                    {% endfor %}
                                                </small>
                                            {% else %}
                                                <small>
                                                    {% if artist.date|upper == 'FRI 16 SEP' %}9月16日 {% endif %}
                                                    {% if artist.date|upper == 'SAT 17 SEP' %}9月17日 {% endif %}
                                                    {% if artist.date|upper == 'SUN 18 SEP' %}9月18日 {% endif %}
                                                    {% set zone = artist.zone %}
                                                    {% if 'ROVING' not in section.tag  %}
                                                        {% if zone == 'Zone 4 Esplanade Outdoor Theatre' %}
                                                            滨海艺术中心户外剧场
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Padang Stage' %}
                                                            区4 Padang 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Village Stage' %}
                                                            区1 Village 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Coyote Stage' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Paddock Club Lifestyle Stage' %}
                                                            Paddock Club 名流包厢娱乐区
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Sail Stage' %}
                                                            区1 Sail 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Sunset Stage' %}
                                                            区1 Sunset 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Retro Bar Area' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Promonade, Village Stage Area, Sail Stage Area' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Esplanade Outdoor Theatre Stage' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Sail Stage Off Stage Area' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Gate 1 Area, Sail Stage' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Globe of Death' %}
                                                            区4 Padang 草场
                                                        {% endif %}
                                                        {% if zone == 'Zone 3 Roving Grandstand Left' %}
                                                            区3 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Outdoor Area, Underpass, Connaught Drive' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Sunset Stage Area' %}
                                                            区1 Sunset 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Gate 1 Area' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Pit Sky Terrace' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving F&B Area, Promanade behind Village Stage, Sail Stage' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 3 Roving Grandstand Right' %}
                                                            区3
                                                        {% endif %}
                                                        {% if zone == 'Zone 3 Roving Bay Undercroft' %}
                                                            区3
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Sunset Stage Area' %}
                                                            区1 Sunset 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving F&B Area, Promanade, Sail Stage' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Roving Connaught Drive' %}
                                                            区4 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Roving Offstage Esplanade Outdoor' %}
                                                            区4 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Roving Coyote Stage Area' %}
                                                            区4 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Sail Stage Area' %}
                                                            区1 Sail 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving F&B Area' %}
                                                            区1 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 T1 & T2 Sky Terrace' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Pit Sky Terrace' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Grandstand Left' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Sail Stage, Promanade, F&B Area' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving Bay Undercroft' %}
                                                            区1
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Roving Outdoor Area' %}
                                                            区4
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Roving Mambo Stage Area, Connaught Drive' %}
                                                            区4 Mambo 舞台
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Zone 4 Roving' %}
                                                            区4 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Roving' %}
                                                            区1 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 1 Zone 1 Roving' %}
                                                            区1 巡回演出
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Downtown' %}
                                                            区4 Downtown
                                                        {% endif %}
                                                        {% if zone == 'Zone 4 Zone 4 Downtown' %}
                                                            区4 Downtown
                                                        {% endif %}
                                                    {% endif %}
                                                </small>
                                            {% endif %}
                                        {% else %}
                                            {% if artist.zone_list|length > 0 %}
                                                <small>

                                                    {% for i in 0..artist.zone_list|length %}
                                                        {% if i > 0 %}<br />{% endif %}

                                                        {% set perform_date = artist.date|split(', ') %}
                                                        {% if perform_date[i]|upper == 'FRI 16 SEP' %}16 Sep {% endif %}
                                                        {% if perform_date[i]|upper == 'SAT 17 SEP' %}17 Sep {% endif %}
                                                        {% if perform_date[i]|upper == 'SUN 18 SEP' %}18 Sep {% endif %}
                                                        {% set zone = artist.zone_list[i]|trim  %}
                                                        {{ zone[6:]  }}


                                                    {% endfor %}
                                                </small>
                                            {% else %}
                                                <small>
                                                    {% if artist.date|upper == 'FRI 16 SEP' %}16 Sep {% endif %}
                                                    {% if artist.date|upper == 'SAT 17 SEP' %}17 Sep {% endif %}
                                                    {% if artist.date|upper == 'SUN 18 SEP' %}18 Sep {% endif %}

                                                    {% if 'ROVING' not in section.tag  %} {{ artist.zone[6:]  }} {% endif %}
                                                </small>
                                            {% endif %}
                                        {% endif %}
                                    </p>

                                    {% if artist.url is empty %}
                                        <img src="{{ artist.image }}" alt=""/>
                                    {% else %}
                                        {% if locale == 'cn' %}
                                            <img src="{{ artist.image }}" alt=""/>
                                            <!--<a href="javascript:void(0);">
                                                <img src="{{ artist.image }}" alt=""/>
                                                <span class="text-content"><span></span></span>
                                            </a>-->
                                        {% endif %}
                                        {% if locale == 'en' %}
                                            <a href="{{ route('offtrack.headliner', { 'headliner': artist.url }) }}">
                                                <img src="{{ artist.image }}" alt=""/>
                                                <span class="text-content"><span>Read More</span></span>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <p>&nbsp;</p>
                        <!--  <p style="text-align: right; padding-right: 20px;"><a href="https://tickets.singaporegp.sg"><img src="http://singaporegp.sg/Uploaded/entertainment_highlights/2016_ent_map.jpg" style="width: 100%; max-width: 800px;" border="0"/></a><p> -->
                    </div>

                </section>

            {% endif %}
        {% endfor %}

        <!--
        <section class="change-notice">
            <div class="chunk row">
                <p>{{ trans('offtrack.headliner.regularly')|raw }}<br/>
                {{ trans('offtrack.headliner.performance')|raw }}
                </p>
            </div>
        </section>  -->

    </div>
    <style>

    </style>
    {#remarketing pixel#}
    <script>

        $(document).ready(function(){
            /* $('#chooseCat').change(function() {
             $(".change-notice").hide();
             if ($('#chooseCat').val() == 'all'
             || $('#chooseCat').val() == 'HEADLINERS'
             || $('#chooseCat').val() == 'LOCAL'
             || $('#chooseCat').val() == 'INTERNATIONAL'
             || $('#chooseCat').val() == 'ROVING'
             ) {
             $(".listing").show();
             } else{
             $(".headliner").hide();
             }
             });*/
        })
        function hideEntertaiment(){
            $(".change-notice").show();
            $(".headliner").hide();
            $(".headliner .listing").hide();
            $(".change-notice").css({"height":"400px"});
            $(".change-notice .chunk").css({"padding-top": "150px"});
            $(".change-notice .chunk p").css({"color": "red"});
        }

        (function() {

            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '783897478321230']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=783897478321230&amp;ev=NoScript" /></noscript>

{% endblock %}
