{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Off Track - Past Headliners ' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/offtrack-pastheadliners.min.css"/>
    <style>
        .content section.selection-panel:after{bottom: 25px !important;}
        .content section.selection-panel{min-height: 335px !important;}
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Past Years' <br/>Headliners</h1>
                        <br/>
                        <p>You have seen the best the world has to offer on and off the track. <br/>Don't miss out on the entertainment this year.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% set currentYear = "now"|date('Y') %}
    {% for key, artists in headliners if key|slice(1) <= currentYear %}
    <section class="headliner">
        <div class="chunk row">
            <div class="heading">
                <h2>{{ key|slice(1) }}</h2>
            </div>

            <ul class="listing">
                {% for artist in artists %}
                <li>
                    <p>{{ artist.artist }}<br/>
                        <small>{{ artist.country }}</small>
                    </p>
                    {#<a href="{{ route('offtrack.headliner', [artist.url]) }}">#}
                        <img src="{{ artist.image }}" alt=""/>
                        {#<span class="text-content"><span>Read more</span></span>#}
                    {#</a>#}
                </li>
                {% endfor %}
                {#<li>#}
                    {#<p>Band <br/>#}
                        {#<small>Country</small>#}
                    {#</p>#}
                    {#<a href="#">#}
                        {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
                        {#<span class="text-content"><span>Read more</span></span>#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<p>Band <br/>#}
                        {#<small>Country</small>#}
                    {#</p>#}
                    {#<a href="#">#}
                        {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
                        {#<span class="text-content"><span>Read more</span></span>#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<p>Band <br/>#}
                        {#<small>Country</small>#}
                    {#</p>#}
                    {#<a href="#">#}
                        {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
                        {#<span class="text-content"><span>Read more</span></span>#}
                    {#</a>#}
                {#</li>#}
            </ul>
        </div>
    </section>
    {% endfor %}

    {#<section class="headliner">#}
        {#<div class="chunk row">#}
            {#<div class="heading">#}
                {#<h2>2012</h2>#}
            {#</div>#}

            {#<ul class="listing">#}
                {#<li>#}
                    {#<p>Band <br/>#}
                        {#<small>Country</small>#}
                    {#</p>#}
                    {#<a href="#">#}
                        {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
                        {#<span class="text-content"><span>Read more</span></span>#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<p>Band <br/>#}
                        {#<small>Country</small>#}
                    {#</p>#}
                    {#<a href="#">#}
                        {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
                        {#<span class="text-content"><span>Read more</span></span>#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<p>Band <br/>#}
                        {#<small>Country</small>#}
                    {#</p>#}
                    {#<a href="#">#}
                        {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
                        {#<span class="text-content"><span>Read more</span></span>#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<p>Band <br/>#}
                        {#<small>Country</small>#}
                    {#</p>#}
                    {#<a href="#">#}
                        {#<img src="http://lorempixel.com/184/184/" alt=""/>#}
                        {#<span class="text-content"><span>Read more</span></span>#}
                    {#</a>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
    {#</section>#}

{% endblock %}