
<html ng-app="newsletterApp" lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Singapore F1 - 2016 Formula 1 Night Race - Newsletter - Singapore Grand Prix</title>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="apple-itunes-app" content="">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="/javascripts/miscnewsletterbundle.js?postUrl=https://singaporegp.sg/iframe/newsletter"></script>
    <link rel="stylesheet" href="/stylesheets/misc-newsletter.min.css"/>
    <link href='/stylesheets/google-font.css' rel='stylesheet' type='text/css'>
    <style>
        section.selection {
            display: none;
        }
        .preamble {
            display: none;
        }
        .breadcrumbs {
            display: none;
        }
        body {
            background-color: #FFF!important;
        }
        .container {
            box-shadow: none!important;
        }
        .content {
            box-shadow: none!important;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0px!important;
        }
        section {
            box-shadow: none!important;
        }
    </style>
</head>
<body>
<div class="container" data-ng-controller="newsletterController">
    <div class="content">
        <section class="selection-panel" style="min-height: 100px">
            <div class="chunk">
                <div class="row">
                    <div class="top-bar col" style="height: 100px">
                        <div class="img-wrapper"><img src="http://singaporegp.sg/media/logo/2017_SGPEventLogo.png" alt=""/></div>
                    </div>
                </div>
            </div>
            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col" style="height: 110px">
                        <div class="desc">
                            <h1>SUBSCRIBE TO OUR E-NEWSLETTER</h1>
                            <br/>
                            <p>
                                Keep up to speed with the latest action at the<br/>2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="newsletter-form" data-ng-show="submitted">
            <div class="chunk row">
                <h2>Thank You</h2>
                <p>Thank you for subscribing. You're now in the loop for all the latest Singapore Grand Prix information.</p>
            </div>
        </section>

        <form name="newsletterForm" data-ng-submit="submitForm()" novalidate="novalidate">
            <section class="newsletter-form" data-ng-hide="submitted">
                <div class="chunk row">
                    <div class="legalese col">
                        <table>
                            <colgroup width="40%"></colgroup>
                            <colgroup width="60%"></colgroup>
                            <tbody>
                            <tr>
                                <td>
                                    <h3>Personal Information</h3>
                                </td>
                                <td>
                                    <div class="form-row">
                                        <input type="text" name="name" placeholder="Name*"
                                               data-ng-model="newsletter.txtName"
                                               required/>
                                        <select name="yearOfBirth" data-ng-model="newsletter.sYear_of_Birth">
                                            <option value="" selected disabled>Year of Birth</option>
                                            <option value="2010">2010</option>
                                            <option value="2009">2009</option>
                                            <option value="2008">2008</option>
                                            <option value="2007">2007</option>
                                            <option value="2006">2006</option>
                                            <option value="2005">2005</option>
                                            <option value="2004">2004</option>
                                            <option value="2003">2003</option>
                                            <option value="2002">2002</option>
                                            <option value="2001">2001</option>
                                            <option value="2000">2000</option>
                                            <option value="1999">1999</option>
                                            <option value="1998">1998</option>
                                            <option value="1997">1997</option>
                                            <option value="1996">1996</option>
                                            <option value="1995">1995</option>
                                            <option value="1994">1994</option>
                                            <option value="1993">1993</option>
                                            <option value="1992">1992</option>
                                            <option value="1991">1991</option>
                                            <option value="1990">1990</option>
                                            <option value="1989">1989</option>
                                            <option value="1988">1988</option>
                                            <option value="1987">1987</option>
                                            <option value="1986">1986</option>
                                            <option value="1985">1985</option>
                                            <option value="1984">1984</option>
                                            <option value="1983">1983</option>
                                            <option value="1982">1982</option>
                                            <option value="1981">1981</option>
                                            <option value="1980">1980</option>
                                            <option value="1979">1979</option>
                                            <option value="1978">1978</option>
                                            <option value="1977">1977</option>
                                            <option value="1976">1976</option>
                                            <option value="1975">1975</option>
                                            <option value="1974">1974</option>
                                            <option value="1973">1973</option>
                                            <option value="1972">1972</option>
                                            <option value="1971">1971</option>
                                            <option value="1970">1970</option>
                                            <option value="1969">1969</option>
                                            <option value="1968">1968</option>
                                            <option value="1967">1967</option>
                                            <option value="1966">1966</option>
                                            <option value="1965">1965</option>
                                            <option value="1964">1964</option>
                                            <option value="1963">1963</option>
                                            <option value="1962">1962</option>
                                            <option value="1961">1961</option>
                                            <option value="1960">1960</option>
                                            <option value="1959">1959</option>
                                            <option value="1958">1958</option>
                                            <option value="1957">1957</option>
                                            <option value="1956">1956</option>
                                            <option value="1955">1955</option>
                                            <option value="1954">1954</option>
                                            <option value="1953">1953</option>
                                            <option value="1952">1952</option>
                                            <option value="1951">1951</option>
                                            <option value="1950">1950</option>
                                            <option value="1949">1949</option>
                                            <option value="1948">1948</option>
                                            <option value="1947">1947</option>
                                            <option value="1946">1946</option>
                                            <option value="1945">1945</option>
                                            <option value="1944">1944</option>
                                            <option value="1943">1943</option>
                                            <option value="1942">1942</option>
                                            <option value="1941">1941</option>
                                            <option value="1940">1940</option>
                                            <option value="1939">1939</option>
                                            <option value="1938">1938</option>
                                            <option value="1937">1937</option>
                                            <option value="1936">1936</option>
                                            <option value="1935">1935</option>
                                            <option value="1934">1934</option>
                                            <option value="1933">1933</option>
                                            <option value="1932">1932</option>
                                            <option value="1931">1931</option>
                                            <option value="1930">1930</option>
                                            <option value="1929">1929</option>
                                            <option value="1928">1928</option>
                                            <option value="1927">1927</option>
                                            <option value="1926">1926</option>
                                            <option value="1925">1925</option>
                                            <option value="1924">1924</option>
                                            <option value="1923">1923</option>
                                            <option value="1922">1922</option>
                                            <option value="1921">1921</option>
                                            <option value="1920">1920</option>
                                            <option value="1919">1919</option>
                                            <option value="1918">1918</option>
                                            <option value="1917">1917</option>
                                            <option value="1916">1916</option>
                                            <option value="1915">1915</option>
                                            <option value="1914">1914</option>
                                            <option value="1913">1913</option>
                                            <option value="1912">1912</option>
                                            <option value="1911">1911</option>
                                            <option value="1910">1910</option>
                                        </select>
                                    </div>
                                    <div class="form-row">
                                        <input type="email" name="emailAddress" placeholder="Email*"
                                               data-ng-model="newsletter.txtEmail" required/>
                                        <select name="countryOfOrigin" data-ng-model="newsletter.sCountry">
                                            <option value="" selected disabled>Country</option>
                                            <option value="Afghanistan">Afghanistan</option>
                                            <option value="Albania">Albania</option>
                                            <option value="Algeria">Algeria</option>
                                            <option value="American Samoa">American Samoa</option>
                                            <option value="Andorra">Andorra</option>
                                            <option value="Angola">Angola</option>
                                            <option value="Anguilla">Anguilla</option>
                                            <option value="Antarctica">Antarctica</option>
                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Armenia">Armenia</option>
                                            <option value="Aruba">Aruba</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Austria">Austria</option>
                                            <option value="Azerbaijan">Azerbaijan</option>
                                            <option value="Bahamas">Bahamas</option>
                                            <option value="Bahrain">Bahrain</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Barbados">Barbados</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Belgium">Belgium</option>
                                            <option value="Belize">Belize</option>
                                            <option value="Benin">Benin</option>
                                            <option value="Bermuda">Bermuda</option>
                                            <option value="Bhutan">Bhutan</option>
                                            <option value="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
                                            <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                            <option value="Botswana">Botswana</option>
                                            <option value="Bouvet Island">Bouvet Island</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                                            <option value="Bulgaria">Bulgaria</option>
                                            <option value="Burkina Faso">Burkina Faso</option>
                                            <option value="Burundi">Burundi</option>
                                            <option value="Cambodia">Cambodia</option>
                                            <option value="Cameroon">Cameroon</option>
                                            <option value="Canada">Canada</option>
                                            <option value="Cape Verde">Cape Verde</option>
                                            <option value="Cayman Islands">Cayman Islands</option>
                                            <option value="Central African Republic">Central African Republic</option>
                                            <option value="Chad">Chad</option>
                                            <option value="Chile">Chile</option>
                                            <option value="China">China</option>
                                            <option value="Christmas Island">Christmas Island</option>
                                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Comoros">Comoros</option>
                                            <option value="Congo">Congo</option>
                                            <option value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
                                            <option value="Cook Islands">Cook Islands</option>
                                            <option value="Costa Rica">Costa Rica</option>
                                            <option value="Croatia">Croatia</option>
                                            <option value="Cuba">Cuba</option>
                                            <option value="Curaçao">Curaçao</option>
                                            <option value="Cyprus">Cyprus</option>
                                            <option value="Czech Republic">Czech Republic</option>
                                            <option value="Côte d&#039;Ivoire">Côte d&#039;Ivoire</option>
                                            <option value="Denmark">Denmark</option>
                                            <option value="Djibouti">Djibouti</option>
                                            <option value="Dominica">Dominica</option>
                                            <option value="Dominican Republic">Dominican Republic</option>
                                            <option value="Ecuador">Ecuador</option>
                                            <option value="Egypt">Egypt</option>
                                            <option value="El Salvador">El Salvador</option>
                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                            <option value="Eritrea">Eritrea</option>
                                            <option value="Estonia">Estonia</option>
                                            <option value="Ethiopia">Ethiopia</option>
                                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                            <option value="Faroe Islands">Faroe Islands</option>
                                            <option value="Fiji">Fiji</option>
                                            <option value="Finland">Finland</option>
                                            <option value="France">France</option>
                                            <option value="French Guiana">French Guiana</option>
                                            <option value="French Polynesia">French Polynesia</option>
                                            <option value="French Southern Territories">French Southern Territories</option>
                                            <option value="Gabon">Gabon</option>
                                            <option value="Gambia">Gambia</option>
                                            <option value="Georgia">Georgia</option>
                                            <option value="Germany">Germany</option>
                                            <option value="Ghana">Ghana</option>
                                            <option value="Gibraltar">Gibraltar</option>
                                            <option value="Greece">Greece</option>
                                            <option value="Greenland">Greenland</option>
                                            <option value="Grenada">Grenada</option>
                                            <option value="Guadeloupe">Guadeloupe</option>
                                            <option value="Guam">Guam</option>
                                            <option value="Guatemala">Guatemala</option>
                                            <option value="Guernsey">Guernsey</option>
                                            <option value="Guinea">Guinea</option>
                                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                                            <option value="Guyana">Guyana</option>
                                            <option value="Haiti">Haiti</option>
                                            <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
                                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                            <option value="Honduras">Honduras</option>
                                            <option value="Hong Kong">Hong Kong</option>
                                            <option value="Hungary">Hungary</option>
                                            <option value="Iceland">Iceland</option>
                                            <option value="India">India</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                            <option value="Iraq">Iraq</option>
                                            <option value="Ireland">Ireland</option>
                                            <option value="Isle of Man">Isle of Man</option>
                                            <option value="Israel">Israel</option>
                                            <option value="Italy">Italy</option>
                                            <option value="Jamaica">Jamaica</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Jersey">Jersey</option>
                                            <option value="Jordan">Jordan</option>
                                            <option value="Kazakhstan">Kazakhstan</option>
                                            <option value="Kenya">Kenya</option>
                                            <option value="Kiribati">Kiribati</option>
                                            <option value="Korea, Democratic People&#039;s Republic of">Korea, Democratic People&#039;s Republic of</option>
                                            <option value="Korea, Republic of">Korea, Republic of</option>
                                            <option value="Kuwait">Kuwait</option>
                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                            <option value="Lao People&#039;s Democratic Republic">Lao People&#039;s Democratic Republic</option>
                                            <option value="Latvia">Latvia</option>
                                            <option value="Lebanon">Lebanon</option>
                                            <option value="Lesotho">Lesotho</option>
                                            <option value="Liberia">Liberia</option>
                                            <option value="Libya">Libya</option>
                                            <option value="Liechtenstein">Liechtenstein</option>
                                            <option value="Lithuania">Lithuania</option>
                                            <option value="Luxembourg">Luxembourg</option>
                                            <option value="Macao">Macao</option>
                                            <option value="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
                                            <option value="Madagascar">Madagascar</option>
                                            <option value="Malawi">Malawi</option>
                                            <option value="Malaysia">Malaysia</option>
                                            <option value="Maldives">Maldives</option>
                                            <option value="Mali">Mali</option>
                                            <option value="Malta">Malta</option>
                                            <option value="Marshall Islands">Marshall Islands</option>
                                            <option value="Martinique">Martinique</option>
                                            <option value="Mauritania">Mauritania</option>
                                            <option value="Mauritius">Mauritius</option>
                                            <option value="Mayotte">Mayotte</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                                            <option value="Monaco">Monaco</option>
                                            <option value="Mongolia">Mongolia</option>
                                            <option value="Montenegro">Montenegro</option>
                                            <option value="Montserrat">Montserrat</option>
                                            <option value="Morocco">Morocco</option>
                                            <option value="Mozambique">Mozambique</option>
                                            <option value="Myanmar">Myanmar</option>
                                            <option value="Namibia">Namibia</option>
                                            <option value="Nauru">Nauru</option>
                                            <option value="Nepal">Nepal</option>
                                            <option value="Netherlands">Netherlands</option>
                                            <option value="New Caledonia">New Caledonia</option>
                                            <option value="New Zealand">New Zealand</option>
                                            <option value="Nicaragua">Nicaragua</option>
                                            <option value="Niger">Niger</option>
                                            <option value="Nigeria">Nigeria</option>
                                            <option value="Niue">Niue</option>
                                            <option value="Norfolk Island">Norfolk Island</option>
                                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                            <option value="Norway">Norway</option>
                                            <option value="Oman">Oman</option>
                                            <option value="Pakistan">Pakistan</option>
                                            <option value="Palau">Palau</option>
                                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                            <option value="Panama">Panama</option>
                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                            <option value="Paraguay">Paraguay</option>
                                            <option value="Peru">Peru</option>
                                            <option value="Philippines">Philippines</option>
                                            <option value="Pitcairn">Pitcairn</option>
                                            <option value="Poland">Poland</option>
                                            <option value="Portugal">Portugal</option>
                                            <option value="Puerto Rico">Puerto Rico</option>
                                            <option value="Qatar">Qatar</option>
                                            <option value="Romania">Romania</option>
                                            <option value="Russian Federation">Russian Federation</option>
                                            <option value="Rwanda">Rwanda</option>
                                            <option value="Réunion">Réunion</option>
                                            <option value="Saint Barthélemy">Saint Barthélemy</option>
                                            <option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                            <option value="Saint Lucia">Saint Lucia</option>
                                            <option value="Saint Martin (French part)">Saint Martin (French part)</option>
                                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                            <option value="Samoa">Samoa</option>
                                            <option value="San Marino">San Marino</option>
                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                            <option value="Senegal">Senegal</option>
                                            <option value="Serbia">Serbia</option>
                                            <option value="Seychelles">Seychelles</option>
                                            <option value="Sierra Leone">Sierra Leone</option>
                                            <option value="Singapore">Singapore</option>
                                            <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
                                            <option value="Slovakia">Slovakia</option>
                                            <option value="Slovenia">Slovenia</option>
                                            <option value="Solomon Islands">Solomon Islands</option>
                                            <option value="Somalia">Somalia</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                                            <option value="South Sudan">South Sudan</option>
                                            <option value="Spain">Spain</option>
                                            <option value="Sri Lanka">Sri Lanka</option>
                                            <option value="Sudan">Sudan</option>
                                            <option value="Suriname">Suriname</option>
                                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                            <option value="Swaziland">Swaziland</option>
                                            <option value="Sweden">Sweden</option>
                                            <option value="Switzerland">Switzerland</option>
                                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                            <option value="Tajikistan">Tajikistan</option>
                                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                            <option value="Thailand">Thailand</option>
                                            <option value="Timor-Leste">Timor-Leste</option>
                                            <option value="Togo">Togo</option>
                                            <option value="Tokelau">Tokelau</option>
                                            <option value="Tonga">Tonga</option>
                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                            <option value="Tunisia">Tunisia</option>
                                            <option value="Turkey">Turkey</option>
                                            <option value="Turkmenistan">Turkmenistan</option>
                                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                            <option value="Tuvalu">Tuvalu</option>
                                            <option value="Uganda">Uganda</option>
                                            <option value="Ukraine">Ukraine</option>
                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="United States">United States</option>
                                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                            <option value="Uruguay">Uruguay</option>
                                            <option value="Uzbekistan">Uzbekistan</option>
                                            <option value="Vanuatu">Vanuatu</option>
                                            <option value="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
                                            <option value="Viet Nam">Viet Nam</option>
                                            <option value="Virgin Islands, British">Virgin Islands, British</option>
                                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                                            <option value="Western Sahara">Western Sahara</option>
                                            <option value="Yemen">Yemen</option>
                                            <option value="Zambia">Zambia</option>
                                            <option value="Zimbabwe">Zimbabwe</option>
                                            <option value="Åland Islands">Åland Islands</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Which Singapore Grand Prix <br/>races have you attended?</h3>
                                </td>
                                <td>
                                    <div class="form-row checkboxes">

                                        <div class="form-grp checkbox" data-ng-repeat="year in yearsRunning">
                                            <input type="checkbox"
                                                   id="y{{ year }}"
                                                   name="yearsAttended[]"
                                                   value="{{ year }}"
                                                   data-ng-checked="newsletter.attend_which_year.indexOf(year) > -1"
                                                   data-ng-click="toggleSelection('attend_which_year', year)"/><label
                                                for="y{{ year }}"></label>
                                        </div>

                                    </div>
                                    <ul class="labels">
                                        <li>2015</li>
                                        <li>2014</li>
                                        <li>2013</li>
                                        <li>2012</li>
                                        <li>2011</li>
                                        <li>2010</li>
                                        <li>2009</li>
                                        <li>2008</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Who do you go to the <br/>Singapore Grand Prix with?</h3>
                                </td>
                                <td>
                                    <div class="form-row">
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="family"
                                                       name="with_who[]"
                                                       value="family"
                                                       data-ng-checked="newsletter.with_who.indexOf('family') > -1"
                                                       data-ng-click="toggleSelection('with_who', 'family')"/><label
                                                    for="family"></label>
                                            </div>
                                            <p>Family</p>
                                        </div>
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="friends"
                                                       name="with_who[]"
                                                       value="friends"
                                                       data-ng-checked="newsletter.with_who.indexOf('friends') > -1"
                                                       data-ng-click="toggleSelection('with_who', 'friends')"/><label
                                                    for="friends"></label>
                                            </div>
                                            <p>Friends</p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="partner"
                                                       name="with_who[]"
                                                       value="partner"
                                                       data-ng-checked="newsletter.with_who.indexOf('partner') > -1"
                                                       data-ng-click="toggleSelection('with_who', 'partner')"/><label
                                                    for="partner"></label>
                                            </div>
                                            <p>Partner</p>
                                        </div>
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="colleagues"
                                                       name="with_who[]"
                                                       value="colleagues"
                                                       data-ng-checked="newsletter.with_who.indexOf('colleagues') > -1"
                                                       data-ng-click="toggleSelection('with_who', 'colleagues')"/><label
                                                    for="colleagues"></label>
                                            </div>
                                            <p>Colleagues</p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="alone"
                                                       name="with_who[]"
                                                       value="alone"
                                                       data-ng-checked="newsletter.with_who.indexOf('alone') > -1"
                                                       data-ng-click="toggleSelection('with_who', 'alone')"/><label
                                                    for="alone"></label>
                                            </div>
                                            <p>Alone</p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-grp checkbox-horizontal others">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="others"
                                                       name="with_who[]"
                                                       value="others"
                                                       data-ng-checked="newsletter.with_who.indexOf('others') > -1"
                                                       data-ng-click="toggleSelection('with_who', 'others')"/><label
                                                    for="others"></label>
                                            </div>
                                            <p>Others</p>
                                        </div>
                                        <input type="text" name="othersEntry" placeholder="Others"
                                               data-ng-model="newsletter.with_who_other"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>What do you look forward to at the<br/>Singapore Grand Prix?</h3>
                                </td>
                                <td>
                                    <div class="form-row">
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="f1Race"
                                                       name="looking_forward[]"
                                                       value="f1_race"
                                                       data-ng-checked="newsletter.looking_forward.indexOf('f1_race') > -1"
                                                       data-ng-click="toggleSelection('looking_forward', 'f1_race')"/><label
                                                    for="f1Race"></label>
                                            </div>
                                            <p>Formula 1 Race</p>
                                        </div>
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="merchandise"
                                                       name="looking_forward[]"
                                                       value="merchandise"
                                                       data-ng-checked="newsletter.looking_forward.indexOf('merchandise') > -1"
                                                       data-ng-click="toggleSelection('looking_forward', 'merchandise')"/><label
                                                    for="merchandise"></label>
                                            </div>
                                            <p>Merchandise</p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="supportRaces"
                                                       name="looking_forward[]"
                                                       value="support_races"
                                                       data-ng-checked="newsletter.looking_forward.indexOf('support_races') > -1"
                                                       data-ng-click="toggleSelection('looking_forward', 'support_races')"/><label
                                                    for="supportRaces"></label>
                                            </div>
                                            <p>Support Races</p>
                                        </div>
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="fnb"
                                                       name="looking_forward[]"
                                                       value="fnb"
                                                       data-ng-checked="newsletter.looking_forward.indexOf('fnb') > -1"
                                                       data-ng-click="toggleSelection('looking_forward', 'fnb')"/><label
                                                    for="fnb"></label>
                                            </div>
                                            <p>Food and Beverage</p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="mainEntertainment"
                                                       name="looking_forward[]"
                                                       value="main_entertainment"
                                                       data-ng-checked="newsletter.looking_forward.indexOf('main_entertainment') > -1"
                                                       data-ng-click="toggleSelection('looking_forward', 'main_entertainment')"/><label
                                                    for="mainEntertainment"></label>
                                            </div>
                                            <p style="margin: 0px">Main stage entertainment / <br> concerts</p>
                                        </div>
                                        <div class="form-grp checkbox-horizontal">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="fringeEntertainment"
                                                       name="looking_forward[]"
                                                       value="fringe_entertainment"
                                                       data-ng-checked="newsletter.looking_forward.indexOf('fringe_entertainment') > -1"
                                                       data-ng-click="toggleSelection('looking_forward', 'fringe_entertainment')"/><label
                                                    for="fringeEntertainment"></label>
                                            </div>
                                            <p style="margin: 0px">Fringe entertainment / <br> roving acts</p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-grp checkbox-horizontal others">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="entOthers"
                                                       name="looking_forward[]"
                                                       value="others"
                                                       data-ng-checked="newsletter.looking_forward.indexOf('others') > -1"
                                                       data-ng-click="toggleSelection('looking_forward', 'others')"/><label
                                                    for="entOthers"></label>
                                            </div>
                                            <p>Others</p>
                                        </div>
                                        <input type="text" name="othersEntry" placeholder="Others"
                                               data-ng-model="newsletter.looking_forward_other"/>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="form-row fine-print">
                                        <p>All fields not marked * are optional fields. You acknowledge that by filling up these fields, you provide us with information voluntarily. </p>
                                        <p>Your privacy is important to us. We only send emails to addresses, which have been subscribed to the list and we will not share, license or sell these e-mail addresses without your consent.</p>
                                        <div class="form-grp checkbox-bottom" style="display:inline; margin-left: 8px">
                                            <div class="checkbox">
                                                <input type="checkbox"
                                                       id="latest_news_partners"
                                                       name="latest_news_partners"
                                                       data-ng-model="newsletter.latest_news_partners"
                                                       data-ng-value-true="newsletter.latest_news_partners = 1"
                                                       data-ng-value-false="newsletter.latest_news_partners = 0"
                                                        />
                                                <label for="latest_news_partners"></label>
                                            </div>
                                        </div>
                                        <p class="newsletter-p">I wish to be kept up to date with the latest news, promotions, products and services by Singapore GP's participating partners.</p>
                                        <p style="clear:both">If you wish to unsubscribe from this e-newsletter mailing list please e-mail to <a href="mailto:unsubscribe@singaporegp.sg">unsubscribe@singaporegp.sg</a>.</p>
                                        <p>By clicking the "submit" button below, you consent to our collection, use and disclosure of your personal data in accordance with our <a href="https://singaporegp.sg/privacy-policy">Privacy Policy</a>.</p>
                                    </div>
                                    <input type="submit" value="Submit Form" data-ng-disabled="newsletterForm.$invalid"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>
</body>
</html>