@font-face {
    font-family: 'Conv_TrajanPro-Bold';
    src: url('../fonts/TrajanPro-Bold.eot');
    src: local('☺'), url('../fonts/TrajanPro-Bold.woff') format('woff'), url('../fonts/TrajanPro-Bold.ttf') format('truetype'), url('../fonts/TrajanPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_TrajanPro-Regular';
    src: url('../fonts/TrajanPro-Regular.eot');
    src: local('☺'), url('../fonts/TrajanPro-Regular.woff') format('woff'), url('../fonts/TrajanPro-Regular.ttf') format('truetype'), url('../fonts/TrajanPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Optima';
    src: url('../fonts/Optima-Regular.eot');
    src: url('../fonts/Optima-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Optima-Regular.woff') format('woff'),
    url('../fonts/Optima-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*For Stupid Safari*/
body { -webkit-font-smoothing: subpixel-antialiased; }

.page {
    /*background:rgba(0,0,0,0.2);*/
}

.sup {
    font-size: 70%;
    vertical-align: super;
}

.arrow {
    border-style: solid;
    border-width: thin;
    border-color: #ffffff;
    padding: 4px 4px 5px 4px;
    border-radius: 4px;
}

@media screen and (max-width: 1366px) {
    .title h1{
        width: 1200px;
        text-align: justify;
        font-size: 32px !important;
        font-family: 'Conv_TrajanPro-Bold';
        color: #E5A82F;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
        margin: 0px !important;
    }

    .title p{
        width: 1100px;
        text-align: justify;
        font-size: 17px !important;
        font-family: 'Optima';
        color: #ffffff;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }

    .section {
        width: 500px;
        text-align: justify;
        font-size: 15px;
        font-family: 'Optima';
        color: #ffffff;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
        text-align: left;
    }


    .section h1{
        text-align: justify;
        font-size: 60px;
        font-weight: lighter;
        font-family: 'Conv_TrajanPro-Regular';
        color: #E5A82F;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }

    .section h2{
        text-align: justify;
        font-size: 30px;
        font-weight: lighter;
        font-family: 'Conv_TrajanPro-Bold';
        color: #E5A82F;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }
}


.title h1{
    width: 1200px;
    text-align: justify;
    font-size: 35px;
    font-family: 'Conv_TrajanPro-Bold';
    color: #E5A82F;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.title p{
    width: 1100px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Optima';
    color: #ffffff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.section {
    width: 500px;
    text-align: justify;
    font-size: 15px;
    font-family: 'Optima';
    color: #ffffff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    text-align: left;
}


.section h1{
    text-align: justify;
    font-size: 60px;
    font-weight: lighter;
    font-family: 'Conv_TrajanPro-Regular';
    color: #E5A82F;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.section h2{
    text-align: justify;
    font-size: 30px;
    font-weight: lighter;
    font-family: 'Conv_TrajanPro-Bold';
    color: #E5A82F;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.image {
    border-style: solid;
    border-width: medium;
    border-color: #5E4A40;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.left-arrow,
.right-arrow {
    position: fixed;
    top: 0;
    z-index: 8020;
    display: none;
    width: 100px;
    height: 100%;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    text-align: center;
    text-decoration: none
}
.left-arrow>img,
.right-arrow>img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 60px;
    margin-top: -40px;
    margin-left: -20px
}
.left-arrow.touch,
.right-arrow.touch {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px
}
.left-arrow.touch>img,
.right-arrow.touch>img {
    position: static;
    margin: 0
}
.left-arrow {
    top: 10.5%;
    bottom: 0;
    left: 0;
    height: auto;
    margin-top: 190px
}
.left-arrow>img {
    top: 44.75%;
    margin-top: -150px
}
.left-arrow.touch {
    left: 60px
}
.left-arrow:hover>img {
    margin-left: -30px;
    -webkit-transition: margin-left 0.3s ease-out;
    -moz-transition: margin-left 0.3s ease-out;
    -o-transition: margin-left 0.3s ease-out;
    transition: margin-left 0.3s ease-out
}
.right-arrow {
    right: 0
}
.right-arrow.touch {
    right: 60px
}
.right-arrow:hover>img {
    margin-left: -10px;
    -webkit-transition: margin-left 0.3s ease-out;
    -moz-transition: margin-left 0.3s ease-out;
    -o-transition: margin-left 0.3s ease-out;
    transition: margin-left 0.3s ease-out
}
.background-mobile {
    display: none;
}

.logo-mobile {
    display: none;
}



/* For Mobile */
@media (max-width:1000px) {
    .parallax,
    .right-arrow, .right-arrow.touch, .right-arrow>img, .right-arrow:hover>img,
    .left-arrow, .left-arrow.touch, .left-arrow>img, .left-arrow:hover>img {
        display: none;
    }

    #right-arrow, #left-arrow, #footer {
        display: none !important;
    }

    .unloaded {
        overflow: scroll;
        overflow-x: hidden;
    }
    .loadBackground {
        display: none;
    }

    .title {
        max-width: 100%;
    }

    .title h1{
        max-width: 100%;
        text-align: left;
        font-size: 25px;
        font-family: 'Conv_TrajanPro-Bold';
        color: #E5A82F;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }

    .title p{
        max-width: 100%;
        text-align: justify;
        font-size: 16px;
        font-family: 'Optima';
        color: #ffffff;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }

    .section {
        width: 100%;
        text-align: justify;
        font-size: 16px;
        font-family: 'Optima';
        color: #ffffff;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }

    .section h1{
        font-size: 30px;
        font-weight: lighter;
        font-family: 'Conv_TrajanPro-Regular';
        color: #E5A82F;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }

    .section h2{
        font-size: 20px;
        font-weight: lighter;
        font-family: 'Conv_TrajanPro-Bold';
        color: #E5A82F;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }

    .break {
        border-bottom-color: white;
        border-bottom-style: groove;
        border-bottom-width: thin;
    }

    .logo-SIA {
        width: 50%;
    }

    .background-mobile {
        background-image: url("../img/background-v.jpg");
        background-size: contain;
        /*background-color: #081035;*/
        padding: 20px;
        display: block;
    }

    .logo-mobile {
        display: block;
    }
}

@media (max-width:600px) {
    .logo-SIA {
        width: 80%;
    }
}