* {
	padding: 0;
	margin: 0;
	border: 0;
}

.fillParent {
	width: 100%;
	height: 100%
}

/* Футер */

a {
	color: #dc2222;
}

#footer{
	position: fixed;
	z-index: 2;
	width: 100%;
	height:100px;
	text-align: center;
	font-size:10px;
/* Хак */
	text-align: right;
	bottom: -45px;
	color: gray;
	right: 0px;
	padding-right: 60px;
	padding-bottom: 20px;
	box-sizing: border-box;
}

/* */

#layouts .portrait.story {
	width: 300px;
}

#layouts .portrait .padded {
	padding: 200px 30px;
}

#layouts .portrait .landscapeOnly {
	display: none;
}
#layouts .portraitOnly,
#layouts .landscapeOnly {
	margin-top: 20px;
}

#layouts .landscape .portraitOnly {
	display: none;
}

/* */

body {
	font-family: Helvetica, sans-serif;
	background: black;
}

@media screen and (max-width: 1366px) {
	.popularResolution {
		width: 1366px;
		height:768px;
		position: absolute;
		left: 50%;
		top: 54% !important;
		margin-left: -683px;
		margin-top: -384px;
	}
}

.popularResolution {
	width: 1366px;
	height:768px;
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: -683px;
	margin-top: -384px;
}

#footer {
	font-size: 20px;
}
.story {
	text-align: left;
	width: 600px;
	background: rgba(255, 255, 255, 0.88);
	font-size: 20px;
	position: relative;
}
.story>.padded {
	padding: 30px;
}
.story p+p {
	margin-top: 10px;
}

.fastLayer {
	position:absolute;

}
.fastLayer > * {
	position:absolute;
	left: 0px;
	top: 0px;

}

#scaling .padded {
	padding: 40% 20%;
}

.story .hint {
	display: block;
	color: gray;
	font-style: italic;
	font-size: 70%;
}