@font-face
{
font-family: DinRegular;
src: url('../fonts/DIN-Regular.otf'); /* IE9 */
}
@font-face
{
font-family: DinBold;
src: url('../fonts/DIN-Bold.otf'); /* IE9 */
}
	body { 
		margin:0;
	}
	.gv_galleryWrap
	{
	background:none;
	}
	.gv_galleryWrap.club, .gv_galleryWrap.sky
	{
	position:absolute;
	}
	.gv_galleryWrap.sky
	{
	display:none;
	}
	.gallery-submenu
	{
font-family:DinBold;
font-size:12px;
text-transform:uppercase;
color:#7f7f7f;
    position:absolute;
    z-index:120;
    top: 350px;
left: -15px;
	}
	.gallery-submenu ul
	{
	list-style-image:url('../images2/gallery-submenu-li.png');
	}
	.gallery-submenu ul li a
	{
	color:#7f7f7f;
	text-decoration:none;
	}
	.gv_overlay {
    background:none; 
bottom:0px;	
position: absolute;
top: 394px;
width:570px;
}

.gv_overlay p{
    color:black;
    font-family: DinRegular;
font-size: 12px;
	margin:0;
	width:570px;
    }
 .gv_showOverlay
 {
 display:none;
 }
.gallery-seating-plan, .gallery-seating-plan-combo, .gallery-seating-plan-suites .gallery-seating-plan-grandstand{
    position:absolute;
    top:22px;
    left:154px;
    z-index:200;
    width:900px;
    height:410px;
	display:none;
}
.gallery-seating-plan img, .gallery-seating-plan-combo img, .gallery-seating-plan-suites .gallery-seating-plan-grandstand  img{
    max-width:100%;
    vertical-align:middle;
    }
	
	.gv_thumbnail.current {
    border:3px solid white;
	left:0px;
}
.gv_thumbnail {
    left:3px;
}

img { display: inline-block !important;
}
.gallery-submenu p {
    margin-left:25px;
}
.panorama-overlay {
height:390px;
width:590px;
background-image:url('../images2/panorama-overlay.png');
background-position:top center;
background-repeat:no-repeat;
z-index:200;
position:absolute;
top:30px;
margin-left:154px;
}

.gv_filmstripWrap {
    overflow-x:hidden;
    overflow-y:scroll !important;
    padding-right: 15px;
}

.gv_panelWrap {
right:-18px !important;
}

.gv_galleryWrap {
    /*padding-right:0px !important;
    padding-top:22px !important;
    padding-left:10px !important;*/
padding-right: 0px !important;
padding-top: 2px !important;
padding-left: 0px !important;
}
.gv_filmstripWrap::-webkit-scrollbar {
    -webkit-appearance: none;
}

.gv_filmstripWrap:-webkit-scrollbar:vertical {
    width: 11px;
}

.gv_filmstripWrap:-webkit-scrollbar:horizontal {
    height: 11px;
}

.gv_filmstripWrap:-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}