/*#sidebar{
	width:150px;height:795px;background:#EBEBEC;left:1164px;float:right;position:relative;
}
*/

#sidebar-wrapper {
  position: fixed;
  right: 0px;
  /*overflow: hidden;*/
  width: 30px; /*210px;*/
 /* height: 907px;*/
}

#sidebar {
  width:180px;
  height: 680px;
  background: #EBEBEC;
  /* left: 1164px; */
  float: right;
  margin-right: -180px;
  position: relative;
  /*z-index:1000;*/
  background: url(../rasfix/images/LEGENDTAB-180.png) no-repeat right top transparent;
}

#sidebar ul.etabs {
  width: 180px;
  height: 31px;
  position: relative;
  background-color: #cccccc;

}
#sidebar ul.etabs .tab {
  padding: 0px;  
  display: block;
  position: absolute;
  height: 31px;
  top: 0px;
  left: 0px;
}
#sidebar ul.etabs .tab a{
  padding: 0px;  
  display: block;
}
#sidebar ul.etabs .tab.zone, #sidebar ul.etabs .tab.legend {background: url(../rasfix/images/tab-sprites.png) no-repeat right top transparent;}
#sidebar ul.etabs .tab.zone {background-position: -108px -31px; width: 72px; left: 108px;} #sidebar ul.etabs .tab.zone a {width: 72px; height: 31px;}
#sidebar ul.etabs .tab.legend {background-position: 0px 0px; width: 108px; } #sidebar ul.etabs .tab.legend a {width: 108px; height: 31px;}
#sidebar ul.etabs .tab.zone.ui-state-active {background-position: -108px 0px;}
#sidebar ul.etabs .tab.legend.ui-state-active {background-position: 0px -31px;}



#sidebar-controls-wrapper {
  position: absolute;
  left: -30px;
  top: 65%;
}
#sidebar-controls-wrapper .label {
  width: 100px;
  margin-left: -130px;
  font-size: 9pt;
  background-color: #000;
  color: #FFF;
  padding: 6px 10px;
}

#sidebar-controls-wrapper #btn-show-sidebar {
  background: url(../rasfix/images/SHOWBUT.png) no-repeat 0px 0px #000000;
  width: 30px;
  height: 30px;
  background-size: contain;
}
#sidebar-controls-wrapper #btn-show-sidebar.opened {
  background: url(../rasfix/images/Close-Sidebar.png) no-repeat 0px 0px #000000;
}


#sidebar-controls-wrapper #btn-zoom-in {
  background: url(../rasfix/images/PLUSBUT.png) no-repeat 0px 0px #000000;
  width: 30px;
  height: 30px;
  background-size: contain;
}

#sidebar-controls-wrapper #btn-zoom-out {
  background: url(../rasfix/images/MINSBUT.png) no-repeat 0px 0px #000000;
  width: 30px;
  height: 30px;
  background-size: contain;
}

.magnifier_container {
  display: none;
}


#legends .legend-label {
  background: url(../rasfix/images/LEGEND.png) no-repeat 0px 0px transparent;
  width: 180px;
  height: 32px;
  display: block;
  
  text-indent: -999999px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#legends .legend-label2 {
  background: url(../rasfix/images/LEGEND.png) no-repeat 0px 0px transparent;
  width: 180px;
  height: 32px;
  display: block;
  
  text-indent: -999999px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#zones .zone-header {
  background: url(../rasfix/images/Key.png) no-repeat 0px 0px transparent;
  width: 180px;
  height: 32px;
  display: block;
  
  text-indent: -999999px;
  margin-top: 10px;
  margin-bottom: 10px;
   
}

#zones .zone-header2 {
  background: url("../rasfix/images/Key_Over to Highlight.png") no-repeat 0px 0px transparent;
  width: 180px;
  height: 32px;
  display: block;
  
  text-indent: -999999px;
  margin-top: 10px;
  margin-bottom: 10px;
   
}





#sidebar ul {background-color: #ccc;}
#sidebar li {
  height: 30px; width: 150px;
  cursor: pointer;
}
#sidebar li.no-hover {cursor: auto;}
#legends li .icon-wrapper {
  background: url(../rasfix/images/Legend-icons-sprite.png) no-repeat 0px 0px transparent;
  height: 22px;
  width: 22px;
  background-position: 0px 0px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}
#legends li.no-sprite .icon-wrapper {
  background: none;
}

#legends #fnb-icon.legend-icon                .icon-wrapper {background-position: 0px  -44px;}
#legends #merchandise-icon.legend-icon        .icon-wrapper {background-position: 0px -154px;}
#legends #f1-village-icon.legend-icon         .icon-wrapper {background-position: 0px  -66px;}
#legends #atm-icon.legend-icon                .icon-wrapper {background-position: 0px    0px;}
#legends #toilet-icon.legend-icon             .icon-wrapper {background-position: 0px -264px;}
#legends #handicap-toilet-icon.legend-icon    .icon-wrapper {background-position: 0px -286px;}
#legends #first-aid-icon.legend-icon          .icon-wrapper {background-position: 0px  -88px;}
#legends #information-icon.legend-icon        .icon-wrapper {background-position: 0px -110px;}
#legends #media-centre-icon.legend-icon       .icon-wrapper {background-position: 0px -132px;}
#legends #taxi-icon.legend-icon               .icon-wrapper {background-position: 0px -220px;}
#legends #ticket-collection-icon.legend-icon  .icon-wrapper {background-position: 0px -242px;}
#legends #ticketing-booth-icon.legend-icon    .icon-wrapper {background-position: 0px -198px;}
#legends #staff-gate-icon.legend-icon         .icon-wrapper {background-position: 0px -176px;}
#legends #classic-car-icon.legend-icon        .icon-wrapper {background-position: 0px  -22px;}

#legends #fnb-icon.legend-icon.checked                .icon-wrapper {background-position:-22px  -44px;}
#legends #merchandise-icon.legend-icon.checked        .icon-wrapper {background-position:-22px -154px;}
#legends #f1-village-icon.legend-icon.checked         .icon-wrapper {background-position:-22px  -66px;}
#legends #atm-icon.legend-icon.checked                .icon-wrapper {background-position:-22px    0px;}
#legends #toilet-icon.legend-icon.checked             .icon-wrapper {background-position:-22px -264px;}
#legends #handicap-toilet-icon.legend-icon.checked    .icon-wrapper {background-position:-22px -286px;}
#legends #first-aid-icon.legend-icon.checked          .icon-wrapper {background-position:-22px  -88px;}
#legends #information-icon.legend-icon.checked        .icon-wrapper {background-position:-22px -110px;}
#legends #media-centre-icon.legend-icon.checked       .icon-wrapper {background-position:-22px -132px;}
#legends #taxi-icon.legend-icon.checked               .icon-wrapper {background-position:-22px -220px;}
#legends #ticket-collection-icon.legend-icon.checked  .icon-wrapper {background-position:-22px -242px;}
#legends #ticketing-booth-icon.legend-icon.checked    .icon-wrapper {background-position:-22px -198px;}
#legends #staff-gate-icon.legend-icon.checked         .icon-wrapper {background-position:-22px -176px;}
#legends #classic-car-icon.legend-icon.checked        .icon-wrapper {background-position:-22px  -22px;}

#legends #handicap-toilet-icon .label-wrapper {padding-top: 0px;}
#legends #information-icon .label-wrapper {padding-top: 0px;}


#zones li .icon-wrapper {
  height:20px;
  width: 35px;
  float: left;
  position: relative;
}
#zones le#zone4 .label-wrapper {padding-top: 0px;}
#zones li#gate-icon .icon-wrapper img {width: 20px; height: 9px;}
#zones li#overpass-icon .icon-wrapper img {width: 17px; height: 10px;}

#sidebar li .label-wrapper {
  height: 20px;
  width: 100px;
  float: left;
  padding-top: 6px;
  font-size: 10px;
  color: #555;
}
#sidebar li:hover .label-wrapper {color: #222;}
#sidebar li.no-hover .label-wrapper, #sidebar li.no-hover:hover .label-wrapper {color: #222;}


#sidebar li{font-size:10px;}

#sidebar .legend, #sidebar .zone {
  background: none;
}
#sidebar .legend a,
#sidebar .zone a {
  text-indent: -99999px;
  background: none;
  width: 57px;
}
#sidebar .zone a {
  width: 48px;
}
#tab-container > ul > li.tab.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
  box-shadow: none;
}


#legends ul, #zones ul{
height: 640px;
overflow-y: scroll;
overflow-x:hidden;
padding-left:5px;
padding-right:10px;
list-style-type: none;
margin-top:5px;
}

#legends li, #zones li{
	/*height:18px;*/
	margin-bottom:5px;
  height: 30px;
}


#legends img, #legends span, #zones img, #zones span{
	vertical-align:middle;
	margin-left:5px;
	margin-top:5px;
  /*height: 17px;
  width: 18px;*/
}
#legends .legend-icon.checked img, 
#legends .legend-icon.checked span, 
#zones .legend-icon.checked img, 
#zones .legend-icon.checked span{
  height: 28px;
  width: 29px;
	margin-left:0px;
	margin-top:0px;
}

#legends span{
	font-size:10px;
	height:18px;
	vertical-align:middle;
}
#legends p{
	font-size:10px;
	height:18px;
	vertical-align:middle;
margin:0px;
}
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none;text-decoration: none !important; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

.colorbox{
	width:20px;height:15px;display:inline-block;
}
#zone1{
	background:#D2196F;
}
#zone2{
	background:#1F5FA2;
}
#zone3{
	background:#F7961D;
}
#zone4{
	background:#2B8C44;
}
#premier{
	background:#D2196F;
}
#fanzone{
	background:#D2196F;
}
#paddock{
	background:#D2196F;
}
#restricted{
	background:#D2196F;
}

#superscreen-icon img{
	width:25px;
}

#zones span{
padding-left:5px;
height:19px;
vertical-align: middle;
}





/* Stretches map to fill screen, but regions do not scale together */
/*#bg {
  width: 100%;
  height: auto;
}
#bg #trackmap {
  min-width: 1150px;
  width: 100%;
  height: auto;
}*/