<nav>
    <ul>
        <li data-ng-class="{active: isTab1()}"><a data-ng-click="setCurrentTab(1)">{{ tab1Name }}</a></li><li data-ng-class="{active: isTab2()}"><a data-ng-click="setCurrentTab(2)">{{ tab2Name }}</a></li><li data-ng-class="{active: isTab3()}"><a data-ng-click="setCurrentTab(3)">{{ tab3Name }}</a></li>
    </ul>
</nav>
<div class="content">
    <h4>{{ title }}</h4>
    <table>
        <caption></caption>
        <colgroup data-ng-repeat="col in resultsData.colgrps track by $index" width="{{ col }}"></colgroup>
        <thead>
        <tr>
            <th data-ng-repeat="header in resultsData.headers">{{ header }}</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="result in resultsData.results">
            <td>{{ $index + 1 }}</td>
            <td>{{ result.name }}</td>
            <td data-ng-if="result.team">{{ result.team }}</td>
            <td>{{ result.points }}</td>
        </tr>
        </tbody>
    </table>
    <p><a ng-href="{{ url_link }}" target="_blank">Read more</a></p>
</div>