{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Belgian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}


    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}

    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>2015 Belgian GP Post-Race Report</h2>
                        </p>
                        <p>
                            Posted on 24 August 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport04.jpeg">
                            By Bob Constanduros
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_Belgian_GP_Post-Race_Report-1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            It can’t be said that the Belgian Grand Prix was the greatest race of the year, but as expected, it was

                            a longer-legged type of race where there was overtaking thanks to DRS rather than the do-or-die

                            attempts seen more recently in Hungary. But the somewhat changed hierarchy seen in qualifying

                            was maintained in the race; eight different teams scored points with only Mercedes and Williams

                            having two cars in points-scoring positions and a wide variety of cars scoring.
                        </p>
                        <p>
                            <img width="400" height="266" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_Belgian_GP_Post-Race_Report-2.jpg" align="left"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            One thing hadn’t changed during the summer break: the dominance of the Mercedes team, and to a lesser extent,

                            their engines. The chassis were clearly well-suited to both the faster sections of the

                            circuit and the slower, twistier more technical middle sector. No one could really touch them; they

                            looked after their engines, performed well on both types of Pirelli tyres and were reliable.
                        </p>
                        <p>
                            Lewis Hamilton had feared that he might be challenged by another car up the long Kemmel straight

                            to Les Combes, and he was absolutely right. While Nico Rosberg didn’t get the vital clutch bite right

                            in the new start procedure, Lewis did and produced an almost perfect start, only bettered by Sergio

                            Perez from the second row.
                        </p>
                        <p>
                            And going up the hill to Les Combes – with DRS disabled on the first two laps – the Force India driver

                            was able to get a tow and get past Hamilton to lead briefly into Les Combes until the Mercedes

                            driver outbraked the Mexican into the righthander and then Lewis was home and dry.
                        </p>
                        <p>
                            It took Rosberg a while to thread through those who had overtaken him, but once he was in second

                            place, he was able to keep his teammate honest with consistent pressure, even if he never really got

                            close to him. They traded fastest laps, the gap opened and closed but Hamilton was always in

                            control. It was another one-two for Mercedes but another win from pole for the English driver.
                        </p>
                        <p>
                            <img width="348" height="232" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_Belgian_GP_Post-Race_Report-3.jpg" align="right"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            The margin to the rest was a pretty massive 35s but by then the Mercedes’ closest challenger had dropped out. Sebastian Vettel had

                            taken a gamble with a one-stop strategy – not even Pirelli had come up with that one – but it transpired

                            that 29 laps on one set of tyres was just too much and while he was just two laps from being a hero and

                            making the tyres last, a puncture meant that instead he was reduced to retirement and a twelfth place.
                        </p>
                        <p>
                            Instead it was left to Kimi Raikkonen to score points for the Scuderia. But his tale of the weekend

                            illustrated just how fragile the Ferrari is, with a poor qualifying followed up with a gearbox change.

                            But seventh place was a long way from the top step of the podium seen most recently in Hungary.
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_Belgian_GP_Post-Race_Report-4.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Instead, it was left to Lotus to fill the final place on the podium. Just like Force India, they had looked

                            competitive throughout the weekend – they share the Mercedes engine, of course, as do Williams.

                            Perez dropped away to fifth – teammate Hulkenberg hadn’t even started – so that Grosjean came

                            through to finished a fine third and put Lotus on the podium for the first time for since Austin 2013,

                            31 races ago.
                        </p>
                        <p>
                            All three customer Mercedes teams had been competitive throughout the weekend, and surely one

                            of them was going to fill the runner-up spot to the works team, and it was Lotus who filled the

                            position. Given that there was a threat to have an injunction placed on the team by former test

                            driver Charles Pic, this was a welcome and well-deserved result.
                        </p>
                        <p>
                            <img width="300" height="200" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_Belgian_GP_Post-Race_Report-5.jpg" align="left"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            Red Bull Racing had looked competitive throughout the weekend – the twisty middle sector is their strong point – but Ricciardo was out

                            with a mechanical problem after 19 laps. Daniil  Kvyat did look strong in the closing stages – when

                            you get the aggressors and the defenders – and he came through well to fourth place ahead of Perez.
                        </p>
                        <p>
                            Williams were perhaps disappointing as well as making a fundamental mistake when they fitted

                            two different types of tyre in a pit stop and suffered a drive-through penalty for Valtteri

                            Bottas as a result. But Massa finished sixth, Bottas ninth and they score more points than Raikkonen

                            got for seventh place, so they cut the gap to Ferrari in the Constructors championship by a fraction.
                        </p>
                        <p>
                            Verstappen and Ericsson were the final points scorers, but in the case of the former, there was still

                            unreliability as teammate Carlos Sainz was in trouble right from the start, like Hulkenberg. And he

                            might have been better placed, although there was a lot of pressure on him at his home race – his

                            Belgian mother was in the garage this weekend.
                        </p>
                        <p>
                            In a way, then, it was a race to be expected: lots of variety but no real challenger to the Mercedes

                            steam-roller. That could well be the same at Monza but may well change when the championship

                            comes to Singapore for its scramble around the streets in September. Now that is a different kind of

                            race!
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Bob Constanduros is the on-circuit commentator at most Grands Prix worldwide. After a career in motor sport journalism dating back to the late sixties, he was officially asked to provide English language commentary at Grands Prix in the mid-eighties and hasn’t missed a Grand Prix since 1985, totalling over 550 Grands Prix. Despite his Greek name, he was born in England and lives there, not far from the Goodwood circuit where he saw his first motor sport in the fifties. He has taken an interest and worked in all forms of motor sport from karting through rallying to sports and touring cars, and has commentated at every Formula 1 Singapore Grand Prix since the race began. He has worked in all forms of media, and still works for the FIA and FOM as well as individual race promoters.                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}