{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 British GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}


    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>2015 Suzuka GP Qualifying Report</h2>
                        </p>
                        <p>
                            Posted on 26 September 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg"> By Kate Walker
                        </p>
                        <p>
                            <img
                                    width="610"
                                    height="375"
                                    align="center"
                                    src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015singaporegpsuzukaracepreview-1.jpg"
                                    style=" margin-left: 0px;"
                                    />
                        </p>
                        <p>
                            After a rain-soaked Friday in Japan, Saturday at Suzuka Circuit dawned bright and sunny. With the conditions normalised, Mercedes were back on top of the timesheets in FP3 after seeming to struggle in the two Friday sessions.
                        </p>
                        <p>
                            Nico Rosberg had the advantage over teammate Lewis Hamilton going into the afternoon’s qualifying session, but the three-tenths that split the two left neither man truly dominant.
                        </p>
                        <p>
                            Mercedes’ Singapore struggles have increased the pressure on the championship leaders in Suzuka, as the team’s once seemingly unassailable lead is now looking vulnerable. After the Singapore Grand Prix, Marina Bay Street Circuit victor Sebastian Vettel asserted that all was still to play for in the drivers’ championship, and a fifth Japanese win for the Ferrari driver could keep alive a title fight most observers thought was already on life support.

                        </p>
                        <p>
                            Originally designed to be a test track, Suzuka circuit’s rollercoaster nature plays into the hands of a strong power unit, while the variety of corners on offer makes for a technically challenging track. Aerodynamic efficiency is rewarded, and tyres are punished. While the W06 is an excellent all-rounder, recent rubber struggles mean that the Japanese Grand Prix is unlikely to be a walkover for the team.
                        </p>
                        <p>
                            <img width="348" height="232" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015singaporegpsuzukaracepreview-2.jpg" align="left"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            In dry conditions it was the driver pairings from Mercedes, Williams, and Ferrari who were consistently quick, and presuming that weather conditions hold for Sunday’s race the status quo looks set to continue. Rosberg’s pole position was largely unchallenged thanks to the red flags brought out by Daniil Kvyat’s last minute crash in Q3, when other challengers were on their final flying laps, and the German driver should be able to keep the competition behind him if he is able to make a clean getaway from the grid.

                        </p>
                        <p>
                            Sebastian Vettel was sandwiched between the two Williams drivers at the end of Q3, but the quadruple champion’s racecraft - and mastery of Suzuka - is such that both Valtteri Bottas and Felipe Massa will find it a challenge to keep the Ferrari in their wing mirrors for the full 53 laps.
                        </p>
                        <p>
                            Despite strong showings during Friday’s practice sessions, neither Red Bull nor Toro Rosso were able to capitalise on their wet weather pace. Red Bull’s on-track efforts could yet be halved, given the damage caused to Kvyat’s car in the final minutes of Q3. At the time of writing it was not yet clear whether the chassis would be fit to race, or how extensive any rebuild would be.
                        </p>
                        <p>
                            <img width="348" height="232" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015singaporegpsuzukaracepreview-3.jpg" align="right"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            McLaren haven’t been able to pull any magic rabbits out of their crash helmets for Honda’s home race, and both Fernando Alonso and Jenson Button failed to make it through the dropout phases of qualifying. But after the disastrous double DNFs of Singapore, getting both cars to the chequered flag would represent a victory of sorts for the team.
                        </p>
                        <p>
                            <br>
                            <br>
                            <b>Podium prediction: (1) Nico Rosberg, (2) Lewis Hamilton, (3) Sebastian Vettel</b>
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles
                                have also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}