{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Belgian GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}


    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>2015 Belgian GP Qualifying Report</h2>
                        </p>
                        <p>
                            Posted on 23 August 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport04.jpeg">
                            By Bob Constanduros
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_belgian_gp_qualifying_report-2.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            After its three week break, Formula One has moved from its shortest permanent circuit to its longest

                            and perhaps expecting a somewhat less frenetic race than that experienced in Hungary three weeks

                            ago. The frustration of trying to overtake where it’s only just possible made for a thrilling event

                            before the break; Spa is a longer legged, wide open traditional circuit where overtaking is easier.
                        </p>
                        <p>
                            Spa is many drivers’ favourite circuit. It is seven kilometres long and has two distinct characters: the

                            very fast first and third sectors where 340kph was spotted during practice (by young Max

                            Verstappen, no less) and a twisty middle sector. Therefore you can find some cars excelling on the

                            straights (probably those with poorer downforce) and others going quickly in the middle sector,

                            where handling and downforce are so important.
                        </p>
                        <p>
                            But then there is the possibility of the whole field being shaken up by the modifications that have

                            been introduced since the mid-season break. Spa is followed two weeks later by another high speed

                            track, Monza, so if teams develop something for Spa, it can also be of benefit in Italy. They are

                            constantly developing the cars anyway and the fact that engineers and mechanics are not allowed in

                            their team bases during the break doesn’t stop a raft of improvements appearing afterwards.
                        </p>
                        <p>
                            So how much was the grid shaken up in Belgium? The answer is not much. Sure, there were teams

                            that had brought modifications and indeed, had been bringing mods for several races beforehand,

                            but if anything, there were some real surprises here, that those teams that were expected to

                            improve didn’t.
                        </p>
                        <p>
                            <img width="348" height="232" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_belgian_gp_qualifying_report-3.jpg" align="right"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            So at the head of the field were still the two

                            Mercedes with Lewis Hamilton having taken the

                            upper hand from Nico Rosberg. The Finn had a

                            rotten time on Friday – amazingly the weather

                            stayed excellent for at least four days – when he

                            first of all had an engine problem and then an

                            exploded Pirelli rear tyre at over 300kph,

                            thankfully not hitting anything. But in each session

                            he was still quickest.
                        </p>
                        <p>
                            But then Hamilton sorted out his car to take the

                            upper hand on Saturday and to pip his teammate by some 04.s for his 48th career pole position –

                            Mercedes one-two again.
                        </p>
                        <p>
                            <img width="348" height="232" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_belgian_gp_qualifying_report-1.jpg" align="left"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            Ferrari might have been expected to be next,

                            but four time Belgian Grand Prix winner Kimi

                            Raikkonen stopped out on the circuit with a

                            mechanical problem and will start well back,

                            and Sebastian Vettel just didn’t improve in

                            Q3 as others did and will start in the lower

                            part of the top ten.
                        </p>
                        <p>
                            So bouncing back up to the front after

                            disappointing recent races is Ferrari’s

                            championship rivals Williams with Valtteri

                            Bottas in third and Felipe Massa seventh. It

                            took them a while to show this form – as it

                            often does – but this is a circuit that suits them – provided it doesn’t rain.
                        </p>
                        <p>
                            Both Lotus and Force India (the latter in particular) benefitted from their Mercedes engines where

                            power is so necessary. Perez set several fastest sector times although Hulkenberg was

                            disappointingly far back in 11th. Lotus’s Romain Grosjean would be penalised five places for a new

                            gearbox but qualifying fourth although teammate Maldonado was in eight, in spite of a practice

                            accident.
                        </p>
                        <p>
                            No surprise that last year’s winner Daniel Ricciardo was in sixth place where Red Bull Racing have

                            done so well, but their power deficit was costly; Sainz had the next Renault engine in tenth ahead of

                            Kvyat in 12th and Verstappen 15th.
                        </p>
                        <p>
                            But all is not lost for any of them. New start procedures could provide a fascinating getaway

                            tomorrow; it limits the amount of help gained from engineers on the bite point of the clutch, and the

                            weather is due to break too. So Belgium could still provide some surprises as it frequently does.  It’s

                            just that it won’t be anything like Hungary – or Singapore!
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Bob Constanduros is the on-circuit commentator at most Grands Prix worldwide. After a career in motor sport journalism dating back to the late sixties, he was officially asked to provide English language commentary at Grands Prix in the mid-eighties and hasn’t missed a Grand Prix since 1985, totalling over 550 Grands Prix. Despite his Greek name, he was born in England and lives there, not far from the Goodwood circuit where he saw his first motor sport in the fifties. He has taken an interest and worked in all forms of motor sport from karting through rallying to sports and touring cars, and has commentated at every Formula 1 Singapore Grand Prix since the race began. He has worked in all forms of media, and still works for the FIA and FOM as well as individual race promoters.                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}