{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Belgian GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}


    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>Q&A with Alan Jones, former Formula One World Champion</h2>
                        </p>
                        <p>
                            Posted on 06 September 2015
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015qaawithalanjones.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            One of the sport’s true greats, 1980 Formula 1 World Champion Alan Jones has always told it like it is. Stewart Bell caught up with the Australian, who was the FIA driver steward in Singapore last year, to chat about his experience.
                        </p>

                        <p>
                            <b>
                            Q: What were your impressions about the FORMULA 1 SINGAPORE GRAND PRIX, and the racing under lights?
                            </b>
                        </p>
                        <p>
                            <b>Alan Jones (AJ):</b> “Well, I was very impressed, indeed, on both counts. I thought the organisation was very good, and the atmosphere was fantastic. It made for a great race, I was very impressed overall.”
                        </p>
                        <p>
                            <b>
                                Q: You’ve been a FIA driver steward quite a few times now. What’s that gig like from your perspective, and what was it like in Singapore last year?
                            </b>
                        </p>
                        <p>
                            <b>AJ:</b> “As an FIA driver steward, you just want everything to go really smoothly – and to be able to get into the circuit and get comfortable. I wanted for nothing, and I thought the amenities were really good.”
                        </p>
                        <p>
                            <b>
                                Q: Last year, Mercedes’ Lewis Hamilton won – and in terms of incidents on-track, other than a safety car to clear debris from Sergio Pérez’s shattered front wing, it was fairly calm wasn’t it?
                            </b>
                        </p>
                        <p>
                            <b>AJ:</b> “That’s right, and we like that as stewards…”
                        </p>
                        <p>
                            <b>
                                Q: What do you think about the Singapore track layout? It’s certainly a huge challenge for the drivers in the heat and humidity…
                            </b>
                        </p>
                        <p>
                            <b>AJ:</b> “You’re right, it is a challenge for the drivers. It’s quite narrow in places, but they’ve altered turns 11 to 13 for this year’s race. It’s a bit like Monaco, where you’ve really got to have 101 per cent concentration. You can’t allow the car to drift out too wide, or make any mistakes under brakes, because instead of going out onto asphalt or gravel, you’re going to hit a wall.”                        </p>
                        <p>
                            <b>
                                Q: What did you think about Singapore as a host city?
                            </b>
                        </p>
                        <p>

                            <b>AJ:</b> “I love the sub-tropical climate they’ve got, it’s just a great place. A lot of my friends have actually chosen to live there, because they go to Europe quite a bit and it’s only one flight from there.”

                        </p>
                        <p>
                            <b>
                                Q: What did you get up to in Singapore when you weren’t working?
                            </b>
                        </p>
                        <p>
                            <b>AJ:</b> “I had some fun while I was there, but not a great deal. When practise or the race finishes, we don’t just pack our bags and go. You’ve got to hang around for a while and make sure there’s no protests, and all of the technicalities are in order – and particularly after the race, we are there two or three hours afterwards. So by the time all that finishes, you’re just looking for a bed rather than a table.”
                        </p>
                        <p>
                            <b>
                                Q: What do you think other races can learn from Singapore?
                            </b>
                        </p>
                        <p>
                            <b>AJ:</b> “I think the biggest thing is the lighting, because with the Abu Dhabis of the world – and other places that have permanent circuits – they can put their lights up and they stay up. But, the impressive part about Singapore is the way in which they do their lighting on a temporary basis.”
                        </p>
                        <p>
                            <b>
                                Q: What are your thoughts on the F1 season so far? Obviously Lewis will be hard to catch, with a decent gap back to teammate Nico Rosberg.
                            </b>
                        </p>
                        <p>
                            <b>AJ:</b> “It will be hard to catch Lewis, but not impossible. He’s on top of his game at the moment and everything is going his way. But, it’s a funny old game, Formula One, it can turn around and bite you on the bum as quick as anything.”
                        </p>
                        <p>
                            <b>
                                Q: Have you been impressed with Ferrari’s form this year?
                            </b>
                        </p>
                        <p>
                            <b>AJ:</b> “I have, and I’ve been disappointed in the lack of form from other teams. The thing that always seems to amaze me about F1 is when Michael Schumacher was winning everything, everyone was complaining it was boring. And before that – you had Williams winning everything, and everyone was again complaining it was boring. I thought that when you spent millions and millions of dollars a year, and you employed hundreds of people – that was the whole idea. I thought you were meant to develop a car that could win. Mercedes deserves full-credit. It has gotten the run on everybody – and rather than everyone moaning and groaning about it, they should pull their fingers out and try and catch them.”
                        </p>
                        <p>
                            <b>
                                Q: Singapore will be another great chance for Ferrari, Red Bull and Williams to close up to the Mercedes duo. What are your predictions for this year’s race – and for fellow Australian, Red Bull Racing’s Daniel Ricciardo?
                            </b>
                        </p>
                        <p>
                            <b>AJ:</b> “Singapore is not really a horsepower circuit as such, so I think they’ll go really well there. Daniel likes the circuit. And the Red Bull chassis is probably as good, if not better than any other chassis out there. On mechanical grip, it’s really good. So he’s got a great chance.”
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}