{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Belgian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}

    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>Three things you missed at the United States GP so far</h2>
                        </p>
                        <p>
                            Posted on 25 October 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport04.jpeg">
                            By Bob Constanduros
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_usgpqualifyingreport_img1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            A ‘boat’ being paddled by Sauber mechanics, Toro Rosso drivers playing skittles with Red Bull cans, Nico Rosberg playing football with Niki Lauda, Force India’s Mexican wave – it can only be bored team members waiting for some action as the rain continues to lash COTA at Austin, Texas.
                        </p>
                        <p>
                            Lotus challenged Mercedes to football, Max Verstappen made a fishing rod (complete with fish), Force India found a mini-skip to play with in the pit lane and Williams formed a rowing team. Best of all, Daniel Ricciardo and Daniil Kvyat re-enacted a Russian dance they’d learned – but it didn’t stop the rain!
                        </p>
                        <p>
                            Watch what the teams were up to <a href="https://www.formula1.com/content/fom-website/en/video/2015/10/Fun_and_games_in_the_pitlane_on_Saturday_afternoon.html" target="_blank"><u>here</u></a>.
                        </p>
                        <p>
                            <b>
                                <u>
                                    How wet is wet?
                                </u>
                            </b>
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_usgpqualifyingreport_img2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Only one session had been rain-affected in the previous three Grands Prix at Circuit of the Americas, but so far every one this weekend has been affected. FP2 was cancelled, qualifying delayed five times by 30 minutes before it was ultimately postponed to Sunday morning – all thanks to the effects of Hurricane Patricia over Mexico.
                        </p>
                        <p>
                            The circuit drains well but maybe not with this amount of water. There are small streams across the circuit which affect a car’s stability and the effect of spray would be massive. In the end, all of qualifying was deferred to Sunday morning – just as it was in Japan in 2010 when a typhoon soaked Suzuka.
                        </p>
                        <p>
                            <b>
                                <u>
                                    Stars in the wet
                                </u>
                            </b>
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_usgpqualifyingreport_img3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Some drivers excel in the wet and Lewis Hamilton’s fastest time in FP3 on Saturday morning was a superb lap. Sebastian Vettel, however, wasn’t far behind but few people would have expected Nico Hulkenberg to be up there in third place.
                        </p>
                        <p>
                            Similarly, Williams hasn’t been fantastic in the rain so Valtteri Bottas’s fourth fastest time was pretty good although it did look quite an effort. Carlos Sainz set a fine fifth fastest time but then had problems with his energy recovery system while teammate Max Verstappen suffered a misfire and was last.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Bob Constanduros is the on-circuit commentator at most Grands Prix worldwide. After a career in motor sport journalism dating back to the late sixties, he was officially asked to provide English language commentary at Grands Prix in the mid-eighties and hasn’t missed a Grand Prix since 1985, totalling over 550 Grands Prix. Despite his Greek name, he was born in England and lives there, not far from the Goodwood circuit where he saw his first motor sport in the fifties. He has taken an interest and worked in all forms of motor sport from karting through rallying to sports and touring cars, and has commentated at every Formula 1 Singapore Grand Prix since the race began. He has worked in all forms of media, and still works for the FIA and FOM as well as individual race promoters.                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}