{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Abu Dhabi GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}


    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            Three things to look out for at the Abu Dhabi GP
                            </h2>
                        </p>
                        <p>
                            Posted on 29 November 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                            By Adam Cooper
                        </p>
                        <p>
                           <img width="610" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-abudhabiqualifying_1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            The World Championship may have been decided some weeks ago but there's still a lot at stake for the two Mercedes drivers. Nico Rosberg will start from pole for the sixth race in a row having once again outpaced Lewis Hamilton, and he'll be gunning for a third consecutive win with which to end the season. Intriguingly Nico has also got a much higher mileage engine than his team mate, as they got out of synch when the German had a problem in Monza. As engines get older they lose a little power and of course potentially face reliability problems, so Nico will have his fingers crossed on Sunday. Lewis of course will be determined to turn the tide and finish his year with a victory. The first lap will be interesting!
                        </p>
                        <p>
                            <img width="610" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-abudhabiqualifying_2.jpg" align="center" hspace="12"/>
                        </p>
                        <>
                            Sergio Perez has been one of the stars of the Abu Dhabi GP weekend thus far, and the Force India driver will be aiming to earn his second podium of the season. He was third fastest in Q1, Q2 and on the first runs in Q3, but when it mattered on the final runs he was pipped by Kimi Raikkonen. Nevertheless his eventual fourth place was a pretty good outcome, and Perez will be hoping to benefit from any trouble ahead come Sunday. His team mate Nico Hulkenberg will start seventh.
                        </p>
                        <p>
                            <img width="610" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-abudhabiqualifying_3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Ferrari's Sebastian Vettel will have his work cut out in the race after he found himself stranded in a lowly 16th place. There appeared to some confusion in Q1 as the team felt he had done enough to make it into Q2, and he abandoned his final run, only to find out that he had fallen short. Ferrari clearly has a good package here, and the race might have been a lot more interesting had Vettel been at the front, but his progress through the field will be worth watching. Meanwhile his team mate Kimi Raikkonen had one of his best sessions of the year as he secured third. Can he put the pressure on Mercedes, as he did in Bahrain?
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                                he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                                <a href="http://www.motorsport.com" target="_blank"><u>www.motorsport.com</u></a>, he has also written several books, including a biography of 60s racer Piers Courage.
                            </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}