{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Belgian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}

    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                            
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>2015 Russian GP Qualifying Report</h2>
                        </p>
                        <p>
                            Posted on 10 October 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg">
                            By James Allen
                        </p>
                        <p>
                            <img width="610" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_three_things_to_look_out_for_at_the_russian_grand_Prix.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            <strong>1. Lots of uncertainty</strong>
                            <br>
                            <br>
                            There are many question marks going into Sunday’s Russian Grand Prix about race strategy for the 53 lap race. With so little practice running due to accidents and rain delays, no one has a clear picture of whether the soft and supersoft tyres will require a one or two stop race tomorrow. In the Singapore Grand Prix Mercedes struggled with this tyre combination, but here they have a dominant position as the temperatures are much colder, which suits their car. This is one of the toughest tracks on the calendar for fuel consumption and drivers will have to lift off throttle for up to five seconds per lap to be sure of making it to the finish on the 100kg fuel limit.
                        </p>
                        <p>
                            <strong>2. Driver to look out for</strong>
                            <br>
                            <br>
                            A driver to look out for is the 2015 Le Mans 24 hours race winner Nico Hulkenberg in the Force India. The car has been very competitive this weekend and he qualified 6th ahead of teammate Sergio Perez in 7th. The Mercedes engine in the back of the Force India car is the class of the field here in fuel efficiency as well as performance. He will have to lift off throttle less than the Ferraris ahead of him and he may be able to beat Kimi Raikkonen to the chequered flag.
                        </p>
                        <p>
                            <strong>3. Waiting for Carlos</strong>
                            <br>
                            <br>
                            Everyone is waiting to see whether Carlos Sainz will be able to race for Toro Rosso after suffering a huge accident in Qualifying. The 21 year old Spaniard hit the barriers at Turn 13 in Free Practice 3 on Saturday morning, after losing control under braking at 320km/h. Worryingly his car went underneath the TecPro barriers, which had to be lifted off him before he could be extricated and taken to hospital. He's being kept in overnight for observation, but never lost consciousness in the accident, so the doctors may well let him race. The mechanics will be able to build up a car for him should he be given the green light by doctors.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}