{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Mexico GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}

    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->


        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            2015 Mexican GP Post-Race Report
                            </h2>
                        </p>
                        <p>
                            Posted on 2 November 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                            By Adam Cooper
                        </p>
                        <p>
                            <b>
                                Hamilton ignores order to pit
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-mexicogppostrace_1b.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            Lewis Hamilton stoked a little controversy in Mexico when he refused to come into the pits for a tyre change when told to by his team. He clearly didn't understand why he was being told to come in when he was comfortable with the car, but it was a precautionary stop, to give both Mercedes fresh rubber for the last part of the race.
                        </p>
                        <p>
                            Team boss Toto Wolff said: "Do I want to have a robot in the car? No. I want the best racing driver. That's how it is. He questions things, and we saw that with Vettel. It's no problem as long as the team keeps the overview. No issue at all for me."
                        </p>
                        <p>
                            <b>
                                A terrible day for Ferrari
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-mexicogppostrace_2b.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Ferrari has had a great 2015 season, and Sebastian Vettel has usually been the only man mixing it with the Mercedes drivers. But in Mexico, it all went wrong. Vettel suffered a puncture on the first lap, and dropped to the back.
                        </p>
                        <p>
                            Trying to make up ground he spun, and then later he crashed out, triggering the safety car. Meanwhile team mate Kimi Raikkonen also crashed out. "A good lesson for us," said team boss Maurizio Arrivabene as he reflected on the highs and lows of sport.
                        </p>
                        <p>
                            <b>
                                Bottas v Raikkonen: Part 2!
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-mexicogppostrace_3b.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            On the last lap of the Russian GP Valtteri Bottas was pitched into the wall after being hit by Kimi Raikkonen. The Finns met again in Mexico, but this time it was Kimi who came off worse as he was left with broken suspension after Bottas tried a passing move that didn't quite come off.
                        </p>
                        <p>
                            Raikkonen was penalised last time, but this time the stewards saw it as a racing incident. "I guess he feels better about it now," joked Raikkonen as he referred to their previous encounter...
                        </p>
                        <p>
                            <b>
                                Another terrible weekend for McLaren and Honda
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-mexicogppostrace_4b.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            The McLaren drivers knew from the start of the weekend that they would be starting from the back of the grid as a result of engine change penalties, although in the end Kimi Raikkonen also had issues and split the two Honda-powered cars. Jenson Button didn't even participate in qualifying after problems on Saturday morning.
                        </p>
                        <p>
                            Alas Fernando Alonso lasted just a lap in the race - the team had earlier found a problem and knew he wouldn't get far, but it was either that or not start. Button made it to the flag, but in a lowly 14th place.
                        </p>
                        <p>
                            <b>
                                Perez's Mexican Wave
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-mexicogppostrace_5b.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            As the local hero Sergio Perez was the focus of much attention in the build-up to the race and over the course of the weekend, and his third place in the recent Russian GP had stoked up some excitement. Given that he is known to be kind on tyres it looked like this would be a good race for him on a day when tyre wear was something of an unknown after limited practice.
                        </p>
                        <p>
                            He took a gamble on doing one stop but it was spoiled when a safety car allowed others to pit in the last part of the race, so he had to fight people on new tyres, he finished eighth, behind team mate Nico Hulkenberg, but the fans were still happy.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                                he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                                <a href="http://www.motorsport.com" target="_blank"><u>www.motorsport.com</u></a>, he has also written several books, including a biography of 60s racer Piers Courage.
                            </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}