{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Belgian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}


    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>2015 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX Preview</h2>
                        </p>
                        <p>
                            Posted on 11 September 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg">
                            By James Allen
                        </p>
                        <p>
                            <img width="610" height="213" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_formula1_singapore_airlines_singapore_grand_prix_preview.png" align="center" hspace="12"/>
                        </p>

                        <p>
                            This year marks the eighth running of the Formula 1 Singapore Grand Prix at the Marina Bay Circuit and there is a lot to discuss and to get excited about this year.
                        </p>
                        <p>
                            For a start, the circuit has been modified around the Anderson Bridge area, between Turns 11 and 13. These changes have been made to fit in with the development of a new Singapore arts, culture and lifestyle precinct, but it’s given the organisers a chance to improve the track features either side of the unique bridge.
                        </p>
                        <p>
                            The changes mean that Turn 11 will be slightly tighter and after passing through a smoother left hand kink at Turn 12, the cars will pass over the left lane of the Anderson Bridge into a wider Turn 13 hairpin, which could encourage overtaking.
                        </p>
                        <p>
                            Whoever wins in Singapore this year will deserve it; winning this race is never easy.
                        </p>
                        <p>
                            On the face of it, qualifying is very important on a street track, where overtaking is hard. And in the seven races to date, five of them have been won by the pole sitter.
                        </p>
                        <p>
                            But in fact. the Singapore Grand Prix is one of the most difficult challenges for F1 teams and drivers. There are a number of reasons for this; the track has a long lap with 23 corners in five kilometres and therefore, to cover the required distance of 61 laps takes up to two hours, makes it the longest race of the year.
                        </p>
                        <p>
                            Then there is the statistical likelihood of a Safety Car being deployed, as the Race Director has to take care to slow the field down when corner marshals are retrieving a crashed car or debris on the track. So far there has been at least one Safety Car at every Singapore Grand Prix, making it a 100% likelihood.
                        </p>
                        <p>
                            But no-one knows when an incident is likely to occur that might trigger it. If it comes out just after your driver has made a pit stop it can turn the race on it’s head and hand an advantage to your rivals, who effectively get to make a stop for free.
                        </p>
                        <p>
                            Making a pit stop at racing speeds loses around 24 seconds, so it’s a huge advantage to stop when the field is lapping slowly behind the Safety Car.
                        </p>
                        <p>
                            Lewis Hamilton won the race last season for the second time in his career, but he had to work hard for it after precisely that scenario came about. His Mercedes team-mate Nico Rosberg, meanwhile, retired from the race early on. As they were in a tight championship battle, this handed an advantage to Hamilton.
                        </p>
                        <p>
                            He leads the Drivers’ standing this year by 53 points going into the Singapore Grand Prix, so this race is a must win for Rosberg if he is to keep his title hopes alive.  Mercedes has been the dominant team again this season with pole position at every race and nine wins from 12 races, but they tend to have less of an advantage on tracks where Pirelli’s soft and supersoft tyres are used. So they are the favourites, but there are strong reasons for keeping an eye on their competitors.
                        </p>
                        <p>
                            The other previous winners of the race are Sebastian Vettel, who has three wins and Fernando Alonso, who has two.
                        </p>
                        <p>
                            Of those drivers, only Vettel is a contender for the victory this season in the Ferrari. He has already won two races, including Hungary, which has several track characteristics in common with Marina Bay. Alonso and his McLaren Honda team have had a wretched season with an underperforming and unreliable package. But he finished fifth in Hungary and the team has hopes of their season’s best result at Marina Bay.
                        </p>
                        <p>
                            The track is a leveller when it comes to engine power, as the circuit does not have the kind of long straights that favour the more powerful engines. So another team that has been looking forward to the Singapore Grand Prix is Red Bull Racing.
                        </p>
                        <p>
                            They achieved a season-best result of second and third in Hungary and if they are to win a race in 2015, then this is probably their best chance. Red Bull’s sister team Toro Rosso is also powered by Renault and with two exciting young rookie drivers Max Verstappen and Carlos Sainz and a nimble chassis, they are also likely to be among the points scorers at Marina Bay.
                        </p>
                        <p>
                            In contrast, the circuit is not expected to suit the Williams Mercedes cars, which tend to perform better on the high speed tracks.
                        </p>
                        <p>
                            The race is one of the most popular of the season for everyone who works in F1. F1’s original night race, the artificial light makes F1 cars look fantastic and the organisers always put on a spectacular show, from concerts by international superstars through to the huge firework display as the winning car crosses the line.
                        </p>
                        <p>
                            We can’t wait to get the weekend started!
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}