{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Belgian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}


    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>A look into Formula One drivers’ gym workouts</h2>
                        </p>
                        <p>
                            Posted on 03 September 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/CherylTay.jpg">
                            By Cheryl Tay
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-alookintoformulaonedriversgymworkouts-2.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            Formula One drivers require a lot of strength and cardiovascular fitness to overcome all the G-force that they have to endure over a two-hour race. Going up to speeds as fast as 320km/h, drivers’ heart rates also can hit as high as 200bpm.
                        </p>
                        <p>
                            “I train very hard and aim to average approximately 10 hours a week. This is primarily cardiovascular in nature, which helps to keep my weight down. Strength and conditioning is also included,” McLaren driver Jenson Button previously said in an online interview.
                        </p>
                        <p>
                            In another interview, Mercedes driver Lewis Hamilton said, “The races are 45 minutes to two hours, so you have to keep your cardio and endurance up. For a race driver, we train to a specific level. We have so much G-force going through your body from corner to corner. On the braking, you are pulling up to 6 Gs, which is six times your body weight. Your lower back takes huge compression too, so in order to keep that strength you have to have a strong core and do a lot of running so you don't fatigue in the race.”
                        </p>
                        <p>
                            Besides a strong neck and core, F1 drivers also need upper body strength to manoeuvre the car and lower body strength to manage the braking forces when entering the corners at high speeds. The neck is the most important, thus drivers have a custom machine that builds their neck muscles too.
                        </p>
                        <p>
                            In addition, drivers have to put up with high temperatures up to 50˚C and 90% humidity levels, losing easily two to three litres of water through perspiration in one race.  Hence, drivers require extremely high level of physical and mental fitness.
                        </p>
                        <p>
                            F1 drivers have a very comprehensive workout regime, consisting of core work, high intensity interval training, strength training and endurance training. They spend a lot of time in the gym, doing intensive cardio like running and cycling outdoors, as well as a lot of time in the simulators.
                        </p>
                        <p>
                            What are some of the exercises in the gym that are specific to F1 drivers?
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-alookintoformulaonedriversgymworkouts-1.jpg" align="center"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            <b>
                                1) Weights training
                            </b>
                        </p>
                        <p>
                            F1 drivers have to remain lean so that they can fit into the cockpit. Hence, they lift lighter weights for higher repetitions to retain lean muscle instead of bulk. Some examples of weights training they do include back squats, deadlifts, bench press, shoulder press and rows. These can be done with barbells or dumbbells.
                        </p>
                        <p>
                            Doing these also help drivers to improve their explosive power while building lean muscle mass. When executing these exercises and handling weights, form is very important so make sure you practise good techniques.                        </p>
                        <p>
                            <b>
                                2) Bodyweight exercises
                            </b>
                        </p>
                        <p>
                            Drivers have to learn how to support their own body weight, thus exercises like pull-ups, push-ups and core work are important. Pull-ups help them to improve their grip, which is essential when they have to clutch the steering wheel for two hours at high concentration.
                        </p>
                        <p>
                            Core stability is needed too, as their spine takes a lot of compression during the race. Core exercises that they do include V-sits, sit-ups, planks and more. They also work with the Swiss ball, doing deficit push-ups and also balancing on it with one foot.
                        </p>
                        <p>
                            <b>
                                3) Functional training
                            </b>
                        </p>
                        <p>
                            Besides having the strength, drivers need to have the agility and also condition themselves to be able to bear high heart rates. Using equipment like the sledgehammer, large tyres and kettlebells, drivers work out their entire body with functional exercises by applying the strength they have. For example, they use the sledgehammer to smash the tyre as hard as they can, flip large tyres or drive kettlebell swings with their hips.
                        </p>
                        <p>
                            Check out Singapore GP’s Rev Up Singapore! Fit For Racing series to get a sneak peek into the rigorous training regime of a Formula One™ driver here.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                <a href="http://www.cheryltay.sg/" target="_blank"><u>Cheryl Tay</u></a> is one of the few female motoring journalists in Singapore. Passionate about cars and motorsports, she has rubbed shoulders with world champion drivers and other key personalities of the motoring world.
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}