{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Belgian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>2015 Monza GP Post-Race Report</h2>
                        </p>
                        <p>
                            Posted on 07 September 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                            By Adam Cooper
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015hamiltonholdsontoitaliangpafterfiatireinvestigation-1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            Lewis Hamilton scored a dominant victory in the Italian GP – and then survived a post-race investigation by the FIA after he was reported for apparently having tyre pressures that were below the minimum requirement set by Pirelli.
                        </p>
                        <p>
                            Hamilton won comfortably from Ferrari's Sebastian Vettel, and his title challenge was given a further boost when an engine failure saw team mate Nico Rosberg drop out of third place in the closing laps. Hamilton now has a 53-point lead in the championship as we head to Singapore.
                        </p>
                        <p>
                            While Hamilton's celebrations began on the podium an FIA investigation continued, and over two hours after the race it was announced that the result stands and no action was being taken.
                        </p>
                        <p>
                            Tyre pressures have been a major talking point this weekend after the problems in Spa, and Pirelli made it clear that teams had to respect its mandated minimums for safety reasons. Unusually the pressures of the top four cars were measured at the last minute on the grid. While the Ferraris were above the limit, one of Hamilton's tyres was 0.3psi below the limit, and one of team mate Nico Rosberg's was 1.1psi below.
                        </p>
                        <p>
                            The FIA stewards, who this weekend included former F1 and Indycar driver Danny Sullivan, eventually concluded that the tyre pressures were in fact legal “when they were fitted to the car.” In other words Pirelli had measured legal pressures which then dropped in the final few minutes before the FIA check, possibly as a result of temperatures dropping when the tyre blankets were unplugged.
                        </p>
                        <p>
                            Mercedes team boss Toto Wolff said: “We were exactly on the minimum pressures like we should have been when the tyres were put on the car. I don't know where the discrepancy came from, but it was not procedural and it was not a mistake done by the team in order to gain an advantage.
                        </p>
                        <p>
                            “Always being called to the stewards you are nervous after such a victory, having lost Nico's car two laps to the end. So I'm a little bit relieved after that now.”
                        </p>
                        <p>
                            The race itself was a demonstration run for Hamilton. He made a perfect start from pole position, while behind him main rival Kimi Raikkonen barely moved at and dropped right to the back. Rosberg lost a little momentum getting by the tardy Ferrari and fell as low as sixth.
                        </p>
                        <p>
                            Hamilton gradually built up a lead on Vettel and waited unto everyone else had come in before making his stop and resuming with an even bigger lead, eventually winning by 25 seconds.
                        </p>
                        <p>
                            “The race was fantastic,” he said. “I got a good start. I think we all probably got a difficult start and managed to hold ground. Sebastian was really fair into turn one and after that it was really just chipping away, looking after the tyres, trying to look after the tyres whilst chipping away… trying to take time away, increase the time, the gap behind.
                        </p>
                        <p>
                            “I was generally able to control it really after that. I felt comfortable. The car balance I really got perfect for the race. Perhaps not so much for qualifying but perfect for the race. The last few laps I was told to push and I’m thinking I’ve got quite a big gap already, so, for me, I was a little taken aback by it, but nonetheless I still managed to pull it out and do what they asked me to do.”
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015hamiltonholdsontoitaliangpafterfiatireinvestigation-2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Vettel was happy enough with second place on his first race for Ferrari in front of the tifosi, and he got a rousing reception from the fans.
                        </p>
                        <p>
                            “To sum it up, it’s fairly simple, it’s the best second place I ever had. The emotions on the podium is incredible. If we take this away from the calendar for any shitty money reasons I think you are basically ripping our hearts out. We are here, we are racing and this makes it so much more worthwhile. It’s what we’re here for. You stand on the grid, you look to the left, you look to the right, people are just happy to be part of it and it makes our day. So, simple as that. It’s incredible.”
                        </p>
                        <p>
                            After his bad start Rosberg worked his way into third, jumping both Williams drivers with an early first stop. However with less than three laps remaining his engine failed and he was forced to pull off at the second chicane with flames licking at the rear of the car. This was an engine that was designed to run for five races but was put back in for a sixth after a problem with a new unit yesterday.
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015hamiltonholdsontoitaliangpafterfiatireinvestigation-3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            The Williams drivers had a close battle for much of the race, and in the end Massa just beat Valtteri Bottas to the line to claim the final podium spot. After his terrible start Kimi Raikkonen drove a strong race to get up to fifth. Force India had a solid day as Sergio Perez and Nico Hulkenberg took sixth and seventh, while Daniel Ricciardo drove from the back to eighth after taking engine penalties in qualifying. The final points went to Marcus Ericsson and Daniil Kvyat.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                                he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                                <a href="http://www.motorsport.com" target="_blank"><u>www.motorsport.com</u></a>, he has also written several books, including a biography of 60s racer Piers Courage.
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}