{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Abu Dhabi GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->
        <section class="drivers-teams-panel race-calendar">

            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            Five things you missed at the Abu Dhabi GP
                            </h2>
                        </p>
                        <p>
                            Posted on 30 November 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                            By Adam Cooper
                        </p>
                        <p>
                           <img width="610" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-abudhabipostrace_1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            Once again the Mercedes strategy was a major topic of conversation in the Abu Dhabi GP, as radio traffic made it clear that Lewis Hamilton was questioning the calls from the pit wall. This time the drivers did not follow identical strategies as Hamilton was left out for longer in the middle stint, with the objective of giving him fresher tyres at the end of the race. Lewis clearly enjoyed the time he spent in the lead after Nico Rosberg pitted, because at one stage he asked the team if he could stay out and not make that second stop – but it was made crystal clear that such a ploy would not have worked. After his pitted he closed the gap in the final stint, but he did not have the pace with which to catch his team mate.
                        </p>
                        <p>
                            Two drivers with widely differing levels of experience found themselves on the receiving end of penalties in Abu Dhabi. Fernando Alonso was involved in a first corner tangle with Pastor Maldonado which saw the Venezuelan driver retire, and which led to the former World Champion earning both a drive through penalty and two points on his licence. Meanwhile Max Verstappen picked up a 5-second time penalty and a penalty point when he went off track while fighting with Jenson Button, and later received 20s and two more points for ignoring yellow flags.
                        </p>
                        <p>
                            <img width="610" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-abudhabipostrace_2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            One of the most spectacular incidents of the Abu Dhabi GP occurred in the pitlane when Valtteri Bottas left after his stop and struck the rear of Jenson Button's car as the Englishman was turning into his pit. Bottas broke his front wing and had to return for a replacement, while Button's stop was longer than it should have been. Inevitably Bottas also picked up a 5-second penalty for an unsafe release. The team's Rob Smedley claimed that the timing of his release had been right, but that Bottas has seen Button too late.
                        </p>
                        <p>
                            <img width="348" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-abudhabipostrace_3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Sunday was a day of mixed emotions for Romain Grosjean as he marked his last race with the team he's spent his entire F1 career with, under the Renault and Lotus names. Things didn’t go well for him in qualifying after an issue in Q2 left him stranded in 15th, and then he dropped back to 18th with a gearbox penalty. However it all came together in the race and he worked his way into ninth place by the flag. He now embarks on a new career with Haas.
                        </p>
                        <p>
                            There was much happening off track in Abu Dhabi, with a particular focus on the future of Renault. The company's planned takeover had yet to be formally confirmed and a decision on the future is due from the top management in Paris this week. Renault is also set to be announced as Red Bull Racing's engine partner for 2016. Meanwhile there was much debate about the relationship between Ferrari and the new Haas team as Mercedes sought clarification from the FIA Stewards on exactly what teams can and can't share in terms of wind tunnel data and personnel.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                                he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                                <a href="http://www.motorsport.com" target="_blank"><u>www.motorsport.com</u></a>, he has also written several books, including a biography of 60s racer Piers Courage.
                            </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}