{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 British GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}

    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>2015 Suzuka GP Post-Race Report</h2>
                        </p>
                        <p>
                            Posted on 28 September 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg"> By Kate Walker
                        </p>
                        <p>
                            <img
                                    width="610"
                                    height="375"
                                    align="center"
                                    src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_Suzuka_GP_Post-Race_Report-1.jpg"
                                    style=" margin-left: 0px;"
                                    />
                        </p>
                        <p>
                            Most races end with the chequered flag. The 2015 Japanese Grand Prix at Suzuka Circuit was over by the end of the first lap.                        </p>
                        <p>
                            Nico Rosberg started from pole, but had been overtaken by Mercedes teammate Lewis Hamilton by Turn Two. The latter had the inside line as the pair approached the corner, and Rosberg found himself with nowhere to go but off track as Hamilton held his line and made it past for the lead. Rosberg’s brief foray outside the white lines saw the German driver back in fourth place as Hamilton sailed off into the lead, opening up a 2.5s gap to second-placed Sebastian Vettel by the end of the first lap.
                        </p>
                        <p>
                            For Rosberg, the Japanese race was about making up lost ground, and he was eventually able to recover third place from Valtteri Bottas after the first pit stop period with a well-timed overtake just as the team had radioed to ask their German driver to push the Finn into destroying his rubber. Rosberg then fought his way past Vettel during the second round of stops to finish in second place, 18.9 seconds behind Hamilton.
                        </p>
                        <p>
                            <img
                                    width="610"
                                    height="375"
                                    align="center"
                                    src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_Suzuka_GP_Post-Race_Report-2.jpg"
                                    style=" margin-left: 0px;"
                                    />
                        </p>
                        <p>
                            But Rosberg was far from the only man on track whose day was defined by the first lap. Contact between Daniel Ricciardo and Felipe Massa off the start saw both men suffer punctures. Limping slowly back to the pits, Massa found himself lapped when the race was only just beginning, and there was little the Williams driver could do to recover from such a shocking start.
                        </p>
                        <p>
                            Ricciardo was able to make a better recovery, but the popular Australian finished two places behind Red Bull teammate Daniil Kvyat, whose qualifying crash had led to the Russian starting Sunday’s race from the pit lane.
                        </p>
                        <p>
                            <img width="338" height="220" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_Suzuka_GP_Post-Race_Report-3.jpg" align="right"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            It was an embarrassing day for McLaren, who managed to get both cars to the finish at Honda’s home circuit, but without any points. Fernando Alonso spent the afternoon venting his frustrations with the Honda power unit over the radio, calling it “GP2 standard” after saying it was “embarrassing, very embarrassing” in a move some viewed as an attempt to force an early release from his contract with the team.
                        </p>
                        <P>
                            Nico Hulkenberg was one of the big winners of the day, finishing an impressive sixth behind the Mercedes and Ferrari driver pairings and Bottas, despite both his part in the first lap chaos and a three-place grid penalty incurred for his part in the collision with Massa during the last race in Singapore. Hulkenberg delivered a considered performance, and was to finish ahead of teammate Sergio Perez, who had started two rows further up yet finished outside of the points when it proved impossible to recover from a run off track triggered by his own teammate.
                        </P>
                        <p>
                            Perhaps the hairiest moment of the Japanese Grand Prix came about thanks to Manor’s Wil Stevens, who span at 130R and filled the track with tyre smoke. Invisible through the fug, Alexander Rossi emerged a hair’s breadth away from his teammate, and narrowly avoided a collision.
                        </p>
                        <p>
                            An amusing characteristic of the Japanese race was the back- to midfield battles between the Honda-powered McLarens and the Renault-powered Red Bulls and Toro Rossos. As the also-rans of the hybrid era, none of the three teams were able to take the fight to those cars using Mercedes or Ferrari power around Suzuka, and the internal battles were a painful reminder of the disparity in power on the current grid.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles
                                have also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}