{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Belgian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
   #}




    {% block head %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}



    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>2015 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX Race Report</h2>
                        </p>
                        <p>
                            Posted on 21 September 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg">
                            By James Allen
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015singaporegpracereport_1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            The Singapore Grand Prix is how a Hollywood director would imagine an F1 street race, with its dramatic floodlit race track and 21st century skyline, but there was to be no movie-style ending for Lewis Hamilton, looking to emulate his idol Ayrton Senna’s 41 career victories.
                        </p>
                        <p>
                            Instead the World championship leader retired from the race with technical failure for the first time this season (the first time for 25 races in fact) and Sebastian Vettel moved into third place in the all time winners’ list, ahead of Senna, with his fourth victory at Marina Bay.
                        </p>
                        <p>
                            Vettel was the driver of the weekend, with a stunning performance in qualifying backed up by a controlled drive in the race with a much improved Ferrari. He did two qualifying laps good enough for pole position on Saturday and controlled Sunday’s race from the start, even surviving two Safety Car periods, both of which reduced his lead from around five seconds to nothing.
                        </p>
                        <p>
                            However the upside of the Safety Cars was that it deprived Daniel Ricciardo of the chance to attack Vettel on race strategy around the pit stops. The timing was such that the Safety Cars offered the drivers a chance to make a stop 12 seconds quicker than at racing speeds. Ricciardo and Red Bull had been stronger at the end of the first stint and were certainly lining up an ‘undercut’, where you pit before the car ahead and then use the performance of the new tyres on the first lap to jump that car when it stops.
                        </p>
                        <p>
                            Ricciardo believed that there was a chance to do something, but the reality was that it was a long shot as Vettel had better pace in the Ferrari, even if the Red Bull could look after its tyres a little longer.
                        </p>
                        <p>
                            The first Safety Car was triggered when Felipe Massa and Nico Hulkenberg clashed at Turn 1 on lap 12, and then the second because a man entered the track between Turns 13 and 14 and walked along the straight.
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015singaporegpracereport_2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            But on both occasions Vettel was able to pull away again from Ricciardo and eventually won by 1.4s seconds, thereby equalling Michael Schumacher’s record of three wins in his first season driving for Ferrari.
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015singaporegpracereport_3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            The eighth edition of F1’s Night Race, attracted an average of 86,970 spectators daily, with 260,912 spectators at the Marina Bay Street Circuit over the three-day weekend and it was certainly one of the most unpredictable races of the season.
                        </p>
                        <p>
                            Results wise it was a real outlier in this year’s championship, as it was the first time that neither Mercedes driver appeared on the podium or in the Top three in qualifying.
                        </p>
                        <p>
                            Although they still enjoy a comfortable lead in both the drivers’ and teams’ world championships, Mercedes will be concerned that they have suffered problems with the engine for the second race in succession; Rosberg’s latest development engine let him down in Monza while Hamilton’s Singapore woes were caused by a cheap component on a multi million dollar engine -  a clamp failed on a turbo hose.
                        </p>
                        <p>
                            Having qualified a career best fourth, Daniil Kvyat was unlucky twice in the race; first when he had pitted just before the first Safety Car, so lost positions to the two Mercedes drivers.
                        </p>
                        <p>
                            Then at his second stop he lost eight seconds with a sticking wheel nut and dropped behind Valtteri Bottas. So he ended up in 6th place.
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015singaporegpracereport_4.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            There was also a strong cameo performance from Toro Rosso’s Max Verstappen, who battled his way through the field having stalled on the parade lap to finish 8th, ahead of his team mate Carlos Sainz.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}