{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Belgian GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016s Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>2015 Monza GP Qualifying Report</h2>
                        </p>
                        <p>
                            Posted on 06 September 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                            By Adam Cooper
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015belgiangp-qualifyingreport-1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            It was a familiar story at Monza today as Lewis Hamilton secured pole position for the Italian GP, but the twist is that his Mercedes team mate Nico Rosberg is down in fourth place.
                        </p>
                        <p>
                            To the delight of the local fans the two Ferraris of Kimi Raikkonen and Sebastian Vettel will start in second and third places, between the two Silver Arrows. That opens up some interesting possibilities for the race, and means that one-two result for Mercedes is far from clear cut.
                        </p>
                        <p>
                            Once again the final grid will reflect a raft of engine penalties, with both McLarens, Red Bulls and Toro Rossos all affected, and dropping to the back.
                        </p>
                        <p>
                            After a thunderstorm and heavy rain in the early morning the sun returned and the track was dry both FP3 and qualifying. The final session was notable for an engine problem for Rosberg. Mercedes brought a development engine spec here – having used up its tokens – and the German was forced to switch back to his older spec Spa engine for qualifying, putting him at an immediate disadvantage relative to his team mate, who was in any case on great form all weekend.
                        </p>
                        <p>
                            From the start of the session it was evident that Hamilton still had an edge, but that the Ferraris were very much in the mix with Rosberg. Indeed in Q2 Vettel and Raikkonen split the Merc drivers, and kept Rosberg down in fourth.
                        </p>
                        <p>
                            In the session that mattered Hamilton made no mistakes as he secured pole. Vettel crossed the line after his last run in second, but Raikkonen was just behind him and went a little faster to claim second place.
                        </p>
                        <p>
                            <img width="430" height="283" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015belgiangp-qualifyingreport-2.jpg" align="left"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            “It's always a great feeling getting pole,” said Hamilton. “I think I've had a couple of poles here. Last year was not such an easy getaway, but it didn’t' mean I couldn't win the race. It's a long run down to Turn One, these guys [Ferrari] are good off the line, so we'll try to do our best tomorrow. Our race pace has tended to be quite strong so I hope that we see that tomorrow.”
                        </p>
                        <p>
                            His title rival Rosberg could have a difficult time from fourth place, and he knows he may have to work hard to beat the Ferraris.
                        </p>
                        <p>
                            “We had to go back to an engine that's done six races now,” said Rosberg. “And every kilometre you lose a little bit of power, especially in Monza which is the absolute power track, where you need a good engine. It's very disappointing to have to happen exactly here, and it's a very big compromise then. That's the reason why I'm fourth today, which makes tomorrow tough. Also I will be a bit slower than I could in the race as well. That's not ideal, and it's going to be difficult against those Ferraris.”
                        </p>
                        <p>
                            The fascinating thing of course is that Mercedes has not made good starts recently, and the long run to Turn One could give the Ferraris a real chance. Drivers are still adjusting to the new start procedure rules that we saw in Spa.
                        </p>
                        <p>
                            “Hopefully we'll make a normal start and go from there and see what we can do,” said Kimi. “I expect it to be not an easy race, but I think usually we more confident for the race than for qualifying.”
                        </p>
                        <p>
                            Williams clearly as the third fastest car here as Felipe Massa and Valtteri Bottas took fifth and sixth places. Force India had been expected to offer a stiff challenge, but in the end Sergio Perez had to settle for seventh, while Nico Hulkenberg had a loss of power in Q3 and dropped to ninth. The Force Indias are split by Romain Grosjean in eighth, while Marcus Ericsson starts 10th for Sauber.
                        </p>
                        <p>
                            Pastor Maldonado was the fastest driver not to make Q3, and the Venezuelan will start in 11th, ahead of Felipe Nasr. The other drivers to make Q2 were Carlos Sainz, Dany Kvyat and Daniel Ricciardo, all of whom have penalties, and drop back.
                        </p>
                        <p>
                            Those penalties for others mean that the Manors of Will Stevens and Roberto Merhi move up to 13th and 14th places. Immediately behind them are the McLarens of Jenson Button and Fernando Alonso, who have five and 10-place penalties respectively. After taking multiple engine element changes the Toro Rossos and Red Bulls will fill up the last two rows of the grid.
                        </p>
                        <p>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015belgiangp-qualifyingreport-3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            The most spectacular incident in qualifying occurred when Max Verstappen's engine cover broke and flew off, seemingly after the mechanics failed to secure it was the Dutchman left the pits following late engine dramas.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                                he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                                <a href="http://www.motorsport.com" target="_blank"><u>www.motorsport.com</u></a>, he has also written several books, including a biography of 60s racer Piers Courage.
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}