{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Brazilian GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            Three things to look out for at the Brazilian Grand Prix
                            </h2>
                        </p>
                        <p>
                            Posted on 15 November 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg">
                            By Kate Walker
                        </p>
                        <p>
                            <b>
                                The drama of mixed conditions
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-brazilianqualifying_1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            Over the course of the Sao Paulo race weekend the Formula One™ circus has been treated to a combination of sunshine, strong winds, and colossal thunderstorms. On Friday night, gusts of wind sent paddock furniture flying and heavy rainfall led to treacherous conditions on the road.
                        </p>
                        <p>
                            Current forecasts for Sunday show little sign of rain during the race, but with overnight storms forecast and scattered showers throughout the morning, track conditions are likely to be mixed and tyre strategy key. The perfect conditions to overturn expectations...
                        </p>
                        <p>
                            <b>
                                Interlagos gets a facelift
                            </b>

                        </p>
                        <p>
                            For years Bernie Ecclestone has been on a campaign to modernise facilities at the older Formula One™ circuits on the calendar. Interlagos is the latest track to accede to his demands with a USD$80 million upgrade to the paddock, garages, and team hospitality suites that began immediately after the 2014 race ended.
                        </p>
                        <p>
                            Despite a year of work Interlagos remains something of a building site, although the bigger hospitality suites have been well-received by the teams. Next on the list is a new pit building with spacious garages, scheduled to be completed by the 2016 Brazilian Grand Prix.
                        </p>
                        <p>
                            The track itself - thankfully! - will not be modified.
                        </p>
                        <p>
                            <b>
                                HAM v ROS (again!)
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-brazilianqualifying_2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            While the championship battle ended in Austin, the internecine battle at Mercedes is still going strong, with Nico Rosberg delivering his best performances when the title pressure disappeared.
                        </p>
                        <p>
                            Since Lewis Hamilton secured the 2015 drivers' championship in Austin the Briton has failed to secure pole, while Rosberg has started the past four races from the front. Despite track position advantage, the German racer has only converted one pole into a win, losing out to Hamilton on track.
                        </p>
                        <p>
                            With the Briton joining Rosberg on the front row, expect sparks to fly from the minutes the lights go out.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles
                                have also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                            </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}