{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Brazilian GP Post Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
    var staging = /staging/;
    var liveHostname = /singaporegp\.sg/;
    if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                {'gtm.start': new Date().getTime(),event:'gtm.js'}
        );var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P7C4C7');
    }
</script>
<!-- End Google Tag Manager -->

    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            Five things you missed at the Brazilian Grand Prix
                            </h2>
                        </p>
                        <p>
                            Posted on 17 November 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg">
                            By Kate Walker
                        </p>
                        <p>
                            <b>
                                Verstappen on Perez for P9
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-brazilianpost_1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            After the Brazilian Grand Prix, Lewis Hamilton complained that Interlagos offered drivers nowhere to overtake. But during the race, Max Verstappen proved the world champion wrong on more than one occasion.
                        </p>
                        <p>
                            Following the first round of stops, the Toro Rosso driver pulled off an impressive - and unexpected - overtake through the Senna S-es, passing Sergio Perez on the outside of Turn One and leaving the Force India driver so surprised that he left the door open for Romain Grosjean to slip past into Turn Three.
                        </p>
                        <p>
                            Two passes in two corners. But you can’t overtake in Interlagos, can you Lewis?
                        </p>
                        <p>
                            <b>
                                Maldonado gets Ericsson into a spin
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-brazilianpost_2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            According to the infamous website, it’s been 70-some days since Pastor Maldonado last crashed. But the Lotus driver came close in Brazil on Sunday, spinning the Sauber of Marcus Ericsson and earning a five-second time penalty in the process.
                        </p>
                        <p>
                            As the pair were heading into Turn One approximately half-way through the race, the Venezuelan racer managed to tag the left-rear wheel of the Sauber, sending Ericsson into a spin from which both drivers were able to recover.
                        </p>
                        <p>
                            Maldonado may have made it ten weeks without crashing, but on Sunday afternoon the Lotus driver was once again penalised for causing a collision. Ah, semantics!
                        </p>
                        <p>
                            <b>
                                Verstappen on Maldonado for the last point
                            </b>
                        </p>
                        <p>
                            Between them, Max Verstappen and Pastor Maldonado were responsible for seemingly half the drama at the Brazilian Grand Prix - most of it in Turn One.
                        </p>
                        <p>
                            In the final minutes of Sunday’s race, Toro Rosso’s junior superstar slipped neatly past the Lotus driver in the entry to the SennaS-es, moving into the final points-paying position in the process.
                        </p>
                        <p>
                            Had Pastor not lost five seconds in the pits for his Ericsson clash, Maldonado would have been further up the road and could have escaped the clutches of the Flying Dutchman. Food for thought, perhaps?
                        </p>
                        <p>
                            <b>
                                Ricciardo’s rapid recovery
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-brazilianpost_3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            After power unit penalties dropped him from ninth on the grid to 19th, Daniel Ricciardo made the most of a bad situation with an excellent recovery not reflected in his 12th-place finish in Brazil.
                        </p>
                        <p>
                            A good start put Ricciardo up to P14 by the end of the first lap, and a third-lap pitstop saw the indefatigable Australian running a different strategy.
                        </p>
                        <p>
                            Initially backed up by the Manors, Ricciardo passed first Will Stevens then Alexander Rossi before losing time when the rest of the field made their first stops. A slick pass on Sergio Perez into Turn One boosted morale, as did a late move on Felipe Nasr.
                        </p>
                        <p>
                            <b>
                                McLaren get both cars to the finish
                            </b>
                        </p>
                        <p>
                            Over the course of the past year, the once-great McLaren have been forced to manage their expectations as they and engine partners Honda attempt to make the most of a challenging power unit.
                        </p>
                        <p>
                            In the 18 races run so far in 2015, the team has seen two DNSes, four double-retirements, and four races in which “only” one driver retired. Just once this year have both Jenson Button and Fernando Alonso finished in the points.
                        </p>
                        <p>
                            But both drivers saw the chequered flag on Sunday, the eighth time this year the team has managed such a feat. Baby steps...
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles
                                have also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                            </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}