{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 US GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}

    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            2015 United States GP Post-Race Report
                            </h2>
                        </p>
                        <p>
                            Posted on 26 October 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport04.jpeg">
                            By Bob Constanduros
                        </p>
                        <p>
                            <b>
                                Hamilton versus Rosberg, T1
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-usgppostrace_1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            Nico Rosberg was clearly not a happy man at the end of a cracking US Grand Prix at COTA. He – and his Mercedes bosses – felt that Lewis Hamilton’s move up the inside of his teammate at the first corner was just too hard.
                        </p>
                        <p>
                            “Once things have calmed down we’ll talk about it,” said team principal Toto Wolf after the race. (After all, they had a double World Championship to celebrate first).
                        </p>
                        <p>
                            Hamilton had clearly forced his pole-winning teammate off the track at the first corner as he came charging up the inside, but wasn’t too inclined to turn in immediately, even though others proved the grip was there. In the end, it was Rosberg’s mistake eight laps from home which cost him victory but Hamilton’s move still hurt.
                        </p>
                        <p>
                            <b>
                                Red Bull versus Mercedes
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-usgppostrace_2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            For the first twenty laps or so, we had a fantastic Mercedes versus Red Bull battle in Austin. The track was still damp, all the players were on intermediates and after the Mercedes pair had come together at the first corner, Lewis Hamilton and Nico Rosberg book-ended the Red Bulls – where Daniil Kvyat led teammate Daniel Ricciardo.
                        </p>
                        <p>
                            The first virtual safety car kept them together, but Rosberg swooped past the two Red Bulls who were still able to hold on to them, and for a lap or two Hamilton pulled out ahead before the quartet came together again.
                        </p>
                        <p>
                            Ricciardo made a fantastic move on Hamilton to lead (see separate story) but a few laps later they began to pit for slicks and first Rosberg overtook Ricciardo and then Hamilton and the Mercedes superiority told again. For a while, though, Red Bull proved they could take the fight to Mercedes, in the right conditions.
                        </p>
                        <p>
                            <b>
                                Daniel in the lion’s den
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-usgppostrace_3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                           Daniel Ricciardo predicted that on a wet track he could be a front runner, and on lap 15 he proved it. It was a brave moved around the outside of Lewis Hamilton and that doesn’t happen very often. What’s more, he then pulled away!
                        </p>
                        <p>
                            The Mercedes driver had led from Turn One but first Daniil Kvyat had challenged him and then Ricciardo came through. “To see the Mercs not getting away from us was awesome,” said Daniel. “I was enjoying that. In the lead we were quite quick for a few laps and it felt like old times.”
                        </p>
                        <p>
                            But then the track dried out, they changed onto slicks and the Red Bulls were overwhelmed. A single point for tenth place was scant reward.
                        </p>
                        <p>
                            <b>
                                Raikkonen and Verstappen
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-usgppostrace_4.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            One has just turned 18, the other has just turned twice that but the young pretender Max Verstappen and the old master Kimi Raikkonen found themselves together on the track and it turned out to be brilliant stuff.
                        </p>
                        <p>
                            It was as the track was drying, around lap 15. Kimi was pushing Max for seventh place and when the Finn made a move, the Dutchman gave him little space. “He’s pushing me off the circuit all the time,” complained Raikkonen. “If that’s legal, I’ll do it to him next time.”
                        </p>
                        <p>
                            As it was, Kimi had his own moment and hit the barrier which ultimately resulted in retirement. His young rival nearly scored his first podium, demoted by Sebastian Vettel nine laps from home.
                        </p>
                        <p>
                            <b>
                                Sainz from the back of the grid
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015-usgppostrace_5.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            For the second race running Carlos Sainz was allowed to race having crashed and not set a competitive time in qualifying. On this occasion, it was during qualifying, before he had set a competitive lap time and in the treacherous conditions he went off the circuit and into the barrier, damaging both front corners. He would start 20th.
                        </p>
                        <p>
                            But in the race he was magic. He was up to 11th on lap one, in sixth before a pit stop on lap 19, then running seventh for a while before a late charge overtaking Jenson Button three laps from home for sixth place again.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Bob Constanduros is the on-circuit commentator at most Grands Prix worldwide. After a career in motor sport journalism dating back to the late sixties, he was officially asked to provide English language commentary at Grands Prix in the mid-eighties and hasn’t missed a Grand Prix since 1985, totalling over 550 Grands Prix. Despite his Greek name, he was born in England and lives there, not far from the Goodwood circuit where he saw his first motor sport in the fifties. He has taken an interest and worked in all forms of motor sport from karting through rallying to sports and touring cars, and has commentated at every Formula 1 Singapore Grand Prix since the race began. He has worked in all forms of media, and still works for the FIA and FOM as well as individual race promoters.                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}