{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2016 Highlights of the Formula 1
 Where to get the most out of the F1' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Austrian Grand Prix highlights
                        </h2>
                        </p>
                        <p>
                            Posted on 4 July 2016
                        </p>

                        <p>
                            <b><i>Last lap lunacy</i></b>
                        </p>

                        <p>
                            The end of the Austrian Grand Prix descended into the sort of timing screen chaos usually associated with the final seconds of qualifying on a drying track.
                        </p>

                        <p>
                            Nico Rosberg was leading the race for Mercedes going into the final lap, with a charging Lewis Hamilton only three-tenths behind as the pair crossed the line. An attempt at an overtake plus braking issues saw the pair collide at Turn 2, with Hamilton spinning off track and rejoining while Rosberg suffered heavy damage and slowed considerably.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160701/austriangp_1.jpg"
                             align="center" hspace="12"/>

                        <p>
                            The incident knocked the race leader off the podium, and allowed Max Verstappen and Kimi Raikkonen to claim the second and third-placed trophies. Hamilton graced the top step, while Rosberg limped home in fourth, dragging his front-wing along under his car.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160701/austriangp_2.jpg"
                             align="center" hspace="12"/>

                        <p>
                            After the race, Rosberg was called to the stewards to discuss charges of causing a collision and of failing to stop his damaged car. Hamilton was booed on the podium, but the Briton was adamant that the incident was his teammate’s fault.
                        </p>

                        <p>
                            "I tried to brake,” Hamilton said. "He made a mistake into Turn One and I had an opportunity to go around the outside in Turn Two. I left a lot of room on the inside and I guess he locked up and crashed into me."
                        </p>
                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160701/austriangp_3.jpg"
                             align="center" hspace="12"/>

                        <p>
                            Mercedes revealed that Rosberg’s brake by wire system had failed, going into “passive” mode at the end of the penultimate lap of Sunday’s race, effectively leaving the championship leader a sitting duck as his rivals piled past the stricken Mercedes on their way to the chequered flag.
                        </p>

                        <p>
                            While mechanical failures are hard to replicate, the tight streets of Singapore’s Marina Bay Street Circuit make it the ideal venue for another chaotic round come September. The track’s layout makes it easy to pay heavily for small mistakes and simple failures, whether they come on the first lap or the last.
                        </p>


                        <p>
                            <b><i>Underdogs of the undercuts</i></b>
                        </p>

                        <p>
                            Tyre strategy has been a defining factor of the 2016 F1 season so far, with the introduction of a third compound really proving to be effective when it comes to shaking up the action on track. The Austrian Grand Prix was no exception, with several of the likely podium finishers in the opening phase of the race all thrown back into the pack thanks to pit stop strategy.
                        </p>

                        <p>
                            Eventual race winner Lewis Hamilton refused the offer of the first Mercedes stop, which was taken by Nico Rosberg. The pair’s differing strategies saw Hamilton exit the pits behind his teammate and championship rival after making his first - slightly slow - stop on lap 21, and Rosberg was able to retain the lead right through to the pair’s second stops. Despite having started from pole and led the early phase of the race, Hamilton looked to be losing out on what should have been a commanding win until the pair collided on the final lap.</p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160701/austriangp_4.jpg"
                             align="center" hspace="12"/>

                        <p>
                            The Mercedes pair were not the only drivers whose afternoons were affected by undercuts and pit stop strategy - Ferrari’s Kimi Raikkonen finished on the podium, but could have been in contention for the win had he not emerged from his first pit stop in sixth, staring at the gearbox of both Red Bulls for longer than was comfortable.
                        </p>
                        <p>
                            “We had pretty good speed in the beginning,” Raikkonen said after the race. “I was saving tyres a bit and pushing, was [a] bit catching, [a] bit losing time to Mercedes, going like that. We were pretty close. Then, once we made a pitstop suddenly found myself in sixth position. It was a bit hard after that.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160701/austriangp_5.jpg"
                             align="center" hspace="12"/>

                        <p>
                            “There were safety cars and stuff but the biggest issue was probably with the first Red Bull. Tried to get past him, we had good speed but it was so difficult to get close enough. ... When I close I could not find the traction to challenge him and then luckily on one lap I managed to suddenly get a jump on him. Then the speed was good [but] I ran out of the laps.”
                        </p>

                        <p>
                            <b><i>Manor minnows maximise</i></b>
                        </p>

                        <p>
                            Pascal Wehrlein scored the first point of his Formula One career at the Red Bull Ring on Sunday, giving Manor a much-needed boost in the constructors’ championship. The Banbury-based team now sits above the scoreless Sauber in the constructors’ standings, and is five points adrift of eighth-placed Renault.
                        </p>

                        <p>
                            “We were a bit unlucky with our second pit stop because we needed to box earlier than the other guys, then unfortunately the safety car came out, so that meant that I was lapped and last,” Wehrlein said after the race. “To finish the race in the points from there is incredible.”
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160701/austriangp_6.jpg"
                             align="center" hspace="12"/>

                        <p>The rookie driver had a strong weekend overall, securing Manor’s highest grid position of 2016 during Saturday’s qualifying session, and missing out on a crack at Q3 by just under six-tenths of a second. Wehrlein now sits 17th in the drivers’ standings, ahead of teammate Rio Haryanto, Sauber pairing Felipe Nasr and Marcus Ericsson, and Renault rookie Jolyon Palmer.
                        </p>

                        <p>Whether or not Wehrlein can pick up points in Singapore remains to be seen. But fellow rookies Haryanto and Palmer might find themselves able to score their own first F1 points in Marina Bay in September, where the tricky circuit is not afraid to throw up a few surprises.
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}