{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2016 Highlights of the Formula 1
 Canadian Grand Prix' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Three key moments of the Formula 1 Canadian Grand Prix
                        </h2>
                        </p>
                        <p>
                            Posted on 13 June 2016
                        </p>
                        <p>
                            <b>Ferrari close the gap</b>
                        </p>
                        <P>
                            <img width="610" src="http://www.singaporegp.sg/media/insights/20160613/canadagp_1.jpg"
                                 align="center" hspace="12"/>
                        </p>

                        <p>
                            Ferrari didn’t win the race in Canada, but they can be very pleased with their performance, which was much more competitive than they have been. The team has been waiting on a new turbo for the engine, to fix a problem which had meant that they couldn’t use all the power of the engine. It certainly worked and the car was close to Mercedes’ pace in Montreal. Sebastian Vettel qualified a tenth of a second behind the pole sitter, the closest margin since Vettel took pole in Singapore last year. And in the race he was able to hold Hamilton off in the opening stint. Strategy decided the outcome, with Ferrari opting for two stops and Mercedes for one, which proved the better call. But Ferrari will have more chances this season to win
                        </p>


                        <P><b>Bottas back on the podium</b></P>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160613/canadagp_2.jpg"
                             align="center" hspace="12"/>
                        <p>
                            Valtteri Bottas stood on the Montreal podium for the second year in succession after a fantastic performance in the Williams. Qualifying had put him down in seventh place behind the Mercedes, Red Bull and Ferrari cars, but he did the same one stop strategy as Lewis Hamilton, pitting on Lap 25 and this gave him track position advantage over the Red Bulls and Kimi Raikkonen’s Ferrari. Bottas has always excelled in Canada and this was another example. It was a much needed result as the Finn has had a poor start to the season. It’s a relief for Williams too after a miserable weekend in Monaco last time out.
                        </p>


                        <p><b>Starts are unpredictable</b></p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160613/canadagp_3.jpg"
                             align="center" hspace="12"/>

                        <p>
                            Once again the start delivered a shake up of the order, with Sebastian Vettel able to lead into Turn 1 ahead of the pole sitter Lewis Hamilton, who nudged his team mate off track dropping him down to 9th place. Since the FIA changed the rules on starts with a single clutch and drivers forced to manage the procedure alone, we have had far more variable starts, which has made for better racing. That’s one rule change that has really worked.
                        </p>



                        <p>
                            <em> </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}