{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Highlights of the Belgian Grand Prix' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Belgian Grand Prix Highlights
                        </h2>
                        </p>
                        <p>
                            Posted on 29 August 2016
                        </p>

                        <!--author-->
                        <!-- <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/media/insights/james.jpg">
                            By James Allen
                        </p> -->


                        <p>
                            <b><i>Straight off the start</i></b>
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160829/belgiumgp_1.jpg"
                             align="center" hspace="12"/>
                        <p>
                            There was drama from the outset of Sunday’s Belgian Grand Prix, with three of the four front-runners colliding at La Source in an incident that left both Red Bull and Ferrari feeling rather hard done by.
                        </p>
                        <p>
                            Max Verstappen, Kimi Raikkonen, and Sebastian Vettel were all angling for the same piece of tarmac as the cars streamed towards the first corner, and the close running saw the three make contact and suffer damage that would see each man lose his chance of a podium finish. Just who was at fault remains a matter of debate.
                        </p>
                        <p>
                            “The start wasn’t great,” Verstappen said after the race. “I dived up in the inside and locked a wheel so I was easily making the corner but they just kept squeezing me. At one point I was in the inside, Kimi was again squeezing but then Sebastian turned in on both of us. That took my front wing, I had a lot of damage, and also the floor got destroyed. From there on your race is gone.
                        </p>

                        <p>
                            “[Vettel] knows that he is on the outside and suddenly he just turns into the corner where there are two other cars,” he added. “I think that’s pretty logical.”
                        </p>

                       <!-- <p>
                            <b><i>Ferrari fall behind Red Bull on pace and points</i></b>
                        </p> -->

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160829/belgiumgp_2.jpg"
                             align="center" hspace="12"/>

                        <p>
                            But Vettel and Raikkonen had a rather different perspective, with the Ferrari pair both blaming their Red Bull rival for the incident that affected each of the trio.
                        </p>



                        <p>
                            "I had a very good start,” said Vettel after the race. “I think the best start from all the people in front of me. I was P2. Nico [Rosberg] was ahead but I was right behind on the outside leading the way into the first corner. I could hardly see Kimi because I was more than half a car ahead when I turned in, and to be honest he was already in the blind spot of Max.
                        </p>

                        <p>
                            "Just looking at it, it was a very bold move trying to recover those two places in one corner diving down the inside, and that obviously was the reason why Kimi couldn't turn in and follow the lead that I was dictating as the leading car of that group. The problem is you can't fit three cars in that corner and the inside one is able to trigger trouble to the outside and I think that's what Kimi and myself suffered from."
                        </p>


                        <P>
                            <b><i>K-Mag’s crash</i></b>
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160829/belgiumgp_3.jpg"
                             align="center" hspace="12"/>

                        <i>Image credit: Official @Formula1 Twitter account</i>

                        <p>
                            Shortly after the Virtual Safety Car was turned off following the first lap chaos, Kevin Magnussen suffered a dramatic high-speed crash into the tyre barriers at Eau Rouge, bringing out Bernd Maylander in the real Safety Car.
                        </p>




                        <p>
                            The Renault driver went too deep into the kerbs on his approach to the corner in Lap 7, and lost control of his car as the rear end flicked over the painted lines, sending Magnussen spinning into the tyres at Eau Rouge, shedding bodywork in the impact. Despite the drama of the shunt itself, Magnussen was essentially unscathed.
                        </p>

                        <p>
                            The young Danish driver emerged from the car with a slight limp, and went to the circuit medical centre for precautionary checks before being moved to the local hospital. “He is fully conscious and responsive,” Renault said in a statement. “He has a small cut to the left ankle and has been escorted to a nearby hospital for further routine checks.”

                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160829/belgiumgp_4.jpg"
                             align="center" hspace="12"/>

                        <i>Image credit: Official @Formula1 Twitter account</i>

                        <p>
                            By Lap 9, it had been established that the guardrails themselves needed repairs, and the race was red-flagged while the work was completed. The consequence of Magnussen’s crash was a closed-up field when racing resumed on on Lap 11, and the decimation of what had been Nico Rosberg’s comfortable lead.
                        </p>

                        <P>
                            <b><i>HAM-mer time!</i></b>
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160829/belgiumgp_5.jpg"
                             align="center" hspace="12"/>

                        <p>
                            There’s hammer-time, and then there’s HAM-mer time, and the Belgian Grand Prix was a perfect -- and record-breaking -- display of just what Lewis Hamilton can do when he has to make up ground.
                        </p>

                        <p>
                            Following a series of engine penalties the Briton started from 21st on the grid, yet secured a podium finish. The eighteen places gained around the Circuit de Spa-Francorchamps mark a new record for this track, and took Hamilton himself by surprise.
                        </p>

                        <p>
                            "I really cannot believe that we came up so far," Hamilton said after the race. "I woke up this morning knowing how difficult it would be on these tyres. Lots of blistering so you can never predict what will happen. In the previous races there were no incidents and today there was. Today was about having the right approach, not too aggressive and not too easy. Today collectively as a team we had the right balance. This is the best result I could have hoped for."
                        </p>

                        <p>
                            Avoiding the chaos into La Source -- easily done when you start at the back -- Hamilton had worked his way up to twelfth place by the end of Lap 3, benefitting from both the crashes ahead and the avoiding action those further up the pack had been forced to take.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160829/belgiumgp_6.jpg"
                             align="center" hspace="12"/>

                        <p>
                            By the time the Safety Car and eventual red flags came out following Magnussen’s Eau Rouge crash, Hamilton was running in fifth, chasing down the McLaren on Fernando Alonso. On Lap 12, the Mercedes driver had passed his former teammate for fourth, and five laps later Hamilton had stolen the final podium place from Nico Hulkenberg.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160829/belgiumgp_7.jpg"
                             align="center" hspace="12"/>

                        <p>
                            Getting to third was one thing, but maintaining it another. Having started on new mediums the Briton got a free pit stop under the Safety Car on Lap 9, taking on new softs both then and during his second stop on Lap 21.
                        </p>


                        <p>
                            The second set of softs enabled Hamilton to give good chase to second-placed Daniel Ricciardo, but at the end of Lap 32 Mercedes called their man back into the pits for a final stop, this time to take on the used mediums that would see the defending world champion drop back to fourth place for a single lap before another move on Hulkenberg left Hamilton a shoe-in for the final podium position.
                        </p>
                        <!-- <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p> -->


                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}