{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Highlights of the Hungarian Grand Prix' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Highlights of the Hungarian Grand Prix
                        </h2>
                        </p>
                        <p>
                            Posted on 25 July 2016
                        </p>

                        <p>
                            <b><i>Hamilton makes a perfect getaway</i></b>
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160725/hungarygp_1.jpg"
                             align="center" hspace="12"/>
                        <p>
                            The start went very well for Lewis Hamilton and he took the lead from second place on the grid. Starts have not always been his strongest suit this season; three times earlier in the year the roles were reversed and Rosberg had jumped pole sitter Hamilton. It set the world champion up for the rest of the race on one of his strongest circuits, where he had won four times before. Hamilton controlled the race from there onwards, although he struggled a little for pace in the second stint, when they were running on the soft tyres, so much so that Mercedes had to tell him to speed up.
                        </p>

                        <p>
                            <b><i>Ferrari likes hot conditions</i></b>
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160725/hungarygp_2.jpg"
                             align="center" hspace="12"/>

                        <p>
                            Having fallen behind Red Bull in recent races the Ferrari was more competitive in the hot conditions on race day in Budapest. As the track temperature climbed to over 50 degrees, the Ferrrari was able to do a long opening stint on the soft tyre with Kimi Raikkonen and Sebastian Vettel was able to split the Red Bull cars.
                        </p>



                        <p>
                            A key moment was the decision by Ferrari to pit Vettel on Lap 15, which triggered the first round of pit stops. Ferrari was able to study the data from Raikkonen’s soft tyre performance to assess how early they could stop Vettel and comfortably make it to the finish on two pit stops.
                        </p>

                        <p>
                            Vettel undercut Max Verstappen for fourth place  with that early stop and to compound the Dutchman’s misery he got stuck behind Raikkonen after he reacted and made his first pit stop. Verstappen got back ahead of Raikkonen on strategy, but Raikkonen drove into the back of the teenager in the closing stages, damaging the front wing of his Ferrari.
                        </p>


                            <b><i>Track Limits begin to grate</i></b>
                        </p>



                        <p>
                            The subject of track limits - the boundaries of the race track and preventing drivers from going outside them to gain an advantage -  was one of the main talking points of the weekend and many felt that the subject was becoming irritating and maybe it would be better to let the drivers use the race track how they want instead of constantly nagging them.
                        </p>


                        <p>
                            The drivers were warned about going outside the limits of the circuit on a ‘three strikes and you’re out’ basis, meaning a penalty for drivers after receiving three warnings from Race Control. And with limits being placed on what teams can tell drivers over the radio, much of the radio traffic was drivers being told that they were receiving warnings for exceeding the limits!
                        </p>

                        <p>
                        When one compares the situation to races like Singapore Grand Prix, where there are no concerns about track limits because the tracks are lined with walls and barriers, it makes it seem all the more strange.
                        </p>

                        <p>
                            But the FIA is very keen to teach best practice to younger drivers in the lower categories and so the drivers at the pinnacle have to set an example.
                        </p>





                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}