{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Chinese Grand Prix Highlights' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>

                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>Formula 1 Chinese Grand Prix highlights</h2>
                        </p>
                        <p>
                            Posted on 18 April 2016
                        </p>


                        <p>
                            <strong>Chaos and carnage at the start</strong>
                            <br>
                            <br>
                        <p>
                            <img width="610" src="http://www.singaporegp.sg/media/insights/20160418/chinesegp_1.jpg" align="center" hspace="12"/>
                        </p>
                        The first lap of the 2016 Formula 1 Chinese Grand Prix was one of the most dramatic in recent memory, with eventual race winner Nico Rosberg losing the lead to Daniel Ricciardo, - a Ferrari on Ferrari collision - and more bad luck for Lewis Hamilton, who lost his front wing to the Sauber of Felipe Nasr while attempting to avoid Kimi Raikkonen returning to the track.


                        </p>

                        <p>
                            <img width="610" src="http://www.singaporegp.sg/media/insights/20160418/chinesegp_2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>


                            Sebastian Vettel ran into Raikkonen when he attempted to avoid the Red Bull of Daniil Kvyat as the Russian charged past in an aggressive but brave move down the inside. Raikkonen's front wing was damaged in the collision, and the Finn was forced into the pits for a replacement before fighting his way back up to fifth by the chequered flag. Vettel survived the incident, but dropped down to eighth and had to fight his way back up through traffic.

                        </p>

                        <p>

                            For the first time in a long time, there was no moaning about the wide run-off areas surrounding the Shanghai circuit - had we been racing between the walls of the Marina Bay Street Circuit this weekend, few of those involved in the first lap chaos would have made it to the chequered flag. Instead, the whole field finished the race for the first time since the 2005 Italian Grand Prix.
                        </p>
                        <p>
                            <strong>China's comeback kings</strong>
                            <br>
                            <br>
                            It was a road to recovery for much of the pack in Shanghai on Sunday, as the plethora of incidents in the opening laps left several of the frontrunners on the back foot. Add to that Lewis Hamilton's back of the grid start following a loss of power in Saturday's qualifying session and the stage was set for a mixed up grand prix of the highest order.
                            <br>
                            <br>
                            While overtaking is a challenge on the tight streets of Marina Bay, Shanghai's wide track with its choice of lines around corners - and miles of runoff for those who get it wrong - makes for the ideal circuit on which to attempt a fight from the back.
                            <img width="610" src="http://www.singaporegp.sg/media/insights/20160418/chinesegp_3.jpg" align="center" hspace="12"/>
                            <br>
                            <br>
                            It was in the final laps that Ricciardo really came into his own, battling wheel to wheel with Hamilton before making it past the rubber-worn Mercedes on lap 43 before then making short work of Felipe Massa for fourth. Vettel's second place finish was made all the more remarkable when the Ferrari's damaged front wing was taken into account. Until being informed of the damage on the podium, Vettel had been so engrossed in the racing he'd failed to notice part of the wing was missing...
>>>>>>> 20160418-update-to-china-gp:app/views/layouts/ontrack/2016_4_chinese_grand_prix_highlights.twig
                        </p>

                        <p>
                            <strong>Pressure in the pits</strong>
                            <br>
                            <br>

                            <img width="610" src="http://www.singaporegp.sg/media/insights/20160418/chinesegp_4.jpg" align="center" hspace="12"/>
                            <br>
                            <br>
                            It was the Formula One pit crews who were the unsung heroes of Sunday's race, which saw 66 pit stops from the 22 drivers. Hamilton could hardly stay out of the pits, completing five stops in the 56 laps of Shanghai International Circuit, and the Mercedes crew completed a combined eight stops for their two drivers.
                            <br>
                            <br>

                            More than half the field - 13 drivers - used all three compounds available, and adding to the drama was the lap four Safety Car that saw 11 drivers pile into the pits at once, leading to queues and chaos. Hamilton made two stops under the Safety Car, one for a front-wing tweak to improve the Briton's aero and another for new tyres, keeping the crew on their toes

                            <br>
                            <br>
                            Last year's Singapore Grand Prix brought about a two-stop surprise on the strategy front, when the expected strategy was a three-stopper. Whether Marina Bay will be able to repeat the feat this year remains to be seen, as 2016's wider range of compounds - and the drivers' freedom to choose - has been shaking up the racing all season so far.
                        </p>



                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}