{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2016 Highlights of the Formula 1 Russian Grand Prix' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Thrills, Spills and a Victorious Verstappen
                        </h2>
                        </p>
                        <p>
                            Posted on 16 May 2016
                        </p>
                        <p>
                            <b>Verstappen to the V-Max</b>
                        </p>
                        <P>
                            <img width="610" src="http://singaporegp.sg/media/insights/20160516/spaingp_1.jpg"
                                 align="center" hspace="12"/>
                        </p>

                        <p>
                            Max Verstappen became the youngest Formula 1 Grand Prix winner at the age of 18, also the youngest to lead a race and looks set to break other records. It’s unusual to win a race on debut for a new team, but to do it mid season with no opportunity for testing is very rare. Only Juan Manuel Fangio in the 1950s has done that before. Verstappen’s win owed a lot to a strategy move by Red Bull on Daniel Ricciardo’s car that didn’t work out, they switched him to a three stop strategy and Ferrari covered it with Sebastian Vettel.
                        </p>
                        <p>
                            That left Verstappen and Raikkonen out on a two-stop strategy, which proved to be the faster plan. Raikkonen tried to attack Verstappen, but couldn’t get close enough to him out of the final corners onto the main straight, so Verstappen was able to stay out of reach of an overtake. Perhaps the most impressive aspect of Verstappen’s performance was that he managed to do a 32-lap final stint on the medium compound Pirelli tyres, which is very long, despite never having raced the Red Bull car before. This shows amazing adaptability, as well as great calmness to be able to withstand the pressure from Raikkonen. The next race in Monaco should suit the Red Bull chassis, so a repeat win is certainly a possibility.
                        </p>

                        <p>


                        </p>
                        <P><b>Mercedes implodes</b></P>
                        <p>
                            The two highly competitive Mercedes drivers have had some close shaves and some feuds in the last two seasons, but nothing like what happened here. Things turned nasty in Barcelona as Nico Rosberg closed the door on Lewis Hamilton on the opening lap, putting him on the grass. He started to spin and hit Rosberg, putting both out of the race.
                        </p>
                        <img width="610" src="http://singaporegp.sg/media/insights/20160516/spaingp_2.jpg"
                             align="center" hspace="12"/>
                        <p>
                            Pundits and ex-drivers in the paddock are divided on whose fault the accident was; Hamilton had been too cautious under braking into Turn 1, from pole position and lost the lead, but he was then very aggressive in trying to take it back again on the inside as they went towards Turn 4. Rosberg closed the door quite late and that seems to be the part that most ex-drivers cite as being where the real fault lies. It was very embarrassing as it meant that neither Mercedes driver scored any points for the first time since their dominance began in 2014.
                        </p>
                        <p>
                            Niki Lauda, the team chairman, called it ‘stupid’ and blamed Hamilton for being too aggressive, but most recent ex drivers think it was more Rosberg’s fault. My own view is that, after a number of occasions in the last two years where Rosberg has come off second best in close combat, this was him making a statement to Hamilton that he will not yield and that he intends to win this championship. Hamilton fell to third in the Drivers’ Championship as a result, behind Kimi Raikkonen.
                        </p>
                        <p>
                            <b>Ferrari unable to beat Red Bull despite having a faster car</b>
                            <br/>

                        </p>
                        <p>
                            Ferrari were frustrated after the race, as they should have been the ones to capitalise on the double Mercedes retirement, but instead Red Bull Racing did.
                        </p>
                        <p>
                            The seeds of the failure were sown in qualifying, where both Ferraris underperformed, compared to the pace they had shown in practice. Vettel was slower in the final qualifying lap than he had been in the final practice, whereas his rivals were all nearly a second faster. This put Raikkonen and Vettel on the third row of the grid, behind the Red Bulls and they weren’t able to recover from that in the race, despite trying some strategic moves.
                        </p>
                        <p>
                            The Ferrari was faster overall and especially on the soft tyres, but Red Bull had better grip out of the low speed chicane at the end of the lap and that meant that Verstappen was able to stay far enough ahead of Raikkonen on the straights so he could not attack.
                        </p>
                        <p>
                            The Red Bull is a very nimble chassis and it looks like a car that should be very competitive in the Singapore GP in September. Last year Daniel Ricciardo finished second to Sebastian Vettel in Singapore, but this year it could well be the other way around.
                        </p>
                        <img width="610" src="http://singaporegp.sg/media/insights/20160516/spaingp_3.jpg"
                             align="center" hspace="12"/>


                        <p>
                            <em> </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}