{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - F1 Insight: New Elimination-style Formula 1 Qualifying' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            F1 Insight: New Elimination-style Formula 1 Qualifying
                            </h2>
                        </p>
                        <p>
                            Posted on 14 March 2016
                        </p>
                        <p>
                           <img width="610" src="http://singaporegp.sg/media/insights-2016/New_Elimination-style_Formula_1_Qualifying.jpeg" align="center" hspace="12"/>
                        </p>

                        <p>
                            Qualifying has been tweaked for 2016, with an exciting new elimination system.
                        </p>
                        <p>
                            Firstly, Q1, Q2 and Q3 have been retained, but will be longer at 16-mins, 15-mins and 14-mins respectively.
                        </p>
                        <p>
                            Next is the new knockout system. After 7-minutes of Q1, the slowest driver will be eliminated every 90 seconds - until seven drivers have left the track and the chequered flag has fallen.
                        </p>
                        <p>
                            15 drivers progress into Q2, and after 6-minutes the slowest driver will be eliminated every 90 seconds - until another seven drivers have left the track and the chequered flag has fallen.
                        </p>
                        <p>
                            Now eight drivers progress to Q3, and after 5-minutes the slowest driver will be eliminated every 90 seconds - until two drivers are left in the last 90 seconds, battling for pole position.
                        </p>
 <br> <br>
                        <p>
                            Update as of 11 April 2016
                        </p>

                        <h3>The <a href="https://www.instagram.com/explore/tags/fia/" target="_blank">FIA</a> World Motor Sport Council has officially approved the decision to revert to the 2015 <a href="https://www.instagram.com/explore/tags/qualifying/" target="_blank">Qualifying</a> format for the remainder of the 2016 <a href="https://www.instagram.com/explore/tags/qualifying/" target="_blank">F1</a> season.</h3>

                        <p>Recap:</p>

                        <p>Q1 (18 min) > 22 cars > 6 cars knocked out > 17th - 22nd position on grid</p>

                        <p>Q2 (15 min) > 16 cars > 6 cars knocked out > 11th -16th position on grid</p>

                        <p>Q3 (12 min) > 10 cars > 1st - 10th position on grid</p>
                        
                        <br>
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}