{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Highlights of the German Grand Prix' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Highlights of the German Grand Prix
                        </h2>
                        </p>
                        <p>
                            Posted on 1 August 2016
                        </p>

                        <!--author-->
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/media/insights/james.jpg">
                            By James Allen
                        </p>


                        <p>
                            <b><i>Hamilton's hot starts are becoming a habit</i></b>
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160801/germangp_1.jpg"
                             align="center" hspace="12"/>
                        <p>
                            The start again went well for Lewis Hamilton and poorly for pole sitter Nico Rosberg, for the second race in a row. And again it set him up for the win.
                        </p>
                        <p>
                            This was no ordinary win; it took him to a career total of 49, just two short of Alain Prost’s second place in the all time winners list behind Michael Schumacher. And it also took him to 19 points clear of Rosberg in the drivers’ standings going into the summer break.
                        </p>
                        <p>
                            F1 factories now shut down for two weeks and the next race is at the end of August in Spa. Rosberg, whose day got worse when he was given a 5 second penalty for pushing Max Verstappen off the road, needs a strong response there and the only ray of sunshine for him is that Hamilton will need to take a new engine soon and that will mean starting that race from the back of the grid, which should mean an easy win for Rosberg.
                        </p>

                        <p>
                            <b><i>Ferrari fall behind Red Bull on pace and points</i></b>
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160801/germangp_2.jpg"
                             align="center" hspace="12"/>

                        <p>
                            Ferrari go into the summer break with their heads down.  They have lost second place in the constructors’ championship to Red Bull, which has a 14 point advantage over them and they are now clearly the third fastest car.
                        </p>



                        <p>
                            Worse still they have lost technical director James Allison, who left the team by mutual consent last week. The paddock wisdom is that he and Ferrari chairman Sergio Marchionne did not see eye to eye and coupled with his difficult personal circumstances, it was inevitable that he would go. He is considered the second most talented engineer in F1 after Red Bull’s Adrian Newey. So where does Ferrari go from here? The second half of the season will be challenging for morale and the pressure on the team and its senior figures will increase.
                        </p>




                            <b><i>Team Radio becomes entertaining again</i></b>
                        </p>



                        <p>
                            I was never a fan of the FIA ban on team radios and certainly not of the way that ban evolved in the last few months. Apart from being unbelievably petty to penalize a driver for being told to shift through 7th gear otherwise he would not be able to continue, we had teams not being able to tell their driver the brakes were about to fail, which is a serious safety issue.
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160801/germangp_3.jpg"
                        align="center" hspace="12"/>

                        <p>
                            Now all that has gone and the teams can say what they like once the race has started. That gave us some entertaining moments, not least the exchange between Daniel Ricciardo and his Red Bull engineer Simon Rennie, when struggling to lap the Haas F1 driver Esteban Gutierrez.
                        </p>

                        <p>
                            DR- "Esteban is my favourite, I love this guy!"<br/>
                            SR- "Don't worry, he's doing this to everybody, not just you."

                        </p>

                        <p>
                            The weekend before Hamilton had made an obscene gesture to Gutierrez as he final got past in similar circumstances
                        </p>
                        <p>
                            It’s not quite as entertaining as the classic “Leave me alone, I know what I’m doing” from Kimi Raikkonen – ironically also to Simon Rennie, when he was his engineer at Lotus – but it still brightened up the afternoon!!
                        </p>

                        <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p>


                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}