{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Three talking points from the Italian Grand Prix ' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Three talking points from the Italian Grand Prix
                        </h2>
                        </p>
                        <p>
                            Posted on 5 September 2016
                        </p>

                        <!--author-->
                        <!-- <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/media/insights/james.jpg">
                            By James Allen
                        </p> -->


                        <p>
                            <b><i>Mercedes has a problem with starts</i></b>
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160905/italygp_1.jpg"
                             align="center" hspace="12"/>
                        <p>
                                The failure by Lewis Hamilton to convert the pole position into the lead in Turn 1 in Monza was the seventh time this season in 14 races that a Mercedes driver has fluffed the start. Mercedes has very few weaknesses, but this is one of them. One could argue that it did not cost them much on this occasion as the other Mercedes driver took the lead and the race win, Nico Rosberg, while Hamilton was able to fight back from 6th place on Lap 1 to finish second.
                        </p>
                        <p>
                            The failure by Lewis Hamilton to convert the pole position into the lead in Turn 1 in Monza was the seventh time this season in 14 races that a Mercedes driver has fluffed the start. Mercedes has very few weaknesses, but this is one of them. One could argue that it did not cost them much on this occasion as the other Mercedes driver took the lead and the race win, Nico Rosberg, while Hamilton was able to fight back from 6th place on Lap 1 to finish second.
                        </p>


                       <p>
                            <b><i>Ferrari has strategy limitations</i></b>
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160905/italygp_2.jpg"
                             align="center" hspace="12"/>

                        <p>
                            Ferrari was more competitive in Monza thanks to an updated engine and they were quicker than main rivals Red Bull. Ferrari’s Sebastian Vettel said after finishing third in the race that he extracted ‘the maximum’ from the car and the team took the maximum from the race weekend, but that’s not entirely true. They were constrained to run a different strategy from Mercedes because they did not want to take the risk of trying to qualify on the soft tyres, which would have given them a longer first stint in the race and by the fact that they did not want to run the medium tyres, as Ferrari has always struggled to get the most out of the harder compounds. This meant that when they found themselves in the fortunate position of being ahead of Hamilton after his poor start, they were unable to capitalise on the track positions they had gained.
                        </p>




                        <P>
                            <b><i>The old guard is moving on</i></b>
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160905/italygp_3.jpg"
                             align="center" hspace="12"/>


                        <p>
                            This weekend we had at the retirement announcement of Felipe Massa after 15 years in F1 and Jenson Button deciding not to race in 2017, but retaining an option to come back in 2018. This is a clever plan from McLaren; they get to have it all. There is a chance Fernando Alonso may pack it in next year if the McLaren Honda is uncompetitive, although the signs are that it will be a much stronger package. He has also missed two Grands Prix in the last two seasons due to injury, so what's to say he won't have another? Button covers that off too.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160905/italygp_4.jpg"
                             align="center" hspace="12"/>


                        <p>
                            There has to be a reasonable chance Alonso will retire at the end of 2017, but if McLaren Honda continues to improve at the current rate, the car will be pretty competitive by then. It will be a case of whether Alonso thinks he has a realistic shot at the 2018 world championship whether he carries on. Then Button would not be needed. Many in F1 think we will not see Button race an F1 car again. But this way he gets to have things his way and he can decide when to retire, rather than be pushed into it by other drivers moves. It's a great opportunity for Stoffel Vandoorne, who is as exciting a prospect for the future as Max Verstappen, although he is six years older at 24. It's quite a co-incidence that the two most exciting talents and from the small neighbouring counties Holland and Belgium!
                        </p>


                        <!-- <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p> -->


                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}