{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2016 Highlights of the Formula 1
 Behind the Scenes' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Behind the Scenes
                        </h2>
                        </p>
                        <p>
                            Posted on 14 June 2016
                        </p>
                        <p>
                            <b>Building the Marina Bay Street Circuit</b>
                        </p>
                        <P>
                            <img width="610" src="http://www.singaporegp.sg/media/insights/20160614/bhts_1.jpg"
                                 align="center" hspace="12"/>
                        </p>

                        <p>
                            The FORMULA 1 SINGAPORE GRAND PRIX is one of the world’s great sporting events, and looks dazzling on TV – but constructing the temporary Marina Bay Street Circuit is all about perfecting the fine details in big numbers.
                        </p>

                        <p>
                            Despite a five-month build process, maximum care is taken by the organisers to minimise disruption to traffic and businesses in and around the 5.065km circuit – with all work done in phases, on a zone-by-zone basis.
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160614/bhts_2.jpg"
                             align="center" hspace="12"/>
                        <p>
                            It all begins in May, when all race-related infrastructure (barriers, fences, cables, track lighting and more) is steadily removed from a 38,130sqm storage facility in the eastern part of Singapore.
                        </p>

                        <p>
                            The first port of call is the pit straight, the circuit’s only permanent section, with contractors installing concrete barriers, debris fencing and lighting projectors – establishing one of the event’s key nerve centres.
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160614/bhts_3.jpg"
                             align="center" hspace="12"/>

                        <p>
                            As the race infrastructure continues to be installed around the circuit across the next few months, so do the nine grandstands and corporate hospitality facilities that will accommodate the 86,000 daily spectators.
                        </p>

                        <p>
                            Of course, one of the most impressive aspects of the FORMULA 1 SINGAPORE GRAND PRIX is the racing under lights – with the state-of-the-art system from Italian lighting specialists DZ Engineering delivering optimal visibility for night race conditions.
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160614/bhts_4.jpg"
                             align="center" hspace="12"/>

                        <p>
                            Featuring around 1600 lighting projectors strategically positioned around the track, the bespoke system ensures the world’s best drivers can focus on what they do best, racing wheel-to-wheel, with minimal glare and reflections from a wet surface or spray from other cars.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160614/bhts_5.jpg"
                             align="center" hspace="12"/>

                        <p>
                            As the weeks count down to the race weekend, the entertainment stages, tents for merchandise, and food and beverage outlets are installed. While on the pit straight, the Formula One Paddock Club, temporary Sky and Club suites are all being fitted out ready for the caterers to deliver a five-star experience.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160614/bhts_6.jpg"
                             align="center" hspace="12"/>

                        <p>
                            And, as the race weekend begins, the FORMULA 1 SINGAPORE GRAND PRIX organisers are planning the pack-down, and dismantle of the circuit – for its return to city streets with minimal disruption to traffic and businesses.
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160614/bhts_7.jpg"
                             align="center" hspace="12"/>


                        <p>
                            <em> </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}