{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Three talking points from the Italian Grand Prix ' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Race fans tell us about their experiences at the <br/>FORMULA 1 SINGAPORE GRAND PRIX
                        </h2>
                        </p>
                        <p>
                            Posted on 5 September 2016
                        </p>

                        <!--author-->
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/media/insights/james.jpg">
                            By James Allen
                        </p>


                        <p>
                            <b>     Singapore GP recently collaborated with leading Formula One™ commentator and journalist James Allen to find out what readers of his blog <a href="http://www.JamesAllenonF1.com" target="_blank">JamesAllenonF1.com</a> said about their experiences at the FORMULA 1 SINGAPORE GRAND PRIX</b>
                        </p>




                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160905/jamesallen_1.jpg"
                             align="center" hspace="12"/>

                        <br/>
                        <br/>

                        <b><i>Simon</i></b>

                        <p>
                            The city scenery is amazing, the temperature and humidity come nightfall aren’t horrific, and the in-field area you can walk around even with GA tickets is phenomenal, much better than being stuck at a spot somewhere like Spa where your options are not great to move about. Great food all around, good music and cultural events going on inside the grounds, and you can get a whole day to do whatever you like in Singapore (sleep) before even thinking about making your way to the track. Watching the track light up at night, and then seeing it glow on the cameras is something else. I also thought that the TV screens made it a bit more enjoyable. About halfway through the race we plopped in front of the main stage with its giant screens, and just enjoyed the action with the insane noise bouncing off the buildings around us. I’d love to go back, but I don’t expect I’ll find myself in the neighborhood anytime soon though.
                        </p>

                        <br>

                            <b>Velse</b>
                        <br>


                        <p>
                            I went last year and thoroughly enjoyed it. I use a wheelchair and of the three events I have seen it was by far the best from an accessibility point of view. I loved being close to the action. I loved the city too. Genuinely wish I could go every year.
                        </p>
                        <br>
                       <b>Jay Dodah</b>
                        <br>

                        <p>
                            I managed to convince my wife that for our honeymoon we should see the first night race in Singapore. Luckily for me she agreed it was a great idea!
                        </p>

                        <p>
                            We sat near where Crashgate happened and there was a large tv screen infront of us to keep track on what is going around the circuit.
                        </p>

                        <p>
                            The race owners did a great job in co-ordinating the spectators going in and out. We knew exactly which entrance to take to find our seats as quickly as possible. Which could have been difficult since it was at night time.
                        </p>

                        <p>
                            What they could improve on (not sure if its changed since going there) is having things to do around the circuit between sessions. There were only F1 merchandise shops. There were no fun things to do like F1 simulators or pit stop try outs when walking around.
                        </p>

                        <p>
                            Overall I enjoyed my time there and I would definitely go again.
                        </p>


                        <P><i>Singapore GP response: <br/>

                            A lot has changed since the inaugural night race. There’s actually plenty to see and do within the Marina Bay Street Circuit, even in between on-track race action. This includes race simulators underneath the Bay Grandstand in Zone 3, a Pit Stop Challenge where fans can try changing the tyres of a replica Formula 1® car, complimentary Airbrush Tattoo booths in Zone 4, and a myriad of entertainment throughout the weekend – there’s something for everyone across all zones. </i></P>


                        <br>
                        <b>PhilMac</b>


                        <p>
                            I’ve been twice – 2010 and 2013 – both great races. 2010 Alonso held off Vettel with Webber third. 2013 Vettel won handsomely, but the race was remembered for Webber’s fiery exit on the last lap and Alonso picking him up for an ultimately expensive ride back to the pits…..
                        </p>


                        <p>
                            Great experiences – the racing under lights is sensational. Yes it’s hot and expensive, but at GP time, where isn’t…..!!!
                        </p>


                        <p>
                            In 2013 I went with my wife and friends and we had a ball. We all purchased grandstand seats (earlybird) and were able to swap over the three days. My fav was the outer grandstands at turns 1 & 2. Good big screen access as well.
                        </p>


                        <p>
                            Also great concerts – Tom Jones was surprisingly the best…..
                        </p>

                        <p>
                            The people are lovely and the city is so clean and so easy to get around – the underground rail system is fantastic, making it quiet easy to get to your track entry point. My friends loved the fact that, even walking back to their hotels at 11pm/midnight, they felt extremely safe. Having been to few GP’s over the years, there are quite a few cities on the calendar that you can’t say the same of…..
                        </p>


                        <p>
                            The fireworks over Marina Bay after the race are fantastic as well….
                        </p>

                        <p>
                            I’ll be heading back – probably next year. Depending on the scheduling i’ll try to do the Malaysia and Singapore double, with Sepang being the better ‘race track’, but Singapore being the better ‘overall experience’.
                        </p>

                        <p>
                            I’d highly recommend a Singapore GP to every GP fan – at least once – the night experience is amazing,
                        </p>


                        <p>
                            Great memories from both events.
                        </p>

                        <br>
                        <b>Tyron</b>


                        <p>
                            I attended the 2012 race on my honeymoon to support WEBBER, this was the first GP I attended after following F1 for about 12 years. It really opened my eyes to the speed, noise and smell of an F1 car racing at full throttle.
                        </p>

                        <p>
                            The atmosphere was just awesome as the V8s were loud and made the hairs on the back of my neck stand up, a really visceral experience. Having the race at night was another highlight as you could see the brakes light up and the sparks fly.
                        </p>

                        <p>
                            My wife and I were positioned just after the turn 13 hairpin and could experience each car accelerate at full throttle and change from second to third gear. I vividly remember the noise of the gear change and thinking that was loud, not like my road car.
                        </p>

                        <p>
                            I missed the SCHUMACHER and VERGNE crash as that was around turn 14, just out of eyesight and recall HAMILTON had a DNF. The race went the full 2 hours but a few laps short. Well worth the entry price.
                        </p>
                        <p>
                            An additional advantage of the night time race was the post race fireworks and concerts, great way to round out the night.
                        </p>
                        <p>
                            No dislikes I can remember, was a great event. My only suggestion would be more support categories but this maybe relevant to other GPs as well.
                        </p>

                        <p>
                            The only other F1 race I have attended was this years Melbourne GP and it had many support events.
                        </p>

                        <p>
                            I am a big supporter of RICCIARDO and would love to see him race in Singapore, a great race to introduce my son to F1.
                        </p>

                        <br>
                        <b>Nathan S</b>


                        <p>
                            My wife and I attended the 2013 event. We are Australian, and both of us are veterans of the Melbourne Grand Prix. I had attended the Melbourne GP between 2003 and 2011 8 times, only missing 2010 as I was getting married! We had tickets on the main straight opposite the Renault pit garage, as we figured if we were going to do it, we would make the most of the trip there. We wound up sitting with a group of Aussies which was good/interesting to see.
                        </p>

                        <p>
                            The city itself is fascinating, and extremely easy to get around with the MRT system. The event was absolutely fantastic. One of the perks with being on the front straight, we had unlimited, free, access to the Singapore Flyer. We used this multiple times, both to cool off, and to get a different perspective on the on track events.
                        </p>

                        <p>
                            You can get way closer to the cars/track at Singapore than you can at Melbourne, and I loved the opportunity that gave me for photographs. And they looked even faster at Singapore than Melbourne!
                        </p>

                        <p>
                            Having GP2 there in 2013 was an eye opener, the first time I had seen them, and I loved them! It really was like a second, smaller, dose of F1 for me. The off track entertainment was good, my wife and I thoroughly enjoyed Tom Jones’ set.
                        </p>
                        <p>
                            Entry into, and exit from the circuit was a breeze. There was minimal waiting time in line to enter where we entered (near turns 2 and 3 from memory). Certainly far better than Melbourne in that respect.
                        </p>
                        <p>
                            One slight negative, it wasn’t clear when/if you could enter the track after the race. Melbourne makes that very clear with broadcasts towards the end of the race, and displays on the big screen.
                        </p>

                        <p>
                            Ultimately, would I do it again? In a heartbeat! But I have far more items on my motorsport bucket list, so will have to wait.
                        </p>


                        <P><i>Singapore GP response: <br/>

                                We will look into how we can better communicate when patrons can enter the track. The information is currently printed on the Race Guides, which are distributed at the gates. </i></P>

                        <br>

                        <b>Ticketyboo</b>


                        <p>
                            I’ve been fortunate enough to attend Singapore twice, once in 2012 and then again in 2015. Without doubt 2012 was the better experience – it wasn’t just the noise of the engines but also the ‘feel’ of the engines as they passed by (I had seats in the Premier T3 Grandstand on both occasions), they reverberated through your chest and the very soles of your feet – there was nothing quite like it and to say that 2015 was limp by comparison is doing a disservice to lettuce.
                        </p>

                        <p>
                            I have to hand it to Singapore, they make it an extraordinary event and a very positive experience despite the racing being as bland as hell. The effort made in to organising the venue, the entertainment, outstanding food and a positive vibe around the whole of Martina Bay takes considerable effort. The volunteers that are stewards for the weekend could not be more courteous and polite (as well as well informed) but then Singapore spoils you in that way; it’s a very clean, safe and efficient operation. For anyone complaining about temperatures and humidity – then if you have a choice don’t visit the Tropics, it’s as simple as that.
                        </p>

                        <p>
                            Another positive for me has been the support races – fantastic fun and you could argue that they provide for better racing entertainment than the F1 cars.
                            What I don’t like or appreciate is the tax that the Singaporean government applies to hotel rooms for that specific weekend – there are an awful lot of people travelling to Singapore for the race weekend from Europe (the US as I did in 2012) and Australia, it makes an absolute fortune but the additional room tax leaves a bad taste of rip-off.

                        </p>

                        <p>
                            I met Alonso in 2012, James Allen in the lift of the InterContinental as well as a number of the Williams mechanics and Force India guys, sat alongside WDC JV at the bar in the hotel this last year – it’s a venue where you don’t have to try very hard to get close to the action at the track or away from it.
                        </p>
                        <p>
                            So no, it’s not a petrol-head purist sort of venue, it’s very much an entertainment venue, but if you set your expectations accordingly you cannot fail but to have an incredible time there. I was planning on Austin or Mexico for the race this year but after seeing the entertainment line-up for Singapore I may have to make an adjustment… Wanted to include a picture but the system isn’t having it
                        </p>


                        <br>
                        <b>Jamie B</b>


                        <p>
                            Living in the region I have been fortunate to attend every Singapore GP except for 2011 & 12. I have taken seats all around the circuit, from walkabout, to Bay, to pit straight, to Stamford grandstand, to Waterfront. This year I will be at Turn 2.
                        </p>

                        <p>
                            I love the fact that you can very easily walk from the circuit to your hotel, or take the MRT (metro). Compare that to the chaos of trying to get out of Sepang by taxi!
                        </p>

                        <p>
                            The climate can be oppressive but there is not much can be done about that. Once the sun goes down it gets a little more bearable.

                        </p>

                        <p>
                            In the early years your ticket included a ride on the Singapore Flyer on practice and qualy days, which was a very enjoyable experience looking down at the cars. Unfortunately this perk is no longer included. The excellent concerts straight after the sessions really make the event – I always look forward to hearing what the line up is going to be. I am really looking forward to seeing Bastille this year.
                        </p>
                        <p>
                            In terms of improvements, F1 should bring back Kangaroo TV (later Fan Vision). With the advent of the Ipad and mobile devices, it should now be a much more viable proposition to live stream the race to mobile devices around the circuit without having to invest in the kangaroo TV sets. For the occasional attendee, they really struggle to follow what is going on, and I am sure it puts them off returning.
                        </p>

                        <p>
                            Organisers should also focus more on the support race action. The Porsche supercup and TCR series are fair enough, but bring the GP2, the Australian V8 supercars, or the Historic Formula one series again.
                        </p>
                        <p>
                            In summary the Singapore GP is one of the best organised races I have been to (I attend more than one race a year and have attended Grand Prix in 8 different countries), because of the logistics, organisation, and “event” atmosphere rather than it being just about the racing.
                        </p>
                        <p>
                            Well done Singapore!
                        </p>
                        <P><i>Singapore GP response: <br/>

                                Access to the Singapore Flyer this year is free for all Zone 1 ticketholders. </i></P>

                        <br>
                        <b>Vinnie Nguyen</b>


                        <p>
                            I attended the Singapore GP in 2013 and 2015. What an event it is!
                        </p>
                        <p>
                            I have also been to the Melbourne GP (my home) and it’s a decent event, but Singapore goes that little bit further. It’s a real party atmosphere there, which seems to attract a lot of young people. With the concerts included the in the ticket, there’s more to the event than just the F1. The concerts after the quali and race is almost like a bit of an after-party that all spectators get to go to!
                        </p>
                        <p>
                            The city itself is great, even though I don’t do so well in the high humidity climates. It’s easy to get around and the event itself is well organised. I have fond memories of the volunteers cheering us as we were leaving the track! I have to say, I’m a huge fan of night races!
                        </p>
                        <p>
                            I hope to be back soon! Almost a second home race for us Aussies!
                        </p>

                        <br>
                        <b>hulliby</b>


                        <p>
                            I attended last year’s race with my wife (not a big motorsport fan) and we both loved the whole experience. We had Bay Combination tickets, which meant we were in the Pit Grandstand for Friday practice, Padang (back straight) for Qualifying, and Bay for the race.
                        </p>
                        <p>
                            The actual race experience wasn’t the best in F1, as visibility is limited to only wherever you are. However, the overall experience is brilliant – you’d pay more than $500 just to see Pharell Williams, Maroon 5 and Bon Jovi, let alone the F1, support races, and ability to walk alongside a large proportion of the track.
                        </p>
                        <p>
                            The humidity is full on for anyone that hasn’t been in similar before, and I found it pretty disgraceful that you could only take in one 600mL bottle of water per person, especially with food and drinks in the track so expensive. I wouldn’t say it’s an overly knowledgeable crowd either, but there’s a cool mix of locals and internationals. Apart from those minor drawbacks though, couldn’t fault the experience, organisation or atmosphere.
                        </p>
                        <p>
                            Beyond the track experience, we loved Singapore as a city. We stayed NE of the track in Bugis, and found the MRT mind blowingly clean, safe and efficient. My wife loved the shopping, Sentosa Island is worth a day trip, and there’s lots of arts, history, culture, and adventure activities to keep you occupied.
                        </p>
                        <p>
                            Hopefully this year Ricciardo can go one better!
                        </p>

                        <br>
                        <b>Joe</b>


                        <p>
                            I’ve done the Singapore Grand Prix three times, and we go there because although it is a long way from the UK, it is actually a much easier journey that going to many other tracks – Spa as an example.
                        </p>
                        <p>
                            Singapore is one flight away, during which you try and sleep. You then get a taxi to your hotel, and walk to and from the track for quail and the race. Hell, why not go via a bar? You don’t need a designated driver, you don’t need to worry about car parks, and you can concentrate on Singapore’s great night life before and after the race. The race itself is often great but it’s the highlight of an otherwise brilliant weekend. You don’t have to worry about jet lag as you stick to UK time and the night life accommodates going to bed at 6am.
                        </p>
                        <p>
                            Now, let’s compare that to Spa. The race at Spa is brilliant, no doubt about it, and you can walk around a lot more of the track a lot more easily. But there’s a lot of moving parts to getting there and it’s hard to make good use of the time when you’re not watching the cars. Eurostar, then local trains, hire cars, faffing with parking at the track – someone has to drive so can’t have a beer, then you have to drive to your hotel on Sat night and back again in the morning between quali and the race… It’s tiring.
                        </p>
                        <p>
                            Some of the Singapore benefits that I’ve listed are not unique to Singapore, more City races generally vs ones in the countryside… But there’s just something about Singapore that weekend when it turns in to a party town…
                        </p>

                        <br>
                        <b>F1_Girl</b>


                        <p>
                            I’ve been to the Singapore GP twice and I’m actually planning on going again next year.
                        </p>
                        <p>
                            The city really knows how to put on an event. The atmosphere is amazing and there is constant entertainment. Between the concerts, the on track action, the city itself and driver appearances it really is a hell of an event.
                        </p>
                        <p>
                            I also like that during the build up you can walk parts of the track. It’s great watching the track being built over the week and seeing how fast the roads open up again on Monday.
                        </p>
                        <p>
                            Each time I’ve been I’ve had premier walkabout tickets and I would thoroughly recommend them to anyone going. The viewing points are great (albeit less than previous years – not sure why though). With a PW ticket you get to access all zones and see all the entertainment and you get pretty close to the cars in certain areas. Between that and the sound of the cars ricocheting off the buildings it’s amazing.
                        </p>

                        <p>
                            Plus the whole place lights up at night and looks stunning!!
                        </p>

                        <p>
                            I have always felt safe whilst there as well which is a huge plus!
                        </p>

                        <p>
                            I really can’t dig the praises of the Singapore GP enough. I love it! Can’t wait to go back next year.
                        </p>

                        <br>
                        <b>Bob Pinder</b>


                        <p>
                            I’ve pretty much been to every race and every circuit over the years and Singapore stands head and shoulders above every one
                            From ease of entry, layout, catering, entertainment, everything is brilliantly organised and truly world class
                            The only thing it doesn’t have is the history and aura of Spa and Monza – just give it time

                        </p>
                        <p>
                            Go – you won’t be disappointed
                        </p>

                        <br>
                        <b>@Damien_Marquez (GrandPrixAdvisor.com)</b>


                        <p>
                            The short version: <br/>
                            It’s an amazing event. You have to go to experience it at least once in your lifetime. Much better than what you see on TV.


                        </p>
                        <p>
                            The longer version:<br/> I try to attend one or two grands prix every year. The one I visit the most is the Australian GP in Melbourne (2006 / 2008 / 2010 / 2012-2015) but I’ve also been to Japan in Fuji and Sepang in Malaysia. As for the Singapore Grand Prix, I’ve been there 5 times in a row between 2009-2013. I would have gone since had it not been for personal commitments keeping me at bay.
                        </p>

                        <p>
                            I have bought a variety of ticket types and would consider myself an expert on both event and location having friends living there and having stayed in Marina Parade, Paya Lebar and Bras Basah.
                        </p>

                        <p>
                            From 2009 to 2011 I’ve bought the cheapest grandstand tickets (Bay, about S$270 during early bird period) and was invited to sample the Turn 3 hospitality on the 2011 Sunday race by the SGPC. In 2012 and 2013 I was based at Turn 2 (S$1088 during early bird period) facing the main straight, last and first turns on both year.
                        </p>

                        <p>
                            The Singapore GP is an event more than an F1 race. The entertainment bill is almost as impressive as the racing. It’s varied (Travis, Mariah Carey, Carl Cox, John Digweed, Maroon 5, The Killers, Noel Gallagher…), well organised most of the time e.g. in between F1 on track session (except Missy Elliott whenever this was) and adds to the party atmosphere.
                        </p>

                        <p>
                            Having the event in the centre of town (City Hall, Esplanade, Marina Bay) means the circuit is easily accessible by either foot or public transport. The late afternoon and evening schedule is great as it gives you the opportunity to explore the city state, go to the beach or just recuperate from the night before prior to going to the track!
                        </p>

                        <p>
                            Security is tight but ushers and marshals are genuine and friendly. Going in and out of the circuit is a breeze thanks to the barcode scanning. You can have dinner or take a much needed aircon break in the Marina Square or Raffles City shopping malls or even head back to your bedroom if you can afford to stay in this part of town.
                        </p>

                        <p>
                            What I also like about the night time is how different the cars look under the floodlights – amazingly beautiful. They also sound louder due to being in a city. And if you have a ticket with Zone 2 access, you can ride in a Singapore Flyer capsule to watch a support race or an F1 session from up high.
                        </p>

                        <p>
                            Facilities are top. Numbered seating, clean toilets, a TV screen close by for every grandstand and the SGP radio featuring Peter Windsor, Neil Crompton and Louise Goodman. Bleachers are also installed around the track for general admission, giving anyone with a ticket to be just meters away from the cars in Zone 4 at least. And for the lucky people able to afford a Zone 1 or premium general admission ticket, there’s the track invasion for the podium ceremony.
                        </p>
                        <p>
                            The city itself managed to put on a show by organising a lot of media events in the build up to the race with sponsor appearances listed in The Straits Times on the Tuesday before the race. Most of them happen in a shopping precinct either in Orchard road mall (Plaza Singapura, Ion, Wisma Atria, etc), Suntec City or the magnificent Marina Bay Sands building. There’s quite a lot of parties too in various clubs and bars around town during the Grand Prix Carnival Season, which last a full 10 days!
                        </p>
                        <p>
                            From a cost perspective it can be done on a shoestring budget flying Jetstar or AirAsia and staying in places such as Hotel81 (as I did in 2010) or you splash on an indulgent 4/5* hotel. The local food courts, known as hawker centres, sometimes offer the best dishes for prices so low you wouldn’t believe if it were not for government subsidies.
                        </p>
                        <p>
                            My only criticisms would be of the circuit layout itself which doesn’t promote good racing as most corners pretty much 90 degree turns and some of the weird queuing systems at the bars where you first queue to purchase a coupon then queue again to exchange it for your drinks order.
                        </p>
                        <p>
                            If you can live with that, chances are you’ll have a blast.
                        </p>

                        <br>
                        <b>Fareed</b>


                        <p>
                            I have attended 7 F1 GP’s at 6 different venues since 2011. I wrote an article for a friend’s motorsports blog detailing my experiences at Singapore and I have pasted it below. A bit has changed since 2013 I am sure, including the sounds of the engines.

                        </p>

                        <p>
                            The 2013 Singapore F1 Grand Prix

                        </p>

                        <p>
                            You have to be a very dedicated F1 fan to spend over 48 hours travelling to see a 2 hour race. But of course F1 is so much more than just the race, and perhaps nowhere else is this more true than for the Singapore Grand Prix. The fact that it is the only night race in F1 makes it slightly easier to handle the severe jetlag (Singapore is 12 hours ahead of Toronto). All of the teams and drivers simply stay on European time, so they sleep until early afternoon, and stay up until almost dawn. We couldn’t quite match that schedule, but a late morning start left time for sightseeing before heading over to the race venue. Singapore is one of the great international cities of the world and well worth a trip in itself. All of our hotel, race tickets, and trackside hospitality was arranged by UK-based BAM Motorsports.

                        </p>
                        <p>Our hotel – The Ritz Carlton Millenia – was within the race track circuit and our 24th floor room had spectacular views of the track and beautiful skyline. Check out this video of the view from our hotel room: <a href="https://www.youtube.com/watch?v=rOnOUok5cxY " target="_blank">https://www.youtube.com/watch?v=rOnOUok5cxY</a> In fact, you could sit in your bathtub and have a perfect view of the DRS straight between turns 5 and 7. Most of the teams, drivers and other VIPs stayed at the same hotel. When we walked into the lobby to check-in, we bumped into Sir Jackie Stewart. Getting off the elevator, Bernie Ecclestone and Niki Lauda are waiting for you to get out. We had breakfast next to David Coulthard, who was very pleasant and chatted with us a bit.</p>
                        <p>The height of F1 luxury is the well-known Paddock Club and once you experience it, it’s hard to settle for anything else. We were guests of the Red Bull team and their suite has the reputation of being more laid back than other teams, with a cool, non-corporate vibe. A live DJ plays music the whole time and the video screens show live feeds from the garage. One unique aspect of the Red Bull suite is they take guests right into the garage for visits- even during the race if you are lucky enough. We also got to meet Vettel, Weber, and David Coulthard who all did Q+A sessions and then signed autographs. Red Bull also lets you access the secure paddock area where the teams have their private motorhomes. Going through there we ran into several drivers including Kimi and Maldonado. Other celebrity sightings included David Beckham , and 8 Miss Universe pageant contestants who turned the traditional pitlane walk into more of a catwalk.</p>
                         <P>   Other areas of the Paddock Club provide live entertainment, various bars, and amazing food. One room had a branch of the famous Nobu restaurant providing all-day all-you-can-eat sushi and sake. There was also a Jean Georges restaurant serving all-you-can-eat gourmet tapas. Given the climate of Singapore, even for a night race, the heat and humidity requires that the suites be fully enclosed. The disadvantage is that unlike at other races you cannot hear the thrilling sounds of F1, or lean over to view the pit lane. However, you can take a short walk over to the VIP grandstands which overlook the pit exit and turn 1.
                        </p>
                        <P>In terms of the on-track activities, it is important not to focus just on F1. There were excellent support races as well. The Asia Porsche Carerra Cup and the GP2 series also ran races. The advantage of these races is that there are less crowds so you can get very close to the cars, drivers, and pit garages. We got to view a live in-race GP2 pitstop from about 2 feet away. It was also fascinating to compare the Porsche Cup cars to the F1 cars in terms of the racing lines and braking points used. The differences are quite amazing with the Cup Cars looking like a horse & buggy in comparison. For the F1 race, we observed the start from the outside grandstands which were perfectly situated right at turn 1. To see the full field thunder down and squeeze through the first few turns without major incident was incredible.</P>
                        <p>One of the highlights of the trip was being able to get right up against the barriers at Turn 5. This is a fast right hander just before the long DRS straight. They enter the turn at 200 kph, brake hard, then accelerate through the apex at 135 kph and reach 280 kph after the exit. You really appreciate the aerodynamics of the cars when you see them heading straight towards the wall and then miraculously turn in. And the sound of course is unbelievable. Check out the video here: <a href="https://www.youtube
                                .com/watch?v=WJ0wDx6eALE" target="_blank">https://www.youtube
                                .com/watch?v=WJ0wDx6eALE</a>
                            For overall experience, the Singapore GP is hard to beat. With the shifting of economic powers towards the far east, it is starting to replace Monaco as the most glamorous and important event for sponsors, businesses and fans alike. A great place to experience the sights and sounds of F1 racing.
                        </p>

                        <br>
                        <B> Glenn</B>
                        <p>Hi, I have been a Formula One tragic for many, many years and have been to 5 of the last 6 AGP’s in Melbourne with mates (was fortunate enough to win a Minardi 2 seater ride in 2010, but that’s another story). Last year I took my family (wife, daughter and son) to the the Singapore GP, which was their first. They had no interest in F1 beforehand. The vibe, atmosphere and excitement of the night GP at Singapore had them hooked. Yes it was hot, steamy and, in the general admission area, very crowded, but what an invigorating buzz for all. Close to the action, under lights, great racing and the engines actually had enough night time grunt to tingle the ear drums. Significant result with Seb and Ferrari winning (always a great crowd reaction when the scarlet car wins) and Dan coming second (surely the most complete driver on the grid). Singapore is a great place to visit, great food, lovely sites, friendly people and great value, we will be going back and I highly recommend the experience.
                        </p>

                        <br>
                        <B> Matt</B>
                        <p>Went to the Singapore GP in 2013 and 2015. Great atmosphere, great city. Something very special about F1 under the lights. Early bird prices pretty reasonable when you take into account the off track entertainment. Would thoroughly recommend going. Planning on going again in 2017.
                        </p>

                        <br>

                        <B>Nic</B>
                        <p>I’ve been to Singapore for the last 3 GPs – it is definitely my favourite race to attend (live in Sydney, so ‘my’ races are Melbourne, Malaysia, Singapore and Japan). I only get GA tickets and wonder about – because for me it is all about the atmosphere – and as long as you can see a screen, smell the fuel and hear the roar I am a happy man. Plus with the insane humidity it is nice to be able to move about and enjoy some aircon from time to time. The GP is the ultimate experience because it is right in the center of a great city – the entire country can’t help but get involved in it. Each time I have gone I have flown in on the Thursday and out on the Sun night after the race, so haven’t been able to stay for the big shows, but the festival nature of the race means that people get involved even if they have no interest in the sport. Tickets are expensive – but it is a unique treat that I look forward to each year. Would definitely recommend it!</p>

                        <br>

                        <B>Tom Collins</B>
                        <p>My friend and I made a 4-day trip out to Singapore last year for the grand prix and had a great time. The location is fantastic being downtown with lots of other attractions to enjoy over the weekend.</p>
                        <p>We bought Premier Walkabout passes which gave us access to all zones around the track – overall I’d recommend them, but the one frustration with them was the lack of access to any of the grandstands even during Friday practices. Due to the track being so flat the visibility wasn’t great from the sidelines even though you could get very close indeed to the cars.</p>
                        <p>We ended up finding a good spot just before the last double-apex corner where there are some smaller stands that walkabout ticket holders can access.</p>

                        <p>On the plus side we got a great sense of the track having walked alongside nearly all of it across all the sessions. There are a few spots near Turn 1 that I’d recommend as well as generally across the last sector.</p>
                        <p>We’ll definitely make the trip out again at some point if not this year – but maybe choose a grandstand.</p>
                        <br>
                        <B>David S</B>
                        <p>I attended the inaugural race in 2008. I had a grandstand seat in the Bay grandstand, scene of the infamous Piquet crash. The event was superb. Organisation was very professional, transport on the MRT very efficient and off-track entertainment well done. The city embraced the event and invested heavily in it and it showed. For me the over-riding experience was that the organisers saw the spectators as adding value and treated us well and with respect. A very welcoming atmosphere from airport entry to departure. Young Singaporeans voluntered as spectator marshalls and really gave the event a youthful, modern and vibrant feel. They represented their city and country very well. As with all modern F1 races access was a little restricted around the ‘stars’ but at Singapore you could gain some access around the back of the pit garages back then. A great event and the night racing was a sight to behold. Great memories.</p>
                        <br>
                        <br>
                        <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p>


                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}