{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2016 Highlights of the Formula 1
 Where to get the most out of the F1' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Azerbaijan (European) Grand Prix highlights
                        </h2>
                        </p>
                        <p>
                            Posted on 20 June 2016
                        </p>

                        <p>
                            <b><i>Azeri anti-climax</i></b>
                        </p>

                        <p>
                            After a Sunday afternoon GP2 race that saw an endless stream of Safety Cars and more shunts than the bumper cars at a funfair, expectations were high for a dramatic start to the first European Grand Prix since 2012.
                        </p>

                        <p>
                            But all 22 Formula One drivers were on their best behaviour, going softly into the hard-braking Turn One with only the slightest of contact between cars.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160620/europegp_1.jpg"
                             align="center" hspace="12"/>

                        <p>
                            Despite predictions of Safety Cars and on-track chaos, the Baku City Circuit claimed its victims through equipment failure and mechanical gremlins, and not as the result of crashes and collisions with the tight walls of the UNESCO World Heritage Site or errors in judgement as drivers slammed on the brakes for Turn One at the end of the 1.2 kilometre straight that saw the fastest cars tearing through the speed trap at over 360 kilometres an hour.
                        </p>

                        <p>
                            Instead of the anticipated near-misses and wheel-to-wheel battles, the drama in Azerbaijan came mainly from frustrated drivers swearing on team radio. Tyre degradation was nowhere near as severe as anticipated, and the faster one-stop strategy ensured a largely processional race.
                        </p>

                        <p>
                            <b><i>Radio blah-blah</i></b>
                        </p>

                        <p>
                            While the new rules restricting radio communications between team and driver have been in force since the start of the season, it was only in Baku that the impact was made obvious to the watching fans.
                        </p>

                        <p>
                            Lewis Hamilton spent a significant chunk of the European Grand Prix frantically adjusting settings on his steering wheel as he knew that there was something wrong with his car but wasn’t sure what the problem was or how to fix it. The Mercedes driver’s afternoon was impacted by what the team called “de-rates” (lower than maximum electrical deployment in layman’s terms), and had to fiddle with buttons until he hit on the right solution.
                        </p>

                        <p>
                            As soon as Hamilton had fixed the problem, he went purple, setting the fastest time in every sector, but by that late stage of the race it was too late for the Briton to do anything more than maintain the solid fifth place in which he was running. Race winner Nico Rosberg had the same issues as his teammate, but was able to get to the bottom of the problem more quickly than his championship rival.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160620/europegp_2.jpg"
                             align="center" hspace="12"/>

                        <p>
                            Mercedes were not the only team to feel the effects of the radio ban in Azerbaijan -
                            when Kimi Raikkonen asked race engineer Dave Greenwood to explain one of his settings, he was told “I can’t answer, Kimi.” “Surely you can say yes or no?” the Finn responded. “I can’t answer, Kimi,” was the reply.
                        </p>

                        <p>
                            <b><i>No diplomatic immunity for Alonso</i></b>
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160620/europegp_3.jpg"
                             align="center" hspace="12"/>
                        <p>

                        <p>
                            Being the official ambassador of the European Grand Prix afforded Fernando Alonso with no special privileges on the streets of Baku, as the McLaren driver was forced to retire from the race with only seven laps remaining.
                        </p>

                        <p>
                            Despite a strong performance from the Spanish racer - who was disadvantaged by his Honda power unit’s lack of relative thrust on the Baku City Circuit’s long straight and uphill climbs in the second sector - Alonso was easy pickings for his rivals during the closing stages of the race, with car after car passing the McLaren with ease. Team radio revealed that the Asturian had lost the ability to downshift going into the slower corners, and the decision was made to retire the car and reduce the strain on parts with a strict shelf-life.
                        </p>

                        <p>
                            Historically a strong performer on street circuits, the bad luck suffered by Alonso in Baku has no bearing on his likely performance at Singapore’s Marina Bay Street Circuit in three months’ time - mechanical troubles can strike any time, any place, and usually without rhyme or reason. The lost points in Azerbaijan are not worth crying over, as no one at McLaren expected Baku to be a track at which their car would be strong.
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}