{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Five things you missed at the Bahrain GP' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>

                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>Five things you missed at the Bahrain GP</h2>
                        </p>
                        <p>
                            Posted on 4 April 2016
                        </p>


                        <p>
                            <strong>Mercedes has problems with starts</strong>
                            <br>
                            <br>
                            Lewis Hamilton again fluffed the race start, this time dropping to seventh, after tangling with Valtteri Bottas in Turn 1 after another poor getaway. Mercedes estimates that the damage he sustained cost him about a second per lap of performance, which is why he could only recover to third. The new rules for 2016 mandate a single clutch lever and Mercedes has some work to do on its clutch; at the moment it’s the only weak point of the car.
                        </p>

                        <p>
                            <img width="610" src="http://www.singaporegp.sg/media/insights/20160404/mercedes.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            <strong>Ferrari is pushing to the limit on engines</strong>
                            <br>
                            <br>
                            From last season to this, Ferrari had quite a performance gap to make up to Mercedes and it’s clear that they took some risks on the engine side, which is Mercedes’ greatest strength. But when you push things, they break and Sebastian Vettel’s engine failure on the formation lap was costly. He is now 35 points behind Rosberg after just two races. A new turbo is expected for the next round in China.
                        </p>
                        <p>
                            <strong>Williams makes a strategy mistake</strong>
                            <br>
                            <br>
                            Williams were sitting pretty on the opening lap after Hamilton and Raikkonen both made poor starts and Felipe Massa found himself in second place. With a Mercedes engine car, he should have been able to translate that into a top five finish, but a lack of options on race strategy cost him. While most of the field favoured the supersoft tyres and multiple stops, Williams went for medium tyres at the first stop and Massa had no pace on them. He ended
                            up 8<sup>th</sup>.
                        </p>

                        <p>
                            <strong>Midfield rivals poised to complain about Haas performance</strong>
                            <br>
                            <br>
                            Romain Grosjean followed up his sixth place for the new American team Haas F1 with fifth place in Bahrain. Again this had a lot to do with smart race strategy, as Haas was one of the first teams to choose to go with multiple stints on supersoft tyres.  But there is likely to be some controversy: rival teams grumble about the way Haas has bought as much of the car as possible from Ferrari, using unlimited wind tunnel time last year, whereas existing teams were constricted by rules controlling the use of wind tunnels. F1 teams don’t do jealousy very well.
                        </p>
                        <p>
                            <img width="610" src="http://www.singaporegp.sg/media/insights/20160404/haas.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            <strong>Manor is no longer the backmarker</strong>
                            <br>
                            <br>
                            Pascal Wehrlein qualified 16th out of 22 cars and finished 13th. This might not sound that impressive, but the team has been used to racing around two seconds a lap off the pace of the slowest midfield cars. The Manor team was only rescued from administration at the start of 2015 and is underfunded in comparison with the other teams on the F1 grid. Wehrlein had a tricky debut qualifying in Melbourne, but a stronger race thanks to a rocket start. Here he was impressive, finishing ahead of both Force India cars, and a Sauber.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}