{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Abu Dhabi GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            Five Things You Missed at the Australian GP
                            </h2>
                        </p>
                        <p>
                            Posted on 21 March 2016
                        </p>
                        <p>
                            <b>The German Rivalry</b>
                            <br/>
                            <img width="610" src="http://singaporegp.sg/media/insights-2016/Five_Things%20You_Missed_At_The_Australian_GP.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            Sunday’s Australian Grand Prix was effectively Mercedes driver Nico Rosberg’s fourth-straight win; counting back from the three-consecutive victories that he took from Mexico to Abu Dhabi last year. The German made a better start than teammate Hamilton at Albert Park, but spent the first half of the race behind the two Ferraris. Rosberg’s race came alive after the red-flag period on the medium tyres – he chased down Sebastian Vettel, but a botched pit-stop by the Scuderia on lap 36 allowed his countryman to get ahead and never look back. Vettel’s teammate Kimi Räikkönen wasn’t able to challenge, after he retired on lap 23 with fire bellowing from his Ferrari’s airbox on account of a turbo failure.
                        </p>
                        <p>
                            <b>Hamilton continues to set records </b>
                            <br/>
                            <img width="610" src="http://singaporegp.sg/media/insights-2016/Five_Things%20You_Missed_At_The_Australian_GP_1.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Mercedes driver Lewis Hamilton achieved his 50th pole position in Melbourne – and is now third on the all-time list behind his hero Ayrton Senna and Michael Schumacher. And while he didn’t win, he took his 88th podium place. The Brit’s race went awry when he made a bad start, and was immediately passed by his teammate Nico Rosberg and the two Ferraris. Hamilton was stuck behind Max Verstappen’s Toro Rosso in the race’s early stages, but fought his way back to second – only to come under fire from Vettel in the closing laps.
                        </p>
                        <p>
                            <b>Haas F1 Team scores points on debut</b>
                            <br/>
                            <img width="610" src="http://singaporegp.sg/media/insights-2016/Five_Things%20You_Missed_At_The_Australian_GP_2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            The Australian Grand Prix was also a first for a number of things – Haas F1 Team became the first rookie outfit to score points on its debut since the now-defunct Toyota team at Albert Park in 2002; the race was the first to be red-flagged since the 2014 Japanese Grand Prix, and McLaren driver Fernando Alonso’s first-ever retirement from an Australian Grand Prix in his 14th visit. And it’s one that he’s unlikely to forget, given the way in which his front right tyre made contact with the Haas’ Esteban Gutiérrez’ left rear on the way down to Turn 3 – sending the Spaniard into a horrifying barrel-roll, reminiscent of Martin Brundle’s dramatic crash there in a Jordan in 1996. Luckily Alonso escaped unhurt.
                        </p>
                        <p>
                            <b>Competition is heating up in Toro Rosso</b>
                            <br/>
                            <img width="610" src="http://singaporegp.sg/media/insights-2016/Five_Things%20You_Missed_At_The_Australian_GP_3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            It was a tough race for Red Bull Racing’s sister team Toro Rosso, which had both drivers in points paying positions (something the team only managed to achieve on four occasions in 2015) – but ran the risk of losing it all, on account of young-gun Max Verstappen’s attempts to pass his teammate for a chance to take on the Renault of Jolyon Palmer ahead. The Dutchman tried everything, from lunging at Sainz into corners to pleading the pit-wall to be let him past. In the end, he made an ambitious move on Sainz at Turn 15 on lap 53, they made contact and he spun – ending his chances of getting past, but retaining his one point for 10th place.
                        </p>
                        <p>
                            <b>Impressive start for Renault</b>
                            <br/>
                            <img width="610" src="http://singaporegp.sg/media/insights-2016/Five_Things%20You_Missed_At_The_Australian_GP_4.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Renault surprised on its return as a works manufacturer, and while neither of its drivers scored points at Albert Park – 11th and 12th places for Jolyon Palmer and Kevin Magnussen respectively is an impressive start for the team considering the French manufacturer only took over the outfit in December 2015. Palmer will be happy with his effort this weekend in Melbourne, given he not only outqualified Magnussen on debut – but also out-raced him. The Brit came to F1 highly rated as the 2014 GP2 Champion, and impressed last year during the 13 free practice sessions he completed for Lotus.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}