{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2016 Highlights of the Formula 1
 Where to get the most out of the F1' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Where to get the most out of the Singapore GP
                        </h2>
                        </p>
                        <p>
                            Posted on 15 June 2016
                        </p>

                        <!--author-->
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/media/insights/james.jpg">
                            By James Allen
                        </p>

                        <p>
                            Singapore is one of those Grands Prix that most F1 fans have on their Bucket List; it’s one to be ticked off  - although many fans find that they come back again.
                        </p>

                        <p>
                            I’ve been now attended, in my capacity as a broadcaster and journalist, all eight Singapore GPs and have seen how the event has grown. There have been many highlights on track, like Sebastian Vettel’s amazing win for Ferrari last season and off track – like Robbie Williams singing in his socks when it rained while he was on stage!
                        </p>
                        <p>
                            There is so much to do, so how do you make sure to make the most of the weekend? Here’s my simple guide.
                        </p>



                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160617/mostoutofsingaporecircut_1.jpg"
                             align="center" hspace="12"/>
                        <p>
                            The cheapest way to enjoy the experience is the Walkabout ticket, which costs around  $268 for a 3 Day pass and allows you to move around and witness the action from special bleachers or stands at the side of the track. A good one is Esplanade Drive and Raffles Avenue, which is around Turn 14 on the race track. It’s at the top end of the track, the opposite end from the start/finish area.
                        </p>

                        <p>
                            Grandstand seats are always a good idea and come in all kinds of prices depending on where you sit. My favourite spots are the amphitheatre overlooking Turns 1 & 2 and especially Turn 3, where you get to see some overtaking and a great view of the start and finish and the amazing firework display.
                        </p>
                        <p>
                            The Turn 3 Premier stand is also a good spot to see the different driving styles of the F1 stars; how early they turn in to the corner, how early they can get onto the power, which is a sign of confidence in the car and you can judge the exit speed for the short squirt to Turn 4. There’s a buzz around that area at night, great dining facilities and all in all it’s a good place for the race.
                        </p>

                        <p>
                            A new grandstand package for this year, which really intrigues me, is the Red Bull Turbo Seat  - this would suit the many fans of Max Verstappen and Daniel Ricciardo.
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160617/mostoutofsingaporecircut_2.jpg"
                             align="center" hspace="12"/>

                        <p>
                            This seat this puts you in the Pit Grandstand right opposite the Red Bull Racing garage. Ricciardo qualified on the front row of the grid in Singapore last year and finished second in the race. Can he go one better and take pole, like he did in Monaco and a win, which was denied him in the Principality this year by a pit stop blunder?
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160617/mostoutofsingaporecircut_3.jpg"
                        align="center" hspace="12"/>

                        <p>
                            But the Turbo Seat package gives the fans a chance to get closer to the action; customers will get to rub shoulders with Red Bull Racing drivers Ricciardo and Verstappen as well as Team Principal Christian Horner at an exclusive Red Bull Racing event held in the Singapore Formula One Paddock Club on Thursday evening (15 September).
                        </p>

                        <p>
                            I’ve not seen this kind of initiative done before, but it sounds like a terrific idea. I’m sure it will be a blast for fans of those drivers.
                        </p>

                        <p>
                            If you are coming for all three days and like a bit of variety, another way to play it might be the 3 Day Bay Combination Ticket ($598), which provides some flexibility to explore different parts of the street circuit on each of the three days.
                        </p>

                        <p>
                            The Bay Combination, for example, gives you access to the Pit Grandstand in Zone 1 on Friday, the Padang Grandstand in Zone 4 on Saturday, which is up near the Padang Stage for the Concert after qualifying and then the Bay Grandstand for the race on Sunday, which is the one the cars famously pass through and underneath as they come around  the final few corners of the lap. I like that area of the track. It’s quite different from the first two sectors and there is a good atmosphere there in that Bay Section.
                        </p>

                        <p>
                            If you really want to push the boat out then the Paddock Club is an experience like no other. The entrance is close to the F1 Paddock itself, where the teams and drivers are based and the viewing areas allow an unrivalled view of the cars as they come out of the pit lane after a tyre change and you can feel the thunder at the race start itself as 22 cars bear down on Turn 1.
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160617/mostoutofsingaporecircut_4.jpg"
                             align="center" hspace="12"/>

                        <p>
                            What sets the Singapore Paddock Club apart is the sheer variety of restaurants and bars, catering to all tastes, from Asian food to French. On my visit we tasted some dishes at Jean Georges, there was a stunning Dim Sum experience from Janice Wong  and a real favourite was the Blue Fin Tuna and Soba Noodle at COMO.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160617/mostoutofsingaporecircut_5.jpg"
                             align="center" hspace="12"/>

                        <p>
                            There’s Barista style coffee outlets, a Patisserie, there are bands and solo musicians playing all the while on a stage which is located in a peaceful forum area, there are booths with Palmistry and Calligraphy and even – although I didn’t have time to go in and try it – a Marina Bay Spa.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160617/mostoutofsingaporecircut_6.jpg"
                             align="center" hspace="12"/>

                        <p>
                            I can’t wait to come back to the race again this year. I’ll be working flat out, as usual, but will try to find some time to wander around the public areas and sample the atmosphere. I hope this simple guide has been useful and I may even bump into you there.
                        </p>



                        <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}