{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2016 Highlights of the Formula 1
 Where to get the most out of the F1' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Will Red Bull or Ferrari be the first to beat Mercedes on a regular basis - and will it be in 2016?
                        </h2>
                        </p>
                        <p>
                            Posted on 17 June 2016
                        </p>

                        <!--author-->
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/media/insights/james.jpg">
                            By James Allen
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160618/redbullorferrai_1.jpg"
                             align="center" hspace="12"/>
                        <p>

                        <p>
                            The recent Grands Prix in Spain, Monaco and Canada have shown that the chasing pack is closing in on Mercedes, the dominant team since 2014.  Max Verstappen won in Spain, his Red Bull Racing team mate Daniel Ricciardo should have won in Monaco and Sebastian Vettel and Ferrari had a good chance to win in Canada. So is the turning of the tide about to happen and which team is best placed?
                        </p>

                        <p>
                            If we look at Red Bull first, the win in Spain was largely down to the two Mercedes drivers colliding on the opening lap in Barcelona. This left Ferrari vs Red Bull and the Austrian team made a strategy call which gave the win to Verstappen, who did a superb job to keep the tyres alive with a long stint to win the race and hold off Ferrari's Kimi Raikkonen. The Ferrari was slightly faster in Barcelona, but Red Bull took the honours; the only team apart from Mercedes to win a race this season.
                        </p>




                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160618/redbullorferrai_2.jpg"
                             align="center" hspace="12"/>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160618/redbullorferrai_3.jpg"
                        align="center" hspace="12"/>
                        <p>
                            Monaco was different. Daniel Ricciardo used the new upgraded Renault engine to good effect to take pole position and had the race under control until his team made some strategic errors and then lost him the race with a slow pit stop because the tyres were not ready.
                        </p>



                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160618/redbullorferrai_4.jpg"
                             align="center" hspace="12"/>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160618/redbullorferrai_5.jpg"
                             align="center" hspace="12"/>
                        <p>
                            The Red Bull certainly had the mechanical grip and the responsiveness in the chassis to beat Mercedes in Monaco and this looks likely to be the case in Hungary and Singapore as well. These are the two races Red Bull is most likely to win in 2016. The new Renault engine gives the car about 0.4s a lap faster than before. This has pushed Red Bull closer, but it's still about 30kw down on the Mercedes in outright power. That's why Hungary and Singapore, where the engine is less important are the races they can win his year.
                        </p>
                        <p>
                            So what about Ferrari? Well the red team has made a massive step forward with its car and engine this season, but a win has eluded them so far. They've had chances in Australia, Spain and Montreal but not landed the big prize due to strategy calls mainly. They are probably closer to catching Mercedes on all circuits than Red Bull, as their engine is more powerful. But they lack a little still on the aerodynamic side.
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160618/redbullorferrai_6.jpg"
                             align="center" hspace="12"/>
                        <p>

                        <p>
                            Attention now focuses on the 2017 cars, as the rules are set to change dramatically, especially on the chassis and aerodynamics side.  This needs a lot of resource and that takes away from the development time teams can spend the 2016 cars. I suspect Ferrari will close a little more on the Mercedes before the end of the season and they are likely to win a race or two, but all three teams have to think about 2017 and having the best car possible.
                        </p>

                        <p>
                            My hunch is that Red Bull will be the team to beat next season as they are the best at aerodynamics and in next year's rules the aero is more of a performance differentiator than today
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160618/redbullorferrai_7.jpg"
                             align="center" hspace="12"/>
                        <p>

                        <p>
                            What do you think?
                        </p>


                        <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}