{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2016 Highlights of the Formula 1 Russian Grand Prix' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            Highlights of the Formula 1 Russian Grand Prix
                            </h2>
                        </p>
                        <p>
                            Posted on 2 May 2016
                        </p>
                        <P>
                            <img width="610" src="http://singaporegp.sg/media/insights/20160502/russiangp_1.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            <b>Rosberg builds a commanding lead</b>
                        </p>
                        <p>
                            Nico Rosberg’s charmed life at the front of the Formula One field continued for a fourth straight race, while team mate Lewis Hamilton again had a troubled weekend. The German won the race to extend his championship lead over Hamilton to 43 points, larger than he enjoyed at any point in 2014.
                        </p>
                        <p>
                            Hamilton suffered more reliability problems with his Mercedes engine in both qualifying and the race, but still managed to finish in second place from 10th on the grid. Ferrari were not able to maximize their potential again, with Sebastian Vettel crashing on the opening lap, which triggered a Safety Car and Kimi Raikkonen losing out once again at the restart after the Safety Car.
                        </p>
                        <p>
                            Rosberg has not lost a race since the United States Grand Prix in 2015, gaining in confidence and stature since then. With a 43 point lead over Hamilton, it means that Rosberg can finish six consecutive races second behind the Englishman and still lead the championship. Surely that is a winning margin established now, unless Rosberg has a non-finish on a day when Hamilton wins the race. Vettel meanwhile has already had two non-finishes, which makes it look very unlikely that he will be able to challenge. He is now 5th in the championship 67 points behind Rosberg.
                        </p>
                        <p>

                            <img width="610" src="http://singaporegp.sg/media/insights/20160502/russiangp_2.jpg" align="center" hspace="12"/>
                        </p>
                        <P><b>First Lap collisions – again! </b>
                        </P>
                        <p>
                            The first lap again played a decisive role in the outcome of the race, with a set of collisions on the opening lap for the third time in four races in 2016. This one affected Sebastian Vettel and the Red Bull drivers, Daniel Ricciardo and Daniil Kvyat, who started it all by hitting Vettel into Ricciardo.
                        </p>
                        <p>
                            Kvyat hit Vettel a second time, pushing the Ferrari into the barriers and both Red Bulls had to pit for new front wings and tyres. The team went the wrong way on strategy, choosing the medium tyres, with the intention of trying to make the finish without stopping again. But the medium tyres proved very slow. Ricciardo had to pit again for soft tyres 23 laps from the end, finishing outside the points. The target had been to split the Williams cars, which would have meant a fifth place finish.
                        </p>
                        <p>
                            <b>Great day for the midfield teams</b>
                            <br/>

                        </p>
                        <p>
                            After a tough start to the season for Renault and McLaren Honda, both teams scored points in Russia thanks to great drives from Fernando Alonso and Jenson Button for McLaren in 6th and 10th and Kevin Magnussen in 7th for Renault.
                        </p>
                        <p>
                            The results were set up by the start; both Alonso and Magnussen picked their way skillfully through the chaos on the opening lap to run in the top ten and then maintained position, partly due to the fact that this was a one-stop race, so there were limited opportunities for rivals to get ahead on pit stop strategy and partly due to faster cars like the Red Bulls and Force Indias hitting problems.
                        </p>

                        <p>
                            <em> </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}