{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Abu Dhabi GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            Q&A with Martin Brundle, Sky Sports F1 commentator
                            </h2>
                        </p>
                        <p>
                            Posted on 22 March 2016
                        </p>
                        <p>
                            <img width="610" src="http://singaporegp.sg/media/insights-2016/Q&A_With_Martin_Brundle_1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            Martin Brundle is, for many people, an integral part of a Grand Prix experience – as one of the world’s best-known commentators. But he’s also a former driver, having started 158 Grands Prix. Stewart Bell caught up with the affable Brit to preview 2016 ahead of the new season.
                        </p>

                        <div>
                            <img width="320" src="http://singaporegp.sg/media/insights-2016/Q&A_With_Martin_Brundle_2.jpg" align="left" hspace="12"/>
                            <p>
                                <b>Q: Another big year ahead of us, and it seems like Ferrari has taken a big step towards Mercedes. What’s your take on the competitive landscape?</b>
                            </p>
                            <p>
                                <b>Martin Brundle (MB):</b> “I think we’re going to see a better year than last year, a better season. We’ve seen, in testing, the cars doing huge amounts of laps – so I think in year three of these new power units we’ve got more reliability, which is good. I think that we’re going to see an incredible amount of close racing, but not necessarily right at the front. It looks like Williams, Red Bull, Toro Rosso, Force India, we can see some brutal stuff going on there. Of course, what we all want is for that to be for the victory and for the world championship. So that’s going to rely on how well Ferrari have got their act together. Williams think they’re a bit closer to Ferrari, they also think Ferrari are closer to Mercedes – so do Mercedes, so do Ferrari. It’s just a question of how close, and when push comes to shove, do they have the reliability, do they have the speed, and do they have the efficiency? So, at this stage, you’d have to put your money on Mercedes for that.
                            </p>
                        </div>

                        <p>
                            “The other good thing is that we’ve got 22 cars on there. It’s the best grid we’ve had in F1 for a long time – and why I say that it’s not just the numbers, but that we don’t really have any cars off the back of the field that are not really serious. The Manor has moved forward a long way, Haas is quite an interesting concept to me and I think they’ll do a good job in that they’re like a mini Ferrari team. I think generally speaking we’re in for a better overall year, but it’s going to be driven by the head-to-head between the two Mercedes drivers – and that should be a little bit more ‘gloves off’ and basically we’re desperate for Sebastian Vettel and Kimi Räikkönen to be in there as well.”
                        </p>

                        <p>
                            <b>Q: You went to Singapore to see the preparations before the inaugural race in 2008, what were your impressions back then?</b>
                            <br/><b>MB:</b> “I think Singapore is probably the most important race on the championship now, for the brand of F1, as well as for the business side of it. The place just looks incredible during the race, with the night race aspect, the skyline. Just everything about it works. I think the track’s challenging. It’s the one race of the year where the drivers look battered when they get out of the cars. I met with [Singapore GP Deputy Chairman] Colin Syn in 2008 and went along and had a look. I’ve got to be honest, I looked at that, and then thought ‘this will never be ready in a month of Sundays’. But, they, of course, did get into gear and it’s been very good since.”
                        </p>

                        <p>
                            <b>Q: What are your thoughts on how it’s grown since?</b>
                            <br/><b>MB:</b> “The good thing is that it doesn’t have a billiard-table surface and the walls are close to the track, which is what I like. I like to see the cars moving around – hitting the ground and locking up on the bumps. I often go out to watch at Turn 5 there, standing alongside the wall; it makes you step back a bit every time they come through. But it makes the cars look faster, you get all that overtaking down into Turn 7 so I think that it’s developed really nicely. It’s a race we look forward to. It’s slightly weird because we operate like nocturnal creatures (on European time) basically, going to bed just before the sun comes up and then getting up at lunchtime, but that aside it’s just so easy. It’s a city with a service culture, so if you need to go and eat at 4am you can. There are lots of things for the fans to go and see, such as the music. It’s just a festival, really.”
                        </p>

                        <p>
                            <b>Q: What’s been your favourite Singapore GP?</b>
                            <br/><b>MB:</b> “I think it would have to be 2008 with Felipe Massa [then at Ferrari], where he pulled the fuel rig down the pit-lane, or the following year when Nico Rosberg [then at Williams] should have won it but bumped over the pit exit. They’ve all been pretty tough races, and they generally run to the full two-hour time limit.”
                        </p>

                        <p>
                            <em> </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}