{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2016 Highlights of the Formula 1 Monaco Grand Prix' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Highlights of the Formula 1 Monaco Grand Prix
                        </h2>
                        </p>
                        <p>
                            Posted on 30 May 2016
                        </p>
                        <p>
                            <b>Daniel pits for no rubber</b>
                        </p>
                        <P>
                            <img width="610" src="http://singaporegp.sg/media/insights/20160530/monacogp_1.jpg"
                                 align="center" hspace="12"/>
                        </p>

                        <p>
                            For the second consecutive race, Daniel Ricciardo lost out on a possible victory through no fault of his own. While the Spanish indignity came as a result of Red Bull choosing to cover the Ferrari of Sebastian Vettel and was simply a strategic error, the Australian’s Monegasque disappointment stemmed from a lack of tyres being ready when Ricciardo was called in to box.
                        </p>
                        
                        <P>
                        Instead, Ricciardo sat in his box for what felt like a lifetime, waiting for the Red Bull pit crew to fetch and change a new set of tyres, and when the Australian pulled out of the pit exit he was nanoseconds behind Hamilton’s rear wing.
                        </p>

                        <P>
                            It was a race-defining error, and one that cost Ricciardo what should have been his maiden F1 victory.
                        </p>

                        <P>
                            The typically sunny driver was uncharacteristically - but understandably - downbeat after the race. "I was called into box, I didn’t make the call, I got called,” he said. “They should have been ready. I don’t want to even comment on the race to be honest. Two weekends in a row now I’ve been screwed, It sucks. It hurts, I don’t have anything else to say to be honest.
                        </p>
                        <P>
                            "I thought I was the quickest in all conditions but second place doesn’t show much for it. I think we had the speed in the wet, on the start we pulled away. Could have fit inters and we put ourselves in a race with Lewis we didn’t need to be in, and then the pit stop was the pit stop."
                        </p>

                        <p>


                        </p>
                        <P><b>Max’s worst weekend</b></P>

                        <img width="610" src="http://singaporegp.sg/media/insights/20160530/monacogp_2.jpg"
                             align="center" hspace="12"/>
                        <p>
                            Formula One is a harsh mistress indeed. Max Verstappen went from hero to zero in the space of a fortnight, following up his impressive win on debut for Red Bull with a weekend best defined as a catalogue of errors and misfortune.
                        </p>
                        <p>
                            Verstappen’s Monaco weekend got off to a slow start - having missed out on the upgraded Renault engine the Dutch racer trailed teammate Ricciardo during Thursday’s practice sessions, and found himself struggling with traffic. But worse was to come on Saturday, when the boy wonder crashed out of Q1 having misjudged his approach to the second Swimming Pool chicane.
                        </p>
                        <p>
                            "I turned in too early, so I clipped the wall, broke the suspension and went straight into the wall," Verstappen said on Saturday. "I felt quite good [before]. On my first 'push' lap I felt more confident than all the other laps, also in terms of car balance because my second sector was two tenths faster than I had been. It was all coming together, but then into the chicane I underestimated the grip I had, turned in a bit too early, and it all went wrong."
                        </p>
                        <p>
                            That mistake led to a back of the grid start for Verstappen, but during Sunday’s race Max’s weekend went from bad to worse. Having fought his way up into a points-paying position, the Red Bull driver crashed heavily on his way into Casino, out of the race before the midpoint.
                        </p>
                        <p>
                            Given that human error and bad luck can strike at any time, there is no way of telling whether Max’s Monaco misfortunes will follow the young racer to Marina Bay in September. But having suffered the slings and arrows at Europe’s best-known street circuit, he will be out to demonstrate his way with walls when F1 returns to the most famous street circuit in Asia.
                        </p>


                        <p><b>Demolition derby and the Virtual Safety Car</b></p>

                        <img width="610" src="http://singaporegp.sg/media/insights/20160530/monacogp_3.jpg"
                             align="center" hspace="12"/>
                        <p>
                            The wet-dry-damp conditions on offer around the streets of Monaco on Sunday led to a race of attrition that saw seven drivers retire following collisions with the barriers that line the twisting corners of the principality.
                        </p>
                        <p>
                            After spending the first tenth of the grand prix under the official Safety Car, the Virtual Safety Car made no fewer than four appearances during the 78 laps of Sunday’s race. Jolyon Palmer was the first casualty of Monaco’s slippery streets, with the Renault driver losing control on the start/finish straight and sliding into Ste Devote, destroying the front of his car in the process.
                        </p>
                        <p>
                            Three laps later it was Kimi Raikkonen whose afternoon ended early. Having clipped the wall around Casino Square, the Ferrari driver powered through the tunnel with his front wing trapped under his car before pulling off and retiring at the Nouvelle Chicane.
                        </p>


                        <p>
                            Two laps after the Dane’s crash, it was the turn of Max Verstappen to cap off an incident-strewn weekend with a heavy crash at Casino. The final retirements came courtesy of the Sauber pair, who took each other out of the race when Felipe Nasr ignored team orders over the radio and Marcus Ericsson attempted to enforce the team’s decision on track.
                        </p>

                        <p>
                            While the Marina Bay Street Circuit is no stranger to races of attrition, Monaco’s one-in-three retirement rate is unlikely to be repeated this September in Singapore - while the tight corners on offer at F1’s night race are challenging, Monaco’s chaos stemmed partly from the changing track conditions and inclement weather. Thus far, every Singapore Grand Prix has been held in the dry.
                        </p>



                        <p>
                            <em> </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}