{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Three Talking points from the Malaysian Grand Prix' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>
        <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Three talking points from the Malaysian Grand Prix
                        </h2>
                        </p>
                        <p>
                            Posted on 3 October 2016
                        </p>

                        <!--author-->
                        <!-- <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/media/insights/james.jpg">
                            By James Allen
                        </p> -->


                        <p>
                            <b><i>Red Bull are getting closer to Mercedes</i></b>
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20161003/malaysiangp_1.jpg"
                             align="center" hspace="12"/>
                        <p>
                            It was a very popular win for Daniel Ricciardo in Malaysia ahead of Red Bull team mate Max Verstappen. Dan needed that after the disappointment of losing the Monaco Grand Prix due to a team blunder at a pit stop. He really wanted to win a race this season.
                        </p>
                        <p>
                            But let’s make no bones about it, Mercedes has only lost two races this year; Spain and Malaysia-  both to Red Bull Racing – and both only came about because Mercedes hit trouble. A collision in Spain and in Malaysia an engine failure for Hamilton when he was leading,  while Nico Rosberg was hit by Sebastian Vettel at the start and had to fight back through the field from 21st place.
                        </p>

                        <p>
                            That said, Red Bull were close on pace to Mercedes again, as they were in Singapore. They are certainly closing up the gap and spoiled Mercedes celebration parade today; they were supposed to be crowned constructors’ champions for the third successive year and now it’s not even sure that they will clinch in Suzuka next weekend as Red Bull took 28 points out of their lead here.
                        </p>


                       <p>
                            <b><i>Hamilton is very unhappy about reliability</i></b>
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20161003/malaysiangp_2.jpg"
                             align="center" hspace="12"/>

                        <p>Lewis Hamilton had some very harsh words for Mercedes after suffering another engine failure, this time when he was leading the race in the closing stages. Hamilton has had the lion’s share of the bad luck on reliability this season and he took it upon himself to suggest that Mercedes has some questions to answer about why his engines keep failing when Mercedes produces engines for seven other drivers in the field and yet he is the only one having problems.
                        </p>

                        <p>This is a reaction in the heat of the moment after a big disappointment on one level; but then again Hamilton had quite a long cool-down period after retiring from the race before he came out to face the media. So it was clearly a conscious decision on his part to make a statement.
                        </p>

                        <p>He had to start from the back of the grid in the Belgian Grand Prix because he needed to take a fresh engine after using up his allocation for the season of five engines. He feels that without these issues he would be leading the championship, rather than trailing Nico Rosberg by 23 points.
                        </p>

                        <p>With five races to go Rosberg needs only one more win to be in a position where he could finish second to Hamilton in the remaining events and still win the championship.
                        </p>




                        <P>
                            <b><i>Lance Stroll to be announced soon as Williams replacement for Felipe Massa</i></b>
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20161003/malaysiangp_3.jpg"
                             align="center" hspace="12"/>

                        <p>Canadian teenager Lance Stroll won the FIA European F3 championship today in Italy, the same day as the Williams team, of which he is a development driver, had a strong run with Valtteri Bottas, who finished fifth after an bold strategy call by his team to do just one stop. Everyone else did tow stops.
                        </p>

                        <p>With Felipe Massa having announced his retirement in Monza last month, there is a free seat at Williams and Stroll will be announced soon as the replacement. He is only 17 years old at the moment, but turns 18 later this month.
                        </p>

                        <p>He has an extensive test programme in place to prepare him with track time in a 2014 hybrid turbo Williams Mercedes. The F1 rules permit tests with cars which are two years old and Stroll and Williams are taking full advantage of that.
                        </p>

                        <p>It’s a big ask for a driver to step straight from F3 to F1, but Max Verstappen did it at the age of 17 and has been superb. Stroll is hoping to follow suit.
                        </p>




                        <!-- <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p> -->


                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}