{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Highlights of the British Grand Prix' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what's new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you'd like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}
                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}

                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Highlights of the British Grand Prix
                        </h2>
                        </p>
                        <p>
                            Posted on 10 July 2016
                        </p>

                        <p>
                            <b><i>Radioing Rosberg</i></b>
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160710/britishgp_1.jpg"
                             align="center" hspace="12"/>
                        <p>
                            Nico Rosberg crossed the finish line of Sunday’s British Grand Prix in second place, but it remains to be seen whether or not that result will be allowed to stand pending a stewards’ post-race investigation into the legality of some of the radio traffic between the German racer and the Mercedes pit wall.
                        </p>

                        <p>
                            On lap 47, Rosberg was running in second place, albeit nearly ten seconds behind teammate Lewis Hamilton on track, with the Red Bull of Max Verstappen close behind. Having lose three seconds to Hamilton in the preceding two laps, Rosberg radioed the team in a panic, crying “gearbox problem!”.
                        </p>

                        <p>Race engineer Tony Ross replied, telling his driver to work the settings on the steering wheel. “Driver default 1-0-1, chassis default 0-1, chassis default 0-1,” Ross said. “Avoid seventh gear Nico, avoid seventh gear.” “What does that mean, I have to shift through it?” Rosberg asked, getting the response “affirm Nico, you need to shift through it. Affirm, you need to shift through it.”
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160710/britishgp_2.jpg"
                             align="center" hspace="12"/>
                        <p>
                            The conversation appeared to be in violation of this year’s rules governing radio traffic between car and team, with Rosberg being given far more information on solving his problem than Hamilton had been allowed in Baku last month. The stewards announced that the radio messages would be subject to a post-race investigation which was still ongoing at the time of writing.
                        </p>

                        <p>
                            Speaking in the post-race press conference, Rosberg was confident he would not be penalised. "It was a very critical problem, I was stuck in seventh gear and was about to stop on track," he said. "So they told me to change the default to try and fix it."
                        </p>

                        <p>Given that other drivers have been denied help fixing their cars on track this season in similar circumstances, the situation is not as black and white as Rosberg appears to feel.
                        </p>
                        <P><b>Update: Nico Rosberg has been demoted to third place in the British GP after a <br>10-second penalty for breaking radio transmission rules</b></P>

                        <p>
                            <b><i>Trailer park boys go round the outside (round the outside)</i></b>
                        </p>



                        <p>
                            If there can be said to be trends in overtaking in Formula One, then the hot manoeuvre at Sunday’s British Grand Prix was the unexpected pass around the outside, as ably demonstrated - defined, even - by Max Verstappen sweeping past Nico Rosberg around Becketts when the pair were still on inters in the opening phase of the race.
                        </p>

                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160710/britishgp_3.jpg"
                             align="center" hspace="12"/>

                        <p>
                            "That move at Becketts... that was pretty sensational," Red Bull team principal Christian Horner said after the race. But Verstappen downplayed the achievement in his post-race comments, showing humility atypical of an F1 superstar in the making.
                        </p>

                        <p>
                            “The move on the outside at Becketts was fun,” the Dutch racer said. “He was finding the inside so I thought ‘let’s try the outside’. It was a risky move for sure. The car had the grip and I had the feeling so it worked well. There’s a bit of run off there anyway so I had room if it went wrong.”
                        </p>
                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160710/britishgp_4.jpg"
                             align="center" hspace="12"/>

                        <p>
                            Another man to spend the afternoon trying to go “round the outside” was the grossly underpowered Fernando Alonso, who was busy chasing down the scrapping pair of Nico Hulkenberg and Felipe Massa, attempting outside overtakes before the Brazilian peeled into the pits for fresh rubber.
                        </p>

                        <p>
                            Later in the afternoon the Spaniard tried to pass his former Ferrari teammate around the outside of the Wellington Straight, but the McLaren was unable to make it past the Williams on that occasion, despite his best attempts to make the most of unexpected passing opportunities to circumvent his car’s relative deficiencies.
                        </p>

                        <p>
                            “We are P12 and P13, so I don't think we should be very proud of today's race," the Spanish racer said. “It is the way it is. Probably we could have a point or two with my car, but it's difficult to overtake any cars with the power we have at the moment, so we have to invent some places like Turn 1 or Turn 2.”
                        </p>


                        <p>
                            <b><i>Victims of Abbey (road)</i></b>
                        </p>



                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160710/britishgp_5.jpg"
                             align="center" hspace="12"/>

                        <p>
                            The wet-to-dry conditions on offer in the first part of the British Grand Prix saw the field struggling for grip, leading to errors both major and minor - especially at Abbey, which saw off-line visits from nearly half the grid during 52 laps of Silverstone Circuit.
                        </p>
                        <p>
                            First to suffer was Manor’s Pascal Wehrlein, who aqua-planed into the gravel when the pack was running behind the Safety Car, telling his team over the radio that he’d had “no chance”, thanks to the total lack of grip.
                        </p>

                        <p>
                            Wehrlein started a trend, and the wet patches around Abbey saw Kimi Raikkonen take a side trip to Oxford via the run-off, a handful of laps before Ferrari teammate Sebastian Vettel made a similar - if shorter - detour.
                        </p>


                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160710/britishgp_6.jpg"
                             align="center" hspace="12"/>

                        <p>
                            But the hero of Abbey had to have been Fernando Alonso, who refused to let being beached in the gravel affect his ability to race. The McLaren driver span three times into Abbey, ending his rotational journey not far from the wall, but gunned his engine and - following a few sprays of gravel - managed to get his car back on track, racing on to 13th place.
                        </p>


                        <p>
                            Other drivers to take Abbey off road included Carlos Sainz Jr., eventual race winner Hamilton, Sergio Perez, Rio Haryanto, and Max Verstappen, although the third-placed finisher had less of a detour than what the Red Bull driver called “a few moments”.
                        </p>



                        <img width="610" src="http://www.singaporegp.sg/media/insights/20160710/britishgp_7.jpg"
                             align="center" hspace="12"/>

                        <p>“I had a few moments,” Verstappen said. “It’s very difficult because I think when everybody touched the water sometimes the spray goes to the left so you just approach it exactly the same way but suddenly you pick up a little bit of water on the tyre and you just slide off. I think Lewis went off and I went off on the same lap so I think because of the spray it comes onto the normal racing line and then you have a bit of a moment when you have to go off.”
                        </p>



                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}