{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 5 things we learnt from the Barcelona test' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            5 Things We Learnt From the Barcelona Test
                            </h2>
                        </p>
                        <p>
                            Posted on 5 March 2016
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="/media/insights/james.jpg">
                            By James Allen
                        </p>
                        <p>
                            <b>
                                The cars sound much better
                            </b>
                            <br>
                            <img width="610" src="/media/insights-2016/The-cars-sound-much-better.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            Those who like their F1 nice and loud will be encouraged by the sound of the F1 cars at this year’s Formula 1 Singapore Grand Prix. The hybrid turbo engines were too quiet for many people’s tastes when they were launched. To improve the sound for 2016 an extra exhaust pipe has been added and it has made a difference. Although you still don’t need earplugs at the race track, you can no longer carry on a conversation when a car goes past and they sound far more meaty.
                        </p>
                        <p>
                            <b>
                                Ferrari is pushing very hard to catch Mercedes
                            </b>
                            <br>
                            <img width="610" src="/media/insights-2016/Ferrari-is-pushing-very-hard-to-catch-Mercedes.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            For the last two years Mercedes have had it too easy, dominating the sport like no team before due to the prowess of their hybrid turbo engine and a very strong chassis. Ferrari managed to win three races last year, including Singapore, but for 2016 their chairman Sergio Marchionne has said that they have to be in the title hunt. Testing shows that Ferrari has thrown everything at it; the engine is stronger and the chassis is a lot better. They set the pace in testing, but was Mercedes holding something back? We’ll find out in Melbourne, but this writer thinks the gap has come down to a few tenths of a second.
                        </p>
                        <p>
                            <b>
                                It’s very close in midfield and there’ll be surprises
                            </b>
                            <br>
                            <img width="610" src="/media/insights-2016/Its-very-close-in-midfield-and-there’ll-be-surprises.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            The chasing pack behind Mercedes and Ferrari is pretty competitive with Williams, Red Bull and Force India in that order pursued by Toro Rosso.  At the other end of the scale McLaren, Renault and Sauber are struggling. There will be a big fight for the points positions at races this year and the racing in midfield should be very exciting.
                        </p>
                        <p>
                            <b>
                                The new qualifying format will be exciting with these cars and tyres
                            </b>
                            <br>
                            <img width="610" src="/media/insights-2016/The-new-qualifying-format-will-be-exciting-with-these-cars-and-tyres.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            The governing body has voted through a new format for qualifying whereby the slowest cars are eliminated as the session goes on. This will make for fast and furious action and the chance that a few big names will end up down the grid if they can’t get a clean lap in. With new tyre rules as well offering more variety of choices, including softer sets for the midfield and slower cars in the race, it will be very stressful for the teams to make the right calls. Expect surprises.
                        </p>
                        <p>
                            <b>
                                The backmarkers aren’t off the pace any more
                            </b>
                            <br>
                            <img width="610" src="/media/insights-2016/The-backmarkers-aren’t-off-the-pace-any-more.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            The backmarkers last season, Manor Racing, have had a massive injection of pace from a new Mercedes engine and a new chassis, with more sophisticated aerodynamics. They are at least three seconds per lap faster than last season, so the field has bunched up as a result. The team has some big names in its new management, including former Ferrari designer Nick Tombazis and former McLaren sporting director Dave Ryan. With Mercedes protégé Pascal Wehrlein at the wheel, this team are not tail-end Charlies any more.
                        </p>

                        <p>
                            <em>Photo credit: LAT Photographic</em>
                        </p>
                        <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}