{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Austrian GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}

    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Austrian GP Qualifying Report</h2>
                    </p>
                    <p>
                        Posted on 21 June 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport04.jpeg">
                        By Bob Constanduros
                    </p>
                    <p>
                        <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/austrian-qualifying-report01.jpg" align="center" hspace="12"/>
                    </p>
                    <p>
                        It was extraordinary to see both Mercedes off the circuit at the end of qualifying for the Austrian Grand Prix on Saturday afternoon. This writer has never
                        seen that in Formula One certainly not on a dry track. Would they have the same problems in the race itself, was surely the question to be asked? We had
                        seen lots of drivers off at turns one and eight and nine in practice and here, at the end of Q3, were the two Mercedes parked, one at the start of the lap,
                        one at the end. But they were still on the front row of the grid.
                    </p>
                    <p>
                        The usual four hours of pre-qualifying practice left a number of unanswered questions. Drivers seemed to have a massive amount of trouble turning into the
                        penultimate corner, which compromised the next corner onto the main straight, and often, they would go off at turn one too. It’s rare to see drivers having
                        quite so many problems with just one corner – and it didn’t seem to get any better.
                    </p>
                    <p>
                        Lewis Hamilton was one of those afflicted – almost every driver seemed to have trouble with that corner if the truth were told – but he never managed to
                        set a fastest time in either of Friday’s sessions which is rare. Teammate Nico Rosberg seemed marginally happier and although Sebastian Vettel was quickest
                        on Friday afternoon, he also had a transmission problem plus unrelated gearbox trouble which might compromise his prospects.
                    </p>
                    <p>
                        Kimi Raikkonen was another of those to suffer at turn eight, while Williams were slow to show their hand, having occupied the front row last year. Pastor
                        Maldonado was a promising fourth in the afternoon session, while McLaren’s disasters seemed to get worse.
                    </p>
                    <p>
                        On Saturday morning, many drivers had failed to set a time when the rain began to fall halfway through the session after a McLaren-induced red flag. Vettel
                        was quickest again while Hamilton didn’t even try to experience the wet circuit at the end of the session. So qualifying – on a wet or dry track – was
                        eager awaited. If it remained wet, it was would be a real challenge.
                    </p>
                    <p>
                        Qualifying started on a damp track with the times progressively tumbling, but the really big surprise was the elimination of Kimi Raikkonen with a
                        mechanical problem – allegedly – at the end of Q1, which would see him take no further part. Strangely, Maldonado was one of the casualties on a now dry
                        track for Q2, along with Sainz and Ricciardo, while no one really seemed able to challenge the Mercedes in Q3.
                    </p>
                    <p>
                        Lewis Hamilton said it was one of the worst qualifying he’s had this year, and yet he still ended up on pole. Nico Rosberg might have deposed him, but he
                        still had problems on his final lap as he was hunting Lewis’s lap time and might just have beaten him but for the late spin. Sebastian Vettel was their
                        nearest challenger, while the Williamses sandwiched Nico Hulkenberg’s Force India in fifth place.
                    </p>
                    <p>
                        <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/austrian-qualifying-report02.jpg" align="center" hspace="12"/>
                    </p>
                    <p>
                        But even on this track where Williams were on the front row last year, no one seemed able to challenge the Mercedes. Having said that, two sheepish
                        Mercedes drivers seemed quite capable of wrecking their own race and Ferrari seem to have struck reliability problems. On a slippery track which is
                        encouraging driver errors, we might just see a different winner for the race itself. Someone only has to push Mercedes and mistakes may be made.
                    </p>
                    <p>
                        <em>
                            Bob Constanduros is the on-circuit commentator at most Grands Prix worldwide. After a career in motor sport journalism dating back to the late sixties,
                            he was officially asked to provide English language commentary at Grands Prix in the mid-eighties and hasn’t missed a Grand Prix since 1985, totalling
                            over 550 Grands Prix. Despite his Greek name, he was born in England and lives there, not far from the Goodwood circuit where he saw his first motor
                            sport in the fifties. He has taken an interest and worked in all forms of motor sport from karting through rallying to sports and touring cars, and has
                            commentated at every Formula 1 Singapore Grand Prix since the race began. He has worked in all forms of media, and still works for the FIA and FOM as
                            well as individual race promoters.
                        </em>
                    </p>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}