{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Bahrain GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}

    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Bahrain GP Qualifying Report</h2>
                    </p>
                    <p>
                        Posted on 19 Apr 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg">
                        By James Allen
                    </p>
                    
                    <p>
                        <img
                            width="552"
                            height="368"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport-brahrain01.jpg"
                            style=" width: 100%; margin-left: 0px;"
                        />
                        If qualifying for the Bahrain Grand Prix was something of a breakthough for Lewis Hamilton, with his first pole position at the Sakhir circuit and his
                        fourth in a row this season, it was an even bigger breakthrough for Sebastian Vettel and Ferrari who split the Mercedes on the grid on a dry track for the
                        first time and who now look a major threat for the race. Vettel’s front row start in Malaysia was achieved in wet conditions.
                    </p>
                    <p>
                        <img
                            width="265"
                            height="176"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport-brahrain02.jpg"
                            align="left"
                            hspace="12"
                            style="margin-top: 5px;"
                        />
                    </p>
                    <p>
                        This is the same grid line up, with Nico Rosberg in third place, as in Malaysia; a race which Vettel went on to win. Mercedes thought they had a
                        performance margin over the Ferraris and so far they are learning that this may no longer be the case.
                    </p>
                    <p>
                        Friday’s free practice session showed that the Ferraris were slightly faster than the Mercedes on the long runs, especially on the soft compound Pirelli
                        tyre, which is likely to be the favoured race tyre for tomorrow as it is substantially faster than the medium on this track in these conditions. It is one
                        of the tyres that Pirelli brought to last year’s Singapore Grand Prix and which featured prominently in the race. It will do so again tomorrow in Bahrain
                        and most of the cars will spend most of the race on it.
                    </p>
                    <p>
                        <img
                            width="247"
                            height="165"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport-brahrain03.jpg"
                            align="right"
                            hspace="12"
                            style="margin-top: 5px;"
                        />
                    </p>
                    <p>
                        Indeed, saving a new set of these soft tyres for tomorrow’s race was considered so important here, both Ferraris and both Mercedes did it. However thinking
                        ahead to the race rather than focusing on qualifying cost Rosberg, by his own admission.
                    </p>
                    <p>
                        “It was poor management, really poor management, especially because Sebastian is in front of me. I’m largely responsible for that,” said Nico Rosberg.
                    </p>
                    <p>
                        He became so distracted by thinking about the race that he underestimated the speed of Vettel’s Ferrari, which managed to do a lap 2/10ths of a second
                        faster than his Mercedes when it came to the decisive final runs in qualifying.
                    </p>
                    <p>
                        Rosberg is beginning to look a beaten man after again failing to match team mate Hamilton’s sky high standards. Rosberg had twice previously beaten
                        Hamilton here to the pole, but today his pace was well short; the margin between the two Silver Arrows drivers was 6/10ths of a second, one of the largest
                        margins in their three seasons together.
                    </p>
                    <p>
                        It appears that Hamilton is growing in confidence, but also the fact that this is his fourth pole in the first four races – a feat only managed once before
                        in Formula One, by Vettel in 2011 – shows that he has found true consistency too.
                    </p>
                    <p>
                        The 57 lap race will be a tense strategic one, with Ferrari and Mercedes closely matched in the fight for the podium positions, the two Williams cars
                        likely to be racing against each other. This is the first time this season that Valtteri Bottas has outqualified his team mate Felipe Massa, a sign that he
                        is recovered from his back injury sustained in Melbourne at the opening round.
                    </p>
                    <p>
                        Red Bull’s Daniel Ricciardo, Force India’s Nico Hulkenberg, Toro Rosso’s Carlos Sainz and Lotus’ Romain Grosjean fighting out the other points positions.
                    </p>
                    <p>
                        Meanwhile Jenson Button can only curse his luck after his McLaren Honda broke down again – he starts last on the grid. There is some encouragement for the
                        team, however, with Fernando Alonso managing to make the cut for the second part of qualifying for the first time this season.
                    </p>
                    <p>
                        My prediction is for Lewis Hamilton to win a close fight with Vettel.
                    </p>
                    <em>Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd</em>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}