{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Race Calendar' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>
{% endblock %}

{# page content #}
{% block content %}

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->
    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>2016 FIA Formula One World Championship<sup>&reg;</sup> <br/>Race Calendar</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="chunk">
                <div class="row">
                    <div class="filter-bar col" style="text-align: left;">
                       <!-- <div class="styled-button">
                            <div class="pdf">
                                <a href="http://web2.singaporegp.sg/Uploaded/insights-2015/pdf/2015_RaceCalendar.pdf">download 2015 race calendar</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
    </section>

    <section class="race-calendar-details">
        <div class="chunk row">
            <div class="race-calendar-headers col">
                <h5>Race</h5>
                <h5>Country</h5>
                <h5>Date</h5>
            </div>

            <div class="race-calendar-list col">
                <table>
                    <colgroup></colgroup>
                    <colgroup></colgroup>
                    <colgroup></colgroup>
                    <tbody>

                    {% for event in calendar %}
                        <tr>
                            <td>{{ event.race }}</td>
                            <td>{{ event.country }}</td>
                            <td>{{ event.date }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section>
<style>
    .styled-button{
      background-color: #ebebeb;
      width: 25%;
      overflow: hidden;
      float:left;
      text-transform: uppercase;
    }
    .styled-button .pdf {
      width: 100%;
      background: transparent url(/images/icon_pdf.png) no-repeat 95% 50%;
    }
    .styled-button a{
        display: block;
        text-align: center;
        border:1px solid #000;
        margin:2px;
        padding:10px 5px;
        padding-right:25px;

    }
</style>
{% endblock %}
