{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Canada GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->
    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Canada GP Qualifying Report</h2>
                    </p>
                    <p>
                        Posted on 07 June 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg">
                        By James Allen
                    </p>
                    <p>
                        <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport-canada01.jpg" align="center" hspace="12"/>
                    </p>
                    <p>
                        <em>
                            I’m really not going back to Monaco. I’ve moved on. I don’t even have to think about it, I couldn’t care less about it. I can’t do anything about the
                            past so there’s honestly no point in thinking about it. I’m thinking about this race, I’m excited” - <strong>Lewis Hamilton</strong>
                        </em>
                    </p>
                    <p>
                        How appropriate that Lewis Hamilton should score his 44<sup>th</sup> career pole position driving car number 44, a number he chose due to it’s happy
                        memories from karting. He took a commanding pole position on the Montreal track where he scored his first pole and win eight years ago. It is Hamilton’s
                        sixth pole in seven races this year and his fourth on this track.
                    </p>
                    <p>
                        Hamilton arrived in Montreal under a cloud after losing the Monaco Grand Prix in a public and humiliating way due to an unforced strategy error by him and
                        his team in the closing stages of the race.
                    </p>
                    <p>
                        He needed a strong response here; a repeat of what happened here in Montreal 12 months ago, where he made a mistake in qualifying, would have been quite
                        devastating mentally for the 30 year old. But he held his nerve despite a difficult weekend with limited track time and several issues on track to take
                        pole by over 3/10ths of a second from his team mate Nico Rosberg.
                    </p>
                    <p>
                        Kimi Raikkonen starts a season best 3<sup>rd</sup> on the grid for Ferrari while his team mate Sebastian Vettel not only had problems with his turbo which
                        put him 16<sup>th</sup> on the grid, he also had problems with the FIA Stewards, who wanted to know why he overtook another car this morning under Red Flag
                        conditions during Free Practice 3.
                    </p>
                    <p>
                        This has been a strange weekend for the teams and drivers, as the practice sessions have been cut short by rain and red flags, meaning that no one has
                        particularly good information about how the tyres will perform in the race.
                    </p>
                    <p>
                        Ferrari looked very fast in the limited race preparation running we saw on Friday and if that carries through in the race, then they can challenge the
                        Mercedes drivers for the race win.
                    </p>
                    <p>
                        Strategy will be vital; the supersoft tyres are only 7/10ths of a second faster than the softs and they have higher degradation. but no-one has an accurate
                        picture of what that degradation is until the race is more than 10 laps old.
                    </p>
                    <p>
                        So it will be a race where teams will be reacting to situations and making decisions on that basis.
                    </p>
                    <p>
                        The other factor here is the Safety Car, 11 of the past 17 races have been hit with at least one Safety Car and sometimes four in one race! A bold option
                        for Ferrari and Raikkonen would be to do a one-stop strategy and take the benefit of the Safety Car is deployed. But Ferrari have only one car at the front
                        of the grid, after Sebastian Vettel’s problems and so they may choose to be more reactive to Mercedes than offensive in their thinking.
                    </p>
                    <p>
                        Lotus has been much more competitive here this weekend with the Mercedes engine cars occupying seven of the top ten grid slots and Williams’ Valtteri
                        Bottas is always fast here. He will be battling with Lotus to challenge for the podium should anything occur to the Mercedes cars and Raikkonen.
                    </p>
                    <p>
                        There are a lot of penalties this weekend, making the grid calculation tricky and we will se drivers taking penalties into the race; as they won’t be able
                        to move back sufficient places on the grid to make up for their engine penalties, we will see drivers like Verstappen serving time penalties in the race.
                    </p>
                    <em>Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd</em>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}