{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Chinese GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->
        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Chinese GP Qualifying Report</h2>
                    </p>
                    <p>
                        <img width="100" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                        By Adam Cooper
                    </p>


                    <p>
                        <img
                            width="342"
                            height="228"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchinese01.jpg"
                            align="right"
                            hspace="12"
                            style="margin-top: 5px;"
                            alt=""
                        />
                        Lewis Hamilton continued his strong start to the 2015 season by beating Mercedes team mate Nico Rosberg to pole in China, although in the end it was a
                        close run thing, and the Briton had to rely on his first run in Q3 to secure the top spot. It was his third consecutive pole in Shanghai, and it puts him
                        in the perfect position to win the race from the front on Sunday.
                    </p>
                    <p>
                        The Mercedes duo had sufficient speed to sail through Q1 without resorting to the option tyres – the only drivers to do so. In Q2 Hamilton was comfortably
                        ahead with a time of 1m36.423s, and he improved that with a great lap of 1m35.782s at the start of Q3. He was almost 0.3s clear of Rosberg after the first
                        runs.
                    </p>
                    <p>
                        The stage was set for a great climax to the session, and things got interesting when Lewis failed to improve on his earlier time, seemingly opening the
                        door for his team mate to snatch pole. However in the end, Nico just missed out by just 0.042s, much to his frustration.
                    </p>
                    <p>
                        “The lap was good,” said Nico. “But very annoying, because four hundredths is never perfect.”
                    </p>
                    <p>
                        <img
                            width="429"
                            height="286"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchinese02.jpg"
                            align="left"
                            hspace="12"
                            style="margin-top: 5px;"
                            alt=""
                        />
                    </p>
                    <p>
                        Ferrari was expected to push Mercedes hard, but in the end the margin to third placed Sebastian Vettel was over 0.9s. Nevertheless Vettel is well placed to
                        take advantage of any problems ahead.
                    </p>
                    <p>
                        “I would love to be a bit closer,” he said. “But you have to be realistic.” 
                    </p>
                    <p>
                        His team mate Kimi Raikkonen didn't get a good final lap in, and rather than backing up his team mate he slipped to sixth. He was beaten by the Williams
                        pair, with Felipe Massa and Valtteri Bottas taking fourth and fifth and showing that they will be mixing it with the Ferrari duo come the race.
                    </p>
                    <p>
                        Behind the top three teams, Daniel Ricciardo led the chase with seventh for Red Bull, and after the session the smile was back on his face. Romain Grosjean
                        starts eighth for Lotus, while Sauber got both cars into Q3, with Felipe Nasr and Marcus Ericsson taking ninth and 10<sup>th</sup>.
                    </p>
                    <p>
                        Pastor Maldonado just failed to get into Q3, by just 0.007s, and thus the Venezuelan starts in 11<sup>th</sup> as the first driver with a free choice of
                        tyres for the race. It was a bad session for Daniil Kyvat, and after struggling with brake troubles earlier in the day he could manage only 12<sup>th</sup>
                        . Against expectations neither of the Toro Rossos made it through. Max Verstappen locked up on his final run but the teenager still starts ahead of team
                        mate Carlos Sainz as the pair line up in 13<sup>th</sup> and 14<sup>th</sup>, ahead of the Force India of Sergio Perez.
                    </p>
                    <p>
                        Those who failed to make it out of Q1 were led by Nico Hulkenberg in 16<sup>th</sup>. The McLaren Hondas had shown signs of progress during the weekend,
                        but when it counted neither Jenson Button nor Fernando Alonso made it through, with the Briton beating his team mate by just 0.004s.
                    </p>
                    <p>
                        Despite losing FP3 to problems Alonso remains upbeat, noting on Twitter: “Fantastic work of the whole team to get the car ready for the Qualy! Again, big
                        progress on the car from Malaysia.” Both Marussias ran a respectable number of laps during the weekend and both also made the 107% cut, with Will Stevens
                        ahead of Roberto Merhi.
                    </p>
                    <p>
                        <img
                            width="433"
                            height="288"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchinese03.jpg"
                            align="right"
                            hspace="12"
                            style="margin-top: 5px;"
                            alt=""
                        />
                        So what kind of race can we expect tomorrow? Tyres are not as big an issue as they usually are here, but nevertheless they will still be the key factor.
                    </p>
                    <p>
                        It remains to be seen whether Ferrari can use the car's ability to nurse its tyres to good strategic effect, but we may well see the Italian team focus on
                        soft tyres while Mercedes runs longer the medium, and that could be an advantage.a
                    </p>
                    <p>
                        “It should be a bit closer tomorrow,” said Ferrari technical director James Allison.
                    </p>
                    <p>
                        Williams won't make life easy for Ferrari however, while behind there will no doubt be a lot of action down the field at a track that always seems to
                        generate excitement.
                    </p>
                    <p>
                        <em>
                            Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                            he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                            www.motorsport.com, he has also written several books, including a biography of 60s racer Piers Courage.
                        </em>
                    </p>


                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}