{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Circuit Park Map' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/ontrack-circuitmap.min.css"/>
{% endblock %}

{# page content #}
{% block content %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>{{ trans('ontrack.map.title')|raw }}</h1>
                        <br/>
                        <p>{{ trans('ontrack.map.desc')|raw }}</p>
                    </div>
                    <div class="styled-button locale">
                        <a class="en {% if locale == 'en' %}active{% endif %}"
                           href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>
                        <a class="zh {% if locale == 'cn' %}active{% endif %}"
                           href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="chunk">
            <div class="row">
                <div class="downloads col">
                    <div class="styled-button">
                        {% if locale == 'cn' %}
                            <a href="http://www.singaporegp.sg/Uploaded/pdf_path/2016-Circuit-Map-CN.pdf">{{ trans('ontrack.map.download-pdf') }}</a>
                        {% else %}
                            <a href="http://www.singaporegp.sg/Uploaded/pdf_path/2016-Circuit-Map-EN.pdf">{{ trans('ontrack.map.download-pdf') }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="circuit-map">
        <div class="chunk row">
            <div class="access-map">
                <div class="img-wrapper">
                    <img src="/images/ontrack_circuitparkmap.jpg" alt=""/>
                </div>

                <div class="caption-wrapper">
                    <div class="caption">
                        <h4>
                            <a href="/assets/map/index{% if locale == 'cn' %}_cn{% endif %}.php">{{ trans('ontrack.map.cta')|raw }}</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}