{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/ontrackteamsdriversbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/ontrack-driversandteams.min.css"/>
    <style>
    .drivers-teams-panel h1{color: #ffc414;}
    .caption-wrapper span.title{color:#fff}
    .driver .next, .marque .next{background: url(/images/right_arrow.png) no-repeat 0 0;}
    .drivers-team-name {
        color: #ffc414;
        text-transform: uppercase;
        vertical-align: middle;
        display: table-cell;
        line-height: normal;
    }
    </style>

{% endblock %}

{#
    page content
#}

{% block content %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>2016 Formula 1<sup>&reg;</sup> <br/>Teams and Drivers</h1>
                        <br/>
                        <p>
                            New rules, new regulations, new-look cars and new drivers. <br/>All adds up to new levels of exhilaration.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="drivers-teams-listing">

        {% for team in teamsAndDrivers %}
            {% set leadDriver = team[0] %}
            {% set secondaryDriver = team[1] %}

            <div class="chunk row">
                {#<div class="team-marque col">#}
                    {#<div class="marque">#}
                        {#<div class="img-wrapper">#}
                            {#<a href="{{ route('ontrack.teamDetails', [leadDriver.team_url]) }}"><img src="{{ leadDriver.team_photo }}" alt=""/></a>#}
                        {#</div>#}

                        {#<div class="caption-wrapper">#}
                            {#<div class="caption">#}
                                {#<a href="{{ route('ontrack.teamDetails', [leadDriver.team_url]) }}"><span class="title">{{ leadDriver.team_full_name }}</span><span#}
                                            {#class="next"></span></a>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                <div class="team-drivers col">
                    <div class="marque">
                        <a href="{{ route('ontrack.teamDetails', [leadDriver.team_url]) }}">
                            <div class="img-wrapper" style="text-align: center; display: table;">
                                <p class="drivers-team-name">{{ leadDriver.team_full_name }}</p>
                            </div>
                        </a>
                    </div>
                    <div class="driver">
                        <div class="img-wrapper">
                            <a href="{{ route('ontrack.teamDetails', [leadDriver.team_url, leadDriver.driver_url]) }}"><img
                                        src="{{ leadDriver.driver_photo }}" alt=""/></a>
                        </div>

                        <div class="caption-wrapper">
                            <div class="caption">
                                <a href="{{ route('ontrack.teamDetails', [leadDriver.team_url, leadDriver.driver_url]) }}"><span
                                            class="title">{{ leadDriver.driver_name }}</span><span class="next"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="driver">
                        <div class="img-wrapper">
                            <a href="{{ route('ontrack.teamDetails', [secondaryDriver.team_url, secondaryDriver.driver_url]) }}"><img
                                        src="{{ secondaryDriver.driver_photo }}" alt=""/></a>
                        </div>

                        <div class="caption-wrapper">
                            <div class="caption">
                                <a href="{{ route('ontrack.teamDetails', [secondaryDriver.team_url, secondaryDriver.driver_url]) }}"><span
                                            class="title">{{ secondaryDriver.driver_name }}</span><span class="next"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>

{% endblock %}