{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Drivers' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/ontrackteamsdriversbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/ontrack-drivers.min.css"/>
{% endblock %}

{#
    page content
#}
{% block containerdiv %}
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
    var staging = /staging/;
    var liveHostname = /singaporegp\.sg/;
    if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                {'gtm.start': new Date().getTime(),event:'gtm.js'}
        );var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P7C4C7');
    }
</script>
<!-- End Google Tag Manager -->
<div class="container" data-ng-controller="onTrackTeamsController">{% endblock %}
    {% block content %}

    <section class="drivers-teams-panel {{ driver }}">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <section class="driver-details">
        <div class="chunk row">
            <p data-ng-bind-html="breadcrumbs" class="breadcrumbs"></p>
        </div>

        <div class="chunk row">
            <div class="driver-info col">
                <table>
                    <caption></caption>
                    <colgroup width="40%"></colgroup>
                    <colgroup width="60%"></colgroup>
                    <thead>
                    <tr>
                        <th>Information</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Team</td>
                        <td>{{ driverInfo.team_full_name }}</td>
                    </tr>
                    <tr>
                        <td>Nationality</td>
                        <td>{{ driverInfo.nationality }}</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td>{{ driverInfo.dob|date('d M Y') }}</td>
                    </tr>
                    <tr>
                        <td>F1 Debut</td>
                        <td>{{ driverInfo.debut }}</td>
                    </tr>
                    <tr>
                        <td>F1 Team</td>
                        <td>{{ driverInfo.history }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="driver-writeup col">
                <h1>{{ driverInfo.name }}</h1>

                <h5>In Singapore</h5>

                {{ driverInfo.bio|raw }}

                {#<table>#}
                    {#<colgroup width="15%"></colgroup>#}
                    {#<colgroup width="35%"></colgroup>#}
                    {#<colgroup width="50%"></colgroup>#}
                    {#<tbody>#}
                    {#<tr>#}
                        {#<td>2013</td>#}
                        {#<td>Red Bull</td>#}
                        {#<td>Qualified on pole, Won the race</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>2012</td>#}
                        {#<td>Red Bull</td>#}
                        {#<td>Qualified 3rd, Won the race</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>2011</td>#}
                        {#<td>Red Bull</td>#}
                        {#<td>Qualified on pole, Won the race</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>2010</td>#}
                        {#<td>Red Bull</td>#}
                        {#<td>Qualified 2nd, Finished 2nd</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>2009</td>#}
                        {#<td>Red Bull</td>#}
                        {#<td>Qualified 2nd, Finished 4th</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>2008</td>#}
                        {#<td>Toro Rosso</td>#}
                        {#<td>Qualified 7th, Finished 5th</td>#}
                    {#</tr>#}
                    {#</tbody>#}
                {#</table>#}

                {#<h2>Can he make it five?</h2>#}

                {#<p>Bedevilled by reliability issues which meant restricted track-time in pre-season testing, Red Bull#}
                    {#can be thought to have started the 2014 season on the back foot. However Vettel’s record#}
                    {#demonstrates that even after a slow start to a season Vettel has the ability to fight back. Last#}
                    {#year he scored a record 13 wins, including a record nine in succession in the final races of the#}
                    {#season, to match Michael Schumacher’s record 13-race tally, set back in 2004.</p>#}

                {#<p>His fourth successive title has already moved him ahead of some of the sport’s legends. Jack Brabham,#}
                    {#Jackie Stewart, Niki Lauda, Nelson Piquet and Ayrton Senna are all ‘mere’ triple world#}
                    {#champions.</p>#}

                {#<p>Vettel now matches four-times champion Prost and only seven-times champion Michael Schumacher and#}
                    {#five-times title holder Juan-Manuel Fangio have won more crowns. Vettel is already the sport's#}
                    {#youngest quadruple World Champion. It is hard to bet against him matching Fangio’s five.</p>#}

                {#<p>-</p>#}

                {#<p>“I think it’s one of the toughest races of the year to be honest, so to win is an amazing moment and#}
                    {#you feel you deserve the champagne! It's spectacular seeing the cars so close at night, seeing them#}
                    {#right in front of you in the middle of the city. Around the race there are a lot of concerts going#}
                    {#on. The attraction is huge.”</p>#}

            </div>
        </div>
    </section>

{% endblock %}