{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - FIA plans to bring back F1 refuelling and plans faster cars for 2017' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>FIA plans to bring back F1 refuelling and plans faster cars for 2017</h2>
                    </p>
                    <p>
                        Posted on 20 May 2015
                    </p>
                    <p>
                        <img width="100" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                        By Adam Cooper

                    </p>
                    <p>
                        <img
                            width="627"
                            height="418"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/fiaplanstobring01.jpeg"
                            align="center"
                        />
                        Last week the FIA outlined a raft of measures designed to improve the show in 2017 and beyond, and the ideas have given both fans and F1 insiders plenty to
                        think about.
                    </p>
                    <p>
                        The plans emerged from the F1 Strategy Group, which is compromised of Jean Todt, Bernie Ecclestone and representatives of Ferrari, Red Bull, Mercedes,
                        McLaren, Williams and Force India (the team that finished “best of the rest” in 2014). The engine manufacturers were also invited to attend this particular
                        meeting.
                    </p>
                    <p>
                        The Strategy Group votes through ideas which are then passed on to the F1 Commission – which includes the other four teams plus representatives of sponsors
                        and race promoters – and from there they go to the World Motor Sport Council (WMSC) for final approval. The next WMSC meeting is in Mexico on July 10, so
                        there is still a long way to go before everything proposed last week is ratified. In the meantime there will be a lot of debate...
                    </p>
                    <p>
                        <strong>Free choice of dry tyre compounds </strong>
                    </p>
                    <p>
                        <img width="264" height="176" src="http://web2.singaporegp.sg/Uploaded/insights-2015/fiaplanstobring02.jpg" align="left" hspace="12" style="margin-top:5px;"/>
                        One major change for 2016 has gathered support. Teams will be able to make their own choice from Pirelli's four compounds – although for logistical reasons
                        the decision will be made some weeks in advance so that the Italian company can build and transport the tyres to the races.
                    </p>
                    <p>
                        There will be some safety restrictions – for example extreme choices such as supersofts at high-speed Monza will not be allowed – but it adds an
                        interesting element to the mix. Will it impact the 2016 Formula 1 Singapore Grand Prix? Probably not given that supersoft and soft are entirely logical
                        choices, but you never know...
                    </p>
                    <p>
                        The main thrust of the meeting was to find ways to improve the spectacle from 2017 onwards, and produce faster lap times. And the basic idea is to have the
                        fastest F1 cars ever. For years we've been in a situation where at many tracks lap records date back to 2004, before speeds were reined in, and there's a
                        feeling that the current cars are too slow, especially in race trim.
                    </p>
                    <p>
                        <strong>Reintroduction of refuelling</strong>
                    </p>
                    <p>
                        
                        The headline-grabbing change that emerged from the discussions was the return of refuelling for the first time since 2009. That is a surprise given that it
                        was stopped both for safety reasons and to save costs, as teams had to ship equipment around the world at huge expense. The feeling in the meeting was that
                        it was an easy way to make cars faster simply because they will be lighter for much of the race. In addition there's a view that refuelling adds to the TV
                        spectacle.
                    </p>
                    <p>
                        <img
                            width="396"
                            height="264"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/fiaplanstobring03.jpeg"
                            align="right"
                            hspace="12"
                            style="margin-top:5px;"
                        />
                        Is it a wise choice? On balance probably not, given that a lot of fans feel that we see more overtaking now than when drivers were able to use fuel
                        strategy to jump a rival. The cost implications are also somewhat hazy, and even Mercedes boss Toto Wolff has admitted that it's not 100% yet. Safety is
                        also a concern – Singapore fans will remember Felipe Massa departing the pits in 2008 with fuel hose still attached.
                    </p>
                    <p>
                        <strong>Faster cars in 2017</strong>
                    </p>
                    <p>
                        The FIA says that it wants a “five<em> to six seconds drop in lap times through aerodynamic rules evolution, wider tyres and reduction of car weight.”</em>
                    </p>
                    <p>
                        As well as refuelling engines will be higher revving and produce more noise, and cars will have “more aggressive looks.”
                    </p>
                    <p>
                        The intention is that the basic engine regulations will not change in order to give the manufacturers some stability, and to help tempt other manufacturers
                        in – specifically VW/Audi. However, clearly there will be some tinkering in order to address the high revs and more noise requirements. It remains to be
                        seen whether the overall fuel allowance for the race, now 100kgs, remains the same – officially the FIA says only that there will still be a “maximum” fuel
                        allowance, although the likelihood is that it won't change.
                    </p>
                    <p>
                        <strong>Additional measures discussed</strong>
                    </p>
                    <p>
                            The FIA says that it is also considering “a global reflection on race weekend format,” and that it wants “measures to make starts only activated by the
                            driver without any outside assistance,” which would add an extra element of driver skill to one of the key parts of the race weekend.
                    </p>
                    <p>
                            In addition to the technical measures outlined above, the FIA says that it looked at the sustainability of the sport – and although not outlined in
                            detail that includes proposals for the big teams to run third cars, and ultimately supply customer cars, should any of the struggling midfield teams
                            face a financial collapse.
                    </p>
                    <p>
                            Team insiders have indicated that nothing was done to help the smaller team address the cost issues. Instead the push for third cars and customer cars
                            – which would help the likes of McLaren, who would like to see Honda get extra track mileage – suggests that their plight has been largely overlooked.
                    </p>
                    <p>
                            The FIA statement read: “This constructive meeting between the FIA, FOM and the Teams has allowed paving the way for the future of the championship.
                            All parties agreed to work together with an intention to firm up these proposals and submit them to the approval of the F1 Commission and the World
                            Motor Sport Council of the FIA as soon as possible for implementation.”
                    </p>
                    <p>
                            The Strategy Group plans certainly have some interesting elements, but remember that they still have to be finalised and vote upon, and they are sure
                            to stir some debate – Monaco is likely to be busy both on and off track...
                    </p>
                    <p>
                        <em>
                            Born in 1965, Adam Cooper has been a motor racing journalist for 30 years. In his early days he covered a variety of categories, including the WEC and
                            IndyCars, and he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to
                            Autosport, Autoweek and <a href="http://www.motorsport.com" target="_blank">www.motorsport.com</a>, he has also written several books, including a biography of 60s racer Piers Courage. His blog can be found
                            at <a href="http://www.adamcooperF1.com" target="_blank">www.adamcooperF1.com</a>.
                        </em>
                    </p>


                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}