{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Five Highlights of the 2015 Formula One Season' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}

    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            Five Highlights of the 2015 Formula One Season
                             </h2>
                        </p>
                        <p>
                            Posted on 30 December 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                            By Adam Cooper
                        </p>
                        <p>
                            <b>
                                Monaco GP
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/fivehighlightsof2015f1season_1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            The Monaco GP was enlivened when Mercedes made a pit call that turned the race on its head. A communication mix-up between leader Lewis Hamilton and pit wall saw the World Champion pit for tyres under a late safety car, when his main rivals stayed out. It resulted in the man who had dominated the day tumbling down to third behind teammate Nico Rosberg and Sebastian Vettel. The race concluded with a dramatic eight-lap sprint to the line during which Lewis was unable to make any progress. Rosberg thus won his third straight Monaco GP, an impressive achievement – although even the race winner admitted that fortune had smiled on him, and this was Hamilton's race.
                        </p>

                        <p>
                            <b>
                                Hungarian GP
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/fivehighlightsof2015f1season_2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Sebastian Vettel scored a memorable victory in the Hungarian GP on a day when the stars appeared to align. A sport that had faced criticism for a lack of entertainment provided a memorable afternoon on a weekend when everyone was remembering Jules Bianchi. The drivers joined together with the Frenchman's family on the grid to honour him with a minute's silence, then donned their helmets and went out and put on a superb display that showcased F1 at its best. The race had collisions, penalties and even some genuine overtaking moves, and in the end the usually dominant Mercedes team could manage only sixth and eighth places. A win for Ferrari – the team that had mentored Bianchi for so many years and for whom he was due to drive in the future – was the best possible outcome. Vettel was quick to dedicate the victory to the driver who would likely one day have been his teammate.
                        </p>

                        <p>
                            <b>
                                Singapore GP
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/fivehighlightsof2015f1season_3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Against expectations Mercedes struggled to find pace on the Marina Bay circuit, the only time it happened all season. Remarkably Lewis Hamilton and Nico Rosberg lined up only fifth and sixth, while Sebastian Vettel took pole for Ferrari ahead of Daniel Ricciardo, Kimi Raikkonen and Daniil Kvyat. The stage was set for a fascinating race – could Mercedes find speed on Sunday night? In the end it didn't happen, and Vettel headed Ricciardo home after an exciting race. Rosberg finished fourth and Hamilton had a rare retirement, ironically on a day when he was struggling anyway.
                        </p>

                        <p>
                            <b>
                                United States GP
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/fivehighlightsof2015f1season_4.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Lewis Hamilton joined the elite group of F1 drivers who have won three or more World Championships as he secured the 2015 title with a superb victory over Mercedes teammate Nico Rosberg in Austin. Matching Ayrton Senna's three titles was a huge ambition achieved for Hamilton. Against the odds after three days of rain we were treated a fabulously entertaining race that began on a wet track that ultimately dried, and allowed the drivers to race to the flag on slick tyres. For much of the race the Mercedes guys were in a fight not just with each other, but firstly with Daniel Ricciardo and Dany Kvyat, and later Sebastian Vettel. Hamilton's title was not secured until the final lap, for if Vettel had managed to pass Rosberg and claimed second, the battle would have gone to the next race in Mexico.
                        </p>

                        <p>
                            <b>
                                Mexican GP
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/fivehighlightsof2015f1season_5.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            The World Championship was over by the time the Mexican GP rolled around, but nevertheless much anticipation surrounded the return to a venue last used by F1 in 1986. The track and been rebuilt, as had the pit and paddock area, while the big talking point was the unique section through the former baseball stadium, where fans had a great view. And the fans were the story of the weekend as they showed unbridled support for F1 in general, and local hero Sergio Perez in particular. Nico Rosberg bounced back from recent disappointments to score the first of three season-ending victories.
                        </p>

                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <b>
                                Driver of the Year: Lewis Hamilton
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/fivehighlightsof2015f1season_6.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            His season might not have finished the way it started but it would be unfair to deny Lewis Hamilton this honour. Having finally won his second title in 2014 Hamilton was more relaxed this year. He made a point of having fun and keeping busy away from the F1 paddock, and that also helped his state of mind. Until the last third of the season he had the edge on his teammate in qualifying, and put in some great race performances. He made no significant mistakes, and the only downside perhaps was his regular questioning of team strategy. A special mention must go however to Max Verstappen, surely one of the most spectacular rookies F1 has seen since Lewis himself.
                        </p>

                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                                he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                                <a href="http://www.motorsport.com" target="_blank"><u>www.motorsport.com</u></a>, he has also written several books, including a biography of 60s racer Piers Courage.
                            </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}