{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track -  Five Things to watch out for in the 2016 Formula One Season' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                            <h2>
                            Five Things to watch out for in the 2016 Formula One Season
                            </h2>
                        </p>
                        <p>
                            Posted on 5 January 2016
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                            By Adam Cooper
                        </p>
                        <p>


                        <b>
                            How will Mercedes manage its drivers?
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/fiveThingstowatchoutforinthe2016f1season_1.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            While others have the potential to close the gap, the consensus is that Mercedes will continue to set the pace in 2016. The biggest challenge the team may face is managing the interests of its two drivers, and that could be even harder this year if rivals are indeed closer. Lewis Hamilton was the dominant force for most of 2015, but Nico Rosberg ended the season on a high, and had good momentum heading into the winter. The management has made it clear that the success of the team is more important than the individuals, and both drivers will have to take that on board.
                        </p>

                        <p>
                            <b>
                                Can Ferrari take the challenge to Mercedes?
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/fiveThingstowatchoutforinthe2016f1season_2.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Mercedes might not have everything its own way in 2016, and if Ferrari can provide a more consistent challenge then we could be in for a fascinating season. The Italian team built up some good momentum last year, and heading into his second season at Maranello the input of Sebastian Vettel will have more of an impact. However, the team will have to get everything right with both the chassis and powertrain in order to make that next step. It will be intriguing too to see if Kimi Raikkonen can raise his game, with most observers believing that the Finn will struggle to hold on to his seat in 2017.
                        </p>

                        <p>
                            <b>
                                A big name returns: Renault
                            </b>
                            <br>
                        </p>
                        <p>
                            In 2016 Renault returns as a full works team for the first time since 2009. In 2010 the Enstone outfit was taken over by the Genii Group, and was subsequently re-branded as Lotus. However the owners struggled to find sufficient finance, which is why the team has now passed back into the hands of Renault. The French manufacturer decided that it didn't gain enough from its relationship with Red Bull, despite winning four World Championships, and that it has to be present as a works team. This will be a rebuilding year, but it's good news for the sport that a major manufacturer has made a commitment. Meanwhile Red Bull will continue to use Renault engines – but they are now branded as TAG Heuer.
                        </p>

                        <p>
                            <b>
                                A new team: Haas F1
                            </b>
                            <br>
                            <img width="610" height="422" src="http://web2.singaporegp.sg/Uploaded/insights-2015/fiveThingstowatchoutforinthe2016f1season_3.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            The arrival of the new Haas organisation is good news for F1 at a time when so many teams are facing financial pressures and thus uncertain futures. American businessman Gene Haas has already found success in the highly competitive world of NASCAR, and he has put together an extremely strong package. Rather than start from scratch he signed a technology deal with Ferrari, and the new car will feature a lot of input from the Maranello team – and rivals will be interested to see just how similar the two packages are. Haas has also shown that he means business by securing a strong driver line-up in Romain Grosjean and Esteban Gutierrez.
                        </p>

                        <p>
                            <b>
                                A new race: Baku
                            </b>
                            <br>

                        </p>
                        <p>
                            The 2016 F1 season will be the busiest ever as it will be the first in history to feature 21 races. The changes from last year are a return for the German GP at Hockenheim, and the debut of the new event in Azerbaijan in June. The latter will join Singapore and Monaco as a city centre street race, running through Baku, the capital city. Featuring some dramatic gradients, high speeds and a historical backdrop, the new race promises to be a fascinating addition to the schedule.
                        </p>

                        <p>
                            <em> </em>
                        </p>


                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                                he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                                <a href="http://www.motorsport.com" target="_blank"><u>www.motorsport.com</u></a>, he has also written several books, including a biography of 60s racer Piers Courage.
                            </em>
                        </p>
                        
                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}