{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track -  FORMULA 1 BACRELONA TEST #1 - Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>
                            Formula 1 Barcelona Test #1 - Report
                        </h2>
                        </p>
                        <p>
                            Posted on 26 February 2016
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/media/insights/james.jpg">
                            By James Allen
                        </p>

                        Judging from the first four days of Formula 1 test in Barcelona, this is going to be a more exciting season than 2015, with a very close competition in midfield and Ferrari snapping at the heels of world champions Mercedes.
                        </p>

                        <p>
                            With testing starting three weeks later than normal and only eight days of track running before the cars are shipped to Melbourne for the first round, the emphasis this week was very much on reliability.

                        </p>
                        <img width="610" height="422" src="http://web2.singaporegp.sg/media/insights/20160226/Mercedes.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            Mercedes did 185 laps on the final day, a distance of 851km, which is the equivalent of almost three Singapore Grands Prix! This clearly showed where the teams’ priorities lie and many others were working on proving their systems and getting mileage under their belt.

                        </p>


                        <p>

                            <img width="610" height="422" src="http://web2.singaporegp.sg/media/insights/20160226/Haas.jpg" align="center" hspace="12"/>
                        </p>
                        <p>
                            This was especially true of the new entry from the United States, Haas F1, for whom this week in Barcelona was the first step of their F1 journey. Romain Grosjean and Esteban Gutierrez were on hand to drive the car, with Grosjean pushing out the second fastest lap time on Day 3. This is the surely the best prepared new team to enter F1 since Toyota 15 years ago.
                        </p>
                        <p>

                            <img width="610" height="422" src="http://web2.singaporegp.sg/media/insights/20160226/McLaren.jpg" align="center" hspace="12"/>
                        </p>

                        <p>
                            McLaren had a better test than a year ago, but the Honda engine still has reliability concerns and after a decent mileage in the first two days, it slumped on day four with Alonso covering just 3 laps.
                        </p>


                        <p>
                            With new regulations on the horizon for 2017, several teams have opted to update their 2015 cars, rather than go for an all-new design this year.
                        </p>

                        <p>
                            Ferrari is a clear exception to this. The Maranello squad has not won the drivers’ world championship since 2007 and they see this year as a chance to get on terms with Mercedes.
                        </p>
                        <p>

                            <img width="610" height="422" src="http://web2.singaporegp.sg/media/insights/20160226/Ferrari.jpg" align="center" hspace="12"/>
                        </p>


                        <p>
                            The 2016 F1 season will be the busiest ever as it will be the first in history to feature 21 races. The changes from last year are a return for the German GP at Hockenheim, and the debut of the new event in Azerbaijan in June. The latter will join Singapore and Monaco as a city centre street race, running through Baku, the capital city. Featuring some dramatic gradients, high speeds and a historical backdrop, the new race promises to be a fascinating addition to the schedule.
                        </p>
                        <p>
                            The test ended with Sebastian Vettel on top for Ferrari, setting the fastest time of the week on the second day. His time was almost two seconds faster than the 2015 pole time of Nico Rosberg and Mercedes for the Spanish Grand Prix.
                        </p>
                        <p>
                            But it’s important to emphasize that this week is very much about bedding the cars in. Next week we will see more performance runs and with the bar already set quite high in terms of pace, it looks like the cars will be quite a bit faster this season.


                        </p>

                        <p>
                            <em>Photos credit: LAT Photographic</em>
                        </p>


                        <p>
                            <em>
                                Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd
                            </em>
                        </p>
                        <!--<p>
                            <em>
                                Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                                he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                                <a href="http://www.motorsport.com" target="_blank"><u>www.motorsport.com</u></a>, he has also written several books, including a biography of 60s racer Piers Courage.
                            </em>
                        </p> -->

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}