{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 British GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>2015 Hungarian GP Post-Race Report</h2>
                        </p>
                        <p>
                            Posted on 27 July 2015
                        </p>
                        <p>
                            <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg"> By Kate Walker
                        </p>
                        <p>
                            <img
                                    width="610"
                                    height="375"
                                    align="center"
                                    src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_hungarian_gp_post-race_report-1.jpg"
                                    style=" margin-left: 0px;"
                                    />
                        </p>
                        <p>
                            As a race, the 2015 Hungarian Grand Prix could not have been better timed. With only one

                            round in the seven week gap between Silverstone and Spa, Formula One was relying on the

                            Hungaroring to deliver the sort of thriller that would keep the fans talking throughout the summer

                            break.
                        </p>
                        <p>
                            The Hungaroring delivered in spades.
                        </p>
                        <p>
                            From Ferrari’s surprise victory to Mercedes’ day of horrors, the Hungarian Grand Prix was an

                            absolute classic. For the first time since the 2013 Brazilian Grand Prix, no Mercedes driver

                            appeared on the podium. Instead, Sebastian Vettel claimed his second career win for Ferrari,

                            flanked by Red Bull’s Daniel Ricciardo and Daniil Kvyat, the latter man celebrating his first

                            podium finish in the sport.
                        </p>
                        <p>
                            The 69-lap race - cut short by a lap after Felipe Massa was found to be out of position on the

                            original start - was a battle of skills and wills, and the Budapest circuit was the scene of a

                            number of heroic fightbacks, several of which came courtesy of championship leader Lewis

                            Hamilton.
                        </p>
                        <p>
                            <img width="348" height="232" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_hungarian_gp_post-race_report-3.jpg" align="right"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            Both Mercedes drivers were left choking

                            on the dust of the Ferraris at the second

                            start, and in trying to defend against his

                            teammate Hamilton ran wide and

                            dropped from first to tenth over the

                            course of the first lap. The Briton later

                            had to pit for a new nose cone after

                            contact with Ricciardo, in an incident that

                            also saw the Mercedes driver issued with

                            a drive-through penalty. Despite running

                            around at the back of the pack with fewer

                            than 20 laps remaining, Hamilton was

                            able to claw his way back up through the

                            field to cross the line in sixth.
                        </p>
                        <p>
                            Thanks to late race drama for Nico Rosberg, Hamilton’s bad day at the office actually saw the

                            Briton extend his championship lead, a vital psychological victory as the F1 circus heads off for

                            its summer break. Rosberg was defending against Ricciardo for second place when contact

                            between the pair left the German with a dramatic puncture. After limping back to the pits on his

                            rims, Rosberg - who had been on course for a podium finish - collected only four points for

                            eighth.
                        </p>
                        <p>
                            <img width="348" height="232" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_hungarian_gp_post-race_report-2.jpg" align="left"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            But the action at the front of the pack was only part of the

                            story. Retirements for Sergio Perez and Nico Hulkenberg

                            have hurt Force India in the constructors’ championship,

                            and are likely to dent confidence in the team’s new car,

                            while Pastor Maldonado’s three separate in-race penalties

                            should prove uncomfortable food for thought during the

                            forthcoming break.
                        </p>
                        <p>
                            </br>
                            F1’s summer shutdown means that the Hungarian Grand Prix can often prove to be a vital

                            turning point in the psychological battle for the championship. With the Mercedes pair still

                            favourites for the drivers’ title, the fact that Hamilton’s very bad day at the office still saw the

                            Briton extend his championship lead will affect Rosberg’s confidence at a time when there is no

                            chance to respond on track. How he handles it will be the making or breaking of his

                            championship challenge in the coming months: Rosberg can choose to use his Budapest

                            disappointment as the motivation for a fightback, or he can let it get to his head. The choice is

                            Nico’s, and Nico’s alone.
                        </p>
                        <p>
                            When the F1 circus moves on to Singapore’s Marina Bay Street Circuit in two months’ time

                            there are lessons learned this weekend in Hungary that will prove useful. While the Hungaroring

                            is an over-sized go-kart track and Singapore a street circuit, the low speed corners and low

                            power circuit configuration make similar demands on the cars.
                        </p>
                        <p>
                            As a consequence, the Singapore Grand Prix represents another opportunity for both Red Bull

                            and McLaren to pick up valuable points in the constructors’ championship after the power

                            hungry tracks of Spa-Francorchamps and Monza, the next two rounds on the calendar.
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles
                                have also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}