{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 British GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
 {% block content %}

     <!-- Google Tag Manager -->
     <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                       height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
     <script>
         var staging = /staging/;
         var liveHostname = /singaporegp\.sg/;
         if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
             (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                     {'gtm.start': new Date().getTime(),event:'gtm.js'}
             );var f=d.getElementsByTagName(s)[0],
                     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                     '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
             })(window,document,'script','dataLayer','GTM-P7C4C7');
         }
     </script>
     <!-- End Google Tag Manager -->


     <section class="drivers-teams-panel race-calendar">
         {% embed "partials.masthead" %}
             {% block social %}{% endblock %}
         {% endembed %}

         <div class="chunk">
             <div class="row">
                 <div class="desc-bar col">
                     <div class="desc">
                         <h1>F1 Insights</h1>
                         <br/>
                         <p>
                             Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                             Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                         </p>
                     </div>
                 </div>
             </div>
         </div>
     </section>



     <section class="press-release-details">

         <div class="chunk row" style="margin-top:10px">
             <div class="press-release-article col">
                 {#<div class="img-wrapper">#}
                 {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                 {#</div>#}

                 <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                     <div class="social-bar">
                         <div class="addthis-widget">
                             <!-- AddThis Button BEGIN -->
                             <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                 <a class="addthis_button_facebook"></a>
                                 <a class="addthis_button_twitter"></a>
                                 <a class="addthis_button_email"></a>
                                 <a class="addthis_button_print"></a>
                                 <a class="addthis_button_compact"></a>
                                 <a class="addthis_counter addthis_bubble_style"></a>
                             </div>
                             <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                             <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                             <!-- AddThis Button END -->
                         </div>
                     </div>
                     <br class="clear"/>

                     <p>
                     <h2>2015 Hungarian GP Qualifying Report</h2>
                     </p>
                     <p>
                         Posted on 26 July 2015
                     </p>
                     <p>
                         <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg"> By Kate Walker
                     </p>
                     <p>
                         <img
                                 width="610"
                                 height="375"
                                 align="center"
                                 src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_hungarian_gp_qualifying_report-1.png"
                                 style=" margin-left: 0px;"
                                 />
                     </p>
                     <p>
                         It would take a brave soul to bet against a Mercedes win at the Hungarian Grand Prix following the team’s dominance of the weekend thus far, with Lewis Hamilton topping the timesheets at all three practice and qualifying sessions and Nico Rosberg joining his teammate on the front row.
                     </p>
                     <p>
                         But Formula One is no stranger to the unexpected, and the Hungaroring has historically thrown up a few surprising grands prix. Sunday’s race is expected to run in cooler temperatures than those seen throughout the weekend thus far, and a significant drop in track temperatures will certainly have an impact on the podium.
                     </p>
                     <p>
                         If the track stays in the low- to mid-50s seen in practice and qualifying, Ferrari will be in with a chance of taking the fight to Mercedes in the race. But falling track temperatures will diminish whatever advantage the Scuderia can eke out of their car’s gentle touch on the rubber, playing into the hands of the still dominant Silver Arrows.
                     </p>
                     <p>
                         One team to watch on Sunday will be Red Bull, with Daniel Ricciardo qualifying in fourth and within a whisker of Sebastian Vettel, while teammate Daniil Kvyat lines up in seventh place, splitting the Williams driver pairing.
                     </p>
                     <p>
                         While Red Bull must wait until the Russian Grand Prix for an upgraded power unit, the weekend’s practice sessions showed the Milton Keynes racers to have decent pace on long runs. Ricciardo won in Hungary last year, and will be fighting hard to challenge for a podium and capitalise on his qualifying result at a circuit he knows well.
                     </p>
                     <p>
                         Even the beleaguered McLaren look to be increasingly competitive, despite the Woking racers’ issues in qualifying.
                     </p>
                     <p>
                         <img width="348" height="230" src="http://web2.singaporegp.sg/Uploaded/insights-2015/2015_hungarian_gp_qualifying_report-2.png" align="right"
                              style="margin-top: 0px;" hspace="12"/>
                     </p>
                     <p>
                         In the practice sessions both Jenson Button and Fernando Alonso were able to set times that placed the pair squarely in the upper mid-field, and it looked as though Honda’s work on the energy recovery systems was finally beginning to bear fruit. But both drivers were out of qualifying early with power unit problems, and there is more work to be done on the reliability front before practice pace will produce precious points.
                     </p>
                     <p>
                         That the Hungaroring is not a power-hungry circuit works to both Red Bull’s and McLaren’s advantage - the deficiencies of both the Honda and Renault power units are hardly secret - and any improvement shown in Budapest is unlikely to be replicated at either Spa or Monza. But at the following grand prix in Singapore, where low speed driveability is key - and the opportunities for energy recovery virtually limitless - both McLaren and Red Bull can capitalise on the progress made since Silverstone.
                     </p>
                     <p>
                         The hot temperatures and high humidity in Hungary this weekend have been reminiscent of high noon at Marina Bay, and one challenge for the teams here is familiar to fans of the Singapore race: ensuring that the power units are sufficiently cooled to be able to operate at peak efficiency. Deficiencies in the Hungarian heat will only be amplified when the F1 circus jets off to the original night race.
                     </p>
                     <p>
                         <b>Podium prediction: (1) Lewis Hamilton, (2) Sebastian Vettel, (3) Nico Rosberg</b>
                     </p>
                     <p>
                         <em> </em>
                     </p>
                     <p>
                         <em>
                             Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles
                             have also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                         </em>
                     </p>

                     <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                 </div>
             </div>
         </div>
     </section>

 {% endblock %}