{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Malaysian GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Malaysian GP Qualifying Report</h2>
                    </p>
                    <p>
                        Posted on 28 Mar 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg">
                        By James Allen
                    </p>
                    <p>
                        <img width="303" height="199" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport-malaysian01.png" align="left" hspace="12" style="margin-top: 5px;"/>
                        Lewis Hamilton did not have the cleanest of weekends prior to qualifying for the Malaysian Grand Prix, spending more time in the garage with technical
                        problems on Friday than on the race track, but starting from pole position he is likely to control the race as he did in the opening round in Melbourne two
                        weeks ago.
                    </p>
                    <p>
                        His Mercedes team mate Nico Rosberg is in danger of becoming the bridesmaid again this season if he cannot overcome Hamilton in tomorrow’s race. He was
                        downbeat after qualifying, admitting once again that Hamilton had driven better.
                    </p>
                    <p>
                        <img width="241" height="157" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport-malaysian02.png" align="right" hspace="12" style="margin-top: 5px;" />
                    </p>
                    <p>
                        The two Silver Arrows failed to lock out the front row for the first time in ten races, as Sebastian Vettel took advantage of the wet conditions in the
                        final part of qualifying to split the Mercedes, with a well-judged lap.
                    </p>
                    <p>
                        Both Rosberg and Vettel will have a few chances tomorrow to attack Hamilton. The start is always critical here; after the second longest run to the first
                        corner on the calendar (600m), we have the distinctive first corner which turns right and then pinches back to the left and always results in a big change
                        of field order.
                    </p>
                    <p>
                        If Hamilton retains the lead there, then Vettel is unlikely to have the race pace in the Ferrari to stay with the pole sitter, but Rosberg does and
                        strategy could offer some possibilities. He can take a different plan from Hamilton and look to challenge him at the end on fresher tyres. In 2013 he was
                        on target to do just that but was ordered to stay behind. This time there will be no team orders.
                    </p>
                    <p>
                        <img width="260" height="174" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport-malaysian03.png" align="left" hspace="12" style="margin-top: 5px;"/>
                        Both Mercedes drivers have saved all their hard compound tyres in qualifying, in anticipation of a three stop strategy using three sets of hard tyres after
                        the opening stint on medium compound tyres. Rosberg may try something different to make a late race attack.
                    </p>
                    <p>
                        Like the Singapore Grand Prix, the intense heat and humidity of Malaysia pushes the cars and drivers to the limit. They will lose up to four litres of body
                        fluid during the ninety minute race.
                    </p>
                    <p>
                        We have seen high tyre degradation in practice, due to the heat and the high-energy corners. Also the heavy rain that fell during qualifying is likely to
                        have washed all the tyre runner off the race track.
                    </p>
                    <p>
                        Ferrari has looked good once again, with Kimi Raikkonen’s lap times in Friday practice indicating that the scarlet cars are the ‘best of the rest’ after
                        the Mercedes. Williams appeared to struggle in race simulations on Friday, so Felipe Massa starting 7<sup>th</sup> and Valtteri Bottas in 9th may struggle.
                    </p>
                    <p>
                        Max Verstappen did a fantastic job to qualify behind the two Red Bull cars in sixth place for only his second Grand Prix start at the age of 17.
                    </p>
                    <p>
                        Fernando Alonso made his F1 comeback after a concussion in a testing accident last month and the lack of track time hurt him, as he was 18<sup>th</sup> in
                        the McLaren Honda behind team mate Jenson Button.
                    </p>
                    <p>
                        But both drivers feel that the car and engine package is improving rapidly and it will be interesting to see where they are by the time we get to the
                        Singapore Grand Prix in September.
                    </p>
                    <p>
                        My prediction is for Lewis Hamilton to lead a Mercedes 1-2 with Sebastian Vettel in third place.
                    </p>
                    <p style="font-weight: 400;">
                        <em>Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd</em>
                    </p>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}