{% extends "layouts.master_no_footer" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Race Calendar' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>
	<style>
		h1 {
			margin: 0px !important;
		}
	</style>
{% endblock %}

{# page content #}
{% block content %}


<html>
<head>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
	<title>Singapore Grand Prix - Memory Lane</title>
	<!-- Practical proven viewport for better mobile experience -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<link type="text/css" rel="stylesheet" href="/memory-lane2/static/css/parallax.css">
	<link type="text/css" rel="stylesheet" href="/memory-lane2/static/css/sample.css">
	<link type="text/css" rel="stylesheet" href="/memory-lane2/static/css/memory-lane.css">
</head>
<body  class='unloaded'>
<img class="loadBackground" src="/memory-lane2/static/img/bck.png">

<div id="mobile" class="background-mobile">
	<div class="title">
		<h1>The road to Formula 1 Singapore Grand Prix</h1>
		<br>
		<p>Singapore has been the home of Formula 1<span class="sup">®</span> night racing since 2008. The backdrop of heritage buildings, modern architecture and breathtaking skyline culminates in an unparalleled combination of sights, sounds and a festive atmosphere. Held every September, the speed, thrills and non-stop action will once again enthrall crowds as the world’s finest drivers prove their mettle on the challenging Marina Bay Street Circuit.</p>
		<br>
		<br>
		<img src="/memory-lane2/static/img/memory-lane-hero.jpg" width="100%" class="image">
		<br>
		<br>
		<p style="width: 530px">
			"This race is always a highlight of the season: a great city which looks really spectacular under the lights with the tricky street circuit below – my favourite kind of track to drive."
		</p>
		<p style="font-weight: bold; font-style: italic; margin-top: 10px">
			Lewis Hamilton<br>
			Formula 1 World Champion<br>
			Mercedes AMG Petronas F1 Team
		</p>
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<h1>1990</h1>
		<br>
		<p>The Singapore Tourism Promotion Board makes a bid to host a leg of the FORMULA 1 GRAND PRIX.
			<br><br>
			Bernie Ecclestone, then vice-president of motor racing’s international governing body FISA, says negotiations are underway for a grand prix to be staged in Singapore in 1992.
			<br><br>
			A 5km track is earmarked to be built near the Bedok army camp for S$20 million.
		</p>
	</div>
	<br><br>
	<div class="section">
		<h1>1991</h1>
		<br>
		<p>Mr Ong Beng Seng secures a deal to stage a Formula One race here. It does not take off because the Laguna National Golf and Country Club is built on the proposed 126-hectare race track site.
		</p>
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<h1>2006</h1>
		<h2>Fresh plans for the future</h2>
		<br>
		<p>Singapore Tourism Board was "actively looking" at a proposal to bring Formula One to Singapore. Formula One boss Bernie Ecclestone stated in March that he would consider Singapore as a host for the 2008 season, suggesting a street circuit similar to Monaco’s.
		</p>
		<br>
		<img src="/memory-lane2/static/img/section/0_1.jpg" width="100%" class="image">
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<h1>2007</h1>
		<h2>Full speed ahead</h2>
		<br>
		<img src="/memory-lane2/static/img/section/0_2.jpg" width="100%" class="image">
		<br>
		<p>
			Singapore GP Pte Ltd is established in May, with rights acquired to host Formula 1<span class="sup">®</span> in Singapore.  A ground-breaking ceremony for the F1 Pit Building was held in August. The Fédération Internationale de l’Automobile (FIA) approved in-principle the concept of the first night race in Formula 1<span class="sup">®</span> history.
		</p>
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<h1 style="font-size: 50px">2008</h1>
		<h2>And the lights go on!</h2>
		<br>
		<br>
		<p>
			In March, Singapore GP demonstrated the bespoke, state of the art lighting system
			that would make history with Singapore’s hosting of the world’s first night race on
			the Formula One calendar. Lighting up the Marina Bay Street Circuit required up to
			10,000 lamps, with a system comprising more than 1,500 projectors, 134km of
			power and optic cables and 240 steel pylons.
			<br><br>
			The construction of the Pit Building — the nerve centre for the race — was completed in July, just 10 months after the breaking ground ceremony. Around
			300,000 onsite spectators and more than 100 million television viewers around the
			world watched the inaugural 2008 Singapore Grand Prix which Fernando Alonso
			won.
			<br><br>
			The Singapore Grand Prix venue was named the Motor Sport Facility of the Year by
			Professional Motor Sport World Expo. Singapore GP also scooped the FIA Promoter of the Year award.
		</p>
		<br>
		<img src="/memory-lane2/static/img/section/0_3.jpg" width="100%" class="image">
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<h1>2009</h1>
		<h2>The big supporter</h2>
		<br>
		<p>
			The inaugural event is awarded Breakthrough Contribution to Tourism (Singapore
			Experience Awards 2009, Singapore Tourism Board). Minor changes were made to Turns 1, 13 and 14 to improve overtaking. The Pit Lane entry and exit as well as the Turn 22 runoff area were also revised. Lewis Hamilton started from pole and secured a clear-cut victory, earning the 12th Grand Prix win of his career.
		</p>
		<br>
		<img src="/memory-lane2/static/img/section/0_4_2.jpg" width="100%" class="image">
		<br><br>
		<img src="/memory-lane2/static/img/section/0_4_1.jpg" width="100%" class="image">
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<h1>2010</h1>
		<h2>A sparkling success</h2>
		<br>
		<p>
			The 2010 Singapore Grand Prix was named Best Global Showcase of Singapore by
			lifestyle portal CNNGo. Fernando Alonso proved his mettle on the Marina Bay Street Circuit, scoring a hat trick with fastest lap, pole position and taking first place in Singapore for the second time. Heikki Kovalainen bravely put out a fire in his Lotus, which was then voted Autosport Awards’ LG Moment of the Year.
		</p>
		<br>
		<img src="/memory-lane2/static/img/section/0_5_1.jpg" width="100%" class="image">
		<br><br>
		<img src="/memory-lane2/static/img/section/0_5_3.jpg" width="100%" class="image">
		<br><br>
		<img src="/memory-lane2/static/img/section/0_5_2.jpg" width="100%" class="image">
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<h1>2011</h1>
		<h2>Best of the year</h2>
		<br>
		<p>
			The fourth edition of the Singapore Grand Prix was named Best Sports Event of the
			Year (International) at the Singapore Sports Awards. Sebastian Vettel won his first Formula 1 Singapore Grand Prix after taking pole position and leading to the finish, bringing him all but  one point closer to his second successive Drivers’ World Championship title.
		</p>
		<br>
		<img src="/memory-lane2/static/img/section/0_6_2.jpg" width="100%" class="image">
		<br><br>
		<img src="/memory-lane2/static/img/section/0_6_1.jpg" width="100%" class="image">
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<h1>2012</h1>
		<h2>A five-year extension</h2>
		<br>
		<p>
			Singapore Grand Prix extended the city’s contract to host a round of the FIA Formula
			1 World Championship for a further five-year period, until 2017.  The fifth running of the night race went beyond the two-hour time-limit, ending after just 59 laps. Sebastian Vettel took his second consecutive title at the street circuit.
		</p>
		<br>
		<img src="/memory-lane2/static/img/section/0_7_2.jpg" width="100%" class="image">
		<br><br>
		<img src="/memory-lane2/static/img/section/0_7_1.jpg" width="100%" class="image">
		<!--<br><br>-->
		<!--<img src="/memory-lane2/static/img/section/0_7_3.jpg" width="100%" class="image">-->
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<h1>2013</h1>
		<h2>A classic feel</h2>
		<br>
		<img src="/memory-lane2/static/img/section/0_8.jpg" width="100%" class="image">
		<br><br>
		<p>
			The circuit layout was revised for the 2013 race, with the Turn 10 chicane (Singapore Sling) was reconfigured into a single-apex lefthander. The race was attended by a record 262,527 spectators, the highest since its inaugural season. Continuing his domination run with Red Bull Racing, Sebastian Vettel claims his third consecutive victory.
		</p>
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<h1>2014</h1>
		<h2>A new partner</h2>
		<br>
		<!--<div style="display: inline-block;width: 100%;">-->
			<!--<div style="width: 40%; display: inline-block; vertical-align: middle;">-->
				<!--<h1>2014</h1>-->
				<!--<h2>A new partner</h2>-->
			<!--</div>-->
			<!--<div style="width: 40%; display: inline-block; vertical-align: middle;">-->
				<!--<img src="/memory-lane2/static/img/section/singapore-airlines.png" width="200px">-->
			<!--</div>-->
		<!--</div>-->
		<p>
			A new partner Singapore Airlines came on board as Title Sponsor of the Singapore Grand Prix.  Lewis Hamilton won his second Singapore Grand Prix – his seventh Grand Prix victory of 2014 and the 29th of his career.
		</p>
		<br>
		<img src="/memory-lane2/static/img/section/0_9_1.jpg" width="100%" class="image">
		<br><br>
		<img src="/memory-lane2/static/img/section/0_9_2.jpg" width="100%" class="image">
		<br><br>
		<img src="/memory-lane2/static/img/section/0_9_3.jpg" width="100%" class="image">
		<br><br>
		<img src="/memory-lane2/static/img/section/0_9_4.jpg" width="100%" class="image">
	</div>
	<br><br><br><hr class="break"><br><br>
	<div class="section">
		<div style="width: 100%; position: relative">
			<h1 style="font-size: 50px;float: left; margin-right: 10px">2015</h1>
			<!--<img src="/memory-lane2/static/img/section/SG50.png" width="50px" style="position: absolute; bottom: -55px">-->
		</div>
		<div style="clear: both"></div>
		<h2 >Feel the buzz</h2>
		<br>
		<p>
			Modifications were made to the track to dove-tail with Singapore’s Civic District enhancement plans. Turn 11 was re-aligned to sit tighter with the left-hand side of Fullerton Road while Turn 12 was modified slightly so drivers now enter the left lane of Anderson Bridge. The Turn 13 hairpin was widened by one metre to enable more overtaking opportunities.
			<br><br>
			The eighth edition of the Singapore Grand Prix saw the third-highest attendance in the eight-year history of the event, exceeded only by the attendance figures for the inaugural Singapore night race in 2008 and the 2013 edition. 260,912 spectators were at the Marina Bay Street Circuit over the three-day weekend.
			<br><br>
			Sebastian Vettel, in his first season at Ferrari, took his fourth Singapore win at the Marina Bay Street Circuit.
		</p>
		<br>
		<img src="/memory-lane2/static/img/section/0_10_1.jpg" width="100%" class="image">
		<br><br>
		<img src="/memory-lane2/static/img/section/0_10_2.jpg" width="100%" class="image">
		<br><br>
		<img src="/memory-lane2/static/img/section/0_10_3.jpg" width="100%" class="image">
	</div>
</div>

<a id="right-arrow" style="display: inline;" class="right-arrow noselect" onclick="para.closerRight(); hideArrow();">
	<img src="/memory-lane2/static/img/right.png" alt="" height="40">
</a>
<a id="left-arrow" style="display: inline;" class="left-arrow noselect" onclick="para.closerLeft(); hideArrow();">
	<img src="/memory-lane2/static/img/left.png" alt="" height="40">
</a>

<div id="parallax" class="noselect parallax">
	<img alt=".1" class="parallaxBackground" src="/memory-lane2/static/img/background-min.jpg" width="500" style="opacity: 0.5">

	<div id="intro" class="page">
		<div class='popularResolution para-totalCenterAlign'>
			<div class='fastLayer' style='left: 570px; top: 90px;'>
				<img alt="2.5" src="/memory-lane2/static/img/car/car_bg_1.png" width="600" class="" id="car_bg">
			</div>
			<div class='fastLayer' style='left: 570px; top: 90px;'>
				<img alt="2.5" src="/memory-lane2/static/img/car/car_smoke_1.png" width="600" class="" id="car_smoke">
			</div>
			<div class='fastLayer' style='left: 570px; top: 90px;'>
				<img alt="2.5" src="/memory-lane2/static/img/car/car.png" width="600" class="" id="car">
			</div>
			{#<div class='fastLayer' style='left: 520px; top: 90px;'>#}
				{#<img alt="2.5" src="/memory-lane2/static/img/car/car_smoke1.png" width="800" class="" id="kv">#}
			{#</div>#}
			{#<div class='fastLayer' style='left: 520px; top: 90px;'>#}
				{#<img alt="2.5" src="/memory-lane2/static/img/car/.png" width="800" class="" id="kv">#}
			{#</div>#}

			{#<div class='fastLayer' style='left: 250px; top: 60px;'>#}
				{#<img alt="2" src="/memory-lane2/static/img/stones-blurred.png" width="1100" class="">#}
			{#</div>#}

			{#<div class='fastLayer' style='left: 500px; top: 200px;'>#}
				{#<img alt="1" src="/memory-lane2/static/img/stones-front.png" width="700" class="">#}
			{#</div>#}

			<div class='fastLayer' style='left: 200px; top: 60px;'>
				<div alt='2'>
					<div class="title">
						<h1>The road to Formula 1 Singapore Grand Prix</h1>
						<br>
						<p style="font-size: 17px; width: 575px">Singapore has been the home of Formula 1<span class="sup">®</span> night racing since 2008. The backdrop of heritage buildings, modern architecture and breathtaking skyline culminates in an unparalleled combination of sights, sounds and a festive atmosphere. Held every September, the speed, thrills and non-stop action will once again enthrall crowds as the world’s finest drivers prove their mettle on the challenging Marina Bay Street Circuit.</p>
					</div>
				</div>
			</div>
			<div class='fastLayer' style='top: 270px; left: 200px;'>
				<div alt='1.1'>
					<div class="section">
						<p style="width: 390px; color: #03a4b2; font-style: italic;">
							"This race is always a highlight of the season: a great city which looks really spectacular under the lights with the tricky street circuit below – my favourite kind of track to drive."
						</p>
						<p style="font-weight: normal; margin-top: 10px; font-size: 13px;">
							Lewis Hamilton<br>
							Formula 1 World Champion<br>
							Mercedes AMG Petronas F1 Team
						</p>
					</div>
				</div>
			</div>

			<!--<div id="navigator" class='fastLayer' style='left: 120px;-->
                  <!--top: 450px;'>-->
				<!--<p style="font-size: 18px; width: 250px; color: #ffffff; text-align: left; line-height: 30px;-->
					<!--background:rgba(0,0,0,0.8); padding: 15px 50px 50px 15px; border-radius: 15px">-->
					<!--Navigate our memory lane by pressing-->
					<!--<br>-->
					<!--keyboard arrows-->
					<!--<i class="arrow" style="margin-left: 15px">?</i>-->
					<!--<i class="arrow">?</i>-->
					<!--<br><br>-->
					<!--or rotating mouse wheel-->
					<!--<img alt="1" src="/memory-lane2/static/img/mouse.gif" width="100" style="top: 110px">-->
				<!--</p>-->
			<!--</div>-->
		</div>
	</div>
	<div class="page" id="2006" style="height: 100%; position: relative; float: left; overflow: hidden; width: 1366px;">
		<div class="popularResolution para-totalCenterAlign">
			<div class="fastLayer" style="left: 360px; top: 90px;">
				<img width="500" style="display: inline-block; overflow: visible; position: absolute; left: 0px;" alt="7.5" src="/memory-lane2/static/img/section/0_1.png">
			</div>

			<div class="fastLayer" style="left: 120px; top: 80px;">
				<div style="display: inline-block; overflow: visible; position: absolute; left: 0px;" class="section" alt="2">
					<h1 style="text-align: left; font-size: 35px">1990</h1>
				</div>
			</div>
			<div class="fastLayer" style="left: 120px; top: 130px;">
				<div style="display: inline-block; overflow: visible; position: absolute; left: 0px;" alt="3">
					<div class="section" style="width:350px; text-align: justify">
						<p>The Singapore Tourism Promotion Board makes a bid to host a leg of the FORMULA 1 GRAND PRIX.<br><br>
							Bernie Ecclestone, then vice-president of motor racing’s international governing body FISA, says negotiations are underway for a grand prix to be staged in Singapore in 1992.
							<br><br>
							A 5km track is earmarked to be built near the Bedok army camp for S$20 million.
						</p>
					</div>
				</div>
			</div>
			<div class="fastLayer" style="left: 765px; top: 80px;">
				<div style="display: inline-block; overflow: visible; position: absolute; left: 0px;" class="section" alt="4">
					<h1 style="margin-bottom: 0px">2006</h1>
					<h2>Fresh plans for the future</h2>
				</div>
			</div>
			<div class="fastLayer" style="left: 768px; top: 200px;">
				<div style="display: inline-block; overflow: visible; position: absolute; left: 0px;" alt="2.5">
					<div class="section" style="width:470px; text-align: justify">
						<p>Singapore Tourism Board was "actively looking" at a proposal to bring Formula One to Singapore. Formula One boss Bernie Ecclestone stated in March that he would consider Singapore as a host for the 2008 season, suggesting a street circuit similar to Monaco’s.
						</p>
					</div>
				</div>
			</div>
			<div class="fastLayer" style="left: 350px; top: 440px;">
				<div style="display: inline-block; overflow: visible; position: absolute; left: 0px;" class="section" alt="4.5">
					<h1 style="text-align: left; font-size: 42px">1991</h1>
				</div>
			</div>
			<div class="fastLayer" style="left: 460px; top: 445px;">
				<div style="display: inline-block; overflow: visible; position: absolute; left: 0px;" alt="4.8">
					<div class="section" style="width:400px; text-align: justify">
						<p>Mr Ong Beng Seng secures a deal to stage a Formula One race here. It does not take off because the Laguna National Golf and Country Club is built on the proposed 126-hectare race track site.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="2007" class="page">
		<div class='popularResolution para-totalCenterAlign'>
			<div class='fastLayer' style='left: 560px; top: 90px;'>
				<img alt="4" src="/memory-lane2/static/img/section/0_2.png" width="700">
			</div>
			<div class='fastLayer' style='left: -20px; top: 90px;'>
				<div class="section">
					<h1 style="text-align: right; margin-bottom: 0px">2007</h1>
					<h2 style="text-align: right">Full speed ahead</h2>
				</div>
			</div>
			<div class='fastLayer' style='left: 190px; top: 210px;'>
				<div alt='2'>
					<div class="section">
						<p style="width: 450px">
							Singapore GP Pte Ltd is established in May, with rights acquired to host Formula 1<span class="sup">®</span> in Singapore.  A ground-breaking ceremony for the F1 Pit Building was held in August. The Fédération Internationale de l’Automobile (FIA) approved in-principle the concept of the first night race in Formula 1<span class="sup">®</span> history.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="2008" class="page">
		<div class='popularResolution para-totalCenterAlign'>
			{#<div class='fastLayer' style='left: 140px; top: 3px;'>#}
				{#<img alt="1.5" src="/memory-lane2/static/img/section/03bg.png" width="980" class="image">#}
			{#</div>#}
			<div class='fastLayer' style='left: 260px; top: 80px;'>
				<img alt="2.5" src="/memory-lane2/static/img/section/0_3.jpg" width="300" class="image">
			</div>
			<div class='fastLayer' style='left: 610px; top: 70px;'>
				<div alt='3.5'>
					<div class="section">
						<h1 style="text-align: left; font-size: 90px; margin-bottom: 0px">2008</h1>
						<h2 style="text-align: left; font-size: 22px">And the lights go on!</h2>
					</div>
				</div>
			</div>
			<div class='fastLayer' style='left: 610px;  top: 220px;'>
				<div alt='5'>
					<div class="section" style="width: 500px">
						<p>In March, Singapore GP demonstrated the bespoke, state of the art lighting system
							that would make history with Singapore’s hosting of the world’s first night race on
							the Formula One calendar. Lighting up the Marina Bay Street Circuit required up to
							10,000 lamps, with a system comprising more than 1,500 projectors, 134km of
							power and optic cables and 240 steel pylons.
							<br><br>
							The construction of the Pit Building — the nerve centre for the race — was completed in July, just 10 months after the breaking ground ceremony. Around
							300,000 onsite spectators and more than 100 million television viewers around the
							world watched the inaugural 2008 Singapore Grand Prix which Fernando Alonso
							won.
							<br><br>
							The Singapore Grand Prix venue was named the Motor Sport Facility of the Year by
							Professional Motor Sport World Expo. Singapore GP also scooped the FIA Promoter of the Year award.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="2009" class="page">
		<div class='popularResolution para-totalCenterAlign'>
			<div class='fastLayer' style='left: 710px;
                  top: 70px;'>
				<img alt="5" src="/memory-lane2/static/img/section/0_4_1.jpg" width="340" class="image">
			</div>
			<div class='fastLayer' style='left: 270px;
                  top: 310px;'>
				<img alt="3" src="/memory-lane2/static/img/section/0_4_2.jpg" width="400" class="image">
			</div>
			<div class='fastLayer' style='left: 270px;
                  top: 43px;'>
				<div class="section">
					<h1>2009</h1>
					<h2>The big supporter</h2>
				</div>
			</div>
			<div class='fastLayer' style='left: 270px;
                  top: 163px;'>
				<div alt='2'>
					<div class="section">
						<p style="width: 410px">The inaugural event is awarded Breakthrough Contribution to Tourism (Singapore
							Experience Awards 2009, Singapore Tourism Board). Minor changes were made to Turns 1, 13 and 14 to improve overtaking. The Pit Lane entry and exit as well as the Turn 22 runoff area were also revised. Lewis Hamilton started from pole and secured a clear-cut victory, earning the 12th Grand Prix win of his career.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="2010" class="page">
		<div class='popularResolution para-totalCenterAlign'>
			<div class='fastLayer' style='left: 700px;
                  top: 60px;'>
				<img alt="5" src="/memory-lane2/static/img/section/0_5_1.jpg" width="370" class="image">
			</div>
			<div class='fastLayer' style='left: 700px;
                  top: 330px;'>
				<img alt="4" src="/memory-lane2/static/img/section/0_5_3.jpg" width="370" class="image">
			</div>
			<div class='fastLayer' style='left: 300px;
                  top: 330px;'>
				<img alt="3" src="/memory-lane2/static/img/section/0_5_2.jpg" width="370" class="image">
			</div>
			<div class='fastLayer' style='left: 302px;
                  top: 50px;'>
				<div class="section">
					<h1>2010</h1>
					<h2>A sparkling success</h2>
				</div>
			</div>
			<div class='fastLayer' style='left: 302px;
                  top: 165px;'>
				<div alt='2'>
					<div class="section">
						<p style="width: 370px">
							The 2010 Singapore Grand Prix was named Best Global Showcase of Singapore by
							lifestyle portal CNNGo. Fernando Alonso proved his mettle on the Marina Bay Street Circuit, scoring a hat trick with fastest lap, pole position and taking first place in Singapore for the second time. Heikki Kovalainen bravely put out a fire in his Lotus, which was then voted Autosport Awards’ LG Moment of the Year.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="2011" class="page">
		<div class='popularResolution para-totalCenterAlign'>
			<div class='fastLayer' style='left: 330px; top: 70px;'>
				<img alt="1.5" src="/memory-lane2/static/img/section/0_6_1.jpg" width="330" class="image">
			</div>

			{#<div class='fastLayer' style='left: 170px; top: 0px;'>#}
				{#<img alt="3" src="/memory-lane2/static/img/section/06bg.png" width="700">#}
			{#</div>#}

			{#<div class='fastLayer' style='left: 270px; top: 345px;'>#}
				{#<img alt="3" src="/memory-lane2/static/img/section/0_6_2.jpg" width="400" class="image">#}
			{#</div>#}

			<div class='fastLayer' style='left: 688px; top: 130px;'>
				<div alt='2' class="section">
					<h1 style="margin-bottom: 0px">2011</h1>
					<h2>Best of the year</h2>
				</div>
			</div>
			<div class='fastLayer' style='left: 690px; top: 255px;'>
				<div alt='3'>
					<div class="section">
						<p style="width: 410px">The fourth edition of the Singapore Grand Prix was named Best Sports Event of the
							Year (International) at the Singapore Sports Awards. Sebastian Vettel won his first Formula 1 Singapore Grand Prix after taking pole position and leading to the finish, bringing him all but  one point closer to his second successive Drivers’ World Championship title.

						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="2012" class="page">
		<div class='popularResolution para-totalCenterAlign'>
			<div class='fastLayer' style='left: 700px;
                  top: 280px;'>
				<img alt="5" src="/memory-lane2/static/img/section/0_7_1.jpg" width="370" class="image">
			</div>
			<!--<div class='fastLayer' style='left: 700px;-->
			<!--top: 350px;'>-->
			<!--<img alt="4" src="static/img/section/0_7_3.jpg" width="370" class="image">-->
			<!--</div>-->
			<div class='fastLayer' style='left: 300px;
                  top: 280px;'>
				<img alt="3" src="/memory-lane2/static/img/section/0_7_2.jpg" width="370" class="image">

			</div>
			<div class='fastLayer' style='left: 302px;
                  top: 70px;'>
				<div class="section">
					<h1>2012</h1>
					<h2>A five-year extension</h2>
				</div>
			</div>
			<div class='fastLayer' style='left: 302px;
                  top: 200px;'>
				<div alt='2'>
					<div class="section">
						<p style="width: 780px">
							Singapore Grand Prix extended the city’s contract to host a round of the FIA Formula
							1 World Championship for a further five-year period, until 2017.  The fifth running of the night race went beyond the two-hour time-limit, ending after just 59 laps. Sebastian Vettel took his second consecutive title at the street circuit.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="2013" class="page">
		<div class='popularResolution para-totalCenterAlign'>
			<div class='fastLayer' style='left: 495px; top: 190px;'>
				<img alt="5" src="/memory-lane2/static/img/section/0_8.jpg" width="530" class="image">
			</div>
			<div class='fastLayer' style='left: -30px; top: 55px;'>
				<div class="section">
					<h1 style="text-align: right; margin-bottom: 0px">2013</h1>
					<h2 style="text-align: right">A classic feel</h2>
				</div>
			</div>
			<div class='fastLayer' style="left: 500px; top: 70px;">
				<div class="section">
					<p>The circuit layout was revised for the 2013 race, with the Turn 10 chicane (Singapore Sling) was reconfigured into a single-apex lefthander. The race was attended by a record 262,527 spectators, the highest since its inaugural season. Continuing his domination run with Red Bull Racing, Sebastian Vettel claims his third consecutive victory.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="2014" class="page">
		<div class='popularResolution para-totalCenterAlign'>
			<!--<div class='fastLayer' style='left: 400px;-->
			<!--top: 120px;'>-->
			<!--<img alt="5" src="static/img/section/singapore-airlines.png" width="350">-->
			<!--</div>-->
			<div class='fastLayer' style='left: 845px; top: 50px;'>
				<img alt="3" src="/memory-lane2/static/img/section/0_9_1.jpg" width="340" class="image">
			</div>
			<div class='fastLayer' style='left: 120px;
                  top: 290px;'>
				<img alt="4" src="/memory-lane2/static/img/section/0_9_2.jpg" width="340" class="image">
			</div>
			<div class='fastLayer' style='left: 480px;
                  top: 290px;'>
				<img alt="6" src="/memory-lane2/static/img/section/0_9_3.jpg" width="340" class="image">
			</div>
			<div class='fastLayer' style='left: 840px;
                  top: 290px;'>
				<img alt="6.5" src="/memory-lane2/static/img/section/0_9_4.jpg" width="340" class="image">
			</div>
			<div class='fastLayer' style='left: 130px;
                  top: 60px;'>
				<div class="section">
					<h1>2014</h1>
					<h2>A new partner</h2>
				</div>
			</div>
			<div class='fastLayer' style='left: 130px;
                  top: 185px;'>
				<div alt='2'>
					<div class="section">
						<p>A new partner Singapore Airlines came on board as Title Sponsor of the Singapore Grand Prix.  Lewis Hamilton won his second Singapore Grand Prix – his seventh Grand Prix victory of 2014 and the 29th of his career.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="2015" class="page">
		<div class='popularResolution para-totalCenterAlign'>
			<!--<div class='fastLayer' style='left: 270px;-->
                  <!--top: 100px;'>-->
				<!--<img alt="5" src="/memory-lane2/static/img/section/SG50.png" width="60">-->
			<!--</div>-->
			<!--
			<div class='fastLayer' style='left: 120px;
                  top: 370px;'>
				<img alt="4" src="/memory-lane2/static/img/section/0_10_1.jpg" width="340" class="image">
			</div>
			<div class='fastLayer' style='left: 480px;
                  top: 370px;'>
				<img alt="6" src="/memory-lane2/static/img/section/0_10_2.jpg" width="340" class="image">
			</div>
			<div class='fastLayer' style='left: 840px;
                  top: 370px;'>
				<img alt="6.5" src="/memory-lane2/static/img/section/0_10_3.jpg" width="340" class="image">
			</div>
			-->

			<div class='fastLayer' style='left: 380px; top: 170px;'>
				<img alt="7.5" src="/memory-lane2/static/img/section/0_10.png" width="700">
			</div>
			{#<div class='fastLayer' style='left: 220px; top: 80px;'>#}
				{#<img alt="1.5" src="/memory-lane2/static/img/l0.png" width="950" class="image">#}
			{#</div>#}
			{#<div class='fastLayer' style='left: 220px; top: 80px;'>#}
				{#<img alt="2.5" src="/memory-lane2/static/img/l1.png" width="950" class="image">#}
			{#</div>#}
			<div class='fastLayer' style='left: 170px;  top: 60px;'>
				<div class="section">
					<h1 style="margin-bottom: 0px">2015</h1>
					<h2>Feel the buzz </h2>
				</div>
			</div>
			<div class='fastLayer' style='left: 430px; top: 60px;'>
				<div alt='2'>
					<div class="section">
						<p style="width: 850px">Modifications were made to the track to dove-tail with Singapore’s Civic District enhancement plans. Turn 11 was re-aligned to sit tighter with the left-hand side of Fullerton Road while Turn 12 was modified slightly so drivers now enter the left lane of Anderson Bridge. The Turn 13 hairpin was widened by one metre to enable more overtaking opportunities.
							<br><br>
							The eighth edition of the Singapore Grand Prix saw the third-highest attendance in the eight-year history of the event, exceeded only by the attendance figures for the inaugural Singapore night race in 2008 and the 2013 edition. 260,912 spectators were at the Marina Bay Street Circuit over the three-day weekend.
							<br><br>
							Sebastian Vettel, in his first season at Ferrari, took his fourth Singapore win at the Marina Bay Street Circuit.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<div id="optimization">-->
	<!--<div class='popularResolution para-totalCenterAlign'>-->
	<!--<div class='fastLayer' style='left: 534px;-->
	<!--top: 0px;'>-->
	<!--<div alt='2'>-->
	<!--<div style='width:300px;height:300px;background: rgba(255, 255, 255, 0.47);'></div>-->
	<!--</div>-->
	<!--</div>-->
	<!--<div class='story'>-->
	<!--<div class="padded">-->
	<!--<p>It is highly optimized. Slides not visible at the moment are fully suspended for you automatically.</p>-->
	<!--<p>Want to increase performance even more? Engine lets you stop any animations in slides while you are scrolling.</p>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--<div id="scaling" class='para-totalCenterAlign'>-->
	<!--<div class='story'>-->
	<!--<div class="padded">If you want, everything on your slide will scale to fit the window.-->
	<!--<span class="hint">experiment with the size of the window to see the magic</span>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--<div id="layouts">-->
	<!--<div class='popularResolution para-totalCenterAlign'>-->
	<!--<div class='story'>-->
	<!--<div class="padded">-->
	<!--We provide you <i>Alternative Layouts</i> API for top-notch webpage execution.-->
	<!--<span class="hint">resize window so the browser’s orientation will change</span>-->
	<!--<div class='landscapeOnly' >You're viewing album ? version of the slide.</div>-->
	<!--<div class='portraitOnly' >You're viewing portrait  ?  version of the slide.</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
</div>
<div id="footer">
	<!--<a href="/"><img src="/memory-lane2/static/img/home.png" height="25px" style="margin-right: 10px"></a>-->
	<a href="/"><img src="/memory-lane2/static/img/logo.png" width="220px"></a>
</div>
<!--<div style='display:none'>-->
<!--Placed here just to make the preloader busy.-->
<!--<img src="http://hotdot.pro//memory-lane2/static/img/lp/ipad/5.png" />-->
<!--<img src="http://hotdot.pro//memory-lane2/static/img/mainPage/intro/2.png" />-->
<!--<img src="http://hotdot.pro//memory-lane2/static/img/cryingCyan.png" />-->
<!--</div>-->
<script type="text/javascript" src="/memory-lane2/static/js/third_party/jquery-1.12.1.min.js"></script>
<script type="text/javascript" src="/memory-lane2/static/js/third_party/jquery.js"></script>
<script type="text/javascript" src="/memory-lane2/static/js/third_party/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/memory-lane2/static/js/third_party/jquery.custom.js"></script>
<script type="text/javascript" src="/memory-lane2/static/js/third_party/modernizr.custom.js"></script>
<script type="text/javascript" src="/memory-lane2/static/js/parallax.js"></script>
<script type="text/javascript" src="/memory-lane2/static/js/sample.js"></script>

<script>
	function hideArrow() {
		if (para != null) {
			if (para.currentSlideI == 0) {
				document.getElementById("left-arrow").style.visibility = "hidden";
			} else {
				document.getElementById("left-arrow").style.visibility = "visible";
			}

			if (para.currentSlideI == 10) {
				document.getElementById("right-arrow").style.visibility = "hidden";
			} else {
				document.getElementById("right-arrow").style.visibility = "visible";
			}
		}

		if (window.innerWidth < 1000) {
			document.getElementById("left-arrow").style.visibility = "hidden";
			document.getElementById("right-arrow").style.visibility = "hidden";
		}
	}
	window.onload = hideArrow;
</script>
<script>
	var num=1;

	$(document).ready(function(){
		$("#footer").hide();
		$("#navigator").hide();
		$("#footer").fadeIn(3000);
//		$("#navigator").fadeIn(6000).fadeOut(10000);


		setInterval(function(){ changeImage() }, 500);
	});

	function changeImage() {
		$('#car_bg').attr('src','/memory-lane2/static/img/car/car_bg_'+num+'.png');
		$('#car_smoke').attr('src','/memory-lane2/static/img/car/car_smoke_'+num+'.png');

		num++;
		if (num>3)num=1;
	}
</script>
</body>
</html>
{% endblock %}
