{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Monaco GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Monaco GP Qualifying Report</h2>
                    </p>
                    <p>
                        Posted on 24 May 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport04.jpeg">
                        By Bob Constanduros
                    </p>
                    <p>
                        <img
                            width="601"
                            height="400"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport-monaco01.jpg"
                        />
                    </p>
                    <p>
                        Lewis Hamilton scored his first pole position at Monaco on Saturday afternoon with a time some three tenths quicker than his teammate, Nico Rosberg, who
                        has been on pole and won for the last two Monaco Grands Prix. Almost as usual, Sebastian Vettel was in the mix in third place for Ferrari, maintaining the
                        record of the first three in almost every race so far this year.
                    </p>
                    <p>
                        The weekend started – on Thursday as usual – with just one useful free practice session as the afternoon was virtually rained off. Therefore teams had no
                        experience of the new compound supersoft Pirelli tyre and with cool temperatures in the morning, there were a number of teams that were in tyre trouble,
                        unable to get any temperature into the tyres.
                    </p>
                    <p>
                        The only drama befell Roberto Merhi who wiped off the nose of his Manor against the armco when he lost control under braking for the chicane. Hero of the
                        morning was Max Verstappen, the young Toro Rosso driver who, at 17, was making his debut at the circuit and set an astonishing second fastest time.
                    </p>
                    <p>
                        <img
                            width="239"
                            height="159"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport-monaco02.jpg"
                            align="right"
                            hspace="12"
                            style="margin-top:5px;"
                        />
                    </p>
                    <p>
                        There was a bit more drama on Saturday morning when Kimi Raikkonen swiped the rear of his Ferrari against the Ste Devote Armco but teammate Sebastian
                        Vettel set an amazing fastest time – his first fastest time in a free practice session for Ferrari. Verstappen had a brief incident at the final corner,
                        but the Ferrari versus Mercedes battle lines had been set and we were in for a fascinating and hectic qualifying session.
                    </p>
                    <p>
                        So qualifying might have been a bit of a mystery for some runners and indeed, losing Valtteri Bottas in Q1 was a surprise, even if the Williamses were
                        lacking downforce and tyre temperature. In the end, his teammate Felipe Massa wasn’t that much further ahead, but the top ten did include one surprise in
                        Sergio Perez, even if he equalled his previous best at Monaco with seventh on a single set of tyres.
                    </p>
                    <p>
                        But Hamilton, Rosberg and Vettel all seemed to regularly be ahead of the field. Rosberg lost a little confidence when he went straight on at Ste Devote at
                        the end of Q2, but his record of two wins from two poles in the last two races here is hard to beat. However, Hamilton won from third on the grid in 2008,
                        which would at least give hope to Sebastian Vettel, who was another winner from pole in 2011.
                    </p>
                    <p>
                        So pole is an advantage: there have been nine winners from pole in the last ten years. But as any driver will tell you, anything can happen at Monaco – and
                        usually does. The incidences of safety cars are regular: there have been eight in the last ten years and a total of 17 deployments. There were drops of
                        rain at the end of qualifying: rain has affected two of the last ten races. A regular, normal Monaco Grand Prix just doesn’t exist.
                    </p>
                    <p>
                        So while the man on pole has a massive advantage, he still has to get the tactics right and manage the competition behind him. Almost certainly the drivers
                        will start on supersofts – that’s what they qualified on – but then change to mediums if they can get sufficient heat into the tyres. A one stop has been
                        the main strategy in the past and there’s little reason why that should change, but rain, safety cars etc all have their influence.
                    </p>
                    <p>
                        Who’s going to win? In some ways the most difficult and the most easy prediction of the year: pole position is a big advantage, but then anything can
                        happen. There are some slow cars to be lapped, difficult tactics, a brush with the wall, slippery surface. But go with the pole man and you can’t go far
                        wrong.
                    </p>
                    <p>
                        <em>
                            Bob Constanduros is the on-circuit commentator at most Grands Prix worldwide. After a career in motor sport journalism dating back to the late sixties,
                            he was officially asked to provide English language commentary at Grands Prix in the mid-eighties and hasn’t missed a Grand Prix since 1985, totalling
                            over 550 Grands Prix. Despite his Greek name, he was born in England and lives there, not far from the Goodwood circuit where he saw his first motor
                            sport in the fifties. He has taken an interest and worked in all forms of motor sport from karting through rallying to sports and touring cars, and has
                            commentated at every Singapore Grand Prix since the race began. He has worked in all forms of media, and still works for the FIA and FOM as well as
                            individual race promoters.
                        </em>
                    </p>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}