{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Rule Change: Suspending a Race' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->


    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
            {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    <h2 style="text-align:left">2015 Rule Change: Regulating Formula One’s Next Generation of Stars</h2>
                    <p>Posted on 26 Feb 2015</p>
                    <p><img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg"> By Kate Walker</p>

                    <p>
                        Of all the incoming 2015 Formula One regulations, the one that drew the most attention over the winter was the introduction of a points system through
                        which up and coming young drivers would be able to qualify for a superlicence for 2016 and beyond, formalising the route to Formula One™.
                    </p>
                    <p>
                        With a sliding scale of points given for winning various junior categories - but excluding other, equally popular, series - much was made of the fact that
                        many of the current crop of drivers would not have qualified for a superlicence had the system been in place when they made their debut.
                    </p>
                    <p>
                        <img style="float:right;margin: 0px 10px 10px 10px" width="300" src="/images/next-generation-img1.jpg" align="left" hspace="9"/> 
                        When asked for his take on the new regulations, Toro Rosso’s Max Verstappen - the sport’s youngest debutant and a man who has spent much of the past six
                        months defending his age - was pragmatic. “We have to see,” he said. “If you look at [the new regulations], some drivers who are big champions couldn’t
                        have started their career if it was implemented back then. So we have to just wait and see if it’s a good thing.”
                    </p>
                    <p>
                        The new system is a concern to some current test and reserve drivers, who will be getting a Formula One™ seat time this season, but do not qualify for a
                        superlicence next year, such as Mercedes’ test driver and DTM racer Pascal Wehrlein, and Williams’ test driver Susie Wolff.
                    </p>
                    <p>
                        <img style="margin: 0px 10px 0 0" width="300" src="/images/next-generation-img2.jpg" align="left" hspace="9"/> "This side of things Mercedes has discussed with the FIA (Fédération Internationale de l’Automobile)," Wehrlein told reporters in Barcelona. "For this
                        season I have the superlicence because I achieved it last year, so for this season it wouldn't be a problem [to race]. But for 2016 we have a new points
                        system so let's see. I've done already so much testing this year it shouldn't be a problem to race next year in Formula One."
                    </p>
                    <p>
                        The FIA has acknowledged the need for flexibility as the new system is adjusted to, with Race Director Charlie Whiting saying “I would look at each of the
                        driver’s records and assess whether they should get a licence based on the ‘exception’ rule - we will have to look at each application on a case-by-case
                        basis.”
                    </p>
                    <p>
                        <img style="margin: 0px 10px 0 0" width="200" src="/images/next-generation-img3.jpg" align="left" hspace="9" alt=""/> </p>
                    <p>
                        The exception rule to which Whiting refers allows superlicences to be given to drivers who are “judged by the FIA to have consistently demonstrated
                        outstanding ability in single-seater formula cars, but with no opportunity to qualify under [the conditions]. In this case the Formule One™ team concerned
                        must show that the applicant has driven at least 300 km in a current Formula One car consistently at racing speeds, over a maximum period of two days,
                        completed not more than 90 days prior to the application and certified by the ASN of the country in which the test took place.”
                    </p>
                    <p>
                        To ensure that young drivers are prepared for Formula One™ when they secure a race seat, the FIA has also ruled that teams must give over two days of
                        testing time to a racing driver who has competed in two (or fewer!) grands prix.
                    </p>
                    <p>
                        <img style="float:right;margin: 0px 10px 10px 10px" width="300"  src="/images/next-generation-img4.jpg" align="left" hspace="9"/> For teams, this presents a minor risk. In-season testing is limited to two two-day outings, while pre-season test takes place over three four-day weeks.
                        While there are exceptions for promotional reasons, those sixteen days are the only time Formula One™ teams are allowed to run their cars outside of a race
                        weekend, and any damage to the car represents valuable time lost.
                    </p>
                    <p>
                        But young driver tests can also represent value. Smaller teams can sell their seats to young drivers interested in gaining Formula One™ experience, while
                        bigger outfits interested in evaluating several young talents can pay a smaller team to run someone under consideration.
                    </p>
                    <p>
                        <img style="margin: 0px 10px 0 0" width="300" src="/images/next-generation-img5.jpg" align="left" hspace="9"/> 
                        As the longest and most physical race on the calendar, Singapore is the grand prix for which drivers require the most preparation. In addition to the close
                        walls and night-time conditions, the heat and humidity take their toll.
                    </p>
                    <p>
                        But Verstappen is eager to get his first taste of the Marina Bay Street Circuit this September. “I’ve watched the Singapore GP a lot on TV. I’m looking
                        forward to it - it looks a very cool track, and I think night races are special anyway. It’s a street circuit, and normally a street circuit suits me, so
                        I’m looking forward to it.”
                    </p>
                    <p>
                        <em>
                            Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles
                            have also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                        </em>
                    </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>

                </div>
            </div>
        </div>
    </section>

{% endblock %}