{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Penalties' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
            {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    <h2>2015 Rule Change: Penalties</h2>
                    <p>Posted on 16 Feb 2015</p>
                    <p><img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg"> By James Allen</p>


                    <p>One of the more contentious issues in all sports is the way refereeing decisions are made and the penalties that are handed out to competitors during, or after, an event.</p>

                    <p>In football there is still a frustrating refusal to use video evidence to help the referee make the correct decision (unlike rugby and cricket for example).  But this controversy does generate a lot of coverage and engagement from fans.</p>

                    <p><img style="float:left" width="280" src="http://web2.singaporegp.sg/Uploaded/insights-2015/penalties1.png" hspace="9" style="margin: 10px 10px 0 10px">In Formula 1 we have no such problems with video evidence, as there are multiple camera angles of everything that happens on the race track and in the pit lane, and these are all available in real time and as replays to the FIA Race Stewards, who are the referees in F1.</p></p>

                    <p>But still there are some contentious moments and decisions, with drivers awarded time penalties during and after the race for a variety of driving infringements. Establishing who is at fault in a collision is not easy, which is why the fourth steward is always an ex-driver, who can input the drivers’ point of view to the ruling. This has led to a more consistent decision making process.</p>

                    <p>Last season the Fédération Internationale de l'Automobile (FIA) introduced a points accumulator system, like one the road, where a driver is required to miss a race if he reaches 12 points in a season. In total 10 drivers accumulated points, with Marcus Ericsson and Pastor Maldonado both reaching the total of five.</p>

                    <p>For the 2015 season there are a range of penalties that can be awarded by the stewards, which could well come into play at the Singapore GP, as the fast and furious nature of the race often leads to drivers overdoing it.</p>

                    <p>Last year saw the successful introduction of a five second stop and go penalty, which can be served just before a driver takes a pit stop; the stewards also have a tougher 10-second version which they can impose.</p>

                    <p>As with last year’s process, if the penalty is awarded late in the race, when the driver has no further scheduled pit stop to make, then 30 seconds will be added to his race time (for the 10 second stop/go).</p>

                    <p>This is quite a tough sanction and would, for example, have moved a driver who finished 5th at Marina Bay last season down to 14th place and out of the points.</p>

                    <p><img style="float:right" width="280" src="http://web2.singaporegp.sg/Uploaded/insights-2015/penalties2.png" hspace="9" style="margin: 10px 10px 0 10px"></p>We are likely to see this new penalty in action soon, as the FIA and the teams continue to be very vigilant on the dangers of the “unsafe release” from pit stops, where a car is sent on its way by mechanics after a pit stop, into the path of another car.  This season an “unsafe release” will attract the 10-second stop/go penalty.</p>

                    <p>Also if a driver accumulates three reprimands during a season, this will translate to a 10 sec stop/go (as long as two of them were for driving infringements).</p>

                    <p>This level of sanction is likely to drop all but the front running cars out of the points. A Mercedes, with its performance advantage, could suffer a penalty like that and still score points, but it would certainly cost a victory and possibly a podium.</p>

                    <p>But for most cars challenging outside the podium places it would mean no points.  It is particularly damaging at a race track where overtaking is difficult or where there is little prospect of a safety car to bunch the field up again.</p>

                    <p>The stewards can also impose a drive through penalty, where a driver must past through the pit lane without stopping. This typically takes 20 seconds, so drops him down the field and is more of a penalty than a stop/go, as he may not take a pit stop on the same visit.</p>

                    <p>They can also impose a grid position penalty at the next race, or a ban from the next race in extreme circumstances.</p>

                    <p><i>Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd</i></p>
                    
                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}