{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Photographer, Mark Sutton' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
	additional head scripts or styles
	#}
	{% block head %}
	{{ parent() }}
	<script type="text/javascript" src="/javascripts/genericbundle.js"></script>
	<link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

	<style>
		@media(min-width: 600px) {
			.writeup {
				width: 634px!important;
				text-align: justify;
				text-justify: inter-word;
				margin-right: auto;
				margin-left: auto;
			}
		}
		.writeup {
			/*margin-top: -20px;*/
			width: 100%;
			text-align: justify;
		}
		.writeup img {
			margin: 10px;
		}
		.writeup img.no-margin {
			margin: 0px;
		}
		.writeup .social-bar {
			margin-left: 0;
			float: right;
		}
		.writeup .addthis-widget {
			margin-left: -20px;
			float: none;
		}
		br.clear {
			clear: both;
		}

		table td{
			padding: 10px;
		}

		.desc p{
			color: #fff;
			font-size: 1rem;
			font-weight: 100;
			letter-spacing: .5px;
			line-height: 1.2rem;
			margin: 10px 0 0;
			text-shadow: 1px 1px 1px #969696;
		}

		.desc hr {
			border: 0;
			border-bottom: 1px solid rgba(255,255,255,.2);
			display: inline-block;
			width: 50px;
		}

		.desc a{
			color: #bb9d5f;
		}
	</style>
	{% endblock %}

	{# page content #}
	{% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->
        <section class="drivers-teams-panel race-calendar">
		{% embed "partials.masthead" %}
		{% block social %}{% endblock %}
		{% endembed %}

		<div class="chunk">
			<div class="row">
				<div class="desc-bar col">
					<div class="desc">
						<h1>F1 Insights</h1>
						<br/>
						<p>
							Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
							Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section class="press-release-details">

		<div class="chunk row" style="margin-top:10px">
			<div class="press-release-article col">
				{#<div class="img-wrapper">#}
				{#<img src="http://lorempixel.com/480/360/" alt=""/>#}
				{#</div>#}

				<div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
					<div class="social-bar">
						<div class="addthis-widget">
							<!-- AddThis Button BEGIN -->
							<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
								<a class="addthis_button_facebook"></a>
								<a class="addthis_button_twitter"></a>
								<a class="addthis_button_email"></a>
								<a class="addthis_button_print"></a>
								<a class="addthis_button_compact"></a>
								<a class="addthis_counter addthis_bubble_style"></a>
							</div>
							<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
							<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
							<!-- AddThis Button END -->
						</div>
					</div>
					<br class="clear"/>

					<h2>
                        Photo Story: 65 years of Design Evolution
					</h2>
					<p>
						Posted on 11 March 2015<br /><br />
                        By Formula One™ photographer, Mark Sutton.
					</p>
					<p>
						<img width="250" height="167" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_1.jpg" align="left" hspace="12"/>
					</p>
					<p>
						I took my first photo in 1983 while still at college, photographing Ayrton Senna in Formula 3. My brother, Keith Sutton, was Senna’s PR representative and
						photographer. I then joined Keith in 1985 and we set up Sutton Photographic in Towcester, only 5 miles from Silverstone and the heart of the motorsport
						industry, where many F1 teams and engine companies are based.
					</p>
					<p>
						In my three decades of photographing Formula One, I have covered over 400 Grands Prix and have seen some impressive designs. Here is a collection of some
						amazing cars from 1961 to present day.
					</p>
					<p>
						<strong>1. 1961 Shark Nose Ferrari 156 Phil Hill Champion</strong>
					</p>
					<img width="552" height="394" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_2.jpg"/>
					<p>
						1961 World Champion Phil Hill driving the amazing Shark Nose Ferrari 156, which was the start of new car designs. Ferrari destroyed all their cars after
						each year, just in case anyone tried to copy them if they were sold.
					</p>
					<p>
						<strong>2. 1962 Lotus 25, the first Fully Stressed Monocoque Champion X2 </strong>
					</p>
					<img width="387" height="575" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_3.jpg"/>
					<p>
						This revolutionary car won 14 races during its amazing career and two World Championships for Jim Clark. It was three times more rigid than other cars –
						its cornering and stability was truly an amazing concept for its time.
					</p>
					<p>
						<strong>3. 1969 Lotus 49 first Aero Wing Spanish GP </strong>
					</p>
					<img width="558" height="363" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_4.jpg"/>
					<p>
						The Lotus 49 seen here at the Spanish Grand Prix driven by Graham Hill and Jochen Rindt. These aerodynamic wings were to increase downforce, but after both
						drivers crashed, they were banned and new rules were introduced which still stand today.
					</p>
					<p>
						<strong>4. 1976 Tea Pot Ligier JS5 car </strong>
					</p>
					<img width="575" height="375" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_6.jpg"/>
					<p>
						The 70’s saw the cars becoming more curved and aero dynamic, so the larger air-box design by Gerard Ducarouge was copped by all the teams - it gave Jacques
						Laffite three podiums and a pole position for the Ligier Team, but was banned after this year and the height reduced.
					</p>
					<p>
						<strong>5. 1977 six-wheel Tyrrell P34</strong>
					</p>
					<img width="575" height="383" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_7.jpg"/>
					<p>
						This revolutionary design by Derek Gardner saw twin 10-inch wheels on the front, when launched to the media it drew a huge gasp, but went on to prove
						successful and gained a one-two victory at the Swedish Grand Prix in 1977. The front wheel design gave added grip on corners.
					</p>
					<p>
						<strong>6. 1978 Brabham BT46 Fan Car banded after winning the Swedish GP </strong>
					</p>
					<img width="575" height="384" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_8.jpg"/>
					<p>
						The Brabham BT46car designed by Gordon Murray did one race - the Spanish Grand Prix - and won it, then Bernie Ecclestone withdrew the car after the design
						was originally said to cool the engine, but it was found to be adding downforce through its fan and then nicknamed by the media as the ‘fan car’.
					</p>
					<p>
						<strong>7. 1988 McLaren MP4-4 wins 15 out 16 races domination </strong>
					</p>
					<img width="575" height="404" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_9.jpg"/>
					<p>
						The most successful car of all time, the McLaren MP4-4 with the Honda V6 engine won 15 of the 16 races in 1988, with Ayrton Senna winning the championship
						and also claiming all but one pole positions. The car was designed by Steve Nichols with assistance from Gordon Murray.
					</p>
					<strong>
						<br clear="all"/>
					</strong>
					<p>
						<strong>8. 1990 Tyrrell 019 Anhedral front wing </strong>
					</p>
					<img width="575" height="369" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_17.jpg"/>
					<p>
						This new concept called the Anhedral front wing allowed air to flow under the car, offering more downforce. The revolutionary design for Tyrrell designer
						Dr Harvey Postlethwaite set a new trend for the future with Jean Alesi finishing 2nd in Monaco.
					</p>
					<strong>
						<br clear="all"/>
					</strong>
					<p>
						<strong>9. 1991 Jordan 191 curved front and rear wings </strong>
					</p>
					<img width="575" height="378" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_10.jpg"/>
					<img width="575" height="377" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_11.jpg"/>
					<p>
						Jordan’s first car design, the 191, was originally called 911, but was later renamed as this was Porsche’s famous car number. New designer Gary Anderson
						used curves for the front and rear wing designs, and although it didn’t win a race, a now famous driver made a sensational debut. In the hands of Michael
						Schumacher, the car qualified a sensational 7th in his first ever race.
					</p>
					<p>
						<strong>10. 1997 X-Wings, Tyrrell 025 Monaco </strong>
					</p>
					<img width="575" height="379" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_12.jpg"/>
					<p>
						Tyrrell designer Dr Harvey Postlethwaite, although in a small team, used his skills in aerodynamics to introduce amazing new designs. The X-wings as they
						were known were added to offer additional stability at low-down force tracks like Monaco, was copied by all the teams who saw the benefits, but later
						banded for safety reasons.
					</p>
					<strong>
						<br clear="all"/>
					</strong>
					<p>
						<strong>11. 2001 New Aero wings on Arrows A22 &amp; Jordan EJ11 both banded </strong>
					</p>
					<img width="575" height="383" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_13.jpg"/>
					<img width="575" height="383" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_14.jpg"/>
					<p>
						Street circuits always offer teams the chance to introduce new aero designs and in 2001 it was both Arrows and Jordan who shocked the paddock in practice
						with these two new designs that took aero downforce to their limit. Both designs were banned after only one session, so a lot of money was spent for no
						gains.
					</p>
					<p>
						<strong>12. 2009 Brawn BGP 001 win at first year competing with evolutionary double diffuser</strong>
					</p>
					<img width="575" height="383" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_15.jpg"/>
					<p>
						The Brawn BGP 001 was the revelation of the season - in testing in Spain it was over 1.5 seconds quicker than another car, and it had the double deck
						diffuser which only three teams (Brawn, Toyota and Williams) had at the beginning of the season. This allowed Jenson Button to win the first five races in
						a row (it clinched fifth place in Singapore) and complete the championship in Brazil. The design work and whole concept was paid for by Honda, but they
						pulled out of F1, and Ross Brawn bought the team for one pound and added the Mercedes-Benz engine to clinch the amazing design and concept. After 2009, the
						design was banned.
					</p>
					<strong>
						<br clear="all"/>
					</strong>
					<p>
						<strong>13. 2014 Mercedes AMG F1 W05</strong>
					</p>
					<img width="575" height="383" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_16.jpg"/>
					<p>
						The best car of last year the Mercedes AMG W05 with the amazing Mercedes V6 Turbo engine which had been developed for over two years. The technical and
						aero department run by Paddy Lowe produced the double championship winning car, pushing every boundary of design.
					</p>
					<p>
						<a href="http://www.sutton-images.com"><em>Sutton Images </em></a>
						<em>
							Poster shop has over 4.5 million images in its archive from 1960 to 2015 and One Million Images online to browse and find the driver, team, year and
							circuit you like. Now established as the world’s largest Independent image agency, we will be covering our 55th year in Formula One and bringing you
							further amazing features in the future.
						</em>
					</p>
					<div>
						<div>
							<div id="_com_1">
							</div>
						</div>
					</div>

					<p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
				</div>
			</div>
		</div>
	</section>

	{% endblock %}