{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Monaco GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Monaco GP Post-Race report</h2>
                    </p>
                    <p>
                        Posted on 25 May 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport04.jpeg">
                        By Bob Constanduros
                    </p>
                    <p>
                        <img
                            width="600"
                            height="401"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-monaco01.jpg"
                        />
                    </p>
                    <p>
                        How could that happen? Lewis Hamilton was leading the Monaco Grand Prix by 25s with 14 laps to go when Max Verstappen had a big accident at the first
                        corner, Ste Devote. Lewis stayed out for a lap under first a virtual safety car and then a proper one, but then 1) saw his Mercedes AMG Petronas team
                        readying pit equipment in the pit lane on a giant screen, and then 2) was called into the pits for a change of tyre.
                    </p>
                    <p>
                        The rest of the world called Why? Why come into the pits when the safety car is out for an accident which even the efficient Monaco marshals are going to
                        take a few minutes to clear? Why should you need new tyres when it’s massively difficult to overtake around the 3.340 kilometer circuit? Remember Nigel
                        Mansell trying to overtake Ayrton Senna? It’s virtually impossible, however much quicker you are.
                    </p>
                    <p>
                        But having seen the pit crew getting ready, and having been told to come in, Lewis duly did so, took on tyres, rejoined third and consequently lost the
                        Monaco Grand Prix. It wasn’t his fault but if he had followed his instincts, he probably would have stayed out on circuit and won a race that was his.
                    </p>
                    <p>
                        He had set a fantastic pole lap, had driven a brilliant race and done all he had to do to win. But the closing stages, with the field controlled by the
                        safety car, resulted in a real thriller, particularly as the Red Bull cars battled for position.
                    </p>
                    <p>
                        It was a typical Monaco Grand Prix: initial excitement but with a quiet midfield period – my co-commentator let out a massive yawn – followed by a
                        thrilling denouement. It’s what happens in Grands Prix, particularly if the tyres give up their grip. But then you have to be able to overtake and that’s
                        not easy around the streets of Monte Carlo – easier at Singapore.
                    </p>
                    <p>
                        It is a fascinating Grand Prix but it does have its boring bits. You’re trying to analyse what’s going on, who is where, while these drivers are flinging
                        these cars around the circuit. Battles are coming and going. You get some star performances while others are disappointing.
                    </p>
                    <p>
                        <img
                            width="228"
                            height="152"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-monaco02.jpg"
                            align="right"
                            hspace="12"
                            style="margin-top:5px;"
                        />
                    </p>
                    <p>
                        One of the star performances had been 17-year old Toro Rosso driver Max Verstappen, the only driver in the field who had never raced anything at Monaco
                        before. Everyone else had raced something. But he did a brilliant job, quietly working away at his performance – although second fastest in the first
                        practice was scarcely working quietly. It was a tremendous performance.
                    </p>
                    <p>
                        He qualified tenth as well, never over-extending himself as confidence often promotes, although he did back the car into the wall at the final corner. In
                        the race, he was in and out of the top ten and right on the tail of Romain Grosjean for tenth place when he ran into the back of the Frenchman under
                        braking for Ste Devote, the first corner. It resulted in a pretty heavy impact from which the Dutch youngster emerged unscathed and for which he receives a
                        penalty of five grid places in the next Grand Prix. But once again, he had made his mark.
                    </p>
                    <p>
                        At the other end of the scale was the Williams team, so promising in so many races, but here in lots of trouble with a failure to warm Pirelli’s new
                        compound supersoft tyres. They qualified 12<sup>th</sup> and 16<sup>th</sup> and ended up 14<sup>th</sup> and 15<sup>th</sup>. One suspected that they just
                        couldn’t wait to leave Monaco.
                    </p>
                    <p>
                        But this typifies a street circuit such as Monaco or Singapore. There is always an unknown, something waiting around a blind corner, a difference from the
                        status quo, something to stop anyone from yawning – whatever the time of the race. It’s why drivers love street circuits, it gives competitors a chance to
                        win points where perhaps they wouldn’t on conventional circuits. Lewis probably wouldn’t agree this evening but then Nico will. It will be marked as an
                        amazing race, and Mercedes AMG Petronas will still be happy that they won. It doesn’t get more bittersweet than that.
                    </p>
                    <p>
                        <em>
                            Bob Constanduros is the on-circuit commentator at most Grands Prix worldwide. After a career in motor sport journalism dating back to the late sixties,
                            he was officially asked to provide English language commentary at Grands Prix in the mid-eighties and hasn’t missed a Grand Prix since 1985, totalling
                            over 550 Grands Prix. Despite his Greek name, he was born in England and lives there, not far from the Goodwood circuit where he saw his first motor
                            sport in the fifties. He has taken an interest and worked in all forms of motor sport from karting through rallying to sports and touring cars, and has
                            commentated at every Singapore Grand Prix since the race began. He has worked in all forms of media, and still works for the FIA and FOM as well as
                            individual race promoters.
                        </em>
                    </p>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}