{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 British GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 British GP Post-Race Report</h2>
                    </p>
                    <p>
                        Posted on 06 July 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg"> By Kate Walker
                    </p>
                    <p>
                        <img
                            width="610"
                            height="426"
                            align="center"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-british01.png"
                            style=" margin-left: 0px;"
                        />
                    </p>
                    <p>
                        There are races of attrition, and then there’s the 2015 British Grand Prix, which saw one driver fail to start and six fail to finish. But for the 13 men
                        who made it to the end of Sunday’s race at Silverstone Circuit it was a dramatic afternoon.
                    </p>
                    <p>
                        Lewis Hamilton may have won the race from pole, but it was no procession. Mercedes’ front row lockout was rendered irrelevant by the poor starts from
                        Hamilton and teammate Nico Rosberg, with Felipe Massa slipping between the Silver Arrows pair to claim the lead of the British Grand Prix as soon as the
                        lights went out. That was the first turning point.
                    </p>
                    <p>
                        Valtteri Bottas followed his teammate through the gap between the Mercedes pair, but the Finn was unable to secure second place before Hamilton found the
                        grip he’d been missing on the start and fought off the Williams driver, who found himself ahead of Rosberg in the first few corners.
                    </p>
                    <p>
                        First lap chaos further back in the pack put Jenson Button, Romain Grosjean, and Pastor Maldonado out of the race and brought out the Safety Car as debris
                        was cleared.
                    </p>
                    <p>
                        It was on the restart that the second turning point of the race took place, with Hamilton trying his luck with a move on Massa, but running wide in the
                        process and handing second place to Bottas, who immediately began gaining on his teammate before pushing the team to give him permission to pass the
                        Brazilian for the lead.
                    </p>
                    <p>
                        Bottas may well live to regret the British Grand Prix, as it only served to strengthen the argument against him replacing Kimi Raikkonen at Ferrari. That
                        Bottas has thus far been unable to blow Massa out of the water has had the Scuderia wondering about the wisdom of replacing one Finn with another, and
                        Sunday afternoon will not have helped his case.
                    </p>
                    <p>
                        Despite lapping faster than the leader for much of the first phase of the race, Bottas was unable to get past after multiple attempts, and eventually
                        crossed the line in fifth, 26.355s down on Massa. The FW37 tends to struggle in the wet, and Rosberg made short work of passing first Bottas and then Massa
                        when the rain started to fall.
                    </p>
                    <p>
                        When the Williams pair left the pits after moving to the intermediate tyres, there was eight seconds between them. Eight laps later, the gap had more than
                        trebled when they crossed the finish line. Add to that sizeable gap Bottas’ premature eagerness to switch to inters the instant the first light sprinkling
                        of rain fell, and Ferrari’s doubts begin to look well-founded.
                    </p>
                    <p>
                        <img width="348" height="232" src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-british02.png" align="right"
                        style="margin-top: 0px;" hspace="12"/>
                    </p>
                    <p>
                        Making the right tyre call was crucial to success on Sunday, and the timing of the switch to inters had a massive impact on each man’s race. Raikkonen made
                        the move too early, and was forced to use two sets in 14 laps, while Vettel - who followed Hamilton into the pits on lap 43 - was able to turn the
                        strategic decision into a podium finish.
                    </p>
                    <p>
                        Silverstone was made more dramatic by the rain this week, a factor unlikely to contribute to the outcome of the Singapore Grand Prix in September. The
                        Marina Bay race has been a dry event since its maiden outing in 2008, and it is the abrasive and sometimes bumpy track surface plus close walls that offer
                        the best chance of shaking up the order at the original F1 night race.
                    </p>
                    <p>
                        With the midpoint of the 2015 season now fast approaching, few would bet against the Mercedes-powered cars collecting the majority of points on offer in
                        Singapore. It isn’t simply that the Brackley power unit is the best on offer: torque and low-speed driveability are vital at Marina Bay, and Mercedes can
                        offer their customers both in spades. But the track is also one that rewards both bravery and precision, and Daniil Kvyat and Max Verstappen will both be
                        men to watch.
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        <em>
                            Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles
                            have also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                        </em>
                    </p>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}