{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Bahrain GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Bahrain GP Post-Race report</h2>
                    </p>
                    <p>
                        Posted on 20 Apr 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg"> By James Allen
                    </p>
                    <p>
                        <img
                            width="553"
                            height="276"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-bahrain01.png"
                            style="  width: 100%;  margin-left: 0px;"
                        />
                    </p>
                    <p>
                        Lewis Hamilton held Ferrari at bay in Bahrain to take his third win of the 2015 season and move into a clear points lead, but there were many talking
                        points after the race.
                    </p>
                    <p>
                        <img
                            width="298"
                            height="198"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-bahrain02.jpg"
                            align="left"
                            hspace="12"
                            style="margin-top: 5px;"
                        />
                        Kimi Raikkonen’s second place, was one; the Finn qualified fourth, passed Nico Rosberg for third at the start then lost the place again.
                    </p>
                    <p>
                        His strategy team to put him on the medium compound tyre for the middle stint of the race, which meant he was on a different plan from Sebastian Vettel and
                        Rosberg ahead of him and it set him up for the second place finish; his first podium since 2013.
                    </p>
                    <p>
                        Raikkonen stayed out longer than Rosberg and Vettel before the first pit stop and then, as they worked on managing the second set of soft tyres through the
                        middle stint, he not only matched their pace, but was faster at times.
                    </p>
                    <p>
                        This meant that when we went onto the soft tyre for the final stint, when the car was lighter, having burned off most of the fuel; he had tremendous pace
                        and came through to pass Rosberg for second place.
                    </p>
                    <p>
                        Significantly, after just four races, Hamilton has now opened up a 27 point lead over Rosberg, more than the equivalent of a race victory (25 points) and
                        Vettel lost ground, having made three unforced errors in this race all of which led to him running off track. The final one also damaged the front wing and
                        he had to make and unscheduled pit stop, dropping to fifth behind the Williams of Valtteri Bottas.
                    </p>
                    <p>
                        This result therefore gives Hamilton a good cushion to defend and means that the others will have to push harder and take more risks to catch him. It also
                        means that he can afford to have a retirement in an upcoming race without losing the championship lead.
                    </p>
                    <p>
                        With Raikkonen taking points away from Rosberg today, the signs are that Ferrari drivers will interfere with the in-house title battle at Mercedes
                    </p>
                    <p>
                        After a solid start, Hamilton controlled the race effortlessly from the front, the only blip in an otherwise regulation race coming from of a slow first
                        pit stop that briefly saw the champion drop back toward the chasing pack. He soon restored order though and eventually took the chequered flag 3.3s ahead
                        of Raikkonen after backing off on the final laps with a minor concern on the brakes.
                    </p>
                    <p>
                        Rosberg and Raikkonen, meanwhile, tussled mightily in the closing laps, Rosberg pushed hard to defend but more serious brake issues for him led to the
                        German running wide two laps from home letting Raikkonen through.
                    </p>
                    <p>
                        Bahrain is one of the hardest circuits of the season on brakes, due to four large stops on every lap from high to low speed. Singapore is also quite
                        difficult on brakes, but more because they are constantly in use and therefore they never get a chance to cool down.
                    </p>
                    <p>
                        Engineers say that with these heavier hybrid turbo cars and with the size of brake discs possible with the current 13 inch wheels, we are now close to the
                        limit of what the brakes can take.
                    </p>
                    <p>
                        <img
                            width="348"
                            height="232"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-bahrain03.jpg"
                            align="right"
                            hspace="12"
                            style="margin-top: 5px;"
                        />
                        Another talking point was the explosion of the Renault engine in the back of Daniel Ricciardo’s car as he crossed the finish line, a spectacular curtain of
                        white smoke shrouding the pit straight. It adds another misery to a painful opening phase of the season for the French manufacturer which has lost engines
                        with alarming frequency in the opening four rounds.
                    </p>
                    <p>
                        Next stop Spain in three weeks time and with Hamilton on this kind of form it will take something special to beat him.
                    </p>
                    <em>Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd</em>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}