{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Canada GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Canada GP Post-Race Report</h2>
                    </p>
                    <p>
                        Posted on 08 June 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg">
                        By James Allen
                    </p>
                    <p>
                        <img
                            width="610"
                            height="426"
                            align="center"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/postracereportcanada01.jpg"
                        />
                    </p>
                    <p>
                        Neither his team mate Nico Rosberg nor a nasty head wind on the main straight could slow Lewis Hamilton’s progress as he strode to his fourth win of the
                        season and his fourth in Canada.
                    </p>
                    <p>
                        It was his fourth win of the season and the 37<sup>th</sup> of his F1 career. He is now just four wins short of equaling his great idol Ayrton Senna.
                    </p>
                    <p>
                        The world champion was under scrutiny after gifting the win in Monaco two weeks ago to Rosberg, closing the points gap between the pair to just 10 points.
                    </p>
                    <p>
                        After a slightly shaky start on Friday with a mistake over the kerbs and a crash in the rain, he was able to control the qualifying session when it
                        mattered and then from the start there was only ever going to be one winner.
                    </p>
                    <p>
                        If Hamilton had to concern himself with managing fuel consumption, as the lead car facing into a head wind, Rosberg had to be concerned with the brakes;
                        following in Hamilton’s wheel tracks meant that the temperatures were high, even if his fuel consumption was helped by being in Hamilton’s slip stream.
                    </p>
                    <p>
                        The pressure was less than it might have been as Ferrari suffered a series of own goals this weekend which meant that they failed to finish on the podium
                        for the first time this season.
                    </p>
                    <p>
                        Sebastian Vettel lost ground in qualifying after a problem with the energy recovery system, which was compounded by a penalty for passing under red flags
                        during a practice session. So the four times champion started in 18<sup>th</sup> place on the grid. But he made a superb recovery to finish fifth.
                    </p>
                    <p>
                        Meanwhile Kimi Raikkonen qualified third but spun at the hairpin on his first lap out of the pits. This opened a small window of opportunity to Williams
                        and they took it, immediately bringing Valtteri Bottas in for his stop, which put him back out on circuit ahead of Raikkonen.
                    </p>
                    <p>
                        The Ferrari driver later tried a tactical switch onto super soft tyres for an attacking final stint, but Bottas had it covered and held on to get his first
                        podium of 2015.
                    </p>
                    <p>
                        <img
                            width="402"
                            height="268"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/postracereportcanada02.jpg"
                            align="left"
                            hspace="12"
                            style="margin-top:5px;"
                        />
                        The Williams team is now challenging Ferrari on raw pace, after starting the season a little way behind. This is positive news for the battle at the front
                        of the grid, even if the evidence from this weekend is that Mercedes still has an advantage overall.
                    </p>
                    <p>
                        The next two races, in Austria and Silverstone, should suit Williams; they were on pole position in Austria last year and Bottas raced strongly to podiums
                        in both venues. There is every reason to believe that they can repeat that this year, which puts pressure on Ferrari for those events.
                    </p>
                    <p>
                        It was a good day for Pastor Maldonado, who finally got his first points of 2015 in 7<sup>th</sup> place for Lotus, but a bad day for Daniel Ricciardo, who
                        won this race last year. The Australian failed to score points for the first time this season.
                    </p>
                    <em>Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd</em>


                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}