{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Spanish GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Spanish GP Post-Race report</h2>
                    </p>
                    <p>
                        Posted on 12 May 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg"> By Kate Walker
                    </p>
                    <p>
                        <img width="624" height="416" src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-spanish01.jpg" align="center" hspace="12"/>
                    </p>
                    <p>
                        When Nico Rosberg took the chequered flag at the Circuit de Catalunya on Sunday, securing his first victory of the season, it looked as though the 2015
                        title-fight was finally underway, a resurgent Rosberg ensuring that Lewis Hamilton would not sleepwalk his way to a third title with little opposition.
                    </p>
                    <p>
                        But the 2015 Spanish Grand Prix result showed just how strong Mercedes are relative to the opposition - including Ferrari, who were supposed to be the team
                        keeping the Silver Arrows on their toes this season.
                    </p>
                    <p>
                        <img width="288" height="192" src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-spanish02.jpg" align="left" hspace="12" style="margin-top:5px;"/>
                    </p>
                    <p>
                        Far from reducing Mercedes’ on-track advantage over the course of the three-week break since Bahrain, Ferrari have fallen back from the championship
                        leaders on both race and qualifying pace.
                    </p>
                    <p>
                        Sebastian Vettel flattered the Ferrari to deceive when an excellent start saw the German driver pass Hamilton in the opening seconds of the race. The
                        Briton lost significant time in the Ferrari’s dirty air and degrading his rubber in the process. But when the Mercedes pit wall put the defending world
                        champion on a three-stop strategy Hamilton was able to get ahead of Vettel and open up a sizeable gap that only increased until the chequered flag.
                    </p>
                    <p>
                        Vettel’s great start made it more challenging for Mercedes to secure the 1-2 finish the team hoped for, but when all was said and done there were 45
                        seconds - around half a lap - between the victorious Rosberg and the third-placed Ferrari when the chequered flag fell.
                    </p>
                    <p>
                        Despite retirements for Fernando Alonso and Pastor Maldonado both McLaren and Lotus appear to have improved since the last round in Bahrain. McLaren may be
                        several months away from challenging for significant points, but the team’s rate of progress since pre-season testing has been impressive, and no one in
                        the sport expects the team’s current run of sub-par form to last the season.
                    </p>
                    <p>
                        As for Lotus, the move to Mercedes power has given the team a significant leg up since 2014. Regular retirements so far this season have disguised the
                        Enstone racers’ potential, but before his retirement an attacking Maldonado was one of the most active men of the race, overtaking the mid-field with
                        apparent ease as he fought his way up through the pack in the opening stint.
                    </p>
                    <p>
                        The Spanish Grand Prix is supposed to be a bellwether race for Formula One, the first chance to determine whether the assumptions made about the relative
                        form of the cars during the first four races prove to be correct. The biggest change to the received wisdom that resulted from Sunday’s race was reduced
                        confidence in Ferrari’s ability to mount a serious challenge to Mercedes in the title fight.
                    </p>
                    <p>
                        <img
                            width="300"
                            height="200"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-spanish03.jpeg"
                            align="right"
                            hspace="12"
                            style="margin-top:5px;"
                        />
                        But the Circuit de Catalunya bears no comparison to the twisty streets of the Marina Bay Circuit, which is a far trickier prospect for a driver to master.
                        Instead of Barcelona’s sweep of fast corners, the close walls and tight bends of Singapore reward a combination of precision and bravery. The Spanish Grand
                        Prix measures a car’s aerodynamic configuration, while Singapore’s night race is the measure of a driver’s abilities.
                    </p>
                    <p>
                        There is little to suggest that either Mercedes driver will fail to perform well at any circuit on the calendar, so strong is the car. But teams like Toro
                        Rosso - who surprised with a third-row lock-out in qualifying before falling back in the race - will find it hard to repeat the feat when the Singapore
                        round takes place in September. Marina Bay is a circuit where torque and driveability at low speeds pay dividends, a factor that should play into the hands
                        of the Mercedes-powered teams.
                    </p>
                    <em>
                        Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles have
                        also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                    </em>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}