{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Austrian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Austrian Grand Prix Post-Race Report</h2>
                    </p>
                    <p>
                        Posted on 22 June 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport04.jpeg">
                        By Bob Constanduros
                    </p>
                    <p>
                        <img
                            width="610"
                            height="426"
                            align="center"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-austrian01.jpg"
                        />
                    </p>
                    <p>
                        Photo credit: LAT Photographic
                    </p>
                    <p>
                        It’s a strange thing, but sometimes in racing you get the feeling that a driver just isn’t comfortable in a race or at a circuit, just isn’t on it. I had
                        that feeling with Lewis Hamilton from fairly early in the Austrian Grand Prix weekend. He was making too many mistakes. Some you forgive as just finding
                        the limits, but they seemed to keep coming, culminating with the rather embarrassing situation when the fastest two in qualifying – he and Mercedes
                        teammate Nico Rosberg – ended up parked in the countryside at the end of qualifying. If that happened in Singapore, they’d have two very damaged cars.
                    </p>
                    <p>
                        As it is, the Red Bull Ring is quite forgiving. Not too many cars were damaged during a variety of incidents during the three days, even though it was what
                        the drivers called ‘old school.’ It is the third shortest circuit in terms of distance – just – and the shortest in the championship in terms of lap time
                        but that seems to promote very interesting racing and it produces a very challenging circuit.
                    </p>
                    <p>
                        <img
                            width="312"
                            height="208"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-austrian02.jpg"
                            align="left"
                            hspace="12"
                        />
                        So how we enjoyed watching the drivers trying to tame this tricky circuit. They were running wide here and there and so it continued into the race, not the
                        least with the second corner incident with Kimi Raikkonen’s Ferrari underneath Fernando Alonso’s McLaren. The Spaniard’s team maintains that Raikkonen lost
                        control; the stewards felt that no driver was at fault and no penalty was applied.
                    </p>
                    <p>
                        That no one was hurt was fortunate; it was a near miss for Formula One again and we should be thankful. As Nico Rosberg pointed out, incidents like that
                        are to be learned from. It was unfortunate that Lewis couldn’t find an opinion about what could be learned from such an incident.
                    </p>
                    <p>
                        <img
                            width="610"
                            height="426"
                            align="center"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-austrian03.jpg"
                        />
                        Rosberg utterly deserved this victory; he was on top of his teammate all weekend, even when he made the mistake at the end of qualifying which cost him
                        pole position. But a demon start corrected that and he never looked back. He didn’t even need the five second penalty Lewis earned for crossing the pit
                        exit line – which he later denied. Film evidence decreed otherwise.
                    </p>
                    <p>
                        Once again, Williams and Ferrari squabbled over the final podium place with Ferrari providing adept at shooting themselves in the foot. Having condemned
                        Raikkonen to a lowly grid position and his subsequent accident with former teammate Alonso, they cost teammate Vettel the final podium position with a
                        wheel problem at their only pit stop.
                    </p>
                    <p>
                        For the third race out of the eight so far, Williams found themselves fighting a rearguard action to keep a Ferrari behind them, although it wasn’t quite
                        as tight for Felipe Massa as it has been for Valtteri Bottas elsewhere. It was a defensive race rather than an attacking one for Williams but they keep
                        racking up points and cut the deficit to Ferrari by 13 points.
                    </p>
                    <p>
                        There were reasonable performances from Hulkenberg at Force India and Maldonado at Lotus who continues to entertain, and even Nasr at Sauber who should
                        have been rewarded, but Red Bull Racing at their home Grand Prix were sadly not in the hunt; only one of their four really looked remotely competitive,
                        with Max Verstappen picking up eighth.
                    </p>
                    <p>
                        They’re going to have a miserable time for the rest of the season, picking up penalties on a regular occasions as they’ve already exceeded the number of
                        power unit elements available, but that’s nothing compared to McLaren’s performance. People are beginning to run out of patience with the McLaren-Honda
                        combo; they had a head start without having to run an engine in the previous formula and yet approaching half distance in the championship, they don’t even
                        look like finishing races. If anything, things are getting worse, not better and the penalties are going to keep coming there, too.
                    </p>
                    <p>
                        As predicted, there were quite a few retirements and a slightly unexpected result but one that showed that thankfully, this sport isn’t predictable. It
                        wasn’t a great Grand Prix but it had its moments, that’s for sure.
                    </p>
                    <p>
                        <em>
                            Bob Constanduros is the on-circuit commentator at most Grands Prix worldwide. After a career in motor sport journalism dating back to the late sixties,
                            he was officially asked to provide English language commentary at Grands Prix in the mid-eighties and hasn’t missed a Grand Prix since 1985, totalling
                            over 550 Grands Prix. Despite his Greek name, he was born in England and lives there, not far from the Goodwood circuit where he saw his first motor
                            sport in the fifties. He has taken an interest and worked in all forms of motor sport from karting through rallying to sports and touring cars, and has
                            commentated at every Formula 1 Singapore Grand Prix since the race began. He has worked in all forms of media, and still works for the FIA and FOM as
                            well as individual race promoters.
                        </em>
                    </p>


                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}