{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Chinese GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Chinese GP Post-Race Report</h2>
                    </p>
                    <p>
                        <img width="100" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                        By Adam Cooper
                    </p>
                    
                    <p>
                        <img
                            width="642"
                            height="428"
                            style="  margin: 0 auto;"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/postracereportchinese01.jpg"
                        />
                    </p>
                    <p>
                        Lewis Hamilton led home Mercedes team mate Nico Rosberg in the Chinese GP, but there was some tension in the camp after the German felt that Lewis had
                        tried to compromise his race.
                    </p>
                    <p>
                        Rosberg felt that Hamilton had deliberately run slower than he was capable of in order to keep his main title rival under pressure from Ferrari's Sebastian
                        Vettel – to the point where Nico could have found himself pushed down to third place at the pit stops. In the end that didn't happen, but Rosberg made his
                        frustration clear. After the management and drivers discussed the situation in a debrief team boss Toto Wolff insisted that the air had been cleared.
                    </p>
                    <p>
                        Nevertheless the day provided an intriguing new chapter in the Hamilton v Rosberg story, and it reflected the fact that Ferrari is keeping Mercedes on its
                        toes.
                    </p>
                    <p>
                        The Mercedes drivers slotted into first and second at the start, but it soon became apparent that Vettel had good pace, and could more or less stay in
                        touch with Rosberg.
                    </p>
                    <p>
                        <img
                            width="276"
                            height="184"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/postracereportchinese02.jpg"
                            align="left"
                            style="margin-top: 5px;"
                            hspace="12"
                        />
                        The Ferraris had been expected to do a longer opening stint, but in fact Seb was the first to stop. He was around 4s behind Nico when he came in on lap 12
                        and put on more soft tyres in the search for a little more performance. Mercedes reacted by pitting Hamilton on the next lap, and Rosberg the lap after
                        that. The team had planned to go to the medium prime tyre, believing it would last longer, but the plan was changed and both drivers went for another set
                        of the options. In effect the team had discovered that the soft tyres lasted better than expected.
                    </p>
                    <p>
                        It was in the middle stint that Rosberg felt that Hamilton should get a move on as he found Vettel looming large in his mirrors – and close enough to be a
                        threat at the next pit stops. Vettel again came in early, pitting on lap 30 and putting on the primes that he had to use for the third and final stint.
                        Again Rosberg came in a lap later, and when he emerged Vettel was almost on his tail – having nearly done enough to claim second.
                    </p>
                    <p>
                        Meanwhile in the final laps before his stop Hamilton lifted his pace considerably, and he emerged with an extended lead. Was he showing what he had in
                        reserve all along – or just using up the tyres having carefully nursed them having been unsure how they would behave? Rosberg thought the former, but Lewis
                        and the team insisted it was the latter...
                    </p>
                    <p>
                        “I wasn’t controlling his race, I was controlling my own race,” Hamilton said. “But, great race, I’m really happy. Definitely going into the race we
                        thought it would be a lot closer and we knew the Ferraris were very, very good with their long run pace and also looking after their tyres. So, today the
                        real goal was to manage the tyres. And, as I said, my goal was to look after my car. I had no real threat from Nico through the whole race.”
                    </p>
                    <p>
                        <img
                            width="384"
                            height="256"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/postracereportchinese03.jpg"
                            align="right"
                            style="margin-top: 5px;"
                            hspace="12"
                        />
                        Lewis stayed comfortably ahead in the final stint, and then the finish became an anti-climax after Max Verstappen's Toro Rosso broke down and stopped on
                        the pit straight. The last three laps were run under the safety car, so the field closed up.
                    </p>
                    <p>
                        Behind the Mercedes duo Vettel earned third place and his third podium of the year, while a great first lap that saw him pass both Felipe Massa and
                        Valtteri Bottas allowed Kimi Raikkonen to claim fourth. Before the safety car the Finn had been just a couple of seconds behind his team mate. Indicating
                        that he is finding his form.
                    </p>
                    <p>
                        Williams clearly could not match the pace of the Ferraris, and Massa and Bottas were well behind in fifth and sixth before the safety car closed the field
                        up. Romain Grosjean had a straightforward race for Lotus and logged his first points since Monaco last year with seventh place.
                    </p>
                    <p>
                        Sauber again showed good form as both Felipe Nasr and Marcus Ericsson made it into the points in eighth and 10<sup>th</sup>, split by the Red Bull of
                        Daniel Ricciardo. The Aussie had started seventh but he dropped as low as 17<sup>th</sup> at the start when he bogged down badly off the line.
                    </p>
                    <p>
                        Sergio Perez finished 11<sup>th</sup> for Force India, while Fernando Alonso was 12<sup>th</sup> as McLaren managed to get both cars to the finish line.
                        However it was not a straightforward race for Jenson Button as the Briton had a collision with Pastor Maldonado. He was lucky to get going again, but after
                        finishing 13<sup>th</sup> he was demoted to 14<sup>th</sup> by a penalty. Maldonado meanwhile had a wild race that saw him miss the turn at the pit entry
                        and have to be retrieved by marshals. Later he also had a spin, which is why he found himself battling with the McLarens.
                    </p>
                    <p>
                        Verstappen was the unluckiest man of the day. The rookie made some great passes in the fraught midfield battle and was heading for an excellent eighth when
                        the Renault V6 failed on him. A similar problem had earlier stopped RBR's Daniil Kvyat on what was a frustrating day for Renault.
                    </p>
                    <p>
                        <em>
                            Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                            he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                            www.motorsport.com, he has also written several books, including a biography of 60s racer Piers Courage.
                        </em>
                    </p>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}