{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Australian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Malaysian GP Post-Race Report</h2>
                    </p>
                    <p>
                        Posted on 30 Mar 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg"> By James Allen
                    </p>
                    <p>
                        <img
                            style="  margin: 0 auto; display: block; padding-bottom:5px;"
                            width="620"
                            height="405"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-malaysian01.jpeg"
                            alt="Macintosh HD:Users:Nelson:Desktop:XPB_726708_1200px.jpeg"
                        />
                        This was a fantastic race with an unexpected outcome, as Sebastian Vettel breathed life into the 2015 Formula One championship with a superb victory for
                        Ferrari in Sepang, as Mercedes were outperformed for the first time in over a year.
                    </p>
                    <p>
                        Lewis Hamilton maintained the lead in the Drivers’ Championship with second place here while Nico Rosberg dropped behind Vettel into third in the
                        championship with a third place finish.
                    </p>
                    <p>
                        It was his fourth win in Malaysia, his first since 2013 and the first for Ferrari for 35 races. More importantly for him, it put him in the same company as
                        his childhood idol Michael Schumacher as a Ferrari race winner.
                    </p>
                    <p>
                        <img
                            style="  margin-top: 0px;"
                            width="240"
                            height="160"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-malaysian02.jpeg"
                            align="left"
                            hspace="12"
                            alt="Macintosh HD:Users:Nelson:Desktop:XPB_726621_1200px.jpeg"
                        />
                    </p>
                    <p>
                        This was a victory built on all of Vettel’s guile and as well as tactical brilliance from the Ferrari strategy team.
                    </p>
                    <p>
                        They had done their homework in Friday practice and knew that the Ferrari was better able to look after its tyres in the intense heat of Sepang – the track
                        temperature hit 62 degrees at one point, far hotter than any reading we have seen over the years in the Singapore Grand Prix.
                    </p>
                    <p>
                        Hamilton, in contrast, paid the price for limited running on Friday due to technical problems with his car. He did not have the balance he needed, nor the
                        data about the relative merits of the hard and medium cars.
                    </p>
                    <p>
                        So when a Safety Car was deployed on Lap 4 due to the spin for Sauber’s Marcus Ericsson, they took the gamble of staying out with Vettel, while most of the
                        field including race leader Lewis Hamilton, pitted.
                    </p>
                    <p>
                        The reason why so many cars pitted is that they had a pre-race plan to do three pit stops, which meant that the first pit stop would be around lap 10. So,
                        reasoning that the Safety Car was likely to stay out for three to four laps, that would take them to Lap 8 and it would make no sense to do two more laps
                        then pit. So the appearance of the Safety Car meant that they needed to pit there and then.
                    </p>
                    <p>
                        <img
                            style="  margin-top: 0px;"
                            width="264"
                            height="176"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-malaysian03.jpeg"
                            align="left"
                            hspace="12"
                            alt="Macintosh HD:Users:Nelson:Desktop:XPB_726536_1200px.jpeg"
                        />
                    </p>
                    <p>
                        However Ferrari felt that the laps under the Safety Car would help them to reach their goal of stopping only twice. So it proved. After the Safety Car
                        period ended on Lap 7, Vettel pushed hard and opened a gap of almost 10 seconds on Hamilton, who had come out in 6<sup>th</sup> place after his pit stop
                        and who was now on the Hard compound tyres.
                    </p>
                    <p>
                        This was a crucial phase of the race, as Vettel basically maintained that lead to the finish (he won by 8 seconds) and Hamilton could not reduce it enough
                        to challenge.
                    </p>
                    <p>
                        Mercedes had problems with balance and looking after its tyres up to the summer of 2013 and since it found a solution, has not suffered like this. So it
                        will be disconcerting for them to have been beaten like this by Ferrari.
                    </p>
                    <p>
                        Will it happen again in China? Unlikely. The cooler conditions of Shanghai are likely to mean that Mercedes regains the advantage. The Silver Arrows car is
                        around 0.8s to 1 second faster than the Ferrari, but the advantage was cut here due to the tyre situation and the heat.
                    </p>
                    <p>
                        What about Singapore later this year? Will Mercedes struggle there too? They have plenty of time to get on top of their tyre problems, but then again
                        Ferrari is making rapid development progress and Vettel is something of a Singapore specialist, so it should be a similarly engaging battle in September at
                        Marina Bay Circuit.
                    </p>
                    <p>
                        <img
                            width="216"
                            height="144"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report-malaysian04.jpeg"
                            align="left"
                            hspace="12"
                            alt="Macintosh HD:Users:Nelson:Desktop:XPB_725884_1200px-3.jpeg"
                        />
                        Other key talking points were the success of Toro Rosso’s Max Verstappen, who scored his first points today in 7<sup>th</sup> place, one position below
                        where he started on the grid. He becomes the youngest points scorer in the history of Formula 1.
                    </p>
                    <p>
                        Even sweeter was the fact that he finished ahead of the cars from Red Bull Racing, Toro Rosso’s better resourced sister team, which uses the same Renault
                        engine as the Italian outfit.
                    </p>
                    <em>Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd</em>


                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}