{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Australian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->


        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <strong>2015 Australian GP Post-Race Report</strong>
                    </p>
                    <p>
                        <img width="100" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report03.jpg">
                        By Bob Constanduros
                    </p>
                    <p>
                    <img width="602" height="401" src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report02.jpeg" align="left" hspace="12" alt="F1"/>
                        As ever in motor sport, there are a lot of dissatisfied teams and drivers leaving Australia after the first Grand Prix of the season with a feeling of ‘if
                        only.’ That feeling doesn’t extend to the Mercedes AMG Petronas team which finished in a resounding one-two, Lewis Hamilton ahead of Nico Rosberg, so that
                        they already have an extraordinary 28 point lead in the Constructors championship.
                    </p>
                    <p>
                        But many other teams will have that feeling of a job half done – even if they scored good points. That is typical of this stage of the season, and yet the
                        reliability and operational problems that afflicted some teams here in a relatively cool Melbourne belie the thousands of kilometres, pit stop practice and
                        scrupulous preparation that so many teams tackled pre-season.
                    </p>
                    <p>
                        Extraordinarily, teams seemed to have more problems than they did a year ago when the regulations were new and extremely stringent. Put basically, Manor
                        failed to get a car on the grid at all following their late commitment to the championship, McLaren and Red Bull Racing both lost a car during the warm-up
                        laps and Williams were unable to run Valtteri Bottas at all after the Finn suffered a soft tissue back injury during qualifying. It should be pointed out
                        that this wasn’t as a result of an accident.
                    </p>
                    <p>
                        So 15 cars started the Grand Prix and both Lotuses were out by the end of lap one. Kimi Raikkonen and rookie Max Verstappen both retired, leaving just 11
                        cars to finish. The last time there were eleven finishers or less was at Melbourne in 2008 – when Lewis Hamilton led home eight at the chequered flag. Only
                        a cloudburst in Singapore is likely to result in fewer finishers!
                    </p>
                    <p>
                        Mercedes completely lived up to expectations which had been formulated during testing, practice and qualifying. They had set fastest time in all three with
                        remarkable reliability; there were one or two minor glitches along the way, but otherwise the cars seemed totally dominant, ready to lead the way into the
                        season and beyond, which is just what has happened.
                    </p>
                    <p>
                        <img
                        width="273"
                        height="180"
                        src="http://web2.singaporegp.sg/Uploaded/insights-2015/post-race-report01.jpeg"
                        align="right"
                        hspace="12"
                        alt="F1"
                        />
                        On the basis of qualifying and the opening race of the season, Ferrari and Williams are looking like the nearest challengers. Williams won the opening
                        battle with third fastest time for Felipe Massa in qualifying but he was overtaken by Sebastian Vettel in the first (and only, for many) pit stop, the
                        former World Champion claiming his first podium for Ferrari.
                    </p>
                    <p>
                        Neither of their teammates saw the chequered flag. Bottas never started his Williams, while Kimi Raikkonen’s two stop strategy was looking good until a
                        problem with the left rear wheel in his second pit stop caused the team to tell him to pull off and out of the race. He had been lucky to escape a first
                        corner incident which saw him contact Pastor Maldonado.
                    </p>
                    <p>
                        Red Bull Racing were never really in the hunt. Daniil Kvyat pulled off during the warm-up laps and Daniel Ricciardo struggled throughout, finishing behind
                        rookie Felipe Nasr who had a superb start, made contact with Kimi Raikkonen but survived to finished a fantastic fifth. With Marcus Ericsson in eighth
                        place, Sauber’s nightmare weekend turned into a dream one as they left Australia third in the Constuctors’ championship. Considering they hadn’t even taken
                        part in the first free practice session on Friday due to court appearances, this was an incredible result.
                    </p>
                    <p>
                        Of the others, Toro Rosso might have hoped for more but rookie Carlos Sainz suffered a poor pit stop which cost him 30s and relegated him to ninth while
                        teammate Max Verstappen retired having run sixth. There were cheap points this weekend; only McLaren failed to score.
                    </p>
                    <p>
                        In two weekends, we shall be in the heat of Malaysia, already a dress rehearsal for Singapore but without the proximity of concrete walls. The reliability
                        problems could reappear in that tough environment, but it wasn’t just reliability. There were only 17 pit stops, but five teams lost time during those
                        stops, including Ferrari (twice) who, like Toro Rosso, lost a car soon after.
                    </p>
                    <p>
                        It was an extraordinary start to the season, scarcely one that was expected. The gremlins will be ironed out, but in two weeks? It looks unlikely but
                        certainly things can only get better - for everyone else but Mercedes who couldn’t have had a better start. For how long will that continue, one wonders?
                    </p>
                    <p>
                        <em>
                            Bob Constanduros is the on-circuit commentator at most Grands Prix worldwide. After a career in motor sport journalism dating back to the late sixties,
                            he was officially asked to provide English language commentary at Grands Prix in the mid-eighties and hasn’t missed a Grand Prix since 1985, totalling
                            over 550 Grands Prix. Despite his Greek name, he was born in England and lives there, not far from the Goodwood circuit where he saw his first motor
                            sport in the fifties. He has taken an interest and worked in all forms of motor sport from karting through rallying to sports and touring cars, and has
                            commentated at every Singapore Grand Prix since the race began. He has worked in all forms of media, and still works for the FIA and FOM as well as
                            individual race promoters.
                        </em>
                    </p>


                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}