{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Pre-Season Test 2' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
            {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    <h2>2015 Formula One™ Pre-Season Test 2</h2>
                    <p>Posted on 23 Feb 2015</p>
                    <p><img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg"> By Kate Walker</p>

                    <p>
                        Over the course of four days’ testing in Barcelona - the second of Formula One’s three pre-season outings - a clearer picture of form began to emerge, although all has yet to be revealed.
                    </p>

                    <p>
                        <div style="float:left;">
                            <img width="274" src="http://web2.singaporegp.sg/Uploaded/insights-2015/preseasontest2.png" hspace="9" style="margin: 10px 10px 0 10px">
                        </div>
                        While Mercedes have yet to set a headline-grabbing time over the course of eight days of testing, the defending world champions appear to have maintained - potentially extended - their lead. The W06 has not been without teething problems, but those have largely been confined to parts fatigue that is only to be expected after the number of miles logged in both Barcelona and Jerez.                    </p>

                    <p>

                        Not only are Mercedes well advanced in their test programme, thanks to their ability to start conducting long runs and race simulations from the first day of winter testing at the start of February, but when comparisons are made across tyre compounds and stint length, the Silver Arrows look to have consistent race pace with little drop-off in speed over extended runs, while Nico Rosberg’s best time on the medium compound in Barcelona was little short of ominous.
                    </p>
                    <p>
                        The other teams who look to have made good strides over the winter are Ferrari, Lotus, and Red Bull.
                    </p>

                    <p>
                        <div style="float:right;">
                            <img width="274" src="http://web2.singaporegp.sg/Uploaded/insights-2015/preseasontest2-1.png" hspace="9" style="margin: 10px 10px 0 10px">
                        </div>
                    Red Bull’s 2014 season saw a solid car hampered by the Renault power unit, and a problematic Jerez test with little running was followed by four days of strong performance in Barcelona, with the team completing long runs, race simulations, and working on in-race procedures for drivers and crew at the Circuit de Catalunya. Just how much of their power deficit Renault have made up over the winter remains to be seen, but the Milton Keynes racers certainly look competitive.                    </p>

                    <p>
                        <div style="float:right;">
                            <img width="274" src="http://web2.singaporegp.sg/Uploaded/insights-2015/preseasontest2-2.png" hspace="9" style="margin: 10px 10px 0 10px">
                        </div>
                        After a week of setting fastest laps in Jerez, the Ferrari power unit didn’t dominate the headlines in Barcelona. But the team showed consistent pace on longer runs, and reliability was strong, with no on-track breakdowns. The team’s only red flag came about thanks to Sebastian Vettel spinning on cold tyres in the early morning, and both he and Kimi Raikkonen praised the SF15-T’s handling in their media briefings.
                    </p>
                    <br />
                    <p>
                        <div style="float:left;">
                            <img width="274" src="http://web2.singaporegp.sg/Uploaded/insights-2015/preseasontest2-3.png" hspace="9" style="margin: 10px 10px 0 10px">
                        </div>
                        It was Lotus - newly equipped with the Mercedes power unit - who claimed most of the top times in Barcelona, an impressive achievement for a team who elected to miss the first week of testing. While such decisions often prove disadvantageous, both Romain Grosjean and Pastor Maldonado found the E23 to be much improved on its predecessor, with both men setting the pace on each of their three days in the car. The Enstone racers’ abominable 2014 should soon be little more than memory.
                    <p>

                    <p>
                        Having been best of the rest at the end of last season, Williams are a real dark horse heading to Melbourne. The car is certainly reliable, and both Valtteri Bottas and Felipe Massa have said it’s even better than the FW36. Like Mercedes, WIlliams focussed on long runs and reliability over outright pace, and it is unlikely the team will show their hand until the F1 circus reaches Albert Park.
                    </p>

                    <p>
                        <div style="float:left;">
                            <img width="274" src="http://web2.singaporegp.sg/Uploaded/insights-2015/preseasontest2-4.png" hspace="9" style="margin: 10px 10px 0 10px">
                        </div>
                        Where the rest of the teams might be is much harder to discern. Force India remain an unknown quantity, as they have yet to run with a 2015 car or power unit. McLaren are also a matter of mystery, as while the MP4-30 looks to have the potential to be a contender, the team are still getting to grips with the Honda power unit and its effective integration. Rumours abound that the challenge is proving to be rather greater than it appears to the outside world.
                    </p>

                    <p>
                        Which leaves Sauber and Toro Rosso. Both teams run the ‘other’ customer engine for Ferrari and Renault respectively, and much of their performance this season will depend on just how much progress each engine manufacturer made over the winter.
                    </p>

                    <p>
                        The STR10 looked to be largely reliable in Barcelona, although the team did lose track time to component failure and driver error, something that is par for the course when running two rookies in testing. As for Sauber, who need to make up for the worst year in the team’s history, the Swiss racers did lose track time to fixing mechanical gremlins as they appeared, but demonstrated reasonable pace and consistency when out on track.
                    </p>
                    <hr>
                    <p>
                        <b>2015 Formula One™ Pre-Season Test 2 (Barcelona) – Fastest times of the week</b>
                        <ol>
                            <li>Romain Grosjean, Lotus, 1m 24.067s</li>
                            <li>Nico Rosberg, Mercedes, 1m 24.321s</li>
                            <li>Pastor Maldonado, Lotus, 1m 24.348s</li>
                            <li>Daniel Ricciardo, Red Bull, 1m 24.574s</li>
                            <li>Kimi Raikkonen, Ferrari, 1m 24.584s</li>
                            <li>Felipe Massa, Williams, 1m 24.672s</li>
                            <li>Sergio Perez, Force India, 1m 24.702s</li>
                            <li>Max Verstappen, Toro Rosso, 1m 24.739s</li>
                        </ol>

                    </p>
                    <p><i>
                            Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles have also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                    </i></p>
                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}