{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Pre-Season Test 2' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <h2>2015 Formula One&#8482; Pre-Season Test 3</h2>
                    <p>Posted on 2 March 2015</p>
                    <p><img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/marc.png"> By Marc Priestly (@f1elvis) </p>

                    <p>
                        So pre-season testing comes to an end for 2015. Next time we see the current crop of cars on circuit will be in Free Practice 1 in Melbourne, Australia.
                    </p>
                    <p>
                        What have we learnt from the twelve days of testing?
                        <img width="400" style="padding-top: 10px;" src="http://web2.singaporegp.sg/Uploaded/insights-2015/pre-season-test3-1.jpg" align="left" hspace="12" vspace="12"/> </p>
                        <p>
                            Mercedes appeared to pick up exactly where they left off in 2014 at the first test in Jerez. Their new car, the W06, managed an impressive 157 laps on the
                            very first day in the hands of Nico Rosberg, while most others were dealing with early teething troubles. As the days went by, the lap count continued to
                            rise and only in days 11 and 12 did they fit Pirelli&#8217;s yellow marked soft tyres for flat out qualifying runs. The result was a lap time by Rosberg
                            that knocked nearly 2.5 secs off Hamilton&#8217;s 2014 pole position time around the same circuit and one that no one else got close to, despite trying on
                            the faster, red striped super-softs. An ominous sign.
                        </p>
                        <p>
                            In 2014 Mercedes had an enormous advantage and the only kink in the armour was the occasional reliability issue that allowed Red Bull to snatch their three
                            wins of the campaign. There&#8217;s nothing to suggest anything different this time around and whilst reliability seemed good, they showed they&#8217;re
                            not quite perfect with a major failure on the car&#8217;s energy recovery system on one afternoon.
                        </p>
                        <p>
                            If we can predict the two top spots to be fought out between Rosberg and Hamilton, the remaining podium place is looking like being a hard earned reward.
                            Whilst the chasing pack might not look likely to reign the Silver Arrows in, there are signs that at least Ferrari may have joined Williams and Red Bull
                            Racing in that tight group.
                        </p>
                        <p>
                            <img width="400" style="float:right;" src="http://web2.singaporegp.sg/Uploaded/insights-2015/pre-season-test3-2.jpg" align="left" />
                            The famous Italian team&#8217;s undergone something of a makeover during the off-season, bringing in Sebastian Vettel to replace Fernando Alonso and making
                            a raft of changes in management and the technical team. The new car, the SF15-T, looks to have made some big steps forward in design
                             and should suit both Raikkonen and Vettel, both of whom like a strong, grippy, front end, something the 2014 car was unable to provide.
                        </p>

                        <p>
                            Williams again seem to have reliability and good pace and currently look like shading the &#8216;best of the rest&#8217; moniker. Their transformation from
                            struggling midfielders in 2013 to regular podium contenders should be complete after learning from a number of operational mistakes last year.
                        </p>

                        <p>

                            Red Bull still have a significant barrier between them and further title success. Renault. The French company&#8217;s second generation power unit,
                            although showing clear improvements, is still looking like the weaker of the three established manufactures involved and might hold the team back this year
                            again. The RB11, as with each of its predecessors, is an advanced car with some clever aerodynamic touches, but if the power deficit&#8217;s as big as many
                            in the paddock think, it&#8217;ll be difficult at some of the power hungry tracks. Somewhere like the tight and twisty Marina Bay circuit of the
                             Singapore GP could present a rare opportunity for RBR to shine under the lights.
                        </p>
                        <p>
                            <img width="400" style="margin-top: 4px;margin-left: 0px;" src="http://web2.singaporegp.sg/Uploaded/insights-2015/pre-season-test3-3.jpg" align="left" hspace="12" vspace="12"/>
                            Perhaps the biggest unknown is still the new McLaren Honda package. The team had a heavily troubled pre-season, managing only a small fraction of the laps
                            of most of their competitors. Their plight does however resemble the same period last year for many of the teams, who were all running the new turbo
                            powered hybrid cars for the very first time. Whilst we haven&#8217;t seen much in terms of race preparation and certainly not pace over the three tests, it
                            does leave the team with perhaps the biggest scope for improvement as the season unfolds. There&#8217;s much hope that the relatively &#8216;radical&#8217;
                            packaging of the brand new Honda power unit into the McLaren chassis could hold great potential as soon as the team are able to unlock it. It&#8217;s worth
                            noting the huge chunks of lap time that leading teams have found in twelve months, largely by learning to understand and better utilise the new hybrid
                            technology.
                        </p>
                        <p>
                            Lotus will hope to take a leap forward after switching from Renault to Mercedes power, but still look unlikely to challenge at the front, meaning the
                            second half of the field, buoyed by Sauber&#8217;s improved Ferrari power unit and a much improved Toro Rosso, could be incredibly tight. An unpredictable
                            race like Singapore&#8217;s night race, could give any one of these teams a chance for a result much higher than their regular positions, much like
                            Jean-Eric Vergne&#8217;s brilliant 6th place at last year&#8217;s event.
                        </p>
                        <p>
                            <strong>Unofficial Sunday testing times (source: Formula1.com) </strong>
                        </p>

                        <ol>
                            <li>Valtteri Bottas, Williams, 1m 23.063s, 89 laps</li>
                            <li>Sebastian Vettel, Ferrari, 1m 23.469s, 129 laps</li>
                            <li>Felipe Nasr, Sauber, 1m 24.023s, 159 laps</li>
                            <li>Max Verstappen, Toro Rosso, 1m 24.527s, 85 laps</li>
                            <li>Daniel Ricciardo, Red Bull, 1m 24.638s, 72 laps</li>
                            <li>Sergio Perez, Force India, 1m 25.113s, 130 laps</li>
                            <li>Nico Rosberg, Mercedes, 1m 25.186s, 148 laps</li>
                            <li>Jenson Button, McLaren, 1m 25.327s, 30 laps</li>
                            <li>Pastor Maldonado, Lotus, 1m 28.272s, 36 laps</li>
                        </ol>


                        <p>
                            <em>
                                Marc Priestley spent almost ten years as a race mechanic and member of the pitstop crew at the McLaren Formula One Team, working with an esteemed list
                                of drivers including Mika Hakkinen, David Coulthard, Kimi Raikkonen, Fernando Alonso and Lewis Hamilton. After an instrumental role helping the team to
                                World Championship success, Marc
                            </em>
                            <em>&#8217;</em>
                            <em>
                                s now switched to the media side of the sport he loves and shares his insight and expertise through a number of global television networks and other
                                outlets.
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

        {% endblock %}