{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Race Insights 2015' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }
        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
            {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    <h2>2015 Formula One™ Pre-Season Test 1</h2>
                    <p>Posted on 5 Feb 2015</p>
                    <p><img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg" /> By James Allen</p>

                    <img align="left" src="http://web2.singaporegp.sg/Uploaded/insights-2015/insights1.jpg" />
                    <p>Winter Formula One™ testing is a notoriously unreliable barometer of how the Formula One™  teams will perform during the season, especially the first test with the new cars. This week, the cars ran for the first time in Jerez, Spain at a four day test, the first of three such sessions before the first Grand Prix on March 15 in Melbourne.</p>
                    <p>Typically, the teams are bedding in their new technology, hoping first to make the cars reliable and then push to develop their performance in the later tests.</p>
                    <p>Does the fact that Ferrari set the fastest time on three of the four days in the Jerez test this week mean that the Scuderia is about to bounce back into the winners’ circle in Australia and take its second win in Singapore later this year, to add to its 2010 triumph at Marina Bay?</p>
                    <p>Unlikely.</p>

                    <img align="left" src="http://web2.singaporegp.sg/Uploaded/insights-2015/insights2.jpg" /><p>Mercedes won 16 of the 19 rounds last season with the most dominant car since the 1980s and the signs are that it will pick up where it left off last season. On day one in Jerez, Nico Rosberg covered 157 laps and the team was even able to practice pit stops, which is a task normally reserved for later in the month when the cars have more proven reliability. They are no doubt still the team to beat.<br /><br /></p>


                    <p>
                        <img align="right" src="http://web2.singaporegp.sg/Uploaded/insights-2015/insights3.jpg" />
                    <p>But Ferrari fans take heart; the chassis and engine have definitely improved. Both Kimi Raikkonen and three-time Singapore GP winner Sebastian Vettel found it a responsive car to drive. It’s too early to say by how it has closed on Mercedes, because no one has done any flat-out running yet. But don’t expect Ferrari to struggle like it did last year.  </p>
                    </p>


                    <p>Some sources in Italy suggest that Ferrari has gained as much as 80horsepower (hp) on its engine. That’s about 10% of the overall power, an impressive figure. But they were believed to be around 60-70hp down on the Mercedes last year and Mercedes will have made gains of at least 50hp. So the gap closed would be small, if those figures are broadly accurate.</p>

                    <p>Williams ended 2014 strongly and are likely to start 2015 in the same way, with Felipe Massa reporting that the new car feels really good, based on his running this week. Williams has the Mercedes power unit, which has been improved, like the others. They lacked aerodynamic performance in lower speed corners, which is why they weren’t as strong at Marina Bay as they were at Monza or Suzuka, for example. </p>
                    <img align="left" src="http://web2.singaporegp.sg/Uploaded/insights-2015/insights4.jpg" /><p>Red Bull needs to bounce back this year from a disappointing 2014, where their sequence of three consecutive Singapore GP wins was broken by Mercedes’ Lewis Hamilton winning Marina Bay and going on to clinch the world title. The main culprit was the Renault engine, which was well down on power. That has been improved and so has the car, but the Jerez test showed little as they had lots of niggling reliability issues. They will hope for more meaningful running in the two Barcelona tests later this month.</p>


                    <p>McLaren has moved away from Mercedes to Honda power for this season in a new partnership, which brings back memories of McLaren’s glory years with Ayrton Senna and Alain Prost. As they have a new engine in its first season, Honda are basically where Mercedes, Ferrari and Renault were this time last season. They managed only 6 laps each on the first two days, for 2010 Singapore Grand Prix winner Fernando Alonso as well as Jenson Button reminiscent of Red Bull’s struggles last February. Things can only get better.</p>
                    <p>Sauber has benefitted from Ferrari’s boost in engine power. The small Swiss outfit failed to score a single point last season, so regaining respectability is their number one aim for this season. The two new drivers, Felipe Nasr and Marcus Ericsson, both set good lap times, high up the time sheets, but the big teams will still be faster when the stopwatch comes out for real at the first race.</p>
                    <p>Another team looking for respectability after a disaster in 2014 is Lotus. They went from heroes in 2013 to zeroes last season, but they’ve switched from Renault to Mercedes engines and have done a lot of work on the chassis, which Romain Grosjean and Pastor Maldonado found unpredictable in its handling. They missed the first day’s testing in Jerez, but managed to rack up some miles from Day 2 onwards. </p>
                    <p>Toro Rosso spent the four days in Jerez bedding in its two new rookie drivers; 17-year old Max Verstappen and 20-year old Carlos Sainz Jr, son of the former rally champion Carlos Sainz.</p>
                    <p>Since Verstappen was hired, making him the youngest F1 driver in history, the governing federation has changed the licensing rule, imposing a minimum age of 18 from 2016 onwards. So he will be the only ever 17-year old Formula One™ driver.</p>
                    <p>Why no mention of Force India? Because they weren’t in Jerez and haven’t launched the new car yet. They have said that they will test in Barcelona, so we’ll see what comes out there.</p>
                    <hr>
                    <strong><p>2015 Formula One™ Pre-Season Test 1 (Jerez) – Fastest times of the week</p></strong>
                    <ol>
                        <li>Ferrari – Raikkonen – 1m20.841s </li>
                        <li>Sauber – Nasr – 1m21.545 </li>
                        <li>Mercedes – Rosberg 1m21.962</li>
                        <li>Williams – Massa – 1m 22.276</li>
                        <li>Toro Rosso – Verstappen – 1m22.553</li>
                        <li>Lotus – Maldonado – 1m22.713</li>
                        <li>Red Bull – Ricciardo – 1m32.338</li>
                        <li>McLaren – Button – 1m 27.660s</li>
                    </ol>
                    <em>Leading Formula One™ commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd</em>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}