{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Australian GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Australian GP Qualifying Report</h2>
                    </p>
                    <p>
                        <img width="100" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport04.jpeg">
                        By Bob Constanduros
                    </p>
                    <p>
                        <img
                        width="283"
                        height="190"
                        src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport01.jpeg"
                        align="left"
                        hspace="12"
                        alt="F1"
                        style="margin-top: 0px;"
                        />
                    </p>
                    <p>
                        Mercedes AMG Petronas driver Lewis Hamilton claimed a stunning pole position in the first Formula One™ qualifying session of the year in Melbourne on
                        Saturday afternoon. In plummeting temperatures, the English driver blitzed the opposition - even his own teammate Nico Rosberg - by half a second. It was a
                        remarkable performance by Hamilton for his third pole position since 2008 when he also won the race.
                    </p>
                    <p>
                        Rosberg had a couple of small problems on his way to second on the grid – his best position in the Australian Grand Prix and one place better than last
                        year when he won the race itself. It’s hard to see anyone beating the Mercedes pair on performance in the race, although reliability could dictate
                        otherwise.
                    </p>
                    <p>
                        <img
                        width="222"
                        height="129"
                        src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport02.jpeg"
                        align="left"
                        hspace="12"
                        alt="F1"
                        style="float: right;margin-top: -15px;"
                        />
                    </p>
                    <p>
                        Best of the rest was always going to be in contention, and after problems for Valtteri Bottas, it was his Williams-Mercedes teammate Felipe Massa who
                        claimed the eventual third spot ahead of the two Ferraris of Sebastian Vettel and Kimi Raikkonen.
                    </p>
                    <p>
                        The three free practice sessions had seen Mercedes fastest in each, Rosberg in both sessions on Friday and Hamilton on Saturday which reinforced their
                        position as favourites for the season which they retain. The question remained: who would be their nearest challenger?
                    </p>
                    <p>
                        Williams have always been considered to be that challenger but Ferrari have looked very strong both in testing and at Melbourne. Raikkonen is much happier
                        this year with a car that he finds much more comfortable than last year’s, particularly now that James Allison is Ferrari’s technical director – it was
                        Allison who was in charge at Lotus when Raikkonen had such a good 2013 season. Vettel has settled in quickly at Ferrari and the pair make a formidable
                        team.
                    </p>
                    <p>
                        Williams are in the mix but their old rivals of Ferrari will make things difficult for them. Felipe Massa missed most of Friday afternoon in Melbourne with
                        a water leak but Valtteri Bottas looked competitive on a day when they are never trying to set times. The two young drivers at Scuderia Toro Rosso – Carlos
                        Sainz and 17-year old Max Verstappen – looked very competitive too but a mistake by Verstappen meant that only Sainz made it into the top ten in
                        qualifying.
                    </p>
                    <p>
                        At the other end of the scale, the two days of practice and qualifying were a nightmare for several teams. Red Bull Racing suffered an engine problem with
                        Daniel Ricciardo on Friday and then both drivers had a troubled Saturday free practice session. Daniel, however, kept local hopes alive with seventh on the
                        grid, but new teammate Daniil Kvyat didn’t get into the top ten shoot-out.
                    </p>
                    <p>
                        <img
                        width="295"
                        height="199"
                        src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreport03.jpeg"
                        align="left"
                        hspace="12"
                        alt="F1"
                        style="margin-top: 5px;"
                        />
                        McLaren’s race debut was similarly troubled, with Fernando Alonso’s substitute Kevin Magnussen crashing out on Friday and neither he nor Jenson Button
                        doing many laps as the team continued to struggle with the new Honda engine. Neither made it further than Q1, their worst qualifying for many years. They
                        start at the back of the grid.
                    </p>
                    <p>
                        There were off-circuit problems for Sauber who had done so much mileage in pre-season testing but at least they fought back strongly once they did get on
                        track, something which the Manor team never managed as they continued to prepare their cars for their season debut.
                    </p>
                    <p>
                        Massa would say that ‘Mercedes is in a category of its own.’ Rosberg admitted that he didn’t get it together in qualifying, but that he would have a chance
                        of beating his teammate at the start and on tyre performance – he’s more sensitive than his teammate. Best of the rest will also be hard-fought but perhaps
                        the battle has come down to Ferrari and Williams, with Daniel Ricciardo more an outsider now for Red Bull Racing. The new Lotus-Mercedes combination could
                        also surprise, Romain Grosjean and Pastor Maldonado starting ninth and tenth. The first Grand Prix of the year is always fascinating. This one will be no
                        different.
                    </p>
                    <p>
                        <em>
                            Bob Constanduros is the on-circuit commentator at most Grands Prix worldwide. After a career in motor sport journalism dating back to the late sixties,
                            he was officially asked to provide English language commentary at Grands Prix in the mid-eighties and hasn’t missed a Grand Prix since 1985, totalling
                            over 550 Grands Prix. Despite his Greek name, he was born in England and lives there, not far from the Goodwood circuit where he saw his first motor
                            sport in the fifties. He has taken an interest and worked in all forms of motor sport from karting through rallying to sports and touring cars, and has
                            commentated at every Singapore Grand Prix since the race began. He has worked in all forms of media, and still works for the FIA and FOM as well as
                            individual race promoters.
                        </em>
                    </p>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}