{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula ONE Night Race - On Track - Schedule' %}

{% set description = 'Enjoy the Formula ONE racing experience at the 2016 Formula ONE Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>
    <style>
        .race-calendar-headers h5:nth-child(1) {
            width: 100% !important;
        }
        .goldcolor{
            color:#bb9d5f !important;
        }

        .race-calendar-list td {
            padding: 10px 14px;
        }

    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->


        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">   
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>2014 FORMULA ONE SINGAPORE AIRLINES SINGAPORE GRAND PRIX RACE SCHEDULE</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section> 


        <section class="race-calendar-details">
            <div class="chunk row">
                <div class="race-calendar-headers col">
                    <h5>Fri 19 September 2014</h5>
                </div>
                <div class="race-calendar-list">
                    <table>
                        <tr>
                            <td width="33%">16:45 - 17:15 </td>
                            <td width="33%" class="goldcolor">PORSCHE CARRERA CUP ASIA </td>
                            <td width="33%">PRACTICE SESSION</td>
                        </tr>
                        <tr>
                            <td width="33%">18:00 - 19:30 </td>
                            <td width="33%" class="goldcolor">FORMULA ONE </td>
                            <td width="33%">PRACTICE SESSION 1</td>
                        </tr>
                        <tr>
                            <td width="33%">19:50 - 20:10 </td>
                            <td width="33%" class="goldcolor">MASTERS HISTORIC FORMULA ONE</td>
                            <td width="33%">PRACTICE SESSION</td>
                        </tr>
                        <tr>
                            <td width="33%">20:30 - 20:50 </td>
                            <td width="33%" class="goldcolor">MASTERS HISTORIC FORMULA ONE</td>
                            <td width="33%">QUALIFYING SESSION</td>
                        </tr>
                        <tr>
                            <td width="33%">21:30 - 23:00 </td>
                            <td width="33%" class="goldcolor">FORMULA ONE </td>
                            <td width="33%">PRACTICE SESSION 2</td>
                        </tr>

                    </table>

                </div>

            </div>    <div class="chunk row">
            <div class="race-calendar-headers col">
                <h5>Sat 20 September 2014</h5>
            </div>
            <div class="race-calendar-list">
                <table>
                    <tr>
                        <td width="33%">15:45 - 16:15 </td>
                        <td width="33%" class="goldcolor">PORSCHE CARRERA CUP ASIA </td>
                        <td width="33%">QUALIFYING SESSION</td></tr>
                        <tr>
                            <td width="33%">16:40 - 17:10 </td>
                            <td width="33%" class="goldcolor">MASTERS HISTORIC FORMULA ONE</td>
                            <td width="33%">FIRST RACE</td></tr>
                            <tr>
                                <td width="33%">18:00 - 19:00 </td>
                                <td width="33%" class="goldcolor">FORMULA ONE </td>
                                <td width="33%">PRACTICE SESSION 3</td></tr>
                                <tr>
                                    <td width="33%">21:00 - 22:00 </td>
                                    <td width="33%" class="goldcolor">FORMULA ONE </td>
                                    <td width="33%">QUALIFYING SESSION</td>

                                </tr>

                            </table>

                        </div>

                    </div>    <div class="chunk row">
                    <div class="race-calendar-headers col">
                        <h5>Sun 21 September 2014</h5>
                    </div>
                    <div class="race-calendar-list">
                        <table>
                            <tr>
                                <td width="33%">16:00 - 16:30 </td>
                                <td width="33%" class="goldcolor">MASTERS HISTORIC FORMULA ONE</td>
                                <td width="33%">SECOND RACE</td>
                            </tr>
                            <tr>
                                <td width="33%">17:00 - 17:35 </td>
                                <td width="33%" class="goldcolor">PORSCHE CARRERA CUP ASIA </td>
                                <td width="33%">RACE</td>
                            </tr>
                            <tr>
                                <td width="33%">18:30</td>
                                <td width="33%" class="goldcolor">FORMULA ONE</td>
                                <td width="33%">DRIVERS TRACK PARADE</td>
                            </tr>
                            <tr>
                                <td width="33%">18:45 - 19:15</td>
                                <td width="33%" class="goldcolor">FORMULA ONE</td>
                                <td width="33%">STARTING GRID PRESENTATION</td>
                            </tr>
                            <tr>
                                <td width="33%">19:46</td>
                                <td width="33%" class="goldcolor">FORMULA ONE</td>
                                <td width="33%">NATIONAL ANTHEM</td>
                            </tr>
                            <tr>
                                <td width="33%">20:00 - 22:00 </td>
                                <td width="33%" class="goldcolor">FORMULA ONE </td>
                                <td width="33%">2014 FORMULA ONE SINGAPORE AIRLINES SINGAPORE GRAND PRIX</td>
                            </tr>                       

                        </table>

                    </div>

                </div>
            </section>

            <div class="chunk row">
                <p>*This timetable is subject to amendments.</p>                             
            </div> 
        </section>

        {% endblock %}