{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2017 Formula 1 Night Race - On Track - Rookies show their mettle in Austrian F1 test' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2017 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>Rookies show their mettle in Austrian F1 test</h2>
                    </p>
                    <p>
                        Posted on 25 June 2015
                    </p>
                    <p>
                        <img width="100" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                        By Adam Cooper
                    </p>
                    <p>
                        <img
                            width="627"
                            height="418"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/rookiesaustrianf101.jpg"
                            align="center"
                        />
                    </p>
                    <p>
                        Mercedes topped both days of F1 testing in Austria this week as nine teams took part in the second and final in-season test of 2015, following a similar
                        exercise after the Spanish GP last month.
                    </p>
                    <p>
                        As at Barcelona the Manor F1 team opted not to take part, in order to save money. But for the other nine teams it was a welcome chance to catch their
                        breath and get some vital development and data gathering work done, away from the pressure of a race weekend.
                    </p>
                    <p>
                        <img
                            width="223"
                            height="149"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/rookiesaustrianf102.jpg"
                            align="right"
                            hspace="12"
                            style="marrin-top:5px;"
                        />
                        Thus lots of new parts and aero packages were tried out, and some cars were seen running curious measurement devices. In addition Pirelli had some R&amp;D
                        work to do for 2016, and three teams – Mercedes, Ferrari and Toro Rosso – devoted some of their track time to helping the Italian company. As ever the
                        final best testing times were not a definitive guide of course, as teams had different programmes to run.
                    </p>
                    <p>
                        Under current FIA rules one day at each test has to be reserved for a rookie, or more specifically a driver who has started fewer than five races in the
                        past two years.
                    </p>
                    <p>
                        The first day was very much about the rookies, with only two full-time race drivers – Max Verstappen and Romain Grosjean – in action. On Wednesday there
                        were more familiar faces on track, with Nico Rosberg, Daniel Ricciardo, Valtteri Bottas, Felipe Nasr and Fernando Alonso all taking part. The only teams
                        not to run a regular race driver over the two days were Force India and Ferrari.
                    </p>
                    <p>
                        Tuesday was badly disrupted by rain, to the extent that a red flag was out for much of the morning. The teams eventually agreed to a two-hour extension to
                        make up for lost time, and the action thus ran until 8pm. The green track meant that times were still a little off when it was dry, so the nine drivers in
                        action on Wednesday were all faster than the quickest time set on Tuesday, although not by a huge margin.
                    </p>
                    <p>
                        <img
                            width="223"
                            height="149"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/rookiesaustrianf103.jpg"
                            align="left"
                            hspace="12"
                            style="marrin-top:5px;"
                        />
                        Two Mercedes proteges topped the times on Tuesday, with DTM racer and F1 reserve driver Pascal Wehrlein at the head of the order in the works car, and GP3
                        man Esteban Ocon taking second spot on what was his second outing with Mercedes-supported Force India. The latter team was running its new B-spec bodywork
                        in full for the first time, the package including a new nose with two 'nostrils,' which was only seen briefly.
                    </p>
                    <p>
                        Ferrari Driver Academy member and GP3 racer Antonio Fuoco made his first F1 appearance, and he got off to a bad start when he went off at Turn One and
                        damaged the car. However, later on the Italian managed to get some good laps in, and he was fourth overall for the day, between Verstappen and Grosjean.
                    </p>
                    <p>
                        Red Bull-backed GP2 driver Pierre Gasly got some more time in the RB10, while Ferrari protege and fellow GP2 racer Raffaele Marciello, who has already done
                        some FP1 sessions for Sauber this year, gained more miles with the Swiss team.
                    </p>
                    <p>
                        <img
                            width="211"
                            height="141"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/rookiesaustrianf104.jpg"
                            align="right"
                            hspace="12"
                            style="marrin-top:5px;"
                        />
                        Having dominated the GP2 season thus far Stoffel Vandoorne was given a chance to log some miles with McLaren. After the team's appalling Austrian GP
                        weekend the car ran reliably, and the Belgian was able to complete 77 laps free of mechanical dramas. Meanwhile Susie Wolff had another outing for Williams
                        ahead of her planned FP1 session with the car at the next race in Silverstone.
                    </p>

                    <p>
                        <strong></strong>
                    </p>
                    <p>
                        <img
                            width="610"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/rookiesaustrianf1-table1.png"
                            align="center"
                        />
                    </p>
                    <p>
                        <strong>Test Day 2</strong>
                    </p>
                    <p>
                        
                        On Wednesday Rosberg took over from Wehrlein and topped the times for Mercedes after enjoying a two-day break since winning Sunday's race.
                    </p>
                    <p>
                        <img
                            width="223"
                            height="149"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/rookiesaustrianf105.jpg"
                            align="right"
                            hspace="12"
                            style="marrin-top:5px;"
                        />
                        Ferrari third driver Esteban Gutierrez was given a run in the SF15-T, having already driven it at the Barcelona test. The Mexican finished the day in
                        second spot, after running a programme that focussed on tyres and aero work. He survived a brief trip into the gravel.
                    </p>
                    <p>
                        Bottas was third for Williams, while BMW DTM racer Marcus Wittmann – handed a surprise chance by Red Bull to try the Toro Rosso – did a solid job to be
                        fourth fastest.
                    </p>
                    <p>
                        “This has been an amazing experience for me,” he noted. “I was surprised at the power of the car; if I compare it to DTM, it’s got quite a lot more power!
                        I enjoyed the whole day, which was trouble free, so I was able to do a lot of laps. I’m happy with my day, I hope the team is too.”
                    </p>
                    <p>
                        <img
                            width="192"
                            height="128"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/rookiesaustrianf106.jpg"
                            align="left"
                            hspace="12"
                            style="marrin-top:5px;"
                        />
                        Mercedes man Wehrlein transferred across to the Force India for Wednesday, and was fifth fastest for the day, while regular Lotus FP1 driver Jolyon Palmer
                        did some more laps in the E23.
                    </p>
                    <p>
                        McLaren had another productive day as Alonso completed 104 laps, again without major dramas. The Spaniard was able to try the full kit of latest updates
                        after his crash in the Austrian race meant that they were not all available for Vandoorne on Tuesday. He set a quicker time than either Ricciardo or Nasr,
                        who were at the bottom of Wednesday's order.
                    </p>
                    <p>
                        <img
                            width="610"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/rookiesaustrianf1-table2.png"
                            align="center"
                        />
                    </p>
                    <p>
                        <em>
                            Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                            he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and 
                            <a href="http://www.motorsport.com" target="_blank">www.motorsport.com</a>, he has also written several books, including a biography of 60s racer Piers Courage.
                        </em>
                    </p>


                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}