{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Rule Change: Power Units' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
            {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    <h2>2015 Rule Change: Power Units</h2>
                    <p>Posted on 11 Feb 2015</p>
<p><img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/james.jpg"> By James Allen</p>
                    <p>
    <img width="400" style="margin-top:0px;margin-left:0px;" src="http://web2.singaporegp.sg/Uploaded/insights-2015/Renault.jpg" align="left" hspace="9"/>
    One of the most complicated aspects of Formula 1 is the system for regulating the way teams use their engines, or power units as they are called.
</p>
<p>
    They are called that because there is more to it than a simple internal combustion engine (ICE). In fact that ICE is just one of six components of the
    power unit, along with the motor generator unit-kinetic (MGU-K), which harvests energy when the car is braking, the motor generator unit-heat (MGU-H),
    which harvests heat energy from the turbo, the battery or “energy store”, the turbocharger and the control electronics
</p>
<p>
    This is the second year in which teams are using new V6 turbo hybrid power units and for 2015, the sport’s rule-makers have gone for minor tweaks to the
    regulations, rather than wholesale changes.
</p>
<p>
    The governing body is keen to pursue efficiency and at the same time to keep costs under control, so each Formula 1 driver will be restricted to just four
    power units – down from five last year – for use during the season that lasts 20 races.
</p>
<p>
    That means reliability will be even more crucial than last year, as each power unit will now need to be used for five Grands Prix, rather than four. That
    means each unit will need to cover an extra 305km this season.
</p>
<p>
    For the 2015 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX, which is Round 14 of the championship, one would imagine that it would come towards the end
    of the life of the third power unit. However teams like to have a fresh unit for the high demand Spa and Monza circuits, which precede Singapore, so the
    Singapore unit could be either the third or fourth unit. Planning the schedule is a vital part of the preparation for the season.
</p>
<p>
    Each power unit comprises six separate parts and each driver may only use four of each of those parts during a season. They can mix them up, but not use a
    fifth component.
</p>
<p>
    Should a driver exceed their allocation of four power units or use more than one of the six parts, a grid or time penalty will be imposed.
</p>
<p>
    The first time a fifth part is used, a ten-place grid penalty will be awarded and a five-place penalty will be awarded for the first time any of the
    remaining five parts is used.
</p>
<p>
    The first time a sixth part is used, a ten-place grid penalty is awarded and so on.
</p>
<table width="100%"  border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="213" valign="top">
                <p>
                    <strong>Use of additional part</strong>
                </p>
            </td>
            <td width="213" valign="top">
                <p>
                    <strong>Penalty</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="213" valign="top">
                <p>
                    First time a fifth part is used
                </p>
            </td>
            <td width="213" valign="top">
                <p>
                    Ten-place grid penalty
                </p>
            </td>
        </tr>
        <tr>
            <td width="213" valign="top">
                <p>
                    First time any of the remaining five parts used
                </p>
            </td>
            <td width="213" valign="top">
                <p>
                    Five-place grid penalty
                </p>
            </td>
        </tr>
        <tr>
            <td width="213" valign="top">
                <p>
                    First time a sixth part is used
                </p>
            </td>
            <td width="213" valign="top">
                <p>
                    Ten-place grid penalty and so on
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    Last year, Sebastian Vettel had to start from the pit lane in Austin, Texas, because he was forced to use a complete new power unit. That heavy penalty has
    been dropped for 2015; this year, should a team replace the whole unit it will no longer result in a pit-lane start. Instead, they will be penalised for
    each part change as above.
</p>
<p>
    Also new for 2015 is the rule that drivers cannot carry over a penalty if their grid position is such that the full penalty cannot be applied.
</p>
<p>
    Instead, the remainder of the punishment will be applied in the form of a time penalty during the race itself.
</p>
<p>
    For one to five grid places untaken will result in the driver entering the pit lane, stopping at his pit for at least five seconds before they have their
    car serviced. They then re-join the race.
</p>
<p>
    If they do not need to stop again, five seconds will be added to the race time.
</p>
<p>
    For six to ten places untaken, the time penalty will be 10 seconds. For 11-20 a drive-through penalty, where a driver must pass through the pits without
    stopping, will be applied
</p>
<p>
    More than 20 grid places untaken will mean a 10-second time penalty.
</p>
<table width="100%" border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="204" valign="top">
                <p>
                    <strong>Grid places untaken</strong>
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    <strong>Penalty</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td width="204" valign="top">
                <p>
                    For 1 to 5 grid places untaken
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    Driver has to serve a five-second stop-go-penalty.
                </p>
                <p>
                    If they do not need to stop again, five seconds will be added to the race time.
                </p>
            </td>
        </tr>
        <tr>
            <td width="204" valign="top">
                <p>
                    For 6 to 10 grid places untaken
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    Time penalty of 10 seconds.
                </p>
            </td>
        </tr>
        <tr>
            <td width="204" valign="top">
                <p>
                    For 11 to 20 grid places untaken
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    Drive-through penalty.
                </p>
            </td>
        </tr>
        <tr>
            <td width="204" valign="top">
                <p>
                    More than 20 grid places untaken
                </p>
            </td>
            <td width="222" valign="top">
                <p>
                    Time penalty of 10 seconds.
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    It is quite complex for fans to follow, but it is the only fair way to manage the situation, because these issues are sure to arise this season. It’s
    particularly tough for Honda, which is new to the F1 hybrid turbos this year. Whereas Mercedes, Ferrari and Renault had five power units to last a 19 race
    championship last year, Honda has to go straight in on the same terms as the others with four units to last 20 races.
</p>
<p>
    Although the engine note may sound the same as last year – perhaps a little louder – the manufacturers have been able to make quite a few changes to the
    engines and this has resulted in some big power gains. There is talk of up to 50 or 60 more horsepower, which pushes them up around 900hp. The FIA have
    this year allowed manufacturers to upgrade 48% of their power unit using a token system which allocates a value to power unit components.
</p>
<p>
    The Power units are homologated, which means that an example unit is held by the FIA and the manufacturers are not allowed to make any performance changes
    to it during the season.
</p>
<p>
    But going into the new season the manufacturers can use 32 tokens – so make 32 changes – without penalty. To put that into context, there are 66 potential
    components, which make up the power unit.
</p>
<p>
    <img width="274" style="margin-top: 0px;margin-left:0px;" src="/images/preseason2.jpg" align="left" hspace="9"/>
    <img width="235" style="margin-top: 0px;margin-left:0px;" src="http://web2.singaporegp.sg/Uploaded/insights-2015/Mercedes.jpg" align="left" hspace="9"/>

    Renault have admitted that they have already used the bulk of their tokens in a bid to catch Mercedes, with the latter – who are reigning world champions
    and have a power advantage – understood to be saving a few of theirs until later in the season to maximise development opportunities.
</p>
<p>
    As a new manufacturer, Honda was initially told that it would not be allowed to use “tokens” during the season, but the FIA relented and decided that they
    will be allowed an average of what the others have left as the season starts. So if Mercedes had six, Renault two and Ferrari four, then Honda would be
    allowed four as an average of the others’ remaining tokens.
</p>
<p>
    Tokens are likely to have all been used up by the Singapore Grand Prix, so the power units will be at their most potent for the night race!
</p>
<p>
    <em>Leading Formula One</em>
    ™<em> commentator and journalist, James Allen is a contributing writer for Singapore GP Pte Ltd</em>
</p>

<p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}