{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Rule Change: Increase of Formula One™ Car Weight' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
            {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    <h2>2015 Rule Change: Increase of Formula One™ Car Weight</h2>
                    <p>Posted on 12 Feb 2015</p>
                        <p><img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/marc.png"> By Marc Priestly (@f1elvis)</p>

                    <p>
    <div style="float:left;">
    <img src="/images/3.jpg" hspace="9" style="margin: 10px 10px 0 10px"><p style="margin:0px auto 10px;text-align:center;padding:0 10px; width:350px">Nico Rosberg and Lewis Hamilton on the scales after qualifying at the 2014 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX. &copy; LAT Photographic</p>
</div>
    After a dramatic and enthralling 2014 Formula One™ season, which saw the impressive introduction of some ground breaking technology, a number of strategic
    changes have been made to the 2015 technical and sporting regulations.
</p>
<p>
    Let’s take a closer look at one section of the latest tech regulations – the minimum weight of a Formula One™ car for the 2015 season.
</p>
<div style="clear:both;margin:0;padding:0px"></div>
<p>
    <strong>ARTICLE 4: WEIGHT </strong>
</p>
<p>
    <strong>4.1 Minimum weight: </strong>
    <strong>The weight of the car, without fuel, must not be less than 702kg at all times during the Event. </strong>
    <strong></strong>
</p>
<p>
    The 702kg minimum weight has been increased by 10kg over the 2014 limit and applies to any car taking part in an F1 World Championship event. The stewards
    have the right to randomly check any participant at any point throughout a Grand Prix weekend at their discretion.
</p>
<p>
    F1 teams have to ‘scrutineer’ their cars, or have them inspected, checked and measured by the FIA stewards before they can take part in any event. This
    generally takes place on a Thursday inside the teams’ garages and once the scrutineers are satisfied that the cars comply with their list of technical and
    safety requirements, it’s given an FIA sticker to show its compliance. From this point onwards the car must continue to adhere to all regulations during
    the weekend.
</p>
<p>
    The weight of the car is something the teams will very carefully and accurately calculate to be as light as possible for performance reasons, whilst
    remaining legal at all times. The regulations stipulate that the 702kg must include the weight of the complete car on dry tyres, including the driver, but
    not to include the weight of any fuel inside the car’s fuel cell. The FIA stewards can insist that a team completely drains the car of fuel before it is
    weighed on the FIA’s technical scales.
</p>
<p>
    The fact that the car’s minimum weight has to include the weight of the driver is the key reason for last year’s discussion and resulting regulation change
    in this area for 2015.
</p>
<p>
    When Formula One introduced the all-new turbo hybrid power units for 2014, with all of their technical sophistication and advanced, pioneering systems, the
    additional equipment, including turbos, motor-generator units and batteries, added significant weight to the cars.
</p>
<p>
    The minimum weight regulations at the time failed to increase accordingly and this meant that some teams began to struggle to meet the 691kg limit, as it
    was, and suffered a performance disadvantage as a result. This in turn placed a premium on smaller, or more significantly, lighter drivers.
</p>
<p>
    A number of concerns began being raised when it was discovered that teams and drivers were searching for improved lap time by shaving weight, not from the
    car itself, but from the man in the driving seat to get as close as they could to the minimum weight requirement of 691kg.
</p>
<p>
    <div style="float:left;">
    <img src="/images/4.jpg" hspace="9" style="margin: 10px 10px 0 10px"><p style="margin:0px auto 10px;text-align:center;padding:0 10px; width:350px">McLaren mechanics push the MP4-25 into the Scrutineering garage (2010). &copy; LAT Photographic</p>
</div>
    Everyone involved in F1 tends to be incredibly competitive by nature and so will naturally explore every single opportunity for making their car as fast as
    possible. The concerns were based around the health of the drivers, who were having to become as lean as they could, yet still be fit and capable of
    withstanding the extreme demands of driving under the punishing conditions that events like the Singapore Grand Prix can throw up.
</p>
<p>
    The physical nature of the Marina Bay Street Circuit, combined with Singapore’s tropical climate, can mean that drivers lose up to 3kg in body weight
    through perspiration alone. If a driver already had to shed weight to become as light as possible, this could potentially cause a dangerous situation.
</p>
<p>
    The other concern was that with the regulations as they were, some highly experienced, or talented drivers, may be overlooked by teams for future drives
    because they were slightly larger than some others and we might lose them from the sport.
</p>
<p>
    As a result and very sensibly, Formula One’s governing body, with the consent of the teams, has elected to raise the minimum weight limit of the car and
    driver by 10kg for 2015 to 702kg, leveling the playing field for drivers of all stature.
</p>

<p><i>
    Marc Priestley spent almost ten years as a race mechanic and member of the pitstop crew at the McLaren Formula One Team, working with an esteemed list of drivers including Mika Hakkinen, David Coulthard, Kimi Raikkonen, Fernando Alonso and Lewis Hamilton. After an instrumental role helping the team to World Championship success, Marc’s now switched to the media side of the sport he loves and shares his insight and expertise through a number of global television networks and other outlets.
    </i></p>
    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>


    </section>

{% endblock %}