{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Rule Change: Pre-Race Parc Ferme' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
            {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    <h2>2015 Rule Change: Pre-Race Parc Ferme</h2>
                    <p>Posted on 23 Feb 2015</p>
                    <p><img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/marc.png"> By Marc Priestly (@f1elvis)</p>

                    <p>

                    ARTICLE 34) PRE-RACE PARC FERMÉ
                    <li>34.1  Every team must provide the FIA technical delegate with a suspension set-up sheet for both of their cars before each of them leaves the pit lane for the first time during qualifying practice session.  </li>
                    <li>34.2  Each car will be deemed to be in parc fermé from the time at which it leaves the pit lane for the first time during qualifying practice until the start of the race. Any car which fails to leave the pit lane during qualifying practice will be deemed to be in parc fermé at the end of Q1.</li>
                    </p>

                    <p>
                        Parc Fermé’s certainly nothing new to Formula One, it describes the area or period of time where the cars are secured and available for technical checks by the FIA and stewards. Under parc fermé conditions, teams are only permitted to carry out very limited and restricted tasks specifically laid out under Article 34 of F1’s Sporting Regulations. By forcing teams to provide a copy of their car’s set-up sheet to the FIA before qualifying, it gives a blueprint, by which all parts, measurements and settings must concur at any time the car’s checked whilst in parc fermé.
                    </p>

                    <p>
                        <div style="float:left;">
                            <img width="274" src="http://web2.singaporegp.sg/Uploaded/insights-2015/parcferme.png" hspace="9" style="margin: 10px 10px 0 10px">
                        </div>
                    Despite the provisional 2015 regulations extending parc fermé to come into force at the beginning of FP3 on a Saturday morning, the final, ratified, 2015 rules stipulate that a car’s deemed to be under parc fermé conditions from the moment it leaves pit lane for the first time during qualifying, until the start of the race on Sunday.
                    </p>
                    <p>
                        This means that whilst teams can use practice sessions to experiment, learn and fine-tune the car’s set up, by the time they head into qualifying they need to be clear about the direction they and their drivers want to take and have any changes completed. It can be a really tough decision, given the need to prepare a car to deliver the ultimate, flat out single lap on Saturday afternoon to get the best grid position, particularly crucial around a circuit like Marina Bay, yet without making any mechanical changes, also deliver the consistency and tyre preservation required over a tough and very long, 61-lap Singapore Grand Prix.
                    </p>

                    <p>
                        <div style="float:right;">
                            <img width="274" src="http://web2.singaporegp.sg/Uploaded/insights-2015/parcferme2.png" hspace="9" style="margin: 10px 10px 0 10px">
                        </div>
                        The pre-race parc fermé rules were introduced a few years ago, partly to prevent teams from dramatically modifying the cars between qualifying and the race in an attempt to help reduce costs, but also to ensure team personnel are not working all night long and get at least a minimum amount of rest. To facilitate this, all cars need to be fitted with an approved cover and ready to be ‘sealed’ by the FIA no more than three and a half hours after qualifying’s finished. No work can be carried out on the cars after this point until the seals are removed by the FIA the following morning, or in the case of Singapore’s unique night race, the afternoon, five hours before the beginning of the formation lap. Even once the seals and covers are off, the same parc fermé restrictions on what can be done apply.
                    </p>

                    <p>
                        From the point of view of the mechanics and their workload, this is one of the best rules to be introduced to Formula One…ever.
                    </p>

                    <p><i>
                            Marc Priestley spent almost ten years as a race mechanic and member of the pitstop crew at the McLaren Formula One Team, working with an esteemed list of drivers including Mika Hakkinen, David Coulthard, Kimi Raikkonen, Fernando Alonso and Lewis Hamilton. After an instrumental role helping the team to World Championship success, Marc’s now switched to the media side of the sport he loves and shares his insight and expertise through a number of global television networks and other outlets.
                        </i></p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}