{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 British GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

        <style>
            @media(min-width: 600px) {
                .writeup {
                    width: 634px!important;
                    text-align: justify;
                    text-justify: inter-word;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
            .writeup {
                /*margin-top: -20px;*/
                width: 100%;
                text-align: justify;
            }
            .writeup img {
                margin: 10px;
            }
            .writeup img.no-margin {
                margin: 0px;
            }
            .writeup .social-bar {
                margin-left: 0;
                float: right;
            }
            .writeup .addthis-widget {
                margin-left: -20px;
                float: none;
            }
            br.clear {
                clear: both;
            }

            table td{
                padding: 10px;
            }

            .desc p{
                color: #fff;
                font-size: 1rem;
                font-weight: 100;
                letter-spacing: .5px;
                line-height: 1.2rem;
                margin: 10px 0 0;
                text-shadow: 1px 1px 1px #969696;
            }

            .desc hr {
                border: 0;
                border-bottom: 1px solid rgba(255,255,255,.2);
                display: inline-block;
                width: 50px;
            }

            .desc a{
                color: #bb9d5f;
            }
        </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}
                {% block social %}{% endblock %}
            {% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>F1 Insights</h1>
                            <br/>
                            <p>
                                Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                                Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="press-release-details">

            <div class="chunk row" style="margin-top:10px">
                <div class="press-release-article col">
                    {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                    {#</div>#}

                    <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                        <div class="social-bar">
                            <div class="addthis-widget">
                                <!-- AddThis Button BEGIN -->
                                <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                    <a class="addthis_button_facebook"></a>
                                    <a class="addthis_button_twitter"></a>
                                    <a class="addthis_button_email"></a>
                                    <a class="addthis_button_print"></a>
                                    <a class="addthis_button_compact"></a>
                                    <a class="addthis_counter addthis_bubble_style"></a>
                                </div>
                                <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                                <!-- AddThis Button END -->
                            </div>
                        </div>
                        <br class="clear"/>

                        <p>
                        <h2>Shoot like a Pro with Formula One Photographer</br> Mark Sutton</h2>
                        </p>
                        <p>
                            Posted on 01 August 2015
                        </p>
                        <p>
                            By Formula One™ photographer, Mark Sutton.
                        </p>
                        <p>
                            <img width="280" src="http://web2.singaporegp.sg/Uploaded/insights-2015/photographer_mark_suttom_1.jpg" align="left"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            With 30 years of experience under his belt and having shot for the Singapore GP since the inaugural night race, here are his top photography tips.
                        </p>
                        </br></br></br></br>
                        </br>
                        <p>
                            Shooting at a Formula One race is a great experience and I would like to share a few tips to try and make your experience the best it can be for each day of the Grand Prix weekend. There are different ways to try and get closer or shoot something you hadn't really thought about. It’s a four-day event so here's a brief list of the things that could possibly change the way you work or plan to photograph over the weekend bearing these moments in mind or planning ahead. Sutton Images has 4 photographers at every Grand Prix and we plan every session and day.
                        </p>
                        <p><b>Thursday</b></br>
                            <img
                                    width="610"
                                    height="426"
                                    align="center"
                                    src="http://web2.singaporegp.sg/Uploaded/insights-2015/shoot_like_a_pro-image1.jpg"
                                    style=" margin-left: 0px;"
                                    />
                        </p>

                        <p>
                            <img width="180" height="270" src="http://web2.singaporegp.sg/Uploaded/insights-2015/shoot_like_a_pro-image2.jpg" align="right"
                                 style="margin-top: 0px;" hspace="12"/>
                        </p>
                        <p>
                            For those of you lucky enough to get the Thursday Pit Lane Experience ticket, Thursday is a great day to get closer to the cars, track and maybe some drivers who could be walking the circuit or just about to head out their from the pit lane. It’s a fantastic opportunity to get you to shoot some detail images of the cars in the garage, the wings or bodywork in the pit lane, and a Formula One car could be heading down to the FIA checks and scales, so just be prepared.</br></br>
                            Out on the track, you can normally shoot the last corner, start-finish line and first few corners, so utilise those opportunities to take some images.</br></br>
                            Increase your ISO setting from your normal 100/200 in daylight to 800/1000 ISO. This will offer you more depth of field or shutterspeed if needed although there are no cars moving, shooting at anything above 1/60th or 1/25th of a second will give you more depth of focus and a sharper subject. You can even shoot the podium, a general view of the pit lane or mechanics working hard into the night.
                        </p>
                        <p>
                            <img
                                    width="610"
                                    height="426"
                                    align="center"
                                    src="http://web2.singaporegp.sg/Uploaded/insights-2015/shoot_like_a_pro-image3.jpg"
                                    style=" margin-left: 0px;"
                                    />
                        </p>
                        <p>
                            <b>Friday</b></br>
                            Friday sees the cars on track for Practice in both daylight and night. Shooting in daylight offers different options for shutter speeds and showing the scenery and buildings of Singapore, so utilise those aspects and where possible get a seat high in the grandstands to shoot above the fences or look for gaps in the fences. The Formula One cars are on track for 1.5 hours in each practice session. Plan ahead and even recee the positions the week before, when access is easier; if you just turn up and it doesn't work then it’s a wasted session.
                        </p>
                        <p>
                            <img
                                    width="610"
                                    height="426"
                                    align="center"
                                    src="http://web2.singaporegp.sg/Uploaded/insights-2015/shoot_like_a_pro-image4.jpg"
                                    style=" margin-left: 0px;"
                                    />
                        </p>
                        <p>
                            <b>Saturday</b></br>
                            Saturday is the second day of car action and also the support races will be having races, so not everything is Formula One. These cars are a little slower and easier to capture as you pan with them going past or coming towards you, so utilise every opportunity of track action to move angles on the track.
                        </p>
                        <p>
                            Lowering the shutter speeds give you a blur type image and also can get rid of the fences and background in the image, focus on the ground where you think the car is coming and then practice before any cars arrive by shooting a few frames, check them on the back of the camera. Once the cars start make your motion as smooth as possible. You can even practice on road cars or people on the streets; start at 1/125, then lower each stop to offer some amazing effects, 1/60th,1/30th and even 1/15th or lower for some serious blur. Experiment – you will be surprised by your skill!
                        </p>
                        <p>
                            <img
                                    width="610"
                                    height="426"
                                    align="center"
                                    src="http://web2.singaporegp.sg/Uploaded/insights-2015/shoot_like_a_pro-image5.jpg"
                                    style=" margin-left: 0px;"
                                    />
                        </p>
                        <p>
                            <b>Race Day - Sunday</b></br>
                            Highlight and buzz of the weekend, I'm guessing your seats are reserved, but either way you will be enjoying one of the best races of the season. In the afternoon there are still some support races to shoot in order to gain some more experience. Then there is the drivers’ parade as the Formula One drivers generally cruise around the circuit waving – be sure to have your camera ready. Shortly after the grid starts with the grid girls parading the flags, team preparations and then the cars do warm-up laps.
                        </p>
                        <p>
                            The start offers the best chance to get the action and group images of the cars. Have your shutter speed high at between 1/500 to 1/1000th of a second, push the ISO to 1000 or maximum of 1600 to gain that shutter speed – it will freeze the action and capture everything, utilise the auto focus system to follow the leading. You just never know there could be a crash or incident right in front of you so always be ready.
                        </p>
                        <p>
                            <img
                                    width="610"
                                    height="426"
                                    align="center"
                                    src="http://web2.singaporegp.sg/Uploaded/insights-2015/shoot_like_a_pro-image6.jpg"
                                    style=" margin-left: 0px;"
                                    />
                        </p>
                        <p>
                            Then its the final lap and the winning driver crosses the line to win the Singapore Grand Prix, he waves on his slow-down lap and who knows, maybe even does doughnuts on your corner with smoke!
                        </p>
                        <p>
                            The action then proceeds to the podium to celebrate victory. This is when the fireworks and celebrations begin all around the circuit, not just at the podium. Shooting fireworks is quite easy; wait until the first one goes as they will get better, then focus your lens towards them and reduce the shutter speed to 1/15/20/30th of a second or slower. It’s better on a tripod and you can then let the shutter speed go longer – 1/2/5 seconds open at F8/11 exposure. I hope you will enjoy the whole experience and the Singapore Grand Prix even more with these tips, you will be buzzing like me!
                        </p>
                        <p>
                            <img
                                    width="610"
                                    height="426"
                                    align="center"
                                    src="http://web2.singaporegp.sg/Uploaded/insights-2015/shoot_like_a_pro-image7.jpg"
                                    style=" margin-left: 0px;"
                                    />
                        </p>
                        <p>
                            <em> </em>
                        </p>
                        <p>
                            <em>
                                Sutton Images Poster shop has over 4.5 million images in its archive from 1960 to 2015 and One Million Images online to browse and find the driver, team, year and circuit you like. Now established as the world’s largest Independent image agency, we will be covering our 55th year in Formula One and bringing you further amazing features in the future.
                            </em>
                        </p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                    </div>
                </div>
            </div>
        </section>

    {% endblock %}