{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 British GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 201 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 British GP Qualifying Report</h2>
                    </p>
                    <p>
                        Posted on 05 July 2015
                    </p>
                    <p><img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg"> By Kate Walker</p>
                    
                    <p>
                        <img
                            width="623"
                            height="415"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/silverstoneracepreview01.jpg"
                            align="center"
                        />
                        As the 2015 season approaches the halfway mark, it looks as though Lewis Hamilton and Nico Rosberg will keep the title fight alive a little longer.
                    </p>
                    <p>
                        The Mercedes drivers continue to dominate the season, and Hamilton’s British Grand Prix pole at Silverstone is the 46th of the Briton’s career, putting him
                        third on the all-time list behind Michael Schumacher and Ayrton Senna.
                    </p>
                    <p>
                        While Hamilton has improved his Saturday performances this season, collecting eight poles from nine races, but Rosberg has improved his race pace and
                        continues to put pressure on the defending champion when the points are handed out on Sundays.
                    </p>
                    <p>
                        That pressure looks set to continue during tomorrow’s race. Hamilton may have claimed pole with a brilliant first run in the final stage of qualifying, but
                        it was Rosberg who looked to be more comfortable in the car earlier in the weekend. The German will be hoping for a repeat of his Austrian Grand Prix
                        success, although his struggles with degradation on the front left tyre will make it hard to keep pace with Hamilton in the second and third sectors if the
                        Briton holds the lead off the start.
                    </p>
                    <p>
                        <img
                            width="623"
                            height="415"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/silverstoneracepreview02.jpg"
                            align="center"
                        />
                        Lining up behind the Mercedes pair are the driver pairings from Williams and Ferrari, with Felipe Massa ahead of Valtteri Bottas and Kimi Raikkonen besting
                        Sebastian Vettel for the second time this season. The intra-team battles promise some early excitement before the order levels out around the first round
                        of stops, but the one-second qualifying gap between the Silver Arrows and their rivals is ominous for the race itself, with Mercedes widely believed to
                        have more performance in hand.
                    </p>
                    <p>
                        Tyres will prove crucial to the outcome of tomorrow’s race. Fans might remember the 2013 British Grand Prix, dubbed the year of the “terror tyres” when
                        delamination after delamination led to Pirelli changing the construction of their rubber for the rest of the season. While this year’s tyres are more
                        durable, as a track Silverstone is one of the toughest challenges on the calendar, thanks to the extreme levels of lateral loading caused by the high-speed
                        corners.
                    </p>
                    <p>
                        Pit stop strategy will also play its part, with teams choosing between one- or two-stop strategies for the 52-lap race. England has been enjoying a
                        heatwave this week, but the upwards shift in temperatures has not been high enough to have much of an impact on the tyres’ behaviour in practice or
                        qualifying, and it is unlikely that the heat will dictate strategy and outcome in Silverstone as previously happened in Malaysia.
                    </p>
                    <p>
                        What should keep things exciting in the middle of the pack is the variable levels of grip and balance shown over the course of the weekend. Strong
                        performances in one session were no guarantee of similar pace in another, and several of the drivers were heard complaining that the handling of their car
                        varied from corner to corner. Add to that the changing wind direction and speeds seen over the past two years and the result will be skittish handling that
                        could shake up the order.
                    </p>
                    <p>
                        Barring any major upsets in the form of reliability issues or accidents, however, the British Grand Prix is unlikely to surprise. Mercedes will claim two
                        of the spots on the podium, and the legendary two-tenths per lap a Silverstone crowd brings to a British racer should see Hamilton on the top step with
                        Rosberg just behind.
                    </p>
                    <p>
                        For Jenson Button and Will Stevens, the other two Britons on the grid, simply seeing the chequered flag will be a result, while to finish on the same lap
                        as the winner would be a real achievement.
                    </p>
                    <p>
                        <strong>Podium prediction: (1) Lewis Hamilton, (2) Nico Rosberg, (3) Valtteri Bottas</strong>
                    </p>
                    <em>
                        Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles have
                        also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                    </em>


                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}