{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Spanish GP Qualifying Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>2015 Spanish GP Qualifying Report</h2>
                    </p>
                    <p>
                        Posted on 10 May 2015
                    </p>
                    <p>
                        <img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/kate-walker.jpeg">
                        By Kate Walker
                    </p>
                    
                    <p>
                        <img
                            width="342"
                            height="228"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportspanish01.jpg"
                            align="left"
                            hspace="12"
                            style="margin-top:5px;"
                        />
                        On Sunday afternoon, the Circuit de Catalunya will become the next battleground in Nico Rosberg and Lewis Hamilton’s fight for Silver Arrows supremacy in
                        the 2015 title fight. It was the German who claimed pole position for the first time this year, with Mercedes securing three front row lock-outs in the
                        first five races.
                    </p>
                    <p>
                        Despite hopes that the ever-improving Ferrari would be in a position to challenge the Mercedes pair for pole, in the end Sebastian Vettel was 0.8s down on
                        Rosberg, while teammate Kimi Raikkonen was nearly two seconds off the pole time of 1m24.681s.
                    </p>
                    <p>
                        But Saturday’s times do not mean that the Spanish Grand Prix will be a Mercedes-led procession. With both Hamilton and Rosberg aware of the growing red
                        threat behind, neither driver is likely to make any rash moves at the start. Instead, it will be in the pits that the leading pair will jostle for
                        position, and it will be up to the Mercedes pit wall to determine whether the first choice of pit stop strategy goes to the race leader or the championship
                        leader.
                    </p>
                    <p>
                        Sunday’s warm weather should also set the scene for a tense strategic battle between the faster Mercedes and the light-on-its-tyres Ferrari. Vettel’s
                        Malaysian victory pointed to the stark difference in rubber use between the red and silver cars, and while Barcelona is cooler than Sepang the track is
                        expected to reach temperatures just shy of 50℃ during the grand prix. In the closing laps, Vettel will represent a real threat to the Mercedes pair.
                    </p>
                    <p>
                        <img
                            width="288"
                            height="192"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportspanish02.jpg"
                            align="right"
                            hspace="12"
                            style="margin-top:5px;"
                        />
                        It will be a disappointing afternoon for those Spanish fans hoping to support Fernando Alonso. Neither he nor McLaren teammate Jenson Button were able to
                        qualify in the top ten, and despite the team’s gradual improvement this season it will take a brave choice of strategy to put either man firmly in a
                        points-paying position.
                    </p>
                    <p>
                        An impressive qualifying performance from Toro Rosso should offer some succour to those looking for a local hero - the team’s third row lock-out sees
                        Spanish rookie Carlos Sainz lining up in fifth place, and if STR can avoid a repeat of Bahrain’s double retirements the Faenza racers are in a strong
                        position to increase their points haul.
                    </p>
                    <p>
                        All eyes will be on the Renault-powered cars during the 66 laps of Sunday’s grand prix. The engine manufacturer has made reliability-based improvements to
                        their power unit since the last race in Bahrain, and while the cars have fared well in practice and qualifying sessions it remains to be seen whether the
                        Red Bulls and Toro Rossos will make the chequered flag.
                    </p>
                    <p>
                        Another one to watch will be Wiliams’ Valtteri Bottas, who joins Vettel on the second row and should be a force to be reckoned with on Sunday providing the
                        Finn gets a good start off the line. Working against Bottas, however, is the fact that he is starting on the dirty side of the grid. Saturday’s GP2 race
                        saw those in even-numbered grid slots losing position when the lights went out, and after a series of difficult starts Bottas is vulnerable to falling back
                        into the hands of the Toro Rosso pair and Raikkonen.
                    </p>
                    <p>
                        <img
                            width="216"
                            height="144"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportspanish03.jpg"
                            align="left"
                            hspace="12"
                            style="marging-top:5px;"
                        />
                    </p>
                    <p>
                        With slim chance of a Safety Car in Barcelona - only three grands prix have seen them in the past decade - it will take driver error or mechanical failure
                        to cost Mercedes the win. But Hamilton will be starting on the slower side of the grid, giving Vettel an early chance to get ahead of the championship
                        leader and Rosberg the possibility of breathing a little easier.
                    </p>
                    <p>
                        <strong> </strong>
                    </p>
                    <p>
                        <strong>Podium prediction: (1) Nico Rosberg, (2) Sebastian Vettel, (3) Lewis Hamilton</strong>
                    </p>
                    <p>
                        <em></em>
                    </p>
                    <em>
                        Kate Walker has been covering Formula One since the start of the 2010 season. Currently F1 writer for ESPN, motorsport.com, and GP Week, her articles have
                        also appeared in the Financial Times, Grand Prix+, and in the official Formula One™ race programmes.
                    </em>

                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}