{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - 2015 Rule Change: Suspending a Race' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                    {'gtm.start': new Date().getTime(),event:'gtm.js'}
            );var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->

    <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
            {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    <h2>2015 Rule Change: Suspending a Race</h2>
                    <p>Posted on 24 Feb 2015</p>
                    <p><img width="80" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/marc.png"> By Marc Priestly (@f1elvis) </p>

                    <p>
                        With the 2015 season almost upon us, let’s take a closer look at a couple of the sporting regulation changes and revisions for this season.
                    </p>

                    <div>
                        <img width="600" src="http://web2.singaporegp.sg/Uploaded/insights-2015/suspending1.png" hspace="9" style="margin: 10px 10px 0 10px">
                    </div>

                    <p>
                        ARTICLE 42) SUSPENDING A RACE
                        <li>
                            42.1  Should it become necessary to suspend the race because the circuit is blocked by an accident or because weather or other conditions make it dangerous to continue, the clerk of the course will order red flags to be shown at all marshal posts and the abort lights to be shown at the Line.  
                        </li>
                        <li>
                            42.2  When the signal is given overtaking is forbidden, the pit exit will be closed and all cars must proceed slowly into the pit lane. The first car to arrive in the pit lane should proceed directly to the pit exit staying in the fast lane, all the other cars should form up in a line behind the first car.  
                        </li>
                    </p>

                    <p>
                        <div style="float:right;">
                            <img width="274" src="http://web2.singaporegp.sg/Uploaded/insights-2015/suspending2.png" hspace="9" style="margin: 10px 10px 0 10px">
                        </div>
                        Suspending a race is thankfully a rare situation in Formula One, but should Charlie Whiting, the FIA race director, deem it necessary for any reason, there’s a slightly different procedure for 2015.
                    </p>

                    <p>
                        Instead of all cars forming back up on the starting grid, as was previously the case, this year the drivers would head straight back to the pitlane, forming a queue, until being led back out behind the safety car when the circuit or conditions are safe to do so.
                    </p>
                    
                    <p>
                    <div style="float:left;">
                        <img width="204" src="http://web2.singaporegp.sg/Uploaded/insights-2015/suspending3.png" hspace="9" style="margin: 0px 10px 0 0">
                    </div>
                        The change makes the whole process easier for the teams as they don’t need to move large amounts of equipment out onto the circuit like they do at the beginning of each Grand Prix and in theory should reduce the time it would take to get the race back under way, minimising disruption for everyone.
                    </p>
                    <br />
                    <p><i>
                            Marc Priestley spent almost ten years as a race mechanic and member of the pitstop crew at the McLaren Formula One Team, working with an esteemed list of drivers including Mika Hakkinen, David Coulthard, Kimi Raikkonen, Fernando Alonso and Lewis Hamilton. After an instrumental role helping the team to World Championship success, Marc’s now switched to the media side of the sport he loves and shares his insight and expertise through a number of global television networks and other outlets.
                        </i></p>

                        <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>

                </div>
            </div>
        </div>
    </section>

{% endblock %}