{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Teams' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/ontrackteamsdriversbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/ontrack-teams.min.css"/>
{% endblock %}

{#
    page content
#}
{% block containerdiv %}<div class="container" data-ng-controller="onTrackTeamsController">{% endblock %}
{% block content %}
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
    var staging = /staging/;
    var liveHostname = /singaporegp\.sg/;
    if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                {'gtm.start': new Date().getTime(),event:'gtm.js'}
        );var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-P7C4C7');
    }
</script>
<!-- End Google Tag Manager -->



    <section class="drivers-teams-panel {{ team }}">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <section class="team-details">
        <div class="chunk row">
            <p data-ng-bind-html="breadcrumbs" class="breadcrumbs"></p>
        </div>

        <div class="chunk row">
            <div class="team-info col">
                <table>
                    <caption></caption>
                    <colgroup width="40%"></colgroup>
                    <colgroup width="60%"></colgroup>
                    <thead>
                    <tr>
                        <th>Information</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Team</td>
                        <td>{{ teamInfo.full_name }}</td>
                    </tr>
                    <tr>
                        <td>Base</td>
                        <td>{{ teamInfo.base }}</td>
                    </tr>
                    <tr>
                        <td>Power Unit</td>
                        <td>{{ teamInfo.power_unit }}</td>
                    </tr>
                    <tr>
                        <td>Car</td>
                        <td>{{ teamInfo.car }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="team-writeup col">
                <h1>{{ teamInfo.name }}</h1>

                <h5>Drivers</h5>

                {% for driver in teamDrivers %}
                    <div class="driver">
                        <div class="img-wrapper">
                            <a href="{{ route('ontrack.teamDetails', [teamInfo.seo_url, driver.seo_url]) }}"><img src="{{ driver.photo }}" alt=""/></a>
                        </div>

                        <div class="caption-wrapper">
                            <div class="caption">
                                <a href="{{ route('ontrack.teamDetails', [teamInfo.seo_url, driver.seo_url]) }}"><span class="title">{{ driver.name }}</span><span class="next"></span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {{ teamInfo.bio|raw }}

                {#<div class="driver">#}
                    {#<div class="img-wrapper">#}
                        {#<a href="#"><img src="/images/_driver.jpg" alt=""/></a>#}
                    {#</div>#}

                    {#<div class="caption-wrapper">#}
                        {#<div class="caption">#}
                            {#<a href="#"><span class="title">Name</span><span class="next"></span></a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="driver">#}
                    {#<div class="img-wrapper">#}
                        {#<a href="#"><img src="/images/_driver.jpg" alt=""/></a>#}
                    {#</div>#}

                    {#<div class="caption-wrapper">#}
                        {#<div class="caption">#}
                            {#<a href="#"><span class="title">Name</span><span class="next"></span></a>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<h2>Four-time Phenomenon</h2>#}

                {#<p>Red Bull Racing enter their tenth season in the FIA Formula OneWorld Championship™ having now clinched both the Drivers’ and Constructors’ titles for four seasons in a row. If they win again in 2014, they will have the unique record of having been champions for half their history.</p>#}

                {#<p>Red Bull Racing grew from the former Stewart Grand Prix team, created by three-time World Champion Sir Jackie Stewart, and Jaguar Racing, which represented a big budget but ultimately unsuccessful bid by motor giant Ford, to become Formula OneTM champions. Austrian drinks magnate Dietrich Mateschitz astutely bought the operation and its base at Milton Keynes in England, which has been comprehensively updated and expanded in recent years.</p>#}

                {#<p>Headed by team manager Christian Horner, the team’s progress accelerated with the arrival of technical genius Adrian Newey whose RB2 and RB3 designs moved them from mid-field runners to podium contenders. Australia's Mark Webber who retired at the end of last season, joined the team in 2007 as team-mate to David Coulthard. The season also marked a switch from earlier Cosworth and Ferrari engines to Renault power.</p>#}

                {#<p>The final pieces of the winning jigsaw were falling into place. A young German driver who had already won his maiden Grand Prix with the Toro Rosso (also Red Bull backed) was announced as Webber’s team-mate for the 2009 season. It was of course Sebastian Vettel...</p>#}

                {#<p>It was Webber though who scored Red Bull’s first-ever Grand Prix victory, in Germany in 2009. A year later, both drivers battled for the World Championship until the bitter end. Vettel coolly claimed the 2010 crown at the final race in Abu Dhabi. Successive years have seen both Vettel and Red Bull dominate, annexing the Drivers' and Constructors' titles in 2011, 2012 and 2013.</p>#}

                {#<p>This season, as Webber moves across to endurance sports car racing, quadruple champion Vettel is joined at the wheel of the Red Bull RB10 cars by Daniel Ricciardo. Like Vettel, the young Australian has served his apprenticeship at Toro Rosso where he has impressed with both his pace and technical acumen. Is he another Vettel in the making? Only time will tell!</p>#}
            </div>
        </div>
    </section>

{% endblock %}