{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - On Track - Australian GP Post-Race Report' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
    #}
    {% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>

    <style>
        @media(min-width: 600px) {
            .writeup {
                width: 634px!important;
                text-align: justify;
                text-justify: inter-word;
                margin-right: auto;
                margin-left: auto;
            }
        }
        .writeup {
            /*margin-top: -20px;*/
            width: 100%;
            text-align: justify;
        }
        .writeup img {
            margin: 10px;
        }
        .writeup img.no-margin {
            margin: 0px;
        }
        .writeup .social-bar {
            margin-left: 0;
            float: right;
        }
        .writeup .addthis-widget {
            margin-left: -20px;
            float: none;
        }
        br.clear {
            clear: both;
        }

        table td{
            padding: 10px;
        }

        .desc p{
            color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 0;
            text-shadow: 1px 1px 1px #969696;
        }

        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,.2);
            display: inline-block;
            width: 50px;
        }

        .desc a{
            color: #bb9d5f;
        }
    </style>
    {% endblock %}

    {# page content #}
    {% block content %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>
            var staging = /staging/;
            var liveHostname = /singaporegp\.sg/;
            if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
                (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push(
                        {'gtm.start': new Date().getTime(),event:'gtm.js'}
                );var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-P7C4C7');
            }
        </script>
        <!-- End Google Tag Manager -->

        <section class="drivers-teams-panel race-calendar">
        {% embed "partials.masthead" %}
        {% block social %}{% endblock %}
        {% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>F1 Insights</h1>
                        <br/>
                        <p>
                            Get the lowdown on what’s new in Formula One, go back-to-basics with exclusive #F1Insights by our guest writers, and get tips from industry experts from the Formula One fraternity.
                            Got a suggestion on what you’d like to see here? Write to us at <a href="mailto:info@singaporegp.sg" target="_top">info@singaporegp.sg</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="press-release-details">

        <div class="chunk row" style="margin-top:10px">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">{% embed "partials.insights.banner_top_640x79" %}{% endembed %}
                    <div class="social-bar">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <br class="clear"/>
                    
                    <p>
                        <h2>Virtual Safety Car Future</h2>
                    </p>
                    <p>
                        Posted on 23 April 2015
                    </p>
                    <p>
                        <img width="100" class="no-margin" src="http://web2.singaporegp.sg/Uploaded/insights-2015/qualifyingreportchineseavatar.jpg">
                        By Adam Cooper

                    </p>
                    <p>
                        <img
                            width="324"
                            height="216"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/virtualsafetycar01.jpeg"
                            align="left"
                            hspace="12"
                            style="margin-top: 5px;"
                        />
                    </p>
                    <p>
                        The first four Grands Prix of the 2015 season have provided plenty of entertainment, and it's clear that we will enjoy a fantastic battle between Mercedes
                        and Ferrari as the year progresses. However, one thing we have yet to see in action is an interesting addition to this year's Fédération Internationale de
                        l'Automobile (FIA) Sporting Regulations – the Virtual Safety Car, or VSC.
                    </p>
                    <p>
                        The VSC does exactly what it says on the tin. Instead of the familiar Mercedes being dispatched from the pit lane all drivers are obliged to slow and run
                        to a minimum speed mandated by the FIA, using the screens on their steering wheels to make sure that they comply. The general idea is that the VSC proves
                        an element of safety while keeping the flow of the race going.
                    </p>
                    <p>
                        The VSC was introduced as a direct result of Jules Bianchi's crash at last year's Japanese GP. Quite rightly the FIA and the teams took a long look at the
                        accident and as part of the never-ending quest to improve safety. One of the key issues was the role of the Safety Car, which was not deployed when Adrian
                        Sutil's car went off the road and a tractor was dispatched to remove his Sauber.
                    </p>
                    <p>
                        A thorough investigation, which involved a panel of experts such as Ross Brawn, agreed that race control had followed normal procedures. In other words
                        double waved yellow flags should have provided drivers with sufficient warning to slow down.
                    </p>
                    <p>
                        <img
                            width="276"
                            height="184"
                            src="http://web2.singaporegp.sg/Uploaded/insights-2015/virtualsafetycar02.jpg"
                            align="right"
                            hspace="12"
                            style="margin-top: 5px;"
                        />
                        Meanwhile the VSC emerged from the discussions as an extra tool that race control can use to slow the field down in certain circumstances. At the same time
                        plans for standing starts after normal safety car periods, which had been seen as a way to improve the show for fans, were dropped. Teams had concerns
                        about the practicalities of having all the cars stop on the grid and conduct a fresh start partway through the race. The VSC however received unanimous
                        support, and after experiments in practice sessions at the end of last season it was added to the 2015 regulations.
                    </p>
                    <p>
                        Those regulations make it clear when it will be used:
                        <em>
                            “The VSC procedure may be initiated to neutralise a race upon the order of the clerk of the course. It will normally be used when double waved yellow
                            flags are needed on any section of track and competitors or officials may be in danger, but the circumstances are not such as to warrant use of the
                            safety car itself.”
                        </em>
                    </p>
                    <p>
                        The bottom line is that race control has the flexibility to use it as and when circumstances demand, and usually it will be when it looks like an incident
                        can be dealt with in a couple of laps, so there's less reason to introduce a normal safety car.
                    </p>
                    <p>
                        Race director Charlie Whiting explains: “It will be used when a double waved yellow flag is necessary, and that's normally when you have a vehicle or
                        marshals on or beside the track. I think we would use a safety car when we would want to control the speed below what the virtual safety car reference lap
                        will be. Or wet conditions would be a classic example of when you would use the safety car.”
                    </p>
                    <p>
                        So how does it work? The words of the actual regulations are the best way to summarise the procedure:
                    </p>
                    <p>
                        <em>
                            “When the order is given to initiate the VSC procedure a message 'VSC DEPLOYED' will be displayed on the official messaging system and all FIA light
                            panels will display 'VSC.'
                        </em>
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        <em>
                            “No car may be driven unnecessarily slowly, erratically or in a manner which could be deemed potentially dangerous to other drivers or any other person
                            at any time whilst the VSC procedure is in use. This will apply whether any such car is being driven on the track, the pit entry or the pit lane.
                        </em>
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        <em>“No car may enter the pits whilst the VSC procedure is in use unless it is for the purpose of changing tyres. </em>
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        <em>
                            “All competing cars must reduce speed and stay above the minimum time set by the FIA ECU at least once in each marshalling sector (a marshalling sector
                            is defined as the section of track between each of the FIA light panels). All cars must also be above this minimum time when the FIA light panels
                            change to green.
                        </em>
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        <em>
                            “When the clerk of the course decides it is safe to end the VSC procedure the message 'VSC ENDING' will be displayed on the official messaging system
                            and, at any time between 10 and 15 seconds later, 'VSC' on the FIA light panels will change to green and drivers may continue racing immediately. After
                            30 seconds the green lights will be extinguished.”
                        </em>
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        Whiting explains: “The computer will randomly generate a number between 10 and 15 and then it will decide when to go green. It will be 'VSC ENDING', and
                        then from that point any time between 10 seconds and 15 seconds everything will go green. And the drivers have to be positive at the green.”
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        Staying above the minimum time is absolutely essential, and the stewards have a range of penalties they can use, namely a five second time penalty, 10
                        second time penalty, drive through penalty, and 10 second stop and go penalty. Meanwhile no overtaking is allowed during the VSC, but the rules allow for
                        the following exceptions:
                    </p>
                    <p>
                        <em>“a) When entering the pits a driver may pass another car remaining on the track after he has reached the first safety car line. </em>
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        <em>“b) When leaving the pits a driver may overtake, or be overtaken by, another car on the track before he reaches the second safety car line. </em>
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        <em>“c) Whilst in the pit entry, pit lane or pit exit a driver may overtake another car which is also in one of these three areas. </em>
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        <em>“d) If any car slows with an obvious problem.”</em>
                    </p>
                    <p>
                        <em> </em>
                    </p>
                    <p>
                        As noted, the VSC has yet to be deployed, and it will be fascinating to see how things unfold when it is used. Will it be used in Singapore? Quite
                        possibly, given how often we have seen the regular safety car in use over the years...
                    </p>
                    <p>
                        <em>
                            Adam Cooper has been a motor racing journalist for 30 years. In his early days, he covered a variety of categories, including the WEC and IndyCars, and
                            he also spent two years in Japan. He then focussed on F1, and has been to every Grand Prix since 1994. A regular contributor to Autosport, Autoweek and
                            www.motorsport.com, he has also written several books, including a biography of 60s racer Piers Courage.
                        </em>
                    </p>


                    <p><a href="/on-track/F1-Insights">« Back to F1 INSIGHTS</a></p>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}