{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Media - Accreditation Information' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    {#<script type="text/javascript" src="/javascripts/mediapressreleasebundle.js"></script>#}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/misc-privacypolicy.min.css"/>
    <link rel="stylesheet" href="/stylesheets/media-chooseentryform.min.css"/>

    <style>
        ol.q {list-style-type: lower-roman;}
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <section class="privacy-policy">
        <div class="chunk row">
            <div class="legalese col">
                <table>
                    <colgroup width="40%"></colgroup>
                    <colgroup width="60%"></colgroup>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <h1>Media Accreditation Information</h1>

                            <p>
                                Application for media accreditation for the 2016 FORMULA 1 SINGAPORE GRAND PRIX is now open. All media would have to submit the relevant media accreditation form through our website by <B><font color="red">Monday, 15 August</font></B>. Accreditation will only be granted to professional journalists and photographers. Up to a total of one (1) journalist and one (1) photographer per publication are welcome to apply.    </a>.
                            </p>
                        </td>
                    </tr>
                   {# <tr>
                        <td>
                            <h3>International Media</h3>
                        </td>
                        <td>
                            <p>
                                All international and major national press agencies as well as the local offices of
                                major international agencies will be accredited directly by the FIA. Applications must
                                be made online <a href="https://acr.fia.com/ECR/jsp/_login.jsp?language=0" target="_blank">here</a> using your registered ID and password. First-time applicants must
                                register before submitting any application for accreditation. Upon approval by FIA, you
                                will be required to complete a Singapore Entry Form.
                            </p>

                            <p>
                                The full guideline on accreditation procedures and requirements can be found <a href="http://www.fia.com/sites/default/files/media_accreditation/file/2014%20F1%20accreditation%20procedure_1.pdf"target="_blank">here</a>.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>All TV companies, <br/>Commercial Photographers <br/>&amp; International Radio stations</h3>
                        </td>
                        <td>
                                <p>Applications from all television companies, commercial photographers as well as international radio stations should be directed to the commercial rights holder:</p>

                                <p>
                                    <strong>Formula One Management Ltd (FOM), Accreditation Service</strong> <br/>
                                    6 Princes Gate, London SW7, Great Britain <br/>
                                    Tel:		+44 207 584 66 68, Fax: +44 207 589 21 91 <br/>
                                    Email:	media@fomltd.com (for TV and radio) <br/>
                                    Email:	accreditationoffice@fomltd.com (for commercial photographers)
                                </p>
                        </td>
                    </tr>#}
                    <tr>
                        <td>
                            <h3>Singapore Media*</h3>
                        </td>
                        <td>
                            <p>Singapore publications must apply directly to Singapore GP. Applications will ultimately be approved by the Federation Internationale de l'Automobile (FIA), thus do ensure that the following guidelines are adhered to:</p>
                            <P>
                            <ol>
                                <li>The FIA only accredits publications who meet their criteria on coverage, circulation and quality. A maximum of two passes (journalists and/or photographers) will be allocated per publication. Freelance journalists / photographers must apply for credentials via the publication.</li>
                                <li>Press passes can also be allocated to general news, specialist, business and lifestyle consumer publications that do not intend to publish conventional race reports but whose coverage is considered to be of promotional benefit to the sport. </li>
                                <li>Submit your application by <B><font color="red">Monday, 15 August</font>. There is strictly no extension of deadline.</B> Only once your application is approved, you will be notified via email by
                                    <B><font color="red">Monday, 5 September</font></B>. You will also receive information on where and when to pick up the media pass, as well as an Individual Acknowledgement Agreement which you will need to return duly signed before picking up the passes.</li>
                            </ol>
                            </p>

                            <p>*Singapore-based media except local offices of international press agencies.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Singapore Radio</h3>
                        </td>
                        <td>
                            <p>Singapore radio stations must apply directly to Singapore GP. Applications will ultimately be approved by Formula One Management (FOM), thus do please ensure that the following guidelines are adhered to:</p>
                            <P>
                            <ol>
                                <li>A maximum of two passes will be allocated per station. Priority will be given to stations actively covering the FIA Formula One World Championship™ and in particular the Event. Successful applicants will be granted access on the understanding that any or all radio broadcasts from the Event will be in the form of brief periodic news reports (no longer than 60 seconds per report). Applicants interested in providing more extensive coverage of the Event should apply directly to FOM for further consideration.</li>
                                <li>Submit your application by <B><font color="red">Monday, 15 August</font>. There is strictly no extension of deadline.</B> Only once your application is approved, you will be notified via email by <B><font color="red">Monday, 5 September</font></B>. You will also receive information on where and when to pick up the media pass, as well as an Event Accreditation Agreement which you will need to return duly signed to FOM at the latest one week prior to the Event to be able to pick up the passes.</li>

                            </ol>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Singapore Website</h3>
                        </td>
                        <td>
                            <p>Singapore websites must apply directly to Singapore GP. Applications will ultimately be approved by the Federation Internationale de l'Automobile (FIA), thus do ensure that the following guidelines are adhered to:</p>

                            <P>
                            <ol>
                                <li>A maximum of one representative journalist per website may be accredited. Websites associated with a print or broadcast media organisation that has already applied for, and been granted, any other form of media accreditation will not qualify for Internet Accreditation. Such websites should use the accreditation obtained through their associated media organisations. <B>Blogs will not qualify.</B> </li>
                                <li>The applicant must be a professionally run website dedicated to reporting on the FIA Formula One World Championship<sup>™</sup> and in particular the Event or a professionally run general news or sports website with a dedicated Championship section. In each case, all and any coverage of the Championship must be free of charge to the public</li>

                               <li>

                                    The applicant must undertake to publish for each round of the Championship in the season in which Accreditation is sought as follows:<br/>

                                <ol class="q">

                                        <li>at least one news story (of 250 words or more) on each of the Thursday, Friday, Saturday, race day and Monday;</li>
                                        <li>at least one feature article (of 500 words or more) for each event.</li>

                                    </ol>
                                 </P>

                            </li>
                                <li>The website must maintain a clear “contacts” section with a link from the website homepage and must contain full contact details for the website including a full postal address (PO Boxes not accepted), telephone and fax numbers, email address; and (ii) all contributing journalists must be named either on their articles or elsewhere on the website, photographs must be accompanied by a photographer’s credit and all sources must be credited in accordance with editorial best practice.
                                </li>
                                <li>The applicant must respect others’ intellectual property rights of the FIA, the Formula One Group and third parties. This shall include the strict prohibition on the taking of any moving picture images, sound recordings, use of trade marks, title or logos or the transmission of certain kinds of results as further set out in the Accreditation Agreement. If any pass holder is found producing moving images of any kind of the Event (or any part thereof), their accreditation will be withdrawn and the pass holder will not be admitted to any major FIA championships for the foreseeable future.
                                </li>

                            </ol>
                            </P>

                        </td>
                    </tr>

                    {#
                    <tr>
                        <td>
                            <h3>Singapore Media <br/>Accreditation Procedure</h3>
                        </td>
                        <td>
                            <p>
                                In order to be eligible, you will need to submit PDF files of the following (where applicable) to the National Press Officer:
                            </p>

                            <ul>
                                <li>
                                    A formal request written on the publication's/station's letterhead. This letter must be signed by the editor or a senior
                                    member of the editorial staff / Station Manager.
                                </li>
                                <li>
                                    This letter must include:

                                    <ol class="upperAlpha">
                                        <li>
                                            the name(s), job title(s) and contact details (phone and fax number, email address) of the representative(s) who
                                            will be covering the event;
                                        </li>
                                        <li>
                                            the name of editor / sports editor and contact details (if different from the above)
                                        </li>
                                        <li>
                                            print media/radio stations: information on the publication / station (eg. circulation, readership, frequency, etc);
                                            websites: audited traffic figures for the last three years (expressed as unique IP addresses per year) together with a geographical breakdown of users (i) for the website or (ii) in case the website is not a website dedicated to the Championship, for the Championship section of the website. Traffic figures must be confirmed by an Internet auditor of industry repute acceptable to the FIA.
                                        </li>
                                        <li>
                                            a formal undertaking from the editor / station manager to publish a report related to the event and an
                                            indication as to when this report will be published / broadcast;
                                        </li>
                                        <li>
                                            print publications: confirmation that the publication/agency or the journalist/photographer has not applied or
                                            will not apply for additional FIA passes for any other purposes, including journalism for Television and Radio
                                            networks.
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    The following supporting documents must be provided:

                                    <ol class="upperAlpha">
                                        <li>
                                            PDF of the official press card(s) of the representative(s) (where applicable)
                                        </li>
                                        <li>
                                            passport photo of the representative(s) (PDF/JPEG)
                                        </li>
                                        <li>
                                            print publications: An original copy of the publication (only to be supplied on request or for first-time
                                            applicants)
                                        </li>
                                        <li>
                                            print publications: PDF files of previous FIA Formula One™ Grand Prix coverage, or other motorsport related
                                            articles
                                        </li>
                                        <li>
                                            websites: satisfactory evidence of publication on the website of news coverage of each Championship event in
                                            the previous three Formula One™ seasons, together with the dates of publication, correctly by-lined. Blogs will
                                            not qualify.
                                        </li>
                                    </ol>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    #}
                    <tr>
                        <td>
                            <p>To Submit your Media Accreditation
                            entry form: </p>
                        </td>
                        <td>
                            <a href="{{ route('media.accreditation.show-form', ['fia']) }}" class="button journalist">Click Here</a>
                        </td>
                    </tr>
                    <!--<tr>
                        <td colspan="2">
                            <p>Please submit your applications to press@singaporegp.sg with the subject header: Media
                                Accreditation. For enquiries, please contact +65 6731 5931.</p>

                            <p>Please note that submission deadline for Singapore Media Accreditation applications is Thursday, 13 August 2016.
                                Applications which are late or incomplete may not be considered.</p>
                        </td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}