{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Media - Accreditation Information' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    {#<script type="text/javascript" src="/javascripts/mediapressreleasebundle.js"></script>#}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"><\/script>')</script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.js"></script>
    {#<script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.min.js"></script>#}
    <script>window.angular || document.write('<script src="{{ asset('bower_components/angular-latest/build/angular.min.js') }}"><\/script>')</script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css"/>

    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/misc-privacypolicy.min.css"/>
    <link rel="stylesheet" href="/stylesheets/media-entryform.min.css"/>

{% endblock %}




{# page content #}
{% block content %}

<section class="selection-panel">
    {% embed "partials.masthead" %}{% endembed %}
</section>
<section class="thank-you">
    <div class="chunk row">
        <p>Thank you for your application. </p>
        <p>Only successful applicants will be notified by <B>Monday, 5 September</B>. For any enquiries, please write in to <a href="mailto:press@singaporegp.sg">press@singaporegp.sg </a>(Attn: National Press Officer). </p>
    </div>
</section>
{% endblock %}