{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Media - Accreditation Information' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    {#<script type="text/javascript" src="/javascripts/mediapressreleasebundle.js"></script>#}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/media-chooseentryform.min.css"/>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <section class="choose-entry-form">
        <div class="chunk row">
            <div class="legalese col">
                <table>
                    <colgroup width="40%"></colgroup>
                    <colgroup width="60%"></colgroup>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <h1>Singapore Entry Form</h1>

                            <p>Dear International Members of the Media,</p>

                            <p>To facilitate the speedy immigration clearance upon your arrival in Singapore for the 2016 FORMULA 1 SINGAPORE GRAND PRIX this September, you are required to submit this online Singapore Entry Form in advance.</p>

                            <p>Upon submission, you do not have to apply for a work permit for your trip to Singapore. Please ensure that you complete this online submission by Friday, 9 September 2016.</p>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Useful Information</h3>
                        </td>
                        <td>
                            <ol class="number">
                                <li>A passport with at least 6 months validity</li>

                                <li>Valid Singapore visa, if applicable</li>

                                <li>Sufficient funds to last for the intended period of stay in Singapore</li>

                                <li>Confirmed onward/return tickets (where applicable)</li>

                                <li>Entry facilities to your onward destinations, e.g. visas</li>

                                <li>Yellow Fever Vaccination Certificate, if applicable# <br/>
                                    <i>#A valid yellow fever vaccination certificate is required from travellers who, within the preceding six days have been in or have passed through any country endemic for yellow fever.</i>
                                </li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>For more information on entry requirements to Singapore, and a complete list of countries that will require a visa, please click
                                <a href="http://www.ica.gov.sg/services_centre_overview.aspx?pageid=252">here</a>.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            To Submit your Singapore <br/>
                            entry form, Select one of the following:
                        </td>
                        <td>
                            <a href="{{ route('media.showEntryForm.byType', ['journalist']) }}" class="button journalist">Accredited Journalist</a>
                            <a href="{{ route('media.showEntryForm.byType', ['photographer-tvcrew']) }}" class="button photographer-tvcrew">Accredited <br/>Photographer / TV Crew</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}