{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Media - Accreditation Information' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    {#<script type="text/javascript" src="/javascripts/mediapressreleasebundle.js"></script>#}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"><\/script>')</script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.js"></script>
    {#<script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.min.js"></script>#}
    <script>window.angular || document.write('<script src="{{ asset('bower_components/angular-latest/build/angular.min.js') }}"><\/script>')</script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css"/>

    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/misc-privacypolicy.min.css"/>
    <link rel="stylesheet" href="/stylesheets/media-entryform.min.css"/>
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>

    <script>
        function encodeImageFileAsURL(obj){

            var data;
            var name = $(obj).attr('name');
            var id = obj.id

            var filesSelected = document.getElementById(id).files;
            if (filesSelected.length > 0)
            {
                var fileToLoad = filesSelected[0];

                var fileReader = new FileReader();

                fileReader.onload = function(fileLoadedEvent) {
                    var srcData = fileLoadedEvent.target.result; // <--- data: base64

                    var newImage = document.createElement('img');
                    //newImage.src = srcData;

                    $("input[name='" + name + "_64']").val(srcData);

                }
                fileReader.readAsDataURL(fileToLoad);
            }
        }

        function isValidEmailAddress(emailAddress) {
            var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
            return pattern.test(emailAddress);
        };
    </script>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
    </section>
    <form name="entryForm" id="entryForm" method="POST" action="{{ route('media.accreditation.postAccreditationEntertainmentForm')}}" autocomplete="off" novalidate="novalidate">
        <section class="privacy-policy">
            <div class="chunk row">
                <div class="legalese col accreditation">
                    <table>
                        <colgroup width="40%"></colgroup>
                        <colgroup width="60%"></colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                <h1>ENTERTAINMENT ACCREDITATION </h1>

                                <p>
                                    Publications and websites that intend to cover the concerts and fringe entertainment at the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX must apply for Entertainment Accreditation. This form may take up to 20 minutes to complete. Please ensure you have sufficient time to complete all the fields required.
                                </p><br>
                                <p><b>Do ensure that the following guidelines are adhered to:</b></p> <br>
                                <p>1.	Each media organisation may apply for a maximum of 1 journalist and/or 1 photographer <b><i>PER DAY</i></b>. Concert photography is permitted during stipulated timeslots determined by the respective artiste managements but <u><i>filming of footage is strictly prohibited.</i></u> </p><br>
                                <p>2.	Please note that this accreditation <b><i>does not provide</i></b> the same access as the official FIA/FOM accredited media pass that is issued by the sport's governing bodies specifically for race coverage (eg. Media Centre, Pit Lane, Paddock access). If you wish to apply for the official FIA/FOM media accreditation, please <b><a href="/media/accreditation/show-form/fia">click here.</a></b> </p><br>
                                <p>3.	For artiste interview requests (prior to the race weekend), please email <b><a href="mailto:press@singaporegp.sg">press@singaporegp.sg</a></b>. Please note that this is subject to the respective artiste management's approval.</p><br>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Name of Publication/Radio/Website*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="publication_name" data-ng-model="person.publication" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Country*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <select style="margin: 10px 0px 10px 0px" name="country" id="country" class="country">
                                        <option value="">Select Country </option>
                                        {% for country in countriesList %}
                                            {% if (country.name == 'Singapore') %}
                                                <option value="{{ country.name }}" selected>{{ country.name }}</option>
                                            {% else %}
                                                <option value="{{ country.name }}" >{{ country.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>

                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Name of Editor*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="editor_name" data-ng-model="person.editor_name" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Phone*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="editor_phone" data-ng-model="person.editor_phone" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>

                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Email*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="email" name="editor_email" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Readership/Listenership*:</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="circulation_readership_frequency" data-ng-model="person.circulation_readership_frequency" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>

                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Frequency*:</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="frequency" data-ng-model="person.frequency" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Short description of publication/website/station*:</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="description" data-ng-model="person.description" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border" style="margin-top:10px;">
                            <td class="title">
                                <span class="label">Concerts:</span><span id="concert-checkbox" class="error-msg" style="margin-left:10px;"></span>
                            </td>
                        </tr>

                        {% for concert in concertList %}
                        <tr class="no-border" style="margin-top:10px; width:80%;">
                            <td><br>
                                <div class="form-grp checkbox-horizontal">
                                    <div class="checkbox">
                                        <input type="checkbox" name="concert[]" id="{{concert.value}}" value="{{concert.value}}">
                                        <label for="{{concert.value}}"></label>
                                    </div>
                                    <div class="checkbox-label">
                                        {{ concert.text|raw}}
                                    </div>
                                </div>

                            </td>
                            <td>
                                <span class="error-msg"></span>
                            </td>
                        </tr>


                        <!-- journalist-->
                        <tr class="{{concert.value}} journalist no-border event-form">
                            <td colspan="2"><h3>Concert Review (For journalists)</h3>
                                <span id="{{concert.value}}_section" class="error-msg"></span>
                            </td>
                        </tr>
                        <tr class="{{concert.value}} journalist no-border event-form">
                            <td class="title">
                                <span class="label">Name(s)</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="{{concert.value}}_journalist_name" data-ng-model="person.{{concert.value}}_journalist_name" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="{{concert.value}} journalist no-border event-form">
                            <td class="title">
                                <span class="label">Designation</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="{{concert.value}}_journalist_designation" data-ng-model="person.{{concert.value}}_journalist_designation" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                            <tr class="{{concert.value}} journalist no-border event-form">
                            <td class="title">
                                <span class="label">Mobile Number</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="{{concert.value}}_journalist_mobile" data-ng-model="person.{{concert.value}}_journalist_mobile" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="{{concert.value}} journalist no-border event-form">
                            <td class="title">
                                <span class="label">Email Address</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="email" name="{{concert.value}}_journalist_email" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="{{concert.value}} journalist event-form">
                            <td class="title" style="padding-right:10px;">
                                <span class="label">Passport photo of the representative: </span><br><p>The photo must be in PDF/JPEG format and should not exceed 1.5 MB</p>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="file" id="{{concert.value}}_journalist_passport" name="{{concert.value}}_journalist_passport" data-ng-model="person.{{concert.value}}_journalist_passport" onchange="encodeImageFileAsURL(this);" class="optional"/>
                                    <span class="error-msg"></span>
                                    <input type="hidden" name="{{concert.value}}_journalist_passport_64" />
                                </div>
                            </td>
                        </tr>



                    <!-- photographer -->
                        <tr class="{{concert.value}} photographer no-border event-form">
                            <td colspan="2"><h3 style="margin-top:10px;">Photo Pit Access (For photographers)</h3>
                                <span id="{{concert.value}}_section" class="error-msg"></span>
                            </td>
                        </tr>
                        <tr class="{{concert.value}} photographer no-border event-form">
                            <td class="title">
                                <span class="label">Name(s)</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="{{concert.value}}_photographer_name" data-ng-model="person.{{concert.value}}_photographer_name" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="{{concert.value}} photographer no-border event-form">
                            <td class="title">
                                <span class="label">Designation</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="{{concert.value}}_photographer_designation" data-ng-model="person.{{concert.value}}_photographer_designation" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="{{concert.value}} photographer no-border event-form">
                            <td class="title">
                                <span class="label">Mobile Number</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="{{concert.value}}_photographer_mobile" data-ng-model="person.{{concert.value}}_photographer_mobile" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="{{concert.value}} photographer no-border event-form">
                            <td class="title">
                                <span class="label">Email Address</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="email" name="{{concert.value}}_photographer_email" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="{{concert.value}} photographer no-border event-form">
                            <td class="title" style="padding-right:10px;">
                                <span class="label">Passport photo of the representative: </span><br><p>The photo must be in PDF/JPEG format and should not exceed 1.5 MB</p>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="file" id="{{concert.value}}_photographer_passport" name="{{concert.value}}_photographer_passport" data-ng-model="person.{{concert.value}}_photographer_passport" onchange="encodeImageFileAsURL(this);" class="optional"/>
                                    <span class="error-msg"></span>
                                    <input type="hidden" name="{{concert.value}}_photographer_passport_64" />
                                </div>
                            </td>
                        </tr>

    {% endfor %}

                        <!-- For Websites -->
                        <tr class="no-border">
                            <td colspan="2"><p>Please upload the following supporting documents (for Website)*:</p>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td colspan="2"><p><b>1.	A formal request written on the publication's/station's letterhead.</b> This letter is a formal undertaking from the editor / station manager to publish a concert review related to the event, and provides an indication as to when this review will be published / broadcast. The letter must be signed by the editor or a senior member of the editorial staff / station manager.</p><br>
                                <input type="file" id="formal_letter" name="formal_letter" data-ng-model="person.formal_letter" onchange="encodeImageFileAsURL(this);" class="mandatory"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="formal_letter_64" />
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td colspan="2"><p><b>2.	PDF files/website links of any Singapore GP pre-event coverage in 2016</b></p><br>
                                <input type="file" id="sgp_pre_coverage" name="sgp_pre_coverage" data-ng-model="person.sgp_pre_coverage" onchange="encodeImageFileAsURL(this);" class="mandatory"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="sgp_pre_coverage_64" />
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2"><br>Deadline for applications is <b><font color="red">Monday, 15 August</font></b>. There is strictly no extension of deadline. Only successful applicants will be notified by <b><font color="red">Monday, 5 September.</font></b> For any enquiries, please write in to <b><a href="mailto:press@singaporegp.sg">press@singaporegp.sg</a> (Attn: National Press Officer)</b>. Applications which are late or incomplete may not be considered.</td>
                        </tr>

                        <!-- journalist-->
                        <!--<tr id="journalist" class="no-border event-form">
                            <br>
                            <td colspan="2"><h3>Concert Review (For journalists)</h3>
                                <span id="section" class="error-msg"></span>
                            </td>
                        </tr>
                        <tr id="journalist" class="no-border event-form">
                            <td class="title">
                                <span class="label">Name(s)</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="journalist_name" data-ng-model="person.journalist_name"  class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr id="journalist" class="no-border event-form">
                            <td class="title">
                                <span class="label">Designation</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="journalist_designation" data-ng-model="person.journalist_designation" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr id="journalist" class="no-border event-form">
                            <td class="title">
                                <span class="label">Mobile Number</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="journalist_mobile" data-ng-model="person.journalist_mobile" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr id="journalist" class="no-border event-form">
                            <td class="title">
                                <span class="label">Email Address</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="email" name="journalist_email" data-ng-model="person.journalist_email" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr id="journalist" class="event-form">
                            <td class="title">
                                <span class="label">Passport photo of the representative: </span><br><p>The photo must be in PDF/JPEG format and should not exceed 1.5 MB</p>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="file" id="journalist_passport" name="journalist_passport" data-ng-model="person.journalist_passport" onchange="encodeImageFileAsURL(this);" class="optional"/>
                                    <span class="error-msg"></span>
                                    <input type="hidden" name="journalist_passport_64" />
                                </div>
                            </td>
                        </tr>-->

                        <!-- photographer -->
                        <!--<tr id="photographer" class="no-border event-form">
                            <br>
                            <td colspan="2"><h3>Photo Pit Access (For photographers)</h3>
                                <span id="section" class="error-msg"></span>
                            </td>
                        </tr>
                        <tr id="photographer" class="no-border event-form">
                            <td class="title">
                                <span class="label">Name(s)</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="photographer_name" data-ng-model="person.photographer_name" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr id="photographer" class="no-border event-form">
                            <td class="title">
                                <span class="label">Designation</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="photographer_designation" data-ng-model="person.photographer_designation" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr id="photographer" class="no-border event-form">
                            <td class="title">
                                <span class="label">Mobile Number</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="photographer_mobile" data-ng-model="person.photographer_mobile" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr id="photographer" class="no-border event-form">
                            <td class="title">
                                <span class="label">Email Address</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="email" name="photographer_email" data-ng-model="person.photographer_email" class="optional"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr id="photographer" class="no-border event-form">
                            <td class="title">
                                <span class="label">Passport photo of the representative: </span><br><p>The photo must be in PDF/JPEG format and should not exceed 1.5 MB</p>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="file" id="photographer_passport" name="photographer_passport" data-ng-model="person.photographer_passport" onchange="encodeImageFileAsURL(this);" class="optional"/>
                                    <span class="error-msg"></span>
                                    <input type="hidden" name="photographer_passport_64" />
                                </div>
                            </td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="entry-form submission" data-ng-hide="submitted">
            <div class="chunk row">
                <div class="legalese col">
                    <input type="submit" value="Submit Form"/>
                </div>
            </div>
        </section>
    </form>
    <script>
        $(document).ready(function() {
            $(document).on("change", "input[name='concert[]']", function() {
                var concertVal = $(this).val();
                if($(this).is(':checked')) {
                    $('tr.' +concertVal).show();
                }else {
                    $('tr.' +concertVal).hide();
                }
            });

            $("form").submit(function (e){
                var validForm = true;

                $('span.error-msg').attr("style", "display: none !important");


                $("#entryForm tr:visible input.mandatory[type=text]").each(function() {
                    //if(this.value == "")
                    if($.trim($(this).val()) == '') {
                        $(this).siblings('span').html('Please fill up the field above');
                        $(this).siblings('span').show();
                        validForm = false;
                    }
                });

                $("#entryForm tr:visible input.mandatory[type=email]").each(function() {
                    if(!isValidEmailAddress($(this).val())) {
                        $(this).siblings('span').html('Please enter a valid email address');
                        $(this).siblings('span').show();
                        validForm = false;
                    }
                });

                if($('select.country').val() == '') {
                    $('select.country').siblings('span').html('Please select a country');
                    $('select.country').siblings('span').show();
                    validForm = false;
                }


                var numOfCheckedBox = 0;
                $("#entryForm input[type=checkbox]").each(function() {
                    if($(this).is(":checked")) {
                        numOfCheckedBox++;
                        var val = $(this).val();

                        //photographer
                        var photographerFilled = false;
                        $("#entryForm tr." + val + ".photographer input[type=text]").each(function() {
                            if($.trim($(this).val()) != '') {
                                photographerFilled = true;
                            }
                        });

                        $("#entryForm tr." + val + ".photographer input[type=email]").each(function() {
                            if($.trim($(this).val()) != '') {
                                photographerFilled = true;
                            }
                        });

                        $("#entryForm tr." + val + ".photographer input[type=file]").each(function() {
                            var file = this.files[0];
                            if(this.files.length != 0){
                                photographerFilled = true;
                            }

                        });

                        if(photographerFilled) {
                            $("#entryForm tr." + val + ".photographer input[type=text]").each(function() {
                                if($.trim($(this).val()) == '') {
                                    $(this).siblings('span').html('Please fill up the field above');
                                    $(this).siblings('span').show();
                                    validForm = false;
                                }
                            });

                            $("#entryForm tr." + val + ".photographer input[type=email]").each(function() {
                                if(!isValidEmailAddress($(this).val())) {
                                    $(this).siblings('span').html('Please enter a valid email address');
                                    $(this).siblings('span').show();
                                    validForm = false;
                                }
                            });

                            $("#entryForm tr." + val + ".photographer input[type=file]").each(function() {
                                var file = this.files[0];
                                if (this.files.length ==0) {
                                    $(this).siblings('span').html('Please attach a file');
                                    $(this).siblings('span').show();
                                    validForm = false;
                                }else if(file && file.size > 1572864){
                                    $(this).siblings('span').html('Please attach a file with size smaller than 1.5MB');
                                    $(this).siblings('span').show();
                                    validForm = false;
                                }
                            });
                        }


                        //journalist
                        var journalistFilled = false;
                        $("#entryForm tr." + val + ".journalist input[type=text]").each(function() {
                            if($.trim($(this).val()) != '') {
                                journalistFilled = true;
                            }
                        });

                        $("#entryForm tr." + val + ".journalist input[type=email]").each(function() {
                            if($.trim($(this).val()) != '') {
                                journalistFilled = true;
                            }
                        });

                        $("#entryForm tr." + val + ".journalist input[type=file]").each(function() {
                            var file = this.files[0];
                            if(this.files.length != 0){
                                journalistFilled = true;
                            }

                        });

                        if(journalistFilled) {
                            $("#entryForm tr." + val + ".journalist input[type=text]").each(function() {
                                if($.trim($(this).val()) == '') {
                                    $(this).siblings('span').html('Please fill up the field above');
                                    $(this).siblings('span').show();
                                    validForm = false;
                                }
                            });

                            $("#entryForm tr." + val + ".journalist input[type=email]").each(function() {
                                if(!isValidEmailAddress($(this).val())) {
                                    $(this).siblings('span').html('Please enter a valid email address');
                                    $(this).siblings('span').show();
                                    validForm = false;
                                }
                            });

                            $("#entryForm tr." + val + ".journalist input[type=file]").each(function() {
                                var file = this.files[0];
                                if (this.files.length ==0) {
                                    console.log("No files selected.");
                                    $(this).siblings('span').html('Please attach a file');
                                    $(this).siblings('span').show();
                                    validForm = false;
                                }else if(file && file.size > 1572864){
                                    console.log("Files is too big.");
                                    $(this).siblings('span').html('Please attach a file with size smaller than 1.5MB');
                                    $(this).siblings('span').show();
                                    validForm = false;
                                }
                            });
                        }

                        if(!photographerFilled && !journalistFilled) {
                            $('span#' + val + '_section').html('Please fill in either the Concert Review or Photo Pit Access Section');
                            $('span#' + val + '_section').show();
                            validForm = false;
                        }
                    }
                });

                if(numOfCheckedBox ==0) {
                    $('span#concert-checkbox').html('Please select at least 1 concert.');
                    $('span#concert-checkbox').show();
                    validForm = false;
                }

                $("#entryForm tr input.mandatory[type=file]").each(function() {
                    var file = this.files[0];
                    if (this.files.length ==0) {
                        $(this).siblings('span').html('Please attach a file');
                        $(this).siblings('span').show();
                        validForm = false;
                    }else if(file && file.size > 1572864){
                        $(this).siblings('span').html('Please attach a file with size smaller than 1.5MB');
                        $(this).siblings('span').show();
                        validForm = false;
                    }
                });

                //photographer
                /*var photographerFilled = false;
                $("#entryForm tr.photographer input[type=text]").each(function() {
                    if($.trim($(this).val()) != '') {
                        photographerFilled = true;
                    }
                });

                $("#entryForm tr.photographer input[type=email]").each(function() {
                    if($.trim($(this).val()) != '') {
                        photographerFilled = true;
                    }
                });

                $("#entryForm tr.photographer input[type=file]").each(function() {
                    var file = this.files[0];
                    if(this.files.length != 0){
                        photographerFilled = true;
                    }

                });

                if(photographerFilled) {
                    $("#entryForm tr.photographer input[type=text]").each(function() {
                        if($.trim($(this).val()) == '') {
                            $(this).siblings('span').html('Please fill up the field above');
                            $(this).siblings('span').show();
                            validForm = false;
                        }
                    });

                    $("#entryForm tr.photographer input[type=email]").each(function() {
                        if(!isValidEmailAddress($(this).val())) {
                            $(this).siblings('span').html('Please enter a valid email address');
                            $(this).siblings('span').show();
                            validForm = false;
                        }
                    });

                    $("#entryForm tr.photographer input[type=file]").each(function() {
                        var file = this.files[0];
                        if (this.files.length ==0) {
                            $(this).siblings('span').html('Please attach a file');
                            $(this).siblings('span').show();
                            validForm = false;
                        }else if(file && file.size > 1572864){
                            $(this).siblings('span').html('Please attach a file with size smaller than 1.5MB');
                            $(this).siblings('span').show();
                            validForm = false;
                        }
                    });
                }*/

                //journalist
                /*var journalistFilled = false;
                $("#entryForm tr.journalist input[type=text]").each(function() {
                    if($.trim($(this).val()) != '') {
                        journalistFilled = true;
                    }
                });

                $("#entryForm tr.journalist input[type=email]").each(function() {
                    if($.trim($(this).val()) != '') {
                        journalistFilled = true;
                    }
                });

                $("#entryForm tr.journalist input[type=file]").each(function() {
                    var file = this.files[0];
                    if(this.files.length != 0){
                        journalistFilled = true;
                    }

                });

                if(journalistFilled) {
                    $("#entryForm tr.journalist input[type=text]").each(function() {
                        if($.trim($(this).val()) == '') {
                            $(this).siblings('span').html('Please fill up the field above');
                            $(this).siblings('span').show();
                            validForm = false;
                        }
                    });

                    $("#entryForm tr.journalist input[type=email]").each(function() {
                        if(!isValidEmailAddress($(this).val())) {
                            $(this).siblings('span').html('Please enter a valid email address');
                            $(this).siblings('span').show();
                            validForm = false;
                        }
                    });

                    $("#entryForm tr.journalist input[type=file]").each(function() {
                        var file = this.files[0];
                        if (this.files.length ==0) {
                            console.log("No files selected.");
                            $(this).siblings('span').html('Please attach a file');
                            $(this).siblings('span').show();
                            validForm = false;
                        }else if(file && file.size > 1572864){
                            console.log("Files is too big.");
                            $(this).siblings('span').html('Please attach a file with size smaller than 1.5MB');
                            $(this).siblings('span').show();
                            validForm = false;
                        }
                    });
                }*/



                /*$("#entryForm tr:visible input[type=number]").each(function() {
                    if(Math.floor($(this).val()) != $(this).val() || !$.isNumeric($(this).val())){
                        validForm = false;
                        $(this).siblings('span').html('Please fill up the field above in numeric numbers only');
                        $(this).siblings('span').show();
                        validForm = false;
                    }
                });

                $("#entryForm tr:visible input[type=file]").each(function() {
                    var file = this.files[0];
                    if (this.files.length ==0) {
                        console.log("No files selected.");
                        $(this).siblings('span').html('Please attach a file');
                        $(this).siblings('span').show();
                        validForm = false;
                    }else if(file && file.size > 1572864){
                        console.log("Files is too big.");
                        $(this).siblings('span').html('Please attach a file with size smaller than 1.5MB');
                        $(this).siblings('span').show();
                        validForm = false;
                    }
                });*/


                if(!validForm) {
                    e.preventDefault();
                }
               /* if(!photographerFilled && !journalistFilled) {
                    $('span#section').html('Please fill in either the Concert Review or Photo Pit Access Section');
                    $('span#section').show();
                    e.preventDefault();
                }*/
            });

        });
    </script>

{% endblock %}