{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Media - Accreditation Information' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    {#<script type="text/javascript" src="/javascripts/mediapressreleasebundle.js"></script>#}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/misc-privacypolicy.min.css"/>
    <link rel="stylesheet" href="/stylesheets/media-chooseentryform.min.css"/>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <section class="privacy-policy">
        <div class="chunk row">
            <div class="legalese col">
                <table>
                    <colgroup width="40%"></colgroup>
                    <colgroup width="60%"></colgroup>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <h1>Entertainment Accreditation</h1>

                            <p>
                                Publications and websites that intend to cover the concerts and fringe entertainment at the 2015
                                FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX must apply for Entertainment
                                Accreditation.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>KINDLY NOTE:</h3>
                        </td>
                        <td>
                            <p>
                                1. Each media organisation may apply for a maximum of 1 journalist and/or 1 photographer <u>PER DAY</u>. <br/>&nbsp;&nbsp;&nbsp;&nbsp;Concert photography is permitted during stipulated timeslots determined by the respective artiste managements <br/>&nbsp;&nbsp;&nbsp;&nbsp;but <u><i>filming of footage is strictly prohibited</i></u>.
                            </p>

                            <p>
                                2. Please note that this accreditation <b><u>does not</u></b> provide the same access as the official FIA/FOM accredited media <br/>&nbsp;&nbsp;&nbsp;&nbsp;pass that is issued by the sport’s governing bodies specifically for race coverage (eg. Media Centre, Pit Lane, <br/>&nbsp;&nbsp;&nbsp;&nbsp;Paddock access). If you wish to apply for the official FIA/FOM media accreditation, please <a href="http://www.singaporegp.sg/media/accreditation" target="_blank">click here</a>.
                            </p>

                            <p>

                            3. For artiste interview requests (prior to the race weekend), please email <a href="mailto:press@singaporegp.sg">press@singaporegp.sg</a>. Please note that <br/>&nbsp;&nbsp;&nbsp;&nbsp;this is subject to the respective artiste management’s approval.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>PLEASE INCLUDE THE FOLLOWING <br/>IN YOUR APPLICATION:</h3>
                        </td>
                        <td>
                                <p>
                                    1. Name(s), job title(s) and contact details (handphone number, email address), and passport photo of the <br/>&nbsp;&nbsp;&nbsp;&nbsp;representative(s) who will be covering the concerts;
                                </p>

                                <p>
                                    2. Publication or website editors’ name and contact details
                                </p>
                                <p>
                                    3. Information on the publication/website (eg. circulation, readership, frequency, etc);
                                </p>
                                <p>
                                    4. Which concert(s) is being covered under this request; <b>Kylie</b>, <b>KC and The Sunshine Band</b>, <b>Bastille</b>, <b>Pentatonix</b>, <b>Queen + Adam Lambert</b>, <b>Halsey</b>, <b>Imagine Dragons</b> <br/>.
                                </p>
                                <p>
                                    5. A formal undertaking to publish a report related to the concert (s) and an indication as to when this report will be <br/>&nbsp;&nbsp;&nbsp;&nbsp;published;
                                </p>
                                <p>
                                    6. PDF files/ website links of previous Singapore Grand Prix entertainment coverage;
                                </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <p>To Submit your Entertainment Accreditation
                                entry form: </p>
                        </td>
                        <td>
                            <a href="{{ route('media.accreditation.show-form', ['entertainment']) }}" class="button journalist">Click Here</a>
                        </td>
                    </tr>
                    <!--<tr>
                        <td colspan="2">
                            <p>
                                Please submit your applications to <a href="mailto:press@singaporegp.sg">press@singaporegp.sg</a> with the subject header: <b>Entertainment Accreditation by Thursday, 20 August 2015</b>.
                            </p>
                            <p>
                                For enquiries, please write to <a href="mailto:press@singaporegp.sg">press@singaporegp.sg</a>. Applications which are late or incomplete may not be considered.
                            </p>
                        </td>
                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}