{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Media - Accreditation Information' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    <script type="text/javascript" src="{{ asset('bower_components/modernizr/modernizr.min.js') }}"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"><\/script>')</script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.js"></script>
    {#<script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.min.js"></script>#}
    <script>window.angular || document.write('<script src="{{ asset('bower_components/angular-latest/build/angular.min.js') }}"><\/script>')</script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,700italic,500italic' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/javascripts/libs/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/javascripts/mediaentryformbundle.js?postUrl={{ route('media.postToEntryForm') }}&formType={{ formType }}"></script>

    <link rel="stylesheet" href="/stylesheets/media-entryform.min.css"/>
{% endblock %}

{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="entryFormController">{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <section class="thank-you" data-ng-show="submitted">
        <div class="chunk row">
            <p>Thank you!</p>
            <p>Your Singapore Entry Form has been successfully submitted. We look forward to seeing you at the 2016 Formula 1 Singapore Airlines Singapore GRAND PRIX!</p>
        </div>
    </section>

    <form name="entryForm" data-ng-submit="submitForm()" novalidate="novalidate">
        <section class="entry-form personal-information" data-ng-hide="submitted">
            <div class="chunk row">
                <div class="legalese col">
                    <table>
                        <colgroup width="40%"></colgroup>
                        <colgroup width="60%"></colgroup>
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <h1>Singapore Entry Form <br/>{{ trans('media.'~formType) }}</h1>

                                <p>Please complete the information fields below to facilitate immigration clearance upon
                                    your arrival in Singapore for the 2016 FORMULA 1 SINGAPORE GRAND PRIX.</p>
                            </td>
                        </tr>
                        {% if formType != 'journalist' %}
                        <tr class="numberOfPersonnel">
                            <td><h3>Number of Personnel</h3></td>
                            <td>
                                <p>
                                    Each accredited crew member must submit the following information. <br/>
                                    If submitting for a group, please indicate the number of personnel:
                                </p>

                                <div class="form-row">
                                    <select name="numberOfPersonnel" data-ng-model="numberOfPersonnel" data-ng-change="updatePersons()">
                                        {% for i in 1..20 %}
                                            <option value="{{i}}">{{i}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        <tr class="person" data-ng-repeat-start="person in entryData.persons">
                            <td><h3>Personal Information</h3></td>
                            <td>
                                <div class="form-row">
                                    {#<input type="text" name="passportName" placeholder="Full name as in passport" data-ng-model="person.full_name" required/>#}
                                    <input type="text" name="passportName" placeholder="Full name as in passport" data-ng-model="person.full_name"/>
                                    {#<input type="text" name="passportNumber" placeholder="Passport number" data-ng-model="person.passport_number" required/>#}
                                    <input type="text" name="passportNumber" placeholder="Passport number" data-ng-model="person.passport_number"/>
                                </div>
                                <div class="form-row">
                                    <div class="form-grp passport-date">
                                        {#<input type="text" name="dateOfPassportExpiry" placeholder="Date of expiry" data-ng-model="person.passport_expiry_date" data-date-picker required/><span class="icon-calendar"></span>#}
                                        <input type="text" name="dateOfPassportExpiry" placeholder="Date of expiry" data-ng-model="person.passport_expiry_date" data-date-picker /><span class="icon-calendar"></span>
                                    </div>

                                    <div class="form-grp passport-date">
                                    {#<input type="text" name="dateOfPassportIssue" placeholder="Date of issue" data-ng-model="person.passport_issue_date" data-date-picker required/><span class="icon-calendar"></span>#}
                                        <input type="text" name="dateOfPassportIssue" placeholder="Date of issue" data-ng-model="person.passport_issue_date" data-date-picker /><span class="icon-calendar"></span>
                                    </div>
                                    {#<select name="countryOfOrigin" data-ng-model="person.country_of_origin" required>#}
                                    <select name="countryOfOrigin" data-ng-model="person.country_of_origin">
                                        <option value="" disabled>Country</option>
                                        {% for country in countriesList %}
                                            <option value="{{ country.name }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>Company Information</h3></td>
                            <td>
                                <div class="form-row">
                                    {#<input type="text" name="newsOrganisation" placeholder="News organisation represented" data-ng-model="person.news_organisation" required/>#}
                                    <input type="text" name="newsOrganisation" placeholder="News organisation represented" data-ng-model="person.news_organisation"/>
                                    {#<input type="text" name="designation" placeholder="Designation" data-ng-model="person.designation" required/>#}
                                    <input type="text" name="designation" placeholder="Designation" data-ng-model="person.designation" />
                                </div>
                            </td>
                        </tr>
                        <tr class="flight" data-ng-repeat-end>
                            <td><h3>Flight Information</h3></td>
                            <td>
                                <div class="form-row">
                                    {#<input type="text" name="arrivalFlightNumber" placeholder="Arrival flight number" data-ng-model="person.flight_arrival_number" required/>#}
                                    <input type="text" name="arrivalFlightNumber" placeholder="Arrival flight number" data-ng-model="person.flight_arrival_number" />
                                    {#<input type="text" name="departureFlightNumber" placeholder="Departure flight number" data-ng-model="person.flight_departure_number" required/>#}
                                    <input type="text" name="departureFlightNumber" placeholder="Departure flight number" data-ng-model="person.flight_departure_number" />
                                </div>
                                <div class="form-row">
                                    <div class="form-grp flight-date">
                                        {#<input type="text" name="dateTimeOfArrival" placeholder="Estimated date & time of arrival" data-ng-model="person.flight_arrival_date" data-date-time-picker required/><span class="icon-calendar"></span>#}
                                        <input type="text" name="dateTimeOfArrival" placeholder="Estimated date & time of arrival" data-ng-model="person.flight_arrival_date" data-date-time-picker /><span class="icon-calendar"></span>
                                    </div>

                                    <div class="form-grp flight-date">
                                        {#<input type="text" name="dateTimeOfDeparture" placeholder="Estimated date & time of departure" data-ng-model="person.flight_departure_date" data-date-time-picker required/><span class="icon-calendar"></span>#}
                                        <input type="text" name="dateTimeOfDeparture" placeholder="Estimated date & time of departure" data-ng-model="person.flight_departure_date" data-date-time-picker /><span class="icon-calendar"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        {% if formType != 'journalist' %}
        <section class="entry-form equipment-declaration" data-ng-hide="submitted">
            <div class="chunk row">
                <div class="legalese col">
                    <table>
                        <colgroup width="40%"></colgroup>
                        <colgroup width="60%"></colgroup>
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <h1>Equipment Declaration Form</h1>

                                <p>All photographers and television crew will also have to complete the equipment declaration form below
                                    <br/>listing the equipment you are intending to bring in to facilitate the entry of the items.</p>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>Audio-Visual Equipment <br/>carried by Media team from</h3></td>
                            <td>
                                <div class="form-row">
                                    {#<select name="countryOfOriginAV" data-ng-model="entryData.avEquipment.country_from" required>#}
                                    <select name="countryOfOriginAV" data-ng-model="entryData.avEquipment.country_from" >
                                        <option value="" disabled>Country</option>
                                        {% for country in countriesList %}
                                            <option value="{{ country.name }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>Personal Information</h3></td>
                            <td>
                                <div class="form-row">
                                    {#<input type="text" name="passportNameAV" placeholder="Full name as in passport" data-ng-model="entryData.avEquipment.person.full_name" required/>#}
                                    <input type="text" name="passportNameAV" placeholder="Full name as in passport" data-ng-model="entryData.avEquipment.person.full_name" />
                                    {#<input type="text" name="passportNumberAV" placeholder="Passport number" data-ng-model="entryData.avEquipment.person.passport_number" required/>#}
                                    <input type="text" name="passportNumberAV" placeholder="Passport number" data-ng-model="entryData.avEquipment.person.passport_number" />
                                </div>
                                <div class="form-row">
                                    {#<input type="text" name="newsOrganisationAV" placeholder="News organisation represented" data-ng-model="entryData.avEquipment.person.news_organisation" required/>#}
                                    <input type="text" name="newsOrganisationAV" placeholder="News organisation represented" data-ng-model="entryData.avEquipment.person.news_organisation" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>Equipment Information</h3></td>
                            <td>
                                <div class="form-row" data-ng-repeat="eq in entryData.avEquipment.equipment">
                                    {#<input type="text" name="itemNameAV" placeholder="Item name" data-ng-model="eq.item" required/>#}
                                    <input type="text" name="itemNameAV" placeholder="Item name" data-ng-model="eq.item" />
                                    {#<input type="text" name="itemQuantityAV" placeholder="Quantity" data-ng-model="eq.quantity" required/>#}
                                    <input type="text" name="itemQuantityAV" placeholder="Quantity" data-ng-model="eq.quantity" />
                                    {#<input type="text" name="itemValueAV" placeholder="Approx. value (SGD)" data-ng-model="eq.approx_value" required/>#}
                                    <input type="text" name="itemValueAV" placeholder="Approx. value (SGD)" data-ng-model="eq.approx_value" />
                                    {#<input type="text" name="itemSerialNumberAV" placeholder="Serial number" data-ng-model="eq.serial_number" required/>#}
                                    <input type="text" name="itemSerialNumberAV" placeholder="Serial number" data-ng-model="eq.serial_number" />
                                    <span class="remove" data-ng-hide="entryData.avEquipment.equipment.length == 1"><a href data-ng-click="removeEquipment($event, $index)">- remove</a></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>Add more equipment</h3></td>
                            <td>
                                <div class="form-row">
                                    <a class="add-more" href data-ng-click="addEquipment($event)">Add more</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        {% endif %}

        <section class="entry-form submission" data-ng-hide="submitted">
            <div class="chunk row">
                <div class="legalese col">
                    <input type="submit" value="Submit Form" data-ng-disabled="entryForm.$invalid"/>
                </div>
            </div>
        </section>
    </form>


{% endblock %}