{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Media - Accreditation Information' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    {#<script type="text/javascript" src="/javascripts/mediapressreleasebundle.js"></script>#}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"><\/script>')</script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.js"></script>
    {#<script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.min.js"></script>#}
    <script>window.angular || document.write('<script src="{{ asset('bower_components/angular-latest/build/angular.min.js') }}"><\/script>')</script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css"/>

    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/misc-privacypolicy.min.css"/>
    <link rel="stylesheet" href="/stylesheets/media-entryform.min.css"/>
    <!--<script type="text/javascript" src="/javascripts/mediaentryformbundle.js?postUrl={{ route('media.accreditation.postAccreditationFiaForm') }}"></script>-->
{% endblock %}




{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <script>

        function encodeImageFileAsURL(obj){

            var data;
            var name = $(obj).attr('name');
            var id = obj.id

            var filesSelected = document.getElementById(id).files;
            if (filesSelected.length > 0)
            {
                var fileToLoad = filesSelected[0];

                var fileReader = new FileReader();

                fileReader.onload = function(fileLoadedEvent) {
                    var srcData = fileLoadedEvent.target.result; // <--- data: base64

                    var newImage = document.createElement('img');
                    //newImage.src = srcData;

                    $("input[name='" + name + "_64']").val(srcData);
                    /*if($("#files").val() !== ''){
                        $(".text-success span").html(function(){
                            var path = $("#file").val();
                            path = path.split("\\");
                            return 'Successfully attached ' + '"' +path[path.length - 1]+'".';
                        });
                        $(".text-success span").show();
                    } else{
                        $(".text-success span").hide();
                    }*/
                    /*$(".fileUpload input.upload").hide();
                    $(".fileUpload a.removeFile").show();
                    $(".fileUpload").css({"background-image" : "url(/images/close_attachment.png)"} );*/
                }
                fileReader.readAsDataURL(fileToLoad);
            }
        }

        function isValidEmailAddress(emailAddress) {
            var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
            return pattern.test(emailAddress);
        };
    </script>

    <form name="entryForm" id="entryForm" method="POST" action="{{ route('media.accreditation.postAccreditationFiaForm')}}" autocomplete="off" novalidate="novalidate">
        <section class="privacy-policy">
            <div class="chunk row">
                <div class="legalese col accreditation">
                    <table>
                        <colgroup width="40%"></colgroup>
                        <colgroup width="60%"></colgroup>
                        <tbody>
                        <tr>
                            <td colspan="4">
                                <h1>FIA/FOM OFFICIAL FORMULA 1 ACCREDITATION (For Paddock/Media Centre access only)</h1>

                                <p>
                                    Submitting the following particulars and information of the representative(s) who will be covering the event will assist you in achieving a successful application. This form may take up to 20 minutes
                                    to complete. Please ensure you have sufficient time to complete all the fields
                                    required.
                                </p>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Name of Representative*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="representative_name" data-ng-model="representative_name" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Designation*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="representative_designation" data-ng-model="person.designation" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Phone Number*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="representative_phone" data-ng-model="person.representative_phone" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Fax Number</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="representative_fax" data-ng-model="person.representative_fax"/>
                               {#     <span class="error-msg"></span>#}
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Email Address*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="email" name="representative_email" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td colspan="2"><p>Please upload the following supporting documents:</p>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td colspan="2"><p>1.	Passport photo of the representative(s). The photo must be in PDF/JPEG format and should not exceed 1.5 MB*</p><br>
                                <input type="file" id="passport_photo" name="passport_photo" data-ng-model="person.passport_photo" onchange="encodeImageFileAsURL(this);" style="width:100%;" class="mandatory small-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="passport_photo_64" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><p>2.	PDF of the official press card(s) of the representative(s). The PDF file should not exceed 1.5 MB.</p><br>
                                <input type="file" id="press_card" name="press_card" data-ng-model="person.press_card" onchange="encodeImageFileAsURL(this);" class="small-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="press_card_64" />
                            </td>
                        </tr>



                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Name of Publication/Radio/Website*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="publication_name" data-ng-model="person.publication" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Country*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <select style="margin: 10px 0px 10px 0px" name="country" id="country" class="country mandatory" >
                                        <option value="">Select Country</option>
                                        {% for country in countriesList %}
                                            {% if (country.name == 'Singapore') %}
                                                <option value="{{ country.name }}" selected>{{ country.name }}</option>
                                            {% else %}
                                                <option value="{{ country.name }}" >{{ country.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>

                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Name of Editor*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="editor_name" data-ng-model="person.editor_name" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>

                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Phone number*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="editor_phone" data-ng-model="person.editor_phone" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>

                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Fax number</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="editor_fax" data-ng-model="person.editor_fax"/>

                                </div>
                            </td>
                        </tr>
                        <tr class="no-border">
                            <td class="title">
                                <span class="label">Email Address*</span>

                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="email" name="editor_email" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>

                        <tr class="no-border">
                            <td colspan="2"><p>Please upload the following supporting documents*:</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><p>1.	<b>A formal request written on the publication's/station's letterhead.</b> This letter is a formal undertaking from the editor / station manager to publish a report related to the event, and provides an indication as to when this report will be published / broadcast. The letter must be signed by the editor or a senior member of the editorial staff / station manager.</p><br>
                                <input type="file" id="supporting_document" name="supporting_document" data-ng-model="person.document" onchange="encodeImageFileAsURL(this);" class="mandatory small-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="supporting_document_64" />
                            </td>
                        </tr>

                        <tr class="no-border" style="margin-top:10px;">
                            <td class="title">
                                <span class="label">Media Type*</span>
                            </td>
                            <td>
                                <br>
                                <select name="media_type" data-ng-model="person.media_type" class="mandatory">
                                    <option value="" disabled>Media Type</option>
                                    <option value="print_media">Print Media</option>
                                    <option value="radio_station">Radio Station</option>
                                    <option value="website">Website</option>
                                </select>
                                <span class="error-msg"></span>
                            </td>
                        </tr>

                        <!-- Print Media -->
                        <tr class="no-border print-media">
                            <td class="title">
                                <span class="label">Circulation</span>
                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="print_media_circulation" data-ng-model="person.print_media_circulation"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border print-media">
                            <td class="title">
                                <span class="label">Readership*</span>
                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="print_media_listenership" data-ng-model="person.print_media_listenership" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border print-media">
                            <td class="title">
                                <span class="label">Frequency*</span>
                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="print_media_frequency" data-ng-model="person.print_media_frequency" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>

                        <tr class="no-border print-media">
                            <td colspan="2"><p>Please upload the following supporting documents (for Print Media):
                                <br /></p>
                            </td>
                        </tr>
                        <tr class="no-border print-media">
                            <td colspan="2"><p><b>1.	An original soft copy of the publication</b> (only to be supplied on request or for first-time applicants)</p><br>
                                <input type="file" id="print_media_publication" name="print_media_publication" data-ng-model="person.print_media_publication" onchange="encodeImageFileAsURL(this);" class="large-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="print_media_publication_64" />
                            </td>
                        </tr>

                        <tr class="no-border print-media">
                            <td colspan="2"><p><b>2.	PDF files of previous FIA Formula One<sup>TM</sup> Grand Prix coverage</b>, or other motorsport related articles*</p><br>
                                <input type="file" id="print_media_coverage" name="print_media_coverage" data-ng-model="person.print_media_coverage" onchange="encodeImageFileAsURL(this);" class="mandatory large-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="print_media_coverage_64" />
                            </td>
                        </tr>
                        <tr class="no-border print-media">
                            <td colspan="2"><p><b>3.	PDF files of any Singapore GP pre-event coverage in 2016*</b></p><br>
                                <input type="file" id="print_media_pre_coverage" name="print_media_pre_coverage" data-ng-model="person.print_media_pre_coverage" onchange="encodeImageFileAsURL(this);" class="mandatory large-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="print_media_pre_coverage_64" />
                            </td>
                        </tr>

                        <!-- Radio Station -->
                        <tr class="no-border radio-station">
                            <td class="title">
                                <span class="label">Listenership*</span>
                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="radio_station_listenership" data-ng-model="person.radio_station_listenership" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="no-border radio-station">
                            <td class="title">
                                <span class="label">Frequency*</span>
                            </td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="radio_station_frequency" data-ng-model="person.radio_station_frequency" class="mandatory"/>
                                    <span class="error-msg"></span>
                                </div>
                            </td>
                        </tr>

                        <tr class="no-border radio-station">
                            <td colspan="2"><p>Please upload the following supporting documents (for Radio Stations)*  :<br/></p>
                            </td>
                        </tr>
                        <tr class="no-border radio-station">
                            <td colspan="2"><p>1.	Audio files of previous FIA Formula One<sup>TM</sup> Grand Prix coverage, or other motorsport related broadcasts</p>
                                <input type="file" id="radio_station_audio_event" name="radio_station_audio_event" data-ng-model="person.audio_event" onchange="encodeImageFileAsURL(this);" class="mandatory large-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="radio_station_audio_event_64" />
                            </td>
                        </tr>
                        <tr class="no-border radio-station">
                            <td colspan="2"><p>2.	Audio files of any Singapore GP pre-event coverage in 2016 </p><br>
                                <input type="file" id="radio_station_audio_pre_event" name="radio_station_audio_pre_event" data-ng-model="person.audio_pre_event" onchange="encodeImageFileAsURL(this);" class="mandatory large-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="radio_station_audio_pre_event_64" />
                            </td>
                        </tr>

                        <!-- For Websites -->
                        <tr class="no-border website">
                            <td colspan="2"><p>Please upload the following supporting documents (for Website)*: <br/></p>

                            </td>
                        </tr>
                        <tr class="no-border website">
                            <td colspan="2"><p>1.	Audited traffic figures for the last three years (together with a geographical breakdown of users for the (i) for the website or (ii) in case the website is not a website dedicated to the Championship, for the Championship section of the website. Traffic figures must be confirmed by an Internet auditor of industry repute acceptable to the FIA.</p><br>
                                <input type="file" id="website_traffic_figure" name="website_traffic_figure" data-ng-model="person.website_traffic_figure" onchange="encodeImageFileAsURL(this);" class="mandatory large-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="website_traffic_figure_64" />
                            </td>
                        </tr>
                        <tr class="no-border website">
                            <td colspan="2"><p>2.	Satisfactory evidence of publication on the website of news coverage of each Championship event in the previous three Formula One<sup>TM</sup> seasons, together with the dates of publication, correctly by-lined. <b>Blogs will not qualify.</b></p><br>
                                <input type="file" id="website_news_coverage" name="website_news_coverage" data-ng-model="person.website_news_coverage" onchange="encodeImageFileAsURL(this);" class="mandatory large-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="website_news_coverage_64" />
                            </td>
                        </tr>
                        <tr class="website">
                            <td colspan="2"><p>3.	Website links to any Singapore GP pre-event coverage in 2016</p><br>
                                <input type="file" id="website_link" name="website_link" data-ng-model="person.website_link" onchange="encodeImageFileAsURL(this);" class="mandatory large-file"/>
                                <span class="error-msg"></span><br>
                                <input type="hidden" name="website_link_64" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><br>Deadline for applications is <b><font color="red">Monday, 15 August</font></b>. There is strictly no extension of deadline. Only successful applicants will be notified by <b><font color="red">Monday, 5 September.</font></b> For any enquiries, please write in to <b><a href="mailto:press@singaporegp.sg">press@singaporegp.sg</a> (Attn: National Press Officer)</b>. Applications which are late or incomplete may not be considered.</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="entry-form submission" data-ng-hide="submitted">
            <div class="chunk row">
                <div class="legalese col">
                    <input type="submit" value="Submit Form""/>
                </div>
            </div>
        </section>
    </form>
    <script>
        $(document).ready(function() {
            $(document).on("change", "select[name='media_type']", function() {
                if($('select[name="media_type"]').val() == 'print_media' ) {
                    $('.website').hide();
                    $('.radio-station').hide();
                    $('.print-media').show();
                }else if($('select[name="media_type"]').val() == 'radio_station' ) {
                    $('.website').hide();
                    $('.radio-station').show();
                    $('.print-media').hide();
                }else if($('select[name="media_type"]').val() == 'website' ) {
                    $('.website').show();
                    $('.radio-station').hide();
                    $('.print-media').hide();
                }
            });

            $("form").submit(function (e){
                var validForm = true;
                $('span.error-msg').attr("style", "display: none !important");

                if($('select.mandatory[name="media_type"]').val() == null) {
                    $('select[name="media_type"]').siblings('span').html('Please select a media type');
                    $('select[name="media_type"]').siblings('span').show();
                    validForm = false;
                }

                $("#entryForm tr:visible input.mandatory[type=text]").each(function() {
                    //if(this.value == "")
                    if($.trim($(this).val()) == '') {
                        $(this).siblings('span').html('Please fill up the field above');
                        $(this).siblings('span').show();
                        validForm = false;
                    }
                });

                $("#entryForm tr:visible input.mandatory[type=email]").each(function() {
                    if(!isValidEmailAddress($(this).val())) {
                        $(this).siblings('span').html('Please enter a valid email address');
                        $(this).siblings('span').show();
                        validForm = false;
                    }
                });

                $("#entryForm tr:visible input.mandatory[type=number]").each(function() {
                    if(Math.floor($(this).val()) != $(this).val() || !$.isNumeric($(this).val())){
                        validForm = false;
                        $(this).siblings('span').html('Please fill up the field above in numeric numbers only');
                        $(this).siblings('span').show();
                        validForm = false;
                    }

                });

                if($('select.country.mandatory').val() == '') {
                    $('select.country.mandatory').siblings('span').html('Please select a country');
                    $('select.country.mandatory').siblings('span').show();
                    validForm = false;
                }

                $("#entryForm tr:visible input.mandatory[type=file]").each(function() {
                    var file = this.files[0];
                    if (this.files.length ==0) {
                        $(this).siblings('span').html('Please attach a file');
                        $(this).siblings('span').show();
                        validForm = false;
                    }
                });

                $("#entryForm tr:visible input.small-file[type=file]").each(function() {
                    var file = this.files[0];
                    if(this.files.length != 0 && file && file.size > 1572864){
                        $(this).siblings('span').html('Please attach a file with size smaller than 1.5MB');
                        $(this).siblings('span').show();
                        validForm = false;
                    }
                });

                $("#entryForm tr:visible input.large-file[type=file]").each(function() {
                    var file = this.files[0];
                    if(this.files.length != 0 && file && file.size > 10485760){
                        $(this).siblings('span').html('Please attach a file with size smaller than 10MB');
                        $(this).siblings('span').show();
                        validForm = false;
                    }
                });


                if(!validForm) {
                    e.preventDefault();
                }
            });

        });
    </script>

{% endblock %}