{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Media - Mobile App' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/stylesheets/media-mobileapp.min.css"/>
{% endblock %}



{# page content #}
{% block content %}
    <section class="selection-panel">        
        {% embed "partials.masthead" %}{% endembed %}
        <div class="hand">
            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>Official<br/>Singapore GP App</h1>
                            <br/>
                            <p>
                                Get up to speed with the latest news on the only Formula One<br/>
                                night race with the official Singapore GP app and enhance your experience at the Circuit Park!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-buttons">
                <a href="http://itunes.apple.com/sg/app/singapore-gp/id518276170?mt=8"><img src="/images/btn_appstore.png" alt=""></a>
                <a href="https://play.google.com/store/apps/details?id=com.singaporegp.f1#?t=W251bGwsMSwxLDIxMiwiY29tLnNpbmdhcG9yZWdwLmYxIl0."><img src="/images/btn_googleplay.png" alt=""></a>
            </div>
        </div>
    </section>
    <section class="features">
        <div class="row">
            <div class="box left">
                <div class="icon one"></div>
                <div class="words">
                    <h3>Get your way around</h3>
                    <p>View the Circuit Park map and get the lowdown on the latest 2016 FIA Formula One World Championship results plus driver standings.</p>
                </div>
            </div>

            <div class="box right">
                <div class="icon two"></div>
                <div class="words">
                    <h3>Get latest news</h3>
                    <p>Keep up to date with announcements on Formula One and the star-studded line-up.</p>
                </div>
            </div>
            <br style="clear: both"/>
        </div>
        <div class="row">
            <div class="box left">
                <div class="icon three"></div>
                <div class="words">
                    <h3>Buy tickets</h3>
                    <p>Purchase 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX tickets.</p>
                </div>
            </div>

            <div class="box right">
                <div class="icon four"></div>
                <div class="words">
                    <h3>Join in the fun</h3>
                    <p>Take part in fun Singapore GP contests.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}