{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Media - Press Release' %}
{% set keywords = 'singapore f1, formula 1 singapore,  f1, formula one, singapore grand prix, singapore airlines, singapore gp,  sgp, formula one, f1 night race' %}
{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/mediapressreleasebundle.js?title={{ pressRelease.title }}"></script>

    <link rel="stylesheet" href="/stylesheets/media-pressreleasedetails.min.css"/>
    <style>
        @media screen and (max-width:768px){

          .press-release-article .writeup img{
            width: 100% !important;
            height: auto;  padding: 0 10px;
            margin: 0px;
          } 
        }
    </style>
{% endblock %}


{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="pressReleaseController">
{% endblock %}


{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Press Release</h1>
                        <br/>
                        <p>
                            Don't miss the latest news of the Singapore Grand Prix.
                        </p>
                    </div>
                    {#<div class="styled-button locale">#}
                        {#<a class="en {% if locale == 'en' %}active{% endif %}" href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                        {#<a class="zh {% if locale == 'cn' %}active{% endif %}" href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>

        <div class="chunk">
            <div class="row">
                <div class="press-release-year col">
                    <div class="styled-select">
                        <select name="year" data-ng-model="pressRelease.year" data-ng-change="jumpToYear()">
                            <option value="" disabled>Year</option>
                            {% for year in selectYears %}
                                <option value="{{ year }}" data-ng-selected="pressRelease.year == '{{ year }}'">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="styled-button">
                        <a href="http://tickets.singaporegp.sg/">Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="press-release-details">
        <div class="chunk row">
            <p data-ng-bind-html="breadcrumbs" class="breadcrumbs"></p>
        </div>

        <div class="chunk row">
            <div class="press-release-article col">
                {#<div class="img-wrapper">#}
                    {#<img src="http://lorempixel.com/480/360/" alt=""/>#}
                {#</div>#}

                <div class="writeup">
                    {#<p>{{ pressRelease.press_release_date|date('j M Y') }}</p>#}

                    <h2>{{ pressRelease.title|raw }}</h2>

                    {{ pressRelease.content|raw }}

                    {#<hr/>#}

                    {#<ul>#}
                        {#<li>MAYDAY to headline Padang Stage on Friday, 19 September</li>#}
                        {#<li>First Chinese rock band to perform at the only Formula One night race.</li>#}
                    {#</ul>#}

                    {#<p>Race promoter Singapore GP Pte Ltd confirmed Asia’s biggest rock quintet MAYDAY (五月天) as the first Chinese rock band to headline at the Marina Bay Street Circuit. The award-winning band will perform on Friday, 19 September at the Padang stage at the 2014 FORMULA 1 SINGAPORE GRAND PRIX.</p>#}

                    {#<p>“Singapore holds a special place in our hearts and we are ecstatic to be performing for the very first time at this year’s Formula 1 Singapore Grand Prix.  We are looking forward to performing our celebrated hits and meeting everyone in Singapore. It will definitely be a spectacular night full of high-energy performances and we hope to see you at the Padang Stage!” said MAYDAY.</p>#}

                    {#<p>Widely dubbed as ‘The Chinese Beatles’ by The Washington Post, MAYDAY has released eight studio albums, and sold over eight million records in total, since their debut 15 years ago. Over the years, they have received over 150 music awards, including Best Band for the Golden Melody Awards – Taiwan’s version of the Grammy Awards – in 2001, 2004, 2009 and 2012, the Global Chinese Music Awards and the CCTV MTV Music Awards, amongst others. Citing The Beatles as their influence, MAYDAY is undoubtedly one of the most prominent rock bands in Asia and known for their high-energy performances.</p>#}

                    {#<p>Mayday is coming to perform singapore grand prix</p>#}

                    {#<p>Their eighth and latest studio album The Second Round（第二人生), which features the hit song Noah’s Ark（诺亚方舟), swept six awards in the 2012 Golden Melody Award including Best Mandarin Album and Best Song of the Year.</p>#}

                    {#<p>In 2012, MAYDAY became the first ever Chinese rock band to perform at YouTube's headquarters in California, holding the record of having more than 50,000 viewers witnessing the showcase at one time and total viewing counts of up to 300,000 in the history of Chinese music.</p>#}

                    {#<p>With over 200 concerts in major cities including Los Angeles, London, Paris, New York, Singapore, Kuala Lumpur and Taipei, MAYDAY has performed to over 10 million fans around the globe. They performed to sellout concerts in Hong Kong, Japan and China, where 100,000 tickets for their NOWHERE World Tour at Beijing’s Bird’s Nest stadium sold out in less than three minutes.</p>#}

                    {#<p>Recently MAYDAY has just completed the US & Europe leg of their Nowhere World Tour, having performed at some of the world’s most acclaimed venues like London's Wembley Arena and New York Madison Square Garden. Specifically, MAYDAY performed to a 14,000 strong crowd at the Madison Square Garden, having once again set for themselves an impressive new record in Chinese music history.</p>#}

                    {#<p>Fans of the quintet consisting of Ashin (陳信宏), Monster (溫尚翊), Stone (石錦航), Masa (蔡昇晏) and Ming (劉浩明) can look forward to a high-energy performance at Singapore’s largest outdoor stage at the Padang with the band’s chart-topping hits such as Gentle (温柔), Stubborn（倔强), Love ING（恋爱ING) and Dont's Dont's（伤心的人别听慢歌).</p>#}

                    {#<p>Entry to the MAYDAY concert at the Padang stage as well as all other entertainment in Zone 4 is included with any three-day 2014 FORMULA 1 SINGAPORE GRAND PRIX ticket or Friday Zone 4 Walkabout ticket.</p>#}

                    {#<p>Tickets for the 2014 FORMULA 1 SINGAPORE GRAND PRIX are available for sale at <a href="www.singaporegp.sg">www.singaporegp.sg</a>, via the ticketing hotline +65 6738 6738 as well as authorised agents.</p>#}

                    {#<p>Singapore GP will be announcing additional artistes in the coming months. For updates on the latest entertainment schedule, visit <a href="www.singaporegp.sg">www.singaporegp.sg</a>.</p>#}

                    {#<p>Notes:</p>#}

                    {#<ol>#}
                        {#<li>See Annex 1 for a profile of the band members and their awards.</li>#}
                        {#<li>See Annex 2 for ticket prices for the 2014 FORMULA 1 SINGAPORE GRAND PRIX.</li>#}
                    {#</ol>#}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
