{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Media - Press Release' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/mediapressreleasebundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/media-pressrelease.min.css"/>
{% endblock %}


{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="pressReleaseController">
{% endblock %}


{# page content #}
{% block content %}
    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Press Release</h1>
                        <br/>
                        <p>
                            Don't miss the latest news of the Singapore Grand Prix.
                        </p>
                    </div>

                    {#<div class="styled-button locale">#}
                        {#<a class="en {% if locale == 'en' %}active{% endif %}" href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                        {#<a class="zh {% if locale == 'cn' %}active{% endif %}" href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>

        <div class="chunk">
            <div class="row">
                <div class="press-release-year col">
                    <div class="styled-select">
                        <select id="year" name="year" data-ng-model="pressRelease.year">
                            <option value="" disabled>Year</option>
                            {% for year in selectYears %}
                                <option value="{{ year }}" data-ng-selected="pressRelease.year == '{{ year }}'">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="styled-button">
                        <a href="http://tickets.singaporegp.sg">Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="press-release-details">
        <div class="chunk row">
            <div class="press-release-headers col">
                <h5>Date</h5>
                <h5>News</h5>
            </div>

            <div class="press-release-list col">
                <table>
                    <colgroup></colgroup>
                    <colgroup></colgroup>
                    <tbody>
                    {% for prYear in pressReleases %}
                        {% for pr in prYear %}
                            <tr data-ng-show="isSameYear({{ pr.press_release_year }})">
                                <td>{{ pr.press_release_date|date('d M Y') }}</td>
                                <td><a href="{{ route('media.pressRelease.byId', [pr.id]) }}#{{ pr.press_release_year }}">{{ pr.title }} &nbsp;&rang;</a></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
