{% extends "layouts.master_app" %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/fastclick.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="/javascripts/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert2.css">
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.css"/>
    <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
        function beginContest() {
            document.getElementById("contest").style.visibility = "visible";
            document.getElementById("contest").style.height = "auto";
        }
        function dialog() {
            swal({
                title: 'Terms and Conditions',
                html: '<div style="text-align: justify">{{ include("layouts.campaign.contest.terms_raw") }}</div>',
                animation: true,
                allowOutsideClick: false
            });
        }
        $(document).ready(function (){
            $("#beginContest").click(function (){
                $('html, body').animate({
                    scrollTop: $("#contest").offset().top
                }, 700);
            });

            $("[name='contest_data_list[0][data]']").change(function (){
                $('html, body').animate({
                    scrollTop: $("#q2").offset().top - 10
                }, 700);
            });

            $("[name='contest_data_list[1][data]']").change(function (){
                $('html, body').animate({
                    scrollTop: $("#q3").offset().top - 10
                }, 700);
            });

            $("[name='contest_data_list[2][data]']").change(function (){
                $('html, body').animate({
                    scrollTop: $("#q4").offset().top - 10
                }, 700);
            });

            $("[name='contest_data_list[3][data]']").change(function (){
                $('html, body').animate({
                    scrollTop: $("#info").offset().top - 10
                }, 700);
            });

            $("#form").validate({
                rules: {
                    name_first: "required",
                    name_last: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    contact: "required",
                    country: "required",
                    terms: "required",
                    "contest_data_list[0][data]": "required",
                    "contest_data_list[1][data]": "required",
                    "contest_data_list[2][data]": "required",
                    "contest_data_list[3][data]": "required",
                },
                messages: {
                    name_first: "Please enter your first name",
                    name_last: "Please enter your last name",
                    email: {
                        required: "Please enter your email address",
                        email: "Your email address must be in the format of name@domain.com"
                    },
                    contact: "Please enter your contact number",
                    country: "Please select your country",
                    terms: "You must agree to the terms and conditions before submit your answer.",
                    "contest_data_list[0][data]": "Please answer this question",
                    "contest_data_list[1][data]": "Please answer this question",
                    "contest_data_list[2][data]": "Please answer this question",
                    "contest_data_list[3][data]": "Please answer this question",
                },
                focusInvalid: false,
                invalidHandler: function(form, validator) {

                    if (!validator.numberOfInvalids()) {
                        return;
                    }

                    var errorElement = $(validator.errorList[0].element);
                    var elementID = errorElement.attr('id').substring(0, 2);

                    if (elementID.substring(0,1) == "q") {
                        $('html, body').animate({
                            scrollTop: $("#" + elementID).offset().top - 10
                        }, 800);
                    }
                    else {
                        $('html, body').animate({
                            scrollTop: $(validator.errorList[0].element).offset().top - 55
                        }, 600);
                    }
                },
                errorElement: "div",
                errorPlacement: function(error, element) {

                    offset = element.offset();

                    if (element.attr("name") == "terms" ) {
                        error.insertBefore(element.parent().parent());
                        error.addClass('tncError');
                        error.css('padding-left','0px');
                    }
                    else {
                        error.insertBefore(element);
                        error.addClass('error');  // add a class to the wrapper
                    }

                    error.css('left', offset.left + element.outerWidth());
                    error.css('top', offset.top);
                }
            });
        });
    </script>
{% endblock %}
{# page content #}
{% block content %}
    <section class="autograph" style="height: auto">
        <div class="chunk row">
            <div class="writeup bucket" style="width: 100%;">
                <p class="descp" >
                    {{ description|raw }}
                </p>
            </div>
        </div>
        <div class="chunk row">
            <div class="writeup bucket" style="width: 100%;">
                {#<p>#}
                    {#<b class="title"><strong>{{ prize }}</strong></b>#}
                {#</p>#}
                {% if prize_image_url is not empty %}
                    <img src="{{ prize_image_url }}" class="prize-img" style="margin-top: 5px; margin-bottom: 10px;">
                {% else %}
                {% endif %}
                {% if prize_disclaimer is not empty %}
                    <p style="font-size: 12px; font-style: italic; font-weight: bold;">
                        {{ prize_disclaimer }}
                    </p>
                {% else %}
                {% endif %}
                <br>
                {% if status == 'A'%}
                    <input style="float: none" id="beginContest" type="submit" value="Let's Roll" onclick="beginContest()"/>
                {% endif %}
                {% if status == 'E'%}
                    <p style="font-size: 16px; color: #ffc414">
                        Thank you for your participation!
                        <br>
                        Congratulations to the following winners for this checkpoint:
                        <br><br>
                        Darren Cutler<br>
                        Roberta Zelari<br>
                        Marina Hernandez<br>
                        <br>
                        Winners will be contacted directly.
                    </p>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="registration" style="visibility: hidden; height:0px; min-height: 0px" id="contest">
        <div class="chunk row" style="margin-top: 0px">
            <div class="form" style="width: 100%;">
                <form id="form" method="POST" action="{{ route('campaign.contest.post')}}">
                    <div class="row">
                        <div class="row">
                            <ol style="text-align: justify;color:#FFFFFF;padding-left: 1.5em;">
                                <li id="q1">Formula One<sup>&trade;</sup> drivers can lose up to <span class="line">_____</span> kg of body weight in sweat during the course of a two-hours race.</li>
                            </ol>
                            <div class="form-grp">
                                <div class="form-grp radio-toolbar">
                                    <div class="radio-div">
                                        <input class="radio-toolbar-radio" type="radio" name="contest_data_list[0][data]" value="A" id="q1-a1" required/>
                                        <label class="radio-toolbar-label" for="q1-a1"> 0.5 </label>
                                    </div>
                                    <div class="radio-div">
                                        <input class="radio-toolbar-radio" type="radio" name="contest_data_list[0][data]" value="B" id="q1-a2" required/>
                                        <label class="radio-toolbar-label" for="q1-a2"> 1 </label>
                                    </div>
                                    <div class="radio-div">
                                        <input class="radio-toolbar-radio" type="radio" name="contest_data_list[0][data]" value="C" id="q1-a3" required/>
                                        <label class="radio-toolbar-label" for="q1-a3"> 4 </label>
                                    </div>
                                    <div class="radio-div">
                                        <input class="radio-toolbar-radio" type="radio" name="contest_data_list[0][data]" value="D" id="q1-a4" required/>
                                        <label class="radio-toolbar-label" for="q1-a4"> 10 </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ol style="text-align: justify;color:#FFFFFF;padding-left: 1.5em;" start="2">
                                <li id="q2">During a race, the heart rate of the driver can rise up to <span class="line">__________</span> bpm (the average man’s resting heart rate is 60 bpm). No other sport, other than a marathon, will keep an athlete’s heart rate as high for such a long time!</li>
                            </ol>
                            <div class="form-grp radio-toolbar">
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[1][data]" value="A" id="q2-a1" required/>
                                    <label class="radio-toolbar-label" for="q2-a1"> 70 – 90 </label>
                                </div>
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[1][data]" value="B" id="q2-a2" required/>
                                    <label class="radio-toolbar-label" for="q2-a2"> 100 – 120 </label>
                                </div>
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[1][data]" value="C" id="q2-a3" required/>
                                    <label class="radio-toolbar-label" for="q2-a3"> 130 – 160 </label>
                                </div>
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[1][data]" value="D" id="q2-a4" required/>
                                    <label class="radio-toolbar-label" for="q2-a4"> 170 – 190  </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ol style="text-align: justify;color:#FFFFFF;padding-left: 1.5em;" start="3">
                                <li id="q3">An F1 driver has to generate an average of <span class="line">________</span> kilograms of downward pressure on the brake pedal in order to slow down the car. </li>
                            </ol>
                            <div class="form-grp radio-toolbar">
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[2][data]" value="A" id="q3-a1" required/>
                                    <label class="radio-toolbar-label" for="q3-a1"> 5 </label>
                                </div>
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[2][data]" value="B" id="q3-a2" required/>
                                    <label class="radio-toolbar-label" for="q3-a2"> 10 </label>
                                </div>
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[2][data]" value="C" id="q3-a3" required/>
                                    <label class="radio-toolbar-label" for="q3-a3"> 50 </label>
                                </div>
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[2][data]" value="D" id="q3-a4" required/>
                                    <label class="radio-toolbar-label" for="q3-a4"> 80  </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ol style="text-align: justify;color:#FFFFFF;padding-left: 1.5em;" start="4">
                                <li id="q4">Every corner/turn puts a load of around <span class="line">________</span> kilograms on the neck of the F1 driver. That’s approximately the weight of your check-in luggage!</li>
                            </ol>
                            <div class="form-grp radio-toolbar">
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[3][data]" value="A" id="q4-a1" required/>
                                    <label class="radio-toolbar-label" for="q4-a1"> 1 - 5 </label>
                                </div>
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[3][data]" value="B" id="q4-a2" required/>
                                    <label class="radio-toolbar-label" for="q4-a2"> 5 - 10 </label>
                                </div>
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[3][data]" value="C" id="q4-a3" required/>
                                    <label class="radio-toolbar-label" for="q4-a3"> 20 - 25 </label>
                                </div>
                                <div class="radio-div">
                                    <input class="radio-toolbar-radio" type="radio" name="contest_data_list[3][data]" value="D" id="q4-a4" required/>
                                    <label class="radio-toolbar-label" for="q4-a4"> 35 - 40 </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div style="border-bottom: groove thin; width: 100%"></div>
                        <div class="row">
                            <h4 id="info">Your Information</h4>
                            <div>
                                <input type="text" name="name_first" id="name_first" placeholder="First Name"/>
                                <input type="text" name="name_last" id="name_last" placeholder="Last Name"/>
                                <input class="required" type="email" name="email" id="email" placeholder="Email"/>
                                <input type="tel" name="contact" id="contact" placeholder="Contact Number"/>
                                <select style="margin: 10px 0px 10px 0px" name="country" id="country">
                                    <option value="" selected>Select Country of Residence</option>
                                    {% for country in countriesList %}
                                        <option value="{{ country.name }}">{{ country.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                        </div>
                        <br>
                        <div style="border-bottom: groove thin; width: 100%"></div>
                        <div class="row">
                            <h4>Newsletter Subscriptions</h4>
                        </div>
                        <br>
                        <div class="form-grp checkbox-horizontal">
                            <div class="checkbox">
                                <input type="checkbox"
                                       name="receive_newsletter"
                                       id="receive_newsletter"
                                       value="1"
                                        />
                                <label for="receive_newsletter"></label>
                            </div>
                            <div class="checkbox-label">
                                I would like to receive the latest news, promotions and more from Singapore GP.<br>
                            </div>
                        </div>
                        <div class="form-grp checkbox-horizontal">
                            <div class="checkbox">
                                <input type="checkbox"
                                       name="receive_newsletter_from_partner"
                                       id="receive_newsletter_from_partner"
                                       value="1"
                                        />
                                <label for="receive_newsletter_from_partner"></label>
                            </div>
                            <div class="checkbox-label">
                                I would like to receive the latest news and promotions from Singapore GP’s supporting partners.<br>
                            </div>
                        </div>

                        <br>
                        <div style="border-bottom: groove thin; width: 100%"></div>

                        <div class="row">
                            <h4>Terms And Conditions</h4>
                        </div>
                        <div class="form-grp checkbox-horizontal">
                            <div class="checkbox">
                                <input type="checkbox" style="float: left;" data-error="#tncError"
                                       name="terms"
                                       id="terms"
                                       value="1"
                                        />
                                <label for="terms"></label>
                            </div>
                            <div class="checkbox-label">
                                I have read and agree to the <br>
                                <a style="color: #ffc414" onclick="dialog()">Terms and Conditions</a>
                            </div>
                        </div>

                        <br>
                        <div class="row">
                            <input type="hidden" name="contest_month" value="5"/>
                            <input type="submit" value="Submit"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}