{% extends "layouts.master_app" %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/fastclick.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="/javascripts/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert2.css">
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.css"/>
    <style type="text/css">
        body {
            background-image: url("../../../../../images/campaign/contest_bg.jpg");

        }
    </style>
    <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
        function beginContest() {
            document.getElementById("contest").style.visibility = "visible";
            document.getElementById("contest").style.height = "auto";
        }



        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            //var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            var regex = new RegExp("[#game:|&]" + name + "(=([^&#]*)|&|#|$)"),
                    results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function dialog() {
            swal({
                title: 'Terms and Conditions',
                html: '<div style="text-align: justify">{{ include("layouts.campaign.contest.terms_raw") }}</div>',
                animation: true,
                allowOutsideClick: false
            });
        }
        $(document).ready(function (){
            $("#beginContest").click(function (){
                $('html, body').animate({
                    scrollTop: $("#contest").offset().top
                }, 700);
            });

            var currentUrl = window.location.href;
            var firstName = getParameterByName('name_first', currentUrl);
            var lastName = getParameterByName('name_last', currentUrl);
            var contact = getParameterByName('contact', currentUrl);
            var email = getParameterByName('email', currentUrl);
            var country = getParameterByName('country', currentUrl);
            var nationality = getParameterByName('nationality', currentUrl);
            var subNewsletter = getParameterByName('subscribe_newsletter', currentUrl);
            var subNewsPartner = getParameterByName('subscribe_newsletter_partner', currentUrl);
            var gameScore = getParameterByName('game_score', currentUrl);

            /*var gameUrl = "";

            gameUrl = "http://singaporegp.sg/media/app-fuel-game/" + "#game:name_first=" + firstName + "&name_last=" + lastName;

            var gameUrl2 =  "&contact=" + contact + "&email=" + email + "&country=" + country + "&nationality=" + nationality ;
            var gameUrl3 = "&subscribe_newsletter=" + subNewsletter + "&subscribe_newsletter_partner=" +
                    subNewsPartner + "<br>&game_score=" + gameScore;

            document.getElementById("url").innerHTML = gameUrl;
            document.getElementById("url2").innerHTML = gameUrl2;
            document.getElementById("url3").innerHTML = gameUrl3;*/

            $("#startGame").click(function (){
                var currentUrl = window.location.href;
                var firstName = getParameterByName('name_first', currentUrl);
                var lastName = getParameterByName('name_last', currentUrl);
                var contact = getParameterByName('contact', currentUrl);
                var email = getParameterByName('email', currentUrl);
                var country = getParameterByName('country', currentUrl);
                var nationality = getParameterByName('nationality', currentUrl);
                var subNewsletter = getParameterByName('subscribe_newsletter', currentUrl);
                var subNewsPartner = getParameterByName('subscribe_newsletter_partner', currentUrl);
                var gameScore = getParameterByName('game_score', currentUrl);

                var gameUrl = "http://singaporegp.sg/media/app-fuel-game/";
                if(email != null){
                    gameUrl = gameUrl + "#game:name_first=" + firstName + "&name_last=" + lastName + "&contact=" + contact + "&email=" + email +
                            "&country=" + country + "&nationality=" + nationality + "&subscribe_newsletter=" + subNewsletter + "&subscribe_newsletter_partner=" +
                            subNewsPartner + "&game_score=" + gameScore;
                }
                //gameUrl
                window.location.href = gameUrl;

                /*#game:"+KEY_FIRST_NAME+"="+firstName+"&"+KEY_LAST_NAME+"="+lastName+"&"+KEY_CONTACT+"="+contactNo+"&"+KEY_EMAIL+"="+submittedEmail+
                 "&"+KEY_COUNTRY+"="+country +"&"+KEY_NATIONALITY+"="+nationality+"&"+KEY_SUB_NEWSLETTER+"="+subNewsletter+"&"+KEY_SUB_NEWS_PARTNER+"="+subNewsPartner+
                 "&"+KEY_GAME_SCORE+"="+gameScore;*/
            });

//            $("[name='contest_data_list[0][data]']").blur(function (){
//                $('html, body').animate({
//                    scrollTop: $("#q2").offset().top - 10
//                }, 700);
//            });
//
//            $("[name='contest_data_list[1][data]']").blur(function (){
//                $('html, body').animate({
//                    scrollTop: $("#q3").offset().top - 10
//                }, 700);
//            });
//
//            $("[name='contest_data_list[2][data]']").blur(function (){
//                $('html, body').animate({
//                    scrollTop: $("#info").offset().top - 10
//                }, 700);
//            });

            $("#form").validate({
                rules: {
                    name_first: "required",
                    name_last: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    contact: "required",
                    country: "required",
                    terms: "required",
                    "contest_data_list[0][data]": "required",
                    "contest_data_list[1][data]": "required",
                    "contest_data_list[2][data]": "required",
                },
                messages: {
                    name_first: "Please enter your first name",
                    name_last: "Please enter your last name",
                    email: {
                        required: "Please enter your email address",
                        email: "Your email address must be in the format of name@domain.com"
                    },
                    contact: "Please enter your contact number",
                    country: "Please select your country",
                    terms: "You must agree to the terms and conditions before submit your answer.",
                    "contest_data_list[0][data]": "Please answer this question",
                    "contest_data_list[1][data]": "Please answer this question",
                    "contest_data_list[2][data]": "Please answer this question",
                },
                focusInvalid: false,
                invalidHandler: function(form, validator) {

                    if (!validator.numberOfInvalids()) {
                        return;
                    }

                    var errorElement = $(validator.errorList[0].element);
                    var elementID = errorElement.attr('id').substring(0, 2);

                    if (elementID.substring(0,1) == "q") {
                        $('html, body').animate({
                            scrollTop: $("#" + elementID).offset().top - 10
                        }, 800);
                    }
                    else {
                        $('html, body').animate({
                            scrollTop: $(validator.errorList[0].element).offset().top - 55
                        }, 600);
                    }
                },
                errorElement: "div",
                errorPlacement: function(error, element) {

                    offset = element.offset();

                    if (element.attr("name") == "terms" ) {
                        error.insertBefore(element.parent().parent());
                        error.addClass('tncError');
                        error.css('padding-left','0px');
                    }
                    else {
                        error.insertBefore(element);
                        error.addClass('error');  // add a class to the wrapper
                    }

                    error.css('left', offset.left + element.outerWidth());
                    error.css('top', offset.top);
                }
            });
        });


    </script>
{% endblock %}

{# page content #}
{% block content %}
    <br>
    <br>
    <br>
    <!--<div id="url" style="color:white;" width="400px"></div>
    <div id="url2" style="color:white;" width="400px"></div>
    <div id="url3" style="color:white;" width="400px"></div>-->
    <section class="autograph"  style="height: auto; padding-left: 10px; padding-right:10px; text-align:left !important; padding-bottom: 30px;">
        <table>
            <tr>
                <td rowspan="2" width=40%" style="text-align:center; vertical-align: top">
                    {% if prize_image_url is not empty %}
                        <img src="{{ prize_image_url }}" class="prize-img" style="margin-top: 5px; margin-bottom: 0px; height:60vh; ">
                    {% else %}
                    {% endif %}
                </td>
                <td rowspan="1" width="60%" style="padding-left:15px; vertical-align:top;">
                    <p class="descp" >
                        {{ description|raw }}
                    </p>
                    <p class="descp">

                       <span style="color:#ffc414">Congratulations to the following winners who have clocked in the top 10 high-scores!<br/><P>
</span>
                           <span style="color:white">
                               <table width="100%" border="0">
                                   <tr>
                                       <td style="vertical-align: top;">&nbsp;</td>
                                       <td style="vertical-align: top;">&nbsp;</td>
                                       <td style="vertical-align: top;"><span style="color:white"><u>Score</u></span></p></td>
            </tr>
            <tr>
                <td width="30%" style="vertical-align: top;"><p>First Place:</p></td>
                <td width="40%" style="vertical-align: top;"><p>Wong Hong Jie</p></td>
                <td width="30%" style="vertical-align: top;"><p>12:58:84</p></td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><P>Second Place:</p></td>
                <td style="vertical-align: top;"><p>Evan Lim</p></td>
                <td style="vertical-align: top;"><p>10:47:14</p></td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><P>Third Place:</p> </td>
                <td style="vertical-align: top;"><P>David Picard</p></td>
                <td style="vertical-align: top;"><P>09:45:25</p></td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align: top;"><p><span style="color:#ffc414"><i>The top 3 winners will win a goodie bag with limited edition 2016 Singapore Grand Prix merchandise each.</i></span></p></td>
            </tr>
            <tr>
                <td style="vertical-align: top;"><P>Runner-ups:</P> </td>
                <td style="vertical-align: top;"><p>Alma Delia Macias Caro</p></td>
                <td style="vertical-align: top;"><p>08:23:53</p></td>
            </tr>
            <tr>
                <td style="vertical-align: top;">&nbsp;</td>
                <td style="vertical-align: top;"><P>Takai Ryoji</p></td>
                <td style="vertical-align: top;"><p>08:23:25</p></td>
            </tr>
            <tr>
                <td style="vertical-align: top;">&nbsp;</td>
                <td style="vertical-align: top;"><p>Majorie  Yeo </p></td>
                <td style="vertical-align: top;"><p>07:16:49</p></td>
            </tr>
            <tr>
                <td style="vertical-align: top;">&nbsp;</td>
                <td style="vertical-align: top;"><p>Chong  Ning </p></td>
                <td style="vertical-align: top;"><p>05:54:53</p></td>
            </tr>
            <tr>
                <td style="vertical-align: top;">&nbsp;</td>
                <td style="vertical-align: top;"><p>Tan  Weiyin </p></td>
                <td style="vertical-align: top;"><p>05:36:20</p></td>
            </tr>
            <tr>
                <td style="vertical-align: top;">&nbsp;</td>
                <td style="vertical-align: top;"><p>Roger  Wiggers </p></td>
                <td style="vertical-align: top;"><p>05:28:88</p></td>
            </tr>
            <tr>
                <td style="vertical-align: top;">&nbsp;</td>
                <td style="vertical-align: top;"><p>Mark  Voltaire Elman </p></td>
                <td style="vertical-align: top;"><p>03:42:43 </p></td>
            </tr>
            <tr>
                <td colspan="3" style="vertical-align: top;"><p><span style="color:#ffc414"><i>Runner-ups will win a limited edition 2016 Singapore Grand Prix cap each.</i></p>
                    <p><i>Winners will be contacted directly via email.</i></p></td>
            </tr>
        </table></span>

                        {#<span style="color:#ffc414">CURRENT HIGH-SCORE TO BEAT: <span style="color:white">12:58:84</span>#}
                    </p>
                </td>
            </tr>
            <tr>
                <td rowspan="1" width="60%" style="padding-left:15px; vertical-align:bottom;">
                    {% if status == 'A'%}
                        <input style="float: none; margin-left:0%; width:125px;" id="beginContest" type="submit" value="How to Play" onclick="beginContest()"/>
                    {% endif %}
                    {% if status == 'E'%}
                        <p style="font-size: 16px; color: #ffc414">
                        {#    {{ contest_end | raw }}#}
                        </p>
                    {% endif %}
                </td>
            </tr>
        </table>
       <!-- <div class="small-chunk">
            <div class="writeup bucket" style="width: 100%;">
                {#<p>#}
                {#<b class="title"><strong>{{ prize }}</strong></b>#}
                {#</p>#}
                {% if prize_image_url is not empty %}
                    <img src="{{ prize_image_url }}" class="prize-img" style="margin-top: 5px; margin-bottom: 10px;">
                {% else %}
                {% endif %}

                <br>

            </div>
        </div>
        <div class="medium-chunk">
            <div class="writeup bucket" style="width: 100%;">
                <p class="descp" >
                    {{ description|raw }}
                </p>
                <p class="descp">
                    <span style="color:#ffc414">CURRENT HIGH-SCORE TO BEAT: <span style="color:white">00:00:00</span>
                </p>
            </div>
        </div>-->
       <!-- <div class="small-chunk">
            <div class="writeup bucket" style="width: 100%;">
                {% if prize_disclaimer is not empty %}
                    <p style="font-size: 12px; font-style: italic; font-weight: bold; ">
                        {{ prize_disclaimer }}
                    </p>
                {% else %}
                {% endif %}
            </div>
        </div>-->
        <!--<div class="medium-chunk" style="vertical-align:bottom;">
            {% if status == 'A'%}
                <input style="float: none; margin-left:0%;" id="beginContest" type="submit" value="How to Play" onclick="beginContest()"/>
            {% endif %}
            {% if status == 'E'%}
                <p style="font-size: 16px; color: #ffc414">
                    {{ contest_end | raw }}
                </p>
            {% endif %}
        </div>-->



    </section>
    <br>
    <br>
    <br>
    <br>
    <section class="registration" style="visibility: hidden; height:0px; min-height: 0px" id="contest">
        <div class="form" style="width: 100%; padding-bottom:20px">
            <form id="form" method="POST" action="{{ route('campaign.contest.post')}}">
                <div style="text-align:left">
                    <div class="instruction">Challenge yourself and see how long you can stay on the track! Tap the on-screen arrows to steer the car and avoid the obstacles.</div><br>
                    <div class="instruction">This checkpoint challenge ends 31 July 2016. </div><br>
                    <div class="instruction">Participants with the top 3 scores (longest timings) at the end will win 2016 Singapore GP Merchandise items (worth $200) each, while 7 runner-ups will also win a limited edition 2016 Singapore GP cap!</div>
                    <div class="instruction"><span style="font-size: 8px">*For phones running on Android OS, you may need to have Android System WebView installed in order to play the game.</span></div>

                </div>
                <br>
            </form>

        </div>

        <div class="chunk row" style="width:40%">
            <div class="writeup bucket" style="width: 100%; text-align:center; float:none;">
                <input style="float: none" id="startGame" type="submit" value="Let's Roll"/>
            </div>
        </div>
    </section>

    <!--<section class="game" style="height: auto" id="game" style="visibility: hidden;">

        <div class="chunk row">
            <div class="writeup bucket" style="width: 100%;">
                <input style="float: none" id="startGame" type="submit" value="Start Game"/>

            </div>
        </div>
    </section>-->

{% endblock %}