{% extends "layouts.master_app" %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.css"/>
{% endblock %}
{# page content #}
{% block content %}
    <section class="autograph" style="height: auto">
        <div class="chunk row">
            <div class="writeup bucket" style="width: 100%;">
                <p class="descp" >
                    {{ description|raw }}
                </p>
            </div>
        </div>
        <div class="chunk row">
            <div class="writeup bucket" style="width: 100%;">
                {#<p>#}
                    {#<b class="title"><strong>{{ prize }}</strong></b>#}
                {#</p>#}
                {% if prize_image_url is not empty %}
                    <img src="{{ prize_image_url }}" class="prize-img" style="margin-top: 5px; margin-bottom: 10px;">
                {% else %}
                {% endif %}
                {% if prize_disclaimer is not empty %}
                    <p style="font-size: 12px; font-style: italic; font-weight: bold;">
                        {{ prize_disclaimer }}
                    </p>
                {% else %}
                {% endif %}
                <br>
                {% if status == 'A'%}

                {% endif %}
                {% if status == 'E'%}
                    <p style="font-size: 16px; color: #ffc414">
                        Thank you for your participation!
                        <br>
                        Congratulations to the following winners for this checkpoint:
                        <br><br>
                        Eugene Lee<br>
                        Chong Ning<br>
                        Ang Swee Leong<br>
                        <br>
                        Winners will be contacted directly.
                    </p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}