{% extends "layouts.master_app" %}

{%  set title = 'How To Participate' %}

{% set description = 'How To Participate' %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <style>
        .content {
            padding:0px;
        }
    </style>
    {#<script>#}
        {#$(document).ready(function (){#}
            {#var windowWidth = window.innerWidth;#}
            {#document.getElementById('steps').src = (windowWidth < 520) ? '/images/campaign/how_to_participate_vertical.png' : '/images/campaign/how_to_participate_horizontal.png';#}
        {#});#}
    {#</script>#}
{% endblock %}

{# page content #}
{% block content %}
    <section class="registration" id="contest" style="background-image: url('/images/campaign/contest_bg.jpg'); min-height: 100vh">
        <div class="chunk row" style="margin-top: 0px">
            <div class="form" style="width: 100%;">
                <br>
                <div>
                    <img id="steps" width="100%" style="max-width: 600px" src="/images/campaign/how_to_participate.png">
                </div>
                <br>
                <div class="form-grp checkbox-horizontal"  style="color: #FFFFFF; text-align: justify">
                    FUEL YOUR GP EXPERIENCE is a monthly giveaway contest held from February to August 2016, with a chance to win attractive Singapore GP prizes.
                    <br><br>
                    To participate, simply click on the checkpoint on the track to complete the task.
                    <br><br>
                    Each checkpoint will open during the first week of the month and close during the last week of the same month.
                    <br><br>
                    Complete the checkpoint and submit your entry (together with your particulars) to enter the giveaway. You may submit more than one entry.
                    <br><br>
                    Winners will be announced and notified within the first week of the following month.
                </div>
            </div>
        </div>
    </section>
{% endblock %}