{% extends "layouts.master_app" %}
{% block head %}
    {{ parent() }}
    <!--<script type="text/javascript" src="/javascripts/fastclick.js"></script>
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>-->

    <script src="/javascripts/sweetalert2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert2.css">
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.css"/>



{% endblock %}

{% block content %}
    <section class="autograph" style="height: auto">
        <div class="chunk row">
            <div class="writeup bucket" style="width: 100%;">
                <p class="descp" >
                    {{ description|raw }}
                </p>
            </div>
        </div>
        <div class="chunk row">
            <div class="writeup bucket" style="width: 100%;">
                <img src="http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/monthly_contest_landingpage_high_speed_pursuit_maintitle.png" class="prize-img" style="margin-top: 5px; margin-bottom: 10px;">

            </div>
            <div style="color: #FFFFFF; font-weight:bold; text-align: left; padding: 0 15px;">Submission for the HIGH-SPEED PURSUIT Grand Prize Draw has closed.
                Winners will be notified directly.
            </div><br><br><br>
        </div>
    </section>
    <section class="registration" id="contest">
        <div class="chunk row" style="margin-top: 0px">
            <div class="form" style="width: 100%;">
                <div class="row">
                    <div class="row" style="padding-bottom:50px;">
                        <div style="color: #FFFFFF;" >Checkpoint 1 - March</div>
                        <div align="center">
                            <img src="http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/pursuit-gif-mar-v3.png" id="mar" class="quiz-img" style="margin-bottom:10px; width:100%;">
                        </div>
                        <div style="color: #ffc414; text-align:middle;" >Mystery Code answer: 44</div>
                    </div>

                    <div class="row" style="padding-bottom:50px;">
                        <div style="color: #FFFFFF;" >Checkpoint 2 - April</div>
                        <div align="center">
                            <img src="http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/pursuit-gif-apr.png" class="quiz-img" style="margin-bottom:10px; width:100%;">
                        </div>
                        <div style="color: #ffc414; text-align:middle;" >Mystery Code answer: 10</div>
                    </div>

                    <div class="row" style="padding-bottom:50px;">
                        <div style="color: #FFFFFF;" >Checkpoint 3 - May</div>
                        <div align="center">
                            <img src="http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/pursuit-gif-may.png" class="quiz-img" style="margin-bottom:10px; width:100%;">
                        </div>
                        <div style="color: #ffc414; text-align:middle;" >Mystery Code answer: 12</div>
                    </div>

                    <div class="row" style="padding-bottom:50px;">
                        <div style="color: #FFFFFF;" >Checkpoint 4 - June</div>
                        <div align="center">
                            <img src="http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/pursuit-gif-june.png" id="june" class="quiz-img" style="margin-bottom:10px; width:100%;">
                        </div>
                        <div style="color: #ffc414; text-align:middle;" >Mystery Code answer: 77</div>
                    </div>

                    <div class="row" style="padding-bottom:50px;">
                        <div style="color: #FFFFFF;" >Checkpoint 5 - July</div>
                        <div align="center">
                            <img src="http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/pursuit-gif-july.jpg" class="quiz-img" style="margin-bottom:10px; width:100%;">
                        </div>
                        <div style="color: #ffc414; text-align:middle;" >Mystery Code answer: 23</div>
                    </div>

                    <div class="row" style="padding-bottom:50px;">
                        <div style="color:#FFFFFF;" >Checkpoint 6 - August</div>
                        <div align="center">
                            <img src="http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/pursuit-gif-august-new.jpg" class="quiz-img" style="margin-bottom:10px; width:100%;">
                        </div>
                        <div style="color: #ffc414; text-align:middle;">Mystery Code answer: 50</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function() {
            var marOn = false;
            var juneOn = false;
            $("#mar").click(function() {
                if(marOn) {
                    $(this).attr("src", "http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/pursuit-gif-mar-v3.png");
                    marOn = false;
                }else {
                    $(this).attr("src", "http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/pursuit-gif-mar-v3.gif");
                    marOn = true;
                }
            });

            $("#june").click(function() {
                if(juneOn) {
                    $(this).attr("src", "http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/pursuit-gif-june.png");
                    juneOn = false;
                }else {
                    $(this).attr("src", "http://singaporegp.sg/media/mobile-campaign/2016/grand-draw/pursuit-gif-june.gif");
                    juneOn = true;
                }
            });
        });
        /*[].slice.apply(document.images).filter(is_gif_image).map(freeze_gif);

         function is_gif_image(i) {
         return /^(?!data:).*\.gif/i.test(i.src);
         }

         function freeze_gif(i) {
         var c = document.createElement('canvas');
         var w = c.width = i.width;
         var h = c.height = i.height;
         c.getContext('2d').drawImage(i, 0, 0, w, h);
         try {
         i.src = c.toDataURL("image/gif"); // if possible, retain all css aspects
         } catch(e) { // cross-domain -- mimic original with all its tag attributes
         for (var j = 0, a; a = i.attributes[j]; j++)
         c.setAttribute(a.name, a.value);
         i.parentNode.replaceChild(c, i);
         }
         }*/
    </script>
{% endblock %}