{% extends "layouts.master_app" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Monthly Contest' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{% block head %}
{{ parent() }}
<script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
<link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
<style>
    .dropdown select {
        margin-right: 10px;
    }
    .row {
        clear: both;
    }
    .radio-div {
        float: left;
        width: 50%;
        min-width: 150px;
    }
    .radio-toolbar input[type="radio"] {
        -webkit-appearance: radio;
        opacity: 0;
        width: 2px;
    }
    .radio-toolbar label {
        display:inline-block;
        background-color:whitesmoke;
        padding:10px;
        margin: 5px 5px 5px 0px;
        width: 92%;
        text-align: center;
    }
    .radio-toolbar input[type="radio"]:checked + label {
        background-color:silver;
    }
    h4 {
        margin-bottom: 5px;
    }
    .title {
        font-weight: bold;
        font-size: large; !important;
        color: #000000;
        font-weight: 300;
    }
    .correct {
        text-transform: uppercase;
        color: green;
        font-weight: 300;
        font-size: medium;
    }
    .wrong {
        text-transform: uppercase;
        color: red;
        font-weight: 300;
        font-size: medium;
    }
    @media screen and (min-width: 320px) {
        p .title{
            font-weight: bold;
            font-size: large; !important;
            color: #000000;
            font-weight: 300;
        }
    }
    .content {
        padding:0px;
    }
    /* radio focus */
</style>
{% endblock %}

{# page content #}
{% block content %}

<section class="autograph">
    <div class="chunk row" style="height: 100vh;text-align: center; display: table-cell; vertical-align: middle; ">
        <p>
            <span class="title" style="font-size: x-large; font-weight: bold">Thank you for participating!</span>
        </p>
        <br>
        <div>
            <p style="padding: 8px">Increase your chances of winning by sharing this contest on Facebook and Twitter!</p>
        </div>
    </div>
</section>
{% endblock %}