<figure>
    <div class="img-wrapper">
        <a href="{{ bucketReadMoreUrl|default('#') }}"><img src="{{ bucketImgSrc|default('/images/empty.png') }}" alt="{{ bucketImgAlt }}"/></a>
        <i>{{ bucketCategory|default('Category') }}</i>
    </div>
    <figcaption>
        <p>{{ bucketCaption|default('Caption') }}</p>

        {% if bucketCategory == 'Video Gallery' %}
            <p><a href="{{ bucketReadMoreUrl|default('#') }}">{{ trans('home.moreVideos') }}</a></p>
        {% else %}
            <p><a href="{{ bucketReadMoreUrl|default('#') }}">{{ trans('home.readMore') }}</a></p>
        {% endif %}
    </figcaption>
</figure>