<div class="small bucket col">
    {% embed "partials.home.resultbucket" %}{% endembed %}
</div>

{% embed "partials.home.smallbucketPhotoVideo" %} {% endembed %}

<!-- insight -->
{#{% embed "partials.home.smallbucketInsight" %}#}


<!-- Guide to GPSS -->
<div class="small bucket col">
    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="http://www.yoursingapore.com/festivals-events-singapore/annual-highlights/grand-prix-season-singapore.html" target="_blank"><img src="http://www.singaporegp.sg/media/home/2016-GPSS-Homepage.jpg" alt=""/></a>
                <i>Ticketholders</i>
            </div>
            <figcaption style="height: 130px">
                <p>Check out ticketholder privileges here</p>
                <p><a href="http://www.yoursingapore.com/festivals-events-singapore/annual-highlights/grand-prix-season-singapore.html" target="_blank">Read more</a></p>
            </figcaption>
        </figure>
    </div>
</div>

<!-- Rev up -->
{#
{% embed "partials.home.smallbucketRevup" %}
{% endembed %}
#}

{#
<div class="small bucket col">
    <figure>
        <div class="img-wrapper">
            <a href="media/mobile-app"><img src="http://web2.singaporegp.sg/Uploaded/images/general/mobile_app.jpg" alt=""/></a>
            <i>Mobile App</i>
        </div>
        <figcaption>
            <p>Download the Official Singapore GP<br> App and get the latest info on-the-go.</p>
            <p><a href="media/mobile-app">Read more</a></p>
        </figcaption>
    </figure>
</div>
#}