<div>
    <div>
        <p>
            &nbsp;
        </p>
        <P style="font-size: 35px; text-align: center; color: white;">
            Due to unforeseen circumstances, we regret to inform you that the 2015 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX has been cancelled.
            <br>
            <br>
            For ticketholders, please click <u>here</u> to find out more.
        </P>
        <p>
            &nbsp;
        </p>
        <br>
    </div>
</div>
<style>
</style>