<div class="small bucket col" style="height: 150px;">
    {% embed "partials.home.tickerbucket1" %}{% endembed %}
</div>

<div class="small bucket col" style="height: 150px;">
    {% embed "partials.home.tickerbucket2" %}{% endembed %}
</div>
<div class="small bucket col" style="height: 150px;">
    {% embed "partials.home.tickerbucket3" %}{% endembed %}
</div>