<!-- Plan your Trip-->
{% embed "partials.home.smallbucketTripApp" %}
{% endembed %}

<div class="small bucket col">
    <figure>
        <div class="img-wrapper">
            <a href="{{ route('ontrack.gallery', { 'year': 2016, 'type': 'videos' }) }}"><img src="http://singaporegp.sg/media/home/Video-Gallery-Homepage-Banner.jpg" alt=""/></a>
            <i style="width: 110px;">Video Gallery</i>
        </div>
        <figcaption>
            <p>2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX Video Gallery</p>
            <p>
                <a class="fancybox fancybox.iframe vid-tn" rel="gallery" href="{{ route('offtrack.video.byId',['60']) }}">Play</a>
                <a style="margin-left: 30px;" href="{{ route('ontrack.gallery', { 'year': 2016, 'type': 'videos' }) }}">View
                    More</a>
            </p>
            <!--<p><a href="">Play</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ route('ontrack.gallery', { 'year': 2016, 'type': 'videos' }) }}">View more</a></p>-->
        </figcaption>
    </figure>
</div>

{% embed "partials.home.smallbucketEventGuide" %}
{% endembed %}

<!-- Entertainment -->
{#
{% embed "partials.home.smallbucketRedBullRacing" %}
{% endembed %}

<!-- youtube -->
{% embed "partials.home.smallbucketyoutube" %}
{% endembed %}
#}

<!-- Plan your Trip-->
{#
{% embed "partials.home.smallbucketTripApp" %}
{% endembed %}
#}

<!-- Rev up -->
{#{% embed "partials.home.smallbucketInsight" %}
{% endembed %} #}


<!-- Event guide -->
{#
{% embed "partials.home.smallbucketEventGuide" %}
{% endembed %}
#}