<!-- 2017 SEB and 2016 tickets-->
<div class="small bucket col">
    <figure>
        <div class="img-wrapper">
            <a href="http://tickets.singaporegp.sg"><img src="http://singaporegp.sg/media/home/SEB-Homepage-Banner.jpg"
                                                   alt=""/></a>
            <i>2017 Tickets</i>
        </div>

        <figcaption style="height: 135px">
            <p>Enjoy up to 33% savings when you buy your 2017 Super Early Bird Tickets now!</p> <p><a href="http://tickets.singaporegp.sg">Read More</a></p>
        </figcaption>
    </figure>
</div>


{% embed "partials.home.smallbucketContest" %}
{% endembed %}

{% embed "partials.home.smallbucketSEB" %}
{% endembed %}
