{# FACEBOOK #}
<div class="small bucket col">
    <div class="social-widget">
        <figure class="facebook">
            <div class="fb-like-box" data-href="https://www.facebook.com/F1NightRace" data-width="320" data-height="360"
                 data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true"
                 data-show-border="false"></div>
        </figure>
    </div>
</div>
{# ENDFACEBOOK #}

{# TWITTER #}
<div class="small bucket col">
    <div class="social-widget">
        <figure class="twitter">
            <a class="twitter-timeline" href="https://twitter.com/F1NightRace" data-widget-id="408526536824725504">Tweets
                by
                @F1NightRace</a>
            <script>
                !function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");
            </script>
        </figure>
    </div>
</div>
{# ENDTWITTER #}

 {#MOBILEAPP#}
{#{% set content = {"bucketImgSrc":"/images/home_mobileapp.jpg", "bucketCategory":"Mobile App", "bucketCaption":"Download the Official Singapore GP App and get the latest info on-the-go.","bucketReadMoreUrl":"/media/mobile-app"} %}#}
{#{% embed "partials.home.smallbucket" with content %}#}
{#{% endembed %}#}
 {#ENDMOBILEAPP#}


<!-- SnapWidget -->
<div class="small bucket col">
    <div class="social-widget" >
        <div class="twitter" style="height: 40px; background-color: white">
            <div style="width:100%; color:black; font-size: 1em; font-weight: bold; line-height:36px; padding-left:10px; font-family: 'Helvetica Neue',Roboto,'Segoe UI',Calibri,sans-serif;">
                Instagram
                <a target="_blank" href="http://instagram.com/f1nightrace" style="float:right; padding-right: 10px;"><img  style="margin-top:10px;" src="http://web2.singaporegp.sg/Uploaded/images/insta_follo-1.png" /></a>
            </div>

        </div>
        <!-- SnapWidget -->
        <!-- <script src="http://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="http://snapwidget.com/in/?u=ZjFuaWdodHJhY2V8aW58NTB8MnwyfHxub3wwfG5vbmV8b25TdGFydHx5ZXN8eWVz&ve=120215" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe> -->
        <iframe src="https://snapwidget.com/embed/code/172350" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:320px; height:320px"></iframe>
    </div>
</div>
