<!-- TPLE -->
{#<div class="small bucket col">
    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="/revupsingapore" target="_blank"><img src="/media/contests/TPLE-contest.jpg" alt=""/></a>
                <i>Rev Up Singapore!</i>
            </div>
            <figcaption style="height: 134px">
                <p>Experience the thrills of F1<sup>&#174;</sup> for free!
                </p>
                <p><a href="/revupsingapore" target="_blank">Read more</a></p>
            </figcaption>
        </figure>
    </div>
</div>
#}

<!-- 2017 SEB Contest -->
<div class="small bucket col">
    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="/contests/2017-super-early-bird-ticket-contest" target="_blank"><img src="http://www.singaporegp.sg/media/home/2017SEBContest-Homepage.jpg" alt=""/></a>
                <i>Contests</i>
            </div>
            <figcaption style="height: 134px">
                 <p>Stand a chance to win a trip to the opening race of the 2017 season!</p>
                <p><a href="/contests/2017-super-early-bird-ticket-contest" target="_blank">Read more</a></p>
            </figcaption>
        </figure>
    </div>
</div>
<!--
<div class="small bucket col">
    <figure>
        <div class="img-wrapper">
            <a href="/contests/my-sgp-moment"><img src="http://singaporegp.sg/media/home/Photography-Contest_Homepage-Banner.jpg"
                                                       alt=""/></a>
            <i>Contests</i>
        </div>

        <figcaption style="height: 135px">

            <p>Capture your favourite moments at the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX and stand to win!</p>
            <p><a href="/contests/my-sgp-moment">Find Out More</a></p>
        </figcaption>
    </figure>
</div> -->

<!-- Red Bull turbo Seats -->
{#<div class="small bucket col">
   <div class="bucket col">
       <figure>
           <div class="img-wrapper">
               <a href="tickets/details/2/44"><img src="images/red-bull-racing.jpg" alt=""/></a>
               <i>Red Bull Racing Turbo Seats</i>
           </div>
           <figcaption>
               <p>Get up close to the Red Bull Racing Team with the new Red Bull Racing Turbo Seats package.</p>
               <p><a href="tickets/details/2/44">Read more</a></p>
           </figcaption>
       </figure>
   </div>
</div>#}
