<div class="bucket col">
    <figure>
        <div class="img-wrapper">
            <a href="off-track/headliners"><img src="images/entertainmentLineUp.jpg" alt=""/></a>
            <i>Entertainment</i>
        </div>
        <figcaption>
            <p>Check out the 2015 Entertainment Line-up.</p>
            <p><a href="off-track/headliners">Read more</a></p>
        </figcaption>
    </figure>
</div>