<div class="bucket col">
    <figure>
        <div class="img-wrapper">
            <a href="http://web2.singaporegp.sg/Uploaded/entertainment_highlights/pdf/2015_50Reasons_LR.pdf"><img src="images/contest.jpg" alt=""/></a>
            <i>Entertainment</i>
        </div>
        <figcaption>
            <p>50 Reasons to be in the Heart of the Action at the Marina Bay Street Circuit</p>
            <p><a href="http://web2.singaporegp.sg/Uploaded/entertainment_highlights/pdf/2015_50Reasons_LR.pdf">Read more</a></p>
        </figcaption>
    </figure>
</div>