<div class="small bucket col">
    <figure>
        <div class="img-wrapper">
            <a href="https://shop.singaporegp.sg"><img src="http://www.singaporegp.sg/media/home/ShopBanner20161007.jpg"
                                                       alt=""/></a>
            <i>Merchandise</i>
        </div>

        <figcaption style="height: 135px">
            <!--<p>Purchase your official <br>SINGAPORE GRAND PRIX merchandise</p>-->
            <p>2016 Official Singapore Grand Prix Merchandise Post-Race Sale. Get yours now!</p>
            <p><a href="https://shop.singaporegp.sg">Shop now</a></p>
        </figcaption>
    </figure>

    {#
    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="https://tickets.singaporegp.sg/tickets/en/listing/9/">

                    <!-- <img src="{{ ticket_image_url }}" alt=""/></a> -->
                    <img src="http://www.singaporegp.sg/media/images/single_day.jpg " alt=""/></a>
                <i>2016 Tickets </i>
            </div>
            <figcaption>
                <p>Grab your Single-Day Walkabout tickets now! </p>
                <p><a href="https://tickets.singaporegp.sg/tickets/en/listing/9/">Read more</a></p>
            </figcaption>
        </figure>
    </div>#}

</div>
<style>

    /*
    .dayone{
        background: url('/images/2015ticket.jpg')no-repeat center;
        background-color: #000;
    }
    .daytwo{
        background: url('http://web2.singaporegp.sg/Uploaded/homepage-ticker/EARLYBIRD.png')no-repeat center;
        background-color: #000;
    }

    .daythree{
        background: url('http://web2.singaporegp.sg/Uploaded/homepage-ticker/EARLYBIRD.png')no-repeat center;
        background-color: #000;
    } */
</style>
