<div class="small bucket col">
    <!--<div class="halfhalf ticket2015">

        <div class="boxtictwo">2015 Tickets</div>
        <div class="transparentbox">
            <figcaption  class="left"><p>Get your 2015 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX tickets here.</p>
                <p><a href="http://tickets.singaporegp.sg/tickets/">Read More</a></p>
            </figcaption>
        </div>
    </div>
    <br>
    <div class="seb2016">
        <div class="boxticone">2016 Tickets</div>
        <div class="transparentbox">
            <figcaption  class="left"><p>Get your 2016 SUPER EARLY BIRD Tickets here.</p>
                <p><a href="http://tickets.singaporegp.sg/tickets/2016/en/all.html">Read More</a></p>
            </figcaption>
        </div>
    </div>-->
   {#<div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="on-track/F1-Insights"><img src="http://web2.singaporegp.sg/Uploaded/homepage_imgs/2015ticket-1.png" alt=""/></a>
                <i>F1 Insights</i>
            </div>
            <figcaption>
                <p>Gain insights to the world of Formula One™</p>
                <p><a href="on-track/F1-Insights">Read more</a></p>
            </figcaption>
        </figure>
    </div>

</div>
#}

    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="/revupsingapore" target="_blank"><img src="/media/contests/TPLE-contest.jpg" alt=""/></a>
                <i>Rev Up Singapore!</i>
            </div>
            <figcaption>
                <p>Experience the thrills of F1<sup>&#174;</sup> for free!
                </p>
                <p><a href="/revupsingapore" target="_blank">Read more</a></p>
            </figcaption>
            </figure>
         </div>
</div>

<!--<style>
    .ticket2015{
        background: url('/images/2015ticket.jpg')no-repeat center;
        background-color: #000;
    }
    .seb2016{
        background: url('http://web2.singaporegp.sg/Uploaded/homepage-ticker/EARLYBIRD.png')no-repeat center;
        background-color: #000;
    }
</style>-->
