<div class="small bucket col">
    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="media/press-release/195#2016"><img src="http://singaporegp.sg/media/images/latest_news1.jpg" alt=""/></a>
                <i>Latest News</i>
            </div>
            <figcaption>
                <p>Support Race Line-up</p>
                <p><a href="media/press-release/195#2016">Read more</a></p>
            </figcaption>
        </figure>
    </div>
</div>