<div class="small bucket col">
    <div class="halfhalf frontpage_photogallery" style="background: url('images/newsletter.jpg')no-repeat center;">

        <div class="transparentbox" style="background-color:rgba(0, 0, 0, 0.5)">
            <figcaption class="left">
                <p style="font-size: 1.00rem;">Subscribe to our e-newsletter to keep up to speed with the latest action.</p> <p><a href="{{ route('newsletter')}}">Read More</a></p>
            </figcaption>
        </div>
    </div>
    <div class="halfhalf frontpage_videogallery addpadding" style="background: url('images/event-guide.jpg')no-repeat center;">
        <div class="boxtictwo">Newsletter</div>
        <div class="transparentbox" style="background-color:rgba(0, 0, 0, 0.5)">
            <figcaption class="left">
                <p style="font-size: 1.00rem;">Plan and enjoy your experience at the Marina Bay Street Circuit.</p> <p><a href="/event-guide-2016">Read More</a></p>
            </figcaption>
        </div>
        <div class="boxticone ">Event Guide</div>
    </div>
</div>