<div class="small bucket col">
    <!--<div class="halfhalf frontpage_trip">

        <div class="boxtictwo">{{ bucketCategory|default('Category') }}</div>
        <div class="transparentbox">
            <figcaption  class="left"><p>{{ bucketCaption|default('Caption') }}</p>
                <p><a href="{{ bucketReadMoreUrl|default('#') }}">{{ trans('home.readMore') }}</a></p>
            </figcaption>
        </div>
    </div>-->

    <!--{% set cc = {"bucketImgSrc":"/images/home_mobileapp.jpg", "bucketCategory":"Mobile App", "bucketCaption":"Download the Official Singapore GP App and get the latest info on-the-go.","bucketReadMoreUrl":"/media/mobile-app"} %}
    <div class="frontpage_app addpadding">
        <div class="boxticone">{{ cc.bucketCategory|default('Category') }}</div>
        <div class="transparentbox">
            <figcaption  class="left"><p>{{ cc.bucketCaption|default('Caption') }}</p>
                <p><a href="{{ cc.bucketReadMoreUrl|default('#') }}">{{ trans('home.readMore') }}</a></p>
            </figcaption>
        </div>
    </div>-->
    {# MOBILEAPP #}

   <!-- <div class="halfhalf frontpage_videogallery">
        <div class="boxtictwo">Photo Gallery</div>
        <div class="transparentbox">
            <figcaption  class="left">
                <p>2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX Photo Gallery</p> <p><a href="{{ route('ontrack.gallery', { 'year': 2016, 'type': 'photos' }) }}">View More</a></p>
            </figcaption>
        </div>
    </div>
    <div class="halfhalf frontpage_photogallery addpadding">
        <div class="boxticone">Video Gallery</div>
        <div class="transparentbox">
            <figcaption class="left">
                <p>2016s FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX Video Gallery</p>
                <p >
                    <a class="fancybox fancybox.iframe vid-tn" rel="gallery" href="{{ route('offtrack.video.byId',['60']) }}">Play</a>
                    <a style="margin-left: 30px;" href="{{ route('ontrack.gallery', { 'year': 2016, 'type': 'videos' }) }}">View
                        More</a>
                </p>
            </figcaption>
        </div>

    </div>-->

    <figure>
        <div class="img-wrapper">
            <a href="{{ route('ontrack.gallery', { 'year': 2016, 'type': 'photos' }) }}"><img src="http://singaporegp.sg/media/home/Photo-Gallery-Homepage-Banner.jpg" alt=""/></a>
            <i style="width: 110px;">Photo Gallery</i>
        </div>
        <figcaption>
            <p>2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX Photo Gallery</p>
            <p><a href="{{ route('ontrack.gallery', { 'year': 2016, 'type': 'photos' }) }}">View more</a></p>
        </figcaption>
    </figure>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>


</div>