{#<div class="small bucket col">
    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="tickets/details/2/44"><img src="images/red-bull-racing.jpg" alt=""/></a>
                <i>Red Bull Racing Turbo Seats</i>
            </div>
            <figcaption>
                <p>Check out the new Red Bull Racing Turbo Seats package.</p>
                <p><a href="tickets/details/2/44">Read more</a></p>
            </figcaption>
        </figure>
    </div>
</div> #}
{# <div class="small bucket col">
    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="http://register.sandpiper.asia/register/client" target="_blank"><img src="http://singaporegp.sg/media/contests/fit_for_racing_thum.jpg" alt=""/></a>
                <i style="width: 130px;">Rev Up Singapore!</i>
            </div>
            <figcaption>
                <p><a href="http://register.sandpiper.asia/register/client" target="_blank" class="normal">Register</a> for the Fit For Racing Challenge now.</p>
                <p><a href="http://register.sandpiper.asia/register/client" target="_blank">Read more</a></p>
            </figcaption>
        </figure>
    </div> 
</div>#}
<div class="small bucket col">
    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="/off-track/headliners"><img src="http://singaporegp.sg/media/entertainment-highlights/Ent-Line-up.jpg" alt=""/></a>
                <i style="width: 110px;">Entertainment</i>
            </div>
            <figcaption ">
                <p>2016 Entertainment Line-up</p>
                <p><a href="/off-track/headliners">Read more</a></p>
            </figcaption>
        </figure>
    </div>
</div>