<div class="small bucket col">
    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="tickets/packages/hotels-and-travel"><img src="http://web2.singaporegp.sg/Uploaded/images/general/Plan-your-trip.jpg" alt=""/></a>
                <i>Plan Your Trip</i>
            </div>
            <figcaption style="height:120px;">
                <p>Plan Your Trip to the 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX</p>
                <p><a href="tickets/packages/hotels-and-travel">Read more</a></p>
            </figcaption>
        </figure>
    </div>
</div>