<div class="small bucket col">
    <div class="bucket col">
        <figure>
            <div class="img-wrapper">
                <a href="eventguide/event-guide-2016"><img src="http://www.singaporegp.sg/media/raceguide/event-guide.jpg" alt=""/></a>
                <i>Event Guide </i>
            </div>
            <figcaption>
                <p>Plan and enjoy your experience at the Marina Bay Street Circuit.</p>
                <p><a href="eventguide/event-guide-2016">Read more</a></p>
            </figcaption>
        </figure>
    </div>
</div>