<figure>
    <div class="placeholder">
        <header>Weather and Haze Updates</header>
        <br>
        <br>
        <p>
            For current weather and haze updates, click <a href="haze-report" target="_blank">here</a>.
        </p>
    </div>

</figure>
<style>
    .placeholder {
        height: 150px;
        overflow: hidden;
        position: relative;
        padding: 15px;
        font-size: 12.5px;
    }
    .placeholder a{
        color: #ffc414;
    }
    .placeholder header {
        background-color: #ffc414;
        top: 0;
        color: #000000;
        font-size: 0.85rem;
        font-style: normal;
        font-weight: 400;
        left: 0;
        padding: 4px 4px 4px 15px;
        position: absolute;
        width: 360px;
    }
</style>