<figure>
    <div class="placeholder">
        <header>Buy your Tickets from Authorised Agents</header>
        <br>
        <p>Reselling of tickets is prohibited and tickets are void if resold.
            Buying tickets from touts or unauthorised sources is at your own risk. Many tickets offered for sale from unauthorised sources have already been declared void and you will be denied entry.
            Refer to our Conditions of Sale & Entry <a href="http://singaporegp.sg/images/pdf/2015-SGP-tnc.pdf" target="_blank">here</a>.
        </p>
    </div>
</figure>
<style>
    .placeholder {
        height: 150px;
        overflow: hidden;
        position: relative;
        padding: 15px;
        font-size: 12.5px;
    }
    .placeholder a{
        color: #ffc414;
    }
    .placeholder header {
        background-color: #ffc414;
        top: 0;
        color: #000000;
        font-size: 0.85rem;
        font-style: normal;
        font-weight: 400;
        left: 0;
        padding: 4px 4px 4px 15px;
        position: absolute;
        width: 360px;
    }
</style>