
<figure>
    <div class="placeholder">
        <header>Restrictions on Unmanned Aerial Vehicles</header>
        <br>
        <p>
            Unmanned Aerial Vehicles (UAVs) or drones are strictly prohibited within the Circuit Park and the surrounding areas. Take note of the Temporary Restricted Area <a href="http://appserver1.caas.gov.sg/caasmediaweb2010/export/sites/Journalist/Press_Releases/2015/downloads/Establishment_Temporary_RestrictedAreaDuring.pdf">here</a>.
        </p>
    </div>
</figure>
<style>
    .placeholder {
        height: 150px;
        overflow: hidden;
        position: relative;
        padding: 15px;
        font-size: 12.5px;
    }
    .placeholder a{
        color: #ffc414;
    }
    .placeholder header {
        background-color: #ffc414;
        top: 0;
        color: #000000;
        font-size: 0.85rem;
        font-style: normal;
        font-weight: 400;
        left: 0;
        padding: 4px 4px 4px 15px;
        position: absolute;
        width: 360px;
    }
</style>