<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title></title>
    <style type="text/css">
    body {
        background-color: #000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #FFF;
        padding: 10px;
    }
    table {
        width: 100%;
    }
    table thead th {
        background-color: #333;
        text-align: left;
        padding: 10px;
    }
    table tr td {
        padding: 10px;
    }
    table tr:nth-child(even) td {
        background-color: #222;
    }
    </style>
</head>
<body>
    {#<h1>2014 Formula One Self Collection Venues</h1>#}
    <table cellpadding="0" cellspacing="0">
        <colgroup width="20%"></colgroup>
        <colgroup width="40%"></colgroup>
        <colgroup width="40%"></colgroup>
        <thead>
            <tr>
                <th>Venue</th>
                <th>Address</th>
                <th>Opening Hours</th>
            </tr>
        </thead>
        <tbody>
        {% for venue in collectionVenues %}
        <tr>
            <td>
               {{ venue.title }}
            </td>
            <td>
                {{ venue.address|nl2br }}
            </td>
            <td>
                {{ venue.openingHours|nl2br }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>
