{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets - Collection Venue' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{# additional head scripts or styles #}
{% block head %}
    {{ parent() }}
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script type="text/javascript" src="/javascripts/ticketscollectionbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/tickets-selfcollection.min.css"/>
{% endblock %}

{# page content #}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>2016 Formula One<sup>&trade;</sup> <br/>Self Collection Venues</h1>
                    </div>

                    {#<div class="styled-button locale">#}
                    {#<a class="en {% if locale == 'en' %}active{% endif %}" href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                    {#<a class="zh {% if locale == 'cn' %}active{% endif %}" href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>

            <div class="row">
                <div class="venue-map col">
                    <div id="map" data-google-map></div>
                </div>
            </div>
        </div>
    </section>

    <section class="self-collection-venues">
        <div class="chunk">

            <table>
                <colgroup width="33%"></colgroup>
                <colgroup width="33%"></colgroup>
                <colgroup width="34%"></colgroup>
                <tbody>
                {% set i = 0 %}
                {% for venue in collectionVenues %}
                    {% if i == 0 %}
                        <tr>
                    {% endif %}
                    <td>
                                           {% if venue.sub_title is not empty %}
                                                        <h3 style="margin-bottom: 0px">{{ venue.title|raw }}</h3>
                                                   {% else %}
                                                       <h3>{{ venue.title|raw }}</h3>
                                                   {% endif %}
                                               <p style="margin-top: 0px">{{ venue.sub_title }}</p>
                                               <p>{{ venue.address|nl2br }}</p>
                                                {% if venue.title == 'Singapore Post Centre' %}
                            <p>The <span style="font-weight: bold;text-decoration: underline;">opening hours</span> at Paya Labar Post Office: <br/>
                                                    Mon – Fri: 10am to 9pm<br/>
                                                        Sat, Sun & PH: 10am to 4pm
                                                    {% else %}
                                                        <p>{{ venue.openingHours|nl2br }}</p>
                                                    {% endif %}
                                            </td>
                    {% set i = i + 1 %}
                    {% if i == 3 %}
                        {% set i = 0 %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>

        </div>
    </section>
{% endblock %}