{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets Details' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script type="text/javascript" src="/javascripts/ticketsdetailsbundle.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/tickets-details.min.css"/>

    <style>
        .tickets-details > table td a.available, .tickets-pricing>table td a.button:last-child {
            background-color: #ffc414;
        }
        .tickets-details>table td:nth-child(3n){background-color: #13324f;color:#fff}
        .map .zones table thead, .map .zones table tbody td{background-color: #fff;}
        .tickets-pricing .buy{  background-color: #ffc414;}
        .tickets-extras .img-wrapper .next{background: url(/images/right_arrow.png) no-repeat 0 0;}
        .tickets-extras .img-wrapper .prev{background: url(/images/left_arrow.png) no-repeat 0 0;}

        table#add, th, td {
            border-collapse: collapse;
            padding: 2px 2px 2px 10px;
            text-align: left;
        }
        table#add tr:nth-child(even) {
            background-color: #fff;
        }
        table#add tr:nth-child(odd) {
            background-color:#eee;
        }
        table#add th    {
            background-color: black;
            color: white;
        }

    </style>
{% endblock %}

{#
    page content
#}
{% block content %}

    <section class="selection">
        {% embed "partials.tickets.selectionpanelticketdetails" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                {% embed "partials.tickets.ticketsdetails2015" %}{% endembed %}
            </div>
        </div>
    </section>

    <section class="tickets-information">
        <div class="chunk">
            <div class="row">
                <div class="tickets-pricing col">
                    {% if ticket.phasePrices|length > 0 %}
                        <table>
                            <caption></caption>
                            {% if ticket.ticketing_category_id == 1 or ticket.phasePrices|length > 1  %}
                                <colgroup width="45%"></colgroup>
                                <colgroup width="55%"></colgroup>
                            {% else%}
                                <colgroup width="100%"></colgroup>
                            {%endif%}
                            <thead>
                            <tr>
                                <th colspan="2">{{ trans('tickets.details.price-details') }}</th>
                            </tr>
                            <tr>
                                <th colspan="2"></th>
                            </tr>
                            </thead>
                            <tbody style="text-align: center">
                            {# three day? #}
                            {% if ticket.ticketing_category_id == 4 %}
                                <tr>
                                    <td colspan="2" style="text-align: center"><i>{{ ticket.phasePrices[0].ticketing_price }}</i></td>
                                </tr>
                            {% elseif ticket.ticketing_category_id == 1 %}
                                {% for phasePrice in ticket.phasePrices %}
                                    {% if ticket.ticketTypeId == phasePrice.id or ticket.ticketTypeId is null %}
                                        <tr>
                                            <td>{{ phasePrice.ticketing_description }}</td>
                                            <td style="text-align: center"><i>{{ phasePrice.ticketing_price }}</i></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for phasePrice in ticket.phasePrices %}
                                    {% if ticket.ticketTypeId == phasePrice.id or ticket.ticketTypeId is null %}
                                        {% if ticket.ticketing_category_id == 6 %} {# for Hospitality #}
                                            {% if ticket.id in filteredId  %}
                                                <tr>
                                                    {% if phasePrice.ticketing_description %}
                                                        <td>
                                                            {{ phasePrice.ticketing_description }}
                                                        </td>
                                                    {% endif %}
                                                    <td style="text-align: center">
                                                        <i>{{ phasePrice.ticketing_price }}</i>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% else %}
                                            <tr>
                                                {% if phasePrice.ticketing_description %}
                                                    <td>
                                                        {{ phasePrice.ticketing_description }}
                                                    </td>
                                                {% endif %}
                                                <td style="text-align: center">
                                                    <i>{{ phasePrice.ticketing_price }}</i>
                                                </td>
                                            </tr>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            {# Hide it if in filtered Id #}
                            {% if ticket.ticketing_category_id == 6 %} {# for Hospitality #}
                                {% if ticket.id in filteredId  %}
                                    <tr class="spacer">
                                        <td colspan="2">
                                        </td>
                                    </tr>
                                {% endif %}
                            {% else %}
                                <tr class="spacer">
                                    <td colspan="2">
                                    </td>
                                </tr>
                            {% endif %}

                            <!--<tr>
                                <td colspan="2">
                                         {% if ticket.phasePrices[0].ticketing_link %}
                                            <a class="button details" href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}</a>
                                            {% if ticket.ticketing_category_id == 4 %}
                                                <a class="button buy fancybox fancybox.inline" id="tix2-{{ticket.ticketing_category_id}}-{{ticket.id}}-0"
                                                   href="#confirmation-modal" data-confirm-buy data-ng-class="{'sold-out': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4}">
                                                    {#<a class="available buy button">#}
                                                    <span ng-show="buyButtons.tix2_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.sold-out') }}</span>
                                                    <span ng-hide="buyButtons.tix2_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.buy-now') }}</span>
                                                </a>
                                            {% else %}
                                                {% if ticket.ticketType == 'ticketing_single_day' %}
                                                    {% for i in 0..2 %}
                                                        {% if ticket.ticketTypeId == ticket.phasePrices[i].id or ticket.ticketTypeId is null %}
                                                            <a class="button buy" id="tix2-{{ticket.ticketing_category_id}}-{{ticket.id}}-{{ ticket.phasePrices[i].id }}"
                                                               data-ng-class="{'sold-out': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 4}"
                                                               href="{{ ticket.phasePrices[i].ticketing_link }}" data->
                                                                {#<a class="available buy button">#}
                                                                <span ng-show="buyButtons.tix2_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 4">{{ trans('tickets.listing.sold-out') }}</span>
                                                                <span ng-hide="buyButtons.tix2_{{ticket.ticketing_category_id}}_{{ticket.id}}_{{ ticket.phasePrices[i].id }}.status == 4">{{ trans('tickets.listing.buy-now') }}</span>
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <a class="button buy" id="tix2-{{ticket.ticketing_category_id}}-{{ticket.id}}-0"
                                                       data-ng-class="{'sold-out': buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4}"
                                                       href="{{ ticket.phasePrices[0].ticketing_link }}" data->
                                                        {#<a class="available buy button">#}
                                                        <span ng-show="buyButtons.tix2_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.sold-out') }}</span>
                                                        <span ng-hide="buyButtons.tix2_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 4">{{ trans('tickets.listing.buy-now') }}</span>

                                                        <span class="limited" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 2">{{ trans('tickets.listing.limited-availability') }}</span>
                                                        <span class="selling-fast" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 3">{{ trans('tickets.listing.selling-fast') }}</span>
                                                        <span class="limited-availability" data-ng-show="buyButtons.tix_{{ticket.ticketing_category_id}}_{{ticket.id}}_0.status == 5">{{ trans('tickets.listing.limited-availability2') }}</span>

                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <a class="button details full" href="{{ route('tickets.listings') }}">{{ trans('tickets.listing.view-other') }}</a>
                                        {% endif %}
                                </td>
                            </tr>-->

                            {#
                                NOTE:
                                This portion is hardcoded, remove in future years,
                                Model has not been built and the site is relying on the old database schema and old CMS
                                - dz

                                1: Pit Grandstand
                                7: Stamford Grandstand
                                9: Premier Walkabout
                                10: Zone 4 Walkabout
                                27: Club Suite
                                17: Turn 3 Premiere Grandstand
                            #}
                            {#{% if ticket.id == 1 or ticket.id == 7 or ticket.id == 9 or ticket.id == 10 or ticket.id == 17 or ticket.id == 27 %}#}
                            {#<tr class="spacer">#}
                            {#<td colspan="2">#}
                            {#</td>#}
                            {#</tr>#}
                            {#<tr>#}
                            {#<td colspan="2">#}
                            {#<a class="sia-button button details full" href="http://www.sianightrace.com" target="_blank">Singapore Airlines Packages</a>#}
                            {#</td>#}
                            {#</tr>#}
                            {#{% endif %}#}
                            {# END NOTE #}

                            </tbody>
                        </table>
                    {% endif %}
                </div>

                {# for senarios in hospitality packages where there are no prices #}
                {% if ticket.phasePrices|length == 0 %}
                    {% set writeupClass = 'tickets-writeup-full' %}
                {% else %}
                    {% set writeupClass = 'tickets-writeup' %}
                {% endif %}

                <div data-ng-controller="ticketDetailContentController" class="{{ writeupClass }} col">

                    <h2>{{ category.ticketing_category }}</h2>
                    <h5>{{ ticket.ticket_subcategory_raw }}</h5>

                    {{ ticket.description|raw }}

                    {#
                        NOTE:
                        This portion is hardcoded, remove in future years,
                        Model has not been built and the site is relying on the old database schema and old CMS
                        - dz

                        1: Pit Grandstand
                        7: Stamford Grandstand
                        9: Premier Walkabout
                        10: Zone 4 Walkabout
                        27: Club Suite
                        17: Turn 3 Premiere Grandstand
                    #}
                    {#{% if ticket.ticketTypeId =="7" %}#}
                        {#</br>#}
                        {#<table id="add" style="width:50%">#}
                            {#<tr>#}
                                {#<td><p>2015 PADANG STAGE </br>HEADLINER</p></td>#}
                                {#<td><p>PHARRELL </br>WILLIAMS</p></td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td><p>DATE</p></td>#}
                                {#<td><p>FRI 18 SEP</p></td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td><p>TIME</p></td>#}
                                {#<td><p>23:10</p></td>#}
                            {#</tr>#}
                        {#</table>#}
                        {#<font size="2"></br>Artist line-up and performance times are subject to change.</font>#}
                    {#{% elseif ticket.ticketTypeId =="8" %}#}
                        {#</br>#}
                        {#<table id="add" style="width:50%">#}
                            {#<tr>#}
                                {#<td><p>2015 PADANG STAGE </br>HEADLINER</p></td>#}
                                {#<td><p>MAROON 5</p></td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td><p>DATE</p></td>#}
                                {#<td><p>SAT 19 SEP</p></td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td><p>TIME</p></td>#}
                                {#<td><p>23:15</p></td>#}
                            {#</tr>#}
                        {#</table>#}
                        {#<font size="2"></br>Artist line-up and performance times are subject to change.</font>#}

                    {#{% elseif ticket.ticketTypeId =="9" %}#}
                        {#</br>#}
                        {#<table id="add" style="width:50%">#}
                            {#<tr>#}
                                {#<td><p>2015 PADANG STAGE </br>HEADLINER</p></td>#}
                                {#<td><p>BON JOVI</p></td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td><p>DATE</p></td>#}
                                {#<td><p>SUN 20 SEP</p></td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<td><p>TIME</p></td>#}
                                {#<td><p>22:30</p></td>#}
                            {#</tr>#}
                        {#</table>#}
                        {#<font size="2"></br>Artist line-up and performance times are subject to change.</font>#}
                    {#{% endif %}#}
                    {# END NOTE #}


                </div>
            </div>
        </div>
    </section>

    <section class="tickets-extras">
        <div class="chunk">
            <div class="row">
                <div class="related-photos col" data-photo-gallery>
                    <figure>
                        <div class="img-wrapper">
                            <ul>
                                {% for photo in ticket.relatedPhotos %}
                                    <li><a class="fancybox" href="{{ photo.related_photo }}" title="{{ photo.caption }}"
                                           rel="gallery"><img src="{{ photo.related_photo }}" alt=""/></a></li>
                                {% endfor %}
                            </ul>

                            <a class="prev" href=""></a>
                            <a class="next" href=""></a>
                        </div>

                        <figcaption>
                            {{ trans('tickets.details.related-photos') }}
                        </figcaption>
                    </figure>
                </div>
                {% if ticket.view_type == 'Panoramic View' %}
                    <div class="panoramic-view col" data-panorama-viewer>
                        <figure>
                            <div class="img-wrapper">
                                <img src="{{ ticket.panoramic_view_path }}" alt=""/>

                                <a class="prev" href=""></a>
                                <a class="next" href=""></a>
                            </div>
                            <figcaption>
                                {{ trans('tickets.details.pano-view') }}
                            </figcaption>
                        </figure>
                    </div>
                {% else %}
                    <div class="other-photos col">
                        <figure>
                            <div class="img-wrapper">
                                <img src="{{ ticket.panoramic_view_path }}" alt=""/>
                            </div>
                            <figcaption>
                                {% if ticket.view_type == 'Interior View' %}
                                    {{ trans('tickets.details.interior-view') }}
                                {% else %}
                                    {{ trans('tickets.details.other-photos') }}
                                {% endif %}
                            </figcaption>
                        </figure>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="seating-plans zone-access col" data-fancy-gallery>
                    <figure>
                        <div class="img-wrapper">
                            <a class="fancybox" href="{{ ticket.zone_access_path }}"><img src="{{ ticket.zone_access_path }}" alt=""/></a>
                        </div>
                        <figcaption>
                            {{ trans('tickets.details.seating-plans') }}
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

    {% set hasGroup = (ticket.ticketing_category_id == 1) %}
    <section class="fine-print">
        <div class="chunk">
            <div class="row">
                {% embed "partials.tickets.fineprint" %}{% endembed %}
            </div>
        </div>
    </section>

    {# confirmation modal window for fancybox inlined #}
    {% if ticket.ticketing_category_id == 4 %}
        <div id="confirmation-modal">
            <div class="confirm-buy">
                <p>{{ trans('tickets.details.confirm-title') }}</p>
                <table>
                    <colgroup width="33%"></colgroup>
                    <colgroup width="33%"></colgroup>
                    <colgroup width="34%"></colgroup>
                    <thead>
                    <tr>
                        <th colspan="3">{{ category.ticketing_category }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for i in 0..2 %}
                            {% set accessibleZones = ticket.phasePrices[i].accessible_entertainment_stages|split(',') %}
                            <td>
                                <strong>{{ ticket.phasePrices[i].day_word }}</strong> <br/>
                                {{ ticket.phasePrices[i].location }} <br/>
                                {% if accessibleZones|length > 1 %}
                                    {{ trans('tickets.listing.zones') }}
                                {% else %}
                                    {{ trans('tickets.listing.zone') }}
                                {% endif %}
                                {% for zone in accessibleZones %}
                                    {% if loop.index0 > 0 %}, {% endif %}<a class="fancybox fancybox.iframe"
                                                                            href="{{ route('tickets.zones.byId', [zone|trim]) }}"
                                                                            data-zone-overlay>{{ zone|trim }}</a>
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                        <td>
                            <p>
                                <span class="price">{{ ticket.phasePrices[0].ticketing_price }}</span>
                                <small>{{ ticket.phasePrices[0].ticketing_description }}</small>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                        </td>

                        <td>
                            <div>
                                <a class="button buy {% if lowStock %}selling-fast{% endif %}"
                                   href="{{ ticket.phasePrices[0].ticketing_link }}">{{ trans('tickets.details.confirm-proceed') }}</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    {% endif %}

    {% for item in listZone %}
        <div id="inline{{item.id}}" class="zone" style="max-width: 100%; height: auto; display: none;">
            <h1>{{ item.zone_title }}</h1>
            <h2>{{ item.zone_short_writeup }}</h2>
            {{ item.zone_writeup|raw }}
        </div>
    {% endfor %}
{% endblock %}