{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets - Hospitality Packages' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/ticketshospitalitybundle.js?postUrl={{ route('tickets.packages.hospitality.post') }}"></script>

    <link rel="stylesheet" href="/stylesheets/tickets-hospitality.min.css"/>
    <style>
    @media screen and (min-width: 320px){
        .content section.selection, .content section.selection.sales{
              min-height: 275px;
        }
    }
     .color-text-chose{color:blue}   
    </style>
{% endblock %}

{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="hospitalityController">{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Hospitality and Executive <br />Packages</h1>
                        <br/>
                        <!--<p>
                            Contact us to book your package.
                        </p>-->
                    </div>
                    {#<div class="styled-button locale">#}
                        {#<a class="en {% if locale == 'en' %}active{% endif %}" href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                        {#<a class="zh {% if locale == 'cn' %}active{% endif %}" href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </section>

    <section class="expectations">
        <div class="chunk row">
            <div class="img-wrapper bucket">
                <div id='slider' class='swipe'>
                    <div class='swipe-wrap'>
                        <div><img src="/images/tickets_hospitality1.jpg" alt=""/></div>
                        <div><img src="/images/tickets_hospitality2.jpg" alt=""/></div>
                        <div><img src="/images/tickets_hospitality3.jpg" alt=""/></div>
                        <div><img src="/images/tickets_hospitality4.jpg" alt=""/></div>
                    </div>
                </div>
            </div>

            <div class="writeup bucket">
                <h2>What to expect?</h2>

                <p>For the past nine years, Singapore has been setting the stage as one of the highlights of the Formula One calendar, earning it the title of a "jewel in the Formula One crown". Come September 2017, Singapore will once again raise the bar to create another memorable Formula One event.</p>

                <p>Hospitality guests will continue to enjoy an international five-star menu, an extensive wine selection, personalised service from our Suite Ambassadors, a fantastic entertainment programme and breathtaking views from our exclusive balconies, terraces and private grandstands. It's going to be one event you, and more importantly, your VIP guests, will definitely remember for years to come.</p>

                <p>Choose from the prestigious Formula One Paddock Club™, Sky Suite, Club Suite or the Green Room.</p>
            </div>
        </div>
    </section>
<style media="screen">
.section .words {
    width: 49%;
    float: left;
    margin-right: 10px;
}
.section .image {
    width: 40%;
    float: left;
}
.section .image img {
    /*width: 100%;*/
    margin-top: 10px;
    max-height: 170px;
}

</style>
    <section class="experiential">
        <div class="chunk row">
            <div class="writeup bucket" style="width:100%">
                <h2>Trackside Hospitality</h2>
                <div class="section">
                    <div class="words">
                        <p>
                            <strong>Formula One Paddock Club™</strong>
                            <br>
                            Overlooking the team garages, starting grid and the paddock, the Paddock Club is the ideal spot to witness the pit crew in action just below, as well as the spectacular race to the finish line.
                            <br/><br/>
                            <a class="color-text-chose" href="#contact-us">Contact our corporate sales team to find out more.</a>
                        </p>
                    </div>
                    <div class="image">
                        <img src="http://web2.singaporegp.sg/Uploaded/hospitality2015/hospitality1.jpg" alt=""/>
                    </div>
                </div>

                <div class="section">
                    <div class="words">
                        <p>
                            <strong>Sky Suite</strong>
                            <br>
                            The Sky Suite offers guests the best vantage point to view the thrilling race action, whether it’s from the air-conditioned trackside suite, or the private viewing balcony. Take your gourmet experience to new heights and venture to the exclusive rooftop Sky Terrace.
                            <br/><br/>
                            <a class="color-text-chose" href="#contact-us">Contact our corporate sales team to find out more.</a>
                        </p>
                    </div>
                    <div class="image">
                        <img src="http://web2.singaporegp.sg/Uploaded/hospitality2015/hospitality2.jpg" alt=""/>
                    </div>
                </div>

                <div class="section">
                    <div class="words">
                        <p>
                            <strong>Club Suite</strong>
                            <br/>
                            Located on the second level of the hospitality facilities, the Club Suite delivers an unforgettable experience with an up-close view of the race track either from within the air-conditioned suite or the private viewing balcony.
                            <br/><br/>
                            <a class="color-text-chose" href="#contact-us">Contact our corporate sales team to find out more.</a>
                        </p>
                    </div>
                    <div class="image">
                        <img src="http://web2.singaporegp.sg/Uploaded/hospitality2015/hospitality3.jpg" alt=""/>
                    </div>
                </div>

                <div class="section">
                    <div class="words">
                        <p>
                            <strong>The Green Room</strong>
                            <br/>
                            Bask in the casual and relaxed ambience of The Green Room. Located at the second level of the hospitality facilities, The Green Room features a delectable menu of local and international cuisine and an open-bar with complimentary wines and beers.
                            <br/><br/>
                            <a class="color-text-chose" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=egt3180915s&language=en_SG">Contact our corporate sales team to find out more.</a>
                        </p>
                    </div>
                    <div class="image">
                        <img src="http://web2.singaporegp.sg/Uploaded/hospitality2015/hospitality4.jpg" alt=""/>
                    </div>
                </div>

                <div class="section">
                    <div class="words">
                        <p>
                            <strong>Lounge @ Turn 3 </strong>
                            <br/>
                            The Lounge @ Turn 3 invites guests to unwind in an unique hospitality offering by Singapore GP. Guests can relax and enjoy free flow of wines, beers and soft drinks in air-conditioned comfort between races or head outdoors to the Turn 3 Premier Grandstand where patrons will get assigned seating with wider and cushioned seats.
                            <br/><br/>
                            <a class="color-text-chose" href="http://www.singaporegp.sg/tickets/packages/hospitality#contact-us">Contact our corporate sales team to find out more.</a>
                        </p>
                    </div>
                    <div class="image">
                        <img src="http://web2.singaporegp.sg/Uploaded/Uploaded/hotel/6-17-hospitality.jpg" alt=""/>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="contact-us">
        <div class="chunk row">
            <div class="caption-wrapper">
                <div class="caption">
                    <a name="contact-us"></a>
                    <h4>Contact us</h4>

                    &mdash;<br/>

                    <p>To book your hospitality package, please contact the corporate sales team at:</p>

                    <h5>Singapore GP Pte Ltd</h5>

                    <p>
                        Tel: +65 6731 5900 <br/>
                        Fax: +65 6735 6032 <br/>
                        Email: <a href="mailto:hospitality@singaporegp.sg">hospitality@singaporegp.sg</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="registration">
        <div class="chunk row">
            <div class="disclaimer bucket">
                <h2>Hospitality information</h2>

                {#<p>&mdash;</p>#}

                <p>Explore the hospitality options available at the <br/>2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE
                    GRAND PRIX <a
                            href="http://hospitality.singaporegp.sg" style="color:blue;">here</a>.</p>

                <p>Please note that access is password protected.</p>

                <p>
                    REQUEST A PASSWORD <br/>
                    Please register with the following details and a password will be sent to your email address within one working day.
                </p>
            </div>

            <div class="form bucket">
                <div class="row" data-ng-show="submitted">
                    <h2>Thank You</h2>
                    <h4>We will be in touch with you soon.</h4>
                </div>

                <form name="contactForm" data-ng-submit="submitForm()" novalidate="novalidate">
                    <div class="row" data-ng-hide="submitted">
                        <input type="text" name="name" placeholder="Name" data-ng-model="contactData.name" required/>
                    </div>

                    <div class="row" data-ng-hide="submitted">
                        <input type="text" name="orgName" placeholder="Organization name" data-ng-model="contactData.organisation" required/>
                    </div>

                    <div class="row" data-ng-hide="submitted">
                        <input type="number" name="telephone" placeholder="Telephone" data-ng-model="contactData.contact_number" required/>
                    </div>

                    <div class="row" data-ng-hide="submitted">
                        <input type="email" name="emailAddress" placeholder="Email" data-ng-model="contactData.work_email" required/>
                    </div>

                    <div class="row" data-ng-hide="submitted">
                        {#<div class="img-wrapper"></div>#}
                        {#<input type="text" id="captcha" name="captcha" data-ng-model="contact.captcha" required/>#}

                        {# bot honeytrap #}
                        <input class="mr-roboto" type="text" name="machine" data-ng-model="contactData.machine"/>
                        <input type="submit" value="Submit" data-ng-disabled="contactForm.$invalid"/>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript">
    $(document).ready(function() {
        $('.swipe').each(function (index, e) {
            Swipe(this, {
                startSlide: 0,
                speed: 600,
                auto: 2400,
                continuous: true,
            });
        })
    })

    </script>

{% endblock %}
