{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="javascripts/ticketshomebundle.js"></script>

    <link rel="stylesheet" href="stylesheets/tickets-home.min.css"/>
    <style>
        .locale a.active {background-color: #ffc414;}
        .mason-block,.caption{background-color: #13324f;}
        .caption a:hover {color: #ffc414 !important;}
        #grandstand-view-more {padding: 10px 0px 20px 0px; color: #fff; display: block; font-size: .813rem; margin: 5px 0; text-transform: none; font-weight: 300; letter-spacing: 1px; cursor: pointer; cursor: hand;}
    </style>
{% endblock %}

{#
    page content
#}
{% block googletagmanager %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;
        
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->
{% endblock %}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>{{ trans('tickets.home.title')|raw }}</h1>
                        <br/>
                        <p>{{ trans('tickets.home.desc') }}</p>
                    </div>
                    <div class="styled-button locale">
                        <a class="en {% if locale == 'en' %}active{% endif %}"
                           href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>
                        <a class="zh {% if locale == 'cn' %}active{% endif %}"
                           href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mason">
        <div class="chunk row">
            <div class="all-tickets col">
                <div class="mason-block">
                    <div class="img-wrapper">
                        <a href="http://tickets.singaporegp.sg"><img src="http://singaporegp.sg/media/images/ticketing-all-tickets.jpg" alt=""/></a>
                    </div>

                    <div class="caption-wrapper">
                        <div class="caption">
                            <h3>{{ trans('tickets.home.all-tickets') }}</h3>
                            &mdash;<br/>
                            <a href="http://tickets.singaporegp.sg">{{ trans('tickets.home.browse-tickets') }}</a>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="walk-abouts col">
                <div class="mason-block">
                    <div class="img-wrapper">
                        <a href="https://tickets.singaporegp.sg/tickets/en/listing/9/"><img src="http://singaporegp.sg/media/images/ticketing-single-day-walkabout.jpg" alt=""/></a>
                    </div>

                    <div class="caption-wrapper">
                        <div class="caption">
                            <h3>{{ trans('tickets.home.single-day-walkabouts') }}</h3>
                            &mdash;<br/>
                            <a href="https://tickets.singaporegp.sg/tickets/en/listing/9/">{{ trans('tickets.home.browse-tickets') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="chunk row">
            <div class="grand-stands col">
                <div class="mason-block">
                    <div class="img-wrapper">
                        <a href="https://tickets.singaporegp.sg/tickets/en/listing/1/"><img src="/images/mason_grandstands.jpg"
                                                                                  alt=""/></a>
                    </div>

                    <div class="caption-wrapper">
                        <div class="caption" id="grandstand-caption" style="position: absolute; width: 100%; background-color: #13324f; left: 0px; top: 240px">
                            <h3>{{ trans('tickets.home.grandstands') }}</h3>
                            &mdash;
                            <h4 id="grandstand-view-more">{{ trans('tickets.home.view-more') }}</h4>
                            <br/>
                            <a href="https://tickets.singaporegp.sg/tickets/en/listing/1/">3-DAY GRANDSTANDS (GROUP BUY)</a>
                            <br/>
                            <a href="https://tickets.singaporegp.sg/tickets/en/listing/2/"> 3-DAY GRANDSTANDS</a>
                            <br/>
                            <a href="https://tickets.singaporegp.sg/tickets/en/listing/5/">SUNDAY ZONE 1 SPECIAL</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="walk-abouts col">
                <div class="mason-block">
                    <div class="img-wrapper">
                        <a href="https://tickets.singaporegp.sg/tickets/en/listing/3/"><img src="/images/mason_walkabouts.jpg"
                                                                                  alt=""/></a>
                    </div>

                    <div class="caption-wrapper">
                        <div class="caption">
                            <h3>{{ trans('tickets.home.three-day-walkabouts') }}</h3>
                            &mdash;<br/>
                            <a href="https://tickets.singaporegp.sg/tickets/en/listing/3/">{{ trans('tickets.home.browse-tickets') }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="combination-packages col">
                <div class="mason-block">
                    <div class="img-wrapper">
                        <a href="https://tickets.singaporegp.sg/tickets/en/listing/4/">
                            <img src="/images/mason_combinationpackages.jpg" alt=""/>
                        </a>
                    </div>

                    <div class="special-desc">
                        <div class="text-content">
                            <a href="https://tickets.singaporegp.sg/tickets/en/listing/4/">
                            <p>{{ trans('tickets.home.special-desc') }}</p>
                                </a>
                        </div>
                    </div>

                    <div class="caption-wrapper">
                        <div class="caption">
                            <h3>{{ trans('tickets.home.combination') }}</h3>
                            &mdash;<br/>
                            <a href="https://tickets.singaporegp.sg/tickets/en/listing/4/">{{ trans('tickets.home.browse-tickets') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="chunk row">
            <div class="hospitality col">
                <div class="mason-block">
                    <div class="img-wrapper">
                        <a href="https://tickets.singaporegp.sg/tickets/en/listing/6/"><img src="/images/mason_hospitality.jpg"
                                                                                  alt=""/></a>
                    </div>

                    <div class="caption-wrapper">
                        <div class="caption">
                            <h3>{{ trans('tickets.home.hospitality') }}</h3>
                            &mdash;<br/>
                            <a href="https://tickets.singaporegp.sg/tickets/en/listing/6/">{{ trans('tickets.home.browse-tickets') }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="interactive-map col">
                <div class="mason-block">
                    <div class="img-wrapper">
                        <a href="{{ route('ontrack.circuitParkMap') }}"><img src="/images/mason_map.jpg" alt=""/></a>
                    </div>

                    <div class="caption-wrapper">
                        <div class="caption">
                            <h3>{{ trans('tickets.home.circuit-map') }}</h3>
                            &mdash;<br/>
                            <a href="{{ route('ontrack.circuitParkMap') }}">{{ trans('tickets.home.visit-now') }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="booking-and-ticketing col">
                <div class="mason-block" data-ng-attr-link="{{ route('tickets.sales.singapore') }}" data-mason-link>
                    <div class="img-wrapper">
                        <img src="/images/mason_ticketing.jpg" alt=""/>
                    </div>

                    <div class="caption-wrapper">
                        <div class="caption">
                            <h3>{{ trans('tickets.home.ticketing-agents') }}</h3>
                            &mdash;<br/>
                            <a href="{{ route('tickets.sales.singapore') }}">{{ trans('tickets.home.see-all') }}</a>
                        </div>
                    </div>
                </div>

                <div class="mason-block" data-ng-attr-link="{{ route('tickets.packages.hotelsAndTravel') }}" data-mason-link>
                    <div class="img-wrapper">
                        <img src="/images/mason_hotels.jpg" alt=""/>
                    </div>

                    <div class="caption-wrapper">
                        <div class="caption">
                            <h3>{{ trans('tickets.home.hotels-travel') }}</h3>
                            &mdash;<br/>
                            <a href="{{ route('tickets.packages.hotelsAndTravel') }}">{{ trans('tickets.home.book-now') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(function () {
            $("#grandstand-view-more").click(function () {

                var v = $('#grandstand-caption');

                if (v.position().top != 80) {
                    v.animate({'top' : '80'}, "1500")
                }
                else {
                    v.animate({'top' : '240'}, "1500")
                }
            });
        });
        (function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '783897478321230']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=783897478321230&amp;ev=NoScript" /></noscript>
    
{% endblock %}