    {% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets Listings' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script src="https://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/javascripts/ticketslistingsbundle.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/tickets-listings.min.css"/>
    <style>
        .tickets-listing > table td a.available {
            background-color: #b6b6b6;
        }
        .locale a.active{  background-color: #ffc414;}
        .tickets-listing>table th small{color:#fff;}
        .tickets-listing>table td:nth-child(3n){background-color: #13324f;}
        .tickets-listing>table .color-new{color:#fff;}
        .tickets-listing>table td a.button:hover{color:#ffc414 !important;}
    </style>
    <script>
        $('.fancybox').fancybox();
    </script>
{% endblock %}

{#
    page content
#}
{% block googletagmanager %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;

        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->
{% endblock %}
{% block content %}
    <section class="selection">
        {% embed "partials.tickets.selectionpanel" %}{% endembed %}
    </section>

    {% set hasGroup = false %}

    {% for category in ticketCategories %}
        {% if allTickets[category.id] %}
            {% if category.id == 1 %}
                {% set hasGroup = true %}
            {% endif %}
            <section class="ticket-group" data-tickets-statuses>
                <div class="chunk">
                    <div class="row">

                        {% if loop.index0 == 0 %}

                            <div class="row" style="position: relative; overflow: auto;">
                            <p style="font-size:0.9em; float: left; width:100%; background-color:#960101; padding:10px 10px 10px 20px; color:white; margin-top:0px; text-transform: uppercase;">
                                ONLINE TICKET SALES FOR THE 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX IS NOW CLOSED. TO PURCHASE TICKETS TO THE RACE, PLEASE PROCEED TO RAFFLES CITY CONVENTION CENTRE (10AM - 9PM) OR TICKETING BOOTHS (1PM - 10.30PM) LOCATED OUTSIDE GATES 1, 3, 4, 5, 7 AND 8.
                                <br>
                                FOR ENQUIRIES, PLEASE CALL +65 6738 6738. DO NOTE THAT TICKETS ARE SUBJECT TO AVAILABILITY.
                            </p>
                            <!--<p style="width:35%;float: right; right: 0; text-align: right; bottom:0; margin-top: 0; padding: 0; position: absolute;">For booking or other enquiries,<br/>please call our ticketing hotline at +65 6738 6738
                            </p>-->
                            </div>
                            <br />

                        {% endif %}

                        {% embed "partials.tickets.table2015" with { tickets:allTickets[category.id] } %}{% endembed %}
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}
    <section class="fine-print">
        <div class="chunk">
            <div class="row">
                {% embed "partials.tickets.fineprint" %}{% endembed %}
            </div>
        </div>
    </section>

    {% for item in listZone %}
        <div id="inline{{item.id}}" class="zone"  style="max-width: 100%; height: auto;  display: none;">
            <h1>{{ item.zone_title }}</h1>
            <h2>{{ item.zone_short_writeup }}</h2>
            {{ item.zone_writeup|raw }}
        </div>
    {% endfor %}
{% endblock %}