{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets Listings' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/javascripts/ticketslistingsbundle.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/tickets-listings.min.css"/>
{% endblock %}

{#
    page content
#}
{% block content %}
    <section class="selection">
        {% embed "partials.tickets.selectionpanel" %}{% endembed %}
    </section>

    {% set hasGroup = false %}
    {% for category in ticketCategories %}

        {% if allTickets[category.id] %}
            {% if category.id == 1 %}
                {% set hasGroup = true %}
            {% endif %}

            <section class="ticket-group" data-tickets-statuses>
                <div class="chunk">
                    <div class="row">
                        {% embed "partials.tickets.table" with { tickets:allTickets[category.id] } %}{% endembed %}
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}

    <section class="fine-print">
        <div class="chunk">
            <div class="row">
                {% embed "partials.tickets.fineprint" %}{% endembed %}
            </div>
        </div>
    </section>

{% endblock %}