<html>
	<head>
		<style>
		html, body {
			padding: 0;
			margin: 0;
			overflow: hidden;
		}
		iframe {
			width: 100%;
			height: 100%;
			margin: 0;
		}
		</style>
	</head>
	<body>
		<iframe src="/assets/map/index.php" frameborder="0"></iframe>
	</body>
</html>