{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets Sales Channels International' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}


{# additional head scripts or styles #}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/ticketssalesi11lbundle.js{% if locale == 'cn' %}?langmap={{ langMap }}{% endif %}"></script>

    <link rel="stylesheet" href="/stylesheets/tickets-sales-international.min.css"/>

    <!-- added for temporary disable the page with text message-->
    <style>
        @media screen and (min-width: 768px) {
            .content section.selection:after{
                content: initial;
            }
        }
    </style>
    <!-- end added for temporary disable the page with text message-->
{% endblock %}

{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="internationalSalesController">{% endblock %}

    {# page content #}
    {% block content %}
    <section class="selection sales" style="min-height:195px;">
        {% embed "partials.tickets.salesi11lselectionpanel" %}{% endembed %}
    </section>

    <section class="sales-channels">
        <div class="chunk">
            <!-- added for temporary disable the page with text message-->
            <table>
                    <colgroup width="40%"></colgroup>
                    <colgroup width="60%"></colgroup>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <h1 style="font-size:26px;">{{ trans('tickets.sales.intl-title') }}</h1>

                            <p>{{ trans('tickets.sales.intl-desc')|raw }}</p>
                        </td>
                    </tr>

                     <tr>
                        <td colspan="2">

                            <br/>
                            <p>The page is currently being updated and will be available from 15<sup>th</sup> October 2016. Please check back again.</p>
                        </td>
                    </tr>
                </table>
            <!-- end added for temporary disable the page with text message-->





          {#
            <div class="row">
                <p data-ng-bind-html="breadcrumbs" class="breadcrumbs"></p>
            </div>


            {% for key, region in regions %}
                {% for ctry, country in region.countries %}
                    <table class="region {{ ctry|lower }}" data-ng-show="isCountryActive('{{ ctry|lower }}')">
                        <colgroup width="33%"></colgroup>
                        <colgroup width="33%"></colgroup>
                        <colgroup width="34%"></colgroup>
                        <tbody>
                        {% for agent in country.agents %}
                            {% if loop.index0 % 3 == 0 %}<tr>{% endif %}
                            {% if loop.index0 % 3 < 3 %}
                                <td>
                                    <h3>{{ agent.agency_name }}</h3>

                                    <p>
                                        {{ agent.contact_person }}<br/>
                                        {% if agent.contact_no1 %}{{ agent.contact_no1 }}<br/>{% endif %}
                                        {% if agent.contact_no2 %}{{ agent.contact_no2 }}<br/>{% endif %}
                                        {% if agent.email1 %}<a href="mailto:{{ agent.email1 }}">{{ (agent.email_word1) ? agent.email_word1 : agent.email1 }}</a><br/>{% endif %}
                                        {% if agent.email2 %}<a href="mailto:{{ agent.email2 }}">{{ (agent.email_word2) ? agent.email_word2 : agent.email2 }}</a><br/>{% endif %}
                                        {% if agent.website1 %}
                                            <a href="{% if agent.website1 != 'https://bookgp.com/f1-tickets/singapore.html' %}http://{% endif %}{{ agent.website1 }}" target="_blank" onclick="trackOutboundLink('{% if agent.website1 != 'https://bookgp.com/f1-tickets/singapore.html' %}http://{% endif %}{{ agent.website1 }}'); return false;">
                                                {{ (agent.website_word1) ? agent.website_word1 : agent.website1 }}
                                            </a><br/>
                                        {% endif %}
                                        {% if agent.website2 %}
                                            <a href="{% if agent.website2 != 'https://bookgp.com/f1-tickets/singapore.html' %}http://{% endif %}{{ agent.website2 }}" target="_blank" onclick="trackOutboundLink('{% if agent.website2 != 'https://bookgp.com/f1-tickets/singapore.html' %}http://{% endif %}{{ agent.website2 }}'); return false;">
                                                {{ (agent.website_word2) ? agent.website_word2 : agent.website2 }}
                                            </a><br/>
                                        {% endif %}
                                    </p>
                                 #}

                                    {#<p>{{ agent.operating_hours|nl2br }}</p>#}
                               {# </td>
                            {% endif %}
                            {% if loop.index is divisible by(3) %}</tr>{% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% endfor %}

            #}



        </div>
    </section>
{% endblock %}