{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets Sales Channels Singapore' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{# additional head scripts or styles #}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/ticketssalessgbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/tickets-sales-sg.min.css"/>
{% endblock %}

{# specify controller #}
{% block containerdiv %}<div class="container" data-ng-controller="sgSalesController">{% endblock %}

    {# page content #}
    {% block content %}
    <section class="selection sales">
        {% embed "partials.tickets.salessgselectionpanel" %}{% endembed %}
    </section>

    <section class="sales-channels">
        <div class="chunk">

            {% for key, agents in regions %}
                <table class="region {{ key|lower }}" data-ng-show="isActive('{{ key|lower }}')">
                    <colgroup width="33%"></colgroup>
                    <colgroup width="33%"></colgroup>
                    <colgroup width="34%"></colgroup>
                    <tbody>
                    {% for agent in agents %}
                        {% if loop.index0 % 3 == 0 %}<tr>{% endif %}
                        {% if loop.index0 % 3 < 3 %}
                            <td>
                                <h3>{{ agent.location_name }}</h3>

                                <p>{{ agent.location_address|nl2br }}</p>

                                <p>{{ agent.operating_hours|nl2br }}</p>
                            </td>
                        {% endif %}
                        {% if loop.index is divisible by(3) %}</tr>{% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endfor %}

        </div>
    </section>
{% endblock %}