{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets - Hospitality Packages' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/ticketshospitalitybundle.js?postUrl={{ route('tickets.packages.hospitality.post') }}"></script>

    <link rel="stylesheet" href="/stylesheets/tickets-hospitality.min.css"/>
{% endblock %}

{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="hospitalityController">{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Singapore<br /> ticket special</h1>
                        <!--<hr/>
                        <p>
                            Special ticket promotions for<br/> Singapore Formula 1 Fans
                        </p>-->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="clear"></div>
    <div class="text-page">
        <div class="content-text-page">
            <p>In conjunction with the SG50 celebrations to commemorate Singapore’s Golden Jubilee, Singapore GP is offering a special promotion to all Singaporeans and Singapore residents to the eighth edition of the FORMULA 1 SINGAPORE GRAND PRIX.</p>
        </div>
    </div>

    <section class="expectations news-page">
        <div class="chunk row">
            <div class="writeup bucket">
                <img src="http://web2.singaporegp.sg/Uploaded/ticketspecials/special01.png" alt="" class="pullleft">
                <div class="text-news pullright">
                    <h2>
                        Bay Grandstand Red Seat Promo
                    </h2>
                    <p>To celebrate Singapore’s 50th year of independence, a limited number of red seats at the Bay Grandstand will be available for sale to Singaporeans and Singapore residents from 1 May 2015. Buy a minimum of two Bay Grandstand Red Seat Promo tickets to receive a <strong>limited-edition gift pack worth S$30</strong> for every ticket purchased.</p>

                    <p>In addition, you and a guest will get a once-in-a-lifetime opportunity to take part in a <strong>Behind the Scenes tour of the Marina Bay Street Circuit</strong>. Get a sneak peek into the Paddock, team garages, hospitality homes, race control room and podium on 5th or 6th September. There are 25 pairs of exclusive passes to be won!</p>

                    <p>The 3-Day Bay Grandstand ticket will give you access to thrilling on-track race action from Formula One™ and Porsche Carrera Cup Asia as well as world-class concerts by Padang Stage headliners Pharrell Williams (Friday), Maroon 5 (Saturday) and<br/> Bon Jovi (Sunday).</p>
                    <p>This promotion is only available for <strong>over-the-counter purchases at all <a href="http://singaporegp.sg/tickets/sales-channels/singapore" title="SISTIC outlets" target="_blank">SISTIC outlets</a> in Singapore</strong>.</p>
                    <p><strong>5 Seconds of Fame</strong></p>
                    <p>Come to the 2015 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX decked out in your most imaginative and celebratory outfit! We’ll be on the hunt for the best-dressed fans at the Bay Grandstand on 19 and 20 September. If you’re spotted, we will shine the spotlight on you on Singapore GP Official Facebook Page and Instagram (@F1NightRace).</p>
                    <p><a href="http://web2.singaporegp.sg/Uploaded/ticketspecials/Bay%20GS%20Red%20Seats%20T&C.pdf" target="_blank" title="Terms & Conditions apply">Terms & Conditions apply. </a></p>
                </div>
                <div class="clear"></div>
            </div>
            {#<div class="writeup bucket">
                <img src="http://web2.singaporegp.sg/Uploaded/ticketspecials/special02.png" alt="" class="pullright">
                <div class="text-news pullleft">
                    <h2>Single Day Friday $38 Promo</h2>

                    <p>A limited number of <strong>Friday Zone 4 Walkabout tickets</strong> will be available at a special promotional price of S$38 from 1 May 2015, exclusively for Singaporeans and Singapore residents.</p>

                    <p>This promotion is only available for <strong>over-the-counter purchases at all <a href="http://singaporegp.sg/tickets/sales-channels/singapore" title="SISTIC outlets" target="_blank">SISTIC outlets</a> in Singapore</strong>, with a maximum of four tickets allowed per person. After the promotional tickets have been sold, the Friday Zone 4 Walkabout tickets will be made available at the regular price of S$68.</p>

                    <p>The Friday Zone 4 Walkabout ticket will give you access to thrilling action from Formula One™ and Porsche Carrera Cup Asia as well as a full-length concert by global superstar Pharrell Williams on 18 September.</p>
                </div>
                <div class="clear"></div>
            </div>#}
        </div>
    </section>


    <style>
    @media screen and (min-width: 320px){
        .content section.selection {
          background: url(http://web2.singaporegp.sg/Uploaded/ticketspecials/specialbanner.png)  center bottom no-repeat,url(/images/background_selection.jpg) center top no-repeat;
          font-size: .688rem;
        }
    }
    
    .news-page .writeup{
        width: 100%;
        margin-bottom: 20px;
    }
    .text-page{
        float: left;
        background: #ebebeb;
        width: 100%;
    }
    .news-page img{
        width: 48%;
    }
    .text-page .content-text-page{ max-width: 1000px;margin:0 auto;}
    .text-page .content-text-page p{
        font-size: 16px;
    }
    .news-page .text-news a{
        color:#bb9d5f;
    }
    .text-news{
        width: 50%;
    }
    .clear{
        clear: both;
        margin:0px;
        padding: 0px;
    }
    .pullleft{
        float: left;
    }
    .pullright{
        float: right;
    }
    @media (max-width:980px){
        .text-page{
            padding: 0 20px;
        }
    }
    @media (max-width:768px){
        .news-page{
            padding: 0 20px;
        }
    }
     @media (max-width:568px){
        .news-page  img{
            width: 70%;
            float: none;
            margin: 0 auto;
            display: block;
        }
        .text-news{
            width: 100%;
            float: none;
        }
    }
    </style>


    <script type="text/javascript">
    $(document).ready(function() {
        $('.swipe').each(function (index, e) {
            Swipe(this, {
                startSlide: 0,
                speed: 600,
                auto: 2400,
                continuous: true,
            });
        })
    })

    </script>

{% endblock %}
