<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="{{ locale }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="{{ locale }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="{{ locale }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="{{ locale }}" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }} - Singapore Grand Prix</title>
    <meta name="viewport" content="width=device-width">
    {% block meta %}
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ keywords|default('singapore f1, formula 1 singapore,  f1, formula one, singapore grand prix, singapore airlines, singapore gp,  sgp, formula one, f1 night race') }}">
        <meta property="og:image" content="http://www.singaporegp.sg/images/logo.jpg">
        <meta property="og:title" content="{{ title }} - Singapore Grand Prix">
        <meta property="og:url" content="{{ url|default(currentUrl) }}">
        <meta property="og:description" content="{{ description }}">
    {% endblock %}

    {% block head %}
        <script type="text/javascript" src="{{ asset('bower_components/modernizr/modernizr.min.js') }}"></script>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,700italic,500italic'
              rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/stylesheets/tickets-zones.min.css"/>
    {% endblock %}
</head>
<body>

{% block content %}
    <div class="zone">
        <h1>{{ zone.zone_title }}</h1>
        <h2>{{ zone.zone_short_writeup }}</h2>
        {{ zone.zone_writeup|raw }}
    </div>
{% endblock %}

{% block analytics %}
    <!-- Google Analytics -->
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;

        // track if on hosting server and not in staging
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-3141840-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
    <!-- End Google Analytics -->
{% endblock %}

</body>
</html>