{% extends "layouts.master" %}

{% set title = '2015 SINGAPORE AIRLINES SINGAPORE GRAND PRIX' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('javascripts/libs/jwplayer/jwplayer.js') }}"></script>
    <script type="text/javascript">jwplayer.key="5Zie6NAltu0/qu+Sxc4g9i2JlnS8p/d/0xKRlg==";</script>
    <script type="text/javascript" src="bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="javascripts/homeappbundle.js?v=12"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="bower_components/FlipClock/compiled/flipclock.css"/>
    <link rel="stylesheet" href="stylesheets/home.min.css"/>
    <style type="text/css">
        .boxticone{
            background-color: #bb9d5f;
            z-index: 210;
            color: #000;
            font-size: .75rem;
            font-style: normal;
            font-weight: 400;
            top:326px;
            padding: 10px;
            position:absolute;
            width: 120px;
        }
        .small > img{
            position: absolute;
            z-index: 12321312321;
            left:263px;
        }
        .boxtictwo{
            background-color: #bb9d5f;
            z-index: 210;
            color: #000;
            font-size: .75rem;
            font-style: normal;
            font-weight: 400;
            /*left: 0;*/
            top:136px;
            padding: 10px;
            position:absolute;
            width: 120px;
        }
        .halfhalf{
            text-align: center;
            height: 170px;
            width: 100%;
            color: white;
            background-color: black;
        }
        .left{
            text-align: left !important;
        }

        .transparentbox {
            height: 140px;
            top:16px;
            left:5%;
            position: relative;
            width: 90%;
            background-color: rgba(0, 0, 0, 0.6);
        }
        .addpadding{
            margin-top: 20px;
        }
        .boundary{
            width: 95%;
        }
        .twozeroonefive{
            background: url('http://web2.singaporegp.sg/Uploaded/images/seb/2015ticket.jpg')no-repeat center;
            background-color: #000;
        }
        .twozeroonefour{
            background: url('http://web2.singaporegp.sg/Uploaded/images/seb/2014ticket.jpg')no-repeat center;
            background-color: #000;
        }
        .frontpage_photogallery{
            background: url('http://web2.singaporegp.sg/Uploaded/images/gallery/frontpage_photogallery.jpg')no-repeat center;
            background-color: #000;
        }
        .frontpage_videogallery{
            background: url('http://web2.singaporegp.sg/Uploaded/images/gallery/frontpage_videogallery.jpg')no-repeat center;
            background-color: #000;
        }

        .frontpage_trip{
            background: url('http://web2.singaporegp.sg/Uploaded/images/general/Plan-your-trip.jpg')no-repeat center;
            background-color: #000;
        }

        .frontpage_app{
            background: url('http://web2.singaporegp.sg/Uploaded/images/general/mobile_app.jpg')no-repeat center;
            background-color: #000;
        }

        @media screen (min-width: 1200px) {

            .small > img{
                position: absolute;
                z-index: 12321312321;
                left:18%;
            }
        }
        @media screen (min-width: 766px) {
            .small > img{
                position: absolute;
                z-index: 12321312321;
                left:100%;
            }
        }
        .on-track .bucket{ position: relative;}

        .boxticone, .boxtictwo, .result nav ul li a, .bucket figure i{background-color:#ffc414; color: #000}
        .bucket figcaption{  color: #fff;}
        .bucket figcaption a:hover{  color: #fff !important;}
        .result .content th, .bucket figcaption a{  color: #ffc414;}
        .result nav ul li.active a, .result .content, .bucket figure{background-color: #13324f;}
        .result nav ul li.active a{  border-bottom-color: #000 !important;}
        .result nav ul li a:hover{background-color: #fff; color: #13324f !important;}
        .result nav ul li:hover{background-color: #fff !important;}
        .off-track{  background: transparent url(../images/background_chunk_alt.jpg) top center no-repeat;}
        .social {
            background: transparent url(../images/background_chunk_alt.jpg) top center no-repeat;
            /*height:500px;*/
        }
        .bucket figure i{padding: 10px 16px;}
        .center-block figcaption p{position:relative !important}
        .clock-wrapper .flip-clock-wrapper ul li a div div.inn{
            background-color: #e6e5e5;
        }
        .clock-wrapper .flip-clock-wrapper ul{
            margin: 5px 2px;
            width: 64px;
        }
        .clock-wrapper .flip-clock-wrapper ul li a div{
            outline: 0px;
        }
        .clock-wrapper .flip-clock-wrapper ul li a div.up:after{
            border: 1px solid #000;
        }
        /*.clock-wrapper .flip-clock-divider {
            width: 16px;
        }*/
        .clock-info ul li{
            background-color: #e6e5e5 !important;
        }

        .bucket figcaption p{font-weight:100;padding: 16px 16px 10px 16px;}
        /*.result .content td{padding:12px 0;}*/
        .result .content p{margin-top:4px;}

        .footer .row footer{padding-bottom: 40px;}

        .hero{background: url(../images/mastheadnew1.png) top center no-repeat transparent; height: 490px;}
        .result nav ul li a{
            border: none !important;
            border-right: 1px solid #fff !important;
            border-bottom: 1px solid #fff !important;
            text-align: center;
        }

        @media screen and (min-width: 320px){
            .hero {
                margin-top: -1670px;
            }
            .latest-news {
                margin-top: 370px;
            }
        }
        @media screen and (min-width: 768px){
            .hero {
                margin-top: -886px;
            }
            .latest-news {
                margin-top: 450px;
            }
        }

        .bucket figure.twitter{background-color: #fff;}
        .footer .quick-links ul li a:hover, .footer .row .site-map ul li a:hover{color: #ffc414 !important;}
        .bucket figure i{margin-bottom:0px;}
        .social-widget figure {
            background-color: #fff;
        }
    </style>

{% endblock %}

{#
    page content
#}
{% block googletagmanager %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;

        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->
{% endblock %}
{% block content %}
    <section class="latest-news">
        <div class="chunk">
            <div class="row">
                {% embed "partials.home.sectionSEB" with { templateType:bannerType, content:rowOne } %}{% endembed %}
            </div>
        </div>
    </section>
    <section class="hero">
        <div class="chunk">
            <div class="row">
                {% embed "partials.home.sectionbackup" %}{% endembed %}
            </div>
        </div>
    </section>

    {# content "chunks" are floated, so that "hero" can appear above "latest news" #}


    <section class="off-track">
        <div class="chunk">
            {#<div class="row">#}
            {#<div class="span_3 col"><h2>Off-Track</h2></div>#}
            {#</div>#}
            <div class="row">
                {% embed "partials.home.section" with { templateType:bannerType, content:rowTwo } %}{% endembed %}
            </div>
        </div>
    </section>

    <section class="on-track">
        <div class="chunk">
            {#<div class="row">#}
            {#<div class="span_3 col"><h2>On-Track</h2></div>#}
            {#</div>#}
            <div class="row">
                {% embed "partials.home.sectionontrack" with { templateType:bannerType, content:rowThree } %}{% endembed %}
            </div>
        </div>
    </section>

    <section class="social">
        <div class="chunk">
            <div class="row">
                <div class="span_3 col"><h2>Social</h2></div>
            </div>
            <div class="row">
                {% embed "partials.home.sectionsocial" %}{% endembed %}
            </div>
        </div>
    </section>

    {#remarketing pixel#}
    <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '783897478321230']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=783897478321230&amp;ev=NoScript" /></noscript>

{% endblock %}