{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('javascripts/libs/jwplayer/jwplayer.js') }}"></script>
    <script type="text/javascript">jwplayer.key="5Zie6NAltu0/qu+Sxc4g9i2JlnS8p/d/0xKRlg==";</script>
    <script type="text/javascript" src="bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="javascripts/homeappbundle.js?v=14"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="bower_components/FlipClock/compiled/flipclock.css"/>
    <link rel="stylesheet" href="stylesheets/home.min.css"/>
    <style type="text/css">
        .boxticone{
            background-color: #bb9d5f;
            color: #000;
            font-size: .75rem;
            font-style: normal;
            font-weight: 400;
            top:340px;
            padding: 10px;
            position:absolute;
            width: 120px;
            z-index: 8;
        }
/*
        .boxticthree{
            background-color: #bb9d5f;
            color: #000;
            font-size: .75rem;
            font-style: normal;
            font-weight: 400;
            left: 0;
            top: 92px;
            padding: 10px;
            position:absolute;
            width: 120px;
        } */
        .small > img{
            position: absolute;
            z-index: 12321312321;
            left:263px;
        }
        .boxtictwo{
            background-color: #bb9d5f;
            color: #000;
            font-size: .75rem;
            font-style: normal;
            font-weight: 400;
            /*left: 0;*/
            top:144px;
            padding: 10px;
            position:absolute;
            width: 120px;
            z-index: 8;
        }

        @media screen and (max-width: 767px) {
            .row > .bucket:nth-child(2) .boxtictwo{
                top: 516px;
            }
            .row > .bucket:nth-child(2) .boxticone{
                top: 720px;
            }
        }

        .halfhalf{
            text-align: center;
            height: 178px;
            width: 100%;
            color: white;
            background-color: black;
        }

        .artistone{
            text-align: center;
            height: 112px;
            width: 100%;
            color: white;
            background-color: black;
        }

        .artisttwo{
            text-align: center;
            height: 112px;
            width: 100%;
            color: white;
            background-color: black;
        }
        .artistthree{
            text-align: center;
            height: 112px;
            width: 100%;
            color: white;
            background-color: black;
        }

        .left{
            text-align: left !important;
        }

        .transparentbox {
            height: 140px;
            top:16px;
            left:5%;
            position: relative;
            width: 90%;
            background-color: rgba(0, 0, 0, 0.6);
        }
        .addpadding{
            margin-top: 18px;
        }
        .boundary{
            width: 95%;
        }
        .twozeroonefive{
            background: url('http://singaporegp.sg/media/home/2016ticket.jpg')no-repeat center;
            background-color: #000;
        }
        .twozeroonefour{
            background: url('http://singaporegp.sg/media/home/Homepage-Banner_2017SEB.jpg')no-repeat center;
            background-color: #000;
        }
        .frontpage_photogallery{
            background: url('http://web2.singaporegp.sg/Uploaded/images/gallery/frontpage_photogallery.jpg')no-repeat center;
            background-color: #000;
        }
        .frontpage_videogallery{
            background: url('http://web2.singaporegp.sg/Uploaded/images/gallery/frontpage_videogallery.jpg')no-repeat center;
            background-color: #000;
        }

        .frontpage_trip{
            background: url('http://web2.singaporegp.sg/Uploaded/images/general/Plan-your-trip.jpg')no-repeat center;
            background-color: #000;
        }

        .frontpage_app{
            background: url('http://web2.singaporegp.sg/Uploaded/images/general/mobile_app.jpg')no-repeat center;
            background-color: #000;
        }

        @media screen (min-width: 1200px) {

            .small > img{
                position: absolute;
                z-index: 12321312321;
                left:18%;
            }
        }
        @media screen (min-width: 766px) {
            .small > img{
                position: absolute;
                z-index: 12321312321;
                left:100%;
            }
        }


        .on-track .bucket{ position: relative;}

        .boxticone, .boxtictwo, .boxticthree, .result nav ul li a, .bucket figure i{background-color:#ffc414; color: #000}
        .bucket figcaption{  color: #fff;}
        .bucket figcaption a:hover{  color: #fff !important;}
        .result .content th, .bucket figcaption a{  color: #ffc414;}
        .result nav ul li.active a, .result .content, .bucket figure{background-color: #13324f;}
        .result nav ul li.active a{  border-bottom-color: #000 !important;}
        .result nav ul li a:hover{background-color: #fff; color: #13324f !important;}
        .result nav ul li:hover{background-color: #fff !important;}
        .off-track{  background: #02142a url(../images/background_chunk_alt.jpg) top center no-repeat;}
        .social {
            background: #02142a url(../images/background_chunk_alt.jpg) top center no-repeat;
            /*height:500px;*/
        }
        .bucket figure i{padding: 10px 16px;}
        .center-block figcaption p{position:relative !important}
        .clock-wrapper .flip-clock-wrapper ul li a div div.inn{
            background-color: #e6e5e5;
        }
        .clock-wrapper .flip-clock-wrapper ul{
            margin: 5px 2px;
            width: 64px;
        }
        .clock-wrapper .flip-clock-wrapper ul li a div{
            outline: 0px;
        }
        .clock-wrapper .flip-clock-wrapper ul li a div.up:after{
            border: 1px solid #000;
        }
        /*.clock-wrapper .flip-clock-divider {
            width: 16px;
        }*/
        .clock-info ul li{
            background-color: #e6e5e5 !important;
        }

        .bucket figcaption p{font-weight:100;padding: 16px 16px 10px 16px;}
        /*.result .content td{padding:12px 0;}*/
        .result .content p{margin-top:4px;}

        .footer .row footer{padding-bottom: 40px;}

        .hero {
            background-image: url(images/masthead.jpg), url(images/masthead_bg.jpg);
            background-position: top center, left top;
            background-repeat: no-repeat, repeat-x;
            height: 490px;
        }

        .result nav ul li a{
            border: none !important;
            border-right: 1px solid #fff !important;
            border-bottom: 1px solid #fff !important;
            text-align: center;
        }

        .flip-clock-div {
            float: right;
            margin-right: 100px;
            width: 300px !important;
            padding: 10px !important;
        }

        @media screen and (max-width: 768px){
            .content {
                padding-top: 0px
            }
            .flip-clock-div {
                float: left;
                margin-left: 20px !important;
            }
        }

        @media screen and (min-width: 320px){
            .hero {
                margin-top: 0px;
            }
            .latest-news {
                margin-top: 0px;
            }
        }
        @media screen and (min-width: 768px){
            .hero {
                margin-top: 0px;
            }
            .latest-news {
                margin-top: 0px;
            }
        }

        .bucket figure.twitter{background-color: #fff;}
        .footer .quick-links ul li a:hover, .footer .row .site-map ul li a:hover{color: #ffc414 !important;}
        .bucket figure i{margin-bottom:0px;}
        .social-widget figure {
            background-color: #fff;
        }
    </style>

{% endblock %}

{#
    page content
#}
{% block googletagmanager %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P7C4C7"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;

        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P7C4C7');
        }
    </script>
    <!-- End Google Tag Manager -->
{% endblock %}
{% block content %}
    <section class="hero" style="box-shadow: none">
        <div class="chunk" style="margin-top: 10px">
            <div class="small bucket col flip-clock-div">
                <div class="clock-wrapper">
                    <div class="clock"></div>
                </div>
                <div class="clock-info">
                    <ul><li class="days">Days</li><li class="hrs">Hours</li><li class="mins">Minutes</li></ul>
                </div>
                <div class="info">
                    <img src="http://singaporegp.sg/media/logo/2017_SGPEventLogo.png" alt=""/>

                    <!--<a href="https://tickets.singaporegp.sg/tickets/en/listing/all/"><img style="padding-top: 5px" src="images/home-buy-button.png" alt=""/></a>-->
                    <a href="/tickets/listings/super-early-bird"><img style="padding-top: 5px" src="images/home-buy-button.png" alt=""/></a>

                </div>
            </div>
        </div>
    </section>

    <!-- Row One -->
    <section class="latest-news" style="">
        <div class="chunk" style="margin-top: 0px">
            {% if show_maintenance_msg %}
            <div class="row">
                <center><div style="color: red; text-align:left;"><i>Due to routine maintenance on our website, the online ticket booking service will be temporarily unavailable from 14 May 2016, 04:00hrs to 07:00hrs Singapore time (GMT +8). </i><br /><br /> </div></center>
            </div>
            {% endif %}
            <div class="row">
                {% embed "partials.home.sectionRowOne" with { templateType:bannerType, content:rowOne } %}{% endembed %}
            </div>
        </div>
    </section>

    <!-- Row Two -->
    <section class="off-track">
        <div class="chunk">
            <div class="row">
                {% embed "partials.home.sectionRowTwo" with { templateType:bannerType, content:rowTwo } %}{% endembed %}
            </div>
        </div>
    </section>

    <!-- Row Three -->
    <section class="on-track">
        <div class="chunk">
            <div class="row">
                {% embed "partials.home.sectionRowThree" with { templateType:bannerType, content:rowThree } %}{% endembed %}
            </div>
        </div>
    </section>


    <!-- Row Four -->
    <section class="off-track">
        <div class="chunk">
            <div class="row">
                <div class="span_3 col"><h2>Social</h2></div>
            </div>
            <div class="row">
                {% embed "partials.home.sectionsocial" %}{% endembed %}
            </div>
        </div>
    </section>



    <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '783897478321230']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=783897478321230&amp;ev=NoScript" /></noscript>

{% endblock %}