<ul>
<li>Start</li>
<li>Finish</li>
<li>Race Direction</li>
<li>Track Turn</li>
<li>Superscreen</li>
<li>Gate</li>
<li>MRT</li>
<li>Overpass</li>
<li>Underpass</li>
<li>Viewing Platform</li>
<li>Wheelchair Platform</li>
<li>Grandstand</li>
<li>Suites</li>
<li>Paddock Club</li>
<li>Entertainment Stage</li>
<li>Performance Area</li>
<li>Walking Route from Zone 1 to Zone 4</li>
<li>Alternate One Way Route from Zone 1 to the Padang Stage in Zone 4</li>

<li>F1 Village</li>
<li>Food & Beverage</li>
<li>Performance</li>
<li>First Aid</li>
<li>ATM</li>
<li>Information / Lost & Found</li>
<li>Restrooms</li>
<li>Wheelchair-Accessible Restrooms</li>
<li>Paddock Club Lifestyle Area</li>
<li>Taxi Stand</li>
<li>Support Paddock</li>
<li>F1 Paddock</li>
<li>Ticketing Booth</li>
<li>Ticket Collection Centre</li>
<li>Media Centre</li>
<li>Classy Car Display</li>
<li>Staff Gate</li>

</ul>

<ul>
<li>Zone 1</li>
<li>Zone 2</li>
<li>Zone 3</li>
<li>Zone 4 / Zone 4 Walkabout</li>
<li>Premier Walkabout Zone</li>
<li>Fan Zone</li>
<li>Paddock Club Zone</li>
<li>Restricted Zone</li>
</ul>