@font-face
{
font-family: DinRegular;
src: url('fonts/DIN-Regular.otf'); /* IE9 */
}
@font-face
{
font-family: BallsBold;
src: url('fonts/BallsBold.otf'); /* IE9 */
}
#tab-container > ul > li.tab.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
box-shadow: 2px 0px 1px 1px #676464;
-webkit-box-shadow: 2px 0px 1px 1px #676464;
}
html {
/*overflow-x: hidden;
overflow-y: hidden;*/
}
.show_tutorial {
height: 26px;
position: absolute;
width: 144px;
background: url("images2/shw_tutorial.png") no-repeat;
z-index: 999;
left: 70px;
margin-top: 640px;
/*background-size: 125px;*/
cursor: pointer;
}
.hide_tutorial {
height: 26px;
position: absolute;
width: 144px;
background: url("images2/shw_tutorial.png") no-repeat;
z-index: 999;
left: 70px;
margin-top: 640px;
/*background-size: 125px;*/
cursor: pointer;
}
.not_clickable{
pointer-events: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#preloader {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:820px;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:12000; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url('images2/status.gif'); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

#container {
  top:0px;
  left:0px;
  margin:0 auto;
  margin-left: auto;
  margin-right: auto;
  width: 1208px;
}
body {
  background-color:#403F3D; /*d7d7d7;*/
  font-family:DinRegular;
  margin-top:0;
  margin-left: 0;
}

.layer {
  position:absolute;
  /*top:44px;*/
  width:1208px;
  height:768px;
}

.layeroverlay
{
position:absolute;
top:0px;

width:1208px;
height:768px;
}


.navlayer
{
position:absolute;
top:0px;

width:1208px;
height:143px;

}

.navtexttop
{
position:absolute;
top:42px;

width:1208px;
height:96px;
z-index:101;

}

.hidden
{
display:none;

}
.pe
{
pointer-events:none;
}
#bg 
{
/* width: 1164px; 
        height: 680px; 
        cursor: move; 
        margin: 20px auto; 
        overflow: hidden; /*keep map contents from spilling over if JS is disabled*/ */
}
#permanent-layer
{
background-image:url('images2/permanent_icons.png');
}
#misc
{
background-image:url('images2/misc-temp-icons-0.png');
}
/*#start-glow
{
background-image:url('images2/start-icons-glow.png');
}
#finish-glow
{
background-image:url('images2/finish-icons-glow.png');
}
#directions-glow
{
background-image:url('images2/directions-icons-glow.png');
}
#gate-glow
{
 background-image:url('images2/gate-icons-glow.png'); 
}
#turn-glow
{
background-image:url('images2/turn-icons-glow.png');
}
#superscreen-glow
{
background-image:url('images2/superscreen-icons-glow.png');
}
#mrt-glow
{
 background-image:url('images2/mrt-icons-glow.png'); 
}

#overpass-glow
{
background-image:url('images2/overpass-icons-glow.png');
}
#underpass-glow
{
background-image:url('images2/underpass-icons-glow.png');
}
#viewing-glow
{
 background-image:url('images2/viewing-platform-icons-glow.png'); 
}
#wheelchair-glow
{
background-image:url('images2/wheelchair-icons-glow.png');
}
#grandstand-glow
{
background-image:url('images2/grandstand-icons-glow.png');
}
#suite-glow
{
background-image:url('images2/suite-icons-glow.png');
}
#paddock-club-glow
{
background-image:url('images2/paddock-club-icons-glow.png');
}
#paddock-club-lifestyle-glow
{
background-image:url('images2/paddock-club-lifestyle-icons-glow.png');
}
#stage-glow
{
background-image:url('images2/stage-icons-glow.png');
}

#route-1-glow
{
background-image:url('images2/route-1-icons-glow.png');
}

#route-2-glow
{
background-image:url('images2/route-2-icons-glow.png');
}

#f1-village
{
background-image:url('images2/f1-village-icons.png');
}
#f1-village-glow
{
background-image:url('images2/f1-village-icons-glow.png');
}
#fan-vision
{
background-image:url('images2/fan-vision-icons.png');
}

#taxi
{
background-image:url('images2/taxi-icons.png');
}
#taxi-glow
{
background-image:url('images2/taxi-icons-glow.png');
}
#handicap-toilet
{
background-image:url('images2/handicap-toilet-icons.png');
}
#handicap-toilet-glow
{
background-image:url('images2/handicap-toilet-icons-glow.png');
}
#toilet
{
background-image:url('images2/toilet-icons.png');
}
#toilet-glow
{
background-image:url('images2/toilet-icons-glow.png');
}
#information
{
background-image:url('images2/information-icons.png');
}

#information-glow
{
background-image:url('images2/information-icons-glow.png');
}

#atm
{
background-image:url('images2/atm-icons.png');
}
#atm-glow
{
background-image:url('images2/atm-icons-glow.png');
}

#merchandise
{
background-image:url('images2/merchandise-icons.png');
}
#merchandise-glow
{
background-image:url('images2/merchandise-icons-glow.png');
}

#first-aid
{
background-image:url('images2/first-aid-icons.png');
}
#first-aid-glow
{
background-image:url('images2/first-aid-icons-glow.png');
}

#fnb
{
background-image:url('images2/fnb-icons.png');
}
#fnb-glow
{
background-image:url('images2/fnb-icons-glow.png');
}
*/
#support-paddock
{
background-image:url('images2/support-paddock-icons.png');
}
#support-paddock-glow
{
background-image:url('images2/support-paddock-icons-glow.png');
}

#paddock
{
background-image:url('images2/paddock-icons.png');
}
#paddock-glow
{
background-image:url('images2/paddock-icons-glow.png');
}

#ticketing-booth
{
background-image:url('images2/ticketing-booth-icons.png');
}
#ticketing-booth-glow
{
background-image:url('images2/ticketing-booth-icons-glow.png');
}

#ticket-collection
{
background-image:url('images2/ticket-collection-icons.png');
}
#ticket-collection-glow
{
background-image:url('images2/ticket-collection-icons-glow.png');
}

#media-centre
{
background-image:url('images2/media-centre-icons.png');
}
#media-centre-glow
{
background-image:url('images2/media-centre-icons-glow.png');
}

#classic-car
{
background-image:url('images2/classic-car-icons.png');
}
#classic-car-glow
{
background-image:url('images2/classic-car-icons-glow.png');
}

#staff-gate
{
background-image:url('images2/staff-gate-icons.png');
}
#staff-gate-glow
{
background-image:url('images2/staff-gate-icons-glow.png');
}

#paddock-club
{
background-image:url('images2/lifestyle-area-icons.png');
}
#paddock-club-l-glow
{
background-image:url('images2/lifestyle-area-icons-glow.png');
}
#paddock-club-glow
{
background-image:url('images2/paddock-club-icons-glow.png');
}
#building-names
{
background-image:url('images2/building-names-icons-01.png');
}

#track-names
{
background-image:url('images2/track-names-icons-01.png');
}

#hidden
{
background-image:url('images2/hidden-icons.png');
pointer-events:none;
}


#tix
{
background-image:url('images2/tix-icons.png');
}




#navblock-1
{
background-image:url('images2/navblock-1.png');
}
#navblock-2
{
background-image:url('images2/navblock-2.png');
}
#navblock-3-1
{
background-image:url('images2/navblock-3-1.png');
}
#navblock-3-2
{
background-image:url('images2/navblock-3-2.png');
}
#navblock-3-3
{
background-image:url('images2/navblock-3-3.png');
}
#navblock-3-4
{
background-image:url('images2/navblock-3-4.png');
}
#navblock-3-5
{
background-image:url('images2/navblock-3-5.png');
}
#navblock-4-1
{

background-image:url('images2/navblock-4-1.png');
}

#nav-start-text
{
background-image:url('images2/nav-start-text.png');
}
#nav-finish-text
{
background-image:url('images2/nav-finish-text.png');
}
#nav-race-directions-text
{
background-image:url('images2/nav-race-directions-text.png');
}
#nav-track-turn-text
{
background-image:url('images2/nav-track-turn-text.png');
}
#nav-superscreen-text
{
background-image:url('images2/nav-superscreen-text.png');
}
#nav-gate-text
{
background-image:url('images2/nav-gate-text.png');
}
#nav-mrt-text
{
background-image:url('images2/nav-mrt-text.png');
}
#nav-overpass-text
{
background-image:url('images2/nav-overpass-text.png');
}
#nav-underpass-text
{
background-image:url('images2/nav-underpass-text.png');
}
#nav-viewing-platform-text
{
background-image:url('images2/nav-viewing-platform-text.png');
}
#nav-wheelchair-platform-text
{
background-image:url('images2/nav-wheelchair-platform-text.png');
}
#nav-grandstand-text
{
background-image:url('images2/nav-grandstand-text.png');
}
#nav-suites-text
{
background-image:url('images2/nav-suites-text.png');
}
#nav-paddock-club-text
{
background-image:url('images2/nav-paddock-club-text.png');
}
#nav-entertainment-stage-text
{
background-image:url('images2/nav-entertainment-stage-text.png');
}
#nav-performance-area-text
{
background-image:url('images2/nav-performance-area-text.png');
}
#nav-route-1-text
{
background-image:url('images2/nav-route-1-text.png');
}
#nav-route-2-text
{
background-image:url('images2/nav-route-2-text.png');
}
#nav-f1-village-text
{
background-image:url('images2/nav-f1-village-text.png');
}

#nav-fnb-text
{
background-image:url('images2/nav-fnb-text.png');
}
#nav-merchandise-text
{
background-image:url('images2/nav-merchandise-text.png');
}
#nav-first-aid-text
{
background-image:url('images2/nav-first-aid-text.png');
}
#nav-atm-text
{
background-image:url('images2/nav-atm-text.png');
}
#nav-information-text
{
background-image:url('images2/nav-information-text.png');
}
#nav-toilet-text
{
background-image:url('images2/nav-toilet-text.png');
}
#nav-handicap-toilet-text
{
background-image:url('images2/nav-handicap-toilet-text.png');
}
#nav-paddock-club-lifestyle-text
{
background-image:url('images2/nav-paddock-club-lifestyle-text.png');
}
#nav-taxi-text
{
background-image:url('images2/nav-taxi-text.png');
}
#nav-support-paddock-text
{
background-image:url('images2/nav-support-paddock-text.png');
}
#nav-paddock-text
{
background-image:url('images2/nav-paddock-text.png');
}
#nav-ticketing-booth-text
{
background-image:url('images2/nav-ticketing-booth-text.png');
}
#nav-ticket-collection-text
{
background-image:url('images2/nav-ticket-collection-text.png');
}
#nav-media-centre-text
{
background-image:url('images2/nav-media-centre-text.png');
}
#nav-classic-car-text
{
background-image:url('images2/nav-classic-car-text.png');
}
#nav-staff-gate-text
{
background-image:url('images2/nav-staff-gate-text.png');
}



#nav-restrictedzone-text
{
position:absolute;
display:block;
top: 65px;
margin-left: 898px;
z-index:301;
display:none;
pointer-events:none;
}
#nav-restrictedzone-text img, #nav-restrictedzone-text-2 img
{
width:110%;
height:110&;
}
#nav-restrictedzone-text-2
{
position:absolute;
top: 668px;
margin-left: 360px;
z-index:301;
display:none;
pointer-events:none;
}
#navblock-4-2
{
background-image:url('images2/navblock-4-2.png');
}
#nav-text-bottom
{

}
#nav-mid-icon{
z-index:100;
}
#nav-mid-icon{
z-index:101;
}
#nav-top-icons
{
z-index:102;
}
#gallery-overlay
{
	position:absolute;
	top:24px;
	height:606px;
width:1085px;
z-index:99;
background-image:url('images2/bg_20130621-dim.png');
}
.gallery-bg
{
z-index:100;
display:none;
}
.gallery-bg-1
{
position:absolute;
background-image:url('images2/bg-gallery-1.png');
background-repeat:no-repeat;
height:596px;
width:143px;
top:36px!important
}
.gallery-bg-2, .gallery-bg-2-combo
{
position:absolute;
top:-40px;
left:-1000px;
margin-left:0px;
background-image:url('images2/bg-gallery-2.png');
background-repeat:no-repeat;
height:596px;
width:613px;
}
.gallery-bg-2-2
{
position:absolute;
top:-40px;
margin-left:143px;
height:596px;
width:979px;
display:none;
}
.gallery-bg-3, .gallery-bg-3-combo
{
position:relative;
/*margin-top:95px;*/
left:-1000px;
z-index:200;
background-repeat:no-repeat;
height:0;
width:373px;
}
.gallery-title, .gallery-title-combo {

    position: absolute;
    top:42px;
    margin-left:150px;
	font-family:BallsBold;
	font-size:50px;
	color:white;
	background-image:url('images2/bg-gallery-title.png');
	background-repeat:no-repeat;
	background-position:0 7px;
	padding-left:52px;
	text-transform:uppercase;
	z-index:200;
}
.gallery-title-2 {

    position: absolute;
    top:45px;
    margin-left:150px;
	font-family:BallsBold;
	font-size:50px;
	color:white;
	background-image:url('images2/bg-gallery-title.png');
	background-repeat:no-repeat;
	background-position:0 7px;
	padding-left:52px;
	text-transform:uppercase;
	z-index:105;
}
.gallery-title a, .gallery-title-combo a, .gallery-title-2 a {
color:white;
text-decoration:none;
}
.gallery-title a:hover {
    color:#e2af2f;
}
.gallery-text-container
{

position: absolute;
top: 106px;
left: 10px;
color: white;
width: 220px;
height: 362px;
font-size: 12px;
overflow: auto;
padding-right: 10px;
}
	.gv_galleryWrap
	{
	background:none;
	}
	#thisGallery, #comboGallery
	{
z-index:200;
position:absolute;
top:90px;
left:45px;
	}
iframe {
    border:0;
    overflow:hidden;
    width:1164px;
    height:500px;
	margin-top:67px!important;
}
.zoomin {
background: url("images2/+.png") no-repeat;
background-size: 26px 30px;
margin: 0px;
padding: 0px;
}
.zoomout {
background: url("images2/-.png") no-repeat;
background-size: 26px 30px;
margin: 0px;
padding: 0px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #363636; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.gallery-text-container a {
    color:#e2af2f;
    text-decoration:underline;
}
#overlay-instructions, #overlay-instructions-mobile
{
z-index:198;
margin:0 0 0 0;
display:none;
}
#nav-text {
    z-index: 200;
    color:white;
    position: absolute;
    font-size: 10px;
    margin-left: 745px;
	width:110px;
    top: 700px;
    }
	#open-map, #close-map {
    width:100px;
    height:30px;
    top:65px;
    margin-left:1050px;
    position:absolute;
	z-index:200;
}
#close-map {
z-index:305;
display:none;
}
.zone
{
z-index:300;
}
#streetview {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 0;
    cursor: pointer;
    left: 0;
    padding: 14px 6.5px;
    position: fixed;
    top: 194px;
    z-index: 11000;
}
.magnifier {
   /*  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); */
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    left: 84.5%; 
   /*  padding: 10px;*/
   /*  position: fixed;*/
   /*  top: 130px; */
    z-index: 11000;
}


.f1-village-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}
.fnb-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.merchandise-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.first-aid-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.atm-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.information-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.toilet-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.handicap-toilet-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.paddock-club-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.taxi-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.support-paddock-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.paddock-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.ticketing-booth-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}
.ticket-collection-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.media-centre-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.classic-car-overlay-class
{
position:absolute;
width:1208px;
height:37px;
top:0px;
}

.staff-gate-overlay-class
{
position:absolute;
width:1180px;
height:37px;
top:0px;
}

#f1-village-overlay
{
background-image:url('images2/f1-village-overlay.png');
}

#fnb-overlay
{
background-image:url('images2/fnb-overlay.png');
}

#merchandise-overlay
{
background-image:url('images2/merchandise-overlay.png');
}

#first-aid-overlay
{
background-image:url('images2/first-aid-overlay.png');
}

#atm-overlay
{
background-image:url('images2/atm-overlay.png');
}

#information-overlay
{
background-image:url('images2/information-overlay.png');
}

#toilet-overlay
{
background-image:url('images2/toilet-overlay.png');
}

#handicap-toilet-overlay
{
background-image:url('images2/handicap-toilet-overlay.png');
}

#paddock-club-overlay
{
background-image:url('images2/paddock-club-overlay.png');
}

#taxi-overlay
{
background-image:url('images2/taxi-overlay.png');
}

#support-paddock-overlay
{
background-image:url('images2/support-paddock-overlay.png');
}

#paddock-overlay
{
background-image:url('images2/paddock-overlay.png');
}

#ticketing-booth-overlay
{
background-image:url('images2/ticketing-booth-overlay.png');
}

#ticket-collection-overlay
{
background-image:url('images2/ticket-collection-overlay.png');
}

#media-centre-overlay
{
background-image:url('images2/media-centre-overlay.png');
}

#classic-car-overlay
{
background-image:url('images2/classic-car-overlay.png');
}

#staff-gate-overlay
{
background-image:url('images2/staff-gate-overlay.png');
}
.gv_filmstripWrap::-webkit-scrollbar {
    -webkit-appearance: none;
}

.gv_filmstripWrap:-webkit-scrollbar:vertical {
    width: 11px;
}

.gv_filmstripWrap:-webkit-scrollbar:horizontal {
    height: 11px;
}

.gv_filmstripWrap:-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}
.checked {
  /*background: #ccc;*/
}
#zones p {
  font-size: 10px;
  height: 18px;
  vertical-align: middle;
  margin: 0px;
  padding-left: 10px;
}
