{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <style>
    .content section.selection {
        background: url("/images/raceguide/hospitalitylanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
    }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Hospitality Suites Race Guide</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2015 FORMULA 1 <br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>
                            look forward to making your experience a truly memorable one</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
    <div class="chunk">
        <p><a href="{{ route('raceguide.collection.hospitalitysuites') }}">Hospitality Suite</a>&#32;&#32;&#32;&gt;&#32;&#32;&#32;Directions</p>
            <h2 id="headercol">Directions</h2>
            <br>
            <br>
            <strong>MRT</strong><br>
            - Via Nicoll Highway MRT<br>
            (Circle Line) - Exit B to Gate 1
            <br>
            <br>
            <strong>Taxi</strong><br>
            - Temporary taxi stand created along Nicoll Highway, closer to Concourse Building. Please take the overhead pass to Republic Boulevard to head to Gate 1
            <br>
            <br>
            <strong>Self Drive</strong><br>
            - Park at the Concourse<br>
            <span style="font-size: 13px">(cross overhead bridge over Nicoll Highway to Gate 1)</span>
            <br>
            <br>
            - Park at The Gateway<br>
            <span style="font-size: 13px">(drive up Ophir Road flyover and filter left into Republic Avenue to Gate 1)</span>
            <br>
            <br>
            - Kindly note that self drive parking options are at your own expense and subject to capacity.

        </div>
</section>

<script>

 $(document).ready(function() {
        $(".fancybox").fancybox();
    });   

</script>

{% endblock %}