{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/home.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <script>
        $(document).ready(function(){
            $('.fancyboxzones').fancybox();
        })
    </script>
    <style>
    .content section.selection {
        background: url("/images/raceguide/hospitalitylanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
    }
    .mapping .img-wrapper{
        height: 50px !important;
    }
    .paddingspace{
        padding-bottom: 20px !important;
    }
    </style>
{% endblock %}




{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Hospitality Suites Race Guide</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2016 FORMULA 1 <br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>
                            look forward to making your experience a truly memorable one</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chunk">
                <div class="row">
                    <div class="filter-bar col" style="text-align: left;">
                        <div class="styled-button">
                            <div class="pdf">
                                <a style="text-align: center;" href="http://www.singaporegp.sg/media/raceguide/2016_corporate_suite_race_guide.pdf" target="_blank">Download PDF</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    
    <section>
        <div class="chunk">
            <div class="row">

                <div class="small bucket col">
                    <figure>
                        <div class="img-wrapper">
                            <a href="{{ route('raceguide.collection.hospitalityLanding.useful_info') }}">
                                <img src="/images/raceguide/hospitalitylanding/useful_information.png"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">Useful Information</p>
                            <hr>
                            <p><a href="{{ route('raceguide.collection.hospitalityLanding.useful_info') }}">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>

                <div class="small bucket col">
                    <figure>
                        <div class="img-wrapper">
                          <a href="{{ route('raceguide.collection.hospitalityLanding.schedules') }}">
                                <img src="/images/raceguide/hospitalitylanding/operation_hours.png"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">Operation Hours<br/>&amp; Schedules</p>
                            <hr>
                            <p><a href="{{ route('raceguide.collection.hospitalityLanding.schedules') }}">Find out more</a></p>
                           {# <P style="color: #fff;font-size: .75rem;font-weight: 300;">Coming soon</P>#}
                        </figcaption>
                    </figure>
                </div>

                <div class="small bucket col">
                    <figure>
                        <div class="img-wrapper">
                            <a href="{{ route('offtrack.headliners') }}">
                                <img src="http://www.singaporegp.sg/media/entertainment-highlights/2016-home-page-banner-ent-highlight.jpg"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">2016 Entertainment Line-Up</p>
                            <hr>
                            <p><a href="{{ route('offtrack.headliners') }}">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="chunk">
            <div class="row">
            
                <div class="small bucket col">
                    <figure>
                        <div class="img-wrapper">
                            <a href="{{ route('raceguide.collection.hospitalityLanding.directions') }}">
                                <img src="/images/raceguide/hospitalitylanding/directions.png"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">Directions</p>
                            <hr>
                            <p><a href="{{ route('raceguide.collection.hospitalityLanding.directions') }}">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>

                <div class="small bucket col">

                    <figure>
                        <div class="img-wrapper">
                            {#<a href="{{ route('raceguide.collection.hospitalityLanding.maps') }}">#}
                            <a href="http://www.singaporegp.sg/media/hospitality/pdf/2016-Circuit-map-hospitality.pdf" target="_blank">
                                <img src="/images/raceguide/hospitalitylanding/circuitparkmap.png"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">CIRCUIT PARK MAP</p>
                            <hr>
                            <p><a href="http://www.singaporegp.sg/media/hospitality/pdf/2016-Circuit-map-hospitality.pdf" target="_blank">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
