{% extends "layouts.master" %}
{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}
{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}
{#
additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>
    <style>
        .content section.selection {
            background: url("/images/raceguide/hospitalitylanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
        }
    </style>
{% endblock %}
{# page content #}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}
        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Hospitality Suites Race Guide</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2016 FORMULA 1 <br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>
                            look forward to making your experience a truly memorable one</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chunk">
            <div class="row">
                <div class="filter-bar col" style="text-align: left;">
                    <div class="styled-button">
                        <div class="pdf">
                            <a style="text-align: center;" href="http://www.singaporegp.sg/media/hospitality/pdf/2016-Hospitality-Race-Schedule.pdf" target="_blank" >Download PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="chunk">
            <p><a href="{{ route('raceguide.collection.hospitalitysuites') }}">Hospitality Suite</a>&#32;&#32;&#32;&gt;&#32;&#32;&#32;Operation Hours &amp; Schedules</p>
            <h2 id="headercol" style="width: 100%;">OPERATION HOURS &amp; SCHEDULES</h2>
            <p>
            </p>
            {#<p><strong>Operation Hours</strong></p>#}
            <p>All hospitality suites will be open from:</p>
            <p>3:00pm to 12midnight - Friday & Saturday (16 & 17 September 2016)</p>
            <p>3:00pm to 11:30pm - Sunday (18 September 2016)</p>
            <p>All bars will close half an hour prior to the closure of the hospitality suites.</p>
            <p></p>
            <br>
            <style>
                table.table tr td {
                    padding: 5px;
                    font-size: 13px;
                }
                table.table tr td:first-child {
                    width: 120px;
                }
                .race-calendar-headers h5:nth-child(1) {
                    width: 100% !important;
                }
                .goldcolor{
                    color:#bb9d5f !important;
                }

                .race-calendar-list td {
                    padding: 10px 14px;
                }
            </style>

            <div class="race-calendar-headers col">
                <h5>FRI 16 SEPTEMBER 2016</h5>
            </div>
            <div class="race-calendar-list">
                <table>
                    <tr>
                        <td width="33%">14:30 </td>
                        <td width="34%">Circuit Park Opens</td>
                        <td width="33%"></td>
                    </tr>

                    <tr>
                        <td width="33%">14:40 - 15:10 </td>
                        <td width="34%">Ferrari Challenge</td>
                        <td width="33%">Practice Session</td>
                    </tr>

                    <tr>
                        <td width="33%"><B>15:00</B> </td>
                        <td width="34%"><B>Hospitality Suites Open<B/></td>
                        <td width="33%"></td>

                    </tr>

                    <tr>
                        <td width="33%">15:35 - 16:15 </td>
                        <td width="34%">TCR International Series</td>
                        <td width="33%">Practice Session</td>
                    </tr>

                    <tr>
                        <td width="33%">15:00 - 17:30 </td>
                        <td width="34%">Arrival Tea Service</td>
                        <td width="33%"></td>
                    </tr>
                    <tr>
                        <td width="33%">16:40 - 17:10 </td>
                        <td width="34%">Porsche Carrera Cup Asia</td>
                        <td width="33%">Practice Session</td>
                    </tr>

                    <tr>
                        <td width="33%"><b>18:00 - 19:30</b> </td>
                        <td width="34%"><b>Formula One™ </b></td>
                        <td width="33%"><b>First Practice Session</b></td>
                    </tr>

                    <tr>
                        <td width="33%">18:45 - 21:15 </td>
                        <td width="34%">Dinner Service</td>
                        <td width="33%"></td>

                    </tr>

                    <tr>
                        <td width="33%">19:55 - 20:25 </td>
                        <td width="34%">Ferrari Challenge</td>
                        <td width="33%">Qualifying Session</td>

                    </tr>

                    <tr>
                        <td width="33%" class="goldcolor"><b>20:30 – 21:30 (Pre-F1<sup>®</sup> Second Practice Session)</b> </td>
                        <td width="34%" class="goldcolor"><B>KC and The Sunshine Band </B> </td>
                        <td width="33%" class="goldcolor"><B>Esplanade Outdoor Theatre (Zone 4)</B> </td>

                    </tr>

                    <tr>
                        <td width="33%"><b>21:30 - 23:00</b> </td>
                        <td width="34%"><b>Formula One™ </b></td>
                        <td width="33%"><b>Second Practice Session</b></td>

                    </tr>


                    <tr>
                        <td width="33%">21:45 - 23:00 </td>
                        <td width="34%">Supper Service</td>
                        <td width="33%"></td>

                    </tr>

                    <tr>
                        <td width="33%" class="goldcolor"><B>23:15 – 00:35 (After Last Track Activity)</b> </td>
                        <td width="34%" class="goldcolor"><b>Kylie Minogue </b></td>
                        <td width="33%" class="goldcolor"><b>Padang Stage (Zone 4)</b></td>

                    </tr>

                    <tr>
                        <td width="33%">Midnight </td>
                        <td width="34%">Hospitality Suites Close </td>
                        <td width="33%"></td>
                    </tr>

                </table>
                <br/>

            </div>


            <div class="race-calendar-headers col">
                <h5>SAT 17 SEPTEMBER 2016</h5>
            </div>
            <div class="race-calendar-list">
                <table>
                    <tr>
                        <td width="33%">14:30 </td>
                        <td width="34%">Circuit Park Opens</td>
                        <td width="33%"></td>
                    </tr>

                    <tr>
                        <td width="33%"><B>15:00</B> </td>
                        <td width="34%"><B>Hospitality Suites Open<B/></td>
                        <td width="33%"></td>

                    </tr>
                    <tr>
                        <td width="33%">14:40 – 15:05 </td>
                        <td width="34%">TCR International Series </td>
                        <td width="33%">Qualifying Session</td>

                    </tr>


                    <tr>
                        <td width="33%">15:00 - 17:30 </td>
                        <td width="34%">Arrival Tea Service</td>
                        <td width="33%"></td>

                    </tr>


                    <tr>
                        <td width="33%">15:45 - 16:15 </td>
                        <td width="34%">Porsche Carrera Cup Asia </td>
                        <td width="33%">Qualifying Session</td>
                    </tr>
                    <tr>
                        <td width="33%">16:40 - 17:10 </td>
                        <td width="34%">Ferrari Challenge </td>
                        <td width="33%">First Race (10 Laps or 25 Mins)</td>
                    </tr>

                    <tr>
                        <td width="33%"><b>18:00 - 19:00</b> </td>
                        <td width="34%"><b>Formula One™ </b></td>
                        <td width="33%"><b>Third Practice Session</b></td>
                    </tr>

                    <tr>
                        <td width="33%">19:25 - 19:55 </td>
                        <td width="34%">TCR International Series</td>
                        <td width="33%">First Race (10 Laps or 25 Mins)</td>

                    </tr>
                    <tr>
                        <td width="33%">18:45 - 21:15</td>
                        <td width="34%">Dinner Service</td>
                        <td width="33%"></td>

                    </tr>
                    <tr>
                        <td width="33%" class="goldcolor"><b>19:55 – 20:55 (Pre-F1<sup>®</sup>
                                Qualifying)</b> </td>
                        <td width="34%" class="goldcolor"><B>Bastille</B></td>
                        <td width="33%" class="goldcolor"><B>Padang Stage (Zone 4)</B></td>

                    </tr>
                    <tr>
                        <td width="33%" class="goldcolor"><b>20:00 – 21:00 (Pre-F1<sup>®</sup> Qualifying)
                            </B> </td>
                        <td width="34%" class="goldcolor"><b>Pentatonix</b></td>
                        <td width="33%" class="goldcolor"><B>Esplanade Outdoor Theatre (Zone 4)</b></td>

                    </tr>
                    <tr>
                        <td width="33%" class="goldcolor"><b>20:00 – 21:00 (Pre-F1<sup>®</sup> Qualifying)
                            </B> </td>
                        <td width="34%" class="goldcolor"><b>KC and The Sunshine Band</b></td>
                        <td width="33%" class="goldcolor"><B>Village Stage (Zone 1)</b></td>

                    </tr>


                    <tr>
                        <td width="33%"><b>21:00 - 22:00</b> </td>
                        <td width="34%"><b>Formula One™ </b></td>
                        <td width="33%"><b>Qualifying Session</b></td>
                    </tr>


                    <tr>
                        <td width="33%">21:45 - 23:00 </td>
                        <td width="34%">Supper Service</td>
                        <td width="33%"></td>

                    </tr>

                    <tr>
                        <td width="33%" class="goldcolor"><b>22:30 – 00:35 (After Last Track Activity)</b> </td>
                        <td width="34%" class="goldcolor"><b>Queen + Adam Lambert</b></td>
                        <td width="33%" class="goldcolor"><b>Padang Stage (Zone 4)</b></td>

                    </tr>

                    <tr>
                        <td width="33%">Midnight </td>
                        <td width="34%">Hospitality Suites Close </td>
                        <td width="33%"></td>
                    </tr>

                </table>
                <br/>



            </div>


            <div class="race-calendar-headers col">
                <h5>SUN 18 SEPTEMBER 2016</h5>
            </div>
            <div class="race-calendar-list">
                <table>
                    <tr>
                        <td width="33%">14:30 </td>
                        <td width="34%">Circuit Park Opens</td>
                        <td width="33%"></td>
                    </tr>

                    <tr>
                        <td width="33%"><B>15:00</B> </td>
                        <td width="34%"><B>Hospitality Suites Open<B/></td>
                        <td width="33%"></td>

                    </tr>
                    <tr>
                        <td width="33%">15:00 - 15:30</td>
                        <td width="34%">TCR International Series </td>
                        <td width="33%">Second Race (10 Laps or 25 Mins)</td>
                    </tr>
                    <tr>
                        <td width="33%">15:00 - 17:30 </td>
                        <td width="34%">Arrival Tea Service</td>
                        <td width="33%"></td>

                    </tr>
                    <tr>
                        <td width="33%">16:00 – 16:30</td>
                        <td width="34%">Ferrari Challenge </td>
                        <td width="33%">Second Race (10 Laps or 25 Mins)</td>
                    </tr>
                    <tr>
                        <td width="33%">17:00 – 17:35</td>
                        <td width="34%">Porsche Carrera Cup Asia </td>
                        <td width="33%">Race (12 Laps or 30 Mins)</td>
                    </tr>



                    <tr>
                        <td width="33%">18:30 </td>
                        <td width="34%">Formula One™ Drivers Track Parade</td>
                        <td width="33%"></td>
                    </tr>

                    <tr>
                        <td width="33%" class="goldcolor"><B>18:40 – 19:40 (Pre-F1<sup>®</sup> Race)</td>
                        <td width="34%" class="goldcolor"><B>Halsey</B></td>
                        <td width="33%" class="goldcolor"><B>Padang Stage (Zone 4)</b></td>

                    </tr>
                    <tr>
                        <td width="33%" class="goldcolor"><B>18:40 – 19:40 (Pre-F1<sup>®</sup> Race)</td>
                        <td width="34%" class="goldcolor"><B>Pentatonix</B</td>
                        <td width="33%" class="goldcolor"><B>Village Stage (Zone 1)</td>

                    </tr>

                    <tr>
                        <td width="33%">18:45 - 19:15 </td>
                        <td width="34%">Formula One™ Starting Grid Presentation</td>
                        <td width="33%"></td>
                    </tr>



                    <tr>
                        <td width="33%">18:45 - 21:15</td>
                        <td width="34%">Dinner Service</td>
                        <td width="33%"></td>

                    </tr>

                    <tr>
                        <td width="33%">19:46</td>
                        <td width="34%">National Anthem</td>
                        <td width="33%"></td>

                    </tr>

                    <tr>
                        <td width="33%"><b>20:00 - 22:00</b> </td>
                        <td width="34%"><b>2016 FORMULA 1 SINGAPORE AIRLINES <br/>SINGAPORE GRAND PRIX  </b></td>
                        <td width="33%"><b>61 Laps or 120 Minutes</b></td>
                    </tr>


                    <tr>
                        <td width="33%">21:45 - 23:00 </td>
                        <td width="34%">Supper Service</td>
                        <td width="33%"></td>

                    </tr>

                    <tr>
                        <td width="33%" class="goldcolor"><b>22:30 – 00:30 (After Last Track Activity)</b></td>
                        <td width="34%" class="goldcolor"><b>Imagine Dragons</b></td>
                        <td width="33%" class="goldcolor"><B>Padang Stage (Zone 4)</td>

                    </tr>

                    <tr>
                        <td width="33%">23:30 </td>
                        <td width="34%">Hospitality Suites Close </td>
                        <td width="33%"></td>
                    </tr>

                </table>
                <br/>


                <p><B><i>(All timings are provisional and subject to change)</i></B></p>

            </div>
    </section>
    <section>
        <div class="chunk">
            <div class="row">
                <p><span id="paddocklink">IMPORTANT</span><br/>
                    Motor Racing is dangerous and accidents can happen. The <span style="text-transform: uppercase;">2016 Formula 1 Singapore Airlines Singapore GRAND PRIX</span> is a rain or shine event.</p>
            </div>
        </div>
    </section>
            {#
            <p><strong>FRIDAY 18TH SEPTEMBER 2015</strong></p>
            <table class="table" cellpadding="5">
                <tbody><tr><td>15:00</td><td>Circuit Park Opens</td></tr>
                <tr><td><strong>15:30</strong></td><td><strong>Hospitality Suites Open</strong></td></tr>
                <tr><td><strong>15:00 - 15:25</strong></td><td><strong>TCR International Series First Practice Session</strong></td></tr>
                <tr><td><strong>15:50 - 16:15</strong></td><td><strong>TCR International Series Second Practice Session</strong></td></tr>
                <tr><td><strong>16:40 - 17:10</strong></td><td><strong>Porsche Carrera Cup Asia Practice Session</strong></td></tr>
                <tr><td><strong>18:00 - 19:30</strong></td><td><strong>Formula One™ First Practice Session</strong></td></tr>
                <tr><td>18:45 - 21:15</td><td>Dinner Service</td></tr>
                <tr><td><strong>19:55 - 20:25</strong></td><td><strong>Porsche Carrera Cup Asia Qualifying Session</strong></td></tr>
                <tr><td><strong>21:30 - 23:00</strong></td><td><strong>Formula One™ Second Practice Session</strong></td></tr>
                <tr><td>21:45 - 23:00</td><td>Supper Service</td></tr>
                <tr><td>Midnight</td><td>Hospitality Suites Close</td></tr>
            </tbody></table>
            <br/>
            <p><strong>SATURDAY 19TH SEPTEMBER 2015</strong></p>
            <table class="table" cellpadding="5">
                <tbody><tr><td>15:00</td><td>Circuit Park Opens</td></tr>
                <tr><td><strong>15:30</strong></td><td><strong>Hospitality Suites Open</strong></td></tr>
                <tr><td>15:30 - 17:30</td><td>Arrival Tea Service</td></tr>                
                <tr><td><strong>15:45 - 16:15</strong></td><td><strong>TCR International Series Qualifying Session</strong></td></tr>
                <tr><td><strong>16:40 - 17:15</strong></td><td><strong>Porsche Carrera Cup Asia First Race</strong></td></tr>
                <tr><td><strong>18:00 - 19:00</strong></td><td><strong>Formula One™ Third Practice Session</strong></td></tr>
                <tr><td>18:45 - 21:15</td><td>Dinner Service</td></tr>
                <tr><td><strong>21:00 - 22:00</strong></td><td><strong>Formula One™ Qualifying Session</strong></td></tr>
                <tr><td><strong>22:25 - 22:55</strong></td><td><strong>TCR International Series First Race</strong></td></tr>
                <tr><td>21:45 - 23:00</td><td>Supper Service</td></tr>
                <tr><td>Midnight</td><td>Hospitality Suites Close</td></tr>
            </tbody></table>
            <br/>
            <p><strong>SUNDAY 20TH SEPTEMBER 2015</strong></p>
            <table class="table" cellpadding="5">
                <tbody><tr><td>15:00</td><td>Circuit Park Opens</td></tr>
                <tr><td><strong>15:30</strong></td><td><strong>Hospitality Suites Open</strong></td></tr>
                <tr><td>15:30 - 17:30</td><td>Arrival Tea Service</td></tr>
                <tr><td><strong>16:30 - 17:00</strong></td><td><strong>TCR International Series Second Race</strong></td></tr>
                <tr><td><strong>17:25 - 18:00</strong></td><td><strong>Porsche Carrera Cup Asia Second Race</strong></td></tr>
                <tr><td>18:30</td><td>Formula One™ Drivers Track Parade</td></tr>
                <tr><td>18:45 - 19:15</td><td>Formula One™ Starting Grid Presentation</td></tr>
                <tr><td>18:45 - 21:15</td><td>Dinner Service</td></tr>
                <tr><td>19:46</td><td>National Anthem</td></tr>
                <tr><td><strong>20:00 - 22:00</strong></td><td><strong>2015 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX<br>(61 Laps or 120 Minutes)</strong></td></tr>
                <tr><td>21:45 - 23:00</td><td>Supper Service</td></tr>
                <tr><td>23:30</td><td>Hospitality Suites Close</td></tr>
            </tbody></table>
            <p><i>PROVISIONAL ONLY. PLEASE NOTE THAT THIS TIMETABLE IS SUBJECT TO AMENDMENTS</i></p>
        </div>
    </section> #}

{% endblock %}