{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <style>
    .content section.selection {
        background: url("/images/raceguide/hospitalitylanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
    }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Hospitality Suites Race Guide</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2015 FORMULA 1 <br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>
                            look forward to making your experience a truly memorable one</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="preamble">
    <div class="chunk">
        <p><a href="{{ route('raceguide.collection.hospitalitysuites') }}">Hospitality Suite</a>&#32;&#32;&#32;&gt;&#32;&#32;&#32;Useful Infomation</p>
        <h2 id="headercol">Useful Information</h2>

        </div>
    </section>


    <section class="words">
        <div class="chunk">
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <p><strong>What Not To Bring</strong>
                <br>
                For safety reasons, certain items are not permitted in the Circuit Park.<br>
                <br>
                These items include:<br>
                <br>
                • Any large or bulky items<br>
                <br>
                • Corporate or commercial flags or branding<br>
                <br>
                • Laser pointers<br>
                <br>
                • Pets<br>
                <br>
                • Articles prohibited by Singapore law (example: fireworks, flares, weapons, etc.)<br>
                <br>
                • Videographic or photographic equipment for professional use<br>
                <br>
                The items listed here are not exhaustive and a list of all prohibited items will be made available at the gates. Please note that bag checks will be conducted at the gates.<br>
                <br>
                Guests are not permitted to bring in food or beverages. The hospitality experience includes meal services and an open bar.<br>
                <br>
                Do also note the smoking is not permitted in the hospitality suites. Smoking will only be permitted in designated zones.<br>
                </p>
                </div>

                <div class="big bucket col" id="colborder">
                <p><strong>Tickets</strong><br>
                All guests are required to wear the ticket for the corresponding day in addition to a wristband which will be issued upon entry to the hospitality suite facilities, Singapore GP Pte Ltd reserves the right to refuse entry to any person who does not comply with this rule. After entry to the circuit, tickets are non-transferable for that day. Any tickets found to have been transferred will be immediately void.<br><br>
                Please ensure that both the ticket and wristband are worn at all times within the Circuit Park. Patrons who do not wear and prominently display the correct ticket, lanyard and wristband at all times will be escorted out of the hospitality facility.<br><br>
                Lost your ticket? Call Corporate Ticketing at <strong>+65 8257 2929</strong> to find out how to replace your lost ticket. Alternatively, you can request for assistance from our Corporate Hospitality staff at Gate 1.
                <br><br>

                <strong>Release, waiver and discharge of liability and indemnity form for children below 7.</strong><br>
                Children below the age of seven (7) will only be admitted into a hospitality suite if the parent/guardian signs a Release, Waiver and Discharge of Liability and Indemnity Form.<br><br>
                This letter can be obtained from <a href="http://www.singaporegp.sg/Uploaded/pdf/2016_indemnity_form_31_aug.pdf" target="_blank"><strong>here</strong></a> or at the gates.
                <br><br>

                <strong>Photography and Videography</strong><br>
                By entering the Circuit Park, each guest is deemed to have agreed and accepted that all sound and moving picture rights rest exclusively with<br>Formula One Administration Limited and that any moving picture and image originated, filmed or recorded at any Grand Prix circuit shall not be used for commercial purposes and may only be used for the private enjoyment of the person originating, filming or recording such images.<br><br>

                <strong>Dress Code</strong><br>
                Smart casual attire is recommended. For your safety, we recommend you avoid wearing flip-flops or uncovered shoes.<br><br>
                
                <strong>Wheelchair Access</strong><br>
                Should you require any assistance over the race weekend, please email us at <a id="paddocklink" href="mailto:hospitality@singaporegp.sg">hospitality@singaporegp.sg</a> by Tuesday, 15 September 2016.<br><br>

                <strong>Need to know more?</strong><br>
                As a valued guest, we wish to make your experience a pleasant one. If you require any further information, please email us at <a id="paddocklink" href="mailto:hospitality@singaporegp.sg">hospitality@singaporegp.sg</a> or visit the official 2016 FORMULA 1 SINGAPORE AIRLINES </br>SINGAPORE GRAND PRIX website at <a href="http://www.singaporegp.sg" ><strong>www.singaporegp.sg</strong></a> for the most up-to-date information.<br><br>
                We look forward to welcoming you to the Marina Bay Street Circuit.<br><br>

                All information is correct as of 28 July 2016 and is subject to change.
                </p>
                </div>

            </div></div>
    </section> 
    <section>
        <div class="chunk">
        <div class="row">
        <p><span id="paddocklink">IMPORTANT</span><br/>
            Motor Racing is dangerous and accidents can happen. The 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX is a rain or shine event.</p>
        </div></div>
    </section>
{% endblock %}
