<section class="selection">
    <div class="chunk">
        <div class="row">
            <div class="top-bar col">
                <div class="img-wrapper"><a href="{{ route('home') }}/"><img src="http://singaporegp.sg/media/seb/2017_SGPEventLogo_1.png" alt="" style="width:270px; height:59px;"></a></div>
            </div>

            <div class="social-bar col">
                <div class="addthis-widget">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                        <div class="atclear"></div>
					</div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                    <!--<script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh443" title="AddThis utility frame" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/sh171.html"></iframe></div><script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/core153.js"></script>-->
					<script type="text/javascript" src="/addthis_widget.js"></script>
                    <script type="text/javascript" src="/core153.js"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
			<div class="styled-button locale" style="margin-bottom: 10px;">
                    <a class="en active" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'en'}) }}"><p>EN</p></a>
                    <a class="zh" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'cn'}) }}"><p>中文</p></a>
                </div>
            <div class="filter-bar col">
                <div class="styled-select ng-scope" data-ng-controller="categorySelectController">
                    <select name="ticket" tabindex="2">
                        <option value="20" selected="">2017 Super Early Bird</option>
                    </select>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/on-track/circuit-park-map"><p>Interactive Map</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/tickets/sales-channels/singapore"><p>OUTLETS AND <br> AUTHORISED RESELLERS</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/off-track/headliners"><p>Entertainment Highlights</p></a>
                </div>
				<div class="styled-button">
					<a href="http://singaporegp.sg/media/pdf/2017%20Ticketing%20FAQs_5%20Sep%202016.pdff"><p>FAQ</p></a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="tickets-details col" data-tickets-statuses="">
                <h2>2017 SUPER EARLY BIRD
                    <div style="color:#ffc414; font-size: 13px; font-weight: 300;">
                        (The 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX is provisionally scheduled to be held from 29 September to 1 October 2017)
                    </div>
                </h2>

                <table class="details">
                    <caption></caption>

                    <colgroup width="15%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="15%"></colgroup>
                    <thead>
                    <tr>
                        <th>Ticket Category</th>
                        <th>Zone Access</th>
                        <th>2017 Super Early Bird Price <br><small>(12 Sep 2016 to <br>2 Dec 2016)</small></th>
                        <th>2017 Early Bird Price <br><small>(3 Dec 2016 to <br>8 May 2017)</small></th>
                        <th>2017 Regular Price<br><small>(9 May 2017 to <br>Race Week)</small></th>
                        <th>Availability</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Bay Grandstand</strong></td>

                        <td>
                            Zones

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$258</span>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="paddingbalance">
                            <p class="text-left">
                                <span class="price">$278 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$268 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$258 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                            </p>
                            <small></small><br>
                            </p>
                        </td>-->
                        <td>
                            <p class="">
                            <p class="text-left">
                                <span class="price">$278 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$268 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$258 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                            </p>
                            <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="">
                            <p class="text-left">
                                <span class="price">$298 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$288 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$278 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                            </p>
                            <small></small><br>
                            </p>
                        </td>
                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=ebay290917s&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="/tickets/listings/super-early-bird">View Other Tickets</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="map">
                    <div class="img-wrapper">
                        <img src="http://singaporegp.sg/ticket/map_3d_2014/map_4.jpg" alt="">
                    </div>

                    <div class="race_zones">
                        <table>
                            <thead>
                            <tr>
                                <th colspan="4">
                                    Zones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td class="">1</td>

                                <td class="">2</td>

                                <td class="accessibleZ3">3</td>

                                <td class="accessibleZ4">4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>            </div>
    </div>
</section>

<section class="tickets-information">
    <div class="chunk">
        <div class="row">
            <div class="tickets-pricing col">
                <table>
                    <caption></caption>
                    <colgroup width="100%"></colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">Pricing details</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <tr>
                        <td><i>$258</i></td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                                <a class="button details" href="/tickets/listings/super-early-bird">View Other Tickets</a>
                                <a class="button buy" id="tix2-20-4-0" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=ebay290917s&language=en_SG" data-="">
                                    <span ng-show="buyButtons.tix2_20_4_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix2_20_4_0.status == 4" class="">Buy Now</span>
                                </a>
                            
                        </td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <div data-ng-controller="ticketDetailContentController" class="tickets-writeup col ng-scope">

                <h2>2017 SUPER EARLY BIRD </h2>
                <h5>BAY GRANDSTAND</h5>

                <p>Spectators at the Bay Grandstand will hear the roar beneath their feet as the cars race past the picturesque waterfront stretch and drive <em>underneath</em> the Bay Grandstand, one of the most unique features of the Singapore track.</p>
				<p>Because this section of track requires the drivers to negotiate four angled turns (16 to 19) in quick succession, it has proven to be an Achilles’ heel for many of them. In 2013, Daniel Ricciardo’s Toro Rosso hit the wall on the outside of Turn 18 and retired. In 2012, Narain Karthikeyan lost control of his HRT and crashed into the Turn 18 barriers while Bruno Senna in 2010 rammed his car into Kamui Kobayashi’s stationary BMW Sauber which had fallen prey to the same barriers earlier.</p>
				<p>The Bay Grandstand is perhaps best known for the notorious 2008 Nelson Piquet Junior incident that took place after Turn 17, in addition to bungled moves a year later by Romain Grosjean at the same location.</p>
				<p>Bay Grandstand ticketholders are spoilt for choice when it comes to food and beverage, with outlets at the grandstand’s undercroft as well as at the nearby Esplanade Theatres by the Bay.</p>
				<p>Patrons have access to <strong><a class="iframes fancyboxzones fancybox.iframe" href="http://www.singaporegp.sg/tickets/zones/3" data-fancybox-type="iframe" data-zone-overlay="">Zone 3</a></strong> and <strong><a class="iframes fancyboxzones fancybox.iframe" href="http://www.singaporegp.sg/tickets/zones/4" data-fancybox-type="iframe" data-zone-overlay="">Zone 4</a></strong>.</p>
                <!--                 <h3>ALSO AVAILABLE AS PART OF A COMBINATION PACKAGE</h3>
                <p>Combination Packages offer patrons the flexibility to experience different parts of the street circuit on each of the three days. To enjoy the best of what the Marina Bay Street Circuit has to offer, check out the variety of Combination Packages available&nbsp;<strong><a href="{{ route('home') }}/tickets/details/ticket/ticket-details.php?category_id=4" target="_blank">here</a></strong>.</p>
 -->


            </div>
        </div>
    </div>
</section>

<section class="tickets-extras">
    <div class="chunk">
        <div class="row">
            <div class="related-photos col" data-photo-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <ul style="width: 2560px; margin-left: 0px;">
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/Aerial%20view%20of%20the%20Bay%20Grandstand.JPG" title="Aerial view of the Bay Grandstand" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/Aerial%20view%20of%20the%20Bay%20Grandstand.JPG" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/bay_grandstand/bay_grandstand_patrons_witnessing_the_cars_head_towards_turn_18.jpg" title="Bay Grandstand patrons witnessing the cars head towards Turn 18" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/bay_grandstand/bay_grandstand_patrons_witnessing_the_cars_head_towards_turn_18.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/bay_grandstand/bay_grandstand_spectators_are_treated_to_a_spectacular_fireworks_display_after_the_race.jpg" title="Bay Grandstand spectators are treated to a spectacular fireworks display after the race" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/bay_grandstand/bay_grandstand_spectators_are_treated_to_a_spectacular_fireworks_display_after_the_race.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/bay_grandstand/bay_grandstand_ticketholders_enjoy_a_picturesque_view_of_the_marina_bay.jpg" title="Bay Grandstand ticketholders enjoy a picturesque view of the Marina Bay" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/bay_grandstand/bay_grandstand_ticketholders_enjoy_a_picturesque_view_of_the_marina_bay.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/bay_grandstand/prepare_to_be_amused_by_the_numerous_roving_performances_throughout_zone_4.jpg" title="Prepare to be amused by the numerous roving performances throughout Zone 4" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/bay_grandstand/prepare_to_be_amused_by_the_numerous_roving_performances_throughout_zone_4.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/bay_grandstand/one_of_the_unique_features_of_the_singapore_circuit,_is_cars_actually_go_underneath_the_bay_grandstand.jpg" title="One of the unique features of the Singapore circuit, is cars actually go underneath the Bay Grandstand." rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/bay_grandstand/one_of_the_unique_features_of_the_singapore_circuit,_is_cars_actually_go_underneath_the_bay_grandstand.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://www.singaporegp.sg/Uploaded/ticketing_related_gallery/44/Catch-headlining-performances-at-the-Padang-Stage.jpg" title="Catch headlining performances at the Padang Stage" rel="gallery"><img src="http://www.singaporegp.sg/Uploaded/ticketing_related_gallery/44/Catch-headlining-performances-at-the-Padang-Stage.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://www.singaporegp.sg/Uploaded/ticketing_related_gallery/4/Look-out-for-plenty-of-photo-opportunities-around-the-Circuit-Park.jpg" title="Look out for plenty of photo opportunities around the Circuit Park" rel="gallery"><img src="http://www.singaporegp.sg/Uploaded/ticketing_related_gallery/4/Look-out-for-plenty-of-photo-opportunities-around-the-Circuit-Park.jpg" alt=""></a></li>
					</ul>
                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>

                    <figcaption>
                        Related photos
                    </figcaption>
                </figure>
            </div>
            <div class="panoramic-view col" data-panorama-viewer="">
                <figure>
                    <div class="img-wrapper">
                        <img src="http://www.singaporegp.sg/media/ticketing/panoramic/bay_panoramic.jpg" alt="" style="margin-left: -63px; width: 1446px; height: 348px;">

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>
                    <figcaption>
                        Panoramic view
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="seating-plans zone-access col" data-fancy-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <a class="fancybox" href="http://www.singaporegp.sg/media/ticketing/zone/2017_Bay_Grandstand_SEB_1365x768px.jpg"><img src="http://www.singaporegp.sg/media/ticketing/zone/2017_Bay_Grandstand_SEB_1365x768px.jpg" alt=""></a>
                    </div>
                    <figcaption>
                        Seating plans and zone access
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="fine-print">
    <div class="chunk">
        <div class="row">
            <div class="span_3 col">
                <ol>
					<li>For Terms and Conditions of Tickets Sale and Entry, click <a href="http://singaporegp.sg/media/pdf/2017_SGP_T&C.pdf" target="_blank">here</a> to view.</li>
							<li>Group Booking Special <br>The Group Booking Special offers fantastic savings to family and friends who purchase four or more tickets in a single transaction. This incentive is only available for the Pit, Connaught, Stamford, Esplanade Waterfront, Padang, Bay Grandstands and Bay Grandstand Hot Tix. <br><br>To be eligible for this offer, a complete group booking must be made in a single transaction for the same grandstand. Discounts will be auto-calculated and applied upon checkout. This group booking offer is available on the official Singapore GP website (<a href="http://www.singaporegp.sg">www.singaporegp.sg</a>), via the ticketing hotline (+65 6738 6738) and at all SISTIC outlets.</li>
                    <li>Prices quoted are in Singapore Dollars and include Goods and Services Tax (GST).</li>
					<li>View <a href="http://www.oanda.com/convert/classic" target="_blank">Currency Converter</a>. The exchange rates are for reference only.</li>
                </ol>
            </div>
        </div>
    </div>
</section>