<section class="selection">
    <div class="chunk">
        <div class="row">
            <div class="top-bar col">
                <div class="img-wrapper"><a href="{{ route('home') }}"><img src="http://singaporegp.sg/media/seb/2017_SGPEventLogo_1.png" alt="" style="width:270px; height:59px;"></a></div>
            </div>

            <div class="social-bar col">
                <div class="addthis-widget">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                        <div class="atclear"></div></div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                    <!--<script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Listings - Singapore Grand Prix_files/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh169" title="AddThis utility frame" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Listings - Singapore Grand Prix_files/sh171.html"></iframe></div><script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Listings - Singapore Grand Prix_files/core153.js"></script>-->
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="styled-button locale" style="margin-bottom: 10px;">
                <a class="en" href="/tickets/listings/super-early-bird/en"><p>EN</p></a>
                <a class="zh active" href="/tickets/listings/super-early-bird/cn"><p>中文</p></a>
            </div>
            <div class="filter-bar col">
                <div class="styled-select ng-scope" data-ng-controller="categorySelectController">
                    <select name="ticket" tabindex="2">
                        <option value="20" selected="">2017 优惠预售票期 </option>
                    </select>

                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/on-track/circuit-park-map"><p>赛场互动地图</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/tickets/sales-channels/singapore"><p>授权票务代售处</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/off-track/headliners"><p>娱乐亮点</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://singaporegp.sg/media/pdf/2017%20Ticketing%20FAQs_5%20Sep%202016.pdf">
                        <p>FAQ</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ticket-group" data-tickets-statuses="">
    <div class="chunk">
        <div class="row">
            <div class="tickets-listing col">
                <!--<h2>2017 优惠预售票期 <span style="font-size: 16px;">(2017年9月29日, 9月30日, 10月1日*)</span>
                    <div style="font-size:12px;">*Race dates are based on provisional schedule and subject to change</div>
                </h2>-->
                <h2>2017 优惠预售票期
                    <div style="font-size: 13px; font-weight: 300;">
                        (The 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX is provisionally scheduled to be held from 29 September to 1 October 2017)
                    </div>
                </h2>

                <table>
                    <caption></caption>

                    <colgroup width="17%"></colgroup>
                    <colgroup width="19%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="13%"></colgroup>
                    <!--<colgroup width="12%"></colgroup>-->
                    <thead>

                    <tr>
                        <th>票类</th>
                        <th>可进入的娱乐区域</th>
                        <th>2017 优惠预售票期<br><small>(2016年9月12日 至 2016年12月2日)</small></th>
                        <th>2017 预售票期<br><small>(2016年12月3日 至 2017年5月8日)</small></th>
                        <th>2017 普通售票期 <br><small>(2017年5月9日至赛事周)</small></th>
                        <th>余票</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>3号弯 Premier 看台</strong></td>

                        <td>
                            区

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$1,688</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="">
                                <span class="price">$2,128</span>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">每张 $268 </span>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $258 </span>
                                <small>至少4 张票</small><br/>
                                <span class="price">每张 $258 </span>
                                <small>至少8 张票</small><br/>

                            </p>
                        </td>-->
                        <td>
                            <p class="">
                                <span class="price">$2,128</span>

                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=et3pg290917s&language=zh_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/42/cn">查看详情</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="display: inline-block;width: 100%;">
                                <div style="width: 70%; display: inline-block; vertical-align: middle;">
                                    <strong>Super Pit</strong>
                                </div>
                                <div class="block-new" style="width: 5%; display: inline-block; vertical-align: middle;">
                                    <div style="text-align: center; color: red;"><i><b>New</b></i></div>
                                </div>
                            </div>
                        </td>

                        <td>
                            区

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$1,288</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$1,288</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$1,488</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=spit290917s&language=zh_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/47/cn">查看详情</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Pit 看台</strong></td>

                        <td>
                            区

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
                        </td>


                        <td>
                            <p class="text-left">
                                <span class="price">每张 $898</span><br/>
                                <small>成人</small><br/>
                                <span class="price">每张 $638</span> <span style="color: red; font-weight: bold;"><i>New</i></span><br/>
                                <small>小孩 (年龄16岁及以下)</small><br/>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                <small></small><br>
                                <span class="price">每张 $1,088</span><br/>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $1,028</span><br/>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $928</span><br/>
                                <small>至少8 张票</small><br>
                                <span class="price">$638</span> <span style="color: red; font-weight: bold;"><i>New</i></span><br/>
                                <small>小孩 (年龄16岁及以下)</small><br/>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">每张 $1,088 </span>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $1,028 </span>
                                <small>至少4 张票</small><br/>
                                <span class="price">每张 $928 </span>
                                <small>至少8 张票</small><br/>

                            </p>
                        </td>-->
                        <td>
                            <p class="text-left">
                                <small></small><br>
                                <span class="price">每张 $1,288</span><br/>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $1,158</span><br/>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $1,088</span><br/>
                                <small>至少8 张票</small><br>
                                <span class="price">$638</span> <span style="color: red; font-weight: bold;"><i>New</i></span><br/>
                                <small>小孩 (年龄16岁及以下)</small><br/>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <div style="height:100%;">

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_1_0.status == 4}" id="tix-20-1-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=epit290917s&language=zh_SG" style="height:50%;">
                                    <span ng-show="buyButtons.tix_20_1_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_1_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_1_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_1_0.status == 3">Selling Fast</span>
                                </a>
                                <a class="button details" href="{{ route('home') }}/tickets/details/20/1/cn"  style="height:50%;">查看详情</a>
                            </div>
                        </td>
                    </tr>

                    <tr class="three-day">
                        <td><strong>Zone 1 走动区 Combination</strong></td>

                        <td style="padding-left:0px !important; padding-right: 0px !important";>
                            <table>
                                <tbody>
                                <tr>
                                    <td>星期五</td>

                                    <td style="border-left:none;">
                                        Pit 看台 <br>

                                        区

                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                                    </td>
                                </tr>
                                <tr style="background-color: #ebebeb;">
                                    <td>星期六</td>

                                    <td style="border-left:none;">
                                        Pit 看台 <br>

                                        区

                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>星期日</td>

                                    <td style="border-left:none;">
                                        优等走动区 <br>

                                        区

                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$498</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="">
                                <span class="price">$598</span>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">每张 $598</span><br/>
                            </p>
                        </td>-->
                        <td>
                            <p class="  ">
                                <span class="price">$698</span><br/>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailabilityPkg.do?eventCode=zone1wacombi2017&language=zh_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/33/cn">查看详情</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Connaught 看台</strong></td>

                        <td>
                            区

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$498</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                <span class="price">每张 $598</span><br/>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $558</span><br/>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $508</span><br/>
                                <small>至少8 张票</small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">每张 $268 </span>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $258 </span>
                                <small>至少4 张票</small><br/>
                                <span class="price">每张 $258 </span>
                                <small>至少8 张票</small><br/>

                            </p>
                        </td>-->
                        <td>
                            <p class="text-left">
                                <span class="price">每张 $698</span><br/>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $628</span><br/>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $588</span><br/>
                                <small>至少8 张票</small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=econ290917s&language=zh_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/8/cn">查看详情</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Padang <br />看台</strong></td>

                        <td>
                            区

                           	<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$398</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                <span class="price">每张 $498</span><br/>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $478</span><br/>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $438</span><br/>
                                <small>至少8 张票</small><br>
                            </p>
                        </td>

                        <!--<td>
                            <p class="text-left">
                                <span class="price">每张 $598 </span>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $538 </span>
                                <small>至少4 张票</small><br/>
                                <span class="price">每张 $508 </span>
                                <small>至少8 张票</small><br/>

                            </p>
                        </td>-->
                        <td>
                            <p class="text-left">
                                <span class="price">每张 $598</span><br/>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $538</span><br/>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $508</span><br/>
                                <small>至少8 张票</small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_3_0.status == 4}" id="tix-20-3-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=epad290917s&language=zh_SG">
                                    <span ng-show="buyButtons.tix_20_3_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_3_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_3_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_3_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/3/cn">查看详情</a>
                            </div>
                        </td>
                    </tr>

                   <tr>
                        <td><strong>Premier 走动区</strong></td>

                        <td>
                            区

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$398</span>
                                <small></small><br>
                            </p>
                        </td>
                       <td>
                           <p class="text-left">
                               <span class="price">每张 $448</span><br/>
                               <small>1-3张票</small><br>
                               <span class="price">每张 $418</span><br/>
                               <small>至少4 张票</small><br>
                               <span class="price">每张 $408</span><br/>
                               <small>至少8 张票</small><br>
                           </p>
                       </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">每张 $268 </span>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $258 </span>
                                <small>至少4 张票</small><br/>
                                <span class="price">每张 $258 </span>
                                <small>至少8 张票</small><br/>

                            </p>
                        </td>-->
                        <td>
                            <p class="text-left">
                                <span class="price">每张 $498</span><br/>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $448</span><br/>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $418</span><br/>
                                <small>至少8 张票</small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=ez1w290917s&language=zh_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/9/cn">查看详情</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Bay 看台</strong></td>

                        <td>
                            区

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$258</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                <span class="price">每张 $278</span><br/>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $268</span><br/>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $258</span><br/>
                                <small>至少8 张票</small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">每张 $268 </span>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $258 </span>
                                <small>至少4 张票</small><br/>
                                <span class="price">每张 $258 </span>
                                <small>至少8 张票</small><br/>

                            </p>
                        </td>-->
                        <td>
                            <p class="text-left">
                                <span class="price">每张 $298</span><br/>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $288</span><br/>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $278</span><br/>
                                <small>至少8 张票</small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=ebay290917s&language=zh_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/4/cn">查看详情</a>
                            </div>
                        </td>
                    </tr>

					 <!--<tr>
                        <td><strong>Super Pit or Top Pit</strong></td>

                        <td>
                            区  <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
								<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
								<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
								<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$1,288</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <p class="text-left">
                                <span class="price">每张 $1,488</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailabilityPkg.do?eventCode=Zone1WaCombi2017&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/47/cn">查看详情</a>
                            </div>
                        </td>
                    </tr>-->



                    </tbody>
                </table>
            </div>                    </div>
    </div>
</section>

<section class="fine-print">
    <div class="chunk">
        <div class="row">
            <div class="span_3 col">
                <ol>
                    <li>如需了解门票销售与通行权条款与使用条件，请点击<a href="http://singaporegp.sg/media/pdf/2017_SGP_T&C.pdf" target="_blank">此处</a>查看.</li>
                    <li>团队预订特价 <br>一次购买四张或以上门票， 即可享受团队预订特价，为您的家人和朋友节省预算。该优惠活动仅限于 Pit、Connaught、Stamford、Esplanade Waterfront、Padang、Bay 热门票 及 Bay 看台。只有在一次购买中完成相同看台的团队预订才能享受该优惠。折扣自动折算并在结账时直接抵扣。团队预订特价仅限于新加坡大奖赛官网（<a href="http://www.singaporegp.sg">www.singaporegp.sg</a>）、票务热线（+65 6738 6738）及所有 SISTIC 售票处。</li>
                    <li>报价为新加坡元含商品与消费税（GST）。</li>
                    <li>查看<a href="http://www.oanda.com/convert/classic">货币转换器</a>. 汇率仅供参考。</li>
                </ol>
            </div>
        </div>
    </div>
</section>