<section class="selection">
    <div class="chunk">
        <div class="row">
            <div class="top-bar col">
                <div class="img-wrapper"><a href="{{ route('home') }}/"><img src="http://singaporegp.sg/media/seb/2017_SGPEventLogo_1.png" alt="" style="width:270px; height:59px;"></a></div>
            </div>

            <div class="social-bar col">
                <div class="addthis-widget">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                        <div class="atclear"></div></div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                    <!--<script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Listings - Singapore Grand Prix_files/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh169" title="AddThis utility frame" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Listings - Singapore Grand Prix_files/sh171.html"></iframe></div><script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Listings - Singapore Grand Prix_files/core153.js"></script>-->
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="styled-button locale" style="margin-bottom: 10px;">
                <a class="en active" href="/tickets/listings/super-early-bird/en"><p>EN</p></a>
                <a class="zh" href="/tickets/listings/super-early-bird/cn"><p>中文</p></a>
            </div>
            <div class="filter-bar col">
                <div class="styled-select ng-scope" data-ng-controller="categorySelectController">
                    <select name="ticket" tabindex="2">
                        <option value="20" selected="">2017 Super Early Bird</option>
                    </select>

                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/on-track/circuit-park-map"><p>Interactive Map</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/tickets/sales-channels/singapore"><p>OUTLETS AND <br> AUTHORISED RESELLERS</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/off-track/headliners"><p>Entertainment Highlights</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://singaporegp.sg/media/pdf/2017%20Ticketing%20FAQs_5%20Sep%202016.pdf">
                        <p>FAQ</p>
                    </a>
                </div>
            </div>
        </div>
    </div>    </section>

<section class="ticket-group" data-tickets-statuses="">
    <div class="chunk">
        <div class="row">
            <div class="tickets-listing col">
                <!--<h2>2017 SUPER EARLY BIRD <span style="font-size: 16px;">(29 September, 30 September, 1 October 2017*)</span>
                    <div style="font-size: 12px;">*Race dates are based on provisional schedule and subject to change</div>
                </h2>-->
                <h2>2017 SUPER EARLY BIRD
                    <div style="font-size: 13px; font-weight: 300;">
                        (The 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX is provisionally scheduled to be held from 29 September to 1 October 2017)
                    </div>
                </h2>

                <table>
                    <caption></caption>


                    <colgroup width="17%"></colgroup>
                    <colgroup width="19%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="13%"></colgroup>
                    <!--<colgroup width="12%"></colgroup>-->
                    <thead>
                    <tr>
                        <th>Ticket Category</th>
                        <th>Zone Access</th>
                        <th>2017 Super Early Bird Price <br><small>(12 Sep 2016 to <br>2 Dec 2016)</small></th>
                        <th>2017 Early Bird Price <br><small>(3 Dec 2016 to <br>8 May 2017)</small></th>
                        <th>2017 Regular Price<br><small>(9 May 2017 to <br>Race Week)</small></th>
                        <th>Availability</th>
                    </tr>

                    </thead>
                    <tbody>

                    <tr>
                        <td><strong>Turn 3 Premier Grandstand</strong></td>

                        <td>
                            Zones
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$1,688</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="">
                                <span class="price">$2,128</span>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$598 each</span>
                                <small></small><br>
                            </p>
                        </td>-->
                        <td>
                            <p>
                                <span class="price">$2,128</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=et3pg290917s&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/42">View Details</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div style="display: inline-block;width: 100%;">
                                <div style="width: 70%; display: inline-block; vertical-align: middle;">
                                    <strong>Super Pit</strong>
                                </div>
                                <div class="block-new" style="width: 5%; display: inline-block; vertical-align: middle;">
                                    <div style="text-align: center; color: red;"><i><b>New</b></i></div>
                                </div>
                            </div>
                        </td>

                        <td>
                            Zones
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$1,288</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$1,288</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$1,488</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=spit290917s&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/47">View Details</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Pit Grandstand</strong></td>

                        <td>
                            Zones

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
                        </td>


                        <td>


                            <p class="text-left">
                                <span class="price">$898 each</span><br/>
                                <small>ADULT</small><br/>
                                <span class="price">$638 each</span> <span style="color: red; font-weight: bold;"><i>New</i></span><br/>
                                <small>JUNIOR – AGED 16 YEARS AND BELOW</small><br/>
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                <small></small><br>
                                <span class="price">$1,088 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$1,028 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$928 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                                <span class="price">$638 each</span> <span style="color: red; font-weight: bold;"><i>New</i></span><br/>
                                <small>JUNIOR – AGED 16 YEARS AND BELOW</small><br/>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">$1,088 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$1,028 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$928 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                                <small></small><br>
                            </p>
                        </td>-->
                        <td>
                            <p class="text-left">
                                <small></small><br>
                                <span class="price">$1,288 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$1,158 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$1,088 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                                <span class="price">$638 each</span> <span style="color: red; font-weight: bold;"><i>New</i></span><br/>
                                <small>JUNIOR – AGED 16 YEARS AND BELOW</small><br/>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <div style="height:100%;">

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_1_0.status == 4}" id="tix-20-1-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=epit290917s&language=en_SG"
                                        style="height:50%;">
                                    <span ng-show="buyButtons.tix_20_1_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_1_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_1_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_1_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/1" style="height:50%;">View Details</a>
                            </div>
                        </td>
                    </tr>

                    <tr class="three-day">
                        <td><strong>Zone 1 Walkabout Combination</strong></td>

                        <td style="padding-left:0px !important; padding-right: 0px !important";>
                            <table>
                                <tbody>
                                <tr >
                                    <td>FRI</td>

                                    <td style="border-left:none;">
                                        Pit Grandstand <br>
                                        Zones

                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                                    </td>
                                </tr>
                                <tr style="background-color: #ebebeb;">
                                    <td>SAT</td>

                                    <td style="border-left:none;">
                                        Pit Grandstand <br>
                                        Zones

                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SUN</td>

                                    <td style="border-left:none;">
                                        Premier Walkabout  <br>

                                        Zones

                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                                        <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$498</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="">
                                <span class="price">$598</span>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$598 each</span>
                                <small></small><br>
                            </p>
                        </td>-->
                        <td>
                            <p class="">
                                <span class="price">$698</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" style="line-height:90px;" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailabilityPkg.do?eventCode=zone1wacombi2017&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" style="line-height:90px;" href="{{ route('home') }}/tickets/details/20/33">View Details</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Connaught Grandstand</strong></td>

                        <td>
                            Zone
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$498</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                <span class="price">$598 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$558 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$508 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                                <small></small>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">$498 each</span><br/>
                                <small>1 to 3 Tickets</small><br>
                                <span class="price">$478 each</span><br/>
                                <small>Minimum 4 Tickets</small><br>
                                <span class="price">$438 each</span><br/>
                                <small>Minimum 8 Tickets</small><br>
                            </p>
                        </td>-->

                        <td>
                            <p class="text-left">
                                <span class="price">$698 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$628 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$588 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                                <small></small>
                            </p>
                        </td>
                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_7_0.status == 4}" id="tix-20-7-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=econ290917s&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_7_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_7_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_7_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_7_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/8">View Details</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Padang Grandstand</strong></td>

                        <td>
                            Zone
                           
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$398</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                <span class="price">$498 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$478 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$438 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>

                                <small></small>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">$498 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$478 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$438 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>

                                <small></small>
                            </p>
                        </td>-->
                        <td>
                            <p class="text-left">
                                <span class="price">$598 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$538 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$508 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>

                                <small></small>
                            </p>
                        </td>


                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_3_0.status == 4}" id="tix-20-3-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=epad290917s&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_3_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_3_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_3_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_3_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/3">View Details</a>
                            </div>
                        </td>
                    </tr>

                   <tr>
                        <td><strong>Premier Walkabout</strong></td>

                        <td>
                            Zones <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
											<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
											<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
											<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$398</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                <span class="price">$448 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$418 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$408 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                                <small></small>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$598 each</span>
                                <small></small><br>
                            </p>
                        </td>-->
                        <td>
                           <p class="text-left">
                                <span class="price">$498 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$448 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$418 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                                <small></small>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=ez1w290917s&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/9">View Details</a>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Bay Grandstand</strong></td>

                        <td>
                            Zones

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a>
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$258</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                <span class="price">$278 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$268 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$258 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>

                                <small></small>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">$278 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$268 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$258 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>

                                <small></small>
                            </p>
                        </td>-->
                        <td>
                            <p class="text-left">
                                <span class="price">$298 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$288 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$278 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>

                                <small></small>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=ebay290917s&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/4">View Details</a>
                            </div>
                        </td>
                    </tr>

                    <!--<tr>
                        <td><strong>Super Pit or Top Pit</strong></td>

                        <td>
                            Zones 
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
							<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
                        </td>

                        <td>
                            <p class="">
                                <span class="price">$1,288</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <p class="text-left">
                                <span class="price">$1,488 each</span>
                                <small></small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_4_0.status == 4}" id="tix-20-4-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailabilityPkg.do?eventCode=Zone1WaCombi2016&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_4_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_4_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_4_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="{{ route('home') }}/tickets/details/20/47">View Details</a>
                            </div>
                        </td>
                    </tr>-->





                    </tbody>
                </table>
            </div>                    </div>
    </div>
</section>

<section class="fine-print">
    <div class="chunk">
        <div class="row">
            <div class="span_3 col">
                <ol>
                    <li>For Terms and Conditions of Tickets Sale and Entry, click <a href="http://singaporegp.sg/media/pdf/2017_SGP_T&C.pdf" target="_blank">here</a> to view.</li>
                    <li>Group Booking Special <br>The Group Booking Special offers fantastic savings to family and friends who purchase four or more tickets in a single transaction. This incentive is available for the Pit, Connaught, Stamford, Padang, Esplanade and Bay Grandstands from the Early Bird Phase. <br><br>To be eligible for this offer, a complete group booking must be made in a single transaction for the same grandstand. Discounts will be auto-calculated and applied upon checkout. This group booking offer is available on the official Singapore GP website (<a href="http://www.singaporegp.sg/">www.singaporegp.sg</a>), via the ticketing hotline (+65 6738 6738) and at all SISTIC outlets.</li>
                    <li>Prices quoted are in Singapore Dollars and include Goods and Services Tax (GST).</li>
                    <li>View <a href="http://www.oanda.com/convert/classic">Currency Converter</a>. The exchange rates are for reference only.</li>
                </ol>
            </div>
        </div>
    </div>
</section>