{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2017 Formula 1 Night Race - Tickets Details' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script src="http://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script type="text/javascript" src="/javascripts/ticketsdetailsbundle.js"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/tickets-details.min.css"/>


    <style>
        .swipe {
            overflow: hidden;
            visibility: hidden;
            position: relative;
        }
        .bitofheight{
            height:60px !important;
            padding: 21px !important;
        }
        .moveup{
            padding-top:10px !important;
        }
        .buttontesting{
            height: 80px !important;
            line-height: 20px !important;
            padding-top: 20px !important;

        }
        .swipe-wrap {
            overflow: hidden;
            position: relative;
        }
        .swipe-wrap > div {
            float:left;
            width:100%;
            position: relative;
        }

        table.details td:nth-child(3n) {
            background-color: #13324f;
            color: #fff;
        }

        table.details th:nth-child(3n) {
            color: #fff;
        }

        @media screen and (min-width: 768px) {
            .confirm-buy .three-day table tr td, .tickets-details .three-day table tr td {
                padding: 6% 5%;
            }
            .three-day table tr td:nth-child(odd) {
                border-left: 0;
                font-weight: 600;
                text-align: center;
            }
        }

    </style>
{% endblock %}


{% block content %}

    {% if ticketId == 1 %}
        {% if lang == 'en' %}
            {% embed "layouts.ticketSEB.pit_en" %}{% endembed %}
        {% else %}
            {% embed "layouts.ticketSEB.pit_cn" %}{% endembed %}
        {% endif %}
    {% elseif ticketId == 3 %}
        {% if lang == 'en' %}
            {% embed "layouts.ticketSEB.padang_en" %}{% endembed %}
        {% else %}
            {% embed "layouts.ticketSEB.padang_cn" %}{% endembed %}
        {% endif %}
    {% elseif ticketId == 4 %}
        {% if lang == 'en' %}
            {% embed "layouts.ticketSEB.bay_en" %}{% endembed %}
        {% else %}
            {% embed "layouts.ticketSEB.bay_cn" %}{% endembed %}
        {% endif %}
    {% elseif ticketId == 7 %}
        {% if lang == 'en' %}
            {% embed "layouts.ticketSEB.stamford_en" %}{% endembed %}
        {% else %}
            {% embed "layouts.ticketSEB.stamford_cn" %}{% endembed %}
        {% endif %}
    {% elseif ticketId == 8 %}
        {% if lang == 'en' %}
            {% embed "layouts.ticketSEB.connaught_en" %}{% endembed %}
        {% else %}
            {% embed "layouts.ticketSEB.connaught_cn" %}{% endembed %}
        {% endif %}
	{% elseif ticketId == 9 %}
        {% if lang == 'en' %}
            {% embed "layouts.ticketSEB.premier-walkabout_en" %}{% endembed %}
        {% else %}
            {% embed "layouts.ticketSEB.premier-walkabout_cn" %}{% endembed %}
        {% endif %}	
    {% elseif ticketId == 33 %}
        {% if lang == 'en' %}
            {% embed "layouts.ticketSEB.z1com_en" %}{% endembed %}
        {% else %}
            {% embed "layouts.ticketSEB.z1com_cn" %}{% endembed %}
        {% endif %}
	{% elseif ticketId == 42 %}
        {% if lang == 'en' %}
            {% embed "layouts.ticketSEB.turn3-premier_en" %}{% endembed %}
        {% else %}
            {% embed "layouts.ticketSEB.turn3-premier_cn" %}{% endembed %}
        {% endif %}
    {% elseif ticketId == 47 %}
        {% if lang == 'en' %}
            {% embed "layouts.ticketSEB.super-pit_en" %}{% endembed %}
        {% else %}
            {% embed "layouts.ticketSEB.super-pit_cn" %}{% endembed %}
        {% endif %}
    {% endif %}

{% endblock %}
