{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets Listings' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script src="http://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <!--<script type="text/javascript" src="/javascripts/ticketslistingsbundle.js"></script>-->
	<script type="text/javascript" src="/javascripts/ticketsdetailsbundle.js"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/tickets-listings.min.css"/>
	
    <style>
        .swipe {
            overflow: hidden;
            visibility: hidden;
            position: relative;
        }
        .buttontesting{
            height: 80px !important;
            line-height: 20px !important;
            padding-top: 20px !important;

        }
        .swipe-wrap {
            overflow: hidden;
            position: relative;
        }
        .swipe-wrap > div {
            float:left;
            width:100%;
            position: relative;
        }
        @media screen and (min-width: 768px) {
            .tickets-listing > table td a.button {
                line-height:90px;
            }

            .tickets-listing .three-day table tr td {
                padding: 6% 6%;
            }
        }

        .tickets-listing>table td:nth-child(3n) {
            background-color: #13324f;
            color: #fff;
        }

        .tickets-listing>table th:nth-child(3n) {
            color: #fff;
        }




    </style>
{% endblock %}

{#
    page content
#}
{% block content %}


    {% if lang == 'en' %}
        {% embed "layouts.ticketSEB.listingsSEB" %}{% endembed %}
    {% else %}
        {% embed "layouts.ticketSEB.listingsSEB_cn" %}{% endembed %}
    {% endif %}


{% endblock %}