<section class="selection">
    <div class="chunk">
        <div class="row">
            <div class="top-bar col">
                <div class="img-wrapper"><a href="{{ route('home') }}/"><img src="http://singaporegp.sg/media/seb/2017_SGPEventLogo_1.png" alt="" style="width:270px; height:59px;"></a></div>
            </div>

            <div class="social-bar col">
                <div class="addthis-widget">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                        <div class="atclear"></div>
                    </div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                    <!--<script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh579" title="AddThis utility frame" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/sh171.html"></iframe></div><script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/core153.js"></script>-->
					<script type="text/javascript" src="/addthis_widget.js"></script>
                    <script type="text/javascript" src="/core153.js"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
			<div class="styled-button locale" style="margin-bottom: 10px;">
				<a class="en" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'en'}) }}">EN</a>
				<a class="zh active" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'cn'}) }}">中文</a>
			</div>
            <div class="filter-bar col">
                <div class="styled-select ng-scope" data-ng-controller="categorySelectController">
                    <select name="ticket" tabindex="2">
                        <option value="20" selected="">2017 优惠预售票期</option>
                    </select>

                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/on-track/circuit-park-map"><p>赛场互动地图</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/tickets/sales-channels/singapore"><p>授权票务代售处</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/off-track/headliners"><p>娱乐亮点</p></a>
                </div>
				<div class="styled-button">
                     <a href="http://singaporegp.sg/media/pdf/2017%20Ticketing%20FAQs_5%20Sep%202016.pdf"><p>常见问题</p></a>
                </div>
							
                
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="tickets-details col" data-tickets-statuses="">
                <h2>2017 优惠预售票期
                    <div style="color:#ffc414; font-size: 13px; font-weight: 300;">
                        (The 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX is provisionally scheduled to be held from 29 September to 1 October 2017)
                    </div>
                </h2>

                <table class="details">
                    <caption></caption>

                    <colgroup width="15%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="15%"></colgroup>
                    <thead>
                    <tr>
                        <th>票类</th>
                        <th>可进入的娱乐区域</th>
                        <th>2017 优惠预售票期<br><small>(2016年09月12日 至 2016年12月2日)</small></th>
                        <th>2017 预售票期<br><small>(2016年12月3日 至 2017年5月8日)</small></th>
                        <th>2017 普通售票期 <br><small>(2017年5月9日至赛事周)</small></th>
                        <th>余票</th>
                    </tr>

                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Padang <br />看台</strong></td>

                        <td>
                            区

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$398</span>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">每张 $498 </span>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $478 </span>
                                <small>至少4 张票</small><br/>
                                <span class="price">每张 $438 </span>
                                <small>至少8 张票</small><br/>

                            </p>
                        </td>-->
                        <td>
                            <p class="text-left">
                                <span class="price">每张 $498</span><br>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $478</span><br>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $438</span><br>
                                <small>至少8 张票</small><br>
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                <span class="price">每张 $598</span><br>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $538</span><br>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $508</span><br>
                                <small>至少8 张票</small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_3_0.status == 4}" id="tix-20-3-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=epad290917s&language=zh_SG">
                                    <span ng-show="buyButtons.tix_20_3_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_3_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_3_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_3_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="/tickets/listings/super-early-bird">查看其票类</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="map">
                    <div class="img-wrapper">
                        <img src="/images/map_3.jpg" alt="">
                    </div>

                    <div class="race_zones">
                        <table>
                            <thead>
                            <tr>
                                <th colspan="4">
                                    区
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td class="">1</td>

                                <td class="">2</td>

                                <td class="">3</td>

                                <td class="accessibleZ4">4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>            </div>
    </div>
</section>

<section class="tickets-information">
    <div class="chunk">
        <div class="row">
            <div class="tickets-pricing col">
                <table>
                    <caption></caption>
                    <colgroup width="100%"></colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">Pricing Details</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <tr>
                        <td><i>$398</i></td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a class="button bitofheight details" href="/tickets/listings/super-early-bird">查看其票类</a>
                            <a class="button buy" id="tix2-20-3-0" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_3_0.status == 4}" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=epad290917s&language=zh_SG" data-="">
                                <span ng-show="buyButtons.tix2_20_3_0.status == 4" class="ng-hide">售罄</span>
                                <span ng-hide="buyButtons.tix2_20_3_0.status == 4" class="">立即购买</span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div data-ng-controller="ticketDetailContentController" class="tickets-writeup col ng-scope">

                <h2>2016 优惠预售票期 </h2>
                <h5>PADANG 看台</h5>

                <p>Padang 看台位于赛道左侧，从这里可以看到赛车以 240 公里时速驶过极具标志性的市政大厦与高等法院旧址，并全速奔向新加坡司令弯（10 号弯）。</p>
                <p>这里的观众可便捷地来到相邻的 Padang 舞台，尽情观赏每晚由知名巨星倾情呈献的全长演唱会。区 4 的其他热门景点包括 F1 村庄和狮城美食村。</p>
                <p>持票人可前往<strong>区 4</strong>观赛。</p>
                <!--                     <h3>自选套票中也含有此票种</h3>
                                    <p>自选套票能够让车迷在三天时间中从街道赛道的不同区域自由观赛。观众可从以下不同的自选套票中任选其一，以便更好地体验滨海湾公路赛道的惊险赛况与精彩演出。</p>
                                    <p>查看<strong><a href="../ticket/ticket-details-chinese.php?category_id=4" target="_blank">此处</a></strong>提供的Combination（自选）套票的种类。</p>
                 -->
            </div>

        </div>
    </div>
</section>

<section class="tickets-extras">
    <div class="chunk">
        <div class="row">
            <div class="related-photos col" data-photo-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <ul style="width: 1920px; margin-left: 0px;">
								<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/cars_race_past_the_padang_grandstand_towards_turn_10.jpg" title="Cars race past the Padang Grandstand towards Turn 10" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/cars_race_past_the_padang_grandstand_towards_turn_10.jpg" alt=""></a></li>
								<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/padang_grandstand_spectators_witnessing_the_cars_head_towards_turn_10.jpg" title="Padang Grandstand spectators witnessing the cars head towards Turn 10" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/padang_grandstand_spectators_witnessing_the_cars_head_towards_turn_10.jpg" alt=""></a></li>
								<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/patrons_are_spoilt_for_choice_with_a_wide_variety_of_food_and_beverage_options_available_at_the_padang.jpg" title="Patrons are spoilt for choice with a wide variety of food and beverage options available at the Padang" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/patrons_are_spoilt_for_choice_with_a_wide_variety_of_food_and_beverage_options_available_at_the_padang.jpg" alt=""></a></li>
								<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/soak_up_the_electrifying_atmosphere_at_the_padang_stage_with_the_nightly_headlining_concerts.jpg" title="Soak up the electrifying atmosphere at the Padang Stage with the nightly headlining concerts" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/soak_up_the_electrifying_atmosphere_at_the_padang_stage_with_the_nightly_headlining_concerts.jpg" alt=""></a></li>
								<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/theatrical_performances_captivating_patrons_at_the_padang.jpg" title="Theatrical performances captivating patrons at the Padang" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/theatrical_performances_captivating_patrons_at_the_padang.jpg" alt=""></a></li>
								<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/track_view_as_seen_from_padang_grandstand.jpg" title="Track view as seen from Padang Grandstand" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/padang_grandstand/track_view_as_seen_from_padang_grandstand.jpg" alt=""></a></li>
						</ul>

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>

                    <figcaption>
                        相关照片
                    </figcaption>
                </figure>
            </div>
            <div class="panoramic-view col" data-panorama-viewer="">
                <figure>
                    <div class="img-wrapper">
                        <img src="http://singaporegp.sg/Uploaded/ticketing/3/padang_panoramic.jpg" alt="" style="width: 839px; height: 348px; margin-left: 0px;">

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>
                    <figcaption>
                        全景照
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="seating-plans zone-access col" data-fancy-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <a class="fancybox" href="http://singaporegp.sg/media/ticketing/zone/2016_Padang_Grandstand_2208x768px.jpg"><img src="http://singaporegp.sg/media/ticketing/zone/2016_Padang_Grandstand_2208x768px.jpg" alt=""></a>
                    </div>
                    <figcaption>
                        区域通道 与 座位分布
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="fine-print">
    <div class="chunk">
        <div class="row">
            <div class="span_3 col">
                <ol>
					<li>如需了解门票销售与通行权条款与使用条件，请点击<a href="http://singaporegp.sg/media/pdf/2017_SGP_T&C.pdf" target="_blank">此处</a>查看.</li>
							<li>团队预订特价 <br>一次购买四张或以上门票， 即可享受团队预订特价，为您的家人和朋友节省预算。该优惠活动仅限于 Pit、Connaught、Stamford、Esplanade Waterfront、Padang、Bay 热门票 及 Bay 看台。只有在一次购买中完成相同看台的团队预订才能享受该优惠。折扣自动折算并在结账时直接抵扣。团队预订特价仅限于新加坡大奖赛官网（<a href="http://www.singaporegp.sg">www.singaporegp.sg</a>）、票务热线（+65 6738 6738）及所有 SISTIC 售票处。</li>
                    <li>报价为新加坡元含商品与消费税（GST）。</li>
					<li>查看<a href="http://www.oanda.com/convert/classic" target="_target">货币转换器</a>. 汇率仅供参考。</li>
                </ol>
            </div>
        </div>
    </div>
</section>