<section class="selection">
    <div class="chunk">
        <div class="row">
            <div class="top-bar col">
                <div class="img-wrapper"><a href="{{ route('home') }}/"><img src="http://singaporegp.sg/media/seb/2017_SGPEventLogo_1.png" alt="" style="width:270px; height:59px;"></a></div>
            </div>

            <div class="social-bar col">
                <div class="addthis-widget">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                        <div class="atclear"></div>
					</div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                    <!--<script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh443" title="AddThis utility frame" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/sh171.html"></iframe></div><script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/core153.js"></script>-->
					<script type="text/javascript" src="/addthis_widget.js"></script>
                    <script type="text/javascript" src="/core153.js"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
			<div class="styled-button locale" style="margin-bottom: 10px;">
                    <a class="en active" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'en'}) }}"><p>EN</p></a>
                    <a class="zh" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'cn'}) }}"><p>中文</p></a>
                </div>
            <div class="filter-bar col">				
                <div class="styled-select ng-scope" data-ng-controller="categorySelectController">
                    <select name="ticket" tabindex="2">
                        <option value="20" selected="">2017 Super Early Bird</option>
                    </select>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/on-track/circuit-park-map"><p>Interactive Map</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/tickets/sales-channels/singapore"><p>OUTLETS AND <br> AUTHORISED RESELLERS</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/off-track/headliners"><p>Entertainment Highlights</p></a>
                </div>
				<div class="styled-button">
					<a href="http://singaporegp.sg/media/pdf/2017%20Ticketing%20FAQs_5%20Sep%202016.pdf"><p>FAQ</p></a>
				</div>
                
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="tickets-details col" data-tickets-statuses="">
                <h2>2017 SUPER EARLY BIRD
                    <div style="color:#ffc414; font-size: 13px; font-weight: 300;">
                        (The 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX is provisionally scheduled to be held from 29 September to 1 October 2017)
                    </div>
                </h2>

                <table class="details">
                    <caption></caption>

                    <colgroup width="15%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="15%"></colgroup>
                    <thead>
                    <tr>
                        <th>Ticket Category</th>
                        <th>Zone Access</th>
                        <th>2017 Super Early Bird Price <br><small>(12 Sep 2016 to <br>2 Dec 2016)</small></th>
                        <th>2017 Early Bird Price <br><small>(3 Dec 2016 to <br>8 May 2016)</small></th>
                        <th>2017 Regular Price <br><small>(9 May 2017 to <br>Race Week)</small><br></th>
                        <th>Availability</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Pit Grandstand</strong></td>

                        <td>
                            Zones

                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
							
                        </td>


                        <td>
                            <p class="text-left">
                                <span class="price">$898 each</span><br/>
                                <small>ADULT</small><br/>
                                <span class="price">$638 each</span> <span style="color: red; font-weight: bold;"><i>New</i></span><br/>
                                <small>JUNIOR – AGED 16 YEARS AND BELOW</small><br/>
                            </p>
                        </td>
                        <!--<td>
                            <p class="paddingbalance">
                            <p class="text-left">
                                <span class="price">$1,088 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$1,028 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$928 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                            </p>
                            <small></small><br>
                            </p>
                        </td>-->
                        <td>
                            <p class="">
                            <p class="text-left">
                                <small></small><br>
                                <span class="price">$1,088 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$1,028 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$928 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                                <span class="price">$638 each</span> <span style="color: red; font-weight: bold;"><i>New</i></span><br/>
                                <small>JUNIOR – AGED 16 YEARS AND BELOW</small><br/>
                            </p>
                            <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="">
                            <p class="text-left">
                                <small></small><br>
                                <span class="price">$1,288 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$1,158 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$1,088 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                                <span class="price">$638 each</span> <span style="color: red; font-weight: bold;"><i>New</i></span><br/>
                                <small>JUNIOR – AGED 16 YEARS AND BELOW</small><br/>
                            </p>
                            <small></small><br>
                            </p>
                        </td>
                        <td>
                            <div style="height:100%; vertical-align:middle;">

                                <a style="height:50%; line-height:88px;" class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_1_0.status == 4}" id="tix-20-1-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=epit290917s&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_1_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_1_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_1_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_1_0.status == 3">Selling Fast</span>
                                </a>

                                <a style="height:50%; line-height:88px;" class="button details" href="/tickets/listings/super-early-bird">View Other Tickets</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="map">
                    <div class="img-wrapper">
                        <img src="http://singaporegp.sg/ticket/map_3d_2014/map_1.jpg" alt="">
                    </div>

                    <div class="race_zones">
                        <table>
                            <thead>
                            <tr>
                                <th colspan="4">
                                    Zones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td class="accessibleZ1">1</td>

                                <td class="accessibleZ2">2</td>

                                <td class="accessibleZ3">3</td>

                                <td class="accessibleZ4">4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>            </div>
    </div>
</section>

<section class="tickets-information">
    <div class="chunk">
        <div class="row">
            <div class="tickets-pricing col">
                <table>
                    <caption></caption>
                    <colgroup width="45%"></colgroup>
                    <colgroup width="55%"></colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">Pricing details</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">

                    <tr>
                        <td style="text-align: left;  width:50%;">ADULT</td>
                        <td  style="text-align: center; width:50%;"><i>$898</i></td>
                    </tr>
                    <tr>
                        <td style="text-align: left; width:50%;">JUNIOR – AGED 16 YEARS AND BELOW</td>
                        <td  style="text-align: center;  width:50%;"><i>$638</i></td>
                    </tr>

                    <!--<tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>-->
                    <tr>
                        <td colspan="2">
                            <a class="button details" href="/tickets/listings/super-early-bird">View Other Tickets</a>
							<a class="button buy" id="tix2-20-1-0" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_1_0.status == 4}" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=epit290917s&language=en_SG" data-="">
								<span ng-show="buyButtons.tix2_20_1_0.status == 4" class="ng-hide">Sold Out</span>
								<span ng-hide="buyButtons.tix2_20_1_0.status == 4" class="">Buy Now</span>
							</a>
                            
                        </td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <div data-ng-controller="ticketDetailContentController" class="tickets-writeup col ng-scope">

                <h2>2017 SUPER EARLY BIRD </h2>
                <h5>PIT GRANDSTAND</h5>

                <p>Situated right opposite the team garages, Pit Grandstand ticketholders are in an excellent position to catch the adrenaline-pumping action on the Pit Straight and enjoy great views of the Pit Lane, starting grid and finish line.</p>
				<p>Petrolheads will experience the thrill first-hand as drivers tackle the final corner at about 200 km/h before going full throttle towards the chequered flag. Join in the celebrations on the track after the race and witness the crowning of a champion.</p>
				<p>The Pit Straight was also the setting for AUTOSPORT Award's 'LG Moment of the Year' in 2010, where Heikki Kovalainen's Lotus burst into flames in the final leg of the race, prompting him to extinguish the fire himself.</p>
                <p>There is a brand new price point for young fans. Patrons aged 16 years and below will be able to enjoy Pit Grandstand tickets at a special price of $638. Limited tickets available.</p>
				<p>Patrons have access to <strong><a class="iframes" href="http://www.singaporegp.sg/tickets/zones/1" data-fancybox-type="iframe">Zone 1</a></strong>, <strong><a class="iframes" href="http://www.singaporegp.sg/tickets/zones/2" data-fancybox-type="iframe">Zone 2</a></strong>, <strong><a class="iframes" href="http://www.singaporegp.sg/tickets/zones/3" data-fancybox-type="iframe">Zone 3</a></strong> and <strong><a class="iframes" href="http://www.singaporegp.sg/tickets/zones/4" data-fancybox-type="iframe">Zone 4</a>.</strong></p>
				

								<!-- <h3>SUNDAY-ONLY TICKETS FOR PIT GRANDSTAND</h3>
    <p>Fans who want to enjoy the thrilling race action at the Pit Straight can also opt for the <a href="{{ route('home') }}/tickets/details/ticket/ticket-details.php?category_id=5"><strong>single-day Sunday Pit Grandstand ticket</strong></a><strong>.</strong></p>
    <h3>ALSO AVAILABLE AS PART OF A COMBINATION PACKAGE</h3>
    <p>Combination Packages offer patrons the flexibility to experience different parts of the street circuit on each of the three days. To enjoy the best of what the Marina Bay Street Circuit has to offer, check out the variety of Combination Packages available&nbsp;<strong><a href="{{ route('home') }}/tickets/details/ticket/ticket-details.php?category_id=4">here</a></strong>.</p>
 -->

            </div>
        </div>
    </div>
</section>

<section class="tickets-extras">
    <div class="chunk">
        <div class="row">
            <div class="related-photos col" data-photo-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <ul style="width: 1920px; margin-left: -320px;">
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/Fireworks-light-up-the-sky-after-the-chequered-flag-is-waved.JPG" title="Fireworks light up the sky after the chequered flag is waved" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/Fireworks-light-up-the-sky-after-the-chequered-flag-is-waved.JPG" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-offers-excellent-views-of-the-podium-celebrations.jpg" title="Pit Grandstand offers excellent views of the podium celebrations" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-offers-excellent-views-of-the-podium-celebrations.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-patrons-can-witness-the-action-from-the-team-garages-as-well-as-the-Pit-Straight.jpg" title="Pit Grandstand patrons can witness the action from the team garages as well as the pit straight" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-patrons-can-witness-the-action-from-the-team-garages-as-well-as-the-Pit-Straight.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-patrons-can-enjoy-the-spectacular-view-of-the-cars-tackling-the-last-corner-of-the-track-and-heading-towards-the-finish-line.JPG" title="Spectacular view of the cars tackling the last corner of the track and head towards the finish line" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-patrons-can-enjoy-the-spectacular-view-of-the-cars-tackling-the-last-corner-of-the-track-and-heading-towards-the-finish-line.JPG" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-patrons-get-an-extra-dose-of-adrenaline,-with-fantastic-views-of-the-starting-grid.jpg" title="Pit Grandstand patrons get an extra dose of adrenaline, with fantastic views of the starting grid" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-patrons-get-an-extra-dose-of-adrenaline,-with-fantastic-views-of-the-starting-grid.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://www.singaporegp.sg/Uploaded/Pit-Grandstand-offers-unrivalled-views-of-the-pit-straight.jpg" title="Pit Grandstand offers unrivalled views of the pit straight" rel="gallery"><img src="http://www.singaporegp.sg/Uploaded/Pit-Grandstand-offers-unrivalled-views-of-the-pit-straight.jpg" alt=""></a></li>
                        </ul>

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>

                    <figcaption>
                        Related photos
                    </figcaption>
                </figure>
            </div>
            <div class="panoramic-view col" data-panorama-viewer="">
                <figure>
                    <div class="img-wrapper">
                        <img src="http://singaporegp.sg/images/pit_grandstand_panoramic.jpg" alt="" style="margin-left: 0px; width: 964px; height: 348px;">

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>
                    <figcaption>
                        Panoramic view
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="seating-plans zone-access col" data-fancy-gallery="">
                <figure>
                    <div class="img-wrapper">
                       <a class="fancybox" href="http://singaporegp.sg/media/ticketing/zone/2017_Pit_SEB_1365x768px.jpg"><img src="http://singaporegp.sg/media/ticketing/zone/2017_Pit_SEB_1365x768px.jpg" alt=""></a>
                    </div>
                    <figcaption>
                        Seating plans and zone access
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="fine-print">
    <div class="chunk">
        <div class="row">
            <div class="span_3 col">
				<ol>
					<li>For Terms and Conditions of Tickets Sale and Entry, click <a href="http://singaporegp.sg/media/pdf/2017_SGP_T&C.pdf" target="_blank">here</a> to view.</li>
							<li>Group Booking Special <br>The Group Booking Special offers fantastic savings to family and friends who purchase four or more tickets in a single transaction. This incentive is only available for the Pit, Connaught, Stamford, Esplanade Waterfront, Padang, Bay Grandstands and Bay Grandstand Hot Tix. <br><br>To be eligible for this offer, a complete group booking must be made in a single transaction for the same grandstand. Discounts will be auto-calculated and applied upon checkout. This group booking offer is available on the official Singapore GP website (<a href="http://www.singaporegp.sg">www.singaporegp.sg</a>), via the ticketing hotline (+65 6738 6738) and at all SISTIC outlets.</li>
							<li>Prices quoted are in Singapore Dollars and include Goods and Services Tax (GST).</li>
					<li>View <a href="http://www.oanda.com/convert/classic" target="_blank">Currency Converter</a>. The exchange rates are for reference only.</li>
				</ol>
			</div>
        </div>
    </div>
</section>