<section class="selection">
    <div class="chunk">
        <div class="row">
            <div class="top-bar col">
                <div class="img-wrapper"><a href="{{ route('home') }}/"><img src="/images/logo_w_date_long.png" alt=""></a></div>
            </div>

            <div class="social-bar col">
                <div class="addthis-widget">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                        <div class="atclear"></div></div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                    <script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh992" title="AddThis utility frame" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/sh171.html"></iframe></div><script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/core153.js"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="filter-bar col">
                <div class="styled-select ng-scope" data-ng-controller="categorySelectController">
                    <select name="ticket" tabindex="2">
                        <option value="20" selected="">2016 优惠预售票期</option>
                    </select>

                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/on-track/circuit-park-map">赛场互动地图</a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/tickets/sales-channels/singapore">授权票务代售处</a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/off-track/headliners">娱乐亮点</a>
                </div>
                <div class="styled-button locale">
                    <a class="en" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'en'}) }}">EN</a>
                    <a class="zh active" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'cn'}) }}">中文</a>
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="tickets-details col" data-tickets-statuses="">
                <h2>2016 优惠预售票期</h2>

                <table class="details">
                    <caption></caption>

                    <colgroup width="13%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <colgroup width="15%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <colgroup width="12%"></colgroup>
                    <thead>
                    <tr>
                        <th>票类</th>
                        <th>可进入的娱乐区域</th>
                        <th>2016 优惠预售票期<br><small>2015年10月14日 至 2015年10月27日</small></th>
                        <!--<th>2016 预售票期<br></th>-->
                        <th>2016 普通售票期 <br></th>
                        <th>余票</th>
                    </tr>

                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Stamford 看台 </strong></td>

                        <td>
                            区

                            4
                        </td>
                        <td>
                            <p class="">
                                <span class="price">$418</span>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">每张 $498 </span>
                                <small>1-3张票</small><br>
                                <span class="price">每张 $478 </span>
                                <small>至少4 张票</small><br/>
                                <span class="price">每张 $438 </span>
                                <small>至少8 张票</small><br/>

                            </p>
                        </td>-->
                        <td>
                            <p class="text-left">
                                <span class="price">每张 $598</span>
                                <small>1-3 张票</small><br>
                                <span class="price">每张 $538</span>
                                <small>至少4 张票</small><br>
                                <span class="price">每张 $508</span>
                                <small>至少? 8 张票</small><br>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_7_0.status == 4}" id="tix-20-7-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=estag160916s&language=zh_SG">
                                    <span ng-show="buyButtons.tix_20_7_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_7_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_7_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_7_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="http://tickets.singaporegp.sg/tickets/2016/cn/all.html">查看其票类</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="map">
                    <div class="img-wrapper">
                        <img src="/images/map_7.jpg" alt="">
                    </div>

                    <div class="zones">
                        <table>
                            <thead>
                            <tr>
                                <th colspan="4">
                                    区
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td class="">1</td>

                                <td class="">2</td>

                                <td class="">3</td>

                                <td class="accessible">4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>            </div>
    </div>
</section>

<section class="tickets-information">
    <div class="chunk">
        <div class="row">
            <div class="tickets-pricing col">
                <table>
                    <caption></caption>
                    <colgroup width="100%"></colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">Pricing Details</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <tr>
                        <td><i>$418</i></td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div>
                                <a class="button bitofheight details" href="http://tickets.singaporegp.sg/tickets/2016/cn/all.html">查看其票类</a>
                                <a class="button buy" id="tix2-20-7-0" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_7_0.status == 4}" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=estag160916s&language=zh_SG" data-="">
                                    <span ng-show="buyButtons.tix2_20_7_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix2_20_7_0.status == 4" class="">立即购买</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div data-ng-controller="ticketDetailContentController" class="tickets-writeup col ng-scope">

                <h2>2016 优惠预售票期 </h2>
                <h5>STAMFORD 看台</h5>

                <p>Stamford 看台拥有几个优等的赛事观看点，从这里可以看到赛车在 7、8 号弯道的拼抢场面，从某些座位还能看到 14 号弯道。赛车退出 DRS 激活区时需要从接近300公里的时速大力刹车减速至每小时110公里，以三档通过纪念馆赛段（7号弯），然后左拐驶上尼诰大道。纪念馆赛段拥有潜在的超车机会，因此发生了多起令人血脉膨胀的意外事故。</p>
                <p>纪念馆赛段拥有潜在的超车机会，因此发生了多起令人血脉膨胀的意外事故。2013 年，Mark Webber 的红牛赛车在比赛进行到最后两圈时疯狂地飞驰着，离颁奖台几乎是触手可及的距离，但是却在 7 号弯出现变速箱故障，并突然燃烧了起来；与此同时，Paul di Resta 因操纵失灵而猛然撞上 7 号弯的防护墙，最终遗憾地取得了第六名。2011 年，迈凯轮车队的 Lewis Hamilton 因为刺破了 Felipe Massa 的法拉利赛车右后轮胎而被罚驶过维修区。</p>
                <p>看台另一侧的观众则能够观赏赛车通过 8 号弯的盛况，在 2011 年的比赛中，Michael Schumacher 从后面撞上了 Sergio Perez 驾驶的索伯赛车并直接导致退赛。&nbsp;</p>
                <p>一些座位上的车迷还能够欣赏到赛车在后半圈的赛程中逼近 14 号弯的激烈厮杀。2012 年，Schumacher 的奔驰赛车就在此处因刹车不良撞上 Jean-Eric Vergne 的Toro Rosso 赛车后部，导致两辆车都不得不退赛。</p>
                <p>持票人可前往<strong>区 4</strong>观赛。</p>

            </div>
        </div>
    </div>
</section>

<section class="tickets-extras">
    <div class="chunk">
        <div class="row">
            <div class="related-photos col" data-photo-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <ul style="width: 1600px; margin-left: 0px;">
                            <li style="width: 320px;">
                                <a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/stamford_grandstand/track_action_as_seen_from_stamford_grandstand.jpg" title="" rel="gallery">
                                    <img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/stamford_grandstand/track_action_as_seen_from_stamford_grandstand.jpg" alt="">
                                </a>
                            </li>
                        </ul>

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>

                    <figcaption>
                        相关照片
                    </figcaption>
                </figure>
            </div>
            <div class="panoramic-view col" data-panorama-viewer="">
                <figure>
                    <div class="img-wrapper">
                        <img src="/images/stamford_panoramic.jpg" alt="" style="width: 1000px; height: 348px; margin-left: 0px;">

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>
                    <figcaption>
                        全景照
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="seating-plans zone-access col" data-fancy-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing/seb/03_Stamford_Grandstand.png"><img src="http://web2.singaporegp.sg/Uploaded/ticketing/seb/03_Stamford_Grandstand.png" alt=""></a>
                    </div>
                    <figcaption>
                        区域通道 与 座位分布
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="fine-print">
    <div class="chunk">
        <div class="row">
            <div class="span_3 col">
                <ol>
                    <li>如需了解门票销售与通行权条款与使用条件，请点击<a href="http://www.singaporegp.sg/images/pdf/2015-SGP-tnc.pdf" target="_blank">此处</a>查看.</li>
                    <li>报价为新加坡元含商品与消费税（GST）。</li>
                    <li>查看<a href="http://www.oanda.com/convert/classic">货币转换器</a>. 汇率仅供参考。</li>
                </ol>
            </div>
        </div>
    </div>
</section>