<section class="selection">
    <div class="chunk">
        <div class="row">
            <div class="top-bar col">
                <div class="img-wrapper"><a href="{{ route('home') }}/"><img src="/images/logo_w_date_long.png" alt=""></a></div>
            </div>

            <div class="social-bar col">
                <div class="addthis-widget">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                        <div class="atclear"></div></div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                    <script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh868" title="AddThis utility frame" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/sh171.html"></iframe></div><script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/core153.js"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="filter-bar col">
                <div class="styled-select ng-scope" data-ng-controller="categorySelectController">
                    <select name="ticket" tabindex="2">
                        <option value="20" selected="">2016 Super Early Bird</option>
                    </select>

                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/on-track/circuit-park-map">Interactive Map</a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/tickets/sales-channels/singapore">Authorised Agents</a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/off-track/headliners">Entertainment Highlights</a>
                </div>
                <div class="styled-button locale">
                    <a class="en active" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'en'}) }}">EN</a>
                    <a class="zh" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'cn'}) }}">中文</a>
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="tickets-details col" data-tickets-statuses="">
                <h2>2016 SUPER EARLY BIRD</h2>

                <table class="details">
                    <caption></caption>

                    <colgroup width="20%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <thead>
                    <tr>
                        <th>Ticket Category</th>
                        <th>Zone Access</th>
                        <th>2016 Super Early Bird Price <br><small>14 Sep 2015 to 27 Sep 2015</small></th>
                        <!--<th>2016 Early Bird Price <br></th>-->
                        <th>2016 Regular Price<br></th>
                        <th>Availability</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><strong>Stamford Grandstand</strong></td>

                        <td>
                            Zone

                            4
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$418</span>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">$498 each</span><br/>
                                <small>1 to 3 Tickets</small><br>
                                <span class="price">$478 each</span><br/>
                                <small>Minimum 4 Tickets</small><br>
                                <span class="price">$438 each</span><br/>
                                <small>Minimum 8 Tickets</small><br>
                            </p>
                        </td>-->

                        <td>
                            <p class="text-left">
                                <span class="price">$598 each</span><br/>
                                <small>1 to 3 Tickets</small><br/>
                                <span class="price">$538 each</span><br/>
                                <small>Minimum 4 Tickets</small><br/>
                                <span class="price">$508 each</span><br/>
                                <small>Minimum 8 Tickets</small><br/>
                                <small></small>
                            </p>
                        </td>
                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_7_0.status == 4}" id="tix-20-7-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=estag160916s&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_7_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_7_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_7_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_7_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button buttontesting details" href="http://tickets.singaporegp.sg/tickets/2016/en/all.html">View Other Tickets</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="map">
                    <div class="img-wrapper">
                        <img src="/images/map_7.jpg" alt="">
                    </div>

                    <div class="zones">
                        <table>
                            <thead>
                            <tr>
                                <th colspan="4">
                                    Zone
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td class="">1</td>

                                <td class="">2</td>

                                <td class="">3</td>

                                <td class="accessible">4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>            </div>
    </div>
</section>

<section class="tickets-information">
    <div class="chunk">
        <div class="row">
            <div class="tickets-pricing col">
                <table>
                    <caption></caption>
                    <colgroup width="100%"></colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">Pricing details</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <tr>
                        <td><i>$418</i></td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div>
                                <a class="button details" href="http://tickets.singaporegp.sg/tickets/2016/en/all.html">View Other Tickets</a>
                                <a class="button buy" id="tix2-20-7-0" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_7_0.status == 4}" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailability.do?eventCode=estag160916s&language=en_SG" data-="">
                                    <span ng-show="buyButtons.tix2_20_7_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix2_20_7_0.status == 4" class="">Buy Now</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <div data-ng-controller="ticketDetailContentController" class="tickets-writeup col ng-scope">

                <h2>2016 SUPER EARLY BIRD </h2>
                <h5>STAMFORD GRANDSTAND</h5>

                <p>The Stamford Grandstand boasts several excellent vantage points, which include views of the cars negotiating Turns 7 and 8 and from certain seats, Turn 14. The cars brake from nearly 300km/h as they exit the DRS activation zone and approach the Memorial (Turn 7) at 110km/h for the third gear left-hander onto Nicoll Highway.</p>
                <p>The Memorial, which offers potential overtaking opportunities, has seen its fair share of exhilarating action. In 2013, Red Bull’s Mark Webber was flying in the final two laps with a podium in sight only to have his car burst into flames due to a gearbox failure at Turn 7; meanwhile Paul di Resta was gunning for sixth place when he understeered and plunged straight into the Turn 7 barriers. In 2011, McLaren's Lewis Hamilton was slapped a drive-through penalty for puncturing the right rear tyre of Felipe Massa's Ferrari.</p>
                <p>At the other end of the grandstand, spectators will be able to enjoy views of the cars tackling Turn 8 where in 2011, Michael Schumacher climbed over the back of Sergio Perez's Sauber and crashed into retirement.</p>
                <p>Selected seats also allow fans to witness cars approaching Turn 14 as they come round again in the second half of the lap. In 2012, Schumacher outbraked himself at this turn and rammed his Mercedes into the back of Jean-Eric Vergne’s Toro Rosso, taking both cars out of the race.&nbsp;</p>
                <p>Patrons have access to <strong>Zone 4.</strong></p>

            </div>
        </div>
    </div>
</section>

<section class="tickets-extras">
    <div class="chunk">
        <div class="row">
            <div class="related-photos col" data-photo-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <ul style="width: 1600px; margin-left: 0px;">
                            <li style="width: 320px;">
                                <a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/stamford_grandstand/track_action_as_seen_from_stamford_grandstand.jpg" title="" rel="gallery">
                                    <img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/stamford_grandstand/track_action_as_seen_from_stamford_grandstand.jpg" alt="">
                                </a>
                            </li>
                        </ul>

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>

                    <figcaption>
                        Related photos
                    </figcaption>
                </figure>
            </div>
            <div class="panoramic-view col" data-panorama-viewer="">
                <figure>
                    <div class="img-wrapper">
                        <img src="/images/stamford_panoramic.jpg" alt="" style="width: 1000px; height: 348px; margin-left: 0px;">

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>
                    <figcaption>
                        Panoramic view
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="seating-plans zone-access col" data-fancy-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing/seb/03_Stamford_Grandstand.png"><img src="http://web2.singaporegp.sg/Uploaded/ticketing/seb/03_Stamford_Grandstand.png" alt=""></a>
                    </div>
                    <figcaption>
                        Seating plans and zone access
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="fine-print">
    <div class="chunk">
        <div class="row">
            <div class="span_3 col">
                <ol>
                    <li>For Terms and Conditions of Tickets Sale and Entry, click <a href="http://www.singaporegp.sg/images/pdf/2015-SGP-tnc.pdf" target="_blank">here</a> to view.</li>
                    <li>Prices quoted are in Singapore Dollars and include Goods and Services Tax (GST).</li>
                    <li>View <a href="http://www.oanda.com/convert/classic">Currency Converter</a>. The exchange rates are for reference only.</li>
                </ol>
            </div>
        </div>
    </div>
</section>