<section class="selection">
    <div class="chunk">
        <div class="row">
            <div class="top-bar col">
                <div class="img-wrapper"><a href="{{ route('home') }}/"><img src="http://singaporegp.sg/media/seb/2017_SGPEventLogo_1.png" alt="" style="width:270px; height:59px;"></a></div>
            </div>

            <div class="social-bar col">
                <div class="addthis-widget">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                        <div class="atclear"></div>
					</div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                    <!--<script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh443" title="AddThis utility frame" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/sh171.html"></iframe></div><script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/core153.js"></script>-->
					<script type="text/javascript" src="/addthis_widget.js"></script>
                    <script type="text/javascript" src="/core153.js"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
			<div class="styled-button locale" style="margin-bottom: 10px;">
                    <a class="en active" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'en'}) }}"><p>EN</p></a>
                    <a class="zh" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'cn'}) }}"><p>中文</p></a>
                </div>
            <div class="filter-bar col">
                <div class="styled-select ng-scope" data-ng-controller="categorySelectController">
                    <select name="ticket" tabindex="2">
                        <option value="20" selected="">2017 Super Early Bird</option>
                    </select>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/on-track/circuit-park-map"><p>Interactive Map</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/tickets/sales-channels/singapore"><p>OUTLETS AND <br> AUTHORISED RESELLERS</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/off-track/headliners"><p>Entertainment Highlights</p></a>
                </div>
				<div class="styled-button">
					<a href="http://singaporegp.sg/media/pdf/2017%20Ticketing%20FAQs_5%20Sep%202016.pdf"><p>FAQ</p></a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="tickets-details col" data-tickets-statuses="">
                <h2>2017 SUPER EARLY BIRD
                    <div style="color:#ffc414; font-size: 13px; font-weight: 300;">
                        (The 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX is provisionally scheduled to be held from 29 September to 1 October 2017)
                    </div>
                </h2>

                <table class="details">
                    <caption></caption>

                    <colgroup width="18%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="16%"></colgroup>
                    <colgroup width="16%"></colgroup>
                    <colgroup width="16%"></colgroup>
                    <colgroup width="15%"></colgroup>
                    <thead>
                    <tr>
                        <th>Ticket Category</th>
                        <th>Zone Access</th>
                        <th>2017 Super Early Bird Price <br><small>(12 Sep 2016 to <br>2 Dec 2016)</small></th>
                        <th>2017 Early Bird Price <br><small>(3 Dec 2016 to <br>8 May 2017)</small></th>
                        <th>2017 Regular Price<br><small>(9 May 2017 to <br>Race Week)</small></th>
                        <th>Availability</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="three-day">
                        <td><strong>Zone 1 Walkabout Combination</strong></td>

                        <td>
							<table>
								<tbody>
									<tr>
										<td>FRI</td>

										<td>
											Pit Grandstand <br>
											Zones									
																		
											<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
											<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
											<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
											<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
										</td>
									</tr>
									<tr>
										<td>SAT</td>

										<td>
											Pit Grandstand <br>
											Zones			
																		
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
										</td>
									</tr>
									<tr>
										<td>SUN</td>

										<td>
											Premier Walkabout <br>
											Zones
																												
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
                            <a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
										</td>
									</tr>
								</tbody>
							</table>							
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$498</span>
                            </p>
                        </td>
                        <td>
                            <p class="">
                                <span class="price">$598</span>
                            </p>
                        </td>
                        <!--<td>
                            <p class="paddingbalance">
                            <p class="text-left">
                                <span class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$598 each</span><br/>
                            </p>
                        </td>-->
                        <td>
                            <p class="">
                            <p>
                                <span class="price">$698</span><br/>
                            </p>
                        </td>
                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_7_0.status == 4}" id="tix-20-7-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailabilityPkg.do?eventCode=zone1wacombi2017&language=en_SG">
                                    <span ng-show="buyButtons.tix_20_7_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix_20_7_0.status == 4" class="">Buy Now</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_7_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_7_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="/tickets/listings/super-early-bird">View Other Tickets</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="map">
                    <div class="img-wrapper">
                        <img src="http://singaporegp.sg/ticket/map_3d_2014/map_33.jpg" alt="">
                    </div>

                    <div class="race_zones">
                        <table>
                            <thead>
                            <tr>
                                <th colspan="4">
                                    Zones
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td class="accessibleZ1">1</td>

                                <td class="accessibleZ2">2</td>

                                <td class="accessibleZ3">3</td>

                                <td class="accessibleZ4">4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>            </div>
    </div>
</section>

<section class="tickets-information">
    <div class="chunk">
        <div class="row">
            <div class="tickets-pricing col">
                <table>
                    <caption></caption>
                    <colgroup width="100%"></colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">Pricing details</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <tr>
                        <td><i>$498</i></td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                                <a class="button details" href="/tickets/listings/super-early-bird">View Other Tickets</a>
                                <a class="button buy" id="tix2-20-7-0" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_7_0.status == 4}" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailabilityPkg.do?eventCode=zone1wacombi2017&language=en_SG" data-="">
                                    <span ng-show="buyButtons.tix2_20_7_0.status == 4" class="ng-hide">Sold Out</span>
                                    <span ng-hide="buyButtons.tix2_20_7_0.status == 4" class="">Buy Now</span>
                                </a>
                            
                        </td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>


            <div data-ng-controller="ticketDetailContentController" class="tickets-writeup col ng-scope">

                <h2>2017 SUPER EARLY BIRD </h2>
                <h5>ZONE 1 WALKABOUT COMBINATION</h5>

                <p>To enjoy the best of what the Marina Bay Street Circuit has to offer, spectators can opt for the Combination Package which provides the flexibility to explore different parts of the street circuit on each of the three days.&nbsp;</p>
				<p>Fans who would like to experience the best of the racing action as well as the entertainment programme throughout the Circuit Park may opt for Zone 1 Walkabout Combination, which includes tickets to the Pit Grandstand in&nbsp; <strong><a class="iframes fancyboxzones fancybox.iframe" href="http://www.singaporegp.sg/tickets/zones/1" data-fancybox-type="iframe" data-zone-overlay="">Zone 1</a>&nbsp;</strong>for Friday and Saturday, and Premier Walkabout tickets for Sunday.</p>
				<p>Do note that each ticket category provides access to different zones over the three days.</p>


            </div>
        </div>
    </div>
</section>

<section class="tickets-extras">
    <div class="chunk">
        <div class="row">
            <div class="related-photos col" data-photo-gallery="">
                <figure>
                    <div class="img-wrapper">
                       <ul style="width: 1600px; margin-left: 0px;">
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/walkabout_ticketholders_enjoying_close-up_views_of_the_cars.jpg" title="Walkabout ticketholders enjoying close-up views of the cars" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/walkabout_ticketholders_enjoying_close-up_views_of_the_cars.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/zone_1_ticketholders_can_enjoy_an_array_of_food_and_beverage_options.jpg" title="Zone 1 ticketholders can enjoy an array of food and beverage options" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/zone_1_ticketholders_can_enjoy_an_array_of_food_and_beverage_options.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/enjoy_fantastic_views_and_an_electric_atmosphere_with_a_premier_walkabout_ticket.jpg" title="Enjoy fantastic views and an electric atmosphere with a Premier Walkabout ticket" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/enjoy_fantastic_views_and_an_electric_atmosphere_with_a_premier_walkabout_ticket.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-patrons-can-witness-the-action-from-the-team-garages-as-well-as-the-Pit-Straight.jpg" title="Pit Grandstand patrons can witness the action from the team garages as well as the Pit Straight" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-patrons-can-witness-the-action-from-the-team-garages-as-well-as-the-Pit-Straight.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/team_and_event_merchandise_can_be_found_at_booths_around_the_marina_bay_street_circuit.jpg" title="Team and event merchandise can be found at booths around the Marina Bay Street Circuit" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/team_and_event_merchandise_can_be_found_at_booths_around_the_marina_bay_street_circuit.jpg" alt=""></a></li>
					</ul>

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>

                    <figcaption>
                        Related photos
                    </figcaption>
                </figure>
            </div>
            <div class="panoramic-view col" data-panorama-viewer="">
                <figure>
                    <div class="img-wrapper">
                        <img src="http://web2.singaporegp.sg/Uploaded/Pit%20Grandstand,%20Sunday%20Pit,%20Pit%20Combi,%20Z1%20WA%20Combi_Panoramic.jpg" alt="" style="width: 1000px; height: 348px; margin-left: 0px;">

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>
                    <figcaption>
                        Panoramic view
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="seating-plans zone-access col" data-fancy-gallery="">
                <figure>
                    <div class="img-wrapper">
                       <a class="fancybox" href="http://www.singaporegp.sg/media/ticketing/zone/2017_Zone1Walkabout_Combination_2208x768px.jpg"><img src="http://www.singaporegp.sg/media/ticketing/zone/2017_Zone1Walkabout_Combination_2208x768px.jpg" alt=""></a>
                    </div>
                    <figcaption>
                        Seating plans and zone access
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="fine-print">
    <div class="chunk">
        <div class="row">
            <div class="span_3 col">
                <ol>
					<li>For Terms and Conditions of Tickets Sale and Entry, click <a href="http://singaporegp.sg/media/pdf/2017_SGP_T&C.pdf" target="_blank">here</a> to view.</li>
							<!--<li>Group Booking Special <br>The Group Booking Special offers fantastic savings to family and friends who purchase four or more tickets in a single transaction. This incentive is only available for the Pit, Connaught, Stamford, Esplanade Waterfront, Padang, Bay Grandstands and Bay Grandstand Hot Tix. <br><br>To be eligible for this offer, a complete group booking must be made in a single transaction for the same grandstand. Discounts will be auto-calculated and applied upon checkout. This group booking offer is available on the official Singapore GP website (<a href="http://www.singaporegp.sg">www.singaporegp.sg</a>), via the ticketing hotline (+65 6738 6738) and at all SISTIC outlets.</li>-->
                    <li>Prices quoted are in Singapore Dollars and include Goods and Services Tax (GST).</li>
					<li>View <a href="http://www.oanda.com/convert/classic" target="_blank">Currency Converter</a>. The exchange rates are for reference only.</li>
                </ol>
            </div>
        </div>
    </div>
</section>