<section class="selection">
    <div class="chunk">
        <div class="row">
            <div class="top-bar col">
                <div class="img-wrapper"><a href="{{ route('home') }}/"><img src="http://singaporegp.sg/media/seb/2017_SGPEventLogo_1.png" alt="" style="width:270px; height:59px;"></a></div>
            </div>

            <div class="social-bar col">
                <div class="addthis-widget">
                    <!-- AddThis Button BEGIN -->
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                        <div class="atclear"></div></div>
                    <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                    <!--<script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/addthis_widget.js"></script><div id="_atssh" style="visibility: hidden; height: 1px; width: 1px; position: absolute; z-index: 100000;"><iframe id="_atssh579" title="AddThis utility frame" style="height: 1px; width: 1px; position: absolute; z-index: 100000; border: 0px; left: 0px; top: 0px;" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/sh171.html"></iframe></div><script type="text/javascript" src="/Singapore F1 - 2015 Formula 1 Night Race - Tickets Details - Singapore Grand Prix_files/core153.js"></script>-->
					<script type="text/javascript" src="/addthis_widget.js"></script>
                    <script type="text/javascript" src="/core153.js"></script>
                    <!-- AddThis Button END -->
                </div>
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
			<div class="styled-button locale" style="margin-bottom: 10px;">
				<a class="en" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'en'}) }}"><p>EN</p></a>
				<a class="zh active" href="{{ route('tickets.details.byId.seb',{'infoId':ticketId,'lang':'cn'}) }}"><p>中文</p></a>
			</div>
            <div class="filter-bar col">
                <div class="styled-select ng-scope" data-ng-controller="categorySelectController">
                    <select name="ticket" tabindex="2">
                        <option value="20" selected="">2017 优惠预售票期</option>
                    </select>

                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/on-track/circuit-park-map"><p>赛场互动地图</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/tickets/sales-channels/singapore"><p>授权票务代售处</p></a>
                </div>
                <div class="styled-button">
                    <a href="http://www.singaporegp.sg/off-track/headliners"><p>娱乐亮点</p></a>
                </div>
				<div class="styled-button">
                     <a href="http://singaporegp.sg/media/pdf/2017%20Ticketing%20FAQs_5%20Sep%202016.pdf"><p>常见问题</p></a>
                </div>
							
                
            </div>
        </div>
    </div>
    <div class="chunk">
        <div class="row">
            <div class="tickets-details col" data-tickets-statuses="">
                <h2>2017 优惠预售票期
                    <div style="color:#ffc414; font-size: 13px; font-weight: 300;">
                        (The 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX is provisionally scheduled to be held from 29 September to 1 October 2017)
                    </div>
                </h2>

                <table class="details">
                    <caption></caption>

                    <colgroup width="18%"></colgroup>
                    <colgroup width="17%"></colgroup>
                    <colgroup width="16%"></colgroup>
                    <colgroup width="16%"></colgroup>
                    <colgroup width="16%"></colgroup>
                    <colgroup width="15%"></colgroup>
                    <thead>
                    <tr>
                        <th>票类</th>
                        <th>可进入的娱乐区域</th>
                        <th>2017 优惠预售票期<br><small>(2016年09月12日 至 2016年12月2日)</small></th>
                        <th>2017 预售票期<br><small>(2016年12月3日 至 2017年5月8日)</small></th>
                        <th>2017 普通售票期 <br><small>(2017年5月9日至赛事周)</small></th>
                        <th>余票</th>
                    </tr>

                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="three-day">
                        <td><strong>Zone 1 走动区 Combination</strong></td>

                        <td>
                            <table>
								<tbody>
								<tr>
									<td>星期五</td>

									<td>
									Pit 看台 <br>
									区
										<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
										<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
										<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
										<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
									</td>
								</tr>
								<tr>
									<td>星期六</td>

									<td>
										Pit 看台 <br>

											区
				
										<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
										<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
										<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
										<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
									</td>
								</tr>
								<tr>
									<td>星期日</td>

									<td>
									Premier 走动区 <br>

									区
											
									<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/1" data-zone-overlay="">1</a> ,
									<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/2" data-zone-overlay="">2</a> ,
									<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/3" data-zone-overlay="">3</a> ,
									<a class="fancyboxzones fancybox.iframe" href="{{ route('home') }}/tickets/zones/4" data-zone-overlay="">4</a> 
									</td>
								</tr>
								</tbody>
							</table>
                        </td>


                        <td>
                            <p class="">
                                <span class="price">$498</span>
                                <small></small><br>
                            </p>
                        </td>
                        <td>
                            <p class="">
                                <span class="price">$598</span>
                                <small></small><br>
                            </p>
                        </td>
                        <!--<td>
                            <p class="text-left">
                                <span class="price">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每张 $598 </span>
                            </p>
                        </td>-->
                        <td>
                            <p>
                                <span class="price">$698</span><br/>
                            </p>
                        </td>

                        <td>
                            <div>

                                <a class="buy button" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_7_0.status == 4}" id="tix-20-7-0" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailabilityPkg.do?eventCode=zone1wacombi2017&language=zh_SG">
                                    <span ng-show="buyButtons.tix_20_7_0.status == 4" class="ng-hide">售罄</span>
                                    <span ng-hide="buyButtons.tix_20_7_0.status == 4" class="">立即购买</span>

                                    <span class="limited ng-hide" data-ng-show="buyButtons.tix_20_7_0.status == 2">Last Chance</span>
                                    <span class="selling-fast ng-hide" data-ng-show="buyButtons.tix_20_7_0.status == 3">Selling Fast</span>
                                </a>

                                <a class="button details" href="/tickets/listings/super-early-bird">查看其票类</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="map">
                    <div class="img-wrapper">
                        <img src="http://singaporegp.sg/ticket/map_3d_2014/map_33.jpg" alt="">
                    </div>

                    <div class="race_zones">
                        <table>
                            <thead>
                            <tr>
                                <th colspan="4">
                                    区
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td class="accessibleZ1">1</td>

                                <td class="accessibleZ2">2</td>

                                <td class="accessibleZ3">3</td>

                                <td class="accessibleZ4">4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>            </div>
    </div>
</section>

<section class="tickets-information">
    <div class="chunk">
        <div class="row">
            <div class="tickets-pricing col">
                <table>
                    <caption></caption>
                    <colgroup width="100%"></colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">Pricing Details</th>
                    </tr>
                    <tr>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody style="text-align: center">
                    <tr>
                        <td><i>$498</i></td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a class="button bitofheight details" href="/tickets/listings/super-early-bird">查看其票类</a>
                            <a class="button buy" id="tix2-20-7-0" data-ng-class="{&#39;sold-out&#39;: buyButtons.tix_20_7_0.status == 4}" href="https://tickets.singaporegp.sg/F1WebApp/SeatAvailabilityPkg.do?eventCode=zone1wacombi2017&language=zh_SG" data-="">
                                <span ng-show="buyButtons.tix2_20_7_0.status == 4" class="ng-hide">售罄</span>
                                <span ng-hide="buyButtons.tix2_20_7_0.status == 4" class="">立即购买</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div data-ng-controller="ticketDetailContentController" class="tickets-writeup col ng-scope">

                <h2>2017 优惠预售票期 </h2>
                <h5>ZONE 1 走动区 COMBINATION</h5>

				<p>想尽情领略滨海湾公路赛道带来的惊险刺激，观众可选择 Combination（自选）套票，此票在手即可在三天内随意体验公路赛道各部分的不同风景。</p>
				<p>Pit 看台包含周五 Padang 看台区 4、周六 Bay 看台区 3 及 Pit 看台区 1 的座位。</p>
				<p>请注意，在以上三天期间，每类看台均可通往不同区域。</p>
                
            </div>
        </div>
    </div>
</section>

<section class="tickets-extras">
    <div class="chunk">
        <div class="row">
            <div class="related-photos col" data-photo-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <ul style="width: 1600px; margin-left: -960px;">
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/walkabout_ticketholders_enjoying_close-up_views_of_the_cars.jpg" title="Walkabout ticketholders enjoying close-up views of the cars" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/walkabout_ticketholders_enjoying_close-up_views_of_the_cars.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/zone_1_ticketholders_can_enjoy_an_array_of_food_and_beverage_options.jpg" title="Zone 1 ticketholders can enjoy an array of food and beverage options" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/zone_1_ticketholders_can_enjoy_an_array_of_food_and_beverage_options.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/enjoy_fantastic_views_and_an_electric_atmosphere_with_a_premier_walkabout_ticket.jpg" title="Enjoy fantastic views and an electric atmosphere with a Premier Walkabout ticket" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/enjoy_fantastic_views_and_an_electric_atmosphere_with_a_premier_walkabout_ticket.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-patrons-can-witness-the-action-from-the-team-garages-as-well-as-the-Pit-Straight.jpg" title="Pit Grandstand patrons can witness the action from the team garages as well as the Pit Straight" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/Pit-Grandstand-patrons-can-witness-the-action-from-the-team-garages-as-well-as-the-Pit-Straight.jpg" alt=""></a></li>
							<li style="width: 320px;"><a class="fancybox" href="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/team_and_event_merchandise_can_be_found_at_booths_around_the_marina_bay_street_circuit.jpg" title="Team and event merchandise can be found at booths around the Marina Bay Street Circuit" rel="gallery"><img src="http://web2.singaporegp.sg/Uploaded/ticketing_related_gallery/2015/zone_1_walkabout_combination/team_and_event_merchandise_can_be_found_at_booths_around_the_marina_bay_street_circuit.jpg" alt=""></a></li>
					</ul>

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>

                    <figcaption>
                        相关照片
                    </figcaption>
                </figure>
            </div>
            <div class="panoramic-view col" data-panorama-viewer="">
                <figure>
                    <div class="img-wrapper">
                        <img src="http://singaporegp.sg/Uploaded/Pit%20Grandstand,%20Sunday%20Pit,%20Pit%20Combi,%20Z1%20WA%20Combi_Panoramic.jpg" alt="" style="margin-left: -63px; width: 1446px; height: 348px;">

                        <a class="prev" href=""></a>
                        <a class="next" href=""></a>
                    </div>
                    <figcaption>
                        全景照
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="seating-plans zone-access col" data-fancy-gallery="">
                <figure>
                    <div class="img-wrapper">
                        <a class="fancybox" href="http://www.singaporegp.sg/media/ticketing/zone/2017_Zone1Walkabout_Combination_2208x768px.jpg"><img src="http://www.singaporegp.sg/media/ticketing/zone/2017_Zone1Walkabout_Combination_2208x768px.jpg" alt=""></a>
                    </div>
                    <figcaption>
                        区域通道 与 座位分布
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="fine-print">
    <div class="chunk">
        <div class="row">
            <div class="span_3 col">
                <ol>
					<li>如需了解门票销售与通行权条款与使用条件，请点击<a href="http://singaporegp.sg/media/pdf/2017_SGP_T&C.pdf" target="_blank">此处</a>查看.</li>
							<!--<li>团队预订特价 <br>一次购买四张或以上门票， 即可享受团队预订特价，为您的家人和朋友节省预算。该优惠活动仅限于 Pit、Connaught、Stamford、Esplanade Waterfront、Padang、Bay 热门票 及 Bay 看台。只有在一次购买中完成相同看台的团队预订才能享受该优惠。折扣自动折算并在结账时直接抵扣。团队预订特价仅限于新加坡大奖赛官网（<a href="http://www.singaporegp.sg">www.singaporegp.sg</a>）、票务热线（+65 6738 6738）及所有 SISTIC 售票处。</li>-->
                    <li>报价为新加坡元含商品与消费税（GST）。</li>
					<li>查看<a href="http://www.oanda.com/convert/classic" target="_target">货币转换器</a>. 汇率仅供参考。</li>
                </ol>
            </div>
        </div>
    </div>
</section>