<html>
<head></head>
<body>
<center>

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="720" height="480" id="F1-Post-Final-Cut" align="middle">
                        <param name="movie" value="http://web2.singaporegp.sg/Uploaded/Uploaded/F1-Post-Final-Cut.swf" />
                        <param name="quality" value="high" />
                        <param name="bgcolor" value="#FFFFFF"/>
                        <param name="play" value="true" />
                        <param name="loop" value="false" />
                        <param name="wmode" value="window" />
                        <param name="scale" value="showall" />
                        <param name="menu" value="true" />
                        <param name="devicefont" value="false" />
                        <param name="salign" value="" />
                        <param name="allowScriptAccess" value="sameDomain" />
                        <param name="allowFullScreen" value="true" />
                        <!--[if !IE]>-->
                        <object type="application/x-shockwave-flash" data="http://web2.singaporegp.sg/Uploaded/Uploaded/F1-Post-Final-Cut.swf" width="800" height="480">
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#FFFFFF" />
                            <param name="play" value="true" />
                            <param name="loop" value="false" />
                            <param name="wmode" value="window" />
                            <param name="scale" value="showall" />
                            <param name="menu" value="true" />
                            <param name="devicefont" value="false" />
                            <param name="salign" value="" />
                            <param name="allowScriptAccess" value="sameDomain" />
                            <param name="allowFullScreen" value="true" />
                            <!--<![endif]-->
                            <a href="http://www.adobe.com/go/getflash">
                                <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                            </a>
                            <!--[if !IE]>-->
                        </object>
    <!--<![endif]-->
</object>
</center>
</body>
</html>
