{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <style>
    .content section.selection {
        background: url("/images/raceguide/paddocklanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
    }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Paddock Club Ticketholders</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2016 FORMULA 1<br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>look forward to making your experience a truly memorable one</p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section>
    <div class="chunk">
        <p class="breadcrumbs"><a href="{{ route('raceguide.collection.paddockclub', { 'collectionSlug': collection.slug }) }}">Paddock Club</a>&#32;&#32;&#32;&gt;&#32;&#32;&#32;Map</p>
        <h2 id="headercol">Useful Information</h2>
        <p>Situated at the Pit Building directly above the team garages, the Formula One Paddock Club™ offers an unparalleled view of the pit crew in action,<br/> as well as the spectacular race to the finish line.
        </p>

        </div>
    </section>


    <section class="words">
        <div class="chunk">
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <p><strong>What Not To Bring</strong>
                <br />
                For safety reasons, certain items are not permitted in the Circuit Park.<br />
                <br />
                • Any large or bulky items<br />
                <br />
                • Corporate or commercial flags or branding<br />
                <br />
                • Laser pointers<br />
                <br />
                • Pets<br />
                <br />
                • Articles prohibited by Singapore law (example: fireworks, flares, weapons, etc.)<br />
                <br />
                • Videographic or photographic equipment for professional use<br />
                <br />
                Guests are not permitted to bring in food and beverages. Meals and an open bar are included in all Formula One Paddock Club™ packages.<br />
                <br />
                Please note that smoking is not permitted in the Formula One Paddock Club™ and the pit lane. Smoking will only be permitted in designated zones at the outdoor Formula One Paddock Club™ Lifestyle Area.<br />
                <br />
                The items listed here are not exhaustive and a list of all prohibited items will be available at the gates. Please note that bag checks will be conducted.<br />
                </p>
                </div>

                <div class="big bucket col" id="colborder">
                <p><strong>Tickets</strong><br />
                All guests are required to wear the ticket and wristband of the corresponding day. Wristbands will be given upon arrival. Please check that the ticket is for the correct day. Singapore GP Pte Ltd reserves the right to refuse entry to any person who does not comply with this rule. After entry to the circuit, tickets are non-transferable for that day.<br />
                <br />

                <strong>Release, Waiver And Discharge of Liability And Indemnity Agreement<br>For Children Below 7</strong><br />
                Children below the age of seven (7) will only be admitted into the Formula One Paddock Club™ if the parent/guardian signs a Release, Waiver and Discharge of Liability and Indemnity Agreement.
                This form can be obtained at <a id="paddocklink" href=""www.singaporegp.sg">www.singaporegp.sg</a> or from the concierge at the Formula One Paddock Club™ Lifestyle Area.
                <br /><br />

                <strong>Photography and Videography</strong><br />
                By entering the Circuit Park, each guest is deemed to have agreed and accepted that all sound and moving picture rights rest exclusively with Formula One Administration Limited and that any moving picture and image originated, filmed or recorded at any Grand Prix circuit shall not be used for commercial purposes and may only be used for the private amateur enjoyment of the person originating, filming or recording such images.<br /><br />

                <strong>Dress Code</strong><br />
                Smart casual attire is recommended. For your safety, we recommend you avoid wearing slippers or flip-flops.<br /><br />
                
                <strong>Wheelchair Access</strong><br />
                Should you require any assistance over the race weekend, please email us at <a id="paddocklink" href="mailto:hospitality@singaporegp.sg">hospitality@singaporegp.sg</a> by 16 September, Tuesday.<br /><br />

                <strong>Need to know more?</strong><br />
                As a valued guest, we wish to make your experience a pleasant one. If you require any further information, please email us at <a id="paddocklink" href="mailto:hospitality@singaporegp.sg">hospitality@singaporegp.sg</a> or visit the official website at <a id="paddocklink" href="www.singaporegp.sg/paddockclub">www.singaporegp.sg/paddockclub</a> for the most up-to-date information.
                <br /><br />

                All information is correct as of 29 July 2014 and is subject to change.
                </p>
                </div>

            </div></div>
    </section>    
    <section>
    <div class="chunk">
    <div class="row">
    <p><span id="paddocklink">IMPORTANT</span><br/>
Motor Racing is dangerous and accidents can happen. The 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX is a rain or shine event.</p>
</div></div>
</section>
{% endblock %}