{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <style>
    .content section.selection {
        background: url("/images/raceguide/paddocklanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
    }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Paddock Club Ticketholders</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2016 FORMULA 1<br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>look forward to making your experience a truly memorable one</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
    <div class="chunk">
        <p class="breadcrumbs"><a href="{{ route('raceguide.collection.paddockclub') }}">Paddock Club</a>&#32;&#32;&#32;&gt;&#32;&#32;&#32;Directions</p>
        <br />
        <h2 id="headercol">Directions</h2>
        <br><br>
      <strong>Location</strong><br><br>

The Formula One Paddock Club&#153; is located within the Pit Building along 

Republic Boulevard on Levels 2 and 3.<br><br>

Entrance to your suite is via the dedicated entrance at the Formula One Paddock 

Club&#153; Lifestyle Area.<br><br>

The exclusive air-conditioned Formula One Paddock Club&#153; suites offer views 

directly over the race garages, pit lane and start/finish straight. In addition, 

there are grandstand seats available to Formula One Paddock Club&#153; patrons 

overlooking the Pit Straight. These are accessible from the Lifestyle Area and the 

sky bridge on Level 3.<br>
        <br>
        Click <a href="http://www.singaporegp.sg/media/hospitality/pdf/2016-Paddock-Club-Directory-Map.pdf" target="_blank"><u>here</u></a> to view the Level Directory Map.
        <br><br>
    <br>

<strong>On Arrival</strong><br><br>

Upon arrival at the Kallang Car Park 5 or directly at the Formula One Paddock Club™, you will be welcomed by Formula One Paddock Club™ staff who will provide you with a wristband as an additional security measure which we request you to wear throughout your day with us.
At the Formula One Paddock Club™ Lifestyle Area, you will be able to enjoy access to an exclusive Champagne bar with live entertainment, celebrity chef restaurant, food stations, activity areas and official merchandise collection. <br><br><i>
Advisory Note: Guests with a pacemaker should approach security officials for assistance before going through the turnstiles.</i></p><br><br>

            <div class="route-map">
                <strong>ARRIVAL AND DEPARTURE ROUTE MAP</strong><br>
                <strong><i>Kallang Car Park 5</i></strong><br><br>
                <div class="map">
                    <a rel="gallery" class="fancybox" href="http://www.singaporegp.sg/media/paddock_club/directions/2016_PaddockClub-directions.jpg">
                    <img src="http://www.singaporegp.sg/media/paddock_club/directions/2016_PaddockClub-directions-thumb.jpg"></a>
                    <p>Click thumbnail to view <br>larger version of map</p>
                </div>
                <div class="info">
                    <ul>
                    <li>Car park passes are specific to each day and are non-transferable.</li>
                    <li>The car park is accessible from 2.30pm until midnight daily (16 to 18 September 2016).</li>
                    <li>The car park pass may only be used for vehicles that seat up to 12 people.</li>
                    <li>No accreditation is required for the driver of the vehicle as Car Park 5 is outside of the Circuit Park.</li>
                    <li>There is no parking available for vehicles that seat more than 12 people at Car Park 5.</li>
                    <li style="width: 600px;">One (1) car park pass will be allocated for every five (5) Formula One Paddock Club™ tickets purchased.</li>
                    </ul>
                </div>
            </div>
            <br><br>

            <div class="route-map">
                <strong>ARRIVAL AND DEPARTURE ROUTE MAP</strong><br>
                <strong><i>Direct Access to/from the Formula One Paddock&#153;</i></strong><br><br>
                <div class="map">
                    <a rel="gallery" class="fancybox" href="http://www.singaporegp.sg/media/paddock_club/directions/2016_DirectAccess_PaddockClub_WebVer-HR.jpg">
                        <img src="http://www.singaporegp.sg/media/paddock_club/directions/2016_DirectAccess_PaddockClub_WebVer-HR_thumb.jpg"></a>
                    <p>Click thumbnail to view <br>larger version of map</p>
                </div>
                <div class="info">
                    <ul>
                    <li>Direct Access vehicle passes are specific to each day and are non-transferable.</li>
                    <li>The driver of the vehicle must be accredited and hold a valid driver's license to gain access into this Circuit Park.</li>
                    <li>A driver pass will be given with each set of Direct Access vehicle passes. The driver pass may only be used by the company it was issued to.</li>
                    <li>The Direct Access vehicle pass allows access to the Circuit Park from 2.30pm until midnight daily (16 to 18 September 2016), for drop off and pick up of guests only.</li>
                        <li>No parking or waiting is allowed within the Circuit Park.</li>
                    <li>The Direct Access vehicle pass can only be used on a vehicle that seats up to 12 people.</li>
                    <li>One (1) Direct Access car pass will be allocated for every 30 Formula One Paddock Club™ tickets purchased.</li>
                    </ul>
                </div>
            </div>


        </div>
</section>

<script>

 $(document).ready(function() {
        $(".fancybox").fancybox();
    });   

</script>

{% endblock %}