 {% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/home.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <script>
        $(document).ready(function(){
            $('.fancyboxzones').fancybox();
        })
    </script>
    <style>
    .content section.selection {
        background: url("/images/raceguide/paddocklanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
    }
    .mapping .img-wrapper{
        height: 50px !important;
    }
    .paddingspace{
        padding-bottom: 20px !important;
    }
    </style>
{% endblock %}




{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Paddock Club&trade; Ticketholders</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX and look forward to making your experience a truly memorable one</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chunk">
                <div class="row">
                    <div class="filter-bar col" style="text-align: left;">
                       <!-- <div class="styled-button">
                            <div class="pdf">
                                <a style="text-align: center;" href="http://www.singaporegp.sg/media/paddock_club/download/2016-Paddock-Club-Insert.pdf">Download PDF</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
    </section>
    
    <section>
        <div class="chunk">
            <div class="row">

                <div class="small bucket col">
                    <figure>
                        <div class="img-wrapper">
                            <a href="{{ route('raceguide.collection.paddockLanding.useful_info') }}">
                                <img src="/images/raceguide/paddocklanding/useful_information.jpg"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">Useful Information</p>
                            <hr>
                            <p><a href="{{ route('raceguide.collection.paddockLanding.useful_info') }}">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>

                <div class="small bucket col">
                    <figure>
                        <div class="img-wrapper">
                            <a href="{{ route('raceguide.collection.paddockLanding.schedules') }}">
                                <img src="/images/raceguide/paddocklanding/operation_hours.jpg"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">Operation Hours<br/>&amp; Schedules</p>
                            <hr>
                            <p><a href="{{ route('raceguide.collection.paddockLanding.schedules') }}">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>

                <div class="small bucket col">
                    <figure>
                        <div class="img-wrapper">
                            <a href="{{ route('offtrack.headliners') }}">
                                <img src="http://www.singaporegp.sg/media/entertainment-highlights/2016-home-page-banner-ent-highlight.jpg"/>
                            </a>
                        </div>
                        <figcaption>
                                <p class="title">2016 Entertainment Line-Up</p>
                            <hr>
                            <p><a href="{{ route('offtrack.headliners') }}">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>

                

                <!--<div class="small bucket col mapping">

                    <figure>
                        <div class="img-wrapper">
                            {#<a href="{{ route('raceguide.collection.paddockLanding.maps') }}">#}
                            <a href="/images/pdf/2014-level-directory-11sep.pdf">
                                <img src="/images/raceguide/paddocklanding/maps_3.jpg"/>
                            </a>
                        </div>

                        <figcaption>
                            <p class="title">Suite Map</p>
                            <hr>
                            <p><a href="/images/pdf/2014-level-directory-11sep.pdf">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>-->



            </div>

        </div>

        <div class="chunk">
            <div class="row">
            
                <div class="small bucket col">
                    <figure>
                        <div class="img-wrapper">
                            <a href="{{ route('raceguide.collection.paddockLanding.directions') }}">
                                <img src="/images/raceguide/paddocklanding/directions.jpg"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">Directions</p>
                            <hr>
                            <p><a href="{{ route('raceguide.collection.paddockLanding.directions') }}">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>

                <div class="small bucket col">

                    <figure>
                        <div class="img-wrapper">
                            {#<a href="{{ route('raceguide.collection.paddockLanding.maps') }}">#}
                            <a href="/on-track/circuit-park-map">
                                <img src="/images/raceguide/paddocklanding/circuitparkmap.png"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">CIRCUIT PARK MAP</p>
                            <hr>
                            <p><a href="/on-track/circuit-park-map">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>
                
                <div class="small bucket col">
                    <figure>
                        <div class="img-wrapper">
                            <a href="{{ route('raceguide.collection.paddockLanding.activities') }}">

                                <img src="/images/raceguide/paddocklanding/activities.jpg"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">HIGHLIGHTS</p>
                            <hr>
                            <p><a href="{{ route('raceguide.collection.paddockLanding.activities') }}">Find out more</a></p>
                        </figcaption>
                    </figure>
                </div>

            </div>
            
        </div>
    </section>

{% endblock %}
