{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/home.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <script>
        $(document).ready(function(){
            $('.fancyboxzones').fancybox();
        })
    </script>
    <style>
    .content section.selection {
        background: url("/images/raceguide/paddocklanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
    }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Paddock Club Ticketholders</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2014 FORMULA 1<br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>look forward to making your experience a truly memorable one</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="chunk">
        <p class="breadcrumbs"><a href="{{ route('raceguide.collection.paddockLanding') }}">Paddock Club</a>&#32;&#32;&#32;&gt;&#32;&#32;&#32;Map</p>
            <div class="row">

                <div class="big bucket col">
                    <figure>
                        <div class="img-wrapper">
                            <a href="http://singaporegp.sg/on-track/circuit-park-map">
                                <img src="http://web2.singaporegp.sg/Uploaded/images/paddock/circuitparkmap.jpg"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">Circuit Park Map</p>
                            <hr>
                            <p><a href="http://singaporegp.sg/on-track/circuit-park-map">View map</a></p>
                        </figcaption>
                    </figure>
                </div>

                <div class="big bucket col">
                    <figure>
                        <div class="img-wrapper">
                            <a href="http://web2.singaporegp.sg/Uploaded/images/paddock/2014_paddock_club.pdf">
                                <img src="http://web2.singaporegp.sg/Uploaded/images/paddock/paddockclubsuitemap.jpg"/>
                            </a>
                        </div>
                        <figcaption>
                            <p class="title">Paddock club suite map</p>
                            <hr>
                            <p><a href="http://web2.singaporegp.sg/Uploaded/images/paddock/2014_paddock_club.pdf" >View map</a></p>
                        </figcaption>
                    </figure>
                </div>

            </div>

        </div>


    </section>

{% endblock %}