{% extends "layouts.master" %}
{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}
{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}
{#
additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>

    <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>
    <style>
        .content section.selection {
            background: url("/images/raceguide/paddocklanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
        }

            .race-calendar-headers h5:nth-child(1) {
                width: 100% !important;
            }
            .goldcolor{
                color:#bb9d5f !important;
            }

            .race-calendar-list td {
                padding: 10px 14px;
            }


        .mapping .img-wrapper{
            height: 50px !important;
        }
        .paddingspace{
            padding-bottom: 20px !important;
        }
    </style>
{% endblock %}
{# page content #}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}
        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Paddock Club&trade; Ticketholders</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2016 FORMULA 1<br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>look forward to making your experience a truly memorable one</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="chunk">
            <div class="row">
                <div class="filter-bar col" style="text-align: left;">
                     <div class="styled-button">
                        <div class="pdf">
                            <a style="text-align: center;" href="http://www.singaporegp.sg/Uploaded/pdf_path/2016_PaddockClub_Timetable.pdf" target="_blank" >Download PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="chunk">
            <p class="breadcrumbs"><a href="{{ route('raceguide.collection.paddockclub') }}">Paddock Club</a>&#32;&#32;&#32;&gt;&#32;&#32;&#32;Schedule</p>
            <br/>
            <h2 id="headercol" style="width: 500px;">OPERATION HOURS & SCHEDULES</h2>
            <p>
            <p><strong>Operation Hours</strong></p>

            <p>The <B>Formula One Paddock Club™ Lifestyle Area</B> will be open from:</p>
            <p>Friday, Saturday & Sunday (16, 17 & 18 September 2016): 2.30pm to 12 midnight daily</p>


            <br/>

            <p>The <B>Formula One Paddock Club™ suites</B> will be open from:</p>
            <p>Friday & Saturday (16 & 17 September 2016): 3.30pm to 12 midnight daily</p>
            <p>Sunday (18 September 2016): 3.30pm to 11.30pm</p>
            <p>All bars will close half an hour prior to the closure of the Formula One Paddock Club™.</p>
            </p>
            <br/>
            <style>
                table.table tr td {
                    padding: 5px;
                    font-size: 13px;
                }
                table.table tr td:first-child {
                    width: 120px;
                }
            </style>




                        <div class="race-calendar-headers col">
                            <h5>FRI 16 SEPTEMBER 2016</h5>
                        </div>
                        <div class="race-calendar-list">
                            <table>
                                <tr>
                                    <td width="33%">14:30 </td>
                                    <td width="66%">Circuit Park Open</td>

                                </tr>
                                <tr>
                                    <td width="33%">14:30 </td>
                                    <td width="66%">Formula One Paddock Club™ Lifestyle Area Open</td>

                                </tr>

                                <tr>
                                    <td width="33%">14:40 - 15:10 </td>
                                    <td width="66%">Ferrari Challenge Practice Session</td>

                                </tr>

                                <tr>
                                    <td width="33%">15:35 - 16:15 </td>
                                    <td width="66%">TCR International Series Practice Session</td>

                                </tr>
                                <tr>
                                    <td width="33%"><b>15:30</b> </td>
                                    <td width="66%"><b>Formula One Paddock Club™ Suites Open</b></td>

                                </tr>

                                <tr>
                                    <td width="33%">16:40 - 17:10 </td>
                                    <td width="66%">Porsche Carrera Cup Asia Practice Session</td>

                                </tr>
                                <tr>
                                    <td width="33%"><b>18:00 - 19:30</b> </td>
                                    <td width="66%"><b>Formula One™ First Practice Session</b></td>

                                </tr>


                                <tr>
                                    <td width="33%">18:30 - 19:00 </td>
                                    <td width="66%">Formula One Paddock Club™ Dinner Service Commences</td>

                                </tr>

                                <tr>
                                    <td width="33%" >19:55 - 20:25 </td>
                                    <td width="66%" >Ferrari Challenge Qualifying Session</td>

                                </tr>

                                <tr>
                                    <td width="33%" >20:30 – 21:15 </td>
                                    <td width="66%" >Formula One Paddock Club™ Pit Lane Walk</td>

                                </tr>
                                
                                <tr>
                                    <td width="33%" class="goldcolor"><b>20:30 – 21:30 (Pre-F1<sup>®</sup> Second Practice Session)</b> </td>
                                    <td width="66%" class="goldcolor"><B>KC and The Sunshine Band – Esplanade Outdoor Theatre (Zone 4)</B> </td>

                                </tr>

                                <tr>
                                    <td width="33%"><strong>21:30 - 23:00</strong> </td>
                                    <td width="66%"><strong>Formula One™ Second Practice Session</strong></td>

                                </tr>

                                <tr>
                                    <td width="33%" class="goldcolor"><B>23:15 – 00:35 (After Last Track Activity)</B></td>
                                    <td width="66%" class="goldcolor"><B>Kylie Minogue – Padang Stage (Zone 4)</b></td>

                                </tr>

                                <tr>
                                    <td width="33%">MIDNIGHT </td>
                                    <td width="66%">Formula One Paddock Club™ Closes </td>

                                </tr>
                                <tr>
                                    <td width="33%"></td>
                                    <td width="66%"> </td>

                                </tr>

                            </table>

                        </div>


                        <div class="race-calendar-headers col">
                            <h5>SAT 17 SEPTEMBER 2016</h5>
                        </div>
                        <div class="race-calendar-list">
                            <table>
                                <tr>
                                    <td width="33%">14:30 </td>
                                    <td width="66%">Circuit Park Open</td>

                                </tr>
                                <tr>
                                    <td width="33%">14:30 </td>
                                    <td width="66%">Formula One Paddock Club™ Lifestyle Area Open</td>

                                </tr>
                                <tr>
                                    <td width="33%">14:40 – 15:05 </td>
                                    <td width="66%">TCR International Series Qualifying Session</td>

                                </tr>
                                <tr>
                                    <td width="33%"><b>15:30</b> </td>
                                    <td width="66%"><b>Formula One Paddock Club™ Suites Open</b></td>

                                </tr>
                                <tr>
                                    <td width="33%">15:45 - 16:15 </td>
                                    <td width="66%">Porsche Carrera Cup Asia Qualifying Session</td>

                                </tr>
                                <tr>
                                    <td width="33%">16:40 - 17:10 </td>
                                    <td width="66%">Ferrari Challenge First Race (10 Laps or 25 Mins)</td>

                                </tr>
                                <tr>
                                    <td width="33%"><strong>18:00 - 19:00</strong> </td>
                                    <td width="66%"><strong>Formula One™ Third Practice Session</strong></td>

                                </tr>
                                <tr>
                                    <td width="33%">18:30 - 19:00 </td>
                                    <td width="66%">Formula One Paddock Club™ Dinner Service Commences</td>

                                </tr>

                                <tr>
                                    <td width="33%">19:25 - 19:55 </td>
                                    <td width="66%">TCR International Series First Race (10 Laps or 25 Mins)</td>

                                </tr>

                                <tr>
                                    <td width="33%" >19:55 – 20:50 </td>
                                    <td width="66%" >Formula One Paddock Club™ Pit Lane Walk</td>

                                </tr>
                                <tr>
                                    <td width="33%" class="goldcolor"><b>19:55 – 20:55 (Pre-F1<sup>®</sup>
                                            Qualifying)</b> </td>
                                    <td width="66%" class="goldcolor"><B>Bastille – Padang Stage (Zone 4)</B> </td>

                                </tr>

                                <tr>
                                    <td width="33%" class="goldcolor"><B>20:00 – 21:00 (Pre-F1<sup>®</sup> Qualifying)
                                        </B> </td>
                                    <td width="66%" class="goldcolor"><B>Pentatonix – Esplanade Outdoor Theatre (Zone 4)</b></td>

                                </tr>
                                <tr>
                                    <td width="33%" class="goldcolor"><B>20:00 – 21:00 (Pre-F1<sup>®</sup> Qualifying)
                                        </B> </td>
                                    <td width="66%" class="goldcolor"><B>KC and The Sunshine Band – Village Stage (Zone 1)</b></td>

                                </tr>

                                <tr>
                                    <td width="33%"><strong>21:00 - 22:00</strong> </td>
                                    <td width="66%"><strong>Formula One™ Qualifying Session</strong></td>

                                </tr>

                                <tr>
                                    <td width="33%" class="goldcolor"><B>22:30 – 00:35 (After Last Track Activity)</B>
                                    </td>
                                    <td width="66%" class="goldcolor"><B>Queen + Adam Lambert – Padang Stage (Zone 4)</b></td>

                                </tr>

                                <tr>
                                    <td width="33%">MIDNIGHT </td>
                                    <td width="66%">Formula One Paddock Club™ Closes </td>

                                </tr>
                                <tr>
                                    <td width="33%"> </td>
                                    <td width="66%"></td>

                                </tr>

                            </table>

                        </div>


                        <div class="race-calendar-headers col">
                            <h5>SUN 18 SEPTEMBER 2016</h5>
                        </div>
                        <div class="race-calendar-list">
                            <table>
                                <tr>
                                    <td width="33%">14:30 </td>
                                    <td width="66%">Circuit Park Open </td>
                                </tr>
                                <tr>
                                    <td width="33%">14:30 </td>
                                    <td width="66%">Formula One Paddock Club™ Lifestyle Area Open </td>
                                </tr>
                                <tr>
                                    <td width="33%">15:00 - 15:30</td>
                                    <td width="66%">TCR International Series Second Race (10 Laps or 25 Mins)</td>
                                </tr>
                                <tr>
                                    <td width="33%"><B>15:30</B></td>
                                    <td width="66%"><B>Formula One Paddock Club™ Suites Open</b></td>
                                </tr>
                                <tr>
                                    <td width="33%">16:00 – 16:30</td>
                                    <td width="66%">Ferrari Challenge Second Race (10 Laps or 25 Mins)</td>
                                </tr>
                                <tr>
                                    <td width="33%">17:00 – 17:35</td>
                                    <td width="66%">Porsche Carrera Cup Asia Race (12 Laps or 30 Mins)</td>
                                </tr>
                                <tr>
                                    <td width="33%" >17:40 – 19:15 </td>
                                    <td width="66%" >Formula One Paddock Club™ Pit Lane Walk</td>

                                </tr>

                                <tr>
                                    <td width="33%"><B>18:30</B></td>
                                    <td width="66%"><B>Formula One™ Drivers Track Parade</b></td>
                                </tr>
                                <tr>
                                    <td width="33%">18:30 - 19:00</td>
                                    <td width="66%">Formula One Paddock Club™ Dinner Service Commences </td>
                                </tr>

                                <tr>
                                    <td width="33%" class="goldcolor"><B>18:40 – 19:40 (Pre-F1<sup>®</sup> Race)</b>
                                    </td>
                                    <td width="66%" class="goldcolor"><B>Halsey – Padang Stage (Zone 4)</b> </td>
                                </tr>

                                <tr>
                                    <td width="33%" class="goldcolor"><B>18:40 – 19:40 (Pre-F1<sup>®</sup> Race)</b>
                                    </td>
                                    <td width="66%" class="goldcolor"><B>Pentatonix – Village Stage (Zone 1)</b> </td>
                                </tr>


                                <tr>
                                    <td width="33%"><B>18:45 - 19:15</B></td>
                                    <td width="66%"><B>Formula One™ Starting Grid Presentation</b></td>
                                </tr>
                                <tr>
                                    <td width="33%">19:46</td>
                                    <td width="66%">National Anthem</td>
                                </tr>
                                <tr>
                                    <td width="33%"><B>20:00 - 22:00</B></td>
                                    <td width="66%"><B>2016 FORMULA ONE SINGAPORE AIRLINES SINGAPORE GRAND PRIX (61 Laps or 120 Minutes)</b></td>
                                </tr>

                                <tr>
                                    <td width="33%" class="goldcolor"><B>22:30 – 00:30 (After Last Track Activity)</B>
                                    </td>
                                    <td width="66%" class="goldcolor"><B>Imagine Dragons – Padang Stage (Zone 4)</b></td>

                                </tr>
                                <tr>
                                    <td width="33%">23:30</td>
                                    <td width="66%">Paddock Club™ Closes </td>

                                </tr>


                            </table>
                            <p><i>(All timings are provisional and subject to change)</i></p>

                        </div>


  {#
            <p><strong>FRIDAY 16TH SEPTEMBER</strong></p>
            <table class="table" cellpadding="5">
                 <tr>
                    <td>14:30</td>
                    <td>Circuit Park Open</td>
                </tr>

                <tr>
                    <td>14:30</td>
                    <td>Formula One Paddock Club™ Lifestyle Area Open</td>
                </tr>
                <tr>
                    <td><strong>15:30</strong></td>
                    <td><strong>Formula One Paddock Club™ Suites Open</strong></td>
                </tr>
                <!--<tr>
                    <td><strong>15:00 - 15:25</strong></td>
                    <td><strong>TCR International Series First Practice Session</strong></td>
                </tr>
                <tr>
                    <td><strong>15:30</strong></td>
                    <td><strong>Formula One Paddock Club™ Suites Open</strong></td>
                </tr>
                <tr>
                    <td><strong>15:50 - 16:15</strong></td>
                    <td><strong>TCR International Series Second Practice Session</strong></td>
                </tr>
                <tr>
                    <td><strong>16:40 – 17:10</strong></td>
                    <td><strong>Porsche Carrera Cup Asia  Practice Session</strong></td>
                </tr> -->
                <tr>
                    <td><strong>18:00 – ­19:30</strong></td>
                    <td><strong>Formula One™ First Practice Session</strong></td>
                </tr>
                <tr>
                    <td>18:30 – 19:00</td>
                    <td>Formula One Paddock Club™ Dinner Service Commences</td>
                </tr>
                <tr>
                    <td class="goldcolor">TBC (Pre-F1<sup>&reg; </sup> Second Practice Session)</td>
                    <td class="goldcolor">Kylie Minogue - Padang Stage (Zone 4)</td>
                </tr>
                <!--<tr>
                    <td><strong>19:55 - 20:25</strong></td>
                    <td><strong>Porsche Carrera Cup Asia Qualifying Session</strong></td>
                </tr>
                <tr>
                    <td><strong>20:30 - 21:15</strong></td>
                    <td><strong>Formula One Paddock Club™ Pit Lane Walk</strong></td></tr>
                <tr>-->
                    <td><strong>21:30 – 23:00</strong></td>
                    <td><strong>Formula One™ Second Practice Session</strong></td></tr>
                <tr>
                    <td class="goldcolor"><B>TBC (After last track activity)</B>.</td>
                    <td class="goldcolor"><B>Kylie Minogue - Padang Stage (Zone 4)</B></td>
                </tr>

                <tr>
                    <td>MIDNIGHT</td><td> Formula One Paddock Club™ Closes</td></tr>
            </table>
            <br/>

            <p><strong>SATURDAY 17TH SEPTEMBER</strong></p>
            <table class="table" cellpadding="5">

                <tr>
                    <td>14:30</td>
                    <td>Circuit Park Open</td>
                </tr>

                <tr>
                    <td>14:30</td>
                    <td>Formula One Paddock Club™ Lifestyle Area Open</td>
                </tr>
                <!--<tr>
                    <td>15:00</td>
                    <td>Circuit Park Opens</td>
                </tr>
                <tr>
                    <td><strong>15:00</strong></td>
                    <td><strong>Formula One Paddock Club™ Lifestyle Area Open</strong></td>
                </tr>-->
               <!-- <tr>
                    <td><strong>15:00 – 15:30</strong></td>
                    <td><strong>Formula One™ Team Pit Stop Practice</strong></td>
                </tr> -->
                <tr>
                    <td><strong>15:30</strong></td>
                    <td><strong>Formula One Paddock Club™ Suites Open</strong></td>
                </tr>
               <!-- <tr>
                    <td><strong>15:45 - 16:15</strong></td>
                    <td><strong>TCR International Series Qualifying Session</strong></td>
                </tr>
                <tr>
                    <td><strong>16:40 - 17:15</strong></td>
                    <td><strong>Porsche Carrera Cup Asia First Race</strong></td>
                </tr> -->
                 <tr>
                    <td><strong>18:00 – 19:00</strong></td>
                    <td><strong>Formula One™ Third Practice Session</strong></td>
                </tr>


                <tr>
                    <td>18:30 – 19:00</td>
                    <td>Formula One Paddock Club™ Dinner Service Commences</td>
                </tr>
                <!-- <tr>
                    <td><strong>19:10 - 20:45</strong></td>
                    <td><strong>Formula One Paddock Club™ Pit Lane Walk</strong></td>
                </tr> -->
                <tr>
                    <td><strong>21:00 – 22:00</strong></td>
                    <td><strong>Formula One™ Qualifying Session</strong></td>
                </tr>
                <!-- <tr>
                    <td><strong>22:25 – 22:55</strong></td>
                    <td><strong>TCR International Series First Race</strong></td>
                </tr> -->
                <tr>
                    <td>MIDNIGHT</td>
                    <td>Formula One Paddock Club™ Closes</td></tr>
            </table>
            <br/>
            <p><strong>SUNDAY 18TH SEPTEMBER</strong></p>
            <table class="table" cellpadding="5">

                <tr>
                    <td>14:30</td>
                    <td>Circuit Park Open</td>
                </tr>

                <tr>
                    <td>14:30</td>
                    <td>Formula One Paddock Club™ Lifestyle Area Open</td>
                </tr>
               <!--  <tr>
                    <td>15:00</td>
                    <td>Circuit Park Opens</td>
                </tr>
                <tr>
                    <td><strong>15:00</strong></td>
                    <td><strong>Formula One Paddock Club™ Lifestyle Area Open</strong></td>
                </tr> -->
                <tr>
                    <td><strong>15:30</strong></td>
                    <td><strong>Formula One Paddock Club™ Suites Open</strong></td>
                </tr>
               <!-- <tr>
                    <td><strong>16:30 - 17:00</strong></td>
                    <td><strong>TCR International Series Second Race</strong></td>
                </tr>
                <tr>
                    <td><strong>17:25 - 18:00</strong></td>
                    <td><strong>Porsche Carrera Cup Asia Second Race</strong></td>
                </tr>
                <tr>
                    <td><strong>18:30</strong></td>
                    <td><strong>Formula One™ Drivers Track Parade</strong></td>
                </tr>-->
                <tr>
                    <td>18:30 - 19:00</td>
                    <td>Formula one Paddock Club™ Dinner Service Commences</td>
                </tr>
                <tr>
                    <td><strong>18:30</strong></td>
                    <td><strong>Formula One™ Drivers Track Parade</strong></td>
                </tr>
                <tr>
                    <td><strong>18:45 - 19:15</strong></td>
                    <td><strong>Formula One™ Starting Grid Presentation</strong></td>
                </tr>
                <tr>
                    <td>19:46</td>
                    <td>National Anthem</td>
                </tr>
                <tr>
                    <td><strong>20:00 - 22:00</strong></td>
                    <td><strong>2016 <span style="text-transform: uppercase;">Formula 1 Singapore Airlines Singapore GRAND PRIX</span><br/>(61 Laps or 120 Minutes)</strong></td>
                </tr>
                <tr>
                    <td>23:30</td>
                    <td>Paddock Club™ Closes</td>
                </tr>
            </table>
            <p><i>(All timings are provisional and subject to change)</i></p>
        </div>#}
    </section>

    {#
    <section class="words">
        <div class="chunk">
            <div class="row">
                <div class="big bucket col" id="textpadding">
                    Operation Hours
                    The Formula One Paddock Club™ suites will be open from:
                    Friday & Saturday (19 & 20 September 2014):
                    3.00pm to 12 midnight daily
                    Sunday (21 September 2014):
                    3.00pm to 11.30pm
                    All bars will close half an hour prior to the closure of the Formula One Paddock Club™.
                </div>
                <div class="big bucket col" id="colborder">
                    <p><strong>Tickets</strong><br />
                    All guests are required to wear the ticket and wristband of the corresponding day. Wristbands will be given upon arrival. Please check that the ticket is for the correct day. Singapore GP Pte Ltd reserves the right to refuse entry to any person who does not comply with this rule. After entry to the circuit, tickets are non-transferable for that day.<br />
                    <br />
                    <strong>Release, Waiver And Discharge of Liability And Indemnity Agreement<br>For Children Below 7</strong><br />
                    Children below the age of seven (7) will only be admitted into the Formula One Paddock Club™ if the parent/guardian signs a Release, Waiver and Discharge of Liability and Indemnity Agreement.
                    This form can be obtained at <a id="paddocklink" href=""www.singaporegp.sg">www.singaporegp.sg</a> or from the concierge at the Formula One Paddock Club™ Lifestyle Area.
                    <br /><br />
                    <strong>Photography and Videography</strong><br />
                    By entering the Circuit Park, each guest is deemed to have agreed and accepted that all sound and moving picture rights rest exclusively with Formula One Administration Limited and that any moving picture and image originated, filmed or recorded at any Grand Prix circuit shall not be used for commercial purposes and may only be used for the private amateur enjoyment of the person originating, filming or recording such images.<br /><br />
                    <strong>Dress Code</strong><br />
                    Smart casual attire is recommended. For your safety, we recommend you avoid wearing slippers or flip-flops.<br /><br />
                    <strong>Wheelchair Access</strong><br />
                    Should you require any assistance over the race weekend, please email us at <a id="paddocklink" href="mailto:hospitality@singaporegp.sg">hospitality@singaporegp.sg</a> by 16 September, Tuesday.<br /><br />
                    <strong>Need to know more?</strong><br />
                    As a valued guest, we wish to make your experience a pleasant one. If you require any further information, please email us at <a id="paddocklink" href="mailto:hospitality@singaporegp.sg">hospitality@singaporegp.sg</a> or visit the official website at <a id="paddocklink" href="www.singaporegp.sg/paddockclub">www.singaporegp.sg/paddockclub</a> for the most up-to-date information.
                    <br /><br />
                    All information is correct as of 29 July 2014 and is subject to change.
                    </p>
                </div>
            </div></div>
        </section>
        #}
    <section>
        <div class="chunk">
            <div class="row">
                <p><span id="paddocklink">IMPORTANT</span><br/>
                    Motor Racing is dangerous and accidents can happen. The <span style="text-transform: uppercase;">2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX</span> is a rain or shine event.</p>
            </div></div>
    </section>
{% endblock %}