
{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <link rel="stylesheet" href="stylesheets/home.min.css"/>

    <style>
        .paddingtwenty{
            padding-left:20px;
            padding-right:20px;
        }
        p{
            margin: 0 !important;
            padding: 0 !important;
        }
        .paddingforty{
            padding-left:40px;
            padding-right:40px;
        }
        .noshadow{
            border-top: 1px solid #e0e0e0;
            box-shadow: none !important;
        }
        .whitebg{
            background: white!important;
        }
        .anothergrey{
            background: #fbfbfb !important;
        }
        .clickyclick{
            font-weight: bold;
            color: #bb9d5f;
        }
        .nopadding{
            margin:0;
            padding:0 !important;
            padding-top:0 !important;
            padding-bottom:0 !important;
        }
        .tips{
            font-weight: bold;
            font-size: 100%;

            padding-right:30px !important;
            padding-left: 70px !important;
        }
        .tips ~ p{

            padding-left: 70px !important;
            padding-right:30px !important;
        }
        a{
            color:#bb9d56;
        }
        .tips::first-letter{
        }
        p a img{
            height:40px;
            padding:0px;
            margin-top:-10px;
        }
        .paddinground{
            padding: 40px !important;

        }
        .lettercircle{
            float: left;
            background: #bb9d56;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding: 10px;
            font: 28px Arial, sans-serif;
            color: #ffffff;
            text-align: center;
        }

        .minus{
            margin-top:-10px;
        }
        .pushpadtop{
            padding-top: 30px;
        }

        .weather{
            background-color: #960101; vertical-align: middle; line-height: 40px; text-align: center; color: white; font-size: 1em;
        }
        .weather a{
            color: white;
            font-weight: bold;
        }
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:12.5px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:12.5px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Getting Around</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="chunk paddingtwenty ">
            <p class="breadcrumbs"><a href="{{ route('eventguide2016') }}">Event Guide</a>&#32;&#32;&#32;&#32;&gt;&#32;&#32;&#32;&#32;Getting Around</p>
        </div>
        <div class="chunk paddingforty ">
            <p style="text-align:center; font-size:30px">
                <b>
                    TRANSPORT GUIDE 2016
                </b>
            </p>
            <br>
            <p>
                As a street circuit, there will inevitably be a high volume of traffic around the Circuit Park. <b>It is highly recommended that you use public transport</b>. MRT train services will be increased to cope with the higher demand, with train services at City Hall MRT station extended until 1.30am on Friday and 1.10am on Saturday and Sunday.
            </p>
            <br>
            <p style="text-align:center; font-size:23px;">
                <u><b>GETTING TO THE GRANDSTANDS</b></u>
            </p>
            <br>
            <p>
                Plan your route to the gate nearest to your grandstand carefully, whether you are travelling by MRT, shuttle bus or taxi. Most gates are within walking distance to an MRT station. The recommended gates are stated on the back of your ticket. Please allow plenty of time to get to the Marina Bay Street Circuit.
            </p>
            <br>
            <p>
                Information booths are located next to every entry gate to aid patrons. You will be able to obtain a copy of the circuit park map from there.
            </p>
            <br>
            <p>
                <b>IMPORTANT!</b> Do note that some of the Gates have been renumbered this year. Please click <a href="/on-track/circuit-park-map">here</a> for the updated Circuit Park map in order to plan your journey. The Gates and their locations are as follows:
            </p>
            <br>

            <table width="100%" border="1" cellspacing="4">
                <tbody><tr>
                    <td style="padding: 10px 5px;" width="30%"><p><strong>Gate  Number</strong></p></td>
                    <td style="padding: 10px 5px;" width="20%"><p><strong>Train  Station</strong></p></td>
                    <td style="padding: 10px 5px;" width="50%"><p><strong>Station  Number</strong></p></td>
                </tr>
                <tr>
                    <td style="padding: 10px 5px;" ><p>Gate 1</p></td>
                    <td style="padding: 10px 5px;" ><p>Nicoll Highway</p></td>
                    <td style="padding: 10px 5px;" ><p>CC5 - Circle Line</p></td>

                </tr>
                <tr>
                    <td style="padding: 10px 5px;" ><p>Gate 2</p></td>
                    <td style="padding: 10px 5px;" ><p>Promenade</p></td>
                    <td style="padding: 10px 5px;" ><p>CC4/DT15 – Circle Line/Downtown Line</p></td>
                </tr>
                <tr>
                    <td style="padding: 10px 5px;" valign="top"><p>Gates 3 and 7</p></td>
                    <td style="padding: 10px 5px;" valign="top"><p>City  Hall <br>Esplanade</p></td>
                    <td style="padding: 10px 5px;" valign="top"><p>NS25/EW13 – North South Line/East West Line<br>
                            CC3 – Circle Line</p></td>
                </tr>
                <tr>
                    <td style="padding: 10px 5px;" ><p>Gates 4, 5 and 6</p></td>
                    <td style="padding: 10px 5px;" ><p>Raffles Place</p></td>
                    <td style="padding: 10px 5px;" ><p>NS26/EW14 – North South Line/East West Line</p></td>
                </tr>
                <tr>
                    <td style="padding: 10px 5px;" ><p>Gate 7</p></td>
                    <td style="padding: 10px 5px;" ><p>Esplanade</p></td>
                    <td style="padding: 10px 5px;" ><p>CC3 – Circle Line</p></td>
                </tr>
                <tr>
                    <td style="padding: 10px 5px;" ><p>Gate 8</p></td>
                    <td style="padding: 10px 5px;" ><p>Bayfront </p></td>
                    <td style="padding: 10px 5px;" ><p>CE1/DT6 – Circle Line/Downtown Line</p></td>
                </tr>
                <tr>
                    <td style="padding: 10px 5px;" ><p>Gate 9<br /><br /><div style="font-size: 10px; ">* Gate 9 is only for authorised personnel and for Formula One Paddock Club<sup>™</sup>, Sky Suite, Club Suite and The Green Room ticketholders.</div></p></td>
                    <td style="padding: 10px 5px;" ><p>Promenade</p></td>
                    <td style="padding: 10px 5px;" ><p>CC4/DT15 – Circle Line/Downtown Line</p></td>
                </tr>
                </tbody>
            </table>

            <br><br>
            <p style="text-align:left; font-size:20px">
                <b>
                    <u>
                        HOW TO GET TO PIT, TURNS 1, 2 AND 3 GRANDSTANDS
                    </u>
                </b>
            </p>
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="320">MRT</th>
                    <th class="tg-031e" width="320">SHUTTLE BUS</th>
                    <th class="tg-031e" width="320">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Nicoll Highway MRT Station (Exit B, Circle Line) is a 5 minute walk to <b>Gate 1</b>.
                        <br><br>
                        Promenade MRT Station (Exit C, Circle Line) is a 5 minute walk to <b>Gate 2</b>.
                    </td>
                    <td class="tg-031e">
                        A shuttle bus from Lavender MRT station will take you to Republic Avenue. The shuttle bus service operates from 2:45pm to 1:00am, or 2 hours after the last race of the day, whichever is later.
                        <br><br>
                        After you alight, please follow the path in the direction of <b>Gate 1.</b>
                        <br><br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                    <td class="tg-031e">
                        A designated taxi point will be located at Nicoll Highway, in the direction of Guillemard Road (in front of The Concourse). Please take the overhead bridge and follow the path towards <b>Gate 1.</b>
                        <br><br>
                        Designated taxi points are located at Suntec City. Please walk in the direction of <b>Gate 2</b>.
                        <br><br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <br>
            <br>
            <p style="text-align:left; font-size:20px">
                <b>
                    <u>
                        HOW TO GET TO BAY GRANDSTAND
                    </u>
                </b>
            </p>
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Get off at City Hall MRT Station (North-South, East-West Interchange) and take a 10 minute walk through City Link Mall or  alight at Esplanade MRT Station (Exit C, Circle Line) and take a 10 minute walk to <b>Gate 7</b>.
                        <br>
                        <br>
                        Get off at Raffles Place MRT (Exit A or B North-South, East-West Interchange) and take a 10 minute walk to <b>Gate 4, 5 or 6.</b>
                        <br>
                        <br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand
                    </td>
                    <td class="tg-031e">
                        Alight at the taxi stand on Battery Road (in front of Straits Building) or on Collyer Quay (in front of Hitachi Tower) and proceed towards <b>Gate 4, 5 or 6</b>
                        <br>
                        <br>
                        Designated taxi points will be located at Suntec Convention Centre at Raffles Boulevard. Please walk in the direction of <b>Gate 7.</b>
                        <br><br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <br>
            <br>
            <p style="text-align:left; font-size:20px">
                <b>
                    <u>
                        HOW TO GET TO ESPLANADE WATERFRONT GRANDSTAND
                    </u>
                    <br>
                    <span style="color:red; font-size:12px;">*Kindly note that there is <u>No Access via Gate 3</u></span>
                </b>
            </p>
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Get off at Raffles Place MRT (Exit A or B North-South, East-West Interchange) and take a 10 minute walk to <b>Gate 4, 5 or 6.</b>
                        <br>
                        <br>
                        Get off at City Hall MRT Station (North-South, East-West Interchange) and take a 10 minute walk through City Link Mall or  alight at Esplanade MRT Station (Exit C, Circle Line) and take a 10 minute walk to <b>Gate 7</b>
                        <br>
                        <br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                    <td class="tg-031e">
                        Alight at the taxi stand on Battery Road (in front of Straits Building) or on Collyer Quay (in front of Hitachi Tower) and proceed towards <b>Gate 4, 5 or 6</b>
                        <br>
                        <br>
                        Designated taxi points will be located at Suntec Convention Centre at Raffles Boulevard. Please walk in the direction of <b>Gate 7.</b>
                        <br>
                        <br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <br>
            <br>
            <p style="text-align:left; font-size:20px">
                <b>
                    <u>
                        HOW TO GET TO PADANG GRANDSTAND
                    </u>
                </b>
            </p>
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Alight at Raffles Place MRT Station (Exit A or B, North-South, East-West Interchange) and take a 10 minute walk to <b>Gate 4.</b>
                        <br>
                        <br>
                        Alight at City Hall MRT Station (Exit A, North-South, East-West Interchange) and take a 5 to 10 minute walk to <b>Gate 3.</b>
                        <br>
                        <br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                    <td class="tg-031e">
                        Taxi points at North Bridge Road (in front of Capitol Piazza) and Coleman Street (in front of Peninsula Plaza). Follow signs to <b>Gate 3.</b>
                        <br>
                        <br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                </tr>
            </table>
            </p>
            <br><br><br>
            <p style="text-align:left; font-size:20px">
                <b>
                    <u>
                        HOW TO GET TO STAMFORD GRANDSTAND
                    </u>
                </b>
            </p>
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Get off at City Hall MRT Station (Exit A, North-South, East-West Interchange) or alight at Esplanade MRT Station (Exit F, Circle Line) and take a 5 minute walk to <b>Gate 3.</b>
                        <br>
                        <br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                    <td class="tg-031e">
                        Taxi points at North Bridge Road (in front of Capitol Piazza) and Coleman Street (in front of Peninsula Plaza). Follow signs to <b>Gate 3.</b>
                        <br><br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                </tr>
            </table>
            </p>
            <br><br><br>
            <p style="text-align:left; font-size:20px">
                <b>
                    <u>
                        HOW TO GET TO CONNAUGHT GRANDSTAND
                    </u><br>
                    <span style="color:red; font-size:12px;">*Kindly note that there is <u>No Access via Gate 3</u></span>
                </b>
            </p>
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Get off at Raffles Place MRT (Exit A or B, North-South, East-West Interchange) and take a 10 minute walk to <b>Gate 4, 5 or 6.</b>
                        <br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                    <td class="tg-031e">
                        Alight at the taxi stand on Battery Road (in front of Straits Building) or on Collyer Quay (in front of Hitachi Tower) and proceed towards <b>Gate 4, 5 or 6</b>
                        <br>
                        <br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </td>
                </tr>
            </table>
            </p>
            <br><br><br>

            <p style="text-align:center; font-size:23px;">
                <u><b>GETTING TO WHEELCHAIR PLATFORMS</b></u>
            </p>
            <br><br>
            <p style="text-align:left; font-size:20px">
                <b>
                    <u>
                        HOW TO GET TO EMPRESS PLACE
                    </u>
                </b>

            </p>
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Get off at Raffles Place MRT (North-South, East-West Interchange). Take the lift to Basement 1, (B1). Then, transfer to the Chevron House Lift to street level. Follow signs to <b>Gate 4</b>, about 10 minutes away.
                    </td>
                    <td class="tg-031e">
                        Alight at the taxi stand on Battery Road (in front of Straits Building) or on Collyer Quay (in front of Hitachi Tower) and proceed towards <b>Gate 4</b> via Cavenagh Bridge.
                    </td>
                </tr>
            </table>
            </p>
            <br><br><br>
            <p style="text-align:left; font-size:20px">
                <b>
                    <u>
                        HOW TO GET TO TURN 1 WHEELCHAIR PLATFORM
                    </u>
                </b>

            </p>
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Get off at Nicoll Highway MRT Station (Exit A, Circle Line). Take the lift at Exit A to street level. Cross the road at the traffic light junction towards Exit B and follow signs to <b>Gate 1</b>, about 5 minutes away.
                    </td>
                    <td class="tg-031e">
                        A designated taxi point will be located at Nicoll Highway, in the direction of Guillemard Road (in front of The Concourse). Using the lift, take the overhead bridge heading towards the promenade. Take the lift down to street level and follow the path towards <b>Gate 1</b>.
                    </td>
                </tr>
            </table>
            </p><br><br><br>
            <p style="text-align:center; font-size:23px;">
                <u><b>WALKABOUT TICKETS</b></u>
            </p><br><br>
            <p style="text-align:left; font-size:20px">
                <b>
                    <u>
                        PREMIER WALKABOUT
                    </u>
                    <br>
                    <span style="color:red; font-size:12px;">*Kindly note that there is <u>No Access via Gate 3</u></span>
                </b>

            </p>
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Nicoll Highway MRT Station (Exit B, Circle Line) is a 5 minute walk to <b>Gate 1.</b>
                        <br><br>
                        Promenade MRT Station (Exit C, Circle Line) is a 5 minute walk to <b>Gate 2.</b>
                        <br><br>
                        Get off at Raffles Place MRT (Exit A or B, North-South, East-West Interchange) and take a 10 minute walk to <b>Gate 5.</b>
                        <br><br>
                        Get off at City Hall MRT Station (North-South, East-West Interchange) and take a 10 minute walk through City Link Mall or alight at Esplanade MRT Station (Exit C, Circle Line) and take a 10 minute walk to <b>Gate 7</b>

                    </td>
                    <td class="tg-031e">
                        A designated taxi point will be located at Nicoll Highway, in the direction of Guillemard Road (in front of The Concourse). Please take the overhead bridge and follow the path towards <b>Gate 1.</b>
                        <br><br>
                        Designated taxi points are located at Suntec Towers 3 and 4. Please walk in the direction of <b>Gate 2.</b>
                        <br><br>
                        Alight at the taxi stand on Battery Road (in front of Straits Building) or on Collyer Quay (in front of Hitachi Tower) and proceed towards <b>Gate 5.</b>
                        <br><br>
                        Designated taxi points will be located at Suntec Convention Centre at Raffles Boulevard. Please walk in the direction of <b>Gate 7.</b>

                    </td>
                </tr>
            </table>
            </p><br><br><br>

            <p style="text-align:left; font-size:20px">
                <b>
                    <u>
                        ZONE 4 WALKABOUT
                    </u>
                </b>

            </p>
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Alight at City Hall MRT Station (Exit A, North-South, East-West Interchange) and take a 5 to 10 minute walk to <b>Gate 3. </b>
                        <br><br>
                        Get off at Raffles Place MRT (Exit A or B, North-South, East-West Interchange) and take a 10 minute walk to <b>Gate 4 or 5.</b>
                    </td>
                    <td class="tg-031e">
                        Taxi points at North Bridge Road (in front of Capitol Piazza) and Coleman Street (in front of Peninsula Plaza). Follow signs to  <b>Gate 3.</b>
                        <br><br>
                        Alight at the taxi stand on Battery Road (in front of Straits Building) or on Collyer Quay (in front of Hitachi Tower) and proceed towards <b>Gate 4</b> via Cavenagh Bridge.
                    </td>
                </tr>
            </table>
            </p><br><br><br>

            <p style="text-align:center; font-size:23px;">
                <u><b>GETTING OUT OF THE CIRCUIT PARK</b></u>
            </p>
            <br>
            <p>
                Allow for plenty of time when leaving the circuit park. Due to the number of spectators leaving after the event, you may experience congestion.
            </p>
            <br>
            <p style="text-align:center; font-size:20px">
                <b>
                    <u>
                        FROM GATE 1
                    </u>
                </b>
            </p>
            For those in Zones 1 and 2
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="320">MRT</th>
                    <th class="tg-031e" width="320">SHUTTLE BUS</th>
                    <th class="tg-031e" width="320">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Nicoll Highway MRT (Exit B, Circle Line).
                    </td>
                    <td class="tg-031e">
                        After exiting Gate 1, follow the path to the shuttle service bus stop along Republic Avenue to Lavender MRT station. The shuttle bus service operates from 2:45pm to 1:00am, or 2 hours after the last race of the day, whichever is later.
                    </td>
                    <td class="tg-031e">
                        After exiting Gate 1, follow the path to the taxi point at Nicoll Highway (in front of The Concourse).
                        <br><br>
                        Please note there is a surcharge of $5 for taxis.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <p style="text-align:center; font-size:20px">
                <b>
                    <u>
                        FROM GATE 2
                    </u>
                </b>
            </p>
            For those in Zones 1 and 2
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Promenade MRT (Exit C, Circle Line).
                    </td>
                    <td class="tg-031e">
                        Designated taxi points are located at Suntec Towers 3 and 4.
                        <br>
                        <br>
                        Please note there is a surcharge of $5 for taxis.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <p style="text-align:center; font-size:20px">
                <b>
                    <u>
                        FROM GATE 3
                    </u>
                </b>
            </p>
            For those in Zones 3 and 4
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        City Hall MRT (Exit A, North-South, East-West Interchange).
                        <br>
                        <br>
                        Esplanade MRT (Exit F, Circle Line).
                    </td>
                    <td class="tg-031e">
                        Taxi points at North Bridge Road (in front of Capitol Piazza) and Coleman Street (in front of Peninsula Excelsior Hotel).
                        <br>
                        <br>
                        Please note there is a surcharge of $5 for taxis.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <p style="text-align:center; font-size:20px">
                <b>
                    <u>
                        FROM GATE 4
                    </u>
                </b>
            </p>
            For those in Zones 4
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Raffles Place MRT (Exits A or B, North-South, East-West Line).
                        <br>
                        <br>
                        Clarke Quay MRT (North-East Line).
                    </td>
                    <td class="tg-031e">
                        Taxi stand in front of Straits Building on Battery Road or in front of Hitachi Tower at Collyer Quay.
                        <br>
                        <br>
                        Please note there is a surcharge of $5 for taxis.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <p style="text-align:center; font-size:20px">
                <b>
                    <u>
                        FROM GATE 5
                    </u>
                </b>
            </p>
            For those in Zones 4
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Raffles Place MRT (Exits A or B, North-South, East-West Line).
                    </td>
                    <td class="tg-031e">
                        Taxi stand in front of Hitachi Tower at Collyer Quay.
                        <br>
                        <br>
                        Please note there is surcharge of $5 for taxis.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <p style="text-align:center; font-size:20px">
                <b>
                    <u>
                        FROM GATE 6
                    </u>
                </b>
            </p>
            For those in Zones 4
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Raffles Place MRT (Exits A or B, North-South, East-West Line).
                    </td>
                    <td class="tg-031e">
                        Taxi stand in front of Hitachi Tower at Collyer Quay.
                        <br>
                        <br>
                        Please note there is surcharge of $5 for taxis.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <p style="text-align:center; font-size:20px">
                <b>
                    <u>
                        FROM GATE 7
                    </u>
                </b>
            </p>
            For those in Zones 3 and 4
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        City Hall MRT (Exit A, North-South, East-West Line).
                        <br>
                        <br>
                        Esplanade MRT (Exit C, Circle Line).
                    </td>
                    <td class="tg-031e">
                        Taxi stand at Suntec Convention Centre at Raffles Boulevard.
                        <br>
                        <br>
                        Please note there is a surcharge of $5 for taxis.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <p style="text-align:center; font-size:20px">
                <b>
                    <u>
                        FROM GATE 8
                    </u>
                </b>
            </p>
            For those in Zones 1 and 2
            <br>
            <p>
            <table class="tg">
                <tr>
                    <th class="tg-031e" width="480">MRT</th>
                    <th class="tg-031e" width="480">TAXI</th>
                </tr>
                <tr>
                    <td class="tg-031e">
                        Bayfront MRT (Exit B, Circle Line).
                    </td>
                    <td class="tg-031e">
                        Designated taxi points are located at Marina Bay Sands Casino Driveway.
                        <br>
                        <br>
                        Please note there is a surcharge of $5 for taxis.
                    </td>
                </tr>
            </table>
            </p>
            <br>
            <p style="text-align:center; font-size:20px">
                <b>
                    <u>
                        FROM GATE 9
                    </u>
                </b>
            </p>
            Exit from Gate 9 is only for authorised personnel and for Formula One Paddock Club<sup>™</sup>, Sky Suite, Club Suite and The Green Room ticketholders.
            <br><br><br><br><br>
        </div>
    </section>
{% endblock %}