{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
{% endblock %}




{# page content #}
{% block content %}
    <style>
        .content section.selection {
            background: url("../images/raceguide/masthead-{{ guide.id }}.png") bottom center no-repeat, url("../images/background_selection.jpg") top center no-repeat;
        }
    </style>
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        {% if guide.slug == 'useful-information' %}
                            <h1>Paddock Club Ticketholders</h1>
                            <hr/>
                            <p>We are thrilled to have you join us at the 2014 FORMULA 1<br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>look forward to making your experience a truly memorable one</p>
                        {% else %}
                            <h1>Race Guide</h1>
                            <hr/>
                            <p>To maximize your enjoyment of the race we have enclosed<br/>some general information which we kindly request you read carefully.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="preamble">
        <div class="chunk row">
            <p class="breadcrumbs">Race Guide &nbsp; ⟩ &nbsp; {{ guide.title }}</p>
        </div>
        <div class="chunk row">
            <div class="legalese col">
                <div class="description">
                    <span class="underlineText">{{ guide.title }}</span>
                    <br /><br />
                    <p>{{ guide.description }}</p>
                </div>
            </div>
        </div>


    </section>

    <section class="words">
        <div class="chunk row">
            <div class="legalese col">
                <div class="half-content">
                    {{ guide.left_panel|raw }}
                </div>
                <div class="half-content">
                    {{ guide.right_panel|raw }}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="chunk row">
            <h3 class="gold">IMPORTANT</h3>
            <p style="margin: 0; padding: 0">Motor Racing is dangerous and accidents happen. The 2015 Formula 1 Singapore Airlines Singapore GRAND PRIX is a rain or shine event.</p>
        </div>
    </section>

{% endblock %}
