{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="stylesheets/home.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <script>
        $(document).ready(function(){
            $('.fancyboxzones').fancybox();
        })
    </script>


    <style>
        .movingit{
            margin-top: 10px;
            margin-left:80%;
        }
        .moverightnow{
            left: 100px!important;
        }

        @media only screen and (max-width:768px){
            .movingit{
                margin-top: 0px;
                margin-left:0%;
            }
        }
        .styled-button .pdf {
            width: 100%;
            background: transparent url(/images/icon_pdf.png) no-repeat 95% 50%;}
    </style>

{% endblock %}




{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar pushright col">
                    <div class="desc">
                        <h1>Race Guide</h1>
                        <hr/>
                        <p>To maximize your enjoyment of the race we have enclosed<br/>some general information which we kindly request you read carefully.</p>
                    </div>

                </div>  <br>
                <div class="filter-bar movingit col">
                    <div class="styled-button">
                        <div class="pdf">
                            <a href="http://web2.singaporegp.sg/Uploaded/Uploaded/Raceguide.pdf">DOWNLOAD PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        {% set i = 1 %}
        {% for collection in collections %}
            {% if i == 1 %}
                <div class="chunk">
                <div class="row">
            {% endif %}
            <div class="small bucket col">
                <figure>
                    <div class="img-wrapper">
                        <a href="{{ route('raceguide.collection', { 'collectionSlug': collection.slug }) }}">
                            <img src="{{ collection.img }}"/>
                        </a>
                    </div>
                    <figcaption>
                        <p class="title">{{ collection.title }}</p>
                        <hr>
                        <p><a href="{{ route('raceguide.collection', { 'collectionSlug': collection.slug }) }}">{{ collection.link }}</a></p>
                    </figcaption>
                </figure>
            </div>
            {% set i = i + 1 %}
            {% if i == 4 %}
                </div>
                </div>
                {% set i = 1 %}
            {% endif %}
        {% endfor %}
    </section>

{% endblock %}