{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets Listings' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="stylesheets/home.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <script>
        $(document).ready(function(){
            $('.fancyboxzones').fancybox();
        })
   </script>


    <style>

        .performance-cat #chooseCat{

        }

    </style>

{% endblock %}

{#
    page content
#}
{% block content %}
    {% set hasGroup = false %}
    <section class="fine-print">
        <div class="chunk">
            <div class="row">
                <div class="filter-bar col" style="margin-top:20px;">
                    <h1>2014 On/Off Track Schedule</h1>
                                        {{ html|raw }}
                </div>
            </div>
        </div>
    </section>


<style>
ul.listing.make-space {
    display: block;
}
.xdesc nav {
    display: none;
}
h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 10px;
}

.footer, header {
    display: none;
    height: 0;
}
.content {
    padding-top: 0px!important;
}
</style>

{% endblock %}