{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets Listings' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="stylesheets/home.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <script>
        $(document).ready(function(){
            $('.fancyboxzones').fancybox();
        })
    </script>


    <style>

        .performance-cat #chooseCat{

        }

    </style>

{% endblock %}

{#
    page content
#}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">

                    <div class="desc">
                        <h1>2014 ON/OFF TRACK SCHEDULE</h1>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="filter-bar col">

                    <div class="styled-button {% if date == 'friday' %}active{% endif %}">
                        <a href="{{ route('onofftrackschedule') }}/friday">FRI 19 SEPTEMBER</a>
                    </div>
                    <div class="styled-button {% if date == 'saturday' %}active{% endif %}">
                        <a href="{{ route('onofftrackschedule') }}/saturday">SAT 20 SEPTEMBER</a>
                    </div>
                    <div class="styled-button {% if date == 'sunday' %}active{% endif %}">
                        <a href="{{ route('onofftrackschedule') }}/sunday">SUN 21 SEPTEMBER</a>
                    </div>

                    <div class="styled-button styled-select all-button" data-ng-controller="categorySelectController">
                        <select name="type" onchange="filter_type(this)">
                            <option value="all">ALL</option>
                            <option value="offtrack">OFF TRACK</option>
                            <option value="ontrack">ON TRACK</option>
                        </select>
                    </div>

                    {#<div class="styled-button icon-print" style="width: 40px; background-image: url({{ asset('images/icon-print.png') }})">#}
                        {#<a href="{{ route('onofftrackschedule') }}/sunday"></a>#}
                    {#</div>#}

                    <div class="styled-button" style="float: right; ">
                        <a href="http://web2.singaporegp.sg/Uploaded/pdf_path/onofftrack.pdf">DOWNLOAD PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {% set hasGroup = false %}
    {% for category in ticketCategories %}

        {% if allTickets[category.id] %}
            {% if category.id == 1 %}
                {% set hasGroup = true %}
            {% endif %}

            <section class="ticket-group" data-tickets-statuses>
                <div class="chunk">
                    <div class="row">
                        {% embed "partials.tickets.table" with { tickets:allTickets[category.id] } %}{% endembed %}
                    </div>
                </div>
            </section>
        {% endif %}
    {% endfor %}

    <section class="fine-print">
        <div class="chunk">
            <div class="row">
                <div class="filter-bar col">

                    <div class="blackHeader firstCol">
                        TIME
                    </div>
                    <div class="blackHeader secondCol">
                        EVENT
                    </div>
                    <div class="blackHeader thirdCol">
                        TYPE
                    </div>
                    <div class="blackHeader fourthCol">
                        WHERE
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="filter-bar col" style="margin-top:20px; margin-bottom: 20px;">	
					{{ html|raw }}
                </div>
                <p>This timetable, artiste line-up and performance times are subject to amendments</p>
            </div>
        </div>
    </section>

<script>
function filter_type(obj)
{
	var o = $(obj);
	if (o.val() == "all") {
		$(".ontrack").show();
		$(".offtrack").show();
	} else if (o.val() == "offtrack") {
		$(".ontrack").hide();
		$(".offtrack").show();
	} else {
		$(".ontrack").show();
		$(".offtrack").hide();
	}
}

function expand_row(cnt)
{
    $obj = $("#row-"+cnt).toggle("slow").addClass('expanded').siblings().children('.clickable');
    if(!$obj.hasClass('expanded'))
        $obj.css('font-weight','bold').addClass('expanded'); // expand and bold the title
    else{
        $obj.css('font-weight','').removeClass('expanded'); // expand and bold the title
    }
}
</script>

{% endblock %}
