
{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <link rel="stylesheet" href="stylesheets/home.min.css"/>

    <style>
        .paddingtwenty{
            padding-left:20px;
            padding-right:20px;
        }
        p{
            margin: 0 !important;
            padding: 0 !important;
        }
        .paddingforty{
            padding-left:40px;
            padding-right:40px;
        }
        .noshadow{
            border-top: 1px solid #e0e0e0;
            box-shadow: none !important;
        }
        .whitebg{
            background: white!important;
        }
        .anothergrey{
            background: #fbfbfb !important;
        }
        .clickyclick{
            font-weight: bold;
            color: #bb9d5f;
        }
        .nopadding{
            margin:0;
            padding:0 !important;
            padding-top:0 !important;
            padding-bottom:0 !important;
        }
        .tips{
            font-weight: bold;
            font-size: 100%;

            padding-right:30px !important;
            padding-left: 70px !important;
        }
        .tips ~ p{

            padding-left: 70px !important;
            padding-right:30px !important;
        }
        a{
            color:#bb9d56;
        }
        .tips::first-letter{
        }
        p a img{
            height:40px;
            padding:0px;
            margin-top:-10px;
        }
        .paddinground{
            padding: 40px !important;

        }
        .lettercircle{
            float: left;
            background: #bb9d56;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding: 10px;
            font: 28px Arial, sans-serif;
            color: #ffffff;
            text-align: center;
        }

        .minus{
            margin-top:-10px;
        }
        .pushpadtop{
            padding-top: 30px;
        }

        .weather{
            background-color: #960101; vertical-align: middle; line-height: 40px; text-align: center; color: white; font-size: 1em;
        }
        .weather a{
            color: white;
            font-weight: bold;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Tips</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
        <div class="chunk paddingtwenty ">
            <p class="breadcrumbs"><a href="{{ route('raceguides.index') }}">Event Guide</a>&#32;&#32;&#32;&#32;&gt;&#32;&#32;&#32;&#32;Tips</p>
        </div>
        <div class="chunk paddingforty ">

            <h2 id="headercol">Tips</h2>
            <br>
            <p>A-Z tips on how to make the most out of your 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX  weekend
            </p>
        </div>

    </section>
    <section class="whitebg noshadow">
        <div class="chunk paddingtwenty">
            <div class="lettercircle">A</div>
            <p class="tips">Always check that you have the correct ticket</p>
            <p>
                Ensure you have the correct ticket for the corresponding day. Tickets are non-transferable on the day or during the day of presentation and must be displayed at all times.
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">B</div>
            <p class="tips"> Bring your credit card and some cash into the Circuit Park</p>
            <p>
                For your convenience, credit cards are accepted at several Food & Beverage outlets and all merchandise stores. Do note that some food stations accept cash only.
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">C</div>
            <p class="tips">Concert Fan Zone at Padang Stage</p>
            <p>
                Go early to secure a spot in the Fanzone to get up-close to your favourite Padang Stage headliner Kylie Minogue (Friday), Bastille and Queen + Adam Lambert (Saturday), Halsey and Imagine Dragons (Sunday). Entry to the Fanzone is on a first come, first served basis from when the gates open so do make sure you have a cap and sunscreen on!</p>
                </br>
            <p>
                Do note that you can exit the Fanzone at any time, however you may not be able to re-enter once the Fanzone has reached its maximum capacity.
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">D</div>
            <p class="tips">Download the official Singapore GP Mobile App</p>
            <p>
                Download the official Singapore GP mobile app (iTunes and Google Play) for your personal race weekend guide to the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX.</p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">E</div>
            <p class="tips">Extended hours on MRT and selected public transport services from 16 to 18 September</p>
            <p>
                As a street circuit, there will inevitably be a high volume of traffic around the Circuit Park. You are encouraged to take public transport to the Marina Bay Street Circuit - most gates are within walking distance to a MRT station (see below).
            </p>
            <br>
            <div style="padding-left:70px; padding-right:30px ">
                <table width="100%" border="0" cellspacing="4">
                    <tr>
                        <td width="30%"><P><strong>Gate  Number</strong></p></td>
                        <td width="20%"><P><strong>Train  Station</strong></p></td>
                        <td width="50%"><p><strong>Station  Number</strong></p></td>
                    </tr>
                    <tr>
                        <td><p>Gate 1</p></td>
                        <td><p>Nicoll Highway</p></td>
                        <td><p>CC5    – Circle Line</p></td>

                    </tr>
                    <tr>
                        <td><p>Gate 2</p></td>
                        <td><p>Promenade</p></td>
                        <td><p>CC4/DT15 – Circle Line/Downtown Line</p></td>
                    </tr>
                    <tr>
                        <td valign="top"><p>Gates 3 and 7</p></td>
                        <td valign="top"><p>City  Hall <br/>Esplanade</p></td>
                        <td valign="top"><p>NS25/EW13 – North South Line/East West Line<br/>
                                CC3 – Circle Line</p></td>
                    </tr>
                    <tr>
                        <td><P>Gates 4, 5 and 6</p></td>
                        <td><P>Raffles Place</p></td>
                        <td><P>NS26/EW14 – North South Line/East West Line</p></td>
                    </tr>
                    <tr>
                        <td><P>Gate 8</p></td>
                        <td><P>Bayfront</p></td>
                        <td><P>CE1/DT16 – Circle Line/Downtown Line</p></td>
                    </tr>
                    <tr>
                        <td><P>Gate 9</p></td>
                        <td><P>Promenade</p></td>
                        <td><P>CC4/DT15 – Circle Line/Downtown Line</p></td>
                    </tr>
                </table>


            </div>
            <br>

            <p>
                MRT train services will be increased to cope with the higher demand, with train services at City Hall MRT station extended until 1.30am on Friday and 1.10am on Saturday and Sunday. Zone 1 ticketholders can also take the free shuttle bus between Lavender MRT station (EW11- East West Line) and Gate 1 of the Marina Bay Street Circuit.
            </p>
            <br/>
            <p>
                For scheduled road closures and other transport details, read the <u><a href="https://www.lta.gov.sg/apps/news/page.aspx?c=2&id=83864e24-b570-4079-bc84-17778bc6277e">Land Transport Authority Road Access Plan</a></u> for more information.
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">F</div>
            <p class="tips">Fireworks at the end of the race</p>
            <p>
                Get your cameras ready - look out for a spectacular fireworks display that will light up the Marina Bay skyline once the chequered flag is waved!
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">G</div>
            <p class="tips">Gates open from 2.30pm to 12.30am daily</p>
            <p>
                There is plenty of action on and off track from the moment Circuit Park gates open. Come early to fully enjoy what the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX has to offer. Once you have entered the Circuit Park, you may exit and re-enter at any time.
            </p>
            <br>
            <p>
                <b>IMPORTANT!</b> Do note that some gates at the Circuit Park have been renumbered this year. Please click <u><a href="http://www.singaporegp.sg/on-track/circuit-park-map">here</a></u> for the updated Circuit Park map in order to plan your route.
            </p>
            <br>

        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">H</div>
            <p class="tips">Hashtag #SingaporeGP and #F1NightRace to be seen and heard</p>
            <p>
                Follow us on Facebook, Twitter, Instagram or Snapchat @F1NightRace for the latest updates during the race weekend. Look out for our larger-than-life hashtags around the Circuit Park for great photo opportunities and use the hashtag #SingaporeGP!
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">I</div>
            <p class="tips">Indemnity forms are required for children under the age of 7</p>
            <p>
                A valid ticket is required for entry into the Circuit Park for patrons of all ages. Additionally, children under the age of 7 require a signed indemnity form for admission into the Circuit Park. The indemnity form can be found <u><a href="http://web2.singaporegp.sg/Uploaded/pdf/2016_indemnity_form_31_aug.pdf">here</a></u>
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">J</div>
            <p class="tips">Join in the podium celebration during race day on the Pit Straight </p>
            <p>
                All Zone 1 ticketholders will have access to the track upon the all-clear signal by race officials after the chequered flag is waved on Sunday, 18 September. Cheer on and celebrate with the winners of the 2016 FORMULA 1 SINGAPORE AIRLINE SINGAPORE GRAND PRIX.
            </p>

        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">K</div>
            <p class="tips">Kits with ear plugs and a poncho available for $2</p>
            <p>
                Survival kits containing ponchos and ear plugs are available for sale at only S$2 throughout the Circuit Park (usually next to Information Booths). All proceeds will go to St. John Ambulance Brigade Singapore.
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">L</div>
            <p class="tips">Live commentary available on 102FM</p>
            <p>
                Don’t miss out on any of the track action by tuning in to 102FM for live commentary on your FM receiver.
            </p>
            
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">M</div>
            <p class="tips">Motorsport extravaganza</p>
            <p>
                Check out the support paddock for the Ferrari 458 Challenge EVOs taking part in the Ferrari Challenge Asia Pacific. You can also get a glimpse of turbocharged production touring cars from the TCR International Series and Porsche 911 GT3 Cup cars for the Porsche Carrera Cup Asia as they make their way to the pit straight prior to the start of each race. Petrolheads can also check out the vintage car display here.
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">N</div>
            <p class="tips">No laser pointers, or flags allowed into the Circuit Park</p>
            <p>
                Carrying a small bag with only the necessary items will help you pass through the security clearance at the gates faster. Please note that you are not allowed to bring certain items into the Circuit Park. A non-exhaustive list of prohibited items is listed in the Terms and Conditions of Sale and Entry to the Circuit Park available <u><a href="http://web2.singaporegp.sg/Uploaded/pdf/2016_T&C.pdf">here</a></u>. This includes laser pointers, flags, food and beverages (except for 1 clear plastic bottle of soft drink or mineral water of no more than 600ml).
                </p> <br/>
            <P>Remote-controlled crafts and drones are strictly not allowed into the Circuit Park.</p><br/>
           <p>
            <b>NOTE:</b>There is a temporary Restricted Area within and around the Marina Bay Street Circuit established by the Civil Aviation Authority of Singapore (CAAS) under the Air Navigation Order from 16 to 19 September. Unauthorised conduct of aerial activities (such as flying of unmanned aircraft, kite-flying and hoisting of captive balloons) within and into the temporary Restricted Area is not allowed.

           </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">O</div>
            <p class="tips">Other free experiences within the Circuit Park</p>
            <p>
                Zone 1 patrons will have free access to the Singapore Flyer over the race weekend from 2.30pm to 11.00pm. Go on the 165m high observation wheel where you can enjoy a great view of the track especially the starting grid and finish line.
            </p>
            <br/>
            <p>
                There are also free fun activities across other zones - race simulators underneath the Bay Grandstand in Zone 3, a Pit Stop Challenge where fans can try changing the tyres of a replica Formula 1<sup>®</sup> car, complimentary Airbrush Tattoo booths in Zone 4, and a myriad of roving entertainment throughout the Circuit Park. For the full entertainment line-up click <u><a href="http://www.singaporegp.sg/off-track/headliners">here</a></u>
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">P</div>
            <p class="tips">Privileges for ticketholders</p>
            <p>
                The Marina Bay Street Circuit is conveniently located in the heart of the city which means there’s plenty to see and do before and after the race. The Grand Prix Season Singapore guide by <u><a href="http://www.yoursingapore.com/content/dam/desktop/global/festivals-events-singapore/annual-highlights/GPSS-2016/GPSS%202016.pdf">Singapore Tourism Board</a></u> will help you zoom in on the best in and around the race circuit.
            </p>
            <br>
            <p>Enjoy instant savings when you flash your race ticket at selected dining, entertainment and retail establishments around the city!</p>


        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">Q</div>
            <p class="tips">Quicken your journey from Zone 1 to Zone 4 by taking the MRT</p>
            <p>
                If you’re not up for a walk, hop on a train for an express route to the Padang stage! Exit the Circuit Park via Gate 1 and take the train at Nicoll Highway MRT. Take the Circle Line train to Dhoby Ghaut MRT Station and transfer to the North-South Line towards Marina Bay. Alight at City Hall MRT and re-enter the Circuit Park via Gate 3.
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">R</div>
            <p class="tips">Reuse your ticket packaging </p>
            <p>
                Keep your valuables dry from the rain over the race weekend with the waterproof ticket covers. They make it easier to pack light too!
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">S</div>
            <p class="tips">Super Early Bird tickets for 2017 </p>
              <p>Look out for the best deals for the 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX with super early bird tickets available nearer to the race weekend to enjoy savings of up to 33% off the regular price.
           </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">T</div>
            <p class="tips">Take home souvenirs from official merchandise booths in the Circuit Park</p>
            <p>
                Complete your night race experience by picking up official 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX memorabilia at merchandise stores located throughout the Circuit Park during the race weekend. You can also head to our Pit Stop @ Orchard in front of Wisma Atria / Ngee Ann City from now till 21 September (12 to 9pm).

            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">U</div>
            <p class="tips">Use the race guides to get around the Circuit Park</p>
            <p>
                Study the Circuit Park map to learn your way around the Marina Bay Street Circuit and plan your day’s activities in advance! The online interactive Circuit Park Map is available <u><a href="http://www.singaporegp.sg/on-track/circuit-park-map">here</a></u>
            </p>
            <br/>
            <p>
                Prior to heading to the Marina Bay Street Circuit, we highly recommend that you read our Event Guide available <u><a href="http://www.singaporegp.sg/eventguide">here</a></u> to help you to plan and enjoy your experience. This includes important information for persons with reduced mobility, as well as useful tips to navigate the Circuit Park.
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">V</div>
            <p class="tips">Viewing platforms available at several strategically located areas of the Circuit Park</p>
            <p>
                Explore the Circuit Park and catch the race from the numerous viewing platforms to experience different vantage points of the racing action.
            </p>
        </div>

        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">W</div>
            <p class="tips">Wear comfortable clothing, walking shoes and pack light</p>
            <p>
                Comfort is key at the Circuit Park. Dress to keep cool both during the race and for the post-race headlining concerts at the Padang Stage. Fans are also encouraged to put on your most trusted pair of shoes and to pack light.
            </p>
        </div>

        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">X</div>
            <p class="tips">Xtra batteries and portable charges as back-up for your electronic devices</p>
            <p>
                To capture every second of the experience, bring along a spare battery or portable chargers for your mobile phones and cameras. Don’t forget your memory card!
            </p>
        </div>

        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">Y</div>
            <p class="tips">Yummy food offerings available at the Circuit Park</p>
            <p>
                Go on a gastronomic adventure with the wide range of restaurants and bars at the F1 Village (Zone 1), under the Bay Grandstand (Zone 3) as well as the Portside Hawkers and Dockside Hawkers (Zone 4). Check out the new concept areas within the Circuit Park <u><a href="http://www.singaporegp.sg/media/press-release/204#2016">here</a></u>
            </p>
        </div>
        <div class="noshadow chunk pushpadtop paddingtwenty">
            <div class="lettercircle">Z</div>
            <p class="tips">Zone allocation (1, 2, 3 and 4) determines access to entry gates</p>
            <p>
                A Zone 1 ticketholder has access to all four zones within the Circuit Park. A Zone 3 ticket will enable ticketholders to access Zones 3 and 4 while Zone 4 ticketholders will only have access to Zone 4. Check your ticket beforehand to enter the Circuit Park via the nearest gates.
            </p>
        </div>
    </section>
{% endblock %}