
{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
        <link rel="stylesheet" href="stylesheets/home.min.css"/>

    <style>
    .paddingtwenty{
        padding-left:20px;
        padding-right:20px;
    }
    p{
    margin: 0 !important;
    padding: 0 !important;
}
.indentin{
    padding-left: 30px;
    padding-right:30px;
}
.hundredpercent{
    width: 100%;
}
 .marginzero{
    margin: 0 !important;
 }
    .paddingforty{
        padding-left:40px;
        padding-right:40px;
    }
    .noshadow{
  border-top: 1px solid #e0e0e0;
        box-shadow: none !important;
    }
    .whitebg{
        background: white!important;
    }
    .anothergrey{
        background: #fbfbfb !important;
    }
    .clickyclick{
        font-weight: bold;
        color: #bb9d5f;
    }
    .nopadding{
        margin:0;
        padding:0 !important;
        padding-top:0 !important;
        padding-bottom:0 !important;
    }
    .minus{
        margin-top:-10px;
    }
    .respondsiveimg{
        width: 100%;
    }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Race Guide</h1>
                        <hr/>
                        <p>To maximize your enjoyment of the race we have enclosed<br/>some general information which we kindly request you read carefully.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
    <div class="chunk paddingtwenty ">
        <p class="breadcrumbs"><a href="{{ route('raceguide.collection.paddockLanding') }}">Paddock Club</a>&#32;&#32;&#32;&#32;&gt;&#32;&#32;&#32;&#32;Transport Guide</p>
    </div>
        <div class="chunk paddingforty ">

        <h2 id="headercol">Transport Guide</h2><br>
        <p>Getting to and from the Marina Bay Street Circuit couldn’t be easier.  Mass Rapid Transit (MRT) train stations and dedicated buses directly serve the gates. As a street circuit, there will inevitably be a high volume of traffic around the Circuit Park. <Strong>It is highly recommended that you use public transport to travel to the event!</strong></br><br>
        During the race weekend MRT train services will be increased to cope with the higher demand, train operating hours are extended until 1.30am for Friday and 1am for Saturday and Sunday. Operating hours for selected feeder bus services will also be extended to match the last train service during the three race days. For scheduled road closures and other transport details see this year’s <a class="clickyclick" href="http://www.lta.gov.sg/content/dam/ltaweb/corp/home/F1_2014_Road_Access_and_Public_Transport_Guide.pdf">Land Transit Authority Road Access Plan </a>or click <a class="clickyclick" href="http://app.lta.gov.sg/apps/news/page.aspx?c=2&id=04beda9a-8323-4aa2-ab93-6dd9b8fbc9ad"> here</a> for more information.

        </p>
        </div>
    </section>
    <section class="noshadow ">
        <div class="chunk paddingforty">
        <h2 id="headercol">GETTING TO THE <br>CIRCUIT PARK</h2><br>
        <p>
        Plan your route to the gate nearest to your grandstand carefully, the recommended gate is stated on the back of your ticket. Please allow additional time to get to and from the Marina Bay Street Circuit. <br><br>
Information booths are located just inside most gates to assist patrons. Circuit Park maps (showing all key locations as well as race and entertainment schedules) are freely available from all booths or our Circular Park Guides.
        </p><br/>
<div class="noshadow">
        <h3> PIT, MARINA PIT, TURN 1, TURN 2 AND TURN 3 PREMIER GRANDSTANDS & PREMIER WALKABOUT (ZONE 1)</h3></div>
            <div class="row">
                <div class="small bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        <strong>GATE 1</strong>
                        <br />
                        <strong>Nicoll Highway MRT Station</strong> (Exit B, Circle Line) is a 5 minute walk to Gate 1.<br />
                        <br />
                        Alternatively, alight at Lavender MRT Station (Exit B) and take the shuttle bus to Gate 1. <br />
                    </p><br />
                    <p>
                        <strong>GATE 2</strong><br/>
                        <strong>Promenade MRT Station</strong> (Exit C, Circle Line) is a 5 minute walk to Gate 2. 
                    </p><br />
                    <p>
                        <strong>GATE 10</strong><br />
                        <strong>Bayfront MRT Station</strong> (Exit B, Circle Line) at the Marina Bay Sands, is a 7 minute walk to Gate 10.
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </p>
                </div>
            <div class="small bucket col" id="colborder">
                            <h3>SHUTTLE BUS</h3>
                    <p>
                        <strong>GATE 1</strong>
                        <br />
                        A shuttle bus from <strong>Lavender MRT Station</strong> will take you to Republic Avenue. After alighting, please follow the path in the direction of Gate 1. After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </p>
                </div>
            <div class="small bucket col" id="colborder">
                            <h3>TAXI</h3>
                    <p>
                        <strong>GATE 1</strong>
                        <br />
                       Alight at <strong>Beach Road</strong> and use the overhead bridge at Concourse that leads to Nicoll Highway MRT and follow the path towards Gate 1. After entering the Circuit Park, look out for signs directing you to your grandstand. 
                    </p>
                    <p><br />
                        <strong>GATE 2</strong><br/>
                        Designated taxi points are located at <strong>Suntec City</strong> and <strong>Centennial Tower</strong>. Please walk in the direction of Gate 2. After entering the Circuit Park, look out for signs directing you to your grandstand.     
                    </p>
                </div>
            </div>
        </div>
        <div class="chunk paddingforty">
            <p><strong>Important Notice:</strong> <br>
            •   Only Zone 1 and Zone 2 ticket holders can access the Circuit Park via Gate 10. </p></div>
   
        <div class="chunk noshadow paddingforty"><h3>BAY GRANDSTAND (ZONE 3)</h3><p>
            *Gate 7 has been relocated to One Raffles Link.  Patrons can access One Raffles Link via City Link Mall or Marina Square shopping mall.</p>

            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        <strong>GATE 7*</strong>
                        <br />
                        Alight at <strong>Esplanade MRT</strong> Station (Exit C, Circle Line) and take a 10 minute walk to Gate 7. <br><br>
                        Alternatively, alight at <strong>City Hall MRT</strong> Station (North-South, East-West Interchange), go through Citylink Mall, and take a 10 minute walk to Gate 7. <br><br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.<br>

                    </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>Taxi</h3>
                    <p>
                        <strong>GATE 7*</strong>
                        <br />
                        A designated taxi point will be located at <strong>Suntec City</strong>. Please walk in the direction of One Raffles Link and proceed towards Gate 7.<br><br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.
                    </p>
                </div>

            </div>
        </div>
<div class="chunk paddingforty">
            <p><strong>*Important notice: </strong> <br>
•   Zone 4 ticketholders cannot access the Circuit Park via Gate 7. Entry to the Circuit Park for Zone 4 ticketholders is via Gates 3, 4 and 5 only.<br>
•   Due to the space constraints on the pathway to and from the Bay Grandstand, patrons may experience some delay when departing the Bay Grandstand after the race. <br>
•   From 2130hrs daily, Gate 7 can only be used to exit the Circuit Park. Patrons will not be able to access the Circuit Park via Gate 7 after this time. Instead, patrons should enter via Gates 3 and 5 after this time.<br><br>
</p>
        
<div class="noshadow "><h3>ESPLANADE WATERFRONT GRANDSTAND (ZONE 4)</h3>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        <strong>GATE 6</strong>
                        <br />
                      Get off at <strong>Raffles Place MRT</strong> Station (Exit A or B, North-South, East-West Interchange) and take a 10 minute walk to Gate 6.<br><br>
Alternatively, alight at <strong>City Hall MRT</strong> Station (Exit A or B, North-South, East-West Interchange) and take a 5 to 10 minute walk to Gate 3. <br><br>
After entering the Circuit Park, look out for signs directing you to your grandstand.


                    </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>Taxi</h3>
                    <p>
                        <strong>GATE 6</strong>
                        <br />
                        Alight at the taxi stand in front of Hitachi Tower along <strong>Collyer Quay</strong>, and proceed towards Gate 6.<br><br>
                        After entering the Circuit Park, look out for signs directing you to your grandstand.<br><br><br><br><br>
                    </p> 
                </div>
          </div>
          <div>
            <p><strong>Important notice: </strong> <br>
•   Zone 4 ticketholders cannot access the Circuit Park via Gate 7. Entry to the Circuit Park for Zone 4 ticketholders is via Gates 3, 4 and 5 only.<br>
•   From 2130hrs daily, Gate 4 can only be used to exit the Circuit Park. Patrons will not be able to access the Circuit Park via Gate 4 after this time. Instead, patrons should enter via Gates 3 and 5 after this time.<br></p>
        <br></div>
</div></div>





<div class=" chunk paddingforty noshadow ">
    <h3>PADANG GRANDSTAND (ZONE 4) </h3>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        <strong>GATE 3 or 4</strong>
                        <br />
                      Alight at <strong>City Hall MRT</strong> Station (Exit A or B, North-South, East-West Interchange) and take a 5 to 10 minute walk to Gates 3 or 4. <br><br>
After entering the Circuit Park, look out for signs directing you to your grandstand.<br><br>
<Strong>GATE 5</strong><br />
Alight at <strong>Raffles Place MRT</strong> Station (Exit A or B, North-South, East-West Interchange) and take a 10 minute walk to Gate 5. <br><br>
After entering the Circuit Park, look out for signs directing you to your grandstand.


                    </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>Taxi</h3>
                    <p>
                        <strong>GATE 4</strong>
                        <br />
                        Taxi points at <strong>North Bridge Road</strong> (in front of Funan Digitalife Mall) and <strong>Coleman Street</strong> (in front of Peninsula Excelsior Hotel). Follow signs to Gate 4. <br><br>
After entering the Circuit Park, look out for signs directing you to your grandstand.     


                    </p>
                </div>

        </div></div>
           <div class="chunk paddingforty">
            <p><strong>Important notice: </strong> <br>
•   Zone 4 ticketholders cannot access the Circuit Park via Gate 7. Entry to the Circuit Park for Zone 4 ticketholders is via Gates 3, 4 and 5 only.<br>
•   From 2130hrs daily, Gate 4 can only be used to exit the Circuit Park. Patrons will not be able to access the Circuit Park via Gate 4 after this time. Instead, patrons should enter via Gates 3 and 5 after this time.
<br><br>

<div class=" noshadow"><h3>STAMFORD GRANDSTAND (ZONE 4) </h3>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        <strong>GATE 3</strong>
                        <br />
                     Get off at <strong>City Hall MRT</strong> Station (Exit A, North-South, East-West Interchange) and take a 5 minute walk to Gate 3. <br><br>
Alternatively, alight at <strong>Esplanade MRT</strong> Station (Exit F, Circle Line) and take a 5 minute walk to Gate 3. <br><br>
After entering the Circuit Park, look out for signs directing you to your grandstand.



                    </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>Taxi</h3>
                    <p>
                        <strong>GATE 3</strong>
                        <br />
                        Taxi points at <strong>North Bridge Road</strong> (in front of Funan Digitalife Mall) and <strong>Coleman Street</strong> (in front of Peninsula Excelsior Hotel). Follow signs to Gate 3. 
After entering the Circuit Park, look out for signs directing you to your grandstand.     



                    </p>
                </div>

            </div>
        </div></div>
           <div class="chunk paddingforty">
            <p><strong>Important notice: </strong> <br>
•   Zone 4 ticketholders cannot access the Circuit Park via Gate 7. Entry to the Circuit Park for Zone 4 ticketholders is via Gates 3, 4 and 5 only.<br>
•   From 2130hrs daily, Gate 4 can only be used to exit the Circuit Park. Patrons will not be able to access the Circuit Park via Gate 4 after this time. Instead, patrons should enter via Gates 3 and 5 after this time.
<br><Br>

<div class="noshadow"><h3>CONNAUGHT GRANDSTAND (ZONE 4)</h3>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        <strong>GATE 5 or 6</strong>
                        <br />
                      Get off at <strong>Raffles Place MRT</strong> Station (Exit A or B, North-South, East-West Interchange) and take a 10 minute walk to Gate 5 or 6. <br>
                      After entering the Circuit Park, look out for signs directing you to your grandstand.<br><br>




                    </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>Taxi</h3>
                    <p>
                        <strong>GATE 6</strong>
                        <br />
                        Alight at taxi stand in front of Hitachi Tower along <Strong>Collyer Quay</strong>, and proceed towards Gate 6.<br><br>
After entering the Circuit Park, look out for signs directing you to your grandstand.
   


                    </p>
                </div>

            </div>
        </div></div>
           <div class="chunk paddingforty">
            <p><strong>Important notice: </strong> <br>
•   Zone 4 ticketholders cannot access the Circuit Park via Gate 7. Entry to the Circuit Park for Zone 4 ticketholders is via Gates 3, 4 and 5 only.<br>
•   From 2130hrs daily, Gate 4 can only be used to exit the Circuit Park. Patrons will not be able to access the Circuit Park via Gate 4 after this time. Instead, patrons should enter via Gates 3 and 5 after this time.

<br>

    </section>    



    </section>

        <section class="noshadow anothergrey">
        <div class="chunk paddingforty">
        <h2 id="headercol">LEAVING THE <br>CIRCUIT PARK</h2><br>
        <p>Allow for plenty of time when leaving the Circuit Park. Due to the number of spectators leaving after the race, you may experience some congestion at the gates.</p><h3>FROM GATE 1</h3><p>For patrons in Zones 1 and 2</p>
            <div class="row">
                <div class="small bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        From Gate 1, it is a 5 minute walk to <strong>Nicoll Highway MRT</strong> Station (Exit B, Circle Line).<br />
                        </p>
                </div>

            <div class="small bucket col" id="colborder">
                            <h3>SHUTTLE BUS</h3>
                    <p>
                        After exiting Gate 1, follow the path to the shuttle service bus stop that runs to <strong>Lavender MRT Station. </strong>
                    </p>
                </div>
                <div class="small bucket col" id="colborder">
                            <h3>TAXI</h3>
                    <p>After exiting Gate 1, follow the path to the taxi point at <strong>Nicoll Highway. </strong>
Please note there is a surcharge of $5 for taxis. 

                    </p>
                </div>
            </div>
        </div>
       
        <div class="chunk paddingforty noshadow"><h3>FROM GATE 2</h3><p>For patrons in Zones 1 and 2</p>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        From Gate 2, it is a 5 minute walk to <strong>Promenade MRT</strong> Station (Exit C, Circle Line).
                        </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>TAXI</h3>
                    <p>
                        Designated taxi points are located at <strong>Suntec City</strong>. 
Please note there is a surcharge of S$5 for taxis. 

                    </p>
                </div>
            </div>
        </div>
        <div class="chunk noshadow paddingforty"><h3>FROM GATE 3</h3><p>For patrons in Zones 3 and 4</p>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        From Gate 3, it is a 5 minute walk to <strong>City Hall MRT</strong> Station (Exit A, North-South, East-West Interchange).<br><Br>
From Gate 3, it is a 10 minute walk to <strong>Esplanade MRT</strong> Station (Exit F, Circle Line).

                        </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>TAXI</h3>
                    <p>
                      Taxi points at <strong>North Bridge Road</strong> (in front of Funan Digitalife Mall) and <strong>Coleman Street</strong> (in front of Peninsula Excelsior Hotel). <br><Br>
Please note there is a surcharge of S$5 for taxis. 


                    </p>
                </div>
            </div></div>
        <div class="chunk noshadow paddingforty"><h3>FROM GATE 4</h3><p>For patrons in Zone 4</p>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        From Gate 4, it is a 10 minute walk to <strong>City Hall MRT</strong> Station (Exit B, North-South, East-West Interchange).<br><br>
From Gate 4, it is a 15 minute walk to <strong>Clarke Quay MRT</strong> Station (North-East Line).


                        </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>TAXI</h3>
                    <p>
                      Taxi points at <strong>North Bridge Road</strong> (in front of Funan Digitalife Mall) and <strong>Coleman Street</strong> (in front of Peninsula Excelsior Hotel). <br><br>
Please note there is a surcharge of S$5 for taxis. 



                    </p>
                </div>
            </div></div>
        <div class="chunk noshadow paddingforty"><h3>FROM GATE 5</h3><p>For patrons in Zone 4</p>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        From Gate 5 it is a 10 minute walk to <strong>Raffles Place MRT</strong> Station (Exits A and B, North-South, East-West Line).<br><br>
From Gate 5 it is a 15 minute walk to <strong>Clarke Quay MRT</strong> Station (North-East Line).



                        </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>TAXI</h3>
                    <p>
                      Taxi points at <strong>Collyer Quay</strong> (In front of Hitachi Tower) and <strong>Battery Road</strong> (in front of Straits Building). <br><br>
Please note there is a surcharge of S$5 for taxis. 



                    </p>
                </div>
            </div></div> 
            <div class="chunk noshadow paddingforty"><h3>FROM GATE 6</h3><p>For patrons in Zone 4</p>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        From Gate 6, it is a 10 minute walk to <strong>Raffles Place MRT</strong> Station (Exits A and B, North-South, East-West Line).
                        </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>TAXI</h3>
                    <p>
                      Taxi points at <strong>Collyer Quay</strong> (In front of Hitachi Tower) and <strong>Battery Road</strong> (in front of Straits Building). <br><br>
Please note there is a surcharge of S$5 for taxis. 



                    </p>
                </div>
            </div></div>
<div class="chunk paddingforty noshadow"><h3>FROM GATE 7</h3><p>For patrons in Zone 3</p>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        From Gate 7, it is a 10 minute walk to <strong>City Hall MRT </strong> Station (North-South, East-West Line) through Citylink Mall.<br><br>
                        From Gate 7, it is a 6 minute walk to <Strong>Esplanade MRT</strong> (Exit C, Circle Line).
                        </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>TAXI</h3>
                    <p>
                      Taxi stand is located at <strong>Suntec City.</strong> <br><br>
Please note there is a surcharge of S$5 for taxis. 



                    </p>
                </div>
            </div></div>

 
<div class="chunk paddingforty noshadow"><h3>FROM GATE 8</h3><p>Exit from Gate 8 is only for authorised personnel, Formula One Paddock Club Suites™, Sky Suites, Club Suites and Green Room ticketholders. </p></div>
<div class="chunk noshadow paddingforty"><h3>FROM GATE 10</h3><p>Exit from Gate 10 is only for Zone 1 and Zone 2 ticketholders. Gate 10 gives direct access to Marina Bay Sands </p>
            <div class="row">
                <div class="big bucket col" id="textpadding">
                <h3>MRT</h3>
                    <p>
                        From Gate 10, it is a 5 minute walk to the <strong>Bayfront MRT</strong> Station (Exit B, Circle Line). 
                        </p>
                </div>

            <div class="big bucket col" id="colborder">
                            <h3>TAXI</h3>
                    <p>
                      Taxi points are located at <strong>Marina Bay Sands Casino Driveway. </strong> <br><br>
Please note there is a surcharge of $5 for taxis.




                    </p>
                </div>
            </div></div>
<div class="chunk paddingforty"><p>Walking distances are approximate and will vary depending on pedestrian traffic
</p></div>
    </section>    

    <section class="noshadow anothergrey">

        <div class="chunk paddingforty ">
            <h3 class="marginzero">ZONE 1 TICKETHOLDERS</h3><h6 class="marginzero">Circuit Park gates open from 3pm to 12.30am daily</h6>
            <br>
            <a href="/images/transportguide/zone1.jpg"><img class="respondsiveimg" src="/images/transportguide/zone1.jpg">
            <p><strong>Click here for an enlarged version of the map</strong></p></a>

            <br><br>
            <p><strong>GETTING IN</strong></p>
            <p>
            •   The Circuit Park opens from 3pm to 12.30am daily.
      <br>      •   Zone 1 patrons can chose to enter the Circuit Park via any gate except Gate 8 (recommended gates are 1, 2, and 10). 
      <br>      •   Do note that Gate 4 and Gate 7 are open till 9.30pm only.
      <br>      •   If entering the Circuit Park via Zone 4, patrons can choose to walk along the Marina at the back of the Bay Grandstand, or via the Esplanade Waterfront. Take Overpass 6A to the Bay Grandstand and walk towards Zone 1.Explore the dining, merchandise and entertainment offerings at the F1 Village, or take a peek into the support paddock located within Zone 2.
      <br>      •   Zone 1 patrons can enjoy a spectacular view of the track from the Singapore Flyer, with 10% discount off published ticket prices during the race weekend.
</p><br>
            <p><strong>GETTING OUT</strong></p><p>
            • Zone 1 patrons may exit the Circuit Park via any gate in the Circuit Park. To get to Zone 4 to catch the performances at the Padang stage, Zone 1 patrons will have full track access during the track invasion after the final race on Sunday. Take a 45-min stroll on the track along the Pit Straight and exit the Circuit Park at Parliament Place (Turn 10). To access the Padang, enter the Circuit Park at Turn 11 and walk along Connaught Drive.<br>
• A limited track invasion after the final track activity on Friday and Saturday will allow patrons to access the track from Turn 20. It’s a 30-min stroll from Turn 20 to Turn 17, from where you can continue your journey to the Padang easily. </p>
<br><p>
<strong>MRT</strong> (Estimated travelling time: 30 minutes)<br>
If you’re not up for a walk, hop on a train for an express route to the Padang! Exit the Circuit Park via Gate 1 and take the train at Nicoll Highway MRT.  Take the Circle Line to Dhoby Ghaut MRT Station and transfer to the North-South Line towards Marina Bay. Alight at City Hall MRT station and re-enter the Circuit Park via Gate 3. Take the underpass to the Padang. 
</p><br>
        </div>

        <div class="chunk paddingforty noshadow"><br><br>
            <h3 class="marginzero">ZONE 3 TICKETHOLDERS</h3><h6 class="marginzero">Circuit Park gates open from 3pm to 12.30am daily</h6>
            <br>
            <a href="/images/transportguide/zone3.jpg"><img class="respondsiveimg" src="/images/transportguide/zone3.jpg"><p><strong>Click here for an enlarged version of the map</strong></p></a><br><br>
            <p><strong>GETTING IN</strong></p>
            <p>
            • The Circuit Park opens from 3pm to 12.30am daily.<br>
            • Zone 3 patrons can chose to enter the Circuit Park via any gate in Zone 3/4 (Gates 3, 4, 5, 6 or 7).<br>
            • Do note that Gate 4 and Gate 7 are open till 9.30pm only.<br>
            • Once in the Circuit Park, patrons cam access the Bay Grandstand via the following routes:<br/><br/></p>

            <div class="indentin"><p><strong>Option 1</strong><br>
            Patrons seated at the Dark Blue, Light Blue and Yellow blocks have two routes to the Bay Grandstand. Walk along the Marina to the back of the Bay Grandstand. Patrons are encouraged to use Overpass 6 (OP6) from the Esplanade Waterfront directly onto the Bay Grandstand and closest to the blocks. This route is accessible only until 9pm. After 9pm, Overpass 6 (OP6) can only be used to exit from the grandstand to the Esplanade Waterfront for a speedy access to the Padang.
            <br><br>
            <strong>Option 2</strong><br>
            Patrons seated at the Red, Light Green and Dark Green blocks should proceed via Overpass 6A (OP6A) which will bring you underneath the Bay Grandstand. Look out for signs leading to the respective blocks.<br><br>
            </p></div>
            <p><strong>GETTING OUT</strong></p><p>
            • Zone 3 patrons may exit the Circuit Park via any gate in Zone 3/4 (Gates 3, 4, 5, 6 or 7).<br>
            • Get to the Padang Stage via the following options:
<br/><br/></p>
 <div class="indentin"><p><strong>Option 1</strong><br>
            • Patrons seated at the Dark Blue, Light Blue and Yellow blocks should proceed via Overpass 6 directly to the Esplanade Waterfront. Take the underpass (beneath Esplanade bridge) towards the Padang.
            <br><br>
            <strong>Option 2</strong><br>
            • Patrons can proceed via Raffles Avenue (at the back of Bay Grandstand) and walk towards Overpass 5. Walk around Esplanade Theatres on the Bay along Esplanade Drive and take the underpass (beneath Esplanade bridge) towards the Padang. <br><br>
            <strong>Option 3</strong><br>
            • Patrons can proceed via Raffles Avenue (at the back of Bay Grandstand) and take the underpass next to One Raffles Link to the Padang.<br><br>
            </p></div>
        </div>

        <div class="chunk paddingforty noshadow"><br><br>

            <h3 class="marginzero">ZONE 4 TICKETHOLDERS</h3><h6 class="marginzero">Circuit Park gates open from 3pm to 12.30am daily</h6>
            <br>
            <a href="/images/transportguide/zone4.jpg"><img class="respondsiveimg" src="/images/transportguide/zone4.jpg"><p><strong>Click here for an enlarged version of the map</strong></p></a><br><br><p><strong>GETTING IN</strong></p>
            <p>
            •     The Circuit Park opens from 3pm to 12.30am.<br>
• Zone 4 patrons can chose to enter the Circuit Park via any Gate in Zone 4 except Gate 7 (Gates 3, 4, 5 or 6).<br>
• Do note that Gate 4 is open till 9.30pm only. <br>
• Don’t forget to explore the merchandise outlets at the F1 Village, the dining options at the Hawker Village and the entertainment lineup at the Padang Stage. </p><br>
<p>
            <strong>TIP!</strong> Fan Zone at the Padang Stage is open from 3pm. Go early to secure a spot in the Fan Zone to get up-close to your favourite artiste. You can exit the Fan Zone at any time, however you may not be able to re-enter the Fan Zone once it has reached its maximum capacity. There will be dedicated restrooms and a bar within the Fan Zone so you can keep hydrated, but make sure you have a cap and sunscreen on!
            </p>
            <br>
            <p><strong>GETTING OUT</strong></p><p>
            •     Patrons can exit via any Gate in Zone 4 (Gates 3, 4, 5 or 6), except Gate 7<br/><br/>
            </p></p>
           
            
        </div>
        </section>
    <section class="whitebg">
    <div class="chunk">
    <div class="row ">
    <p><span id="paddocklink">IMPORTANT</span><br/>
Motor Racing is dangerous and accidents can happen. The 2015 Formula 1 Singapore Airlines Singapore GRAND PRIX is a rain or shine event.</p>
</div></div>
</section>
{% endblock %}