{% extends "layouts.master" %}

{% block title %}RESS{% endblock %}

{#
    additional head scripts or styles
#}
{% block head %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bower_components/modernizr/modernizr.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            navigator.standalone = navigator.standalone || (screen.height - document.documentElement.clientHeight < 40); // Polyfill for nav.standalone

            var m = Modernizr,
                    c = '';

            // copy modernizr properties
            for (var f in m) {
                if (f[0] == '_') {
                    continue;
                }
                var t = typeof m[f];
                if (t == 'function') {
                    continue;
                }
                c += (c ? '|' : '_Modernizr=') + f + ':';
                if (t == 'object') {
                    for (var s in m[f]) {
                        c += '/' + s + ':' + (m[f][s] ? '1' : '0');
                    }
                }
                else {
                    c += m[f] ? '1' : '0';
                }
            }

            // cookie expiry: 1 hr
            var now = new Date();
            var time = now.getTime();
            time += 3600 * 1000;
            now.setTime(time);

            // set cookie
            c += '|devicepixelratio:' + window.devicePixelRatio;
            c += '|screenheight:' + screen.height;
            c += '|screenwidth:' + screen.width;
            c += '|windowheight:' + window.innerHeight;
            c += '|windowwidth:' + window.innerWidth;
            c += '|standalone:' + ((window.navigator.standalone) ? '1' : '0');
            c += ';expires=' + now.toUTCString();
            c += ';path=/';

            try {
                document.cookie = c;
                if (document.cookie == '') {
                    document.location = "{{ referrer_uri|default('/') }}" + '?cookie=0';
                }
                else {
                    document.location = "{{ referrer_uri|default('/') }}";
                }
            }
            catch (e) {
            }
        });
    </script>
{% endblock %}

{% block header %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
{% block analytics %}{% endblock %}