{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2015 Formula 1 Night Race' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
{% endblock %}

{% block content %}
<section class="registration">
    <div class="chunk row">
        <div class="bucket">
            <div ng-hide="submitted">
                <h2>Login</h2>

                <form name="contestForm" method="POST" action="{{ route('login') }}" novalidate="novalidate">
					{% if session.has('message') %}
					{{ session.get('message') }}
					{% endif %}

                    <div class="row">
                        <input type="text" name="username" placeholder="Username" required/>
                        <input type="password" name="password" placeholder="Password" required/>
                    </div>

                    <div class="row">
                        <input type="submit" value="Login"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}