{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Tickets Sales Channels Singapore' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{# additional head scripts or styles #}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/misc-contactus.min.css"/>
{% endblock %}

{# page content #}
{% block content %}
    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <section class="contact-channels">
        <div class="chunk">

            <table>
                <colgroup width="33%"></colgroup>
                <colgroup width="33%"></colgroup>
                <colgroup width="34%"></colgroup>
                <tbody>
                <tr>
                    <td>
                        <h3>Ticketing</h3>

                        <p>
                            <a href="mailto:tickets@singaporegp.sg">tickets@singaporegp.sg</a> <br/>
                            +65 6738 6738
                        </p>

                        <p>
                            For 12 or more grandstand tickets, please call
                            +65 6731 4987 or email <a href="mailto:corporatetickets@singaporegp.sg">corporatetickets@singaporegp.sg</a>
                        </p>
                    </td>

                    <td>
                        <h3>General enquiries</h3>

                        <p>
                            <a href="mailto:info@singaporegp.sg">info@singaporegp.sg</a>
                        </p>
                    </td>

                    <td>
                        <h3>Corporate Hospitality Packages</h3>

                        <p>
                            <a href="mailto:hospitality@singaporegp.sg">hospitality@singaporegp.sg</a> <br/>
                            +65 6731 5900
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <h3>Media &amp; Communications</h3>

                        <p>
                            <a href="mailto:press@singaporegp.sg">press@singaporegp.sg</a>
                        </p>
                    </td>

                    <td>
                        <h3>Merchandise</h3>

                        <p>
                            <a href="mailto:merchandise@singaporegp.sg">merchandise@singaporegp.sg</a>
                        </p>
                    </td>

                    <td>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </section>
{% endblock %}