{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Event Guide' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    {#<script type="text/javascript" src="/javascripts/mediapressreleasebundle.js"></script>#}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/misc-privacypolicy.min.css"/>
    <style>
        .insidetips{
            color: red;
            font-size: 12px;
            font-weight: bold;
        }
    </style>
    <style>
        .content section.selection {
            background: url("/images/raceguide/paddocklanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
        }
        .desc{padding-top: 10px;}
        .desc h1{
            font-size: 1.4rem;
            font-weight: 300;
            letter-spacing: .5px;
            line-height: 1.5rem;
            margin: 0 0 10px;
            text-transform: uppercase;
        }
        .desc p, .desc p a{color: #fff;
            font-size: 1rem;
            font-weight: 100;
            letter-spacing: .5px;
            line-height: 1.2rem;
            margin: 10px 0 20px;
            font-family: Roboto,sans-serif;
        }
        .desc hr {
            border: 0;
            border-bottom: 1px solid rgba(255,255,255,0);
            display: inline-block;
            width: 50px;
        }
        @media only screen and (min-width: 320px){
            .content .selection-panel .chunk{
                border-bottom:0px !important;
                margin:28px auto 0;
            }
            .content section.selection-panel{
                height:350px;
            }
            .styled-button{
                background-color: #ebebeb;
                height: 40px;
                overflow: hidden;
                text-transform: uppercase;
                width: 180px;
                float:left;
            }
            .content section.selection-panel:after{
                content: '';
                border-bottom: 0px solid rgba(255,255,255,0);
                left: 0;
                position: absolute;
                top: 330px;
                width: 100%;
            }
            .content section.selection-panel:before{
                border-bottom: 0px solid rgba(255,255,255,0)!important;
            }
            .styled-button .pdf a{
                border: 1px solid #000;
                display: block;
                color: #000;
                margin: 2px;
                padding: 0 5px;
                text-align: center;
                font-size: .813rem;
                height: 36px;
                line-height: 34px;
            }
        }
        @media screen and (max-width: 550px){
            .privacy-policy img {
                width: 140px;
            }
            .content section.selection-panel{
                height:615px;
            }
            .content section.selection-panel p{
                font-size: 14px;
            }
            .content section.selection-panel a{
                font-size: 14px;
            }

        }
        @media screen and (min-width: 768px){

        }
    </style>


{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>General Race Guide</h1>
                        <br/>
                        <p>
                            The following information will help you to plan and enjoy your experience at the Marina Bay Street Circuit.  Do note that this guide may be updated from time to time. <br><br>
                            We recommend that you stay up to date with event information by regularly visiting this website in the lead up to the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX. You can also follow us on our social media pages (<a href="https://www.facebook.com/F1NightRace " target="_blank">Facebook</a>, <a href="http://www.twitter.com/f1nightrace " target="_blank">Twitter</a>  and <a href="https://instagram.com/f1nightrace " target="_blank">Instagram</a>) or sign up for our e-newsletter <a href="http://www.singaporegp.sg/newsletter" target="_blank">here</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--  <div class="chunk">
                 <div class="row">
                     <div class="filter-bar col" style="text-align: left;">
                          <div class="styled-button">
                              <div class="pdf">
                                  <a href="http://web2.singaporegp.sg/Uploaded/pdf_path/2015%20Grandstand%20Insert%20FINAL%20FA%20web.pdf">Download PDF</a>
                              </div>
                          </div>
                      </div>
                 </div>
             </div>-->
    </section>

    <section class="privacy-policy">
        <div class="chunk row">
            <div class="legalese col">
                <table>
                    <colgroup width="40%"></colgroup>
                    <colgroup width="60%"></colgroup>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <select id="select-anchor">
                                <option value=""> Please select </option>
                                <option value="#transport">Traffic and Transport</option>
                                <option value="#arriving">Arriving at the Circuit Park</option>
                                <option value="#wear">What to Wear</option>
                                <option value="#bring">What to Bring</option>
                                <option value="#prohibited">Prohibited Items</option>
                                <option value="#watching">Watching the Race</option>
                                <option value="#photography">Photography</option>
                                <option value="#food">Food and Beverage</option>
                                <option value="#merch">Merchandise</option>
                                <option value="#money">Money</option>
                                <option value="#children">Children</option>
                                <option value="#disability">Disability / Wheelchair Access and Facilities</option>
                                <option value="#movement">Movement within the Circuit Park</option>
                                <option value="#invasion">Track Access</option>
                                <option value="#medical">Medical and First Aid</option>
                                <option value="#rain">Rain and Inclement Weather</option>
                                <option value="#lost">Lost and Found</option>
                            </select>
                            <br/><br/>
                        </td>
                    </tr>
                    <tr id="transport">
                        <td>
                            <h3>Traffic and Transport</h3>
                        </td>
                        <td>
                            <p>
                            <ul class="bullet">
                                <li>
                                    •   It is highly recommended that you take public transport to the Marina Bay Street Circuit – most gates are within walking distance to an MRT (subway) station. MRT train services will be increased to cope with the higher demand.
                                </li>
                                <li>
                                    •   Tickets provide access to one or more zones, so you may only use the gates for the zones that you have access rights to.  Your ticket states the recommended Gate to use for entering the Circuit Park.<br><br>
                                    <ul>
                                        <li>
                                            ➢   Patrons with Zone 1 or Premier Walkabout tickets may enter through any gate. Zone 1 ticketholders can also take the free shuttle bus between Lavender MRT station and Gate 1 of the Marina Bay Street Circuit.
                                        </li>
                                        <li>
                                            ➢   Patrons with Zone 3 (Bay Grandstand) tickets may enter through any Zone 4 gates. Please note that Zone 3 patrons cannot enter via Gate 8 on the Helix Bridge as this is in Zone 2.
                                        </li>
                                        <li>
                                            ➢   Patrons with Zone 4 Grandstand or Walkabout tickets may only use Zone 4 gates.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    Please refer to the <a href="/getting_around" target="_BLANK">Transport Guide</a> to plan your route to and from the Circuit Park.
                                <br/><br/>
                                    •   To facilitate the set-up of race infrastructure, roads that make up the street circuit will be closed to pedestrian and public vehicular traffic from <u>12.01am, 14 September (Wednesday) to 5.30am, 20 September (Tuesday).</u> During this period, select road corridors will be open in the mornings and evenings to facilitate peak hour traffic. Please refer to the LTA advisory <a href="https://www.lta.gov.sg/apps/news/page.aspx?c=2&id=83864e24-b570-4079-bc84-17778bc6277e" target="_BLANK"><u>here</u></a> for details .
<br/><br/>Outside of the race weekend (16-18 Sep), members of the public can continue to access most of the establishments within the Marina Bay Street Circuit by foot via the <a href="http://singaporegp.sg/media/event-guide/event-guide-underground-link.jpg" target="_BLANK"><u>underground links and temporary overhead passes</u></a>.



                                </li>
                            </ul>
                            </p>
                        </td>
                    </tr>
                    <tr id="arriving">
                        <td>
                            <h3>Arriving at the Circuit Park</h3>
                            <img src="http://web2.singaporegp.sg/Uploaded/event_guide_2015/arriving.jpg" alt="">
                        </td>
                        <td>
                            <ul>
                                <li>
                                    •   Gates open at 2.30pm and close at 12.30am daily.  Please ensure that you come with the correct ticket for the corresponding day.
                                </li>
                                <li>
                                    •   Upon arrival please have your ticket ready for inspection and, if you carry a bag, select the correct entry lane at the Gate. All bags will be searched for security purposes. Please wear your ticket at all times.
                                </li>
                                <li class="insidetips">SGP Insider Tip:  We recommend that you travel light in order to clear the gates without delay – leave your bag at home!
                                </li>
                                <li>

                                    •   All patrons, including children, must have a valid ticket. Children under 7 years must have their guardian sign an indemnity form at the Gates. The indemnity form is available from <a href="http://web2.singaporegp.sg/Uploaded/pdf/2016_indemnity_form_31_aug.pdf" target="_blank">here</a>.
                                </li>
                                <li>
                                    •  Ticket Booths are located outside each Gate.  Do not buy tickets from touts as these tickets may have been made void.

                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="wear">
                        <td>
                            <h3>What to Wear</h3>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    •   Singapore has a tropical climate and the Marina Bay Street Circuit requires a certain amount of walking.
                                </li>
                                <li>
                                    •   Please be sure to wear suitable footwear and consider wearing a hat and/or sunblock if you are arriving early.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="bring">
                        <td>
                            <h3>What to Bring</h3>
                            <img src="http://web2.singaporegp.sg/Uploaded/event_guide_2015/what-to-bring.jpg" alt="">
                        </td>
                        <td>
                            <ul>
                                <li>
                                    •   Pack light, bring the essentials only – your phone, a spare battery for your camera, etc.
                                </li>
                                <li>
                                    •   If you are worried about rain, bring an umbrella but please note that on grandstands we do not allow umbrellas to be used as sun protection; umbrellas can only be used if it starts raining heavily.  Alternatively, rain ponchos are available from Survival Kit Booths.
                                </li>
                                <li>
                                    •   You may enter with one clear plastic bottle of water (no more than 600ml).  A wide variety of food and beverage is on sale within the Circuit Park.
                                </li>
                            </ul>

                        </td>
                    </tr>
                    <tr id="prohibited">
                        <td>
                            <h3>Prohibited Items</h3>
                        </td>
                        <td>

                            <p>Please note that you are not allowed to bring certain items into the Circuit Park. A non-exhaustive list of prohibited items is listed in Clause 8 of the <a href="http://web2.singaporegp.sg/Uploaded/pdf/2016_T&C.pdf" target="_blank">Conditions of Sale & Entry</a> .This includes laser pointers, food and beverages, flying drones/unmanned aerial vehicles, scooters, pets etc.   </p>

                    </tr>
                    <tr id="watching">
                        <td>
                            <h3>Watching the Race</h3>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    •   The race is broadcast on superscreens across the Circuit Park, see the <a href="http://www.singaporegp.sg/on-track/circuit-park-map  ">Circuit Park map </a>for exact locations.
                                </li>
                                <li>
                                    •   Bring along an FM receiver to tune in to the track commentary within the Circuit Park.
                                </li>
                                <li>
                                    •   <strong>Grandstand ticketholders:</strong> You will have a great view of the track from your seat, as well as of the superscreens.  For the benefit of all patrons, do not use tripods, monopods or tablet devices on the grandstand. Umbrellas must also remain closed unless it starts raining heavily.
                                </li>
                                <li>
                                    •   <strong>Walkabout ticketholders:</strong>  Some of the best racing action can be viewed from elevated trackside platforms (bleachers) that are strategically located around the street circuit
                                </li>
                                <li class="insidetips">
                                    SGP Insider Tip: There are plenty of hidden corners to watch the race from, study the Circuit Park map and discover a new spot for each day of the race weekend!
                                </li></ul>
                        </td>
                    </tr>
                    <tr id="photography">
                        <td>
                            <h3>Photography</h3>
                            <img src="http://web2.singaporegp.sg/Uploaded/event_guide_2015/photography.jpg" alt="">
                        </td>
                        <td><ul>
                                <li>
                                    •   With its stunning backdrop of downtown Singapore, the Marina Bay Street Circuit is a photographer’s paradise.  There are plenty of locations where you can find that perfect shot – go out and explore the Circuit Park!
                                </li>
                                <li>
                                    •   All equipment brought into the Circuit Park should not be for commercial purposes but purely for personal use.
                                </li>
                                <li>
                                    •    The enjoyment of other spectators should not be impeded and we therefore urge patrons with photographic equipment to show consideration. Please note that tripods and monopods are not allowed on bleachers or grandstands. If you are bringing a long lens, you can only use these at ground level.
                                </li></ul>
                        </td>
                    </tr>
                    <tr id="food">
                        <td>
                            <h3>Food and Beverage </h3>
                            <img src="http://web2.singaporegp.sg/Uploaded/event_guide_2015/food-and-beverage.jpg" alt="">
                        </td>
                        <td><ul>
                                <li>
                                    •   Singapore is renowned for its food and shopping, and the Marina Bay Street Circuit is no different! We are constantly trying out old favourites as well as new delights, and we hope that you enjoy the offerings from the local bar and restaurant scene.
                                </li>
                                <li>
                                    •   The Circuit Park is filled with food and beverage outlets featuring a wide range of local and international restaurants and bars. Vegetarian and halal food providers are incorporated into the mix.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="merch">
                        <td>
                            <h3>Merchandise</h3>
                            <img src="http://web2.singaporegp.sg/Uploaded/event_guide_2015/merch.jpg" alt="">
                        </td>
                        <td><ul>
                                <li>
                                    •   Formula One team merchandise is available, in addition to official 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX merchandise.
                                </li>
                                <li>
                                    •   Check out the F1 Villages (located in Zone 1 and Zone 4’s Esplanade Park) for all your race related shopping needs.
                                </li>
                                <li>
                                    •   You will also find Merchandise Booths at other key locations including the Bay Grandstand.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="money">
                        <td>
                            <h3>Money</h3>
                            <img src="http://web2.singaporegp.sg/Uploaded/event_guide_2015/money.jpg" alt="">
                        </td>
                        <td><ul>
                                <li>
                                    •   We recommend that you bring cash to the Circuit Park for your shopping and dining needs. Credit card payment is accepted by some of our vendors.
                                </li>
                                <li>
                                    •   ATM machines are available across the Circuit Park for your convenience and accept most local and international cards. See the <a href="http://www.singaporegp.sg/on-track/circuit-park-map" target="_blank">Circuit Park map </a>for specific locations.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="children">
                        <td>
                            <h3>Children</h3>
                            <img src="http://web2.singaporegp.sg/Uploaded/event_guide_2015/children.jpg" alt="">
                        </td>
                        <td><ul>

                        <li>
                            •   Children are welcome in the Circuit Park, however do pay special attention to their needs.  Please prepare them for crowds, (relatively) long distances to walk, loud sounds as well as the hustle and bustle of a large scale event.  
                        </li>
                        <li>
                            •   All patrons, including children, must have a valid ticket.  Children under 7 years must have their guardian sign an Indemnity Form at the Gates.  A copy of the Indemnity Form is available<a href="http://web2.singaporegp.sg/Uploaded/pdf/2016_indemnity_form_31_aug.pdf" target="_blank"> here.</a>
                        </li>
                        <li>
                            •   Earplugs are available for sale as part of the Survival Kit, which are available for sale at booths located throughout the Circuit Park. The kits include (adult-sized) ponchos, and proceeds of the sale go to charity.
                        </li>
                        <li>
                            •   Please ensure that children drink water regularly.  Sun protection is also important if you arrive in the early part of the afternoon. 
                        </li>   
                        <li>
                            •   Collapsible buggies can be brought into the Circuit Park but cannot be used on the grandstands.  
                        </li>
                        <li id="DWF">
                            •   If your child is lost, please report this to the nearest Information Booth.    
                        </li>                     
                    </ul>
                    </td>

                    </tr>

                    <tr id="disability">
                        <td>
                            <h3>Disability / Wheelchair Access and Facilities</h3>
                        </td>
                        <td><ul>
                                <li>
                                    •   Much of the Circuit Park is accessible to patrons in wheelchairs or with limited mobility.  We recommend that you familiarise yourself with the limitations on access and movement due to the complex geography of this street circuit.
                                </li>
                                <li>
                                    •   There are two dedicated (ticketed) Wheelchair Accessible Platforms in the Circuit Park: Empress Place (Zone 4) and Turn 1 Wheelchair Accessible Platform. These provide ramped access to the viewing area that caters to the patron with wheelchair and a carer.
                                </li>
                                <li>
                                    •    Each customer on a wheelchair can have up to two companions on the Wheelchair Accessible Platform, who each have to purchase the same ticket (Turn 1 Wheelchair Accessible Platform or Empress Place) for entry. These companions will be provided with seats beside the wheelchair slots on the wheelchair-accessible platforms.
                                </li>
                                <li>
                                    •   There are numerous Wheelchair Accessible restrooms within the Circuit Park.  Please refer to the Circuit Park Map for all locations.  Some restrooms are temporary (portaloo) type, others are located within our stakeholder’s premises (eg. Esplanade Theatres on the Bay).  Wheelchair Accessible Platforms have a dedicated restroom immediately by the platform.
                                </li>
                                <li>
                                    •   Please make note of the following information that will help you to better enjoy your day: <br><br>
                                    <ul>
                                        <li>
                                            Plan your arrival at the Circuit Park carefully and if possible use public transport.  The Marina Bay Street Circuit has excellent MRT (underground train) access.  Due to the road closures there are strict limitations on arrival by private vehicle or taxi, it is not possible to be dropped off at Gates.
                                        </li>
                                        <li>➢   Please refer to the <a rel="gallery" class="fancybox" href="http://web2.singaporegp.sg/Uploaded/images/2015map.png">map</a>
                                            for patrons with reduced mobility for recommended routes around the Circuit Park.<br><br>
                                            <ul><li>
                                                    <strong>Zone 1</strong> <br>
                                                    Turn 1 Wheelchair Accessible Platform ticketholders can access Zones 1 and 2 via Gate 1.  The distance from Nicoll Highway MRT station to Gate 1 is 360m.  <br><br>
                                                    Once within Zone 1 patrons can access the Singapore Flyer (in Zone 2) using the tunnel under the track in between Turns 2 and 3.
                                                    <br><br>
                                                    To access Zone 4 (e.g. to view the Padang concerts) we recommend that wheelchair patrons exit Zone 1 through Gate 1 take the MRT as movement to Zone 4 is restricted by overpasses and underpasses.  Patrons can re-enter the Circuit Park through Gate 5 (closest MRT: Raffles Place). From here, patrons can access the Padang and Esplanade Park via the underpass at the foot of the Anderson Bridge.
                                                </li>
                                                <li>
                                                    <strong>Zone 4</strong> <br>
                                                    Empress Place Wheelchair Accessible Platform ticketholders should access Zone 4 via Gate 5.  Gate 5 is located close to Raffles Place where there is access both to MRT, taxi services and vehicle drop off.  <br><br>
                                                    In addition, patrons with mobility issues can access the wheelchair-accessible platform at the Padang in Zone 4 to catch the nightly concerts at the Padang Stage, on a first come, first serve basis.
                                                </li></ul></li>
                                        <li>   Overpasses do not have lifts for wheelchair access nor does the main underpass (aka LTA Concourse) that connects the four sections of Zone 4.  </li>
                                    </ul>
                                </li>
                                <li>
                                    •   For patrons with mobility issues that do not require wheelchairs please consider the distances involved when getting to the Circuit Park as well as enjoying your time at the event. For a list of recommended Grandstands to meet your needs, do contact <a href="mailto:tickets@singaporegp.sg">tickets@singaporegp.sg</a> or call the Ticketing Hotline at +65 6738 6738.</li>

                                <li>•   We are unable to provide specialist transport services within the Circuit Park (e.g. golf buggies) as medical resources are dedicated to medical incidents. Please note that there are no wheelchairs available for loan on site.
                                </li>
                                <li>•   Visually impaired patrons are welcome to enter with Guide Dogs but please inform us in advance so that we can make provision at the gates to facilitate access.
                                </li>
                                <li>•   Meeting the needs of patrons with disabilities is a priority for Singapore GP Pte Ltd, please contact us at <a href="mailto:tickets@singaporegp.sg">tickets@singaporegp.sg </a>should you require any assistance or further information.
                                </li>

                            </ul>
                        </td>
                    </tr>


                    <tr id="movement">
                        <td>
                            <h3>Movement within the Circuit Park</h3>
                        </td>
                        <td><ul>
                                <li>
                                    •   The Circuit Park covers an area of approximately 80 football fields – the track cuts through areas of parkland filled with entertainment and activities and a glittering cityscape in a tropical setting. Some ticket types provide more access across the Circuit Park than other, please see the <a href="http://www.singaporegp.sg/tickets/listings ">Ticketing section</a> of the website to confirm what Zones you may access with your ticket.
                                </li>
                                <li>
                                    •   Information Booths and Circuit Park Guides are on hand to assist.  Look out for directional signs and large format maps throughout the Circuit Park. Maps are also distributed at the gates and information booths.</a>.
                                </li>
                                <li>
                                    •   There are a number of overpasses and underpasses that may have to be navigated to get from one location to another.  If you have limited mobility please refer to the section on <a href="#DWF">Disability / Wheelchair Access and Facilities </a>for more information.
                                </li>
                                <li>
                                    •   Patrons with access to all four zones might want to consider using the MRT (subway) to travel between Zones 1 and 4.  Nicoll Highway MRT (close to Gate 1) and City Hall or Esplanade MRT (close to Gate 3) are effective ways to travel even if it means temporarily leaving the Circuit Park.
                                </li>
                                <li class="insidetips">
                                    SGP Insider Tip:  If you are walking from Zone 1 to 4 (or vice versa) use the Singapore Flyer as your key landmark.
                                </li>
                                <li>
                                    •   After the final nightly track action on Friday and Saturday, Zone 1 and 2 patrons may use the track to get to Zone 4 (and the Padang). Please go to Turn 20 (by the Singapore Flyer) and await the all clear signal from Event Staff before proceeding onto the track.
                                </li>
                                <li>
                                    •   At certain times of the day some Overpasses and Gates change flow so as to safely manage the number of patrons using them:     <br><br>

                                    <ul>
                                        <li>
                                            ➢   Gate 4 changes to an EXIT ONLY gate after 9.30pm on a daily basis.
                                        </li>
                                        <li>
                                            ➢   On Saturday at the end of the final Qualifying Session Overpass 1 temporarily becomes a one-way only overpass (direction from Pit Straight towards Paddock Club and Singapore Flyer) in order to allow patrons to get to the rest of the Circuit Park.
                                        </li>
                                        <li>
                                            ➢   LTA Concourse/Underpass, Zone 4 (under Turn 8 and Turn 14 of the track).  At times of peak patron movement or during inclement weather, our event staff will manage the flow of patrons into the underpass to ensure safety.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    •   We appreciate that these periods of managed pedestrian flow may cause delay at certain times, however we seek your kind understanding for this crucial procedure to ensure the safety of our patrons.
                                </li>
                                <li class="insidetips">
                                    Be sure to wear comfortable walking shoes and GO EXPLORE!
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="invasion">
                        <td>
                            <h3>Track Access</h3>
                        </td>
                        <td><ul>
                                <li>
                                    •   Patrons from select locations can go on to the track on Sunday night after the race  and experience the bright lights and drivers’ view of the track.
                                </li>
                                <li>
                                    •   Patrons in Zones 1 and 2 may access the track at two locations once it is declared safe to do so, and shortly thereafter proceed to Zone 4 (and the Padang) via the track.
                                </li>
                                <li class="insidetips">
                                    SGP Insider Tip: After the final track action on Friday and Saturday, patrons in Zones 1 and 2 may also use the track to get to Zone 4 (and the Padang). Please proceed to Turn 20, by the Singapore Flyer, and await the all clear from Event Staff to proceed down track.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="medical">
                        <td>
                            <h3>Medical and First Aid</h3>
                            <img src="http://web2.singaporegp.sg/Uploaded/event_guide_2015/first-aid.jpg" alt="">
                        </td>
                        <td><ul>
                                <li>
                                    •   First Aid Booths are located throughout the Circuit Park and their locations are indicated on the Circuit Park Map. Grandstands have additional First Aid Booths that are not marked on the map.
                                </li>
                                <li>
                                    •   If you are unwell please proceed to the nearest First Aid booth.
                                </li>
                                <li>
                                    •   Medical resources are dedicated to first aid response, our staff are unable to provide wheelchairs or transport on medical buggies to patrons that have mobility issues. (see Disability / Wheelchair Access and Facilities for more information)
                                </li>
                                <li class="insidetips">
                                    SGP Insider Tip:  The most common first aid incidents are blisters (from walking in inappropriate footwear), mild dehydration and sunburn.  Most of these are easily preventable.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="rain">
                        <td>
                            <h3>Rain and Inclement Weather</h3>
                        </td>
                        <td><ul>
                                <li>
                                    •   It is a rain or shine event, expect the best but be prepared for rain.  Survival Kits booths are located throughout the Circuit Park (usually next to Information Booths) and sell ponchos and ear plugs. Proceeds of the sale go to charity.
                                </li>
                                <li>
                                    •   Please note that we do not allow umbrellas to be used on the grandstand for sun protection, only if it starts raining heavily.
                                </li>
                                <li>
                                    •   In case of a downpour please take care should you leave your grandstand.  Sheltered areas are extremely limited within the Circuit Park. If an area becomes overcrowded please listen carefully to instruction from Event and Security Staff.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr id="lost">
                        <td>
                            <h3>Lost and Found</h3>
                        </td>
                        <td><ul>
                                <li>
                                    •   Please report any lost items to the nearest Information Booth. We will contact you to collect the items if they are found.
                                </li>
                                <li>
                                    •   Do note that we are unable to retrieve items dropped under the grandstands until after the day’s activities.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>We would like to thank all our patrons who have submitted feedback forms or contacted us with their suggestions on how to improve the event.  </p>



                            <p>If you need any information or have your own tips to share, please write to us at <a href="mailto:info@singaporegp.sg">info@singaporegp.sg</a>. You can also check out the Frequently Asked Questions section for answers to questions you may have <a href="http://web2.singaporegp.sg/Uploaded/Uploaded/2016-Ticketing-FAQs.pdf" target="_blank">here</a>.</p>


                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script>

        $(document).ready(function() {
            $(".fancybox").fancybox();
            $('#select-anchor').change( function () {
                var targetPosition = $($(this).val()).offset().top;
                $('html,body').animate({ scrollTop: targetPosition}, 'slow');
            });
        });

    </script>
{% endblock %}