
{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2015 Formula 1 Night Race - Race Guide ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide.min.css"/>
    <link rel="stylesheet" href="stylesheets/home.min.css"/>

    <style>

        .chunki {
            margin: 0px auto;
        }
        .paddingtwenty{
            padding-left:20px;
            padding-right:20px;
        }
        p{
            margin: 0 !important;
            padding: 0 !important;
        }
        .paddingforty{
            padding-left:40px;
            padding-right:40px;
        }
        .paddingzero{
            padding-left:0px !important;
            padding-right:0px;
        }
        .noshadow{
            border-top: 1px solid #e0e0e0;
            box-shadow: none !important;
        }
        .whitebg{
            background: white!important;
        }
        .anothergrey{
            background: #fbfbfb !important;
        }
        .clickyclick{
            font-weight: bold;
            color: #bb9d5f;
        }
        .nopadding{
            margin:0;
            padding:0 !important;
            padding-top:0 !important;
            padding-bottom:0 !important;
        }
        .tips{
            font-weight: bold;
            font-size: 100%;

            padding-right:30px !important;
            padding-left: 70px !important;
        }
        .tips ~ p{

            padding-left: 70px !important;
            padding-right:30px !important;
        }
        a{
            color:#bb9d56;
        }
        .tips::first-letter{
        }
        p a img{
            height:40px;
            padding:0px;
            margin-top:-10px;
            font-size: 18px;
        }
        .paddinground{
            padding: 40px !important;

        }
        .lettercircle{
            float: left;
            background: #bb9d56;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            padding: 10px;
            font: 28px Arial, sans-serif;
            color: #ffffff;
            text-align: center;
        }

        .minus{
            margin-top:-10px;
        }
        .pushpadtop{
            padding-top: 30px;
        }

        .weather{
            background-color: #960101; vertical-align: middle; line-height: 40px; text-align: center; color: white; font-size: 1em;
        }
        .weather a{
            color: white;
            font-weight: bold;
        }
        table {
            width: 100% !important;
            padding: 5px;
            margin-bottom: 48px;
            border-collapse: collapse;
            border-top: 7px solid #3d96c1;
        }
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:12.5px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg th{font-family:Arial, sans-serif;font-size:12.5px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    </style>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg .tg-s6z2{text-align:center}
        .tg .tg-ltqa{background-color:#bbdaff;text-align:center}
        .tg .tg-ci37{background-color:#ecf4ff;text-align:center}
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Haze Updates</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="chunk paddingforty ">
            <br>
            <div class="chunk" style="margin: 0px;">
                <iframe scrolling="no" src="http://www.haze.gov.sg/" style="border: 0px none; margin-left: -625px; height: 360px; margin-top: -182px; width: 850px;">
                </iframe>
                <!--<div style="background-color: #d8d8d8; padding: 15px 15px 12px; width: 240px">
                <p style="font-size:18px; color: #6c6d70;">
                    <b>PSI Updates</b>
                </p>
                <p style="font-size:15px; color: #6c6d70;"><b>(as of 18 Sep 2015, 12am)</b></p>
                </div>
                <br>
                <p style="font-size:24px; color:#0066cc;">
                    <b>&nbsp;24-hr PSI: 69 - 79</b>
                </p>
                <br>
                <p style="font-size:18px; color:#0066cc;">
                    <b>&nbsp;3-hr PSI: 82</b>
                </p>-->
            </div>
                <!--<div>
                    <p style="font-size:18px; color: #6c6d70;">
                        <b>PSI Updates</b>
                    </p>
                    <p style="font-size:15px; color: #6c6d70;"><b>as of 16 Sep 2015, 12pm</b></p>
                </div>
                <br>
                <p style="font-size:18px; color:#0066cc;">
                    <b>24-hr PSI: 96 - 121</b>
                </p>
                <p style="font-size:18px; color:#0066cc;">
                    <b>3-hr PSI: 92</b>
                </p>
            </div>-->
            <br>

            <p style="font-size:18px; color: #6c6d70;">
                <b>Haze Advisory</b>
            </p>
            <br>
            <p style="font-size:17px;">
                Singapore is currently experiencing air pollution known as haze. Patrons are

                advised to heed the government health advisory in place for the corresponding

                PSI reading.
            </p>
            <br>
            <p style="font-size:17px;">
                Singapore GP has put in place a number of measures should the haze continue

                into the race weekend, including making available N95 masks for patrons

                throughout the Circuit Park at a cost price of S$2.
            </p>
            <br>
            <p style="font-size:17px;">
                For the full <a href="https://www.moh.gov.sg/content/dam/moh_web/PressRoom/Current_Issues/2014/Press%20Ad%20ST%20(244x370mm).pdf" target="_blank">health advisory</a> and the latest PSI reading, click <a href="http://www.haze.gov.sg/" target="_blank">here</a>
            </p>
            <br>
            <p style="font-size:17px;">
                Should you have any medical issues, please proceed to the First Aid booths for

                assistance.
            </p>
            <br>
            <table class="tg" style="undefined;table-layout: fixed; width: 866px">
                <colgroup>
                    <col style="width: 128px">
                    <col style="width: 246px">
                    <col style="width: 246px">
                    <col style="width: 246px">
                </colgroup>
                <tr>
                    <th class="tg-ltqa">24-hr PSI</th>
                    <th class="tg-ltqa">Healthy persons</th>
                    <th class="tg-ltqa">Elderly, pregnant women, children</th>
                    <th class="tg-ltqa">Persons with chronic lung disease, heart disease</th>
                </tr>
                <tr>
                    <td class="tg-s6z2">≤100<br>(Good/Moderate)</td>
                    <td class="tg-s6z2">Normal activities</td>
                    <td class="tg-s6z2">Normal activities</td>
                    <td class="tg-s6z2">Normal activities</td>
                </tr>
                <tr>
                    <td class="tg-ci37">101 - 200<br>(Unhealthy)</td>
                    <td class="tg-ci37">Reduce^ prolonged** or strenuous*** outdoor physical exertion</td>
                    <td class="tg-ci37">Minimise^^ prolonged** or strenuous*** outdoor physical exertion</td>
                    <td class="tg-ci37">Avoid^^^ prolonged** or strenuous*** outdoor physical exertion</td>
                </tr>
                <tr>
                    <td class="tg-s6z2">201 - 300<br>(Very Unhealthy)</td>
                    <td class="tg-s6z2">Avoid^^^ prolonged** or strenuous*** outdoor physical exertion</td>
                    <td class="tg-s6z2">Minimise^^ outdoor activity</td>
                    <td class="tg-s6z2">Avoid^^^ outdoor activity</td>
                </tr>
                <tr>
                    <td class="tg-ci37">&gt;300<br>(Hazardous)</td>
                    <td class="tg-ci37">Minimise^^ outdoor activity</td>
                    <td class="tg-ci37">Avoid^^^ outdoor activity</td>
                    <td class="tg-ci37">Avoid^^^ outdoor activity</td>
                </tr>
                <tr>
                    <td colspan="4" style="alignment: left">
                        <P style="font-size: 11px">
                            ** Prolonged = continuous exposure for several hours
                            <br>
                            *** Strenuous = involving a lot of energy or effort
                            <br>
                            ^ Reduce = do less
                            <br>
                            ^^ Minimise = do as little as possible
                            <br>
                            ^^^ Avoid = do not do
                        </P>
                    </td>
                </tr>
            </table>

        </div>
    </section>
{% endblock %}