{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Other - Careers' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/misc-privacypolicy.min.css"/>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <section class="privacy-policy">
        <div class="chunk row">
            <div class="legalese col">
                <table>
                    <colgroup width="40%"></colgroup>
                    <colgroup width="60%"></colgroup>
                    <tbody>
                    <tr>
                        <td colspan="2">
                            <h1>Job Opportunities</h1>

                           <p>Singapore GP is inviting candidates to be a part of Asia’s biggest motorsports extravaganza, the 2017 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX. To ensure an equally spectacular event on and off track, we are seeking exceptional and motivated individuals to join us to fill the following positions:</p>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">

                            <br/>
                            <p>There are currently no positions available. Please check back again.</p>
                        </td>
                    </tr>
                   <!-- <tr>
                        <td colspan="2"><h2>Corporate Sales Team</h2></td>
                    </tr>

                    <tr>
                        <td>
                            <h3>CORPORATE SALES MANAGER<br><small>(PERMANENT, FULL-TIME POSITION)</small></h3>
                        </td>
                        <td>
                            <p>A key member of the sales team, you will be responsible for achieving sales targets by representing the suite of hospitality products for the FORMULA 1 SINGAPORE GRAND PRIX. Reporting to the Sales Director, you will manage the existing portfolio of clients and seek opportunities to generate new business. You will also be required to work closely with internal and external stakeholders, vendors and consultants to ensure clients’ logistical and operational needs are met. </p>
                            <p></p>
                            <p><strong>Requirements:</strong><br></p>
                            <p>
                                • A minimum of three years experience in sales, ideally with a proven track record in closing sales in the luxury or</br>&nbsp;&nbsp;FMCG industry <br>
                                • A professional with excellent communication and social skills, and an outgoing personality<br>
                                • Able to work in a team and independantly<br>
                                • Able to multi-task under deadline pressure, result-oriented and an effective problem solver<br>
                                • A genuine passion for event sales and understanding of the hospitality industry<br>
                                • A fluency in Mandarin is advantageous to liaise with clients from Greater China<br>
                            </p>
                            <p>If you have these qualities, email a brief covering letter and full resume together with your present and expected salary to <a href="mailto:jobs@singaporegp.sg">jobs@singaporegp.sg</a> by <u><strong>Friday, 30 October 2015</strong></u>. Only shortlisted candidates will be contacted.</p>
                        </td>
                    </tr> -->
                    <!--
                    <tr>
                        <td colspan="2"><h2>Race Operations </h2></td>
                    </tr>

                    <tr>
                        <td>
                            <h3> Race Operations Executive </h3>
                        </td>
                        <td>
                            <p>We are looking for a meticulous and motivated individual to play a supporting role in the Race Operations team. You will assist the Manager of Race Operations and work closely with suppliers and volunteers, in addition to providing administrative support for the department. You should be detail-oriented, have the ability to multi-task and be willing to travel. </p>
                            <p></p>
                            <p><strong>Key Requirements:</strong><br></p>
                            <p>• At least 2 years experience in a similar job scope would be an advantage however by no means essential.</p>
                            <p>• Proficient in the English language as well as Microsoft Office</p>
                            <p>• Ability to work on weekends is essential.
                            </p>

                            <p>Applications should include a brief covering letter, a recent photo and full resume together with your present and expected salary by <u><b>22 April 2016</b></u> to  <a href="race-officials@singaporegp.sg">race-officials@singaporegp.sg</a>. Only shortlisted applicants will be contacted.</p>
                        </td>
                    </tr> -->


                   <!-- <tr>
                        <td>
                            <h3>Senior Marketing Manager / <br/>Marketing Manager</h3>
                        </td>
                        <td>
                            <p>You will assist to develop and implement strategies and partnerships in key markets. Besides possessing excellent interpersonal and writing skills, and regional or global marketing experience, you should be detail-oriented, and be abreast of the latest marketing trends. You will also be required to manage direct and digital engagement campaigns, as well as key branding functions for the annual FORMULA 1 SINGAPORE GRAND PRIX.</p>
                            <p></p>
                            <p><strong>Key Requirements:</strong><br></p>
                            <p>
                                • At least five years (for Marketing Manager role) and eight years (for Senior Marketing Manager role) of experience in a regional/global marketing role with preference for lifestyle, luxury, sports or event marketing

                            </p>
                            <p>Applications should include a brief covering letter, a recent photo and full resume together with your present and expected salary by  <b><u>18 April 2016</u></b> to <a href="mailto:marketing@singaporegp.sg">marketing@singaporegp.sg</a>. Only shortlisted applicants will be contacted.</p>
                        </td>
                    </tr>
-->
<!--
                    <tr>
                        <td>
                            <h3>Singapore GP Off-Track Pit Crew (Petrol Ed, SGP Grid Girls and Pit Stop Challenge Crew)</h3>
                        </td>
                        <td>
                            <p>We’re looking for outgoing and motivated individuals who enjoy meeting and interacting with people of all ages. You must be comfortable with engaging the crowd with games, posing for photographs with members of the public and handing out promotional flyers. Fluent in English, you are also physically fit and love the outdoors. Prior experience in roadshows and outdoor activations would be an advantage.</p>
                            <p></p>
                            <p><strong>Key Requirements:</strong><br></p>
                            <p>
                                •  You must be able to work during selected weekends and public holidays between April and September including the race weekend (16 - 18 September 2016). Females must be at least 1.6m; males must be at least 1.75m tall

                            </p>
                            <p>If you have these qualities, email us your full name, contact number, email address, relevant experience and a short paragraph detailing why you’d like to join us at  <a href="mailto:production@singaporegp.sg ">production@singaporegp.sg </a> by <b><u>31 March 2016</u></b>. Only shortlisted applicants will be contacted.</p>
                        </td>
                    </tr> -->



                    <!-- Accreditation & Ticketing Team-->
                   {#
                   <tr>
                        <td colspan="2"><h2>Accreditation & Ticketing Team</h2></td>
                    </tr>

                    <tr>
                        <td>
                            <h3> Ticketing Booth Manager (Contract)</h3>

                        </td>
                        <td>
                            <p>You will be responsible for overseeing general ticketing operations at your assigned booth over the race weekend (16 to 18 September 2016). Duties include facilitating ticketing booth setup, grandstand checks, resolving customer issues, supervising ticketing booth staff and any other ticketing-related assignment.  </p>


                            <p></p>
                            <p><strong>Key Requirements:</strong><br></p>
                            <p>• At least two years of customer service experience</p>
                            <p>• A team leader with pleasant disposition</p>
                            <p>• Excellent interpersonal and communication skills</p>
                            <p>• Able to attend training prior to contractual working days conducted in August and September (dates to be advised)</p>

                            <p>Interest applicants should include a brief cover letter, a recent photo and full resume together with your present and expected salary to   <a href="mailto:ticketing-recruit@singaporegp.sg">ticketing-recruit@singaporegp.sg. </a>by <B><u></u>Friday, 09 September 2016</u></B>. Please indicate the position applied for in the email subject header. Only shortlisted candidates will be contacted.</p>


                        </td>
                    </tr>
                        #}
                    {#
                   <tr>
                       <td>
                           <h3> Ticketing & Accreditation Executive</h3>

                       </td>
                       <td>
                           <p>You will assist in managing all aspects of ticketing and accreditation operations for the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX. The scope includes customer service, sales and logistics support, contract evaluation, liaison with vendors, key partners and stakeholders as well as the production and distribution of tickets and accreditation credentials. You are also expected to prepare and analyse daily sales reports, train and supervise temporary staff. </p>


                           <p></p>
                           <p><strong>Key Requirements:</strong><br></p>
                           <p>• Degree Holder in any discipline</p>
                           <p>• Preferably at least 2 years of experience in a client servicing environment</p>
                           <p>• Good interpersonal and communication skills</p>
                           <p>• Proficient with Microsoft Office (Excel, PowerPoint and Word)</p>

                           <p>Applications should include a brief cover letter, recent photo and full resume together with your present and expected salary, and be sent by 30 August 2016 to  <a href="mailto:ticketing-recruit@singaporegp.sg">ticketing-recruit@singaporegp.sg. </a>.Please indicate the position applied for in the email subject header. Only shortlisted applicants will be contacted.</p>


                       </td>
                   </tr>
                    #}
                    {#
                   <tr>
                       <td>
                           <h3> Accreditation Officer<br/>(Contract)</h3>

                       </td>
                       <td>
                           <p>Singapore GP has successfully hosted the only night race on the FORMULA 1 calendar at the Marina Bay Street Circuit since 2008. </p>

                           <p>The team is currently expanding to ensure an equally spectacular event on and off track as the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX promises to bring more non-stop action and entertainment against the dramatic backdrop of downtown Singapore. </p>
                           <p>We are seeking exceptional and motivated individuals to join us to fill the following positions:</p>

                           <p><b>Accreditation Officer (Contract – August to September 2016)</b></P>
                           <P><b>Accreditation Officer (Event Week – September 2016)</b></p>

                           <p></p>
                           <p><strong>Key Requirements:</strong><br></p>
                           <p>• Fast worker and able to work under pressure</p>
                           <p>• Analytical, meticulous and organised</p>
                           <p>• Able to learn quickly and work independently</p>
                           <p>• Good interpersonal and communication skills</p>
                           <p>• Proficient in Microsoft Office </p>

                           <p>Interested applicants should include a brief covering letter, photo and full resume together with your present and expected salary to <a href="mailto:accreditation-recruit@singaporegp.sg">accreditation-recruit@singaporegp.sg</a>.</p>

                           <P>Applications may also be sent by post to:<br /><br/>
                               Accreditation Department <br />
                               Singapore GP Pte Ltd <br />
                               50 Cuscaden Road<br />
                               #06-02 HPL House<br />
                               Singapore 249724
                           </P>

                           <P>Only short-listed applicants will be contacted. </P>
                       </td>
                   </tr>
                    #}
                    <!-- Accreditation Team -->
                    

                   {# <tr>
                        <td>
                            <h3> Ticketing Coordinator<br/>(Contract - August to September 2016)</h3>
                        </td>
                        <td>
                            <p>Singapore GP is inviting candidates to be a part of Asia’s biggest motorsports extravaganza, the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX. To ensure an equally spectacular event on and off track, we are seeking exceptional and motivated individuals to join us to fill the following contract positions:</p>
                            <p>You will support the Ticketing Team by managing in-house ticketing operations, respond to customer enquiries, process ticket bookings and facilitate ticket fulfilment. In addition, you will provide sales and logistics support for ticket orders from corporate groups and overseas travel agents.</p>


                            <p></p>
                            <p><strong>Key Requirements:</strong><br></p>
                            <p>• Experience in a customer service / administrative role preferred</p>
                            <p>• Good written and communications skills with the ability to handle customers and vendors</p>
                            <p>• Strong team player who is proactive, meticulous, resourceful and willing to learn</p>
                            <p>• Able to work under deadline pressure, quick thinker and an effective problem solver</p>
                            <p>• Proficient in Microsoft Office (Powerpoint, Excel and Word) </p>
                            <p>• Willing to work long hours, on shift and weekends </p>

                            <p>If you have these qualities, email a brief covering letter, a recent photo and full resume together with your present and expected salary to <a href="mailto:ticketing-recruit@singaporegp.sg ">ticketing-recruit@singaporegp.sg </a>by <b><u>Friday, 15 August 2016</u></b>. Only short-listed applicants will be contacted.</p>


                            </P>
                        </td>
                    </tr>
#}


                    <!-- Temporary Position -->
                    <!--
                    <tr>
                        <td colspan="2"><h2>Partnership Sales Team</h2></td>
                    </tr>

                    <tr>
                        <td>
                            <h3> Executive Partnership Sales<br/>(Full Time position)</h3>
                        </td>
                        <td>
                            <p>Supporting the partnership sales team, you will be responsible to communicate, maintain, develop partner relationships and assist in coordinating marketing efforts overseas. Daily operational requirements include processing, fulfilling ticket orders, preparing and analysing sales report.  Onsite task include liaising with Partners and their customers for collection of tickets during the race week as well as reconciliation of accounts at the end of race.</p>
                            <p></p>
                            <p><strong>Key Requirements:</strong><br></p>
                            <p>• Possess at least 2 years of work experience in a similar capacity in the Hospitality, Events or Travel industry</p>
                            <p>• At least a Diploma in Business Studies, Hospitality, Tourism or other related industry</p>
                            <p>• Excellent interpersonal and communication skills to maintain positive rapport with partners and third-party vendors</p>
                            <p>• Helpful, mature and meticulous with a friendly and personable </p>
                            <p>• Strong team player who is proactive, meticulous, resourceful and willing to learn </p>
                            <p>• Able to work under deadline pressure, quick thinker and an effective problem solver </p>
                            <p>• Proficient Microsoft Office (Excel, Word and Powerpoint) </p>
                            <p>• Able to work late and on weekends when required </p>
                            <p>If you have these qualities, email a brief covering letter, a recent photo and full resume together with your present and expected salary to <a href="mailto:joey.liao@singaporegp.sg ">joey.liao@singaporegp.sg</a>. Please indicate the position applied for in the email subject header. Only shortlisted candidates will be contacted.</p>

                        </td>
                    </tr>


                    <!-- Operation Team -->

                    {#
                    <tr>
                        <td colspan="2"><h2>Operations Team</h2></td>
                    </tr>

                    <tr>
                        <td>
                            <h3>Off-Track Spectator Medical Team</h3>
                        </td>
                        <td>
                            <p>Singapore GP is looking for dedicated volunteer doctors and nurses to form the Off-Track Spectator Medical Team, which provides medical and first-aid services to patrons and staff at the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX (16 - 18 September). </p>

                            <p>Reporting to the Chief Medical Officer (Spectator), successful candidates will be strategically located throughout the Circuit Park in the following areas. </p>


                                <P><b>• Spectator Medical Command Centre</b><br>
                                    &nbsp;&nbsp;Oversees the medical operations, personnel and logistics.</p>
                                <p><b>• Advanced Medical Post</b><br>
                                    &nbsp;&nbsp;Staffed by doctors and nurses who are capable of providing Basic to Advanced Cardiac Life Support.
                            <p><b>• First-Aid Post</b><br>
                                &nbsp;&nbsp;Staffed by nurses and/or first-aiders to provide first aid to patrons</p>
                            <p><b>• Roving Medical Team</b><br>
                                &nbsp;&nbsp;Medical team will make rounds along designated routes on bicycles to provide medical aid where required.</p>

                                <p><strong>Requirements:</strong></p>
                            <p> • Doctors must be registered with the Singapore Medical Council, and hold a valid ACLS certification.</p>
                            <p> • Nurses must be registered with the Singapore Nursing Board, and hold a valid BCLS (with AED) certification.</p>

                            <u>Note:</u>
                            <ul>
                            <ol>1.	Meals will be provided throughout the duration of the operation hours (1400hr to 0030hrs).</ol>
                                <ol>2.	Volunteers will be remunerated by Singapore GP in kind.</ol>
                                <ol>3.	Transportation is not provided. During the race weekend, public transportation operating hours will be extended and volunteers are encouraged to utilise these.</ol>
                                <ol>4.	There will be a briefing for all successful volunteers 2 to 3 weeks before the event.</ol>
                            </ul>

                            <p>To register, please complete the online form <a href="https://docs.google.com/forms/d/1_aHUVzvPR7JSFY64gUVnooa3VKfTHdiEFXPxgwyDxZc/viewform">here</a>. For more information, please visit the Off-Track Spectator Medical Team’s <a href="https://www.facebook.com/oteams">Facebook page.</a></p>


                        </td>
                    </tr>
                    #}
                    <!--
                            <tr>
                                <td colspan="2"><h2>Marketing Team</h2></td>
                            </tr>

                                        <tr>
                                          <td>
                                              <h3> Marketing  Intern</h3>
                                          </td>
                                          <td>
                                              <p>Reporting to the Director of Advertising and Marketing, you will be involved in various Marketing functions such as Advertising, Promotions, Production, Operations and Administration.</p>

                                              <p>Under the guidance of the Marketing team, you will assist in the planning, execution and review of marketing campaigns (direct and digital) with the objective of building public awareness and driving ticket sales, as well as management of event functions during the FORMULA 1 Race week. </p>
                                              <p><strong>Responsibilities include, but are not limited to:</strong><br></p>
                                              <p>•	Maintenance of website, eDMs, social media, and other digital platforms, including content generation, copy-writing and copy-proofing
                                              </p>
                                              <p>•	Assist in promotional activities such as contests, including development of mechanics and fulfillment </p>
                                              <p>•	Assist production team in the production of collaterals, including copy-writing and proofing, and request of quotations</p>
                                              <p>•	Manage the database of resources, including the selection of suitable visuals and content for various collaterals</p>
                                              <p>•	Coordinating with various internal department and external vendors to manage the flow of information and resources</p>
                                              <p>•	Assist the team in day-to-day administrative work, pre-race on-ground activations, preparation of logistics for race event and duties & responsibilities during race week</p>
                                              <p><strong>Key Requirements:</strong><br></p>
                                              <p>•	Minimum 18 years of age</p>
                                              <p>•	Able to commit to the role from April to October 2016</p>
                                              <p>•	Students majoring in Marketing, Advertising or Communications preferred</p>
                                              <p>•	Possess excellent communication skills, positive attitude towards learning and demonstrate a good knowledge of current and upcoming new media trends.</p>

                                              <p>Interested applicants should include a brief covering letter, photo and full resume to <a href="mailto:marketing@singaporegp.sg">marketing@singaporegp.sg</a> by <br /><u><b>24 June 2016</b></u>. Only shortlisted
                                                  applicants will be contacted.</p>
                                          </td>
                                      </tr>

                    -->
                                      <!-- Temporary Position -->

                    <!--
                    <tr>
                        <td colspan="2"><h2>Accreditation Team</h2></td>
                    </tr>

                    <tr>
                        <td>
                            <h3> Accreditation Coordinator<br/>(Contract position – June to October)</h3>
                        </td>
                        <td>
                            <p>A key member of the Accreditation team, you will be required to work with key partners and stakeholders to ensure all qualified personnel are accredited with the proper access passes and decals. You will also work with third-party vendors in the enhancement and development process of the accreditation system.</p>
                            <p></p>
                            <p><strong>Key Requirements:</strong><br></p>
                            <p>• Able to work under deadline pressure, quick thinker and an effective problem solver</p>
                            <p>• Good interpersonal and communications skills with the ability to handle customers and third-party vendors</p>
                            <p>• Strong team player who is analytical, meticulous, resourceful and organised</p>
                            <p>• Able to learn quickly and work independently</p>
                            <p>• Willing to work long hours, on shift and weekends. </p>
                            <p>If you have these qualities, email a brief covering letter, a recent photo and full resume together with your present and expected salary to  <a href="accreditation-recruit@singaporegp.sg ">accreditation-recruit@singaporegp.sg</a> by <u> <b>30 June 2016</b></u>. Please indicate the position applied for in the email subject header. Only shortlisted candidates will be contacted.</p>

                            <P>Applications may also be sent by post to:<br /><br/>
                                Accreditation Department <br />
                                Singapore GP Pte Ltd <br />
                                50 Cuscaden Road<br />
                                #06-02 HPL House<br />
                                Singapore 249724
                            </P>
                        </td>
                    </tr>
                    -->

                    <!--
                    <tr>
                        <td colspan="2"><h2>Hospitality Team</h2></td>
                    </tr>

                    <tr>
                        <td>
                            <h3>Paddock Club Lifestyle Manager (Operations and Training)<br/><br/>(Short term contract – 18 Days. From Friday 2nd – Friday 23rd September)</h3>
                        </td>
                        <td>
                            <p>Overseeing the Paddock Club Lifestyle area operation, you will be responsible to manage, communicate and execute the operations plan for guests' experience within the Lifestyle Area. This would include the smooth arrival and departure of guests, including transportation logistics and overseeing the guest service experience in the restaurants, bars and activity areas. The incumbent would be required to formulate and conduct the staff training, orientation and briefings in line with the Paddock Club operating requirements.</p>

                            <p>A quick thinker and an effective problem solver, you should be able to work under deadline pressure and have strong proven leadership qualities who can inspire and direct a large team. You should also be comfortable with managing large numbers of guests at an attraction or event.</p>
                            <p></p>

                            <p><strong>Key Requirement:</strong></p>
                            <p>• Possess at least 4 years of work experience in a similar capacity in the Hospitality or Events industry</p>
                            <p>• At least a Diploma in Business Studies, Hospitality, Tourism or other related
                                industry</p>
                            <p>• Experience in developing and delivering guest service training programme</p>
                            <p>• Excellent interpersonal and communication skills, helpful, mature and meticulous with a friendly and personable disposition</p>
                            <p>• Proficient in Microsoft Office (Excel, Word and Powerpoint)</p>
                            <p>• Able to work late and on weekends when required</p>

                            <p> If you have these qualities, email a brief covering letter, a recent photo and full resume together with your present and expected salary to  <a href="mailto:pcadmin@singaporegp.sg">pcadmin@singaporegp.sg</a> by <u><strong>19 August 2016</strong></u>. Please indicate the position applied for in the email subject header. Only shortlisted candidates will be contacted.</p>

                        </td>
                    </tr>

                    -->
                    </tbody>
                </table>



            </div>
        </div>
    </section>

{% endblock %}