{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Newsletter' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript"
            src="/javascripts/miscnewsletterbundle.js?postUrl={{ route('newsletter.post') }}"></script>

    <link rel="stylesheet" href="/stylesheets/misc-newsletter.min.css"/>
{% endblock %}

{# specify controller #}
{% block containerdiv %}
<div class="container" data-ng-controller="newsletterController">{% endblock %}

    {# page content #}
    {% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>SUBSCRIBE TO OUR E-NEWSLETTER</h1>
                        <br/>
                        <p>
                            Keep up to speed with the latest action at the<br/>2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter-form" data-ng-show="submitted">
        <div class="chunk row">
            <h2>Thank You</h2>
            <p>Thank you for subscribing. You're now in the loop for all the latest Singapore Grand Prix information.</p>
        </div>
    </section>

    <form name="newsletterForm" data-ng-submit="submitForm()" novalidate="novalidate">
        <section class="newsletter-form" data-ng-hide="submitted">
            <div class="chunk row">
                <div class="legalese col">
                    <table>
                        <colgroup width="40%"></colgroup>
                        <colgroup width="60%"></colgroup>
                        <tbody>

                        <tr>
                            <td><h3>Personal Information</h3></td>
                            <td>
                                <div class="form-row">
                                    <input type="text" name="name" placeholder="Name*"
                                           data-ng-model="newsletter.txtName"
                                           required/>

                                    <select name="yearOfBirth" data-ng-model="newsletter.sYear_of_Birth">
                                        <option value="" selected disabled>Year of Birth</option>
                                        {% for i in 2010..1910 %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-row">
                                    <input type="email" name="emailAddress" placeholder="Email*"
                                           data-ng-model="newsletter.txtEmail" required/>

                                    <select name="countryOfOrigin" data-ng-model="newsletter.sCountry">
                                        <option value="" selected disabled>Country</option>
                                        {% for country in countriesList %}
                                            <option value="{{ country.name }}">{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>Which Singapore Grand Prix <br/>races have you attended?</h3></td>
                            <td>
                                <div class="form-row checkboxes">
                                    {# angular: easier options generation #}
                                    {% verbatim %}
                                    <div class="form-grp checkbox" data-ng-repeat="year in yearsRunning">
                                        <input type="checkbox"
                                               id="y{{ year }}"
                                               name="yearsAttended[]"
                                               value="{{ year }}"
                                               data-ng-checked="newsletter.attend_which_year.indexOf(year) > -1"
                                               data-ng-click="toggleSelection('attend_which_year', year)"/><label
                                                for="y{{ year }}"></label>
                                    </div>
                                    {% endverbatim %}
                                </div>
                                <ul class="labels">
                                    {% for i in 2016..2008 %}
                                        <li>{{ i }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>Who do you go to the <br/>Singapore Grand Prix with?</h3></td>
                            <td>
                                <div class="form-row">
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="family"
                                                   name="with_who[]"
                                                   value="family"
                                                   data-ng-checked="newsletter.with_who.indexOf('family') > -1"
                                                   data-ng-click="toggleSelection('with_who', 'family')"/><label
                                                    for="family"></label>
                                        </div>
                                        <p>Family</p>
                                    </div>
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="friends"
                                                   name="with_who[]"
                                                   value="friends"
                                                   data-ng-checked="newsletter.with_who.indexOf('friends') > -1"
                                                   data-ng-click="toggleSelection('with_who', 'friends')"/><label
                                                    for="friends"></label>
                                        </div>
                                        <p>Friends</p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="partner"
                                                   name="with_who[]"
                                                   value="partner"
                                                   data-ng-checked="newsletter.with_who.indexOf('partner') > -1"
                                                   data-ng-click="toggleSelection('with_who', 'partner')"/><label
                                                    for="partner"></label>
                                        </div>
                                        <p>Partner</p>
                                    </div>
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="colleagues"
                                                   name="with_who[]"
                                                   value="colleagues"
                                                   data-ng-checked="newsletter.with_who.indexOf('colleagues') > -1"
                                                   data-ng-click="toggleSelection('with_who', 'colleagues')"/><label
                                                    for="colleagues"></label>
                                        </div>
                                        <p>Colleagues</p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="alone"
                                                   name="with_who[]"
                                                   value="alone"
                                                   data-ng-checked="newsletter.with_who.indexOf('alone') > -1"
                                                   data-ng-click="toggleSelection('with_who', 'alone')"/><label
                                                    for="alone"></label>
                                        </div>
                                        <p>Alone</p>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <div class="form-grp checkbox-horizontal others">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="others"
                                                   name="with_who[]"
                                                   value="others"
                                                   data-ng-checked="newsletter.with_who.indexOf('others') > -1"
                                                   data-ng-click="toggleSelection('with_who', 'others')"/><label
                                                    for="others"></label>
                                        </div>
                                        <p>Others</p>
                                    </div>

                                    <input type="text" name="othersEntry" placeholder="Others"
                                           data-ng-model="newsletter.with_who_other"/>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><h3>What do you look forward to at the<br/>Singapore Grand Prix?</h3></td>
                            <td>
                                <div class="form-row">
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="f1Race"
                                                   name="looking_forward[]"
                                                   value="f1_race"
                                                   data-ng-checked="newsletter.looking_forward.indexOf('f1_race') > -1"
                                                   data-ng-click="toggleSelection('looking_forward', 'f1_race')"/><label
                                                    for="f1Race"></label>
                                        </div>
                                        <p>Formula 1 Race</p>
                                    </div>
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="merchandise"
                                                   name="looking_forward[]"
                                                   value="merchandise"
                                                   data-ng-checked="newsletter.looking_forward.indexOf('merchandise') > -1"
                                                   data-ng-click="toggleSelection('looking_forward', 'merchandise')"/><label
                                                    for="merchandise"></label>
                                        </div>
                                        <p>Merchandise</p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="supportRaces"
                                                   name="looking_forward[]"
                                                   value="support_races"
                                                   data-ng-checked="newsletter.looking_forward.indexOf('support_races') > -1"
                                                   data-ng-click="toggleSelection('looking_forward', 'support_races')"/><label
                                                    for="supportRaces"></label>
                                        </div>
                                        <p>Support Races</p>
                                    </div>
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="fnb"
                                                   name="looking_forward[]"
                                                   value="fnb"
                                                   data-ng-checked="newsletter.looking_forward.indexOf('fnb') > -1"
                                                   data-ng-click="toggleSelection('looking_forward', 'fnb')"/><label
                                                    for="fnb"></label>
                                        </div>
                                        <p>Food and Beverage</p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="mainEntertainment"
                                                   name="looking_forward[]"
                                                   value="main_entertainment"
                                                   data-ng-checked="newsletter.looking_forward.indexOf('main_entertainment') > -1"
                                                   data-ng-click="toggleSelection('looking_forward', 'main_entertainment')"/><label
                                                    for="mainEntertainment"></label>
                                        </div>
                                        <p>Main stage entertainment / concerts</p>
                                    </div>
                                    <div class="form-grp checkbox-horizontal">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="fringeEntertainment"
                                                   name="looking_forward[]"
                                                   value="fringe_entertainment"
                                                   data-ng-checked="newsletter.looking_forward.indexOf('fringe_entertainment') > -1"
                                                   data-ng-click="toggleSelection('looking_forward', 'fringe_entertainment')"/><label
                                                    for="fringeEntertainment"></label>
                                        </div>
                                        <p>Fringe entertainment / roving acts</p>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-grp checkbox-horizontal others">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="entOthers"
                                                   name="looking_forward[]"
                                                   value="others"
                                                   data-ng-checked="newsletter.looking_forward.indexOf('others') > -1"
                                                   data-ng-click="toggleSelection('looking_forward', 'others')"/><label
                                                    for="entOthers"></label>
                                        </div>
                                        <p>Others</p>
                                    </div>

                                    <input type="text" name="othersEntry" placeholder="Others"
                                           data-ng-model="newsletter.looking_forward_other"/>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div class="form-row fine-print">

                                    <p>All fields not marked * are optional fields. You acknowledge that by filling up these fields, you provide us with information voluntarily. </p>

                                    <p>Your privacy is important to us. We only send emails to addresses, which have been subscribed to the list and we will not share, license or sell these e-mail addresses without your consent.</p>

                                    <div class="form-grp checkbox-bottom" style="display:inline;">
                                        <div class="checkbox">
                                            <input type="checkbox"
                                                   id="latest_news_partners"
                                                   name="latest_news_partners"
                                                   data-ng-model="newsletter.latest_news_partners"
                                                   data-ng-value-true="newsletter.latest_news_partners = 1"
                                                   data-ng-value-false="newsletter.latest_news_partners = 0"
                                                    />
                                            <label for="latest_news_partners"></label>
                                        </div>
                                    </div>
                                    <p>I wish to be kept up to date with the latest news, promotions, products and services by Singapore GP's participating partners.</p>

                                    <p style="clear:both">If you wish to unsubscribe from this e-newsletter mailing list please e-mail to <a href="mailto:unsubscribe@singaporegp.sg">unsubscribe@singaporegp.sg</a>.</p>
                                    <p>By clicking the "submit" button below, you consent to our collection, use and disclosure of your personal data in accordance with our <a href="{{ route('privacyPolicy') }}">Privacy Policy</a>.</p>
                                </div>
                                <input type="submit" value="Submit Form" data-ng-disabled="newsletterForm.$invalid"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>


       <!-- <section class="entry-form submission" data-ng-hide="submitted">
            <div class="chunk row">
                <div class="legalese col">
                    <input type="submit" value="Submit Form" data-ng-disabled="newsletterForm.$invalid"/>
                </div>
            </div>
        </section>-->
    </form>


{% endblock %}