{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Other - Pit Stop at Orchard' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/misc-privacypolicy.min.css"/>
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/pgwslider.css"/>
    <link rel="stylesheet" href="/stylesheets/campaign.landing.min.css"/>
    <link rel="stylesheet" href="/stylesheets/tabulous.css"/>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <script type="text/javascript">
        $(document).ready(function() {
            $(".tnc").fancybox({
                autoDimensions: false,
                width: 560
            });
        });
        function encodeImageFileAsURL(){
            var data;
            var filesSelected = document.getElementById("file").files;
            if (filesSelected.length > 0)
            {
                var fileToLoad = filesSelected[0];

                var fileReader = new FileReader();

                fileReader.onload = function(fileLoadedEvent) {
                    var srcData = fileLoadedEvent.target.result; // <--- data: base64

                    var newImage = document.createElement('img');
                    //newImage.src = srcData;
                    $("#files").val(srcData);
                    if($("#files").val() !== ''){
                        $(".text-success span").html(function(){
                            var path = $("#file").val();
                            path = path.split("\\");
                            return 'Successfully attached ' + '"' +path[path.length - 1]+'".';
                        });
                        $(".text-success span").show();
                    } else{
                        $(".text-success span").hide();
                    }
                    $(".fileUpload input.upload").hide();
                    $(".fileUpload a.removeFile").show();
                    $(".fileUpload").css({"background-image" : "url(/images/close_attachment.png)"} );
                    //document.getElementById("files").innerHTML = newImage.outerHTML;
                    //alert("Converted Base64 version is "+document.getElementById("files").innerHTML);
                    //console.log("Converted Base64 version is "+document.getElementById("files").innerHTML);
                }
                fileReader.readAsDataURL(fileToLoad);
            }
        };
        function removeFile(){
            $("#files").val("");
            $(".fileUpload input.upload").show();
            $(".fileUpload a.removeFile").hide();
            $(".fileUpload").css( "background-image", "url(/images/button-contest.png);" );
            $(".text-success span").html("File removed successfully.");
        };
    </script>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        <div class="chunk">
            <div class="row">
                <div class="top-bar col">
                    <div class="img-wrapper"><a href="{{ route('home') }}"><img src="/images/logo_w_date_long.png" alt=""/></a></div>
                </div>
                {% block social %}
                    <div class="social-bar col">
                        <div class="addthis-widget">
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 250px;margin-left:20px;">
                                <a class="addthis_button_facebook"></a>
                                <a class="addthis_button_twitter"></a>
                                <a class="addthis_button_email"></a>
                                <a class="addthis_button_print"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5363146506329a6f"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
        <div class="chunk">
            <div class="row">
                <div class="desc-bar col" style="height: 40px;">
                    <div class="desc">

                        <h1>Pit Stop @ Orchard </h1>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mason">
        <br /><br />
        <div class="chunk slide-chunk">

            <ul class="pgwSlider">
                <li><img src="http://singaporegp.sg/media/contests/popupstore/popupstore-5.jpg"></li>
                <li><img src="http://singaporegp.sg/media/contests/popupstore/popupstore-3.jpg"></li>

                <li><img src="http://singaporegp.sg/media/contests/popupstore/popupstore-2.jpg"></li>
                <li><img src="http://singaporegp.sg/media/contests/popupstore/popupstore-1.jpg"></li>
                <li><img src="http://singaporegp.sg/media/contests/popupstore/popupstore-4.jpg"></li>
            </ul>
        </div>

        <div class="chunk row" >
            <div class="writeup" style="padding:20px;">
                <p style="color: #00236d; font-weight: bold; margin: 0px; font-size: 26px;">Pit Stop @ Orchard</p>
                <img width="100%" src="/images/campaign/landing/line.png">
                <P style="font-size: 20px;" >

<style>
.left {
    float: left;
    width: 50%;

}
.right {
    float: right;
    width: 50%;

}
.group:after {
    content:"";
    display: table;
    clear: both;
}
img {
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 480px) {
    .left,
    .right {
        float: none;
        width: auto;
    }
}
</style>

<P style="font-size: 20px;" >

<table width="80%" border="0">
  <tr>
    <td width="15%" style="vertical-align: text-top;">Location:</td>
    <td><b>Orchard Road (in front of Wisma Atria/Ngee Ann City)</b></td>
  </tr>
  <tr>
    <td>Date</td>
    <td><b>1 – 21 Sep</b></td>
  </tr>
  <tr>
    <td>Time</td>
    <td><b>11am – 9:30pm</b></td>
  </tr>
</table>

 </p>
<P style="font-size: 16px;">Gear up for the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX and be the first to own the latest from our extensive range of Official Singapore GP 2016 Merchandise. Be sure to check out our in-store merchandise specials.
</p>

<P style="font-size: 16px;">
Book your tickets to the Singapore Grand Prix at our Pit Stop @ Orchard!
</p>

<!--<P style="font-size: 16px;">Join us for an array of activities and hourly prize giveaways*. What’s more, complete any 2 experiences at our PIT STOP @ ORCHARD and win a mystery gift!
</p>
<div class="group">
    <div class="left">
       <img style="max-width: 100%; height:auto;" src="http://singaporegp.sg/media/contests/popupstore/pit-stop-contest-2.png"  ></a>
    </div>
    <div class="right">
       <a href="http://www.singaporegp.sg/media/contests/popupstore/2016-PopUp-Flyer-A6.PDF" target="_blank"><img style="max-width: 100%; height:auto;" src="http://singaporegp.sg/media/contests/popupstore/play-and-win.jpg">
    </div>
</div>
-->



               {# <P style="font-size: 14px;">*Only on weekends (3, 4, 10 & 11 Sep 2016 from 11am – 930pm)</p>#}
            </div>

        </div>
    </section>

    <script type="text/javascript" src="/javascripts/revupbundle.js"></script>
    <script type="text/javascript" src="/javascripts/pgwslider.js"></script>
    <script type="text/javascript" src="/javascripts/tabulous.js"></script>
    <script>
        $(document).ready(function() {
            $('.pgwSlider').pgwSlider(
                    {
                        displayList : false,
                        displayControls : true,
                        transitionEffect : 'sliding',
                        intervalDuration : 10000
                    }
            );
            $('#tabs').tabulous({
                effect: 'slideLeft'
            });
            $('#strun-bib-no').keyup(function () {

                if ($(this).val() >= 5000 && $(this).val() < 16000) {
                    $('#submitButton').attr('disabled', false);
                }
                else if ($(this).val() >= 18000 && $(this).val() < 23000) {
                    $('#submitButton').attr('disabled', false);
                }
                else {
                    $(this).addClass('ng-invalid');
                    $('#submitButton').attr('disabled', true);
                }
            });
        });

        $(function () {
            //  Accordion Panels
            $(".accordion div").hide();
            $(".accordion h3").click(function () {
                $(this).next(".pane").slideToggle("slow").siblings(".pane:visible").slideUp("fast");
                $(this).toggleClass("current");
                $(this).siblings("h3").removeClass("current");
            });
        });
    </script>
    <div style="display:none">
        <div id="tnc">
            <h3>Terms and Conditions</h3>
            {{ contest.tnc|raw }}
        </div>
    </div>

{% endblock %}