{% extends "layouts.master" %} {% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Privacy Policy' %} {% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1
Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %} {# additional head scripts or styles #} {% block head %} {{ parent() }}
    <script src="/javascripts/genericbundle.js" type="text/javascript"></script>
    <link href="/stylesheets/misc-privacypolicy.min.css" rel="stylesheet">{% endblock %} {# page content #} {% block content %}
    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
    </section>
    <section class="privacy-policy">
        <div class="chunk row">
            <div class="legalese col">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <h1>SINGAPORE GP PTE LTD DATA PROTECTION POLICY</h1>
                            <h3>INTRODUCTION</h3>
                            <p>This document ("<strong>DPP</strong>") is issued subject to and pursuant to the Singapore Personal Data Protection Act (No. 26 of 2012) ("
                                <strong>the Act</strong>") and explains how Singapore GP Pte Ltd collects, uses, discloses, and protects information (which includes "Personal
                                Data", i.e. Data whether true or not, about any individual who can be identified from that data or from that data and other information to
                                which we would have or are likely to have access to) that we learn about you as a result of your interaction with us whether through the
                                website (on which this DPP is posted) or in conjunction with any other transaction offline or otherwise. Please take a moment to read this DPP
                                so that you know and understand the purposes for which we collect, use and disclose your Personal Data.</p>
                            <p>This DPP supplements but does not supersede nor replace any other consents you may have previously provided to Singapore GP Pte Ltd in
                                respect of your Personal Data, and your consents herein are additional to any rights which to any of the Companies (as defined below) may have
                                at law to collect, use or disclose your personal data.</p>
                            <p>Singapore GP Pte Ltd may from time to time update this DPP to ensure that this DPP is consistent with our future developments, industry
                                trends and/or any changes in legal or regulatory requirements. Subject to your rights at law, you agree to be bound by the prevailing terms of
                                the DPP as updated from time to time on our website (http://<a href="http://www.singaporegp.sg">www.singaporegp.sg</a>).</p>
                            <p>Please check back regularly for updated information on the handling of your Personal Data. This DPP was last updated in June 2014.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>How You Give Your Consent / Agreement To This DPP</h3>
                            <p>By interacting with us, submitting information to us, or (for our employees) by your continued employment with us, you agree and consent to
                                Singapore GP Pte Ltd (including its related corporations and business units) (collectively, the "<strong>Companies</strong>"), as well as their
                                respective agents (collectively referred to herein as "<strong>SGPPL</strong>", "<strong>us</strong>", "<strong>we</strong>" or
                                "<strong>our</strong>") collecting, using, disclosing and sharing amongst themselves your Personal Data, and disclosing such Personal Data to
                                the Companies' authorised service providers and relevant third parties in the manner set forth in this DPP.</p>
                            <p>This DPP (i) is integrated and forms a part of any agreements governing your relationship with us (and so should be read in conjunction with
                                those agreements), or (ii) is a condition under which we interact with you generally outside any agreement (including, in particular, where you
                                provide or we collect Personal Data from you).</p>
                            <p>Hence, for example, where you interact with us through our website, you are, by (i) accessing any part of the website, (ii) submitting
                                information to us, or (iii) using any features of the website, <em></em>agreeing to this DPP and giving us your consent to the collection, use
                                and disclosure of your information (including Personal Data) to us as well as our respective agents, representatives and authorised third party
                                vendors, partners and service providers including (where relevant) ticketing agents, webmaster, courier, etc. as set out in this DPP.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>How We Collect, Use Or Disclose Your Personal Data</h3>
                            <ol type="1">
                                <li>
                                    <h4>Personal Data</h4>
                                    <ol type="1">
                                        <li>In this DPP, "Personal Data" refers to any data, whether true or not, about an individual who can be identified (a)
                                            from that data; or (b) from that data and other information to which we have or are likely to have access, including
                                            data in our records as may be updated from time to time.</li>
                                        <li>Examples of such Personal Data you may provide to us include (depending on the nature of your interaction with us)
                                            your name, NRIC number, passport or other identification number, telephone number(s), mailing address, email address
                                            and any other information relating to any individuals which you have provided us, in any forms you may have submitted
                                            to us, or via other forms of interaction with you.</li>
                                    </ol>
                                </li>
                                <li>
                                    <h4>Collection of Personal Data</h4>
                                    <ol type="1">
                                        <li>Generally, we collect Personal Data in the following ways:
                                            <ol class="alpha">
                                                <li>when you contact us;</li>
                                                <li>when you submit forms or applications to us;</li>
                                                <li>when you submit queries or requests to us;</li>
                                                <li>when you submit complaints or provide feedback;</li>
                                                <li>when you respond to our request for additional Personal Data;</li>
                                                <li>when you subscribe to our e-newsletter to receive latest information on the upcoming race or ask to
                                                    be included in an email or other mailing list;</li>
                                                <li>when you respond to our initiatives;</li>
                                                <li>when you participate in our contests;</li>
                                                <li>when you make bookings for tickets or hospitality packages, or purchase any other products/services from us;</li>
                                                <li>when you receive customer or technical support from us;</li>
                                                <li>when you visit our websites (note: when you browse our website, you generally do so anonymously -
                                                    but please see the section below on cookies - we do not at our website automatically collect Personal
                                                    Data, including your email address unless you provide such information or login with your account
                                                    credentials if we enable such features on our websites); and</li>
                                                <li>when you submit your Personal Data to us for any other reasons.</li>
                                            </ol>
                                        </li>
                                        <li>If you provide us with any Personal Data relating to a third party (e.g. information of your dependent, spouse,
                                            children and/or parents), by submitting such information to us, you represent to us that you have obtained the consent
                                            of that third party to you providing us with their Personal Data for the respective purposes.</li>
                                        <li>You should ensure that all Personal Data submitted to us is complete, accurate, true and correct. Failure on your
                                            part to do so may result in our inability to fulfil your requests and/or applications.</li>
                                    </ol>
                                </li>
                                <li>
                                    <h4>What information do we collect?</h4>
                                    <ol type="1">
                                        <li>We will take reasonable steps to ensure that the collection of such other types of information will be only where
                                            you have voluntarily provided this to us, and where such collection is reasonable and not excessive for the purposes
                                            for such collection.</li>
                                        <li>We may, for example, collect and keep a record of your name, mailing address, email address, telephone number,
                                            gender and preferences, credit card details (and other related payment information), and other information which may be
                                            associated with your Personal Data. Some further details for specific types of personal data collected are identified
                                            in our sections on specific purposes for collection, use or disclosure of Personal Data as set out in section 4 below.</li>
                                            <h5>Minors</h5><br>
                                            <br>
                                        </li>
                                        <li>We do not knowingly collect, use or disclose personally-identifiable information from persons who are under 14
                                            years of age. No Personal Data should be submitted to us, or posted / circulated on / through our websites or other
                                            forums managed by us. If a minor under the age of 14 has provided us with Personal Data without parental or guardian
                                            consent, the parent or guardian may request a description of the Personal Data that has been collected from or about
                                            that child and either limit or restrict any further maintenance or use of such information from that child and/or
                                            direct us to remove or unsubscribe them.</li>
                                        <li>If you are under 18 years of age, you may only use our website and services with the permission of your parent and
                                            guardian. We further encourage all parents and legal guardians to participate in or supervise their child or children's
                                            use of the Internet and involvement in the website, and in their interactions with us.</li>
                                            <h5>IP Addresses</h5><br>
                                            <br>
                                        </li>
                                        <li>An IP address is a number that is automatically assigned to your computer when you signed up with an Internet
                                            Service Provider.</li>
                                        <li>When you visit our website, your IP address is automatically logged in our server. We use your IP address to help
                                            diagnose problems with our server, and to administer our website. From your IP address, we may identify the general
                                            geographic area from which you are accessing our website however, we will not be able to pinpoint the exact geographic
                                            location from which you are accessing our website. Generally we do not link your IP address to anything that can enable
                                            us to identify you unless it is required by applicable laws and regulations.</li>
                                            <h5>Cookies</h5><br>
                                            <br>
                                        </li>
                                        <li>A cookie is an element of data that a website can send to your browser, which may then store it on your system. We
                                            use cookies in some of our pages to store visitors' preferences and record session information. The information that we
                                            collect is then used to ensure a more personalised service level for our users. You can adjust settings on your browser
                                            so that you will be notified when you receive a cookie. Should you wish to disable the cookies associated with these
                                            technologies, you may do so by changing the setting on your browser. Please refer to your browser documentation to
                                            check if cookies have been enabled on your computer or to request not to receive cookies.</li>
                                            <h5>Telephone numbers</h5><br>
                                            <br>
                                        </li>
                                        <li>If you have provided your telephone number(s) and have indicated that you consent to receiving marketing or
                                            promotional information via your telephone number(s), then from time to time, we may contact you using such telephone
                                            numbers (including voice calls, text, fax or other means) with information about our products and services (including
                                            discounts and special offers).</li>
                                    </ol>
                                </li>
                                <li>
                                    <h4>Purposes for the Collection, Use and Disclosure of Your Personal Data</h4>
                                    <ol type="1">
                                        <li>
                                            <b>Generally</b>, SGPPL collects, uses and discloses your Personal Data for the following purposes:
                                            <ol class="alpha">
                                                <li>responding to your queries and requests;</li>
                                                <li>processing your instructions including processing your purchases or signups for services;</li>
                                                <li>managing the administrative and business operations of SGPPL and complying with internal policies
                                                    and procedures;</li>
                                                <li>verification of identity;</li>
                                                <li>communicating with you;</li>
                                                <li>matching any Personal Data held which relates to you for any of the purposes listed herein;</li>
                                                <li>resolving complaints and handling requests and enquiries;</li>
                                                <li>maintaining the security of SGPPL premises (including but not limited to CCTV surveillance);</li>
                                                <li>meeting or complying with any applicable rules, laws, regulations, codes of practice or guidelines
                                                    issued by any legal or regulatory bodies which are binding on SGPPL (including but not limited to
                                                    disclosures to regulatory bodies, conducting audit checks, surveillance and investigation) and to
                                                    assist in law enforcement and investigations by the relevant authorities;</li>
                                                <li>detecting, preventing, investigating, or otherwise addressing fraud, security or technical issues
                                                    associated with the services;</li>
                                                <li>managing our lost-and-found services;</li>
                                                <li>record keeping purposes where there are legal or business reasons for retaining such records;</li>
                                                <li>legal purposes (including but not limited to drafting and reviewing documents, obtaining legal
                                                    advice and facilitating dispute resolution); and</li>
                                                <li>purposes which are reasonably related to the aforesaid.</li>
                                            </ol>
                                        </li>
                                        <li>
                                            <strong>In addition,</strong> SGPPL collects, uses and discloses your Personal Data for the following purposes
                                            depending on the nature of our relationship with you:
                                            <ol class="alpha">
                                                <li>If you are a journalist / media representative or other person seeking accreditation SGPPL
                                                    collects, uses and discloses your Personal Data such as your name, job title, contact number, email
                                                    address, passport photo, your vehicle numbers, your employing editor's name and contact particulars (or
                                                    that of a relevant person in charge - "PIC"), for the following purposes:
                                                    <ol class="roman">
                                                        <li>to apply for passes to grant you access to media centres during race weekend /
                                                            media events and to take your photograph for the production of the access pass;</li>
                                                        <li>to disclose to and secure accreditation with Federation Internationale de I'
                                                            Automobile ("FIA");</li>
                                                        <li>to arrange and conduct accreditation briefings;</li>
                                                        <li>to upload and enable the use of the accreditation portal or other tools by a PIC,
                                                            as well as ancillary processes such as the creation and administration of login /
                                                            accounts for such portal / tools;</li>
                                                        <li>to ensure and facilitate secure access to Circuit Park (eg. during Event week), and
                                                            to meet / support security requirements;</li>
                                                        <li>to make disclosures to the law enforcement and security agencies for screening to
                                                            grant access to high-security areas in Circuit Park; and</li>
                                                        <li>purposes which are reasonably related to the aforesaid.</li>
                                                    </ol>
                                                </li>
                                                <li>If you are a member of the public who wishes to participate in our community initiatives (e.g. by
                                                    signing up through our website for such purposes), SGPPL collects, uses and discloses your Personal
                                                    Data such as your name, NRIC number, contact number (and your next of kin etc) for the following
                                                    purposes:
                                                    <ol class="roman">
                                                        <li>ensuring we can contact next of kin in the case of an emergency / accidents and for
                                                            safeguarding your well being and safety;</li>
                                                        <li>balloting for participation in the initiatives and campaigns and contacting
                                                            successful balloters;</li>
                                                        <li>providing vendors with the Personal Data so as to issue e-tickets to successful
                                                            balloters, for which fields such as NRIC number or similar fields are used to ensure
                                                            that e-tickets (which are non-transferable) are properly used; and</li>
                                                        <li>purposes which are reasonably related to the aforesaid.</li>
                                                    </ol>
                                                </li>
                                                <li>If you are participating in a Community Engagement Programme ("CEP") Survey, SGPPL collects, uses
                                                    and discloses your Personal Data such as your name, contact number / email address for the following
                                                    purposes:
                                                    <ol class="roman">
                                                        <li>generating a report for survey findings for, and meeting requirements by, relevant
                                                            government regulators, ministries, statutory boards, authorities or related
                                                            associations, in connection with gauging interest level and reception for CEP
                                                            initiatives;</li>
                                                        <li>(as part of voluntary opt-in via participation in the survey) inclusion of Personal
                                                            Data for electronic direct mailers ("EDMs"); and</li>
                                                        <li>purposes which are reasonably related to the aforesaid.</li>
                                                    </ol>
                                                </li>
                                                <li>If you are an entertainer, artiste or any other performer providing music and entertainment
                                                    services for our off-track events, SGPPL collects, uses and discloses your Personal Data such as your
                                                    name, NRIC number, passport details and contact number for the following purposes:
                                                    <ol class="roman">
                                                        <li>providing remuneration to you</li>
                                                        <li>providing logistical and administrative support (including but not limited to
                                                            booking hotels, providing transportation and airport concierge services and privileges,
                                                            managing accreditations to provide you with access to our premises, administering work
                                                            pass exempt activities and applying for public performance rights and other licenses;
                                                            and</li>
                                                        <li>purposes which are reasonably related to the aforesaid.</li>
                                                    </ol>
                                                </li>
                                                <li>If you are a member of the public who is a customer of SGPPL, SGPPL collects, uses and discloses
                                                    your Personal Data such as your name, contact number, email address and credit card details (via, e.g.
                                                    the booking forms at point of purchase of tickets) for the following purposes:
                                                    <ol class="roman">
                                                        <li>processing purchase, sale, and collection of tickets or merchandise;</li>
                                                        <li>establishing a record of purchases in databases such as Salesforce for the purposes
                                                            of supporting customer service requests, facilitating the provision of services
                                                            requested and maintaining our records and database so as to optimise work
                                                            productivity;</li>
                                                        <li>issuing service recovery tickets in the event that your tickets or merchandise are defective;</li>
                                                        <li>facilitating the sending of newsletters / updates; and</li>
                                                        <li>purposes which are reasonably related to the aforesaid.</li>
                                                    </ol>
                                                </li>
                                                <li>If you are a representative / employee of a corporate customer, SGPPL collects, uses and discloses
                                                    your Personal Data such as your name, contact number, email address, address of you or your PIC (via,
                                                    e.g. the booking forms at point of purchase of tickets) for the following purposes:
                                                    <ol class="roman">
                                                        <li>processing purchase, sale, and collection of tickets;</li>
                                                        <li>issuing invoices to the corporate customer;</li>
                                                        <li>establishing a record of purchases in databases such as Salesforce for the purposes
                                                            of supporting customer service requests, facilitating the provision of services
                                                            requested and maintaining our records and database so as to optimise work
                                                            productivity;</li>
                                                        <li>facilitating corporate suite customisation (including disclosures to, e.g. our
                                                            vendors and service providers);</li>
                                                        <li>facilitating the sending of newsletters / updates; and</li>
                                                        <li>purposes which are reasonably related to the aforesaid.</li>
                                                    </ol>
                                                </li>
                                                <li>If you are a contractor or service provider supplying products and services to / in connection with
                                                    our F&amp;B operations or providing contract services for hospitality services (e.g. suite ambassadors,
                                                    suite managers, guest support officers, guest support managers, jetty crew etc), SGPPL collects, uses
                                                    and discloses Personal Data such as names, NRIC numbers, passport numbers:
                                                    <ol class="roman">
                                                        <li>of food handlers (and their certification), to meet and comply with regulatory
                                                            certifications and other food and safety requirements;</li>
                                                        <li>mobile numbers, photographs, vehicle numbers of your staff for creating staff
                                                            access passes or establishing security, including security clearance, authentication of
                                                            credibility of staff, handling emergencies and police screening (including security
                                                            auxiliary services);</li>
                                                        <li>mobile numbers and signatures of staff handling logistics (including deliveries) to
                                                            confirm / facilitate deliveries, attend to accounting and billing requirements;</li>
                                                        <li>CVs, photographs and bank account numbers for persons providing hospitality
                                                            services (suite ambassadors, suite managers, guest support officers, guest support
                                                            managers, jetty crew etc) (and particulars of PICs) to administer contracts for / of
                                                            services, handle payroll processes, facilitate registration of staff and manage
                                                            accreditation for access to circuit park such as during race event days; and</li>
                                                        <li>for purposes which are reasonably related to the aforesaid.</li>
                                                    </ol>
                                                </li>
                                                <li>If you are a volunteer or a temporary hire who is providing services for the Singapore F1 race,
                                                    SGPPL collects, uses and discloses your Personal Data for the following purposes:
                                                    <ol class="roman">
                                                        <li>to process your application and provide you with relevant training;</li>
                                                        <li>to manage the relationship between you and SGPPL including applying for any
                                                            licences which may be necessary for you to provide your services, conducting background
                                                            checks and due diligence, processing payments to be which are to be made to you;
                                                            and</li>
                                                        <li>purposes which are reasonably related to the aforesaid.</li>
                                                    </ol>
                                                </li>
                                                <li>If you submit an application to us as a candidate for an employment or representative position,
                                                    SGPPL collects, uses and discloses your Personal Data such as your NRIC number, contact details,
                                                    curriculum vitae details (e.g. education and employment history), family background, banking
                                                    information, for the following purposes:
                                                    <ol class="roman">
                                                        <li>conducting interviews;</li>
                                                        <li>providing you with technical support to assist you in completing your
                                                            application;</li>
                                                        <li>processing your application (including pre-recruitment checks involving your
                                                            qualifications);</li>
                                                        <li>providing or obtaining employee references and for background screening;</li>
                                                        <li>processing employment pass applications, visa applications and offer of
                                                            employment;</li>
                                                        <li>facilitating payroll processes;</li>
                                                        <li>evaluating and assessing your suitability for the position applied for; and</li>
                                                        <li>purposes which are reasonably related to the aforesaid.</li>
                                                    </ol>
                                                </li>
                                                <li>If you are a dependent of an existing employee of SGPPL, SGPPL collects, uses and discloses your
                                                    Personal Data for the following purposes:
                                                    <ol class="roman">
                                                        <li>applying for dependent passes;</li>
                                                        <li>applying for long term social visit passes; and</li>
                                                        <li>purposes which are reasonably related to the aforesaid.</li>
                                                    </ol>
                                                </li>
                                                <li>If you are a member of public who signs up for newsletters with our participating partners and
                                                    other affiliates through our services, SGPPL may collect personal data such as your name, email
                                                    address, country of residence, preferences (e.g. as to events / concerts) for the purposes of
                                                    forwarding concert / event related content, news, contests or promotions (which may be handled through
                                                    a digital agency) - in each case, the terms and conditions (or any privacy policy) of our participating
                                                    partners and other affiliates would be handled by such parties, and our role is to act as their data
                                                    intermediary;</li>
                                                <li>Further to (h), to the extent that the sign up to newsletters with our participating partners and
                                                    other affiliates are for SGPPL's purposes, or to result in your personal data being collected, used or
                                                    disclosed by SGPPL, please refer to 4.3(a) for more information on the purposes for which SGPPL handles
                                                    such personal data;</li>
                                                <li>If you are a member of the public, participating in photographs and videography (whether on site at
                                                    the circuit or at events), and the photo is taken at an event which is accessible to the public / or
                                                    subject to invitation or attendance conditions which provide that consent is given for the taking of
                                                    such photographs or videos, such photos and videos (and any other Personal Data which may be given to
                                                    us by you), would be used for development / use in marketing collaterals (including brochures,
                                                    electronic direct mailers, commercials etc).</li>
                                            </ol>
                                        </li>
                                        <li>Members of the public may also have opted in and participated or interacted with SGPPL's marketing activities and
                                            initiatives such as signing up for e-newsletter subscription, participating in marketing contests, participating in our
                                            street videos / "activations". If so, SGPPL may collect your Personal Data and for purposes as follows:
                                            <ol class="alpha">
                                                <li>(for newsletters) your name and email address so as to manage subscriptions and forward news and
                                                    updates;</li>
                                                <li>(for marketing contests) your name, email address, country of residence (for fulfilment, profiling
                                                    and to assist in verification of transactions), NRIC / passport number, mailing address, photos, other
                                                    information submitted as part of the contest terms so as to facilitate the administration of the
                                                    contest, including verifying eligibility / compliance with contest terms, determining and contacting
                                                    winners, and delivering prizes; and</li>
                                                <li>(for street videos / on the ground "activations") your name, email address, telephone number,
                                                    photos or recordings submitted as part of the activation / videos for use in promotion (including
                                                    publicity purposes), so as to market appropriate products, send you newsletters, facilitate exclusive
                                                    previews to their context and maintain contact with you.</ol></li>
                                                <li>Where you have purchased SGPPL products or tickets to SGPPL organised / related events, SGPPL may collect your
                                                    Personal Data such as your bank account details, NRIC / passport number, phone numbers, email
                                                    addresses, credit card details, delivery address, nationality, country of residence, personal profiles
                                                    such as gender and year of birth for purposes of the purchase, sale, invoicing, delivery, of tickets.
                                                    In respect of some of the information requested such as nationality / country of residence, the
                                                    purposes include to assist in fraud detection, and meeting legal and reporting requirements to relevant
                                                    Singapore authorities.</li>
                                                <li>In addition, where permitted under the Act, SGPPL may also collect, use and disclose your Personal
                                                    Data as follows:
                                                    <ol class="alpha">
                                                        <li>conducting analytics of our products and services;</li>
                                                        <li>organising promotional and corporate events;</li>
                                                        <li>(only when you have subscribed to them) sending you newsletters /
                                                            e-newsletters;</li>
                                                        <li>(only when you have opted in to receive such updates) sending you updates about
                                                            products, special offers, rewards, upcoming events, promotions, rewards, including
                                                            those which we have identified may be of interest to you (including via telemarketing
                                                            to such numbers as you may have provided to us, subject to your clear consent);</li>
                                                        <li>leads generation and management;</li>
                                                        <li>(in aggregate and therefore anonymously) for market research purposes, including
                                                            to:
                                                            <ol class="roman">
                                                                <li>track activity on our websites, to publish trends and/or to improve
                                                                    usefulness and content;</li>
                                                                <li>understand and determine customer location, preferences and
                                                                    demographics;</li>
                                                                <li>review, develop and improve our products, services and also develop
                                                                    special offers and marketing programmes;</li>
                                                                <li>conduct internal analysis of the event demographics to tailor our
                                                                    marketing efforts in the different territories the following year;
                                                                    and</li>
                                                            </ol>
                                                        </li>
                                                        <li>for any other purpose that we may notify to you and have your consent.</li>
                                                    </ol>
                                                </li>
                                                <li>In relation to particular products or services or in your interactions with us, we may also have
                                                    specifically notified you of other purposes for which we collect, use or disclose your Personal Data.
                                                    If so, we will collect, use and disclose your Personal Data for these additional purposes as well,
                                                    unless we have specifically notified you otherwise.</li>
                                            </ol>
                                        </li>
                                        <li>
                                            <h4>Disclosure of Personal Data</h4>
                                            <ol type="1">
                                                <li>We have identified recipients to whom we disclose Personal Data in our sections on specific
                                                    purposes for collection, use or disclosure of Personal Data. Generally, though, your Personal Data held
                                                    by us shall be kept confidential. However, in order to provide you with effective and continuous
                                                    products and services, and for the purposes listed above (where applicable), your Personal Data may be
                                                    disclosed to the following:
                                                    <ol class="alpha">
                                                        <li>entities within SGPPL and our related corporations;</li>
                                                        <li>agents, contractors or third party service providers who provide operational
                                                            services to SGPPL, such as courier services, telecommunications, information
                                                            technology, payment, payroll, processing, training, market research, storage, archival
                                                            or other services to SGPPL;</li>
                                                        <li>any business partner, investor, assignee or transferee (actual or prospective) to
                                                            facilitate business asset transactions (which may extend to any merger, acquisition or
                                                            asset sale) involving SGPPL;</li>
                                                        <li>external banks, credit card companies and their respective service providers;</li>
                                                        <li>our professional advisers such as financial advisors, auditors and lawyers;</li>
                                                        <li>relevant government regulators, statutory boards or authorities or law enforcement
                                                            agencies to comply with any laws, rules, guidelines and regulations or schemes imposed
                                                            by any governmental authority;</li>
                                                        <li>counterparties, billing organisations and their respective banks in relation to
                                                            fund transfers and payments; and</li>
                                                        <li>any other party to whom you authorise us to disclose your Personal Data.</li>
                                                    </ol>
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <h4>Contacting Us – Withdrawal of Consent, Access to and Correction of your Personal Data</h4>
                                            <ol>
                                                <li>If you:
                                                    <ol class="alpha">
                                                        <li>have any questions or feedback relating to your Personal Data or our DPP;</li>
                                                        <li>would like to withdraw your consent to any use of your Personal Data as set out in
                                                            this DPP; or</li>
                                                        <li>would like to obtain access and make corrections to your Personal Data records,
                                                            please contact SGPPL as follows:
                                                            <blockquote>
                                                                Email: <a href="mailto:dpo@singaporegp.sg">dpo@singaporegp.sg</a><br>
                                                                Call: +65 6731 4982<br>
                                                                Write in: Singapore GP Pte Ltd<br>
                                                                50 Cuscaden Road<br>
                                                                #06-02 HPL House<br>
                                                                Singapore 249724
                                                            </blockquote>
                                                        </li>
                                                    </ol>
                                                </li>
                                                <li>If you withdraw your consent to any or all use of your Personal Data, depending on the nature of
                                                    your request, SGPPL may not be in a position to continue to provide its products or services to you,
                                                    administer any contractual relationship in place, may be considered a termination by you of any
                                                    contractual relationship which you may have with SGPPL, and your being in breach of your contractual
                                                    obligations or undertakings, and SGPPL's legal rights and remedies in such event are expressly
                                                    reserved.
                                                </li>
                                                    <div align="center">
                                                        ------------------------------------------- End of DPP
                                                        --------------------------------------------------
                                                    </div>
                                                </li>
                                            </ol>

                                </li>
                            </ol>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>{% endblock %}