{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Event Guide' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
    {% block head %}
        {{ parent() }}
        <script type="text/javascript" src="/javascripts/genericbundle.js"></script>

        <link rel="stylesheet" href="/stylesheets/ontrack-racecalendar.min.css"/>
        <style>
            .race-calendar-headers h5:nth-child(1) {
                width: 100% !important;
            }
            .goldcolor{
                color:#bb9d5f !important;
            }

            .race-calendar-list td {
                padding: 10px 14px;
            }

        </style>
    {% endblock %}

{# page content #}
{% block content %}

        <section class="drivers-teams-panel race-calendar">
            {% embed "partials.masthead" %}{% endembed %}

            <div class="chunk">
                <div class="row">
                    <div class="desc-bar col">
                        <div class="desc">
                            <h1>2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX RACE SCHEDULE</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>


            <section class="race-calendar-details">
                <div class="chunk row">
                    <div class="race-calendar-headers col">
                        <h5>FRI 16 SEPTEMBER 2016</h5>
                    </div>
                    <div class="race-calendar-list">
                        <table>
                            <tr>
                                <td width="33%">14:40 - 15:10 </td>
                                <td width="33%" class="goldcolor">FERRARI CHALLENGE</td>
                                <td width="33%">PRACTICE SESSION</td>
                            </tr>
                            <tr>
                                <td width="33%">15:35 - 16:15 </td>
                                <td width="33%" class="goldcolor">TCR INTERNATIONAL SERIES </td>
                                <td width="33%">PRACTICE SESSION</td>
                            </tr>
                            <tr>
                                <td width="33%">16:40 - 17:10 </td>
                                <td width="33%" class="goldcolor">PORSCHE CARRERA CUP ASIA</td>
                                <td width="33%">PRACTICE SESSION</td>
                            </tr>
                            <tr>
                                <td width="33%">18:00 - 19:30 </td>
                                <td width="33%" class="goldcolor">FORMULA ONE</td>
                                <td width="33%">PRACTICE SESSION 1</td>
                            </tr>
                            <tr>
                                <td width="33%">19:55 - 20:25 </td>
                                <td width="33%" class="goldcolor">FERRARI CHALLENGE </td>
                                <td width="33%">QUALIFYING SESSION</td>
                            </tr>
                            <tr>
                                <td width="33%">21:30 - 23:00 </td>
                                <td width="33%" class="goldcolor">FORMULA ONE </td>
                                <td width="33%">PRACTICE SESSION 2</td>
                            </tr>

                        </table>

                    </div>

                </div>    <div class="chunk row">
                    <div class="race-calendar-headers col">
                        <h5>SAT 17 SEPTEMBER 2016</h5>
                    </div>
                    <div class="race-calendar-list">
                        <table>
                            <tr>
                                <td width="33%">14:40 - 15:05 </td>
                                <td width="33%" class="goldcolor">TCR INTERNATIONAL SERIES </td>
                                <td width="33%">QUALIFYING SESSION</td></tr>
                            <tr>
                            <tr>
                                <td width="33%">15:45 - 16:15 </td>
                                <td width="33%" class="goldcolor">PORSCHE CARRERA CUP ASIA </td>
                                <td width="33%">QUALIFYING SESSION</td></tr>
                            <tr>
                                <td width="33%">16:40 - 17:10 </td>
                                <td width="33%" class="goldcolor">FERRARI CHALLENGE</td>
                                <td width="33%">FIRST RACE (10 Laps or 25 Mins)</td></tr>
                            <tr>
                                <td width="33%">18:00 - 19:00 </td>
                                <td width="33%" class="goldcolor">FORMULA ONE </td>
                                <td width="33%">PRACTICE SESSION 3</td></tr>
                            <tr>
                                <td width="33%">19:25 – 19:55 </td>
                                <td width="33%" class="goldcolor">TCR INTERNATIONAL SERIES </td>
                                <td width="33%">FIRST RACE (10 Laps or 25 Mins)</td></tr>
                            <tr>
                                <td width="33%">21:00 – 22:00 </td>
                                <td width="33%" class="goldcolor">FORMULA ONE </td>
                                <td width="33%">QUALIFYING SESSION</td>
                            </tr>
                        </table>

                    </div>

                </div>    <div class="chunk row">
                    <div class="race-calendar-headers col">
                        <h5>SUN 18 SEPTEMBER 2016</h5>
                    </div>
                    <div class="race-calendar-list">
                        <table>
                            <tr>
                                <td width="33%">15:00 – 15:30 </td>
                                <td width="33%" class="goldcolor">TCR INTERNATIONAL SERIES  </td>
                                <td width="33%">SECOND RACE (10 Laps or 25 Mins)</td>
                            </tr>
                            <tr>
                                <td width="33%">16:00 – 16:30 </td>
                                <td width="33%" class="goldcolor">FERRARI CHALLENGE </td>
                                <td width="33%">SECOND RACE (10 Laps or 25 Mins)</td>
                            </tr>
                            <tr>
                                <td width="33%">17:00 – 17:35 </td>
                                <td width="33%" class="goldcolor">PORSCHE CARRERA CUP ASIA  </td>
                                <td width="33%">RACE (12 Laps or 30 Mins)</td>
                            </tr>

                            <tr>
                                <td width="33%">18:30      </td>
                                <td width="33%" class="goldcolor">FORMULA ONE </td>
                                <td width="33%">DRIVERS’ TRACK PARADE</td>
                            </tr>
                            <tr>
                                <td width="33%">20:00 – 22:00</td>
                                <td width="33%" class="goldcolor">FORMULA ONE</td>
                                <td width="33%">2016 FORMULA ONE SINGAPORE AIRLINES SINGAPORE GRAND PRIX (61 Laps or 120 Minutes)</td>
                            </tr>
                        </table>

                    </div>

                </div>
            </section>

            <div class="chunk row">
                <p style="font-size:90%">*All timings are provisional and subject to change.</p>
            </div>
        </section>
{% endblock %}