{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2015 Formula 1 Night Race - Tenders' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2015 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/misc-privacypolicy.min.css"/>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <section class="privacy-policy">
        <div class="chunk row">
            <div class="legalese col">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <h1>Tenders</h1>

                            <p>There are currently no tenders.</p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}