{% extends "layouts.master_app" %}

{%  set title = 'Terms and Conditions' %}

{% set description = 'Terms and Conditions' %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <link rel="stylesheet" href="/stylesheets/win-contest.min.css"/>
    <style>
        .content {
            padding:0px;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}
    <section class="registration" id="contest">
        <div class="chunk row" style="margin-top: 0px">
            <div class="form" style="width: 100%;">
                <div class="row">
                    <h4>Terms and Conditions</h4>
                </div>
                <br>
                <div class="form-grp checkbox-horizontal" >
                    In submitting an entry to this competition (the "Contest") organised by Singapore GP Pte Ltd (the "Organiser"), you (the "Entrant") will be deemed to have accepted these terms and conditions (these "Conditions").
                    <br><br>
                    This competition is not open to employees or contractors of the Organiser, any person directly involved with the Organiser, or their direct family members.
                    <br><br>
                    The Organiser accepts no responsibility for late, lost, garbled or misdirected entries however caused.
                    <br><br>
                    The Organiser reserves the right to disqualify any individual who tampers with the submission process and the operation of Singapore GP mobile application.
                    <br><br>
                    Only the winners will be contacted and notified of the prize redemption personally.
                    Prizes of the monthly Contest include official Singapore GP merchandise items and passes to money-can’t-buy experiences of the 2016 FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND PRIX such as Drivers’ Autograph Session and Thursday Pit Lane Experience.
                    <br><br>
                    These money-can’t-buy experiences will be held in Singapore on Thursday, 15 September 2016. Winners not residing in Singapore and not attending the 2016 Singapore Grand Prix will need to make their own travel arrangements.
                    <br><br>
                    Prizes are not transferable, exchangeable and cannot be sold to a third party or redeemed for cash or other benefit in kind.
                    <br><br>
                    In the event of a dispute, the Organiser’s decision is final and no correspondence will be entered into.
                    By participating in this Contest, participants agree that the Organiser shall not be liable for injury, loss, or damage of any kind resulting from taking part in any of the experiences offered by the prizes.
                    <br><br>
                    Not with standing anything in these Conditions, the Organiser reserves the right at any time in its absolute discretion to:
                    <br><span style="padding-left: 10px"></span>(a) cancel or modify the Contest;
                    <br><span style="padding-left: 10px"></span>(b) determine and/or amendments; and/or amend, by addition to, deletion from or variation of, these Conditions without prior notification and all Entrants and winners shall be bound by such determination and/or amendments; and/or
                    <br><span style="padding-left: 10px"></span>(c) substitute, withdraw or cancel any prize without prior notice and without having to disclose any reason therefore and without any payment or compensation whatsoever.
                </div>
            </div>
        </div>
    </section>
{% endblock %}