{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2015 Formula 1 Night Race - Activity - Basils' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide-activities.min.css"/>

    <script>
        $(document).ready(function(){
            $('.fancyboxzones').fancybox();
        })
    </script>
    <style>
    .colormewhite{
    background:white !important;
    }

    .activitytitle{
    width:250px;
    font-size:35px;
    line-height:35px;
    font-weight:250;
    padding:10px;
    }
    h2{

    }

    .logobox{    
    display:block;
    position:relative;
    width:320px;
    height:160px;
    padding-bottom: 0px;
    z-index:120;
    background:#f9f9f9;
    }
    .holdingbox{
        width: 320px;
        height:400px;
        padding-left:0px;
        padding-bottom:0px;
    }
    .tempboxx{
        position:relative;
        width:320px;
        display:block;
        height: 1px;
    }    
    .tempbox{
        position:relative;
        width:320px;
        display:block;
        height: 100px;
    }
    .tempboxxx{
        width:320px;
        height: 120px;
    }
    #over > img {
    display: block;
    margin-top:40px;
    margin-left: auto;
    margin-right: auto;
    }
    .textboxing{
        padding-left:0px;
        padding-right: 0px;
        width:65%;
    }

    .floatleft{
    float:left;
    }

    .padmeup{
    padding-top:30px;

    }

    .gallerybox{
    list-style: none;
    padding:0;
    margin:0;
    }
    .gallerybox > li{
    float:left;
    display:block;}

    .gallerybox > #move{
        padding-right:4px;
    }
    .gallerybox > li > a > img{
        width:158px;
    }
    .gallery{
        width: 320px;
        position: relative;
        top:0px;
        height: 240px;
    }

    .padright{
    padding-right:4px;

    }
    .mainimg > img{
        width: 600px;
        margin-left: auto;
        margin-right: auto;

    }
    .menulist{
        font-size:13px;
    }
    .eaterylogo{
        width:140px;
        margin-right:auto;
        margin-left:0;
        float:right;
        padding-right:20px;    
    }
    h4{
        font-weight: bolder !important;
        font-size:14px !important;
    }
    h7{
        font-weight:bolder !important;
    }

    @media only screen and (max-width:1220px){
        .textboxing{
        width:90%;
        padding-left:10px;
        padding-right:0px;
    }
    .fixbox{
        text-align: center;

}

    .tempboxxx{
        position:relative;
        width:320px;
        display:block;
        margin-right: auto;
        margin-left:auto;
        height: 120px    }
    .holdingbox{

    padding-left:6px;
    padding-bottom: 5px;
    }    
    .mainimg > img{
        width: 100%;
        margin-left: auto;
        margin-right:auto;

    }
}
    @media only screen and (max-width:768px){

    .logobox{    
    display:block;
    position:relative;
    width:640px;
    height:160px;
    background:#f9f9f9;
    }

    .holdingbox{
        height:282px;
    }
        .gallery{
        width: 700px;
        height: 140px;
    }

        .textboxing{
        width:90%;
        padding-left:10px;
        padding-right:0px;
    }
    .tempboxxx{
        position:relative;
        width:320px;
        display:block;
        margin-right: auto;
        margin-left:auto;
        height: 120px   
     }
    .holdingbox{

    padding-left:6px;
    padding-bottom: 5px;
    }    

    .mainimg > img{
        width: 100%;
        margin-left: -6px;

    }
}
@media only screen and (max-width:320px){
    .holdingbox{
        height:400px;
    }
        .gallery{
        width: 320px;
        height: 240px;
    }
        .mainimg > img{
        width: 100%;
        margin-left: 0px;
        margin-top:4px;

    }
    .tempboxxx{
        width:200px;
    }
    .logobox{    
    width:320px;
    }
}

    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Paddock Club Ticketholders</h1>
                        <hr/>
                        <p>We are thrilled to have you join us at the 2016 FORMULA 1<br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>look forward to making your experience a truly memorable one</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="headliner-details colormewhite">
            <div class="chunk row">
                <p class="breadcrumbs"> 
                    <a href="{{ route('raceguide.collection.paddockclub') }}">Paddock Club </a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
                    <a href="{{ route('raceguide.collection.paddockLanding.activities') }}">Highlights</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
                    <a href="{{ route('raceguide.collection.paddockLanding.activities.fnb') }}">Food & Beverages</a> &nbsp;&nbsp;&gt;&nbsp;&nbsp;
                    BASIL'S
                </p>
            </div>

        <div class="padmeup chunk row fixbox ">

            <div class="col floatleft holdingbox">
                <!--<div class="floatleft logobox" id="over">
                <img src="http://web2.singaporegp.sg/Uploaded/activities_images/logos/Jean-Georges.png" width="220px" />
                </div>-->
                <div class="floatleft gallery ">
                <ul class="gallerybox">
                    <li id="move">
                        <a rel="gallery" class="fancybox" href="http://web2.singaporegp.sg/Uploaded/paddock_club/food/BASILS/BASILS_2.jpg">
                        <img src="http://web2.singaporegp.sg/Uploaded/paddock_club/food/BASILS/BASILS_2.jpg"/>
                    </a></li>
                    <li>
                        <a rel="gallery" class="fancybox" href="http://web2.singaporegp.sg/Uploaded/paddock_club/food/BASILS/BASILS_3.jpg">
                        <img src="http://web2.singaporegp.sg/Uploaded/paddock_club/food/BASILS/BASILS_3.jpg"/>
                    </a></li>
                </ul>
                </div>
            </div>


            <div class="col floatleft mainimg">
                <img src="http://web2.singaporegp.sg/Uploaded/paddock_club/food/BASILS/BASILS_1.jpg"/>
            </div>





        </div>
        <div class="chunk row ">

            <div class="col tempboxx floatleft">

            </div>


            <div class="col floatleft textboxing">
            <h7>BASIL'S</h7>
            <br><br>
            <p>
                Nothing feels better than to unwind over some good ol’ beer
                and hearty food at Basil’s, modelled after a traditional British pub. Munch on some Spinach & Cheese Puff, Toad in the Hole, Beef and Horseradish on Yorkshire Pudding or Mini Fish and Chips Cornetto as you bask in the ambience of the Paddock Club Lifestyle Area. Quench your thirst with specially crafted cocktails and beers at the alfresco patio located right next to the track to catch the thrilling race up-close and personal.
            </p>
            </div>
        </div>
        <!--<div class="chunk row ">

            <div class="col tempboxxx">
            <img class="eaterylogo" src="http://web2.singaporegp.sg/Uploaded/activities_images/logos/Crudo&CaviarBar.png" />
            </div>


            <div class="col floatleft textboxing">
            <h7>Crudo and Caviar Bar</h7>
            <p>Featuring a selection of premium ocean delicacies in a French-style menu carefully crafted by celebrity chef Jean-Georges Vongeritchen, the Crudo and Caviar Bar will delight even the most avid gastronome. Premium Oscietra Caviar served atop delicate blinis or indulge in decadent Japanese-style crudo paired with the freshest ingredients for a light and flavourful dish. End the epicurean meal with a Jean-Georges signature exotic fruit salad paired with passion fruit.
            </p>
            <h4><bold>Menu Highlights:</bold></h4>
            <ul class="menulist">
            <li>Oscietra Caviar with Blinis and Crème Fraîche </li>
            <li>Tuna Sashimi draped over Wasabi Cream Puff </li>
            <li>Egg Toast and Caviar with Chives </li>
            <li>Exotic Fruit Salad with Passion Fruit </li>
            <li>Lychee Raspberry Bellini Cocktail</li>
            </ul>
            </div>
       </div>-->

    </section>
<script>

 $(document).ready(function() {
        $(".fancybox").fancybox();
    });   

</script>
{% endblock %}