{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Activity ' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide-activities.min.css"/>
    <link rel="stylesheet" href="/stylesheets/offtrack-headliners.min.css"/>
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico" />

    <script>

        $(document).ready(function(){
            $('.fancyboxzones').fancybox();
        })

    </script>
    <style>
        .content section.selection {
            background: url("/images/raceguide/paddocklanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
        }
        .fnbbox{
            bottom:111px !important;
        }
        .entertainmentbox{
            bottom:94px !important;
        }
        .longer{
            width:280px !important;
        }
        .floatright{
            float:right;
        }
        #entertainment .chunk {
            margin: 25px auto;
        }

    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Paddock Club Ticketholders</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2016 FORMULA 1<br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>look forward to making your experience a truly memorable one</p>
                    </div>

            </div>
           {# <div class="styled-button floatright longer">
                            <div class="pdf">
                                <a target="_blank" href="http://www.singaporegp.sg/media/paddock_club/download/2015%20Pddock%20Club.PDF">Highlights brochure</a>
                            </div>
                </div>
            <div class="styled-select floatright">
                <select id="purpose" name="purpose" value="entertainment"  >
                              <option disabled="disabled"  value="Select Category">Select Category</option>
                                 <option value="home" selected="selected" >Highlights</option>
                                <option value="fnb">Food & Beverages</option>
                                <option value="entertainment">Entertainment (Coming Soon)</option>
                                <option value="plw">Pit Lane Walk</option>
                                <option value="ak">Activity Kiosks (Coming Soon)</option>
                                <option value="spa">Spa</option>
                </select>
            </div>#}
        </div>



    </section>
    <section class="colormewhite noshadow" id="entertainment">
     <div class="chunk row">
        <p class="breadcrumbs">
            <a href="{{ route('raceguide.collection.paddockclub') }}">Paddock Club</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
            <a href="{{ route('raceguide.collection.paddockLanding.activities', { 'category': 'highlights' }) }}">Highlights</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;Entertainment
        </p>
    </div>
    <div class="chunk row padhead">
        <div class="heading ">
            <h2>Entertainment</h2>
        </div>

        <ul class="listing">
            <li>
                <p class="atitle">PADDOCK CLUB<br> LIFESTYLE STAGE<br/></p>
                <div class="listItem" style="position:relative">
                    <img src="http://www.singaporegp.sg/media/paddock_club/entertainment/paddockclub-thumb.jpg" alt=""/>
                    <a href="{{ route('raceguide.collection.paddockLanding.activities.paddock-club-lifestyle-stage', { 'app': appVersion }) }}">
                    <span class="text-content entertainmentbox" style="position: absolute;top: 0;"><span>Read more</span></span>
                    </a>
                </div>
            </li>
            <li>
                <p class="atitle">ROVING ARTISTES<br/></p>
                <div class="listItem" style="position:relative">
                    <img src="http://web2.singaporegp.sg/Uploaded/activities_images/thumbnail_02_roving_artistes.jpg" alt=""/>
                    <a href="{{ route('raceguide.collection.paddockLanding.activities.roving-artistes', { 'app': appVersion }) }}">
                    <span class="text-content entertainmentbox" style="position: absolute;top: 0;">
                        <span>Read more</span>
                    </span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    </section>


    </div>

    
<script>



$(document).ready(function(){
    $('#purpose').on('change', function() {
      if (this.value =="home")
      {
           window.location.href = "/raceguide/paddock-club-ticketholders/activities/";
      }
      else if (this.value =="fnb")
      {
        window.location.href = "/raceguide/paddock-club-ticketholders/activities/foodandbeverages";
      }
      else if (this.value =="ak")
      {
        /*window.location.href = "/raceguide/paddock-club-ticketholders/activities/activity_kiosks";*/
      }

        else if (this.value =="plw")
      {
        window.location.href = "/raceguide/paddock-club-ticketholders/activities/pit-lane-walk"
      }

        else if (this.value =="entertainment")
      {
        /* window.location.href = "/raceguide/paddock-club-ticketholders/activities/entertainment"; */
      }
      else if (this.value =="spa")
      {
        window.location.href = "/raceguide/paddock-club-ticketholders/activities/marina-bay-spa"
       }
       else
       {
        window.location.href = "/raceguide/paddock-club-ticketholders/activities/"
       }
    });

     $('#purpose').find('option:nth-child(2)').prop('selected',true).trigger('change'); //trigger a change to first option when page load

     $("ul#highlights li").click(function() {11
        var index = $(this).index();
        index = index + 2;
        $('#purpose').find('option:eq(' + index + ')').prop('selected',true).trigger('change'); //trigger a change to first option when page load
     });

     /*$('span#highlight-span').click(function() {
        $('#purpose').find('option:first-child').prop('selected',true).trigger('change'); //trigger a change to first option when page load
     });*/

});</script>
    {% if category == 'highlights' %}
    <script>
        $(document).ready(function(){
         $('#purpose').find('option:eq(1)').prop('selected',true).trigger('change'); //trigger a change to first option when page load
        });
    </script>
    {% elseif category == 'fnb' %}
      <script>
        $(document).ready(function(){
         $('#purpose').find('option:eq(2)').prop('selected',true).trigger('change');
        });
    </script>
    {% elseif category == 'entertainment' %}
      <script>
        $(document).ready(function(){
         $('#purpose').find('option:eq(3)').prop('selected',true).trigger('change');
        });
    </script>
   <!-- {% elseif category == 'plw' %}
      <script>
        $(document).ready(function(){
         $('#purpose').find('option:eq(4)').prop('selected',true).trigger('change');
        });
    </script> -->
    {% elseif category == 'ak' %}
      <script>
        $(document).ready(function(){
         $('#purpose').find('option:eq(5)').prop('selected',true).trigger('change');
        });
    </script>
    <!-- {% elseif category == 'spa' %}
      <script>
        $(document).ready(function(){
         $('#purpose').find('option:eq(6)').prop('selected',true).trigger('change');
        });
    </script> -->
    {% endif %}
{% endblock %}