
{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Activity - Paddock club lifestyle stage' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide-activities.min.css"/>

    <script>
        $(document).ready(function(){
            $('.fancyboxzones').fancybox();
        })
    </script>
    <style>

        .colormewhite{
            background:white !important;
        }

        .activitytitle{
            width:250px;
            font-size:35px;
            line-height:35px;
            font-weight:250;
            padding:10px;
        }
        h2{

        }
        h4{
            font-weight: bolder !important;
            font-size:14px !important;
        }
        h7{
            font-weight:bolder !important;
        }
        .headliner-details div:last-child{
            min-height: 200px;
        }

        .line-des{
            margin-bottom: 7px;
            padding-bottom: 7px;
            border-bottom: 1px solid #333;
        }

        .left {
            float: left;
            width: 30%;
            padding-left: 15px;
            padding-right: 15px;

        }
        .right {
            float: right;
            width: 70%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .group:after {
            content:"";
            display: table;
            clear: both;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        @media screen and (max-width: 480px) {
            .left,
            .right
            {
                float: none;
                width: auto;
                padding-top: 15px;
                padding-right: 20px;
            }
        }

        .content section.selection {
            background: url("/images/raceguide/paddocklanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Paddock Club Ticketholders</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2016 FORMULA 1<br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>look forward to making your experience a truly memorable one</p>
                    </div>

                </div>

            </div>

    </section>

    <section class="headliner-details colormewhite">
        <div class="chunk row">
            <p class="breadcrumbs">
                <a href="{{ route('raceguide.collection.paddockLanding') }}">Paddock Club </a> &gt;
                <a href="{{ route('raceguide.collection.paddockLanding.activities') }}">Activities</a> &gt;
                <a href="{{ route('raceguide.collection.paddockLanding.activities.entertainment') }}"> Entertainment</a> &gt; Paddock club lifestyle stage
            </p>
        </div>

        <div class="chunk row group">

                 <div class="left">
                <img src="http://www.singaporegp.sg/media/paddock_club/entertainment/2016-siren-with-soul-1024.jpg" />
                 </div>
                <div class="right">
                <h7>SIRENS WITH SOUL (AUS)</h7>
                <p class="line-des">
                    FRI 16 SEP<br>
                    23:00 - 23:45<br>

                </p>
                <p>Go on a musical journey with the Australian trio <b>Sirens with Soul</b>. Best known for their show stopping costumes, breath taking choreography and smooth vocals, these sassy ladies are sure to have everyone in the audience feeling the Motown sizzle. Catch Sirens with Soul at the Paddock Club Lifestyle Stage on 16 September, Village Stage (Zone 1) on 17 September and Sunset Stage (Zone 1) on 18 September.
                </p>


             </div>
        </div>
        <div class="chunk row group" >

            <div class="left">
                <img src="http://www.singaporegp.sg/media/paddock_club/entertainment/2016-zsa-amanda-1024.jpg" />
            </div>
            <div class="right">
                <h7>ZSA & AMANDA (SIN) </h7>
                <p class="line-des">
                    FRI 16 SEP<br>
                    17:15 - 18:00<br>
                    <br>
                    SAT 17 SEP<br>
                    19:00 - 19:25<br>
                </p>

                <P>With a common love for the acoustic guitar, folk tunes and the wonderful world of 90’s music, talented duo <B>Zsa & Amanda</b> will captivate audiences with their smooth tunes. Catch Zsa & Amanda at the Paddock Club Lifestyle Stage on 16 and 17 September.</p>

                <p>
                    <i>Official Facebook: <a href="http://www.facebook.com/zsazsascorpionamandatee" target="_blank">www.facebook.com/zsazsascorpionamandatee/</a></i>

                </p>
            </div>
        </div>

        <div class="chunk row group">

            <div class="left">
                <img src="http://www.singaporegp.sg/media/paddock_club/entertainment/2016-aarika-lee-1024.jpg" />
            </div>
            <div class="right">
                <h7>AARIKA LEE & THE NEXT MOVEMENT (SIN)
                </h7>
                <p class="line-des">
                    FRI 16 SEP<br>
                    19:30 – 19:55 <br>
                    <br>
                    SAT 17 SEP<br>
                    17:15 – 17:50 <br>
                </p>

                <P><B>Aarika Lee and The Next Movement’s</b> renditions of Top 40 pop, indie, soul and funk tracks, combined with the hypnotic allure of Aarika Lee’s vocals, Amos Tadate's deft guitar skills and Joseph Saleem's artistry on the drums is guaranteed to get you on your feet every time. Catch Aarika Lee and The Next Movement at the Sunset Stage (Zone 1) on 16 September and the Paddock Club Lifestyle Stage on 16 and 17 September. </p>


            </div>
        </div>

        <div class="chunk row group">

            <div class="left">
                <img src="http://www.singaporegp.sg/media/paddock_club/entertainment/2016-koiboys-1024.jpg" />
            </div>
            <div class="right">
                <h7>THE KOI BOYS (AUS)</h7>
                <p class="line-des">
                    SAT 17 SEP <br>
                    20:00 – 20:40<br>
                    <br>
                    SUN 18 SEP <br>
                    19:00 – 19:45<br>

                </p>
                <P>Gold Coast based <B>The Koi Boys</B> combines incredible vocals, smooth moves and pure charisma that is guaranteed to entertain any audience. Through comedy, harmonies, choreography and impersonations, they are a complete entertainment experience. Established since 2008, they are the longest standing male vocal trio in the region. Just recently the trio were featured on the fifth season of The Voice Australia under the mentorship of British pop singer Jessie J. Catch The Koi Boys at the Village Stage (Zone 1) on 16 September and the Paddock Club Lifestyle Stage on 17 and 18 September.</p>


                <p>
                    <i>Official Website: <a href="http://www.thekoiboys.com" target="_blank">www.thekoiboys.com</a></i>

                    <br />
                    <i>Video: <a href="http://www.youtube.com/watch?v=jGDPkMJgkaU" target="_blank">www.youtube.com/watch?v=jGDPkMJgkaU</a></i>
                </p>
            </div>
        </div>

        <div class="chunk row group">

            <div class="left">
                <img src="http://www.singaporegp.sg/media/paddock_club/entertainment/2016-charlielim-1024.jpg" />
            </div>
            <div class="right">
                <h7>CHARLIE LIM & THE MOTHERSHIP (SIN)</h7>
                <p class="line-des">
                    SUN 18 SEP<br>
                    22:00 - 22:40<br>

                </p>

                <P>Known for his melancholic tunes and his soulful voice, singer-songwriter and producer <B>Charlie Lim</b> is set to take the stage with his dynamic show-stopping band <B>The Mothership</B> at the Marina Bay Street Circuit for the first time. His sophomore record Time/Space has received great reception, hitting charts on iTunes Singapore and achieved more than 1.3 million plays on Spotify. On the international platform, he has opened for popular singers Kimbra and Lenka and performed at key music festivals across Asia. Catch Charlie Lim & The Mothership at the Sunset stage (Zone 1) on 16 September and the Paddock Club Lifestyle Stage on 18 September. </p>

                <p>
                    <i>Official Website: <a href="http://www.charlielim.net" target="_blank">charlielim.net </a></i>

                    <br />
                    <i>Video: <a href="http://www.youtube.com/watch?v=w60GAHLiS6Y" target="_blank">www.youtube.com/watch?v=w60GAHLiS6Y</a></i>
                </p>

            </div>
        </div>

        <div class="chunk row group">

            <div class="left">
                <img src="http://www.singaporegp.sg/media/paddock_club/entertainment/2016-sgt-pepper-1024.jpg" st/>
            </div>
            <div class="right">
                <h7>SGT PEPPER’S LONELY BLUEGRASS BAND (USA)</h7>
                <p class="line-des">
                    FRI 16 SEP<br>
                    20:30 - 21:30<br>
                    <br>
                    SAT 17 SEP<br>
                    22:00 - 22:30<br>
                    <br>
                    SUN 18 SEP<br>
                    18:00 - 18:30<br>

                </p>

                <P>Texas four-piece, all-star group <B>Sgt Pepper’s Lonely Bluegrass Band</b> plays Beatles classics shaken up with infusions of bluegrass and jazz, topped off with a classical twist. The result is a satisfying musical cocktail featuring a new sound and an innovative take on ‘Back in the U.S.S.R’, ‘Come Together’, ‘Blackbird’. Catch Dave Walser (guitar/lead vocals), Reggie Rueffer (fiddle/violin/vocals), Gerald Jones (banjo/mandolin) and Bach Norwood (double bass/vocals). Patrons can look forward to at the Paddock Club Lifestyle Stage on 16 and 18 September as well as the Sunset Stage (Zone 1) on 17 September </p>

                <p>
                    <i>Official Website: <a href="http://bluegrassbeatles.com" target="_blank">bluegrassbeatles.com </a></i>

                    <br />
                    <i>Video: <a href="https://www.youtube.com/watch?v=5BEt2MQDKmQ" target="_blank">www.youtube.com/watch?v=5BEt2MQDKmQ</a></i>
                </p>
            </div>
        </div>
        <div class="chunk row group">

            <P>
                <h7>Artist line-up and performance times are subject to change.</h7>
            </P>

        </div>
    </section>
    <script>

        $(document).ready(function() {
            $(".fancybox").fancybox();
        });

    </script>
{% endblock %}