
{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2015 Formula 1 Night Race - Activity - Roving artistes' %}

{% set description = 'To maximize your enjoyment of the race we have enclosed some general information which we kindly request you read carefully.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular-sanitize.js"></script>
    <script type="text/javascript" src="/javascripts/offtrackheadlinersbundle.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="/stylesheets/raceguide-activities.min.css"/>

    <script>
        $(document).ready(function(){
            $('.fancyboxzones').fancybox();
        })
    </script>
    <style>

        .colormewhite{
            background:white !important;
        }

        .activitytitle{
            width:250px;
            font-size:35px;
            line-height:35px;
            font-weight:250;
            padding:10px;
        }
        h2{

        }
        h4{
            font-weight: bolder !important;
            font-size:14px !important;
        }
        h7{
            font-weight:bolder !important;
        }
        .headliner-details div:last-child{
            min-height: 200px;
        }

        .line-des{
            margin-bottom: 7px;
            padding-bottom: 7px;
            border-bottom: 1px solid #333;
        }

        .left {
            float: left;
            width: 30%;
            padding-left: 15px;
            padding-right: 15px;

        }
        .right {
            float: right;
            width: 70%;
            padding-left: 15px;
            padding-right: 15px;
        }
        .group:after {
            content:"";
            display: table;
            clear: both;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        @media screen and (max-width: 480px) {
            .left,
            .right
            {
                float: none;
                width: auto;
                padding-top: 15px;
                padding-right: 20px;
            }
        }

        .content section.selection {
            background: url("/images/raceguide/paddocklanding/masthead.png") bottom center no-repeat, url("/images/background_selection.jpg") top center no-repeat;
        }
    </style>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Paddock Club Ticketholders</h1>
                        <br/>
                        <p>We are thrilled to have you join us at the 2016 FORMULA 1<br/>SINGAPORE AIRLINES SINGAPORE GRAND PRIX and<br/>look forward to making your experience a truly memorable one</p>
                    </div>

                </div>
            </div>

    </section>

    <section class="headliner-details colormewhite">
        <div class="chunk row">
            <p class="breadcrumbs">
                <a href="{{ route('raceguide.collection.paddockclub') }}">Paddock Club </a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
                <a href="{{ route('raceguide.collection.paddockLanding.activities') }}">
                    Highlights</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
                <a href="{{ route('raceguide.collection.paddockLanding.activities.entertainment') }}" >Entertainment</a> &nbsp;&nbsp;&gt;&nbsp;&nbsp;
                Roving Artistes
            </p>
        </div>

        <div class="chunk row group">

            <div class="left">
                <img src="http://web2.singaporegp.sg/Uploaded/entertainment_highlights/2015-samba_brasil/samba_brasil-1-1024.png" />
            </div>
            <div class="right">
                <h7>SAMBA BRASIL & BLOCO SINGAPURA (BRA/SIN)</h7>
                <p class="line-des"></p>
                <P><B>Samba Brasil</B> showcases a dynamic ensemble of international dancers well known for their magnetic performance, while <B>Bloco Singapura</b> is Singapore’s most spanking social, cultural and musical collective that spreads their love of swinging samba and throbbing batucada beats to everyone who crosses their path. Their sheer number makes their roving performances a delicious assault on viewers’ senses. Samba Brasil & Bloco Singapura will be here to give you the energy, rhythms and swing of a full carnival experience.</p>


            </div>
        </div>

        <div class="chunk row group">

            <div class="left">
                <img src="http://www.singaporegp.sg/media/paddock_club/entertainment/2016-jean-christophe-1024.jpg" />
            </div>
            <div class="right">
                <h7>JEAN CHRISTOPHE (AUS)</h7>
                <p class="line-des"></p>
                <P>Described as charismatic and mysterious, <b>Jean-Christophe</b> combines the shock of close up magic with intrigue and mystery of Mentalism. He has been featured on television and radio amazing hosts and guests alike, leaving them baffled and amazed.  </p>
                <P>Jean-Christophe’s combination of skills, influence and talent makes him a highly entertaining and professional performer who has won the respect of his peers ad fellow entertainment professionals alike. His uncanny ability to make the seemingly impossible a reality culminates in an unforgettable act that everyone should experience for themselves. </p>

            </div>
        </div>
{#
        <div class="chunk row ">

            <div class="col tempboxx floatleft">
                <img src="http://web2.singaporegp.sg/Uploaded/entertainment_highlights/2015_champagne_showgirls_thumb_2.png" />
            </div>
            <div class="col floatleft textboxing">
                <h7>THE SILHOUETTE ARTIST

                </h7>
                <p class="line-des"></p>
                <p>
                    SILHOUETTE CUTTING
                </p>
            </div>
        </div>

        <div class="chunk row ">

            <div class="col tempboxx floatleft">
                <img src="http://web2.singaporegp.sg/Uploaded/entertainment_highlights/2015_ALIA_AND_JAMAL/ALIA_AND_JAMAL_2-1024.png" />
            </div>
            <div class="col floatleft textboxing">
                <h7>ALIA & JAMAL (BELLY DANCER) (USA)</h7>
                <p class="line-des"></p>
                <p>
                    The enchanting Alia and drummer Jamal are an esteemed belly dancing and percussion duo, who have been featured at events across the globe.
                </p>
                <p>
                    Jamal's intricate rhythms together with Alia's hypnotic hips transport spectators to the depths of the desert. Known for his virtuosity on the doumbek, Jamal has incorporated many innovative Jazz and Latin styles with this ancient instrument, while Alia is known for her vintage style, timeless beauty, and spellbinding performances.
                </p>
                <p>
                    Together with Jamal, Alia brings the poetry of the doumbek to motion, leaving audiences mesmerized.
                </p>
            </div>
        </div>

        <div class="chunk row ">

            <div class="col tempboxx floatleft">
                <img src="http://web2.singaporegp.sg/Uploaded/entertainment_highlights/2015-kyle_cox/kyle_cox-1-1024.png" />
            </div>
            <div class="col floatleft textboxing">
                <h7>KYLE COX (USA)</h7>
                <p class="line-des"></p>

                <p>
                    Founder of Pantheon Steel and creator of the Halo handpan, musician Kyle Cox has revolutionised the steel pan industry.
                </p>
                <p>
                    Upon completing his music scholarship at the University of Southern Mississippi, Kyle took a position at Coyle Steel Drums in Pensacola, Florida, and began a career in making steel pans. In addition to performing with legendary musician Ray Charles, steelpan drummer Robbie Greenidge and Cuban trumpet virtuoso Aurtoro Sandaval, Kyle has created instruments for musicians including American country music singer/songwriter Kenny Chesney, as well as American rock band 311.
                </p>
            </div>
        </div>

        <div class="chunk row ">

            <div class="col tempboxx floatleft">
                <img src="http://web2.singaporegp.sg/Uploaded/entertainment_highlights/2015-nicholas_tweedy/nicholas_tweedy-1-1024.png" />
            </div>
            <div class="col floatleft textboxing">
                <h7>NICHOLAS TWEEDY (MENTALIST) (USA)</h7>
                <p class="line-des"></p>
                <p>
                    With his incredible and rare talents Nicholas Tweedy has stunned audiences all around the world, from the dark old European forests of Transylvania to the bright lights of Las Vegas Boulevard.
                </p>
                <p>
                    In a world where most people have forgotten what mentalism is, Nicolas is redefining the art with every performance. As credit cards fly through the air, business cards burst into flames, solid objects twist and warp, Nick reads people’s thoughts, makes impossible yet correct predictions, reality as you know it is not just suspended, but bent completely out of shape. With style, charm and humour, Nicholas Tweedy captivates his audience, holding them completely within his spell.
                </p>
            </div>
        </div>

        <div class="chunk row ">

            <div class="col tempboxx floatleft">
                <img src="http://web2.singaporegp.sg/Uploaded/entertainment_highlights/2015_PRAKASH_PURU/PRAKASH_PURU_4-1024.png" />
            </div>
            <div class="col floatleft textboxing">
                <h7>PRAKASH PURU (USA)</h7>
                <p class="line-des"></p>
                <p>
                    Part magician and part mindreader, Prakash Puru amazes audiences at star-studded events across the world. Time Out New York calls him “One of the city’s most skilled and original tricksters” and Salon.com hails him as “The country’s leading close-up magician.” Meet him, and he’ll blow your mind.
                </p>
            </div>
        </div>

        <div class="chunk row ">

            <div class="col tempboxx floatleft">
                <img src="http://web2.singaporegp.sg/Uploaded/activities_images/roving-artistes/09_roving_dimsum.jpg" />
            </div>
            <div class="col floatleft textboxing">
                <h7>DIM SUM DOLLIES (SG)</h7>
                <p class="line-des"></p>
                <p>
                    Singapore’s favourite trio, the Dim Sum Dollies, consists of Singapore’s best-known theatre practitioners, Selena Tan, Pam Oei and Denise Tan. Having made an indelible mark on the local theatre and entertainment scene in a few short years, the Dollies are all about living life to the fullest, daring to dream and being true to oneself through each show’s original script and music.
                </p>
            </div>
        </div>#}
        <div class="chunk row ">
            <p>
                <h7>Artist line-up and performance times are subject to change.</h7>
            </p>
        </div>

    </section>
    <script>

        $(document).ready(function() {
            $(".fancybox").fancybox();
        });

    </script>
{% endblock %}