{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>
    <link rel="stylesheet" href="/stylesheets/misc-privacypolicy.min.css"/>
    <style type="text/css">
        h2{
            color:black;
        }
        p{
            text-align: left;
        }
    </style>
{% endblock %}


{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}
    </section>

    <section class="maintenance">
        <div class="chunk row">
            <div class="legalese col">
                <div class="maintenance-text">
                    <h2>ERROR 404 - The page doesn't exist!</h2>
                    <p>
                    We have been unable to find the page that you have requested. Please check that you have entered the correct URL.
                    If the error still persists, please use the <a href="{{ route('home') }}">Singapore GP Home page</a> or click on one of the suggested links below:

                    <h4><a href="{{ route('home') }}">Singapore GP Home page</a></h4>
                    <h4><a href="{{ route('tickets') }}">Buy Singapore F1 Tickets</a></h4>
                    <h4><a href="{{ route('media.pressRelease') }}">Singapore Grand Prix Press Release</a></h4>
                    <h4><a href="{{ route('newsletter') }}">Sign up for Singapore GP Newsletter</a></h4>
                    </p>
                    {#<a class="button" href="{{ route('home') }}">Go back to Home Page</a>#}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{#{% block footer %}{% endblock %}#}
{#{% block quicklinks %}{% endblock %}#}