{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - ' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}

    {% if type == 'videos' %}
        <script type="text/javascript" src="{{ asset('javascripts/libs/jwplayer/jwplayer.js') }}"></script>
        <script type="text/javascript">jwplayer.key="5Zie6NAltu0/qu+Sxc4g9i2JlnS8p/d/0xKRlg==";</script>
    {% endif %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
    {% if type == 'videos' %}
    <style>
    .content section.selection-panel {
        background: url(/images/masthead_video.png) bottom center no-repeat,url(/images/background_selection.jpg) top center no-repeat !important;
        background-color: #020f20 !important;
        font-size: .688rem;
        min-height: 386px;
    }
    </style>
    {% endif %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"/>
{% endblock %}

{# page content #}
{% block content %}

    <section class="selection-panel">
        {% embed "partials.masthead" %}{% endembed %}

        <div class="chunk">
            <div class="row">
                <div class="desc-bar col">
                    <div class="desc">
                        <h1>Gallery</h1>
                        <br/>
                        <p>
                            {% if type == 'photos' %}
                                View Singapore GP Photos.
                            {% else %}
                                Watch Formula 1 videos of your favourite Formula 1 race drivers in action at the Singapore GP.
                                <br/>View Singapore GP television commercials and ads.
                            {% endif %}
                        </p>
                    </div>
                    {#<div class="styled-button locale">#}
                        {#<a class="en {% if locale == 'en' %}active{% endif %}"#}
                           {#href="{{ route('language.select', ['en']) }}">{{ trans('navigation.en') }}</a>#}
                        {#<a class="zh {% if locale == 'cn' %}active{% endif %}"#}
                           {#href="{{ route('language.select', ['cn']) }}">{{ trans('navigation.cn') }}</a>#}
                    {#</div>#}
                </div>
            </div>
        </div>

        <div class="chunk">
            <div class="row">
                <div class="gallery-filter col" data-ng-controller="galleryFiltersController">
                    <div class="styled-button {% if type == 'videos' %}active{% endif %}">
                        <a href="{{ route('ontrack.gallery', { 'year': 2016, 'type': 'videos' }) }}">Videos</a>
                    </div>

                    <div class="styled-button {% if type == 'photos' %}active{% endif %}">
                        <a href="{{ route('ontrack.gallery', { 'year': 2016, 'type': 'photos' }) }}">Photos</a>
                    </div>

                    {% if type == 'photos' %}
                    <div class="styled-select">
                        <select name="gallery-year" data-ng-model="gallery.selectedYear" data-ng-change="filterGallery()">
                            <option value="" disabled>Select Year</option>
                            {% for year in years %}
                            <option value="{{ year }}" data-ng-selected="gallery.selectedYear == {{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="styled-select">

                        <select name="gallery-cat" data-ng-model="gallery.selectedCategory" data-ng-change="filterGallery()">
                            <option value="" data-ng-selected="gallery.selectedCategory == ''">All Categories</option>
                            {% for cat in categories %}
                            <option value="{{ cat.slug }}" data-ng-selected="gallery.selectedCategory == '{{ cat.slug }}'">{{ cat.category }}</option>
                            {% endfor %}
                            <!-- <option value="1,2,3,4" data-ng-selected="gallery.selectedCategory == '1,2,3,4'">All Categories</option>
                            <option value="3" data-ng-selected="gallery.selectedCategory == '3'">Circuit Park</option>
                            <option value="2" data-ng-selected="gallery.selectedCategory == '2'">Drivers</option>
                            <option value="4" data-ng-selected="gallery.selectedCategory == '4'">Pre-Race</option>
                            <option value="1" data-ng-selected="gallery.selectedCategory == '1'">Race</option> -->
                        </select>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

    {% if type == 'photos' %}

        {% for yearKey, years in gallery %}
            {% for dateKey, dates in years %}
                <section class="gallery-day" data-fancy-gallery>
                    <div class="chunk row">
                        <div class="heading">
                            <h2>{{ dates[0].album.Date_variable|date('l') }}</h2>

                            <p>&ndash; <br/>{{ dates[0].album.Date_variable|date('d-F-Y') }}</p>
                        </div>

                        <ul class="listing">
                            {% for item in dates %}
                                <li>
                                    <a class="fancybox" href="{{ item.image_path_large }}" rel="gallery">
                                        <img src="{{ item.image_path_thumb }}" alt=""/>
                                        <span class="text-content"><span>View</span></span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% endfor %}
        {% endfor %}

    {% elseif type == 'videos' %}

        <section class="gallery-day" data-fancy-gallery>
            <div class="chunk row">
                <div class="heading">
                    <h2>Videos</h2></p>
                </div>

                <ul class="listing">
                    {% for item in gallery %}
                        <li class="video">
                            <p><span>{{ item.title }}</span></p>
                            <a class="fancybox fancybox.iframe vid-tn" rel="gallery" href="{{ route('offtrack.video.byId', [item.id]) }}">
                                <img src="{{ item.thumbnail_link }}" alt=""/>
                                <span class="text-content"><span class="video"></span></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>

    {% endif %}

{% endblock %}