<!DOCTYPE html>
<!--[if lt IE 7]>
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }} - Singapore Grand Prix</title>
    <meta name="viewport" content="width=device-width">
    {% block meta %}
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ keywords|default('singapore f1, formula 1 singapore,  f1, formula one, singapore grand prix, singapore airlines, singapore gp,  sgp, formula one, f1 night race') }}">
        <meta property="og:image" content="http://www.singaporegp.sg/images/logo.jpg">
        <meta property="og:title" content="{{ title }} - Singapore Grand Prix">
        <meta property="og:url" content="{{ url|default(currentUrl) }}">
        <meta property="og:description" content="{{ description }}">
    {% endblock %}

    {% block head %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"><\/script>')</script>
        <script type="text/javascript" src="{{ asset('javascripts/libs/modernizr.min.js') }}"></script>
        <script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.js"></script>
        {#<script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.min.js"></script>#}
        <script>window.angular || document.write('<script src="{{ asset('bower_components/angular-latest/build/angular.min.js') }}"><\/script>')</script>

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,700italic,500italic'
              rel='stylesheet' type='text/css'>

        {# PLEASE REPLACE WITH YOUR JWPLAYER API KEY #}
        <script type="text/javascript" src="{{ asset('javascripts/libs/jwplayer/jwplayer.js') }}"></script>
        <script type="text/javascript">jwplayer.key = "5Zie6NAltu0/qu+Sxc4g9i2JlnS8p/d/0xKRlg==";</script>
        <script language=JavaScript>
            function clickonie4(){
                if (event.button==2){
                    return false;
                }
            }
            function clickon(e){
                if (document.layers||document.getElementById&&!document.all){
                    if (e.which==2||e.which==3){
                        return false;
                    }
                }
            }
            if (document.layers){
                document.captureEvents(Event.MOUSEDOWN);
                document.onmousedown=clickon;
            }
            else if (document.all&&!document.getElementById){
                document.onmousedown=clickonie4;
            }
            document.oncontextmenu=new Function("return false")

        </script>
    {% endblock %}
</head>
<body>

{% block content %}
    {% if item.video_youtube_link is empty %}
        <video id="container" controls preload="auto" width="800" height="600" autoplay>
            <!-- if Safari/Chrome-->
            <source src="{{ item.video_link }}" type="video/mp4">
            <source src="{{ item.video_ogg_link }}" type="video/ogg">
            <!-- If the browser doesn't understand the <video> element, then reference a Flash file. -->
            <object type="application/x-shockwave-flash"
                    data="{{ asset('javascripts/libs/jwplayer/jwplayer.flash.swf') }}"
                    play="true" width="800" height="600">
                <param name="allowfullscreen" value="true">
                <param name="autostart" value="true">
                <param name="autoplay" value="true">
                <param name="allowscriptaccess" value="always">
                <param name="flashvars" value="file={{ item.video_flv_link }}">
                <!--[if IE]>
                <param name="movie" value="{{ asset('javascripts/libs/jwplayer/jwplayer.flash.swf') }}">
                <param name="autoplay" value="true">
                <param name="autostart" value="true">
                <param name="allowfullscreen" value="true"><![endif]-->
            </object>
        </video>
    {% else %}
        <iframe width='800' height='600' src='http://www.youtube.com/embed/{{ item.yt_id }}' frameborder='0'
                allowfullscreen></iframe>
    {% endif %}
{% endblock %}

{% block analytics %}
    <!-- Google Analytics -->
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;

        // track if on hosting server and not in staging
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-3141840-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
    <!-- End Google Analytics -->
{% endblock %}

</body>
</html>