{% extends "layouts.master" %}

{% set title = 'Singapore F1 - 2016 Formula 1 Night Race - Maintenance' %}

{% set description = 'Enjoy the Formula 1 racing experience at the 2016 Formula 1 Singapore Airlines Singapore Grand Prix. See Formula One drivers &amp; F1 racing teams in action at the Singapore GP.' %}

{#
    additional head scripts or styles
#}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="/javascripts/genericbundle.js"></script>

    <link rel="stylesheet" href="/stylesheets/maintenance.min.css"/>
    <style type="text/css">
    .container {
        padding-top: 0;
    }
    a{
        color:#ffc414;
    }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{# page content #}
{% block content %}

    <section class="maintenance">
        <div class="chunk">
            <div class="row">
                <div class="top-bar col">
                    <div class="img-wrapper"><a href="{{ route('home') }}"><img src="http://singaporegp.sg/media/logo/2017_SGPEventLogo.png" alt=""/></a></div>
                </div>
            </div>
        </div>
        <div class="chunk">
            <div class="maintenance-text">
            <p>The website is temporarily unavailable as we are experiencing intermittent issues. We're working to resolve these as quickly as possible. In the meantime, you can still buy tickets by clicking here.</p>
            <a class="button" href="https://tickets.singaporegp.sg">Buy Tickets</a>
            <p>Please be assured that we are continually monitoring the situation and regret the inconveninece caused. Thank you for your patience, for urgent assistance please email <a href="mailto:tickets@singaporegp.sg">tickets@singaporegp.sg</a></p>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}{% endblock %}
{% block quicklinks %}{% endblock %}