{% extends "layouts.master_desktop" %}

{% block meta %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<meta name="apple-itunes-app" content="">
{% endblock %}
{% block head %}
{#<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>#}
<script type="text/javascript" src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bower_components/angular-latest/build/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bower_components/angular/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('javascripts/libs/modernizr.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bower_components/parse/parse-1.2.19.min.js') }}"></script>

{#<script src="https://www.parsecdn.com/js/parse-1.2.19.min.js"></script>#}
{#<script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.min.js"></script>#}
<link href='/stylesheets/google-font.css'
      rel='stylesheet' type='text/css'>

<script type="text/javascript">
	Parse.initialize("ZR824TlIcihwkq4hHXjZmftak8wIzqFmq4EkU2Va", "QsnntqPa1o5S0a2l4zyMvWAJw6aFAwjddMake0yk");
</script>
<style>
	section.selection {
		display: none;
	}
	.preamble {
		display: none;
	}
	.breadcrumbs {
		display: none;
	}
	body {
		background-color: #FFF!important;
	}
	.container {
		box-shadow: none!important;
	}
	.content {
		box-shadow: none!important;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 0px!important;
	}
	section {
		box-shadow: none!important;
	}
</style>
{% endblock %}

{% block header_block %}
{% endblock %}

{% block footer_block %}
{% endblock %}

{% block smartbanner %}
{% endblock %}