<!DOCTYPE html>
<!--[if lt IE 7]>
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }} - Singapore Grand Prix</title>
    <meta name="viewport" content="width=device-width">
    {% block meta %}
        <meta name="description" content="{{ description }}">
        <meta name="keywords"
              content="{{ keywords|default('singapore f1, formula 1 singapore,  f1, formula one, singapore grand prix, singapore airlines, singapore gp,  sgp, formula one, f1 night race, F1, f1赛车, f1直播, 方程式赛车, 世界一级方程式锦标赛') }}">
        <meta property="og:image" content="http://singaporegp.sg/images/logo_2016.jpg">
        <meta property="og:title" content="{{ title }} - Singapore Grand Prix">
        <meta property="og:url" content="{{ url|default(currentUrl) }}">
        <meta property="og:description" content="{{ description }}">

        <script src="https://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    {% endblock %}

    {% block head %}

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"><\/script>')</script>
        <script type="text/javascript" src="{{ asset('javascripts/libs/modernizr.min.js') }}"></script>
        {#<script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.js"></script>#}
        <script type="text/javascript" src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
        <script>window.angular || document.write('<script src="{{ asset('bower_components/angular-latest/build/angular.min.js') }}"><\/script>')</script>

        <script type="text/javascript" src="{{ asset('javascripts/libs/smartbanner/jquery.smartbanner.js') }}"></script>
        <link href='{{ asset('javascripts/libs/smartbanner/jquery.smartbanner.css') }}'
              rel='stylesheet' type='text/css' media='screen'>

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,350,700,700italic,350italic'
              rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/bower_components/swipejs/swipe.js"></script>



        <style>
        .swipe {
          overflow: hidden;
          visibility: hidden;
          position: relative;
        }
        .swipe-wrap {
          overflow: hidden;
          position: relative;
        }
        .swipe-wrap > div {
          float:left;
          width:100%;
          position: relative;
        }
        section.selection, section.selection-panel, section.drivers-teams-panel {
            background-color: #020f20 !important;
        }

        @media screen and (max-width: 768px){
            .main_logo {
                position: absolute;
                width: 190px;
                top: 24px;
                display: none !important;
            }
            .header_nav_inline {
                margin-left: 0px !important;
            }
        }

        @media screen and (min-width: 768px) {
            .main_logo {
                position: absolute;
                width: 190px;
                top: 24px;
                display: block; !important;
            }
            .header_nav_inline {
                margin-left: 190px !important;
            }
        }

        @media screen and (min-width: 1200px) {
            .header_default {
                position: absolute;
                display: block !important;
            }
            .header_fixed {
                position: fixed !important;
                top: 0px;
                left: 0;
                width: 100%;

                box-shadow: 0 0 40px #222;
                -webkit-box-shadow: 0 0 40px #222;
                -moz-box-shadow: 0 0 40px #222;
            }
        }

        /*.main_logo {*/
            /*position: absolute;*/
            /*left: -220px;*/
            /*width: 190px;*/
            /*top: 24px;*/
            /*display: block;*/
        /*}*/
        /*@media screen and (max-width: 1366px) {*/
            /*.main_logo {*/
                /*position: absolute;*/
                /*left: -165px;*/
                /*width: 190px;*/
                /*top: 24px;*/
                /*display: block;*/
            /*}*/
        /*}*/
        .main_logo_hide {
            display: none;
        }
        select::-ms-expand {
            display: none;
        }
        </style>
    {% endblock %}

    <meta name="apple-itunes-app" content="app-id=518276170">
    <meta name="google-play-app" content="app-id=com.singaporegp.f1">
</head>
<body>
{% block googletagmanager %}
{% endblock %}
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->


{% block facebook %}
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        if ($(window).width() < 480 || $(window).height() < 480) {

        }

        $(function(){
            var menu = $('#header'), pos = menu.offset();
            var logo = $('#logo');
            var navb = $('#header_nav');
            var speed = 250;

            $(window).scroll(function(){
                if ($(window).width() > 1200) {
                    if ($(this).scrollTop() > pos.top+menu.height() && menu.hasClass('header_default')){
                        menu.fadeOut(speed, function(){
                            $(this).removeClass('header_default').addClass('header_fixed').fadeIn(speed);
                            logo.removeClass('main_logo_hide').addClass('main_logo');
                            navb.addClass('header_nav_inline');
                        });
                    }
                    else if($(this).scrollTop() == pos.top && menu.hasClass('header_fixed')){
                        menu.fadeOut(speed, function(){
                            $(this).removeClass('header_fixed').addClass('header_default');
                            logo.removeClass('main_logo').addClass('main_logo_hide');
                            navb.removeClass('header_nav_inline');
                        });
                    }
                }
                else {
                    logo.removeClass('main_logo').addClass('main_logo_hide');
                    navb.removeClass('header_nav_inline');
                }
            });
        });
    </script>
{% endblock %}

{% block containerdiv %}
<div class="container">{% endblock %}
    {# HEADER #}
    {% block header_block %}
    <div class="header header_default" id="header">
        <div class="chunk row">
            <a href="/"><img src="http://singaporegp.sg/media/logo/2017_SGPEventLogo.png" class="main_logo_hide" id="logo"></a>
            <header class="col" id="header_nav">
                {% block header %}
                    {% embed "partials.navigation" %}
                    {% endembed %}
                {% endblock %}
            </header>
        </div>
    </div>
    {% endblock %}
    {# ENDHEADER #}

    {# CONTENT #}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {# ENDCONTENT #}

    <script type="text/javascript">
    Parse.initialize("ZR824TlIcihwkq4hHXjZmftak8wIzqFmq4EkU2Va", "QsnntqPa1o5S0a2l4zyMvWAJw6aFAwjddMake0yk");
    </script>

    {# FOOTER #}
    {% block footer_block %}
    <div class="footer">
        {% block quicklinks %}
        <div class="row">
            <div class="chunk">
                <div class="quick-links col">
                    {% embed "partials.quicklinks" %}
                    {% endembed %}
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="row">
            <footer class="col">
                {% block footer %}
                    <div class="chunk row">
                        <div class="site-map col">
                            {% embed "partials.sitemap" %}
                            {% endembed %}
                        </div>

                        <div class="copy-right col">
                            {% embed "partials.copyright" %}
                            {% endembed %}
                        </div>
                    </div>
                {% endblock %}
            </footer>
        </div>
    </div>
    {% endblock %}
    {# ENDFOOTER #}
</div>


{% block application %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block analytics %}
    <!-- Google Analytics -->
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;

        // track if on hosting server and not in staging
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-3141840-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
    <script>
        /**
         * Function that tracks a click on an outbound link in Google Analytics.
         * This function takes a valid URL string as an argument, and uses that URL string
         * as the event label. Setting the transport method to 'beacon' lets the hit be sent
         * using 'navigator.sendBeacon' in browser that support it.
         */
        var trackOutboundLink = function(url) {
            ga('send', 'event', 'outbound', 'click', url, {
                'transport': 'beacon',
                'hitCallback': function(){document.location = url;}
            });
        }
    </script>
    <!-- End Google Analytics -->
{% endblock %}

{% block smartbanner %}
<script type="text/javascript">
    angular.element.smartbanner({author:'Official App',icon:'https://lh3.ggpht.com/v2_KuwLNF7cBWLM-fKIXDIlSsKe-fN1q0uBkvK02ooxwRLtB6DJGFCPKYoUZNie1_-gn=w300-rw',inGooglePlay:'Download it for free now!'});
</script>
{% endblock %}

</body>
</html>
