<!DOCTYPE html>
<!--[if lt IE 7]>
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html ng-app="{{ angularApp|default('') }}" lang="{{ locale }}" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ title }} - Singapore Grand Prix</title>
    <meta name="viewport" content="width=device-width">
    {% block meta %}
        <meta name="description" content="{{ description }}">
        <meta name="keywords"
              content="{{ keywords|default('singapore f1, formula 1 singapore,  f1, formula one, singapore grand prix, singapore airlines, singapore gp,  sgp, formula one, f1 night race') }}">
        <meta property="og:image" content="http://singaporegp.sg/images/logo.jpg">
        <meta property="og:title" content="{{ title }} - Singapore Grand Prix">
        <meta property="og:url" content="{{ url|default(currentUrl) }}">
        <meta property="og:description" content="{{ description }}">

        <script src="https://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    {% endblock %}

    {% block head %}

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"><\/script>')</script>
        <script type="text/javascript" src="{{ asset('javascripts/libs/modernizr.min.js') }}"></script>
        {#<script type="text/javascript" src="//code.angularjs.org/1.2.16/angular.js"></script>#}
        <script type="text/javascript" src="https://code.angularjs.org/1.2.16/angular.min.js"></script>
        <script>window.angular || document.write('<script src="{{ asset('bower_components/angular-latest/build/angular.min.js') }}"><\/script>')</script>

        <script type="text/javascript" src="{{ asset('javascripts/libs/smartbanner/jquery.smartbanner.js') }}"></script>
        <link href='{{ asset('javascripts/libs/smartbanner/jquery.smartbanner.css') }}'
              rel='stylesheet' type='text/css' media='screen'>

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,700italic,500italic'
              rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="/bower_components/swipejs/swipe.js"></script>



        <style>
            .swipe {
                overflow: hidden;
                visibility: hidden;
                position: relative;
            }
            .swipe-wrap {
                overflow: hidden;
                position: relative;
            }
            .swipe-wrap > div {
                float:left;
                width:100%;
                position: relative;
            }
            select::-ms-expand {
                display: none;
            }
        </style>
    {% endblock %}

    <meta name="apple-itunes-app" content="app-id=518276170">
    <meta name="google-play-app" content="app-id=com.singaporegp.f1">
</head>
<body>
{% block googletagmanager %}
{% endblock %}
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

{% block containerdiv %}
<div class="container">{% endblock %}
    {# HEADER #}
    {% block header_block %}
        <div class="header">
            <div class="chunk row">
                <header class="col">
                    {% block header %}
                        {% embed "partials.navigation" %}
                        {% endembed %}
                    {% endblock %}
                </header>
            </div>
        </div>
    {% endblock %}
    {# ENDHEADER #}

    {# CONTENT #}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    {# ENDCONTENT #}
</div>


{% block application %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}

{% block analytics %}
    <!-- Google Analytics -->
    <script>
        var staging = /staging/;
        var liveHostname = /singaporegp\.sg/;

        // track if on hosting server and not in staging
        if (liveHostname.test(window.location.hostname) && !staging.test(window.location.hostname)) {
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-3141840-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
    <script>
        /**
         * Function that tracks a click on an outbound link in Google Analytics.
         * This function takes a valid URL string as an argument, and uses that URL string
         * as the event label. Setting the transport method to 'beacon' lets the hit be sent
         * using 'navigator.sendBeacon' in browser that support it.
         */
        var trackOutboundLink = function(url) {
            ga('send', 'event', 'outbound', 'click', url, {
                'transport': 'beacon',
                'hitCallback': function(){document.location = url;}
            });
        }
    </script>
    <!-- End Google Analytics -->
{% endblock %}

{% block smartbanner %}
    <script type="text/javascript">
        angular.element.smartbanner({author:'Official App',icon:'https://lh3.ggpht.com/v2_KuwLNF7cBWLM-fKIXDIlSsKe-fN1q0uBkvK02ooxwRLtB6DJGFCPKYoUZNie1_-gn=w300-rw',inGooglePlay:'Download it for free now!'});
    </script>
{% endblock %}

</body>
</html>